if artwork.image
  - var image = artwork.image.resized || artwork.image.cropped || artwork.image
  .artwork-item-image( style= "padding-bottom: #{ViewHelpers.factor(image) * 100}%" )
    img(
      src= image.url
      nopin= ViewHelpers.noPinAttr(artwork)
      alt= ViewHelpers.toAltText(artwork)
    )