body.body-eoy-2016
  // Title border
  .article-header
    h1
      padding 0 10px
      max-width 1100px
  @media screen and (max-width 900px)
    .article-header
      margin 0 20px
  @media screen and (max-width 500px)
    .article-header
      margin 0 10px

  // Image border
  .article-section-container[data-section-type=image]
    &.eoy-border-no-top
      margin-top 0px
    &.eoy-border-no-bottom
      margin-bottom 0px
    figure.article-section-image
      max-width 1100px !important
      position relative
      padding 60px 20px 60px 60px
      border-top 1px solid black
      border-bottom 1px solid black
      overflow auto
      &:before
        content ""
        background black
        position absolute
        left 0
        bottom 20px
        height calc('100% - 40px')
        width 1px
      img, figcaption
        max-height 80vh
        width auto
        margin-right 20px
      figcaption
        float right
      &.portrait
        img, figcaption
          max-height 80vh
          width auto
    @media screen and (max-width 900px)
      figure.article-section-image
        margin 0 20px
        width auto
    @media screen and (max-width 500px)
      figure.article-section-image
        margin 0 10px

  // Author-date
  .article-author-date
    text-align center
    padding-left 10px
    .article-author
      garamond-size('s-body', true)
      text-transform none
      font-weight bold
      letter-spacing inherit
    .article-date
      display none
    .article-author, .article-contributing-author
      display inline-block
    .article-contributing-author:before
      content "•"
      padding 0 5px
    @media screen and (max-width 550px)
      text-align left

  // h2 h3 Border
  .article-section-container[data-section-type=text].eoy-border
    &.eoy-border
      .article-section-text
        position relative
        border-top 1px solid black
        border-bottom 1px solid black
        padding 50px
        padding-left 20px
        width auto
        max-width 1100px
        &:before
          content ""
          background black
          position absolute
          right 0
          bottom 20px
          height calc('100% - 40px')
          width 1px
    &.eoy-border-no-top
      margin 0 0 45px 0
      .article-section-text
        border-top 0px
    &.eoy-border-no-bottom
      margin 45px 0 0 0
      .article-section-text
        border-bottom 0px
    @media screen and (max-width 1250px)
      &.eoy-border
        .article-section-text
          margin 0 75px
    @media screen and (max-width 900px)
      &.eoy-border
        .article-section-text
          margin 0 20px
    @media screen and (max-width 500px)
      &.eoy-border
        .article-section-text
          margin 0 10px
