@require '../../stylus_lib'

@keyframes pulse
  0%
    opacity 0.33
  50%
    opacity 1
  100%
    opacity 0.33

body.body-fullscreen-article
  .article-content
    .main-layout-container.first
      padding-top 25px
  #articles-show
    margin-top 0px

.article-content.article-fullscreen-content
  background white
  z-index 1
  position relative
  h1.large-garamond-header, .article-lead-paragraph, .article-author-date, .article-social.article-share-top
    display none

  .article-share-fixed
    margin-top 0px
    top 0px

.article-fullscreen
  width 100%
  height 100vh
  overflow hidden
  &.hidden
    opacity 0
  a
    color white
  .article-lead-paragraph-container
    position relative
  .main-layout-container
    transition opacity 0.3s
    opacity 0
    position relative
    &.visible
      opacity 1
  .article-fullscreen-text-overlay
    position relative
    z-index 1
  .article-date
    color gray-lighter-color
  .article-author-date
    margin-bottom 20px

  // Logos
  .article-sa-primary-logos
    position absolute
    z-index 1
    top 80px
    .article-sa-plus
      margin-top 10px
  .article-sa-artsy-logo
    color white
    width 148px
    font-size 50px
    backface-visibility hidden
  .article-sa-primary-logo img
    height 50px

.article-fullscreen-down-arrow
  position absolute
  top 0px
  z-index 3
  font-size 50px
  text-align center
  color white
  width 100%
  display none
  .icon-chevron-down
    font-size 50px
    line-height 50px
    animation pulse 2s infinite

.article-share-fixed-fullscreen
  position absolute
  top 80px
  right 0px
  z-index 1
  a
    color white
    text-decoration none

.article-fullscreen-overlay, .article-fullscreen-video-player, .article-fullscreen-image
  position fixed
  top 0px
  left 0px
  height 100vh
  width 100vw
  pointer-events none

.article-fullscreen-overlay
  background black
  opacity 0.17
  min-height 500px
  z-index 1

.article-fullscreen-text-overlay
  color white

.article-fullscreen-video-player, .article-fullscreen-image
  object-fit cover
  z-index 0

.article-container h1.article-fullscreen-title
  font-size 72px
  font-style italic
  line-height 110%
  text-align center

.article-fullscreen.article-sa-fullscreen
  h1
    margin-bottom 60px
    text-align left
  .main-layout-container
    margin-top 0px

.article-fullscreen-intro.article-lead-paragraph
  font-size 22px
  line-height 120%
  margin-bottom 0px

.article-fullscreen
  @media screen and (max-width 550px)
    h1.article-fullscreen-title
      font-size 43px
      text-align left
    .article-sa-artsy-logo
      font-size 32px
      width 95px
    .article-sa-primary-logo img
      height 32px
      margin-top 0px
  @media screen and (max-width 900px)
    h1.article-fullscreen-title
      max-width 100%
    .article-fullscreen-text-overlay
      margin 0 30px
    .article-sa-primary-logos
      margin-left 30px
    .article-share-fixed-fullscreen
      display none
  @media screen and (min-width 1100px)
    .article-fullscreen-intro.article-lead-paragraph, .article-sa-fullscreen-logos
      width 900px
    .article-sa-primary-logos
      margin-left auto
    .article-container h1.article-fullscreen-title
      width 900px
  @media screen and (min-width 1500px)
    .article-fullscreen-intro.article-lead-paragraph
      font-size 25px
