@require '../../stylus_lib'

.article-section-image-collection
  width 100%
  margin 0 auto
  .artwork-item-caption a
    text-decoration none
  ul
    display flex
    justify-content space-between
    &.single
      justify-content center
    li
      width 100%
  img
    width 100%
    max-width 100%
    height auto
    display block
    position relative
    margin auto
  figcaption
    margin-top 10px
    text-align left
    color gray-darker-color
    garamond-size('l-caption')
    a
      color gray-darker-color

  &[data-layout='overflow_fillwidth']
    max-width 1100px
    li
      margin-right 30px
    li:last-child
      margin-right 0

  &[data-layout='column_width']
    max-width 580px
    ul
      flex-direction column
      li
        margin-bottom 30px