.article-section-image-set
  margin auto
  width 580px
  display block
  cursor pointer
  opacity 1

.article-section-image-set__images
  float left
  height 150px
  img
    display none
    height 150px
    margin-right 10px

.article-section-image-set__remaining
  avant-garde-size('s-headline')
  height 150px
  border 2px solid gray-lighter-color
  vertical-align top
  padding 10px
  min-width 40px
  width auto
  overflow hidden
  svg
    width 32px
  span
    display table-caption

.article-section-image-set__preview
  text-align center
  margin 25px 0px 20px 0px

.article-section-image-set__text
  text-align center

.article-section-image-set-modal
  display block
  img
    max-height 70vh

body.body-article-left
  .modalize-backdrop
    background-color white
  .modalize-dialog
    max-width 100%
    max-height 100%
  .modalize-close
    padding 40px
    top 0px
    right 0px
    &:hover
      background-color black
      color gray-lighter-color
