@require '../../stylus_lib'
@require './super_article'
@require './fullscreen_article'
@require './editorial_signup'
@require './image'
@require './image_set'

headline-font-size = 30px
headline-line-height = 38px
headline2-font-size = 30px
gutter-size = 30px
overflow-width = 1100px
body-width = 580px
gutter-size = 30px
play-button-size = 30px
column-width = 580px
fixed-share-padding = 89px

body.body-article
  #main-layout-container
    margin-left 0px
    margin-right 0px
    max-width 100vw
    .jump-to-top
      @media screen and (max-width 900px)
        display none

.article-header.responsive-layout-container
  @media screen and (max-width 550px)
    margin 0px 20px

.article-container h1
  max-width 900px
  margin auto
  garamond-size('l-headline')
  text-align center
  margin-bottom gutter-size
  @media screen and (max-width 550px)
    text-align left
    garamond-size('headline')
.article-container
  position relative

.article-author, .article-social
  vertical-align middle

.article-author, .article-date, .article-contributing-author
  text-align center
  @media screen and (max-width 550px)
    text-align left
.article-lead-paragraph
  margin 0 auto gutter-size auto

.article-section-text
  margin auto

.article-section-toc
  margin auto
  max-width body-width
  .article-section-toc-header
    avant-garde-size('body')
    border-bottom 1px solid gray-color
    padding-bottom 20px
  .article-section-toc-links
    padding 20px 0px
    border-bottom 1px solid gray-color
  .article-section-toc-links:after
    content ""
    display table
    clear both
  .article-section-toc-link
    padding 10px 15px
    min-width 140px
    width 33.33%
    float left
    min-width 140px
    box-sizing border-box
    @media screen and (max-width 600px)
      width 50%
      padding 0 20px 5px 0 !important
      &:nth-child(2n)
        padding-right 0 !important

  .article-section-toc-link:nth-child(3n + 4), .article-section-toc-link:first-child
    padding-left 0px
  .article-section-toc-link:nth-child(3n + 3)
    padding-right 0px
  a
    text-decoration none
    garamond-size('s-body')
    &:hover
      color purple-color

.article-lead-paragraph:not(.article-fullscreen-intro), .article-section-text
  font-size 20px
  line-height 27px
  @media screen and (min-width 620px)
    width body-width
  a:not(.is-jump-link):not(.artist-follow)
    text-decoration none
    fine-faux-underline()
  a.is-jump-link
    cursor text
    padding-top 50px
  a.artist-follow
    cursor pointer
    garamond-size('l-body')
    margin-left 10px
    @media screen and (max-width 550px)
      garamond-size('s-body')
  p
    margin-bottom 1em
    &:last-child
      margin-bottom 0
    @media screen and (max-width 550px)
      margin-top 1em
  h2
    font-size 28px
    line-height 1.2em
    @media screen and (max-width 550px)
      garamond-size('s-headline')
  h3
    avant-garde()
    font-size 13px
  h3 a
    text-decoration none
    medium-faux-underline()
  ul li
    list-style disc inside
  ol li
    list-style decimal inside

.article-date
  avant-garde()
  font-size 11px
  margin-bottom 5px
  color gray-darker-color

.article-author
  avant-garde-size('m-headline')
  &.has-contributing-author
    avant-garde-size('s-headline')
  @media screen and (max-width 550px)
    avant-garde-size('s-headline')

.article-contributing-author
  avant-garde-size('body')

.article-social
  width 570px
  text-align center
  padding 10px 0 20px 0
  margin gutter-size auto (gutter-size * 2)
  .article-social__header
    float left
    margin-top 16px
    margin-right 70px
    avant-garde-size('body')
    left 0px
  .share-item
    display inline-block
    width 130px
    height 50px
    border 1px solid gray-color
    background-color white
    transition all 0.25s
    &:nth-child(3)
      border-left 0px
      border-right 0px
    &:hover
      background-color black
      border-color black
  a
    display block
    height 100%
    text-decoration none
    overflow hidden
    .icon-in-table
      display block
      margin-top 8px
    &:hover
      color white
  @media screen and (max-width 900px)
    &.fixed
      width 100vw
      position fixed
      bottom 0
      left 0
      margin 0
      padding 0
      z-index 1000
      display flex
      height 50px
      .article-social__header
        display none
      .share-item
        width 33.333%

.responsive-layout-container[data-layout="overflow"]
  @media screen and (max-width 900px)
    margin 40px 0
  .article-section-embed[data-layout="overflow"]
    width overflow-width
    @media screen and (max-width 1250px)
      width calc(100% \- 150px)
      @media screen and (max-width 900px)
        width 100%
        margin 40px 0
    .article-embed-container
      width 1060px
      @media screen and (max-width 1250px)
        width 100%

.article-section-embed[data-layout="column_width"]
  width column-width
  max-width 100%
  .article-embed-container
    width 540px
    max-width 100%

.article-section-embed
  margin auto
  .article-embed-container
    margin auto
  iframe
    margin auto
    width 100%

.article-section-video
  width body-width
  margin auto
  margin-bottom 1em
  position relative
  iframe
    margin auto
    width body-width
    height (9 / 16 * body-width)

.responsive-layout-container.article-section-container
  margin-top 45px
  margin-bottom 45px
  @media screen and (max-width 550px)
    margin 20px

.main-layout-container&[data-section-type="hero"]
  @media screen and (max-width 1250px)
    margin 45px 75px
    position relative
  @media screen and (max-width 900px)
    margin 45px 0
    max-width 100%

#articles-show
  .main-layout-container
    @media screen and (min-width 900px)
      max-width 850px
    @media screen and (min-width 1000px)
      max-width 950px
    @media screen and (min-width 1100px)
      max-width 1050px
    @media screen and (min-width 1200px)
      max-width 1150px
    @media screen and (min-width 1300px)
      max-width 1250px

.article-section-container
  margin (gutter-size * 1.5) auto
  &.responsive-layout-container
    &[data-section-type="callout"]
      max-width 1250px
    &[data-section-type="artworks"]
      .artwork-item-sale-price, .artwork-item-contact-seller
        display none
    &[data-layout="overflow_fillwidth"]
      width 100%
      z-index 1
      position relative
      @media screen and (max-width 1250px)
          margin 45px 0
      &[data-section-type="embed"]
        background black
        width 100%
        max-width 100000px !important
        @media screen and (max-width 900px)
          margin 45px 0
        .article-embed-container
          width 100%
          margin auto
      &[data-section-type="video"]
        max-width 100vw
        iframe
          max-width 100%
          width 100%
          height 100%
        @media screen and (max-width 1250px)
          margin 45px 0
        .article-section-video
          width 100%
          padding 40px 75px
          @media screen and (max-width 900px)
            padding 40px 0
          &.article-video-background-black
            width 100%
            background black
          .article-video-container
            width body-width + 200
            position relative
            margin auto
            @media screen and (max-width 1250px)
              width 100%

.article-carousel
  img
    height 350px

.article-large-format-video-container .article-video
  position relative
  max-width 1250px
  margin-bottom 50px

  iframe
    width 100%
    height 100%
    max-width 100%
    max-height ((default-max-page-width * .5625) - 50)

.article-large-format-video-container
  position relative

.article-large-format-image
  max-width 1250px
  margin-bottom 50px
  img
    top 0
    left 0
    width 100%
  li
    list-style none

.article-video-cover-image
  background center center
  background-size cover
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  z-index 1

.article-video-play-button
  background white
  width play-button-size + 40px
  height @width
  position absolute
  top "calc(50% - %s)" % (@width / 2)
  left "calc(50% - %s)" % (@width / 2)
  z-index 2
  cursor pointer
  border 0
  outline 0

.article-video-play-button-caret
  width 0
  height 0
  top 14px
  left 22px
  position absolute
  border-top (play-button-size - 10) solid transparent
  border-bottom (play-button-size - 10) solid transparent
  border-left play-button-size solid black

.article-edit-container
  position fixed
  display inline-block
  top 100px
  right 20px
  @media screen and (max-width 600px)
    display none

.article-edit-hover, .article-edit-container:hover .article-edit-default
  display none

.article-edit-container:hover .article-edit-hover
  display inline-block
  .article-edit-message
    color black

.article-edit-message
  font-size 11px
  display inline-block
  vertical-align middle
  color red-color
  avant-garde()
  .icon-with-black-circle
    vertical-align middle

.article-edit-message i, .article-edit-hover i
  min-width 0 !important
  width 40px !important
  height @width
  padding 4px !important
  margin 0 7px 0 14px !important

.article-edit-hover i
  font-size 24px
  &::before
    left 5px
    position relative

.article-edit-button
  display inline-block
  vertical-align middle

.article-share-fixed
  opacity 0
  padding-top fixed-share-padding
  max-width 54px
  z-index 10
  float left
  @media screen and (max-width 900px)
    display none !important
  a
    background-color white
    text-decoration none
    display block
    color black
    transition background-color 0.25s, border-color 0.25s
    padding 10px
    border 1px solid gray-lighter-color
    border-left none
  a:nth-child(2)
    border-top none
    border-bottom none
  a:hover
    background-color black
    color white
    border-color black
  i
    vertical-align middle

.article-section-callout
  max-width 580px
  margin 0 auto
  .related-title
    avant-garde-size('body')
  a
    display flex
    align-items center
    text-decoration none
    border 1px solid gray-lighter-color
    transition border-color 0.3s
    padding 15px
    margin-top 10px
    garamond-size('l-body')
    &.no-image
      border none
      padding 0
    img
      max-width 120px
      margin-right 20px
    &:hover
      border-color gray-dark-color
  &__pullquote
    margin 20px auto
    padding 15px 0px
    max-width 750px
    garamond-size('l-headline')
    text-align center

.article-section-top-stories
  float right
  width 415px
  margin 0px 74px 20px 20px
  &__headline
    avant-garde-size('body')
    padding 10px
    border 1px solid gray-lighter-color
  &__item
    display flex
    garamond-size('s-body')
    padding 20px 20px
    border 1px solid gray-lighter-color
    &:first-child
      border-top 0px
      border-bottom 0px
    &:last-child
      border-top 0px
    &:hover
      transition background-color 0.25s
      background-color gray-lightest-color
  img
    width 80px
    height 60px
    margin-right 10px
  p, img
    display inline-block
    vertical-align middle
  p
    max-width 275px

.article-content.gradient-blurb
  .gradient-blurb-read-more-container
    width 100%
    height 32px
    z-index 2
    .gradient-blurb-read-more
      padding 8px 29px
      z-index 1
      avant-garde-size(s-headline)
      position absolute
      left 50%
      top 50%
      transform translate(-50%, -50%)
      background-color white
      border 1px solid gray-lighter-color
      @media screen and (max-width 600px)
        border none
        avant-garde-size('m-headline')
        text-decoration underline
        line-height 1.5em

    &::before
      content ''
      position absolute
      bottom 50%
      left 0
      right 0
      border-bottom 2px dotted gray-lighter-color
      max-width column-width
      margin auto
      @media screen and (max-width 600px)
        border none
