gutter-size= 60px

.article-container[data-layout=left]
  width 1100px
  margin gutter-size
  margin auto

  .article-section-container
    width 66.66% !important
    left 0
    margin-left 0
  .article-section-container[data-section-type=text]
    max-width 580px
  .article-section-text
  .article-section-embed
  .article-section-image
  .article-section-toc
  .article-section-artworks
  .article-section-video
  .article-section-callout
    margin-left 0
    width 66.66%
