#deep-zoom
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  width 100%
  height 100%
  background-color black
  z-index z-modal-top

#dz-close
  position absolute
  top 0
  right 0
  width 60px
  height @width
  line-height @width
  text-align center
  color rgba(white, 0.75)
  z-index 2
  background-color rgba(black, 0.5)

#dz-spinner
  position absolute
  top 50%
  left 50%
  margin 0
  margin-left -12.5px
  margin-top -3px
  background-color white
