mixin carouselFigure(item)
  case item.type
    when 'image'
      img( src= item.url )
    when 'video'
      != embed(item.url)
    when 'artwork'
      - imageWidth = '500'
      if slideshowArtworks
        - artwork = slideshowArtworks.findWhere({ _id: item.id })
        if artwork
          include ../../artwork_item/templates/artwork.jade

.js-article-carousel
  - items = article.get('sections')[0].items
  .mgr-cells.js-mgr-cells
    for item in items
      .mgr-cell.js-mgr-cell
        +carouselFigure(item)

  - length = items.length
  if length > 1
    include ../../merry_go_round/templates/bottom_navigation.jade
