.article-subscribe-container
  .article-subscribe-header
    .article-subscribe-mainheader Subscribe to the Artsy editorial newsletter
    .article-subscribe-subheader Get the latest art stories and news delivered to your inbox
    .article-subscribe-form
      - var email = ''
      if sd.CURRENT_USER && sd.CURRENT_USER.email
        - email = sd.CURRENT_USER.email
      input.js-article-subscribe-input.bordered-input( type='email', name='EMAIL', placeholder= 'Enter your email address...', required value="#{email}")
      button.avant-garde-button-black.js-article-es( data-type='inline' ) Sign Me Up
  .article-subscribe-thanks
    .article-subscribe-mainheader Thank you.
    .article-subscribe-subheader You are now subscribed to the Artsy editorial newsletter.
