.article-edit-container
  .article-edit-default
    .article-edit-message #{message}
      i.icon-with-black-circle.icon-edit
  .article-edit-hover
    .article-edit-message Edit In Artsy Writer
    a.article-edit-button( href="#{edit_url}" )
      i.icon-with-black-circle.icon-chevron-small-right
