script(src='//app-ab14.marketo.com/js/forms2/js/forms2.min.js')
.article-subscribe-container.article-subscribe-container
  .article-subscribe-header
    .article-subscribe-mainheader Subscribe to the Gallery Insights newsletter
    .article-subscribe-subheader The latest market research, art buying trends & forecasts, and tools to help you excel.
    script.
      typeof MktoForms2 !== "undefined" && MktoForms2.loadForm("//app-ab14.marketo.com", "609-FDY-207", 1230);
    .articles-insights-marketo-form
      form#mktoForm_1230
