//
// Styles that affect the layout at large such as when the header becomes fixed
// or when a featured banner/view in room changes the content to fit underneath
// a transparent header.
//

@require '../../stylus_lib'
@require '../../eggs/invert'
@require '../../eggs/bounce'

search-bar-input-placeholder()
  color white

.screen-reader-text // hide text only for screen-readers
  position absolute
  left 0
  top 0
  width 0
  height 0
  overflow hidden

.body-header-fixed
  #main-layout-container
    margin-top (main-header-height + content-margin-top)
  #main-layout-header
    position fixed
    z-index zindex-primary-nav
    // Prevent repaints
    force-hardware-acceleration()
    &.force-position-absolute
      position absolute

// Adds extra margin for staging banner
.body-header-fixed.force-staging
  #main-layout-container
    margin-top (main-header-height + content-margin-top + staging-banner-height)

// same as fixed header but with no annoying 10px extra margin
.body-header-fixed-no-margin
  @extend .body-header-fixed
  #main-layout-container
    margin-top main-header-height !important

html[data-useragent*="iPad"]
  .body-header-fixed #main-layout-header
    position absolute

#main-layout-search-bar-container
  border-color gray-color
  background-color gray-lightest-color
  &:hover
    border 1px solid gray-darker-color

#main-layout-header
  #main-layout-search-bar-container.focused
    &:hover
      border-color purple-color !important

#main-layout-header
  #main-layout-search-bar-container.focused
    border-color purple-color !important

  #main-layout-search-bar-input
    &::placeholder
      color gray-darker-color
#main-layout-search-bar-icon
  color gray-darker-color

// Pages like checkout or onboarding remove options from the header to heavily
// focus on the task at hand.
.minimal-header
  #main-layout-header
    position relative !important
  #main-layout-header-left #main-layout-header-minimal-title
    display block
  #main-layout-search-bar-container
  #main-layout-header-center
  .main-layout-header-user
    display none
  #main-layout-header-home-logo
    border-right 1px solid gray-lighter-color
  #main-layout-container
    margin-top 42px !important

// Simply hides the header
.body-no-header
  #main-layout-header
    display none
  #main-layout-minimal-header
    display none
  #main-layout-container
    margin-top 0 !important

// View in room and home page hero units will sit underneath a transparent
// header.
@media(min-width: nav-bar-break)
  .body-transparent-header-white
  .body-transparent-header
    #main-layout-header
      background white

.body-hide-header
  #main-layout-header
    display none

// Dark banners and backgrounds need the header to be white text and outlines
// for visiblity.
@media(min-width: nav-bar-break)
  .body-transparent-header-white
    #main-layout-header-center a, .main-layout-header-user a:not(.mlh-signup), .mlh-user-name, #main-layout-header-home-logo
    #main-layout-search-bar-icon, #main-layout-search-bar-input, span.mlh-top-nav-link, span.mlh-top-nav-link:before
      color black
    #main-layout-header-center a, .main-layout-header-user a:not(.mlh-signup), .mlh-user-name, span.mlh-top-nav-link
      &:hover
        color purple-color
    .hover-pulldown-menu a
      color white !important
    .hover-pulldown:not(.mlh-hamburger):not(.mlh-notification):not(.artist-page-cta-overlay__feed__pulldown):before
      border-top-color black
    .mlh-notification, .mlh-user-name
      svg
        fill black
    #main-layout-search-bar-icon
      color gray-darker-color
    #main-layout-search-bar-input
      color black
      &::placeholder
        color gray-darker-color
    #main-layout-header
      #main-layout-search-bar-container
        background-color gray-lightest-color
        border-color gray-color
        &:hover
          border-color gray-darker-color !important

    #main-layout-header
      #main-layout-search-bar-container.focused
        &:hover
          border-color purple-color !important

    #main-layout-header
      #main-layout-search-bar-container.focused
        border-color purple-color !important

    #main-layout-search-bar-container.is-loading .loading-spinner-small
      background black
    #main-layout-header-home-logo::after
      border-color gray-darker-color

// A page that infinite scrolls will hide the footer
.body-infinite-scroll
  #main-layout-footer
    display none

// Hides header and footer, and some margin adjustments for the iPad app
.body-eigen
  #main-layout-footer, #main-layout-header
    display none !important
  #main-layout-container
    margin-top 0 !important
    padding 0
    @media(min-device-width: 768px)
      padding 0 layout-side-margin

// Loosens up some styling like min-widths so the page can be responsive
.body-responsive
  min-width inherit
  #main-layout-container
    margin 30px 20px

// Some elements need to break out of the standard side and top margins to fill
// the full viewport. (Removes all side margins and content-margin-top)
.body-no-margins
  #main-layout-container
    margin-top (welcome-header-height + main-header-height)
    margin-left 0
    margin-right 0
  &.body-header-fixed
    #main-layout-container
      margin-top main-header-height
  &.body-fullscreen-article
    min-width unset
    #main-layout-container
      margin-top 0px

.body-no-padding
  #main-layout-container
    padding 0

// This is where reaction-built apps mount to
#react-root
  .reactionPageLoader
    width: 100%;
    position: fixed;
    left: 0;
    top: 53px !important; // Overwrite storybooks position
