@require '../../stylus_lib'
@require '../../../../../node_modules/artsy-ezel-components/spinners'
@require '../../follow_button'
@require '../../../../lib/palette'

.circle-button
  display inline-block
  position relative
  width 58px
  margin 0 10px
  height @width
  cursor pointer
  color getColor('black100')
  background-color transparent
  text-align center
  vertical-align middle
  border 2px solid getColor('black10')
  border-radius (@width / 2)
  opacity 1
  user-select none
  // Override icon-styling line-height
  line-height @height !important
  transition all 0.125s
  &:hover
    background-color getColor('black60')
    border-color @background-color
    color white
  &.is-active
  &[data-state='active']
    background-color getColor('purple100')
    border-color @background-color
    color white

.circle-button-with-label
  display inline-block
  text-align center

.circle-button-label
  text('small')
  color getColor('black100')
  margin-top getSpace(0.5)

.highlight-link
  line-height 1.1
  text-decoration none
  transition color 0.25s
  &:hover
    color getColor('purple100')

.play-button
  position absolute
  background-color getColor('black100')
  cursor pointer
  height 55px
  width 75px
  top 50%
  left @top
  margin-top -(@height / 2)
  margin-left -(@width / 2)
  padding 25px
  transition background-color 0.25s
  &:hover
    background-color getColor('purple100')
  &:after
    display block
    position absolute
    content ''
    top 50%
    left @top
    width 0
    height 0
    border-top 10px solid transparent
    border-bottom @border-top
    border-left 20px solid white
    margin-top -10px
    margin-left @margin-top

.button-separator
  display inline-block
  width 0
  margin 0 5px

.avant-garde-button
  text('mediumText')
  display inline-block
  position relative
  padding getSpace(1.5, 3)
  line-height 1 !important
  cursor pointer
  border none
  background-color getColor('black5')
  transition background-color 0.25s, color 0.25s
  border 1px solid transparent
  text-decoration none
  &:focus, &:hover
    outline none
    background-color getColor('black10')
  // States
  &[data-state='success'], &.is-success
    background-color getColor('green100')
    color getColor('white100')
    &:hover
      background-color darken(getColor('green100'), 25%)
  &[data-state='error'], &.is-error
    &, &:focus
      background-color getColor('red100')
      color getColor('white100')
      &:hover
        background-color darken(getColor('red100'), 25%)
  &[data-state='loading'], &.is-loading
    &, &[disabled], &[disabled]:hover
      background-color getColor('purple100')
      color transparent !important
      // Note:
      // Giving the loading state to input[type='submit']
      // or input[type='button'] will *not* display a spinner.
      // These elements don't support psuedo-elements.
      &::before
        display block
        content ''
        spinner(25px, 6px, getColor('white100'))
  // Handle icons
  > i
    line-height 0
    vertical-align -8px
    margin 0 10px 0 -15px

  &[disabled], &.is-disabled, &.is-disabled
    &, &:hover
      background-color gray-lightest-color
      cursor default
      color rgba(getColor('black100'), 0.5)
      &[data-state='success'], &.is-success
        background-color getColor('green100')
      &[data-state='error'], &.is-error
        background-color getColor('red100')

  // Structural variants
  &.is-block
    width 100%
    text-align center
  &.is-small
    padding getSpace(1, 2)
    &[data-state='loading'], &.is-loading
      &::before
        spinner(16px, 4px, getColor('white100'))
  &.is-tiny
    font-size 11px
    padding 6px 12px 5px
    &[data-state='loading'], &.is-loading
      &::before
        spinner(12px, 3px, getColor('white100'))

// Stylistic variants
.avant-garde-button-black
  @extends .avant-garde-button
  text-align center
  background-color getColor('black100')
  color getColor('white100')
  border 1px solid transparent
  &:focus, &:hover
    background-color getColor('purple100')
  &[disabled], &.is-disabled
    &, &:hover
      background-color getColor('black60')
      color rgba(getColor('white100'), 0.75)

.avant-garde-follow-button-black
  @extends .avant-garde-button
  min-width 115px
  &, &:hover, &:focus
    user-select none
    text-align center
    color getColor('white100')
  &, &:focus
    background-color black
  &:hover
    background-color getColor('purple100')
  &[data-state='following'], &.is-following
    background-color getColor('white100')
    color gray-color
    border 1px solid getColor('black10')
  &.no-touch[data-state='following'],
  &.no-touch.is-following
    &:hover
      color getColor('purple100')

.avant-garde-button-dark
  @extends .avant-garde-button
  color getColor('white100')
  background-color getColor('black60')
  &:focus, &:hover
    background-color getColor('purple100')
  &[disabled], &.is-disabled
    &, &:hover
      background-color getColor('black60')
      color rgba(getColor('white100'), 0.25)

.avant-garde-button-white
  @extends .avant-garde-button
  background-color transparent
  border 1px solid getColor('black10')
  &:focus, &:hover, &:active
    color getColor('purple100')
    background-color transparent
  &[data-state='success'], &.is-success
    background-color transparent
    color getColor('green100')
    &:hover
      background-color transparent
      color getColor('purple100')
  &[data-state='error'], &.is-error
    &, &:focus
      background-color transparent
      color getColor('red100')
      &:hover
        background-color transparent
        color getColor('purple100')
  &[data-state='loading'], &.is-loading
    background-color white
    &::before
      background-color getColor('purple100')
  &[disabled], &.is-disabled
    &, &:hover
      background-color transparent

.avant-garde-button-text
  @extends .avant-garde-button
  background transparent
  padding 0
  border-bottom 2px solid transparent
  display inline-block
  &:focus, &:hover, &:active
    border-bottom-color black
    background transparent
  &[data-state='loading'], &.is-loading
    background transparent
    border-color transparent
    transition color 0
    &::before
      background black

.avant-garde-button-underlined
  @extends .avant-garde-button-text
  border-bottom-color black

.stacked-button-menu
  max-width 100%
  margin 0 auto
  > a
  > button
    display block
    width 100%
    margin 10px auto
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0
  > a > i
  > button > i
    line-height 0
    margin-right 10px
    vertical-align middle

.garamond-button-text
  text('text')
  display inline-block
  position relative
  color getColor('black100')
  text-decoration none
  line-height 1 !important
  cursor pointer
  border none
  &[data-state='loading'], &.is-loading
    &, &[disabled], &[disabled]:hover
      color transparent !important
      // Note:
      // Giving the loading state to input[type='submit']
      // or input[type='button'] will *not* display a spinner.
      // These elements don't support psuedo-elements.
      &::before
        display block
        content ''
        spinner(25px, 6px, getColor('black100'))
