//
// Common styles used for initial page rendering throughout the project.
//
// Be VERY picky about what is allowed to be put in this file because any style
// that isn't used throughout most pages will unecessarily slow down initial page load.
//
// Examples of styles that belong here are global default styles or CSS reset-like styles
// such as `box-sizing: border-box` on all elements, or removing outlines on all inputs,
// ensuring links aren't purple or blue by default, etc. Things that are more stylistic
// even if they seem to apply to all elements, such as buttons being flat with avant garde,
// should not go here and instead applied as classes in a componenents stylesheet. It's
// much easier to add a class to an unstyled default element than it is to untangle too
// many default CSS styles.
//

@require '../../../../../node_modules/artsy-ezel-components/spinners'
@require '../../confirmation'
@require '../../stylus_lib'
@require '../footer'
@require '../header/minimal_header'
@require './alerts'
@require './body'
@require './buttons'
@require './embedded'
@require './faux_underline'
@require './form_elements'
@require './headers'
@require './icons'
@require './navigation'
@require './typography'
@require './utilities'

global-reset()

::selection
  background-color purple-color
  color white
::-moz-selection
  background-color purple-color
  color white

// General tag styles
*,
*:before,
*:after
  box-sizing border-box
html[data-useragent*="Firefox"]
  overflow-x hidden
html, body
  height 100%
body
  garamond()
  font-size default-garamond-font-size
  line-height 1.4em
  text-rendering optimizeLegibility
  -webkit-text-size-adjust 100%
  -webkit-tap-highlight-color rgba(0, 0, 0, 0);
a
  color black
  cursor pointer
  -webkit-tap-highlight-color rgba(26, 26, 26, 0.301961);
b, strong
  font-weight bold
em
  font-style italic
img
  display block
.small-caps
  small-caps()
input
  garamond()
  font-size default-font-size
  appearance none
  &[type='checkbox']
    appearance checkbox
  &[type='radio']
    appearance radio
  &:focus
    outline none
button, input
  margin 0
  outline none
hr
  position relative
  height 1px
  background-color gray-lighter-color
  border none
  margin 18px 0
  clearfix()
  &.is-invisible
    background-color transparent
sup
  font-size 75%
  line-height 1
  vertical-align super
sub
  font-size 75%
  line-height 1
  vertical-align sub
figure
  margin 0

#main-layout-container
  margin-top (content-margin-top + main-header-height + welcome-header-height)

// The 1250px max inner container
.main-layout-container
  max-width default-max-page-width
  margin auto

.responsive-layout-container
  margin 0px 55px
  @media screen and (min-width: 1440px)
    margin 0px 150px
  @media screen and (min-width: 1660px)
    margin 0px 200px
  @media screen and (max-width: 768px)
    margin 0px

#blank-layout-container
  height 100%

// Scroll Frame styles
#scroll-frame-spinner
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  display none
  z-index 10
  background white
.scroll-frame-loading #scroll-frame-spinner
  display block
.scroll-frame-open
  overflow hidden

#scripts
  width 0
  height 0

.grecaptcha-badge
  visibility hidden
