// Vertical centering
.vam-outer
.vam-inner
.vam-cell
  height 100%
.vam-outer
.vam-inner
  width 100%
.vam-outer
  display table
  table-layout fixed
.vam-inner
.vam-cell
  display table-cell
  vertical-align middle

.is-center-aligned
  text-align center
.is-pull-right
  float right
.is-pull-left
  float left

.blurb
  overflow hidden
  transition height 0.25s
