@import '../../components/stylus_lib'
@import '../../components/featured_shows'

.rsr-metadata
  text-align center

h1.garamond-header-center
  padding-top 20px

h3.avant-garde-header-center
  margin 20px 0

.list_section
  margin 30px auto
  border-top 1px solid gray-lighter-color

  .see_more
    text-align center

  .fair_image
    display table-cell
    vertical-align middle
    padding 15px

  .fair_meta
    display table-cell
    vertical-align middle
    padding 15px
    h4
      font-size 24px
      a
        text-decoration none
    .summary
      margin 8px 0
      color #666
  a.featured-partner-profile-cover-link
    background-color #fff
    img
      margin 0 auto
