@import '../../components/stylus_lib'

.rsr-metadata
  text-align center

h1.avant-garde-header-center
  padding-top 20px

#main-layout-container .featured-partners-grid
  max-width none

.list_section
  margin 30px auto

  h2
    font-size 38px
    padding 30px 0
    border-top 1px solid gray-lighter-color
    clear both

  .see_more
    text-align center

  .fair_image
    display table-cell
    vertical-align middle
    padding 15px

  .fair_meta
    display table-cell
    vertical-align middle
    padding 15px
    h4
      font-size 24px
      a
        text-decoration none
    .summary
      margin 8px 0
      color #666
  a.featured-partner-profile-cover-link
    background-color #fff
    img
      margin 0 auto

.locations
  font-size 17px
  text-align center
  padding 30px 0
  a
    color #6a0bc1
    text-decoration none
    &:hover
      text-decoration underline
