@import '../stylus_lib'

.auction-reminder-container
  height 120px
  padding 15px
  display block

.auction-reminder-image
  height 90px
  width 90px
  background-size cover
  background-position center center
  background-repeat no-repeat
  display inline-block
  vertical-align top
  margin auto
  

.auction-reminder-details
  width 190px
  padding-left 15px
  display inline-block

.auction-reminder-clock
  vertical-align top
  margin-top 22px
  display inline-block
  .clock-header
    display none
  .clock-value
    avant-garde()
    text-align left
    li
      margin 2px
      display inline-block
      font-size 17px
      vertical-align top
    .auction-clock-element
      vertical-align bottom
      display block
    .auction-clock-element > small
      text-align center
      color transparify(#aaa, black)
      font-size 9px
      vertical-align top

  opacity 0
  transition opacity 1s
  &.is-fade-in
    opacity 1

#modal
  transition opacity 0.25s
  opacity 0
  // Default is a simple fade in
  &[data-state='open'], &.is-open
    opacity 1
    > .modal-backdrop > .modal-dialog
      // Avoid transitioning the initial open
      transition all 0.25s, width 0
  // Slide modal dialog in
  &.is-slide-in
    > .modal-backdrop > .modal-dialog
      transform translateY(100px)
      transition transform 0.4s
    &[data-state='open'], &.is-open
      opacity 1
      > .modal-backdrop > .modal-dialog
        transform translateY(0)
        // Avoid transitioning the initial open
        transition all 0.25s, width 0, transform 0.4s

  &.confirm
    .modal-body
      text-align center
      padding-top 100px
      padding-bottom 100px
    .avant-garde-header-center
      font-size 22px
    h3
      margin-top 20px
      font-size 24px
    .avant-garde-button-black
      width 80%
      margin-top 13px

.modal-h1
  garamond()
  font-size 22px

#modal.has-nobackdrop > .modal-backdrop
  background-color transparent

.modal-dialog
  z-index 1000
  position fixed
  overflow-y auto
  background-color white
  max-width 90%
  max-height 90%
  border 1px solid gray-lighter-color
  right 40px
  bottom -300px
  transition all 400ms cubic-bezier(0.195, 0.725, 0.580, 1.110)
  prevent-content-shift()

.modal-dialog.is-active
    bottom 40px
    transition bottom 0.3s
  
.modal-close
  position absolute
  top 25px
  right 25px
  cursor pointer
  transition opacity 0.25s
  opacity 0.15
  z-index 2
  prevent-content-shift()
  &:hover
    opacity 1
  > i
    font-size 26px
    line-height @font-size

.modal-dialog
.modal-body
  transition opacity 0.25s
  &[data-state='fade-out'], &.is-fade-out
    opacity 0
  &[data-state='fade-in'], &.is-fade-in
    opacity 1
