.modal-dialog
  header.modal-header
    a.modal-close: i.icon-close
  section.modal-body
    a.auction-reminder-container(href="/auction/#{auctionId}")
      .auction-reminder-image-container
        img.auction-reminder-image(src="#{auctionImage}")
      .auction-reminder-details
        p.avant-garde-header-small Closing Soon
        p.auction-reminder-name #{auctionName}
        p.avant-garde-header-small Go To Auction
      .auction-reminder-clock
        include ../clock/template