.cf-categories
  display block
  padding-left padding-unit
  &__category
    display inline-block
    width calc(20% \- padding-unit)
    padding-bottom 10%
    background #eee
    margin-right padding-unit
    margin-bottom padding-unit
    text-align center
    avant-garde-size('m-headline')
    color white
    position relative
    background-position center
    background-repeat no-repeat
    background-size cover
    vertical-align top
    &__overlay
      width 100%
      height 100%
      position absolute
      top 0
      left 0
      background-color rgba(0,0,0,0.05)
      transition background-color 0.3s
      cursor pointer
    &:hover &__overlay
      background-color rgba(0,0,0,.75)
    &[data-has-results='false']
      pointer-events none
      cursor default
      .cf-categories__category__overlay
        background-color rgba(255,255,255,.9)
    &__name
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      pointer-events none
      width 90%
      line-height 1
      font-size avant-garde-body-font-size

.has-selection
  .is-selected .cf-categories__category__overlay
    background-color rgba(110,0,255,.75)
