
@import '../../components/stylus_lib'

.chevron-nav-list
  a
    text-decoration none
    position relative
    display block
    padding 14px 0
    border-top 1px solid gray-color
    avant-garde()
    font-size default-avant-garde-font-size
    &:last-child
      border-bottom @border-top
    &.is-active
      color purple-color
    &::after
      iconfont-styling()
      content "\e607"
      color gray-color
      vertical-align middle
      right 0px
      position absolute
      font-size 20px
      top 9px