@import '../../components/stylus_lib'

.chevron-list-item
  position relative
  &::after
    iconfont-styling()
    content '\e607'
    color gray-color
    vertical-align middle
    position absolute
    top 50%
    right 0
    font-size 20px
    transform translateY(-50%)
    transition color 0.125s

.chevron-nav-list a
  @extends .chevron-list-item
  display block
  padding 14px 0
  text-decoration none
  avant-garde-size('m-headline', true)
  border-top 1px solid gray-color
  &:last-child
    border-bottom @border-top
  &.is-active
    color purple-color

.large-chevron-list-item
  @extends .chevron-list-item
  &::after
    content '\e61c'
    font-size 40px
    right 10px

.large-chevron-list a
  @extends .large-chevron-list-item
  display block
  padding 40px 80px 40px 40px
  border-top 1px solid gray-lighter-color
  border-bottom @border-top
  margin-top -1px
  text-decoration none
  &:first-child
    margin-top 0
  &:hover
    background-color gray-lightest-color
    border-color @background-color
    z-index 1
