- var auction = artwork.sale
- var sale_artwork = artwork.sale_artwork
if auction.is_auction_promo
  //- Unimplemented

else if auction.is_preview || auction.is_open || auction.is_live_open
  include ./estimate
  include ./status
  include ./live
  include ./bid
  include ./buy_now
  if sd && sd.stitch.components && sd.ARTWORK_SIDEBAR_PAGEVIEWS === 'experiment'
    #stitch-pageviews-mountpoint
      != sd.stitch.components.ArtworkSidebarPageviews({artworkID: artwork.id, mountId: 'stitch-pageviews-mountpoint'})
  include ./buyers_premium
  include ./help

else if auction.is_closed
  include ./closed

