#personalize-page
  transition opacity 0.25s
  &[data-state='fade-in']
    opacity 1
  &[data-state='fade-out']
    opacity 0
  &[data-state='loading']
    > *
      opacity 0.125
      pointer-events none
    &:after
      display block
      content ''
      spinner()

.personalize-frame
  padding 40px
  background-color white
  transition opacity 0.25s

.personalize-initial-logotype
  display block
  text-align center
  font-size 50px
  line-height 1

.personalize-header
  text-align center
  margin 40px 0
  > h2
    avant-garde()
    font-size 13px
    letter-spacing 1px
  > h1
    avant-garde()
    margin 10px 0
    font-size 20px
    line-height 1
  > aside
    color dark-gray-text-color

.personalize-step
  clearfix()
  width 400px
  margin auto
  > aside
    text-align center
    margin 20px 0
    font-size 22px
  // Step variations
  &[data-step='price_range']
    width 560px
    aside
      margin 40px 0
      color dark-gray-text-color
      font-size 16px

  &[data-step='complete']
    width 600px
    textarea
      height 130px

.personalize-continue
  margin-top 10px

.personalize-skip
  position fixed
  z-index 1
  top 10px
  right 10px
  force-hardware-acceleration()

.personalize-inline-skip
  float right
  margin-top 20px
  font-size 20px

// Location
// --------

// Accomodate Google's insane auto-positioning
#personalize-location-search
  input
    faux-bordered-input()

// Price Range
// -----------

// 3d toggle button
.flipper
  position relative
  display inline-block
  vertical-align bottom
  margin 10px
  width 120px
  height @width
  line-height @width
  text-align center
  avant-garde()
  font-size 13px
  overflow ellipsis
  cursor pointer
  &.is-flipped > .flipper-card
    transform rotateX(-180deg)

.flipper-card
  width 100%
  height 100%
  transform-style preserve-3d
  transition transform 0.3s
.flipper-face
  width 100%
  height 100%
  position absolute
  backface-visibility hidden
  z-index 2
  cursor pointer
  border 2px solid light-gray-border-color
  border-radius (@width / 2)
  transition border-color 0.25s
  &:hover
    border-color highlight-color
  &.is-front
    position absolute
    z-index 1
  &.is-back
    transform rotateX(-180deg)
    background-color highlight-color
    border-color highlight-color
    color white

// Artists
// -------

// Auto-complete
#personalize-artist-search-container
  position relative
  &.is-loading
    #personalize-artist-search-spinner
      display block
      > .loading-spinner-small
        background-color highlight-color

  .twitter-typeahead
    display block
    width 100%
    height 100%
  .tt-hint
    display none
  .tt-dropdown-menu
    width 100%
    background-color #fff
    border 2px solid highlight-color
    border-top none
  .tt-suggestion
    border-bottom 1px solid light-gray-border-color
    &:last-child
      border-bottom none
    &:hover,
    &.tt-is-under-cursor
      background-color #000
      *
        color #fff

#personalize-artist-search-spinner
  display none
  position absolute
  top 0
  right 0
  width 50px
  height 100%


// Artists
// -------

// Followed list
.personalize-followed-artists
  margin-top 20px
.personalize-followed-artist
  clearfix()
  padding 0 5px
  line-height 50px
  vertical-align middle
  border-top 1px solid light-gray-border-color
  &:last-child
    border-bottom 1px solid light-gray-border-color
.pfa-name
  float left
  avant-garde()
  font-size 13px
  width calc('100% - 90px')
  overflow ellipsis
.pfa-remove
  float right
  width 90px
  text-align center
  avant-garde()
  font-size 13px
  &:before
    content 'Following'
    color highlight-color
  &:hover:before
      content 'Unfollow'
      color bad-red-color

// Suggestions
#personalize-artists-suggestions
  margin-top 90px

.personalize-suggestions-set
  width 850px
  margin 20px auto
  text-align center
  border-bottom 1px solid light-gray-border-color
  > header
    font-size 20px
  &:last-child
    border-bottom none

.personalize-suggestion
  display inline-block
  width 150px
  margin 40px 10px 30px

.personalize-suggestion-thumbnail
  margin 0 auto
  background-color light-gray-background-color

.personalize-suggestion-name
  margin-top 10px
  avant-garde()
  font-size 13px
  overflow ellipsis

.personalize-suggestion-info
  margin-bottom 10px
  color dark-gray-text-color
  overflow ellipsis
