extends ../../components/main_layout/templates/blank

block head
  script( src='https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true' )

append locals
  - assetPackage = 'personalize'

block body
  #personalize-page
