extends ../../components/main_layout/templates/blank

block head
  script( src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true' )

block locals
  assetPackage = 'personalize'

block body
  #personalize-page
