.artwork-images__arrows
  .artwork-images__arrows__next(
    class='js-artwork-images__arrows__next'
  )
    i.icon-chevron-small-right

  .artwork-images__arrows__prev(
    class='js-artwork-images__arrows__prev'
  )
    i.icon-chevron-small-left
