include hero_unit.jade
include nav.jade
include common_section_mixins.jade
.partnerships-sections
  case subject
    when 'institution'
      include institution_sections.jade
    when 'auction'
      include auction_sections.jade
