extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  unless sd.IS_MOBILE
    - bodyClass = bodyClass + ' body-no-margins body-partnerships body-partnerships--' + subject
  - assetPackage = 'partners'

block body
  if sd.IS_MOBILE
    #gallery-partnerships.gallery-partnerships-container
      include mobile/index
  else
    .partnerships-container
      include content
