if path.indexOf('gallery') > 0
  title Gallery Partnerships | Artsy
  meta( property="og:title", content="Gallery Partnerships | Artsy" )
  meta( name="description", content="Artsy invites the best galleries in the world to list their programs and contribute to the most comprehensive online resource for seasoned and aspiring collectors alike." )
  meta( name="og:description", content="Artsy invites the best galleries in the world to list their programs and contribute to the most comprehensive online resource for seasoned and aspiring collectors alike." )
  meta( property="twitter:description", content="Artsy invites the best galleries in the world to list their programs and contribute to the most comprehensive online resource for seasoned and aspiring collectors alike." )

  link( rel="canonical", href=(sd.APP_URL + "/gallery-partnerships") )
  meta( property="og:url", content=(sd.APP_URL + "/gallery-partnerships") )
  meta( property="og:image", content=asset('/images/og_image.jpg') )
  meta( property="og:type", content="website" )
  meta( property="twitter:card", content="summary" )
else if path.indexOf('institution') > 0
  title Institution Partnerships | Artsy
  meta( property="og:title", content="Institution Partnerships | Artsy" )

  link( rel="canonical", href=(sd.APP_URL + "/institution-partnerships") )
  meta( property="og:url", content=(sd.APP_URL + "/institution-partnerships") )
  meta( property="og:image", content=asset('/images/og_image.jpg') )
  meta( property="og:type", content="website" )
  meta( property="twitter:card", content="summary" )
else
  title Auction Partnerships | Artsy
  meta( property="og:title", content="Auction Partnerships | Artsy" )

  link( rel="canonical", href=(sd.APP_URL + "/auction-partnerships") )
  meta( property="og:url", content=(sd.APP_URL + "/auction-partnerships") )
  meta( property="og:image", content=asset('/images/og_image.jpg') )
  meta( property="og:type", content="website" )
  meta( property="twitter:card", content="summary" )

unless sd.IS_MOBILE
  meta( name='viewport', content='user-scalable=0, width=1300' )
