@require '../components/stylus_lib'

fixed-item-width = 250px
gap = 20px

.grid-n-up
  margin-bottom -(gap)
  > .grid-item
    width fixed-item-width
    margin 0 (gap / 2) gap (gap / 2)
  &.is-flush .grid-item
    width fixed-item-width
    margin 0 !important
  @media screen and (max-width: 1024px)
    > .grid-item
      margin 0 (gap / 4) (gap / 2) (gap / 4)

.grid-item
  position relative
  display inline-block
  vertical-align top
  // Grids are almost always used in
  // conjunction with hoverable-image-links
  //
  // So set some sane defaults when it is nested
  .hoverable-image-link
    display block
    width 100%
    margin-bottom 10px

.grid-2-up
  grid-2-up(10px, 20px)

.grid-3-up
  grid-3-up(14px, 20px)

.grid-4-up
  grid-4-up(20px)

.body-responsive
  @media (min-width: 320px) and (max-width: 480px)
    .grid-item
      width 100%
      margin (gap / 4) 0 !important
      &:first-child
        margin-top 0 !important
      &:last-child
        margin-bottom 0 !important
