title Institutions | Artsy
meta( property="og:title", content="Institutions | Artsy" )
meta( name="description", content="Featured Artsy institution partners." )
meta( property="og:description", content="Featured Artsy institution partners." )
meta( property="twitter:description", content="Featured Artsy institution partners." )
link( rel="canonical", href=(sd.ARTSY_URL + "/institutions") )
meta( property="og:url", content=(sd.ARTSY_URL + "/institutions") )
meta( property="og:image", content=(sd.ASSET_PATH + "metadata/og_image.jpeg") )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
