mixin showItem(show, trailingText)
  .artwork-artist__content__exhibition-highlights__item
    .artwork-artist__content__exhibition-highlights__item__date= helpers.artists.showHelpers.date(show.start_at).year()
    .artwork-artist__exhibition-highlights__item__text
      if trailingText
        = trailingText + ", "
      .artwork-artist__exhibition-highlights__item__text__show-name
        if show.href
          a(href= show.href)= show.name
        else
          = show.name

- var shows = helpers.artists.groupBy(artist.exhibition_highlights.slice(0,15), 'kind')
if shows.solo && shows.solo.length
  .artwork-artist-header-cell-section
    h2 Solo Shows
    for show in helpers.artists.sortExhibitions(shows.solo)
      +showItem(show, helpers.artists.showHelpers.partnerNameAndLocation(show))

if shows.group && shows.group.length
  .artwork-artist-header-cell-section
    h2 Group Shows
    for show in helpers.artists.sortExhibitions(shows.group)
      +showItem(show, helpers.artists.showHelpers.partnerNameAndLocation(show))

if shows.fair && shows.fair.length
  .artwork-artist-header-cell-section
    h2 Fair History on Artsy
    for show in helpers.artists.sortExhibitions(shows.fair)
      +showItem(show, helpers.artists.showHelpers.showOrFairLocation(show))

if artist.exhibition_highlights.length > 15
  a.artwork-artist__content__exhibition-highlights__cv(href=artist.href + '/cv')
    .avant-garde-button-white.is-small View Artist's CV
