@require '../../../../components/stylus_lib'

.browse-sections
  margin: 0px auto
  margin-top: 80px
  max-width feed-max-width
  .browse-section
    display none
  .feed
    margin-top 30px

for section in 'artists-a-to-z' 'exhibitors-a-to-z' 'booths' 'artworks' 'artist'
  #fair-browse[data-section={section}] .browse-section.{section}
    display block

#fair-browse-artworks-header
  text-transform capitalize

.browse-section.booths h1, #fair-browse-artworks-header, .browse-section.artists-a-to-z h1, .browse-section.exhibitors-a-to-z h1
  margin 40px 0 15px

#fair-filter-sections
  .filter-dropdown
    border-left 0

.browse-section .filter-artworks-sort-count, #fair-booths-subheader
  padding-bottom 30px
  border-bottom 1px solid gray-lighter-color

#fair-browse-spacer
  height 60px

.feed-item-fair-name
  display none

.filter-fixed-header-nav
  padding-bottom: 20px

section.feed-items article.feed-item .feed-column .fair-location
  display block

section.feed-items article.feed-item .feed-column .exhibitor
  avant-garde()
  font-size: 15px

#fair-browse-header .filter-nav-active-text
  max-width 57px
