title Artsy - Discover Fine Art
meta( property="og:title", content="Artsy - Discover Fine Art" )
meta( name="description", content="Artsy is a new way to discover art you'll love, featuring work from leading galleries, museums, and private collections around the world." )
meta( property="og:description", content="Artsy is a new way to discover art you'll love, featuring work from leading galleries, museums, and private collections around the world." )
meta( property="twitter:description", content="Artsy is a new way to discover art you'll love, featuring work from leading galleries, museums, and private collections around the world." )
meta( property="og:type", content="website" )
meta( property="og:site_name", content="Artsy" )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + (req ? req.path : "")) )
link( rel="canonical", href=(sd.GRAVITY_URL + (req ? req.path : "")) )
meta( property="og:url", content=(sd.GRAVITY_URL + (req ? req.path : "")) )
meta( property="og:image", content=(sd.ASSET_PATH + "metadata/og_image.jpeg") )
meta( property="twitter:card", content="summary" )
