title Artsy - Discover, Research, and Collect the World's Best Art Online
meta( property="og:title", content="Artsy - Discover, Research, and Collect the World's Best Art Online" )
meta( name="description", content="Artsy is an easy new way to discover, learn about, and buy art you'll love, featuring fine art, design, and photography from the leading international galleries, museums, and private collections." )
meta( property="og:description", content="Artsy is an easy new way to discover, learn about, and buy art you'll love, featuring fine art, design, and photography from the leading international galleries, museums, and private collections." )
meta( property="twitter:description", content="Artsy is an easy new way to discover, learn about, and buy art you'll love, featuring fine art, design, and photography from the leading international galleries, museums, and private collections." )
meta( property="og:type", content="website" )
meta( property="og:site_name", content="Artsy" )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + (req ? req.path : "")) )
link( rel="canonical", href=(sd.GRAVITY_URL + (req ? req.path : "")) )
meta( property="og:url", content=(sd.GRAVITY_URL + (req ? req.path : "")) )
meta( property="og:image", content=(sd.ASSET_PATH + "metadata/og_image.jpeg") )
meta( property="twitter:card", content="summary" )
