link( rel='apple-touch-icon', sizes='76x76', href=(sd.ASSET_PATH + 'icon-76.png') )
link( rel='apple-touch-icon', sizes='120x120', href=(sd.ASSET_PATH + 'icon-120.png') )
link( rel='apple-touch-icon', sizes='152x152', href=(sd.ASSET_PATH + 'icon-152.png') )
link( rel='apple-touch-icon', href=(sd.ASSET_PATH + 'icon-152.png') )
link( rel='icon', type='image/png', href=(sd.ASSET_PATH + 'favicon.ico') )
link( rel='search', type='application/opensearchdescription+xml', href=(sd.ASSET_PATH + 'opensearch.xml'), title='Artsy' )
meta( name='msapplication-config', content=(sd.ASSET_PATH + 'browserconfig.xml') )
script( src=(sd.ASSET_PATH + 'scroll_frame' + sd.JS_EXT) )
//- Mixpanel wants to include it's script in the head b/c it async downloads
//- and injects it into the body. Hopefully this stops race conditions b/t
//- DOM load and mixpanel init.
if sd.NODE_ENV != 'test' && sd.MIXPANEL_ID && sd.BROWSER && sd.BROWSER.family != 'PhantomJS'
  include ./mixpanel.html
  script.
    mixpanel.init("#{sd.MIXPANEL_ID}")
