meta( name='viewport', content='width=device-width', initial-scale='1.0,user-scalable=no' )
link( rel='apple-touch-icon', href=(sd.ASSET_PATH + 'icon-57.png') )
link( rel='apple-touch-icon', sizes='72x72', href=(sd.ASSET_PATH + 'icon-72.png') )
link( rel='apple-touch-icon', sizes='114x114', href=(sd.ASSET_PATH + 'icon-114.png') )
link( rel='icon', type='image/png', href=(sd.ASSET_PATH + 'favicon.ico') )
meta( name: "fragment", content: "!" )
meta( name="msapplication-config" content=sd.ASSET_PATH + 'browserconfig.xml" )
