//- Override any locals with `append locals`
block locals
  - assetPackage = 'all'
  - bodyClass = (sd.HIDE_HEADER ? 'body-header-fixed' : '')
  - bodyClass = bodyClass + (sd.MICROSITE ? ' is-microsite' : '')
  - bodyClass = bodyClass + (sd.KIOSK_MODE ? ' is-kioskmode' : '')
  - bodyClass = bodyClass + (sd.EIGEN ? ' body-eigen' : '')

doctype html
html( data-useragent=userAgent )
  head
    block head
    include head
    link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'main_layout' + sd.CSS_EXT) )
    link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + assetPackage + sd.CSS_EXT) )
    if sd.MICROSITE
      link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'microsite' + sd.CSS_EXT) )
  body( class=bodyClass )
    include ../../modal/template
    include ../../flash/template
    if sd.MICROSITE || sd.KIOSK_MODE
      include ../header/templates/microsite
    else
      include ../header/templates/index
    #main-layout-container.responsive-layout-container
      if sd.MICROSITE
        include ../../../components/microsite/header
      block body
      .main-layout-footer-push
    #scroll-frame-spinner
      .loading-spinner
    #scripts
      include scripts
      script( src=(sd.ASSET_PATH + 'main_layout' + sd.JS_EXT) )
      script( src=(sd.ASSET_PATH + assetPackage + sd.JS_EXT) )
      if sd.MICROSITE
        script( src=(sd.ASSET_PATH + 'microsite' + sd.JS_EXT) )
      block scripts
    include ../footer/template
