//- Override any locals with `append locals`
block locals
  assetPackage = 'all'

doctype 5
html
  head
    title Artsy - Discover Fine Art
    link( type='text/css', rel='stylesheet', href=(sd.CDN_URL + assetPackage + sd.CSS_EXT) )
    include head
    block head
  body
    include ../header/template
    block body
    #scripts
      include scripts
      script( src=(sd.CDN_URL + assetPackage + sd.JS_EXT) )
      block scripts