//- Override any locals with `append locals`
block locals
  assetPackage = 'all'
  bodyClass = (sd.BODY_CLASS || '')

doctype html
html( data-useragent=userAgent )
  head
    block head
    include head
    link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'main_layout' + sd.CSS_EXT) )
    link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + assetPackage + sd.CSS_EXT) )
  body( class=bodyClass + ' body-header-fixed is-microsite' )
    include ../../modal/template
    include ../header/templates/microsite
    #main-layout-container
      block body
      .main-layout-footer-push
    #scripts
      include scripts
      script( src=(sd.ASSET_PATH + 'main_layout' + sd.JS_EXT) )
      script( src=(sd.ASSET_PATH + assetPackage + sd.JS_EXT) )
      block scripts
    include ../footer/template
