//- Common external scripts

if sd.NODE_ENV != 'test'
  //- Mixpanel & Google analytics script
  include ./google_analytics.html
  //- Fonts.com font loader
  script( type="text/javascript", src="//fast.fonts.net/jsapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.js" )

//- Wire up sharify
if sharify
  != sharify.script()

//- Add Google's jQuery
script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" )

//- Add Sentry client-side error tracking
if sd.SENTRY_PUBLIC_DSN
  script( src="//cdn.ravenjs.com/1.1.16/backbone,jquery,native/raven.min.js" )
  script.
    Raven.config("#{sd.SENTRY_PUBLIC_DSN}", {
      ignoreErrors: [
        'top.GLOBALS',
        'canvas.contentDocument',
        'fb_xd_fragment'
      ],
      whitelistUrls: [/d3df9uo7bhy7ev\.cloudfront\.net/, /d1gmlxxulrit6a\.cloudfront\.net/, /artsy\.net/]
    }).install();
