#gene-filter-nav
  unless gene.isSubjectMatter()
    label By Artists:&nbsp;
    a#gene-filter-all-artists.filter-button.is-active All Artists
    label By Work:&nbsp;
  span#gene-filter-artworks-nav
    include ../../../components/filter/artworks_nav/template.jade
unless gene.isSubjectMatter()
  #gene-artists
    .loading-spinner
#gene-artwork-list-container
  #gene-filter-sort-count
    include ../../../components/filter/sort_count/template
  #gene-artwork-list
  #gene-artwork-list-spinner
    .loading-spinner
  #gene-artwork-list-no-results No artworks are available within your selection.