#gene-filter( data-state=mode )
  #gene-filter-nav.filter-fixed-header-nav
    .filter-fixed-header-left
      = gene.get('name')
      | &nbsp;&mdash;&nbsp;
      em
        span.filter-artworks-num
        | &nbsp;Works
    unless gene.isSubjectMatter()
      label By Artists:&nbsp;
      a#gene-filter-all-artists.filter-button(href="#{gene.href()}") All Artists
      label By Work:&nbsp;
    span#gene-filter-artworks-nav
      include ../../../components/filter2/dropdown_group/template
  #gene-filter-content
    unless gene.isSubjectMatter()
      #gene-artists
        .loading-spinner
    #gene-artworks
      include ../../../components/filter2/template
