extends ../../../components/main_layout/templates/index
include ../../../components/share/template

block head
  include meta

append locals
  - assetPackage = 'gene'

block body
  .gene-page.main-layout-container

    header.gene-header
      h1.gene-header-headline
        = gene.get('name')

      a.gene-header-follow-button.avant-garde-button-white.follow-button

      .gene-share-buttons.js-gene-share-buttons
        +share(gene.get('name') + ' on Artsy', gene.imageUrl())

    .bisected-header
      if gene.get('description')
        .bisected-header-cell
          h2 About
          .gene-blurb.js-gene-blurb
            != gene.mdToHtml('description')
      .bisected-header-cell
        .related-genes.related-links
          //- Rendered client-side
        .related-artists.related-links
          //- Rendered client-side

    include filter
