extends ../../../components/main_layout/templates/index
include ../../../components/share/template

block head
  include meta

append locals
  assetPackage = 'gene'

block body
  header#gene-header
    h1.avant-garde-header-center= gene.get('name')
    .avant-garde-button-white.follow-button
    #gene-share-buttons
      +share(gene.get('name') + ' on Artsy', gene.imageUrl())
  #gene-description
    #gene-description-inner!= gene.mdToHtml('description')
  #gene-filter-nav
    unless gene.isSubjectMatter()
      label By Artists:&nbsp;
      a#gene-filter-all-artists.filter-button.is-active All Artists
      label By Work:&nbsp;
    span#gene-filter-artworks-nav
      include ../../../components/filter/artworks_nav/template.jade
  unless gene.isSubjectMatter()
    #gene-artists
      .loading-spinner
  #gene-filter-artwork-list.filter-artwork-columns
  #gene-filter-artwork-list-spinner
    .loading-spinner