.article-figure
  position relative
  margin 0
  margin-bottom 20px
  border-bottom 1px solid #ccc
  padding-bottom 20px

  figcaption
    width 60%
    padding-left 20px

.article-figure-container
  text-decoration none
  display table
  width 100%
  min-height 150px

.article-figure figcaption, .article-figure-img
  display table-cell
  vertical-align middle

.article-figure-img
  background-size contain
  height 100%
  width 40%
  background-position top
  background-repeat no-repeat

.article-figure-title
  font-size 22px
  line-height 28px

.article-figure-date
  font-size 17px
  margin-bottom 7px
  color dark-gray-text-color
  margin-bottom 6px
  display none

.article-figure-author
  avant-garde()
  font-size 12px
  margin-top 8px
