.article-share
  white-space nowrap

.article-share-item
  display inline-block
  height 35px
  width @height
  line-height @height
  margin 0 5px
  text-align center
  border-radius 50%
  background-color black
  color white
  text-decoration none
