@import '../stylus_lib'

.bordered-pagination
  margin 20px 0
  > ul
    display inline-block
    margin 0 10px
    list-style none
    border 2px solid gray-color
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0
    > li
      display inline-block
      border-left 1px solid gray-lighter-color
      &:first-child
        border none
      > a
        display block
        padding 8px 15px 6px
        text-decoration none
        &.is-active
          background-color gray-lightest-color
          cursor default
        > span
          color gray-dark-color