.pagination
  > ul
    display inline-block
    margin 20px 10px
    list-style none
    border 2px solid dark-gray-border-color
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0
    > li
      display inline-block
      border-left 1px solid light-gray-border-color
      &:first-child
        border none
      > a
        display block
        padding 8px 15px 6px
        text-decoration none
        &.is-active
          background-color light-gray-background-color
          cursor default
        > span
          color light-gray-text-color