//
// Styles for the bid page when clicking "Bid" on an artwork in an auction
//

@import '../components/stylus_lib'
@import '../components/bid_numbers'
@import '../../../../desktop/apps/auction_support/stylesheets/conditions_of_sale_checkbox'

// The default checkbox styling
// (from /src/desktop/components/main_layout/stylesheets/form_elements.styl)
checkbox-size = 20px
.artsy-checkbox
  display inline-block
  line-height checkbox-size
  &:hover .artsy-checkbox--checkbox > label:after
    opacity 0.1
.artsy-checkbox--checkbox
  display inline-block
  width checkbox-size
  height checkbox-size
  position relative
  background gray-lighter-color
  user-select none
  > label
    cursor pointer
    position absolute
    top 2px
    right @top
    bottom @top
    left @top
    background-color white
    // Check
    &:after
      content ''
      position absolute
      top 3px
      right 2px
      bottom 7px
      left 2px
      border 2px solid black
      border-top none
      border-right none
      opacity 0
      transform rotate(-45deg) translateZ(0)
      transition opacity 0.25s
  > input[type='checkbox']
    visibility hidden
    &:checked + label:after
      opacity 1 !important
.artsy-checkbox--label
  user-select none
  margin-left 10px
  cursor pointer

#auction-registration-page
  margin 20px
  h2
    margin-bottom: 15px
    font-size: 26px
    padding: 0px 30px
    line-height: 137%

  h3
    font-size 20px
    margin-bottom 15px

  .note, .bidding-note
    color light-gray-text-color
    a
      color light-gray-text-color

  .note
    font-style italic

  p.registration-info
    garamond-size('s-body')
    color: gray-darker-color
    margin-top: 9px
    margin-bottom: 18px

  .bidding-note
    margin-top 15px
    text-align center

  .registration-form-header
    margin-top 15px
    text-align center
    text-transform uppercase
    letter-spacing 2px

  .auction-registration-form
    label
      display block
      avant-garde()
      font-size 12px

  .credit-card-input-section
    margin-top 10px

  .registration-form-section
    margin-top 20px

  .postal-code.credit-card-input-section, .region.credit-card-input-section
    display inline-block
    vertical-align top

  .postal-code.credit-card-input-section, .region.credit-card-input-section
    width 49%

  .region.credit-card-input-section
    margin-right 2%

  .avant-garde-box-button
    margin-top 15px
    &--black
    &[disabled], &.is-disabled, &.is-disabled
      &, &:hover
        border none
        background-color #e5e5e5
        cursor default
        color rgba(white, 0.75)
        &[data-state='success'], &.is-success
          background-color green-color
        &[data-state='error'], &.is-error
          background-color red-color

  .error
    color red-color

#card-element
  border 2px solid light-gray-border-color
  box-sizing border-box
  width 100%
  padding 10px
  height 44px

#card-element.StripeElement--focus
  border-color highlight-color
  outline none


