- function isActive(path) { return path.replace(/\/$/, '') === sd.CURRENT_PATH.split('?').shift().replace(/\/$/, '') }
- function activeClass(path) { if (sd && sd.CURRENT_PATH) { return isActive(path) ? 'is-active' : 'is-inactive' } }
