include ../../templates/mixins

+settings-section('delete-my-account', 'Delete My Account')
  include ../../components/delete_my_account/index

.settings-section
  .settings-section__main
    a.settings-disable-link.garamond-button-text( href='/settings' )
      | Cancel
