if artwork.show && artwork.show.artworks.length
  - var show = artwork.show

  section.artwork-section.artwork-show-artworks( class='js-artwork-show-artworks' )
    header.artwork-show-artworks__header
      h3.artwork-show-artworks__header__name
        | Other Works from the #{show.type}

      a.artwork-artist-artworks__header__jump( href= show.href )
        | View All

    - var columns = helpers.show_artworks.masonry(show.artworks).columns
    include ../../../../components/artwork_masonry/index
