.abrv-container--artists-to-follow.artists-to-follow
  .artists-to-follow__inner.responsive-layout-container
    .main-layout-container
      .artists-to-follow__inner__header
        h1 Artists to Follow
        .artists-to-follow__inner__header__tabs
          if user
            .artists-to-follow-tab.artists-to-follow__inner__header__tabs__tab(data-mode="SUGGESTED") For You
          .artists-to-follow-tab.artists-to-follow__inner__header__tabs__tab(data-mode="TRENDING") Trending
          .artists-to-follow-tab.artists-to-follow__inner__header__tabs__tab(data-mode="POPULAR") Most Popular
      .artists-to-follow__inner__results
        //- rendered on the client
