@require '../stylus_lib'

.artist-fillwidth-list-item
  position relative
  min-height 200px
  block-margins(20px)
  h4
    display inline-block
    avant-garde()
    font-size default-avant-garde-font-size
    margin-bottom 20px
  .plus-follow-button
    margin-left 10px

.artist-fillwidth-list-artworks img
  max-height 180px !important

.artist-fillwidth-list-see-more
  text-align center
  margin-top 40px
