include ../../templates/mixins

+settings-section('active-bids', 'Active Bids')
  //- Rendered from my_active_bids component client-side

+settings-section('bid-history', 'Bid History')
  include ../../components/bid_history/index

+settings-section('auction-registrations', 'Registration for Upcoming Auctions', 'Registration Status')
  include ../../components/auction_registrations/index
