include ../../templates/mixins

+settings-section('active-bids', 'Active Bids')
  | Nothing yet.

+settings-section('bid-history', 'Bid History')
  include ../../components/bid_history/index

+settings-section('auction-registrations', 'Registration for Upcoming Auctions', 'Registration Status')
  include ../../components/auction_registrations/index
