include ../../templates/mixins

+settings-section('active-bids', 'Active Bids')
  include ../../components/active_bids/index

+settings-section('auction-registrations', 'Registration for Upcoming Auctions', 'Registration Status')
  include ../../components/auction_registrations/index
