p: i.icon-logotype

h1 Save this information for future inquiries
h2 Enter a password to #{action} your account

.auth-errors
  //- Error message placeholder

form.stacked-form#after-inquiry-auth-form
  input.bordered-input(
    name          = 'password'
    type          = 'password'
    placeholder   = 'Password'
    autocomplete  = 'on'
    pattern       = '.{6,}'
    title         = '6 characters minimum'
    required
  )
  button#auth-submit.avant-garde-button-black
    | #{action} your account now
