h2 One question to serve you better
h1 Have you ever bought art through a gallery or auction before?

.stacked-button-menu
  a.avant-garde-button-black.after-inquiry-initial-submit( data-value='3' ) Yes
  a.avant-garde-button-black.after-inquiry-initial-submit( data-value='2' ) Not yet
