- collector = user.isCollector()

h1 Your Artwork Inquiry
aside
  | When you contact one of our partners about an artwork, Artsy will include a brief introduction so that you will receive prompt responses on artwork pricing and availability:

form.stacked-form#after-inquiry-questionnaire-form
  #after-inquiry-introduction-preview.stacked-form-cell
    label.avant-garde-form-label( for='introduction' ) Introduction
    #after-inquiry-introduction-preview-render.after-inquiry-introduction-preview
      //- Rendered elsewhere

  #questionnaire-form: include partials/edit
