- collector = user.isCollector()

h1 Gallery Introduction
aside
  | When you contact galleries through Artsy, we will include a brief introduction to help galleries provide quick and high quality responses on artwork pricing and availability:

form.stacked-form#after-inquiry-questionnaire-form
  #after-inquiry-introduction-preview.stacked-form-cell
    label.avant-garde-form-label( for='introduction' ) Introduction
    #after-inquiry-introduction-preview-render.after-inquiry-introduction-preview
      //- Rendered elsewhere

  #questionnaire-form: include partials/edit
