.arv-inner( data-rail= railId )
  .arv-header
    h1= title

    if viewAllUrl
      a.arv-view-all( href= viewAllUrl )
        | View All

  .arv-carousel( class='js-my-carousel' )
    ul.arv-fillwidth-list.fillwidth-list.js-mgr-cells.mgr-cells( class='js-mgr-cells' )
      if artworks && artworks.length
        for artwork in artworks
          li.mgr-cell.arv-fillwidth-row( class='js-mgr-cell' )
            include ../../../components/artwork_item/templates/artwork
      else
        .loading-spinner

    .arv-carousel-nav
      .arv-carousel-nav__prev( class='js-mgr-prev' )
        i.icon-chevron-left
      .arv-carousel-nav__next( class='js-mgr-next' )
        i.icon-chevron-right
