.arv-inner( data-rail= railId )
  .arv-header
    h1= title

    if viewAllUrl
      a.arv-view-all( href= viewAllUrl )
        | View All

  .arv-carousel.mgr-horizontal-nav( class='js-my-carousel' )
    ul.arv-fillwidth-list.fillwidth-list.js-mgr-cells.mgr-cells( class='js-mgr-cells' )
      if artworks && artworks.length
        for artwork in artworks
          li.mgr-cell.arv-fillwidth-row( class='js-mgr-cell' )
            include ../../artwork_item/templates/artwork
      else
        .loading-spinner

    nav.mgr-navigation.js-mgr-navigation
      if artworks && artworks.length
        include ../../merry_go_round/templates/horizontal_navigation
