@import '../../../components/stylus_lib'

.partner-profile-contact-email, .partner-profile-contact-website
  font-size large-font-size
  text-align center
  line-height 1.5
  margin-bottom 10px
  a
    color: highlight-color

.partner-profile-contact-website
  margin-bottom 30px

.partner-profile-location-group-header
  font-size large-font-size
  margin-bottom 20px

.partner-profile-locations
  img
    width 100%
  li
    border-top 1px solid light-gray-border-color
    padding 10px 0
    margin @padding
