@import '../../../components/stylus_lib'

column-margin = 10px

.partner-profile-shows-list
  li
    width 50%
    padding-right 10px
    display inline-block
    vertical-align top
    margin-top 10px
    &:nth-child(2n+2)
      padding-right 0
      padding-left 10px
    a
      text-decoration none
    h3
      margin-top 10px
      font-size large-font-size
      word-break break-word
      hyphens auto
    h4
      avant-garde()
      font-size 12px
      margin-top 5px

.partner-profile-shows-list-image
  display block
  width 100%
  height 110px
  background-color light-gray-border-color
  background-position center center
