@require '../../../components/artwork_columns'
@require '../../../components/artwork_item/stylesheets'

.settings-saved-artworks
  //

  &__artworks
    //

  &__more
    block-margins(gutter)
    text-align center
