- var scope='billing_address'
- var showName=false
- var phone=order.get('telephone')
.order-form-checkbox
  input( name='copy_shipping', type='checkbox', checked=true ) 
  | Billing address is same as shipping address
.order-form-hidden
  include ./address
