h2.garamond-header-center Congratulations! Your order is complete.
each artwork in order.getLineItemArtworks()
  img.line-item-image-large( src=artwork.defaultImageUrl('large') )
| We've sent you an email confirming your order. An Artsy Specialist
| will be in touch to introduce you to the seller and arrange for pick-up
| or shipping. Thanks for collecting on Artsy!
if order.getLineItemArtworks().length == 1
  br
  br
  a.avant-garde-button-text( href=order.getLineItemArtworks()[0].href() ) Back to Artwork
