h1.garamond-header-center Congratulations on your purchase!

.order-line-items
  each artwork in order.getLineItemArtworks()
    img.line-item-image( src=artwork.imageUrl('medium') )

.order-form-number
  Your order number:
  span= " #{order.get('code')}"

  p
    | We've sent you an email confirming your order. Your Artsy representative will be in touch to 
    | introduce you to the seller and arrange for pick-up or shipping. Thanks for collecting on Artsy!

.order-button-area
  if currentUser
    a.order-button( href: '/' ) Go to the homepage
  else
    a.order-button.join( href: '/sign_up' ) Join Artsy
