h2.order-page-sm-heading Your Order
include ./small_artwork
ul.order-summary-totals
  li.item-total
    .label Item:
    .value= order.get('item_total')
    .dots
.order-seller-section
  h2.order-page-sm-heading Seller
  each partner in order.getLineItemPartners()
    .name= partner.displayNameAndLocation()
.order-questions-section
  h2.order-page-sm-heading Questions?
  | Email us at&nbsp;
  a( href='mailto:orders@artsymail.com?subject!=Order+support' ) orders@artsymail.com
.order-form-geotrust
