@import '../../components/stylus_lib'

font-size = 18px
line-height = 40px
default-margin = 30px
menu-width = 250px
menu-tip-size = 10px

computed-margin(target-margin)
  target-margin - (line-height - font-size)

.hover-pulldown
  position relative
  display inline-block

  // Small tip
  &:before
    size = 4px
    display block
    position absolute
    content ''
    top 75%
    left 50%
    margin-left -(size)
    background transparent
    border size solid transparent
    border-top-color black
    border-top-width (size * 1.5)

  // Large tip
  &:after
    display block
    position absolute
    content ''
    top 100%
    left 50%
    margin-left -(menu-tip-size)
    background transparent
    border menu-tip-size solid transparent
    border-bottom-color black
    border-bottom-width (menu-tip-size * 1.5)
    visibility hidden
    opacity 0
    transition opacity 0.25s

  &:hover
    &:after
    .hover-pulldown-menu
      opacity 1
      visibility visible

  &[data-anchor='right']
    .hover-pulldown-menu
      left inherit
      right 10px

.hover-pulldown-menu
  visibility hidden
  position absolute
  width menu-width
  left 50%
  top 100%
  margin-top (menu-tip-size + (menu-tip-size * 1.5))
  margin-left -(menu-width / 2)
  padding computed-margin(40px) 0 computed-margin(45px) 0
  text-align left
  background-color black
  opacity 0
  transition opacity 0.25s
  > span
    padding 0 default-margin
    avant-garde()
    font-size 11px
    line-height line-height
    color white
    overflow ellipsis
  > a
    display block
    padding 0 default-margin
    garamond()
    font-size font-size
    line-height line-height
    text-transform none
    letter-spacing 0
    color white
    text-decoration none
    overflow ellipsis
    &:hover
      background-color gray-darkest-color
  > hr
    height 2px
    margin computed-margin(45px) default-margin
    background-color gray-darkest-color

  // Buffer area
  &:before
    display block
    position absolute
    content ''
    bottom 100%
    height (menu-tip-size * 3)
    left 0
    right 0
