@import '../stylus_lib'
@import '../layout/stylesheets/buttons'

.avant-garde-tabs
  display flex
  flex-direction row
  position relative

#avant-garde-tabs__cursor
  content " "
  display block
  height 100%
  border 0
  border-top 2px solid
  border-bottom 2px solid
  width 50%
  border-color #000
  position absolute
  left 0
  top 0
  z-index 1000

li.avant-garde-tabs__tab
  @extends .avant-garde-box-button
  flex 1 1 auto
  border 0
  border-top 2px solid
  border-bottom 2px solid
  border-color #ccc
  color #666
  display inline-block
  font-size 13px
  cursor pointer

  &.avant-garde-tabs__tab--active
    color #000

.avant-garde-tabs.avant-garde-tabs--table
  display table
  width 100%

  li.avant-garde-tabs__tab
    display table-cell
    width auto

.avant-garde-tabs-list
  display none
  margin 10px 0

  &.avant-garde-tabs-list--active
    display block

  .avant-garde-tabs-list__item
    padding 20px 0
    border-bottom 2px solid
    border-color #ccc

    &:active
      background-color #f2f2f2

    a
      text-decoration none

  .avant-garde-tabs-list__upcoming-name
    margin 20px 0

  .avant-garde-tabs-list__chevron-name
    margin-top 20px
    position relative

    &:after
      font-family 'artsy-icons'
      content "\e607"
      font-size 32px
      color light-gray-border-color
      position absolute
      right 0
      top 50%
      margin-top -8px
