extend ../../../components/fair_layout/templates/index

block body
  .fair-info2-content-wrapper
    include nav
    .fair-info2-body
      h2.garamond-l-headline.is-center-aligned All Armory Arts Week Events
      .fair-info-aaw-menu.is-center-aligned
        h2.avant-garde-s-headline Browse neighborhoods
        each neighborhood in neighborhoods
          .fair-info-aaw-neightborhood-nav: a(href="##{_s.underscored(neighborhood.name)}") #{neighborhood.name}
      .fair-info-aaw-neigborhoods
        each neighborhood in neighborhoods
          .fair-info-aaw-neigborhood(id="#{_s.underscored(neighborhood.name)}")
            - article = neighborhood.article
            include ../../../components/article/templates/index.jade
