extend ../../../components/fair_layout/templates/index

block body
  .fair-info2-content-wrapper
    include nav

    .fair-info2-body
      .fair-info-events
        h2.fair-info2-event-type-title Highlighted Events
        h2= sd.FAIREVENT.name

