extend ../../../components/fair_layout/templates/index

block body
  .fair-info2-content-wrapper
    include nav

    .fair-info2-body
      - console.log('location: ', fair.get('name'), fair.get('location'))
      .fair-info2-map
        if fair.get('location')
          a.fair-map-link( target="_blank" )
            img.map
      if fair.get('location') && fair.get('location').summary
        .location-caption!= fair.location().mdToHtml('summary')