.artwork-image-module
  include ./image_module

  .main-side-margin
    .artwork-image-module__label-icons
      .artwork-image-module__artwork-label
        if artists.length
          for artist in artists
            a.artist-name(href=artist.href)= artist.name
        else if artwork.cultural_maker
          .artist-name= artwork.cultural_maker
        .artwork-display
          if artwork.title
            em= artwork.title
          if artwork.date
            | , #{artwork.date}

      .artwork-header-module
        .artwork-header-module__share-container
          .artwork-header-module__share-button
        .artwork-header-module__favorites-container
          //- if artwork.auction && artwork.auction.auction_state == 'open'
          if artwork.auction
            a.artwork-header-module__favorite-button( data-action='save' data-state='unsaved')
              include ../../../../../../desktop/components/main_layout/public/icons/bell.svg
          else
            a.artwork-header-module__favorite-button.circle-border-icon-button( data-action='save' data-state='unsaved')
              i.icon-heart
