extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  assetPackage = 'favorites'

block body
  #favorites.favorites-container
    .main-layout-container
      include ./favorites_content
