extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'favorites_follows'

block body
  #favorites.favorites-container
    .main-layout-container
      if user.get('lab_features').indexOf('Set Management') != -1
        include ../../../components/favorites2/templates/favorites_content
      else
        include ../../../components/favorites/templates/favorites_content