extends ../../../components/main_layout/templates/index
include ./header

block head
  include meta

block locals
  assetPackage = 'favorites'

block body
  #favorites
    .main-layout-container
      header.follows-header
        h1.avant-garde-header-center Favorites &amp; Follows
        +follows-tab-nav
        //include favorites_action
      main
        section.favorite-artworks
          .loading-spinner
        section.follows-empty-hint
        section.suggested-genes
