include ./header
header.follows-header
  h1.avant-garde-header-center Favorites &amp; Follows
  +follows-tab-nav
main
  section.follows(id=type)
    .loading-spinner
  section.follows-empty-hint
  section.suggested-genes
