extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  assetPackage = 'follows'

block body
  #follows.following-container
    .main-layout-container
      include ./follows_content
