@require '../../../../components/tooltips'
@require '../../../../components/inquiry_questionnaire/stylesheets'
@require '../../../../components/zig_zag_banner'

.purchase-flow
  .artwork-commercial
    .artwork-inquiry-button
      color gray-darker-color
    &__limited-partner-message
    &__sale-message
      border 0px
      padding 0px
      margin 0px

    &__shipping
      margin-top 7px

    &__sale-message, &__shipping
      clearfix()

    &__sale-message-left, &__shipping-left
      float left

    &__sale-message-right, &__shipping-right
      float right
      garamond-size(s-body)

    &__sale-message-right
      font-weight bold

    &__shipping-right
      color gray-darker-color

    &__inquiry-buttons
      margin 15px 0 17px 0
      > button
        margin-top 10px
        &:first-child
          margin-top 0

.artwork-commercial
  clearfix()
  &__form
    padding 22px 0
    serif('s-body')
    line-height 1.25 // compact-line-height

  &__sale-message
    garamond-size('l-body')
    font-weight bold
    line-height 1.5
    .artwork-commerical__price span.help-tooltip
      margin-bottom -1px
      font-size 17px
      font-weight normal
  &__price-label
    avant-garde-size('s-headline')
    color gray-darker-color
    line-height 1.5
  &__container
    block-margins 25px
    padding 25px 0
    border-top 1px solid gray-lighter-color
    border-bottom @border-top
  &__shipping-info
    garamond-size('l-caption')
    color gray-darker-color
    line-height 1.5

  &__consignables
    margin (gutter + (gutter / 3)) 0

    &__consign
      margin-top -((gutter / 2) + 2)
      padding distance(gutter / 2) 0
      border-top 2px solid black
      border-bottom @border-top

      &:first-child
        block-margins(gutter / 2)

      > a
        fine-faux-underline()

  &__inquiry-success
    color green-color

    > h3
      sans('s-headline')
      margin-bottom 5px

.artwork-inquiry-form
.artwork-acquire-form
  margin (gutter / 2) 0

.artwork-edition-sets
  block-margins(gutter / 2)

.artwork-edition-set
  display table
  width 100%
  serif('m-caption')
  padding 5px 0
  border-top 1px dotted gray-lighter-color

  &:first-child
    border-top-style solid

  &__radio
  &__details
  &__price
    display table-cell
    height 100%
    vertical-align top

  &__radio
    text-align center

  &__details
    padding 0 10px

    // When not acquireable, radio button is disabled
    &:first-child
      padding-left 0

  &__price
    text-align right
