@require '../../../components/stylus_lib'
@require './development'
@require './user_outcome'

.inquiry-page
  margin (main-header-height + 20px) 0
  +respond-mobile()
    padding 20px

.iqm-alert
  position absolute
  top 50%
  left 0
  right 0
  transform translateY(-50%)
  text-align center
  garamond-size('l-body')

.inquiry-user-outcome-page
  width 420px
  @media screen and (max-width: 440px)
    width 320px
  margin auto
  margin-top 30px

.inqury-user-outcome-title
  avant-garde-size('xl-headline')

.inquiry-details
  margin-top 60px
  margin-left 65px

.inquiry-details-image
  float left
  max-height 100px
  max-width 100px
  margin-right 10px

.inquiry-details-info
  padding-left 10px

.inquiry-options
  clear: left
  margin-top 40px
  text-align center

.inquiry-options-user-outcome-selected-option
  garamond-size('l-body')

.inquiry-options-comment
  width 100%

.inquiry-outcome-submit
  margin-top 30px !important
