@require '../components/main_layout/stylesheets'
@require '../components/scrollbar'
@require '../components/modal'
@require '../components/modalize/stylesheets'
@require '../components/simple_contact/stylesheets'
@require '../components/feedback_modal'
@require '../components/publish_modal'
@require '../components/clock'
@require '../components/recently_viewed_artworks'
@require '../components/inquiry_questionnaire/stylesheets'

// TODO: Remove once Buyers Premium modal has been rebuilt in Reaction
.artwork-auction-buyers-premium-modal
  .modalize-body
    padding 40px

    h2
      sans('l-headline')
      margin-bottom: 10px;
    p
      margin-bottom: 20px
