@require '../components/main_layout/stylesheets'
@require '../components/scrollbar'
@require '../components/modal'
@require '../components/modalize/stylesheets'
@require '../components/simple_contact/stylesheets'
@require '../components/inquiry_questionnaire/stylesheets'
@require '../components/multi_page_modal'
@require '../components/chevron_list'

// TODO: Remove once Buyers Premium modal has been rebuilt in Reaction
.artwork-auction-buyers-premium-modal
  .modalize-body
    padding 40px

    h2
      sans('l-headline')
      margin-bottom: 10px;
    p
      margin-bottom: 20px
