extends ./template

block content
  section.sg-components
    h2 Colors
    .grid-3-up.sg-color-swatches
      for hex, name in colors
        .grid-item.sg-color-swatch( style="background-color: #{hex};" )
          = name
          br
          = hex
