extends ./template

block content
  section.sg-components.sg-grid
    h2 Layout
    h3 Grids
    .sg-description
      p
        | Not intended to be a general layout solution, as most grid systems are—but rather provide a way to display
        | thumbnails in grids with regular intervals.
        | There are three variants: 2-up, 3-up, and 4-up.
        | All grids are percentage based and the grid container element does not have any inherent width.
        | They have fixed width margins that are responsive with a breakpoint at 1024px that cuts the margin in half.
        | Grid containers can have the class
        code .is-flush
        | applied to get rid of all the margins.

    article.sg-component
      h3 Two-up Grid
      .sg-component-rendered
        .grid-2-up
          for i in [1,2,3,4]
            .grid-item= i
      pre: code
        | .grid-2-up
        |   .grid-item Content
        |   //- ...

    article.sg-component
      h3 Three-up Grid
      .sg-component-rendered
        .grid-3-up
          for i in [1,2,3,4,5,6]
            .grid-item= i
      pre: code
        | .grid-3-up
        |   .grid-item Content
        |   //- ...

    article.sg-component
      h3 Four-up Grid
      .sg-component-rendered
        .grid-4-up
          for i in [1,2,3,4,5,6,7,8]
            .grid-item= i
      pre: code
        | .grid-4-up
        |   .grid-item Content
        |   //- ...

    article.sg-component
      h3 Nested Grids
      .sg-component-rendered
        .grid-2-up
          .grid-item 1
          .grid-item 2
          .grid-item( style='background-color: white; ')
            .grid-2-up
              .grid-item 3
              .grid-item 4
              .grid-item( style='background-color: white; ')
                .grid-2-up
                  .grid-item 7
                  .grid-item 8
              .grid-item( style='background-color: white; ')
                .grid-2-up
                  .grid-item 9
                  .grid-item 10

          .grid-item( style='background-color: white; ')
            .grid-2-up
              .grid-item 5
              .grid-item 6
              .grid-item( style='background-color: white; ')
                .grid-2-up
                  .grid-item 11
                  .grid-item 12
              .grid-item( style='background-color: white; ')
                .grid-2-up
                  .grid-item 13
                  .grid-item 14

      pre: code
        | .grid-2-up
        |   .grid-item 1
        |   .grid-item 2
        |   .grid-item
        |     .grid-2-up
        |       .grid-item 3
        |       .grid-item 4
        |       //- ..

    article.sg-component
      h3 N-up Grid
      .sg-component-rendered
        .grid-n-up
          for i in [1,2,3,4,5,6,7,8]
            .grid-item= i
      pre: code
        | .grid-n-up
        |   .grid-item Content
        |   //- ...