extends ./template

block content
  section.sg-components
    h2 Navigation

    article.sg-component
      h3 Garamond Tablist
      .sg-component-rendered
        nav.garamond-tablist
          a.garamond-tab( href='/partners' ) Partners
          span.garamond-tab-separator
          a.garamond-tab( href='/galleries', class='is-active' ) Galleries
          span.garamond-tab-separator.is-vertical
          a.garamond-tab( href='/institutions' ) Institutions
      pre: code
        | nav.garamond-tablist
        |   a.garamond-tab( href='/partners' ) Partners
        |   span.garamond-tab-separator
        |   a.garamond-tab( href='/galleries', class='is-active' ) Galleries
        |   span.garamond-tab-separator.is-vertical
        |   a.garamond-tab( href='/institutions' ) Institutions

    article.sg-component
      h3 Horizontal list nav
      .sg-component-rendered
        nav.horizontal-list-nav
          .hln-cell.is-dominant
            span.hln-link.is-active All
            a.hln-link( href='#' ) New York
            a.hln-link( href='#' ) Los Angeles
            a.hln-link( href='#' ) Berlin
            a.hln-link( href='#' ) London
            a.hln-link( href='#' ) Paris
            a.hln-link( href='#' ) Miami
          .hln-cell
            a.hln-link More&hellip;
      pre: code
        | nav.horizontal-list-nav
        |   .hln-cell.is-dominant
        |     span.hln-link.is-active All
        |     a.hln-link( href='#' ) New York
        |     //- [...]
        |   .hln-cell
        |     a.hln-link More&hellip;

    article.sg-component
      h3 Alphabetical Index
      .sg-component-rendered
        nav.alphabetical-index
          .alphabetical-index-label Browse over 40,000 artists
          .alphabetical-index-range
            for letter in 'abcdefghijklmnopqrstuvwxyz'.split('')
              a( href='#' )= letter
      pre: code
        | nav.alphabetical-index
        |   .alphabetical-index-label Browse over 40,000 artists
        |   .alphabetical-index-range
        |     for letter in 'abcdefghijklmnopqrstuvwxyz'.split('')
        |       a( href='#' )= letter

    article.sg-component
      h3 Contextual Return Link
      .sg-component-rendered
        a.contextual-return-link( href='/about' )
          i.icon-chevron-small-left
          | Back to the about page
      pre: code
        | a.contextual-return-link( href='/about' )
        |   i.icon-chevron-small-left
        |   | Back to the about page

    h3 Image Links
    .sg-description
      p
        | Utility classes for displaying linked thumbnails that fade to 50% opacity, backed by the color black.
        | Includes two helper classes
        code .is-four-three
        | and
        code .is-three-two
        | for cropping arbitrarily sized images to the ratios 4/3 and 3/2, repsectively.
        | Cropped images can be sized with percentages and the width/height ratio will remain consistent as the browser window is resized.

    article.sg-component
      h3 Hoverable Image Links
      .sg-component-rendered
        a.hoverable-image-link.sg-display
          img( src='https://d1ycxz9plii3tb.cloudfront.net/featured_links/539f598d8b3b814bcd00088e/2/medium_rectangle.jpg' )
        hr
        a.hoverable-image-link.sg-display( style='width: 33%; ')
          img( src='https://d1ycxz9plii3tb.cloudfront.net/additional_images/528df90d275b246f6900096d/large.jpg' )
        a.hoverable-image-link.sg-display( style='width: 25%; ')
          .hoverable-image.is-four-three( style='background-image: url(https://d1ycxz9plii3tb.cloudfront.net/additional_images/50324ffa2b117f0002000551/large.jpg);' )
        a.hoverable-image-link.sg-display( style='width: 25%; ')
          .hoverable-image.is-three-two( style='background-image: url(https://d1ycxz9plii3tb.cloudfront.net/additional_images/50324ffa2b117f0002000551/large.jpg);' )

      pre: code
        | a.hoverable-image-link: img( src='...' )
      pre: code
        | a.hoverable-image-link
        |   .hoverable-image.is-four-three( style='background-image: url(...);' )
      pre: code
        | a.hoverable-image-link
        |   .hoverable-image.is-three-two( style='background-image: url(...);' )

    article.sg-component
      h3 Leader dots list
      .sg-component-rendered
        .leader-dots-list
          .leader-dots-list-item
            span Bluepoints
            span $10
          .leader-dots-list-item
            span Cape Cods
            span $15
      pre: code
        | .leader-dots-list
        |   .leader-dots-list-item
        |     span Bluepoints
        |     span 10
        |   .leader-dots-list-item
        |     span Cape Cods
        |     span 15

    article.sg-component
      h3 Chevron nav list
      .sg-component-rendered
        .chevron-nav-list
          a.is-active Active item
          a Another item
          a Yet Another item
      pre: code
        | .chevron-nav-list
        |   a.is-active Active item
        |   a Another item
        |   a Yet Another item

    article.sg-component
      h3 Small chevron list
      .sg-component-rendered
        .small-chevron-list
          a An item
          a Another item
          a Yet Another item
      pre: code
        | .small-chevron-list
        |   a An item
        |   a Another item
        |   a Yet Another item

    article.sg-component
      h3 Large chevron list
      .sg-component-rendered
        .large-chevron-list
          a An item
          a Another item
          a Yet Another item
      pre: code
        | .large-chevron-list
        |   a An item
        |   a Another item
        |   a Yet Another item
