extends ../../../components/main_layout/templates/blank

append locals
  - assetPackage = 'style_guide'

block body
  //- Develop new components here

  .js-debug( style='padding:10px;text-align:center;background-color:#eee;z-index:9999;font-family:monospace;' )
    | ...

  hr.is-invisible

  .is-center-aligned: nav.garamond-tablist
    a.js-open( data-prequalify='false' ) Open Default
    span.garamond-tab-separator
    a.js-open( data-prequalify='true' ) Open Prequalifcation
