extends ./template

block content
  section.sg-components
    //- Develop new components here

    .toggle-list
      a More cities
      .toggle-list-options
        for i in [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          a.toggle-list-option Some option