block locals
  - bodyClass = helpers ? helpers.buildBodyClass(sd) : ''
  - defaultOptions = {modal: true, flash: true, stripev3: false, sailthru: true, marketo: true, quantcast: false}
- options = options ? Object.assign({}, defaultOptions, options) : defaultOptions

doctype html
html( data-useragent= userAgent lang="en")
  head
    include head
    block head

    link( type='text/css', rel='stylesheet', href= asset('/assets/main_layout.css') )

    if assetPackage
      link( type='text/css', rel='stylesheet', href= asset('/assets/#{assetPackage}.css') )

  body( class= bodyClass )
    if options.modal
      include ../../modal/template

    if options.flash
      include ../../flash/template

    //- Needed for search results skeleton
    if pageType == 'search'
      #search-page-header
        include ../header/templates/index

    #blank-layout-container: block body

    #scripts
      block scripts
        include scripts
        script( src= asset('/assets/main_layout.js') )
        if assetPackage
          script( src= asset('/assets/#{assetPackage}.js') )
