extends blank

append locals
  - assetPackage = locals.assetPackage || ''
  - bodyClass = bodyClass + ' ' + (locals.bodyClass || '')

block head
  != head
  != css
  != styleTags

block body
  #react-root
    != body
  if pageType == 'search'
    #loading-container
      != loadingComponent
  #react-portal

  if jsonLD
    include ./json_ld

//- All hydration data should be loaded before React et al
block prepend scripts
  script.
    var __BOOTSTRAP__ = !{JSON.stringify(data)}
  != scripts
