- var artistName = sd.CURRENT_PATH.split('/').slice(-1)[0].replace('-', ' ').toLowerCase()
- artistName = artistName.replace(/(?:^|\s|-)\S/g, function(c) {return c.toUpperCase()}) 
title= (artistName + ' at ' + fair.get('name'))
meta( property='og:title', content=(artistName + ' at ' + fair.get('name')) )
meta( name="description", content=('Browse works by ' + artistName + ' being shown at ' + fair.get('name') + ' on Artsy.') )
meta( property="og:description", content=('Browse works by ' + artistName + ' being shown at ' + fair.get('name') + ' on Artsy.') ) 
