title= ('Artworks from ' + fair.get('name'))
meta( property='og:title', content=('Artworks from ' + fair.get('name')) )
meta( name="description", content=('Browse artworks being shown at ' + fair.get('name') + ' on Artsy.') )
meta( property="og:description", content=('Browse artworks being shown at ' + fair.get('name') + ' on Artsy.') )
