//
// A library of mixins and variables commonly used throughout stylesheets.
//
// Do NOT put any actual style declarations here. We don't want this to impact
// CSS size.
//

@import '../../../node_modules/nib'
@import './typography'

default-font-size = 16px
avant-garde-font-size = 14px
large-font-size = 22px
large-avant-garde-font-size = 18px
light-gray-border-color = #CCC
highlight-color = #6a0bc1
bad-red-color = rgb(199, 48, 48)
dark-gray-text-color = #666
golden-ratio-small-percent = 38%
light-gray-text-color = rgb(125, 125, 125)
note-yellow-bg-color = #FEFFD8
reserve-yellow-color = #F1AF1B

json('../../../node_modules/artsy-ezel-components/stylus_lib/colors.json')

// Z-map
z-login-signup = 1000
z-app-banner = 8000
z-modal-top = 9999
z-modal-close = 11000
z-cta = 2000

mask-repeat()
  vendor('mask-repeat', arguments)

mask-size()
  vendor('mask-size', arguments)

mask-image()
  vendor('mask-image', arguments)

font-smoothing()
  vendor('font-smoothing', arguments)

avant-garde()
  font-family 'ITC Avant Garde Gothic W04', 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif'
  font-smoothing antialiased
  text-transform uppercase
  letter-spacing 1px

serif()
  font-family 'Adobe Garamond W08', 'adobe-garamond-pro', 'AGaramondPro-Regular', 'Times New Roman', 'Times', 'serif'
  font-smoothing antialiased
  text-rendering optimizelegibility

garamond()
  serif()

alt-calc()
  for prefix in webkit moz ms o
    arguments = unquote(arguments) if typeof(arguments) is string
    add-property(current-property[0], s('-%s-calc(%s)', prefix, arguments))
  s('calc(%s)', arguments)

faux-underline(spacing=5px)
  display inline-block
  position relative
  &::after
    content ''
    position absolute
    left 0
    display inline-block
    height 1em
    width 100%
    border-bottom 1px solid
    margin-top spacing
  &:hover
    text-decoration none

fine-faux-underline()
  text-decoration none
  background-image linear-gradient(top, transparent 0, #666 1px, transparent 0)
  background-size 1px 5px
  background-repeat repeat-x
  background-position bottom

ellipsis()
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

block-margins(margin-size = 20px)
  margin margin-size 0
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0




// Easing Variables

// Ease In
$ease-in-quad = cubic-bezier(0.550, 0.085, 0.680, 0.530)
$ease-in-cubic = cubic-bezier(0.550, 0.055, 0.675, 0.190)
$ease-in-quart = cubic-bezier(0.895, 0.030, 0.685, 0.220)
$ease-in-quint = cubic-bezier(0.755, 0.050, 0.855, 0.060)
$ease-in-sine = cubic-bezier(0.470, 0.000, 0.745, 0.715)
$ease-in-expo = cubic-bezier(0.950, 0.050, 0.795, 0.035)
$ease-in-circ = cubic-bezier(0.600, 0.040, 0.980, 0.335)
$ease-in-back = cubic-bezier(0.600, -0.280, 0.735, 0.045)

// Ease Out
$ease-out-quad = cubic-bezier(0.250, 0.460, 0.450, 0.940)
$ease-out-cubic = cubic-bezier(0.215, 0.610, 0.355, 1.000)
$ease-out-quart = cubic-bezier(0.165, 0.840, 0.440, 1.000)
$ease-out-quint = cubic-bezier(0.230, 1.000, 0.320, 1.000)
$ease-out-sine = cubic-bezier(0.390, 0.575, 0.565, 1.000)
$ease-out-expo = cubic-bezier(0.190, 1.000, 0.220, 1.000)
$ease-out-circ = cubic-bezier(0.075, 0.820, 0.165, 1.000)
$ease-out-back = cubic-bezier(0.175, 0.885, 0.320, 1.275)

// Ease In Out
$ease-in-out-quad = cubic-bezier(0.455, 0.030, 0.515, 0.955)
$ease-in-out-cubic = cubic-bezier(0.645, 0.045, 0.355, 1.000)
$ease-in-out-quart = cubic-bezier(0.770, 0.000, 0.175, 1.000)
$ease-in-out-quint = cubic-bezier(0.860, 0.000, 0.070, 1.000)
$ease-in-out-sine = cubic-bezier(0.445, 0.050, 0.550, 0.950)
$ease-in-out-expo = cubic-bezier(1.000, 0.000, 0.000, 1.000)
$ease-in-out-circ = cubic-bezier(0.785, 0.135, 0.150, 0.860)
$ease-in-out-back = cubic-bezier(0.680, -0.550, 0.265, 1.550)
