include ../../../../components/side_tabs/mixins

- var tabs = helpers.additional_info.build(artwork)

if tabs.length
  section.artwork-additional-info.artwork-section.side-tabs( class='js-artwork-additional-info' )
    +nav(tabs, helpers.artists.name)

    .artwork-additional-info__content.side-tabs__content
      for tab, i in tabs
        +tab(tab, i)
          case tab
            when 'about_the_work'
              include ./templates/about_the_work
            when 'exhibition_history'
              include ./templates/exhibition_history
            when 'bibliography'
              include ./templates/bibliography
            when 'provenance'
              include ./templates/provenance
