@require '../stylus_lib'

.article-sa-footer-left, .article-sa-footer-right
  display: inline-block
  vertical-align: top
  width: 50%
  min-height: 300px
  height: 100%
  position: relative

.article-sa-title
  font-size: 72px
  font-style: italic
  text-decoration: none

.article-sa-artsy-logo
  width: 126px
  max-height: 32px
  display: inline-block
  vertical-align: middle

.article-sa-logos
  position: absolute
  bottom: 0px

.article-sa-primary-logo
  display: inline-block
  vertical-align: top
  img
    max-height: 32px
    max-width: 100px

.article-sa-secondary-logo-text
  avant-garde-size('body')
  display: inline-block
  vertical-align: top
  margin-right: 10px
  margin-top: 2px

.article-sa-secondary-logo
  margin-top: 20px
  img
    display: inline-block
    vertical-align: top
    max-height: 20px

.article-sa-cta
  margin-top: 15px
  text-decoration: none

.article-sa-related
  width: 60%
  margin-left: auto
  max-width: 300px
  a
    border-bottom: 1px solid
    font-size: 24px
    padding: 13px 0px
    text-align: center
    display: block
    text-decoration: none
    &:first-child
      border-top: 1px solid
    &:hover
      color: white
      background: black

// Sticky header
.article-sa-sticky-header
  position: fixed
  border-bottom: 1px solid
  top: 0px
  left: 0px
  width: 100%
  z-index: zindex-primary-nav + 1
  background: white
  opacity: 0
  transition: all 400ms
  min-height: 75px
  pointer-events: none
  &.visible
    pointer-events: all
    opacity: 1
    transition: all 200ms

.article-sa-sticky-left, .article-sa-sticky-right
  position: absolute
  top: 20px

.article-sa-sticky-left
  left: 20px

.article-sa-sticky-right
  right: 20px
  top: 23px
  .article-sticky-back
    text-decoration: none

.article-sa-sticky-center
  text-align: center
  margin-top: 25px
  .article-sa-sticky-title
    avant-garde-size('l-headline')
    cursor: pointer
    transition: all 300ms
    &:hover
      color: purple-color

  .article-sa-related-container
    max-height: 0px
    transition: max-height 300ms
    overflow: hidden
    &.visible
      max-height: 100px

  .article-sa-related
    margin: 25px auto
