@require '../stylus_lib'

.super-article-footer-left, .super-article-footer-right
  display: inline-block
  vertical-align: top
  width: 50%
  min-height: 300px
  height: 100%
  position: relative

.super-article-title
  font-size: 72px
  font-style: italic

.super-article-artsy-logo
  width: 126px
  max-height: 32px
  display: inline-block
  vertical-align: middle

.super-article-logos
  position: absolute
  bottom: 0px

.super-article-primary-logo
  display: inline-block
  vertical-align: top
  img
    max-height: 32px
    max-width: 100px

.super-article-secondary-logo-text
  avant-garde-size('body')
  display: inline-block
  vertical-align: top
  margin-right: 10px
  margin-top: 2px

.super-article-secondary-logo
  margin-top: 20px
  img
    display: inline-block
    vertical-align: top
    max-height: 20px

.super-article-cta
  text-decoration: none
  font-weight: bold

.super-article-related
  width: 60%
  border-top: 1px solid
  margin-left: auto
  a
    border-bottom: 1px solid
    font-size: 24px
    padding: 13px 0px
    text-align: center
    display: block
    &:hover
      color: white
      background: black
