@require '../stylus_lib'

.article-sa-footer
  margin-bottom: 100px
  display: flex
  .article-sa-title
    font-size: 50px
    display: block

.article-sa-footer-left, .article-sa-footer-right
  flex: 1
  width: 50%
  min-height: 300px

.article-sa-title
  font-size: 72px
  line-height: 106%
  font-style: italic
  text-decoration: none

.article-sa-artsy-logo
  width: 126px
  max-height: 32px
  display: inline-block
  vertical-align: middle

.article-sa-logos
  position: absolute
  bottom: 0px

.article-sa-primary-logo
  display: inline-block
  vertical-align: top
  img
    height: 32px

.article-sa-secondary-logo-text
  avant-garde-size('body')
  display: inline-block
  vertical-align: top
  margin-right: 10px
  margin-top: 2px

.article-sa-secondary-logo
  margin-top: 20px
  img
    display: inline-block
    vertical-align: top
    max-height: 20px

.article-sa-cta-container
  margin-top: 20px

.article-sa-cta
  margin-top: 20px
  text-decoration: none

.article-sa-footer-blurb
  margin-top: 20px

.article-sa-related
  width: 100%
  margin-left: auto
  max-width: 410px
  a
    border-bottom: 1px solid
    font-size: 22px
    line-height: 110%
    padding: 18px 13px
    text-align: center
    display: block
    text-decoration: none
    transition: background-color 0.3s
    &:first-child
      border-top: 1px solid
    &:hover
      color: white
      background: black

// Sticky header
.article-sa-sticky-header
  position: fixed
  border-bottom: 1px solid gray-lighter-color
  top: 0px
  left: 0px
  width: 100%
  z-index: zindex-primary-nav + 1
  background: white
  opacity: 0
  transition: all 400ms
  min-height: 75px
  pointer-events: none
  &.no-transition
    transition: all 0ms
  &.visible
    pointer-events: all
    opacity: 1
    transition: all 200ms

.article-sa-sticky-left, .article-sa-sticky-right
  position: absolute
  top: 20px

.article-sa-sticky-left
  left: 20px

.article-sa-sticky-right
  right: 20px
  top: 23px
  .article-sticky-back
    text-decoration: none

.article-sa-cta-sticky
  position: absolute
  bottom: 20px
  left: 20px
  opacity: 0
  transition: opacity 0.3s
  transition-delay: 0s
  pointer-events: none

.article-sa-sticky-center
  text-align: center
  margin-top: 25px
  .article-sa-sticky-title
    avant-garde-size('l-headline')
    font-size: 15px
    cursor: pointer
    transition: all 300ms
    text-decoration: none
    &:hover
      color: purple-color

  .article-sa-related-container
    max-height: 0px
    transition: max-height 300ms
    overflow: hidden
    &.visible
      .article-sa-cta-sticky
        opacity: 1
        transition-delay: 0.3s
        pointer-events: auto

  .article-sa-related
    margin: 25px auto
