if suggestion.isWithImages()
  .typeahead-suggestion-thumbnail
    span: img(
      src= suggestion.cropUrlFor({ width: 32, height: 32 })
      width='32'
      height='32'
      onerror='this.style.display="none";'
    )

.typeahead-suggestion-name
  = suggestion.get('name')

.typeahead-suggestion-affordance
  .avant-garde-button-black.is-tiny
    | Add
