@require '../stylus_lib'
@require '../multi_page_modal'
@require '../chevron_list'

.feedback-modal
  padding 30px 30px 60px 30px
  h1
  h2
  h3
    margin 15px 0 10px
  p
    block-margins(20px)

.fm-garamind-headline
  garamond-size('l-body')

.fm-avant-garde-headline
  avant-garde-size('m-headline')

.fm-multiple-choice
  margin 50px 0
