- haveItems = _.where(navItems, function(item){ return item.hasItems })

if haveItems.length > 1
  ul.avant-garde-tabs( class= extraClasses )
    #avant-garde-tabs__cursor
    each nav, index in navItems
      //- If we are past the first one and the previous one is empty
      - navClasses = previous ? '' : 'avant-garde-tabs__tab--active'
      if nav && nav.hasItems
        li.avant-garde-tabs__tab( data-tab= nav.name.toLowerCase(), class= navClasses )
          = nav.name

        - previous = nav
else
  .avant-garde-header-center
    = emptyMessage
