extends ../../../components/layout/templates/scaffold

block body
  #feature-bid-page-confirm.main-side-margin.mobile-app-top-padding
    h1.avant-garde-header-center= h1Copy
    a.avant-garde-box-button.avant-garde-box-button-black(
      href=href
    )= buttonCopy
