link( type='text/css', rel='stylesheet', href=asset('/assets/main_layout.css') )
if assetPackage
  link( type='text/css', rel='stylesheet', href=asset('/assets/#{assetPackage}.css') )
body( class=bodyClass )

//- Global component mixins
include ../../../modal/template
include ../../../flash/template

//- Header, body block, footer
include ../../header/templates/index
#main-layout-container.responsive-layout-container
  
  //- Body content from non-jade templating engines injected here
  block body
