#scroll-frame-spinner: .loading-spinner
include ../../footer/template

//- Javascripts
#scripts
  include ../scripts
  script( src= asset('/assets/main_layout.js') )
  if assetPackage
    script( src=asset('/assets/#{assetPackage}.js') )
      
  //- Footer scripts from non-jade template engines injected here
  block scripts
