//- Partials have been broken out in order to enable interpolatation between
//- different templating engines. The use of blocks causes problems due to the
//- impossiblity of injecting markup from another system into the `block` portal.

include _header
include _body
include _footer
