@require '../../../../components/stylus_lib'

.artsy-primer-next-step
  position fixed
  top 140px
  right 0
  z-index 2
  padding 20px
  width 340px
  background rgba(255,255,255,0.95)
  box-shadow -4px 4px 8px rgba(0,0,0,0.3)

  &-progress
    background gray-lighter-color
    height 5px
    width 100%
    position absolute
    top 0
    left 0

    &-inner
      position absolute
      top 0
      left 0
      width 0
      height 5px
      background purple-color
      transition width 0.3s ease-in-out

  &-header
    avant-garde()
    font-size 20px

  &-label
    garamond-size('s-body')
    margin-top 5px
    color gray-dark-color

  &-button
    background purple-color
    margin-top 20px
    width 100%
    color white
    &:hover, &:focus
      background purple-color
    @media screen and (max-width: 768px)
      margin-top 10px

  &-artworks
    overflow-x scroll
    width 100%
    padding-top 10px
    &-inner
      white-space nowrap
    @media screen and (max-width: 768px)
      display none

  &-artwork
    display inline-block
    margin-right 20px
    position relative

    .overlay-button-save
      opacity 1

    &-img
      height 120px

  @media screen and (max-width: 768px)
    position fixed
    bottom 0
    width 100%
    height 150px
    top auto
    z-index 10

