a.mlsb-suggestion( href=item.location )
  span.mlsb-suggestion-thumbnail
    img( src=item.image_url, width='32' height='32' )
  span.mlsb-suggestion-value
    span.mlsb-suggestion-display
      = item.display
    if item.model
      em.mlsb-suggestion-kind
        = item.display_model
