.artwork-filter-empty-message
  display none

.artwork-filter-content
  min-height 300px

.artwork-filter-dropdowns, .artwork-filter-counts
  padding-bottom 20px

.artwork-filter-counts
  color light-gray-text-color
  font-style italic
