#user-profile-collection
  position relative
  header
    margin-top 120px
  h1
    font-size 36px
  .contextual-return-link
    position absolute
    left 0

#user-profile-collection-artworks
  margin 100px auto
  .artwork-item-image
    max-height none
    width 100%
  .artwork-item-collection-name
    display none

#user-profile-collection-artworks-spinner
  position relative
  padding 100px 0

#user-profile-collection-right
  float right
  avant-garde()
  position absolute
  top -2px
  right 0
  font-size default-avant-garde-font-size
  a
    padding 2px 15px 0 15px
    border-right 2px solid gray-lighter-color
    display inline-block
    &:last-child
      border-right 0
      padding-right 0

#upc-empty-header
  font-size 21px
  background yellow-light-color
  padding 20px 0
  text-align center
  margin 40px 0 80px 0

#upc-featured-sets
  h3, h4
    avant-garde()
  h3
    color white
    font-size 13px
    bottom 15px
    left 20px
    position absolute
  a
    display block
    background black
    position relative
    &:hover img
      opacity 0.5
  img
    width 100%
    transition opacity 0.3s

.user-profile-collection-body .favorites2-edit-modal-delete-container h2
  height 0
  opacity 0

#user-profile-collection-slideshow
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background white
  z-index 2
  display none

#upc-slideshow-left, #upc-slideshow-right
  background gray-color
  color white
  width fixed
  top 50%
  margin-top -41px
  padding 25px 10px
  position fixed
  cursor pointer
  transition background-color 0.3s
  z-index 2
  &:hover
    background black
  .icon-chevron-left, .icon-chevron-right
    font-size 24px

#upc-slideshow-right
  right 0

#upc-slideshow-close
  position fixed
  top 10px
  right 10px
  cursor pointer
  &:hover .icon-close
    color black
  .icon-close
    font-size 22px
    color gray-dark-color
    transition color 0.3s

#upc-slideshow-artworks
  height 100%
  figure
    text-align center
    opacity 0
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    transition opacity 0.4s ease-in-out
    &::before
      content '.'
      height 100%
      display inline-block
      vertical-align middle
    &.is-active
      opacity 1
    .ucp-slideshow-img-container
      display inline-block
      vertical-align middle
      img
        margin-bottom 10px
        max-height 748px