#user-profile-collection
  position relative
  header
    margin-top 120px
  h1
    font-size 36px
  .contextual-return-link
    position absolute
    left 0

#user-profile-collection-artworks
  margin 100px auto
  .artwork-item-image
    max-height none
    width 100%
  .artwork-item-collection-name
    display none

#user-profile-collection-artworks-spinner
  position relative
  padding 100px 0

#user-profile-collection-right
  float right
  avant-garde()
  position absolute
  top -2px
  right 0
  font-size default-avant-garde-font-size
  a
    padding 2px 15px 0 15px
    border-right 2px solid gray-lighter-color
    display inline-block
    &:last-child
      border-right 0
      padding-right 0

.user-profile-collection-body .favorites2-edit-modal-delete-container h2
  height 0
  opacity 0