#user-profile-collection
  position relative
  header
    margin-top 120px
  h1
    font-size 36px
  .contextual-return-link
    position absolute
    left 0

#user-profile-collection-artworks
  margin 100px 0
  .artwork-item-image
    max-height none
    width 100%

#user-profile-collection-artworks-spinner
  position relative
  padding 100px 0

#user-profile-collection-right
  float right
  avant-garde()
  position absolute
  top -2px
  right 0
  font-size default-avant-garde-font-size
  a
    padding 2px 15px 0 15px
    border-right 2px solid gray-lighter-color
    display inline-block
    &:last-child
      border-right 0
      padding-right 0

#upc-empty-header
  font-size 21px
  background yellow-light-color
  padding 20px 0
  text-align center
  margin 40px 0 80px 0

#upc-featured-sets
  h3, h4
    avant-garde()
  h3
    color gray-dark-color
    font-size 13px
  h4
    font-size 17px
  a
    text-decoration none
  img
    width 100%
    margin 10px 0 15px 0