extends ../../../components/main_layout/templates/index.jade
include ../../../components/article_figure/mixin.jade

block head
  include meta/articles.jade

append locals
  - assetPackage = 'articles'
  - bodyClass = bodyClass + ' body-articles'

block body
  include full_feed.jade
