.articles-articles-page
  if (featuredArticles = articles.featured()).length
    header.am-featured.main-layout-container
      .am-featured-hero
        - article = featuredArticles[0]
        +article-figure(article, 1000, false, false)
      #news-panel
      //- renders reaction newsPanel via magazine.coffee

  if sd.CURRENT_PATH != '/articles' && section && section.get('featured_links')
    section.articles-featured-articles.main-layout-container
      h4= section.get('featured_links_header')
      ul.grid-4-up
        for link in section.get('featured_links')
          li.grid-item
            a( href="#{link.url}" )
              img( src=crop(link.thumbnail_url, { width: 70, height: 70 }) )
              p= link.title
        +remainingStickies(section, articles, 70, 70)

  .articles-articles-feed
    .articles-feed-articles.js-articles-feed-articles
      for article in articles.feed()
        .articles-feed-item( data-tier= article.get('tier') )
          include ../../../components/articles_feed/templates/article

    .js-articles-feed-more
      include ../../../components/articles_feed/templates/button

  if section && section.get('slug') == sd.GALLERY_INSIGHTS_SLUG
    .articles-insights-section.main-layout-container
      include ../../../components/email/templates/gallery_insights_form
