mixin remainingStickies(section, articles, width, height)
  - var remainingArticles = 4 - section.get('featured_links').length
  - var i = 0
  - var topTierArticles = articles.filter(function(article){return article.get('tier') === 1})
  while remainingArticles > 0
    - var stickyArticle = topTierArticles[i]
    if stickyArticle
      li.grid-item
        a( href=stickyArticle.href() )
          img( src=crop(stickyArticle.get('thumbnail_image'), {
            height: height, width: width }) )
          p= stickyArticle.get('thumbnail_title')
    - remainingArticles = remainingArticles - 1
    - i = i + 1
