extends ../../../components/main_layout/templates/index
include ../../../components/article_figure/mixin
include ../../../components/share/mixin
include ./mixin

block head
  include meta/section

append locals
  - assetPackage = 'articles'

block body
  header.articles-section-header.main-layout-container
    .articles-section-header-left
      a( href='/posts' ) Editorial
      h1= section.get('title')
      p!= section.mdToHtml('description')
    if section.get('partner_logo_url')
      .articles-section-header-right
        | In Partnership With
        a( href=section.get('partner_website_url') target='_blank' )
          img( src=section.get('partner_logo_url') )
        hr
        +share(section.get('title') + ' on Artsy')
  include full_feed
