@require '../stylus_lib'
@require './fixed_header'

tab-height = 46px
color-transition-duration = 0.2s
tab-padding = 15px 18px 10px 18px

.filter-nav
  display inline-block

.filter-nav-active-text
  display none
  overflow ellipsis
  max-width 120px
  text-align left

.filter-button
  transition color color-transition-duration
  &:hover, &:focus, &:active, &.is-active
    color purple-color

  .artsy-checkbox--checkbox
    margin-right 15px
    top -1px

.filter-button, .filter-dropdown
  display inline-block
  border 1px solid gray-lighter-color
  avant-garde()
  font-size 13px
  line-height 160%
  padding tab-padding
  background transparent
  cursor pointer
  display inline-block
  vertical-align middle
  margin-top -4px
  text-decoration none
  + .filter-button, + .filter-dropdown
    border-left 0
  &.is-active
    .filter-nav-active-text
      display block
    .filter-nav-main-text
      font-size: 9px
      text-align: left
      position: absolute
      margin-top: -16px
      color black

  .is-disabled
     background-color gray-darkest-color
     cursor text
     pointer-events none
  a
    text-decoration none

.filter-dropdown
  position relative
  padding-right 35px
  &.is-active
    color purple-color
  nav
    z-index 2
    background black
    position absolute
    top (tab-height - 1)
    left 0
    width 300px
    display none
    border-top 1px solid gray-darkest-color
  a
    text-align left
    color white
    garamond()
    font-size default-garamond-font-size
    text-transform none
    display block
    border-bottom 1px solid gray-darkest-color
    padding tab-padding
    transition background-color color-transition-duration
    position relative
    text-transform capitalize
    .icon-check
      content "\e627"
      font-size 16px
      position absolute
      right 10px
      bottom 7px
      display none
    &.is-active .icon-check
      display block
    &:hover, &:active, &:focus
      background-color #3a3a3a
      border-color @background-color
  .icon-arrow-down
    font-size 8px
    display block
    position absolute
    top 9px
    right 17px

.filter-dropdown:hover
  background black
  color white
  nav
    display block
  .filter-nav-main-text
  .filter-nav-active-text
    color white

.filter-dropdown-count
  margin-left 10px
  color #777

.filter-dropdown-text
  text-transform capitalize

.filter-artworks-spinner
  position relative
  padding 150px 0

.filter-artworks-no-results
  padding 150px 0
  display none
  text-align center
  font-style italic

.filter-artworks
  margin-bottom 150px
  min-height 800px
  &.filter-artworks-no-infinite-scroll
    margin-bottom 50px
    .filter-artworks-spinner
      display none
  &.filter-artworks-no-infinite-scroll.is-loading
    .filter-artworks-spinner
      display block
  &[data-state='no-results']
    .filter-artworks-no-results
      display block
    .filter-artworks-list, .filter-artworks-spinner, .filter-artworks-see-more
      display none
  &[data-state='finished-paging']
    .filter-artworks-spinner, .filter-artworks-see-more
      display none

.filter-artworks-sort-count
  margin-bottom 30px

.filter-sort-count-pulldown
  float right
  margin-top -10px

.filter-sort-count-count
  float left
  font-style italic

.filter-sort-count
  clearfix()

h2.filter-heading
  margin-bottom 10px
  display none
  text-transform capitalize
  margin-top 0px

.filter-artworks-see-more
  cursor pointer
  text-align center
  margin-top 50px

