include meta

.buy-art-header( style="background-image: url(#{header.image});" )
  i.icon-logotype
  .buy-art-header__content
    .buy-art-header__title= header.headline
    .buy-art-header__signup-buttons
      a.bah__email-signup-button(
        href='#'
      )
        i.icon-mail
        | Sign up using email
      a.bah__facebook-signup-button(
        href='#'
      )
        i.icon-facebook
        | Sign up with Facebook
