guide-color = #4affff

#about2-grid
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 9
  display none
  pointer-events none
  .about2-container
    margin 0 auto
    height 100%
    > div
      display inline-block
      vertical-align left
      border-right 1px solid guide-color
      height 100%
      &:first-child
        border-left 1px solid guide-color
  .about2-grid-column
    width column-width
  .about2-grid-gutter
    width gutter-width
