@import '../../../components/stylus_lib'
@import './edit'
@import './lib'

.body-about2
  #main-layout-header
    position absolute
  #main-layout-container
    margin-top 0 !important
    height 100% !important
  #main-layout-footer
    display none
  .main-layout-footer-push
    background-color white

.about2-container
  width container-width
  margin 120px auto
  font-size 18px
  line-height 28px

.about2-section-header
  font-size 42px
  line-height 54px
  avant-garde()
  position relative
  text-align center
  margin 120px 0 60px 0
  letter-spacing 2px
  &::after
    content '.'
    color transparent
    width 50px
    height 3px
    background black
    bottom -20px
    display block
    position absolute
    left calc(50% \- @width / 2)

.about2-section-preamble
  width (gutter-width * 6) + (column-width * 3)
  line-height 28px
  margin 60px auto 120px

.about2-pull-blurb
  h1
    avant-garde()
    small-avant-garde()
    line-height 1
  h2
    font-size 42px
    line-height 48px
  h1 + h2
    margin-top 10px
  h2 + p
    margin-top 30px

.about2-avant-garde-caption
  avant-garde()
  small-avant-garde()
  a
    text-decoration none
  em
    color gray-dark-color
    font-style normal
    &:before
      content '–'
      padding 0 5px
      display inline-block

.about2-left-half-width-column
  width column-width * 3 + gutter-width * 4
  margin-right gutter-width * 2

.about2-right-half-width-column
  width column-width * 3 + gutter-width * 4

.about2-left-half-width-column, .about2-right-half-width-column
  display inline-block
  vertical-align top
  img
    max-width 100%
    margin-bottom 8px

.about2-section
  overflow hidden

@import './grid'
@import './nav'
@import './hero_unit'
@import './section1'
@import './section2'
@import './section3'
@import './section3_alt'
@import './section4'
@import './section5'
@import './section6'
