@import '../../../components/stylus_lib'
@import './edit'
@import './lib'

.body-about2
  #main-layout-header
    position absolute
  #main-layout-container
    margin-top 0 !important
    height 100% !important
  #main-layout-footer
    display none
  .main-layout-footer-push
    background-color white

.about2-container
  width container-width
  margin 180px auto
  font-size 18px
  line-height 28px

.about2-section-header
  font-size 42px
  line-height 54px
  avant-garde()
  position relative
  text-align center
  margin 120px 0 60px 0
  letter-spacing 2px
  &::after
    content ''
    color transparent
    width 50px
    height 3px
    background black
    bottom -20px
    display block
    position absolute
    left calc(50% \- @width / 2)

.about2-section-preamble
  width columns(3) + gutters(6)
  line-height 28px
  margin gutter-width auto gutters(2)

.about2-pull-blurb
  margin-bottom gutter-width
  h1
    avant-garde()
    small-avant-garde()
    line-height 1
  h2
    font-size 42px
    line-height 48px
  h1 + h2
    margin-top 10px
  h2 + p
    margin-top 30px

.about2-avant-garde-caption
  avant-garde()
  small-avant-garde()
  margin-bottom 5px
  a
    text-decoration none
  em
    color gray-dark-color
    font-style normal
    &:before
      content '–'
      padding 0 5px
      display inline-block

.about2-garamond-caption
  garamond()
  font-size 15px
  margin-bottom 5px
  &, a
    color gray-dark-color
  a
    text-decoration none

.about2-artwork-details
  @extends .about2-garamond-caption
  font-size 16px
  line-height 1.4
  margin 15px 0

.about2-image-container
  display block
  margin gutter-width 0
  position relative
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0
  img
    margin-bottom 5px
  > *
    display inline-block
    width 100%
  &.is-pin-right
    text-align right
    > *
      text-align left

.about2-section
  overflow hidden

@import './grid'
@import './nav'
@import './hero_unit'
@import './section1'
@import './section2'
@import './section3'
@import './section4'
@import './section5'
@import './section6'
