.about2-section-nav
  position absolute
  width 100%
  z-index 3
  background-color white
  border-bottom 1px solid gray-lighter-color
  &.is-fixed
    position fixed
    top 0
    left 0
    right 0
  > nav
    display table
    width container-width
    height 65px
    margin auto
    > a
      display table-cell
      cursor pointer
      width 16.6%
      height 100%
      padding 20px
      text-align center
      vertical-align middle
      avant-garde()
      font-size 13px
      letter-spacing 2px
      color gray-color
      transition color 0.5s
      &:hover
      &.is-active
        color purple-color
