#about2-markdown-page
  @extends .about2-container
  margin-top 0
  h1
    @extends .about2-section-header
    @extends .about2-container
  h2
  p
    span(3)
    margin-left gutters(4) + columns(2)
    margin-right gutters(2) + column-width
  h2
    @extends .about2-pull-blurb h2
    @extends .about2-container
    position relative
    margin-bottom 0
    > a
      text-decoration none
    em
      position absolute
      top 0
      right 100%
      margin-right (gutters(2))
      white-space nowrap
      avant-garde()
      font-size 11px
      font-style normal
  p
    margin-top gutter-width
    margin-bottom gutter-width
  // Go to link
  h2 + p + p > a
    avant-garde()
    font-size 15px
    text-decoration none
