@import '../../../components/stylus_lib'
@import './lib'

#about2-section5-pull-blurb-1, #about2-section5-pull-blurb-2
  position relative
  .about2-pull-blurb
    width (column-width * 3) + (gutter-width * 4)
    position absolute
    z-index 1
    top 0
    left 0
    p
      width (column-width * 2) + (gutter-width * 2)
  img, small
    width (column-width * 4) + (gutter-width * 6)
    margin-left (column-width * 2) + (gutter-width * 4)
  img
    margin-top 50px

#about2-section5-pull-blurb-1-images
  margin-left column-width + (gutter-width * 2)
  margin-top gutter-width * 2
  clearfix()
  li
    margin-bottom (gutter-width * 2)
    img
      width 100%
  li:nth-child(1), li:nth-child(3)
    float left
    width (column-width * 2) + (gutter-width * 2)
    margin-right gutter-width * 2
  li:nth-child(2), li:nth-child(4)
    float right
    width (column-width * 3) + (gutter-width * 4)

#about2-section5-pull-blurb-2
  margin-bottom 50px
  small
    color gray-dark-color
    font-size 16px
    font-style italic

#about2-section5-pull-blurb-2-images
  clearfix()
  li
    margin-bottom (gutter-width * 2)
    img
      width 100%
  li:nth-child(1)
    margin-left (column-width * 2) + (gutter-width * 4)
    width (column-width * 3) + (gutter-width * 4)
    margin-right column-width + (gutter-width * 2)
  li:nth-child(2)
    width (column-width * 3) + (gutter-width * 4)
    margin-right gutter-width * 2
    float left
  li:nth-child(3)
    float right
    width (column-width * 2) + (gutter-width * 2)
    margin-right column-width + (gutter-width * 2)
  li:nth-child(4)
    margin-left column-width + (gutter-width * 2)
    margin-right @margin-left
    width (column-width * 4) + (gutter-width * 6)
  li:nth-child(5)
    float right
    width (column-width * 3) + (gutter-width * 4)

#about2-section5-pull-blurb-3
  width (column-width * 2) + (gutter-width * 2)
  margin-right (gutter-width * 2)
