.about2-section6-links
  margin 60px 0
.about2-section6-link
  display block
  padding gutter-width 0
  font-size 40px
  border-bottom 1px solid gray-color
  transition border-color 0.5s
  .about2-avant-garde-caption
    margin-bottom 20px
  &:hover
    .about2-avant-garde-caption
      color purple-color

#about2-section6-media-gallery
  column-width (column-width * 2) + (gutter-width * 2)
  column-gap gutter-width * 2
  column-count 3
  margin-top 90px
  li
    margin-bottom gutter-width * 2
  img
    width 100%
