#about2-section4-pull-blurb-3-container
  position relative
  img
    float right
    span(3)
#about2-section4-pull-blurb-3-details
  position absolute
  bottom 0
  .about2-artwork-details
    margin 0
