// Jobs module
#about2-section5-jobs
  margin-left column-width + gutters(2)
  overflow hidden
  transition all 0.5s
  bottom-cover-gradient(220px)
  // Can't animate to height auto but can
  // animate an arbitrary max-height
  max-height 9999px
  &::after
    transition opacity 0.5s
    opacity 0
  &.is-truncated
    max-height 600px
    &::after
      opacity 1
.about2-job
  border-bottom 1px solid gray-color
  display block
  padding 25px 0
  transition opacity 0.125s
  &:hover
    opacity 0.6
  > .icon-chevron-right
    font-size 24px
    font-weight bold
    width column-width - gutter-width
    text-align right
  > *
    display inline-block
    vertical-align middle
.about2-job-left
  width columns(2) + gutters(2)
  font-size 26px
  line-height 32px
.about2-job-title
.about2-job-location
  display block
.about2-job-location
  font-style italic
.about2-job-description
  margin-left gutters(2)
  width columns(2) + gutters(5)
#about2-section5-jobs-all
  font-size 26px
  text-align right
  margin-top 50px
#about2-section5-jobs-all-button
  transition opacity 0.5s
  &.is-clicked
    opacity 0
    cursor default
