work-width = columns(3) + gutters(3)
work-offset = columns(2) + gutters(2)

#about2-section3-genome-works
  position relative
#about2-section3-genome-works-pullblurb
  position absolute
#about2-section3-genome-works-column
  width work-width
  margin auto
.about2-genome-work
  &:nth-child(odd)
    padding-left work-offset
    margin-right -(work-offset)
    .about2-genome-work-genes
      right 100%
    .about2-genome-work-gene
      transform translateX(50%)
  &:nth-child(even)
    padding-right work-offset
    margin-left -(work-offset)
    .about2-genome-work-genes
      left 100%
    .about2-genome-work-gene
      transform translateX(-50%)
  .about2-artwork-details
    position absolute
    max-width 75%
.about2-genome-work-image
  position relative
  > img
    width 100%
.about2-genome-work-genes
  position absolute
  text-align center
  width gutters(4)
  bottom 0
  padding 0 30px
  transform translateY(50%)
.about2-genome-work-gene
  display block
  avant-garde()
  small-avant-garde()
  margin gutter-width 0
  opacity 0
  transition all 0.5s
  transition-delay 0
  text-decoration none
  &:hover
    color purple-color
  &.is-active
    opacity 1
    transform translateX(0) !important
    transition-delay 0.4s
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0

// Silly width overrides for portraits...
.about2-genome-work
  &:nth-child(6)
  &:nth-child(8)
    padding-left column-width
