.about2-section6-links
  margin 60px 0
.about2-section6-link
  display block
  padding gutter-width 0
  font-size 40px
  border-bottom 1px solid gray-color
  transition border-color 0.5s
  .about2-avant-garde-caption
    margin-bottom 20px
  &:hover
    .about2-avant-garde-caption
      color purple-color

#about2-section6-logo
  font-size columns(2) + gutters(2)
  line-height @font-size
  transition color 0.25s
  &:hover
    color purple-color

.about2-section6-social-media
  margin-left 30px
  position relative
  top 10px
  .icon-twitter
    font-size 58px
    top 5px
  .icon-facebook
    font-size 48px
  .icon-instagram
    font-size 29px
    top -7px
    left 10px
  a
    position relative
    margin-right 5px