#about2-section2-pull-blurb-1
  position relative
  .about2-pull-blurb
    position absolute
    bottom 0
    margin-bottom 0
    span(2)

#about2-section2-specialists-left
#about2-section2-specialists-right
  .about2-image-container
    span(2)
#about2-section2-specialists-left
  .about2-image-container
    float right

#about2-section2-cta
  text-align center
  > *
    margin 0 (gutter-width / 2)
