header.fair-page-header.main-layout-container
  a.fair-layout-logo( alt=fair.get('name'), title=fair.get('name'), href=profile.href() )
    include ../../profile_badge/profile_icon
  include ./fair_header_navigation