include ../../util/activator

header#main-layout-header.force-position-absolute.microsite-header
  nav.mlh-navbar
    #main-layout-header-left.mlh-navbar-cell
      if sd.KIOSK_MODE && sd.KIOSK_PAGE
        a#main-layout-header-home-logo( href= sd.KIOSK_PAGE ): i.icon-logo
      else
        a#main-layout-header-home-logo( href='/' ): i.icon-logo
        a.mshr-garamond-nav-link( href='/' ) Back to Artsy.net
    #main-layout-header-right.mlh-navbar-cell
      include ../../main_layout/header/templates/user
