if artwork.cultural_maker
  .artwork-metadata__artist
    .artwork-detail-artist
      span.entity-link
        = artwork.cultural_maker

else if artwork.artists.length
  for artist in artwork.artists
    .artwork-metadata__artist
      a.entity-link( href= artist.href )
        = artist.name

      a.entity-follow.artist-follow(
        class='js-artist-follow-button'
        data-_id= artist._id
        data-id= artist.id
        data-type= 'artist'
      )
