.artist-header
  position relative
  margin-top 30px
  h2
    margin 10px 0

.artist-header-flex
  display flex
  flex-direction row
  align-content stretch
  align-items flex-start
  justify-content space-between
  .artist-header-meta
    flex-basis 66%
    flex-grow 0
    flex-shrink 1
  .consignment-cta
  .current-item-container
    overflow hidden
    margin-left 30px
    flex-grow 0
    flex-shrink 0

  .current-item-container
    flex-basis calc(33% \- 20px)

  .consignment-cta
    flex-basis calc(25% \- 22.5px)

.artist-header-name
  margin-bottom 3px
  garamond-size('headline')
.artist-header-meta-sep
  margin 0 0.5em
.artist-header-birthdate
.artist-header-follow-count
  color gray-darker-color
.artist-header-follow-count
  margin 15px 10px
  &:before
    content attr(data-count)
    margin-right 5px
.artist-header-birthdate
  margin-bottom 8px
.artist-header-empty
  margin 20px 0

.artist-blurb
  p
    margin 0 0 11px
    &:last-child
      margin 0
  p > a
    text-decoration underline
  &__credit
    font-style italic

.artist-works-sort
  text-align right
  *
    text-align left
  &:hover > .bordered-pulldown-options
    display block
    border-color gray-color
  .bordered-pulldown
    width 170px

.artist-share
  position absolute
  top 40px
  right 0
  text-align right
  > a
    display inline-block
    line-height 0
    vertical-align bottom
    // Tooltips
    &::after
      garamond()
      text-decoration none
      font-size 16px
      line-height 1
      font-weight normal
      text-transform none

.has-carousel
  .artist-share
    right 40px

.artist-tabs-container
  min-height 67px
  margin-top 15px
