//
// Styles for everything involved with sections, including headers on the
// main feed and in an article page.
//

@require '../../../components/stylus_lib'
@require './venice_banner'

gutter-size = 30px

.articles-section-header
  padding 10px 0 20px 0
  position relative

.articles-section-header-left
  width 60%
  h1
    font-size 40px
    margin 20px 0 30px 0
  a, p
    font-size 20px
    line-height 1.3em
  a
    fine-faux-underline()

.articles-section-header-right
  clearfix()
  padding-bottom 10px
  avant-garde()
  font-size 13px
  width 250px
  position absolute
  right 0
  top 70px
  img
    height 30px
    margin-left 20px
    display inline
    vertical-align middle

.articles-insights-section
  display none
  padding 0 15%
  margin 0 30px

.articles-insights-show
  display none
  width 100%
  padding 60px 0
  border-top 1px solid gray-lighter-color

.articles-insights-container
  display block
  position relative
  height 150px

.articles-insights-form
  display flex
  margin-top 30px
  input
    width 100%
    display inline
    margin-right 10px
  button
    display inline
    width 190px

.articles-insights-mainheader
  garamond-size('headline')

.articles-insights-subheader
  garamond-size('s-body')
  margin-top 10px

.articles-insights
  position absolute
  width 100%
