- header-height = 400px

.team-channel-body
  margin-bottom 80px

// Header
.team-channel-header
  width 100vw
  max-width 100%
  height header-height
  background-size cover
  background-repeat no-repeat
  background-position center
  position relative
  &__overlay
    position absolute
    width 100%
    height header-height
    background-color black
    opacity 0.5
  &__text-container
    height header-height
    display flex
    flex-direction column
    justify-content center
  &__name, &__tagline
    color white
    position relative
  &__name
    garamond-size('xxl-headline')
    font-style italic
    margin 20px 0 10px 0
  &__tagline
    garamond-size('s-headline')

// Featured Carousel
.team-channel-featured
  margin-top 100px
  &__header
    margin 40px 0 20px 0
    garamond-size('headline')
  .mgr-cells
    white-space normal
  .mgr-cell
    width 50%
  .mgr-cell:nth-child(odd)
    padding-right 20px
    padding-left 0px
  .mgr-cell:nth-child(even)
    padding-left 20px
    padding-right 0px
  .article-figure-img
    padding-bottom 66.66%
  .article-figure-container
    display inline
  .article-figure-figcaption, .article-figure-img-container
    width 100%
    display block
  .article-figure-figcaption
    padding-left 0px
    margin-top 30px
  .article-figure-title
    word-wrap break-word

// Grid
.team-channel-grid
  margin-bottom 80px
  .articles-grid__header
    border-bottom none
    border-top 1px solid gray-lightest-color
    padding 30px 0px 0px 0px
    margin 60px 0px 20px 0px
  .articles-grid__figure
    margin-top 60px

@media (min-width: 1660px)
  .team-channel-nav__container,
  .team-channel-featured,
  .team-channel-grid,
  .team-channel-header__text-container,
  .js-articles-grid-more.articles-grid__more-button,
  .team-channel-footer .mlf,
  .team-channel-footer .main-layout-container
    max-width 1600px
    margin 0 auto
@media (max-width: 900px)
  .team-channel-featured
    .mgr-cell:nth-child(1n)
      width 100%
      padding 0px
    .mgr-navigation .mgr-arrow-icon
      font-size 20px
      padding 0px
  .team-channel-grid
    .articles-grid__header
      margin-top 30px
