<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta charset='utf-8' />

  <link rel='apple-touch-icon' href="<%%= icons.icon152 %>" />
  <link rel='apple-touch-icon' sizes='120x120' href="<%%= icons.icon120 %>" />
  <link rel='apple-touch-icon' sizes='152x152' href="<%%= icons.icon152 %>" />
  <link rel='apple-touch-icon' sizes='76x76' href="<%%= icons.icon76 %>" />
  <link rel='icon' type='image/png' href="<%%= icons.favicon %>" />

  <link type="text/css" rel='stylesheet' href="<%%= css.global %>" />

  <!-- Analytics -->
  <link rel='dns-prefetch' href='https://cdn.segment.com' />
  <link rel='preconnect' href='https://www.google-analytics.com' />

  <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
    analytics.load("<%%= sd.SEGMENT_WRITE_KEY %>");
    }}();
  </script>

  <!-- String concatenation is needed allow outputting a template tag -->
  <%- htmlWebpackPlugin.tags.bodyTags.map((tag) => { tag.attributes['src'] = "<" + "%= cdnUrl %" + ">" + tag.attributes['src']; tag.attributes['async'] = true; return tag; }) %>

  <%%- content.head %>
  <%%- content.style %>
  <%%- content.data %>
</head>

<body>
  <%%- content.scripts %>

  <div id="react-modal-container"></div>
  <div id="react-root"><%%- content.body %></div>
</body>

</html>
