.map-modal-show-information
  .map-modal-partner-name
    a.entity-link( href= show.partner.href )
      = show.partner.name
  .map-modal-partner-location-address
    = show.location.address
  .map-modal-partner-location-city
    = ViewHelpers.cityState(show.location)

  if show.location.day_schedules && show.location.day_schedules.length > 0
    .map-modal-partner-location-running-hours
      each daySchedule in ViewHelpers.formatModalDaySchedules(show.location)
        p= daySchedule.days
        p= daySchedule.hours
  else
    .map-modal-show-running-dates
      = ViewHelpers.runningDates(show)

.map-modal-show-map-container
  .map-modal-show-map.js-map-modal-show-map
    //- Rendered separately

  .map-modal-show-map-link
    a( href= googleMapsLink, target='_blank')
      | View in Google Maps
