extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'post'

block body
  #post-deprecated
    h1 You must have admin or contributor access to post on Artsy.
    h2 If you are a partner with Artsy please&nbsp;
      a( href='/log_in' ) log in to your partner account
      |  to post.