padding-unit = 15px

.cf-sidebar
  width 25%
  height 100%
  min-height 100px
  float left

.cf-right
  float left
  width 74%
  min-height 100%
  hr
    margin (padding-unit * 2) padding-unit

.cf-artworks
  .artwork-column
    margin 0 padding-unit
    width: calc(33% \- (padding-unit * 2))

  .artwork-item-image-container img
    width 100%

.cf-pagination
  padding 0 padding-unit

@require '../filters/medium'
@require '../../../node_modules/artsy-ezel-components/pagination'
