.cf-sidebar
  width 25%
  height 100%
  min-height 100px
  float left

.cf-artworks
  float left
  width 74%

  .artwork-column
    margin 0 15px
    width: calc(33% \- 30px)

  .artwork-item-image-container img
    width 100%

@require '../filters/medium'
@require '../../../node_modules/artsy-ezel-components/pagination'
