extends ../../../components/main_layout/templates/index
include ../../../components/article_figure/mixin

block head
  include meta/articles

append locals
  - assetPackage = 'articles'

block body
  if verticals.length
    - vertical = verticals.first()
    header.articles-vertical-header.main-layout-container
      .articles-vertical-header-thumbnail
        img( src=vertical.get('thumbnail_url') )
        .articles-vertical-header-thumbnail-text
          h3 Featured Coverage
          h4= vertical.get('title')
      if vertical.get('partner_logo_url')
        .articles-vertical-header-partner-logo
          p In partnership with
          img( src= vertical.get('partner_logo_url') )
      a.articles-vertical-header-explore( href=vertical.get('slug') ) Explore

  include full_feed