extends ../../../components/main_layout/templates/index
include ../../../components/article_figure/mixin

block head
  include meta/articles

append locals
  - assetPackage = 'articles'

block body
  if verticals.length
    - vertical = verticals.first()
    header.articles-vertical-notice-header.main-layout-container
      .articles-vertical-notice-header-thumbnail
        img( src=vertical.get('thumbnail_url') )
        .articles-vertical-notice-header-thumbnail-text
          h3 Featured Coverage
          h4= vertical.get('title')
      .articles-vertical-notice-header-partner-logo
        p In partnership with
        img( src= vertical.get('partner_logo_url') )
      .articles-vertical-notice-header-explore
        a( href=vertical.get('slug') ) Explore
        .icon-chevron-small-right

  include full_feed