mixin carouselFigure(item)
  case item.type
    when 'image'
      img( src=item.url )
    when 'video'
      != embedVideo(item.url)
    when 'artwork'
      - artworkSize = 'larger'
      - artwork = slideshowArtworks.findWhere({ _id: item.id })
      include ../../../components/artwork_item/templates/artwork.jade

- carouselFigures = article.get('sections')[0].items
include ../../../components/carousel/carousel.jade
