include ../../../components/share/template

mixin article-figure(article, w, feed)
  figure.articles-article-figure
    a( href='/article/' + article.get('slug') )
      .aaf-img( style='background-image: url(' + crop(article.get('thumbnail_image'), {
        width: w, height: Math.round(w / 1.7), quality: 90 }) + ')' )
      figcaption
        if feed
          time.aaf-date
            = moment(article.get('updated_at')).format('MMMM Do')
        .aaf-title= article.get('thumbnail_title')
        //- TODO: Hack for now, we need to save author data on the article.
        .aaf-author Artsy Editorial
        if feed
          .aaf-share
            +share(article.get('title'), article.get('thumbnail_image'))