.articles-articles-page.main-layout-container
  if (featuredArticles = articles.featured()).length
    header.am-featured
      .am-featured-hero
        - article = featuredArticles[0]
         +article-figure(article, 1000, false, false)

      aside.am-featured-also
        for article in featuredArticles.slice(1)
          +article-figure(article, 300, false, false)

  .articles-articles-feed.articles-feed
    .articles-feed-articles.js-articles-feed-articles
      for article in articles.feed()
        .articles-feed-item( data-tier= article.get('tier') )
          include ../../../components/articles_feed/templates/article

    .js-articles-feed-more
      include ../../../components/articles_feed/templates/button
