.articles-insights-container.main-layout-container
  .articles-insights-mainheader Artsy Insights for Galleries
  .articles-insights-subheader Recieve periodical insights from Artsy's Gallery Team
  form
    input.js-articles-insights-input.bordered-input( type='email', name='email', placeholder= 'Enter Your Email', required )
    button.avant-garde-button-black Subscribe