extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'articles'

block body
  #articles-index
    ul
      for article in articles
        li
          a( href="#{sd.APP_URL}/article/#{article.get('slug')}" )
            = article.get('title')