extends ../../../components/main_layout/templates/index
include ../../../components/article_figure/mixin

block head
  include meta/magazine

append locals
  - assetPackage = 'articles'

block body
  #articles-magazine-page.main-layout-container
    if featuredArticles.length
      header.am-featured
        .am-featured-hero
          - article = featuredArticles[0]
           +article-figure(article, 1000, false, false)

        aside.am-featured-also
          for article in featuredArticles.slice(1)
            +article-figure(article, 300, false, false)

    #articles-magazine-feed.am-feed
      #articles-magazine-feed-list.am-feed-articles
        - articles = articlesFeed
        include ./feed

      button.avant-garde-button-white.is-block Show previous articles
