extends ../../../components/main_layout/templates/index

block head
  include meta/team_channel

append locals
  - bodyClass = bodyClass + ' body-no-margins body-transparent-header body-transparent-header-white'
  - assetPackage = 'articles'

block body
  .team-channel-nav
    .team-channel-header__artsy-logo
      i.icon-logotype
    .team-channel-header__links
      for link in channel.get('links')
        a(href=link.url)= link.text
  .team-channel-header(style="background-image:url(#{channel.get('image_url')})")
    .team-channel-header__name= channel.get('name')
    .team-channel-header__tagline= channel.get('tagline')

  .responsive-layout-container
    .team-channel-featured
      .mgr-cells.js-mgr-cells
      for article in featuredArticles
        .mgr-cell.js-mgr-cell
          include ../../../components/articles_grid/templates/figure
      - length = 6
      nav.mgr-navigation.js-mgr-navigation
        include ../../../components/merry_go_round/templates/horizontal_navigation

    .team-channel-grid
      //- Rendered on Client
