// Load everything as variables
json('./type_sizes.json')
// Load as a hash
sizings = json('./type_sizes.json', { hash: true })

sans-font-stack = 'ITC Avant Garde Gothic W04', 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif'
serif-font-stack = 'Adobe Garamond W08', 'adobe-garamond-pro', 'AGaramondPro-Regular', 'Times New Roman', 'Times', 'serif'

default-avant-garde-font-size = sizings.avant-garde.body.font-size
default-garamond-font-size = sizings.garamond.s-body.font-size

garamond-size(size, includeFontDeclaration = false)
  sizing = sizings.garamond[size]
  font-size: sizing.font-size
  line-height: sizing.line-height
  if includeFontDeclaration
    garamond()

serif = garamond-size

avant-garde-size(size, includeFontDeclaration = true)
  sizing = sizings.avant-garde[size]
  font-size: sizing.font-size
  line-height: sizing.line-height
  if includeFontDeclaration
    avant-garde()

sans = avant-garde-size

monospace()
  font-family 'Menlo', 'Monaco', 'Andale Mono', 'Lucida Console', 'Courier New', 'monospace'
  font-smoothing antialiased

unica()
  font-family 'Unica77LLWebRegular'

unica-medium()
  font-family 'Unica77LLWebMedium'

avant-garde()
  font-family sans-font-stack
  font-smoothing antialiased
  text-transform uppercase
  letter-spacing 1px

garamond()
  font-family serif-font-stack
  font-smoothing antialiased

small-caps()
  text-transform uppercase
  letter-spacing 1px

distance(value, font-style = false)
  if font-style
    line-height = lookup(font-style + '-line-height')
    font-size = lookup(font-style + '-font-size')
  else
    line-height = @line-height or 1
    font-size = @font-size or 1

  offset = (line-height * font-size) - font-size
  floor(value - offset)

line-height-in-px(font-style)
  line-height = lookup(font-style + '-line-height')
  font-size = lookup(font-style + '-font-size')
  line-height * font-size
