@require '../../../../components/stylus_lib'

partner-cell-metadata-height = 46px
partner-cell-metadata-margin = 25px

.partner-featured-image .hoverable-image
  background-size cover
.partner-cell-metadata
  height partner-cell-metadata-height
  margin-top partner-cell-metadata-margin
  position relative
  display flex
  align-items center
.partner-cell-metadata-text
  height 100%
  flex 1 1 auto
  overflow hidden
  text-overflow ellipsis
.partner-cell-name
  avant-garde-size('m-headline')
  text-decoration none
.partner-cell-location
  garamond-size(s-body)
.partner-cell-follow-button
  font-size 10px
  flex 0 0 auto
  margin-left 10px
.hoverable-image.is-missing
  position relative
  background-color gray-lightest-color
  border 1px solid gray-lighter-color
  &:before
    position absolute
    content attr(data-initials)
    color gray-dark-color
    avant-garde()
    font-size 27px
    line-height 0
    // 2% offset for Avant Garde baseline
    top 52%
    left 0
    right 0
    text-align center
