@import '../../../../components/stylus_lib'
.partner-featured-image .hoverable-image
  background-size cover
.partner-cell-metadata
  margin-top 30px
  position  relative
.partner-cell-name
  avant-garde()
  avant-garde-size('m-headline')
  text-decoration none
.partner-cell-follow-button
  font-size 10px
  position absolute
  right 0
  top 50%
  transform translateY(-50%)