@require '../../../../components/stylus_lib'

partner-cell-metadata-height = 73px

.partner-featured-image .hoverable-image
  display block
  background-size cover
  width 100%
  position relative
.partner-cell-metadata
  padding-top 25px
  display flex
  align-items center
  min-height partner-cell-metadata-height
.partner-cell-metadata-text
  height 100%
  flex 1 1 auto
  overflow hidden
  text-overflow ellipsis
.partner-cell-name
  avant-garde-size('m-headline')
  text-decoration none
.partner-cell-location
  garamond-size(s-body)
  min-height 25px
.partner-cell-follow-button
  font-size 10px
  flex 0 0 auto
  margin-left 10px
.hoverable-image.is-missing
  background-color gray-lightest-color
  &:before
    position absolute
    content attr(data-initials)
    color gray-dark-color
    avant-garde()
    font-size 27px
    line-height 0
    // 2% offset for Avant Garde baseline
    top 52%
    left 0
    right 0
    text-align center
