extends ../../../components/main_layout/templates/index.jade

append locals
  - assetPackage = 'user_delete'

block body
  #settings
    .grouped-section
      .gs-header
        h2 Delete My Account
      .gs-body: .gs-constrain
        #settings-collector-form
          .settings-form-errors
            //- Rendered client-side

          form.stacked-form
            #user-delete-confirm.settings-split
              .ss-left.settings-checkbox-label I understand that this will permanently delete my account and cannot be undone.
              .ss-right: .artsy-checkbox
                input(
                  type='checkbox'
                  id='user_delete_confirm'
                  name='user_delete_confirm'
                )
                label( for='user_delete_confirm' )

            hr

            label.avant-garde-form-label( for='user-delete-explanation' ) Please Tell Us Why
            textarea#user-delete-explanation.bordered-input( name='user_delete_explanation', rows='5' )

            hr.is-invisible

            button.avant-garde-button-black( disabled='disabled' )
              | Delete My Account

    a.settings-disable-link.garamond-button-text( href='/user/edit' ) Cancel
