extends ./layout

block sections
  | &nbsp;

block main
  case sd.CURRENT_PATH
    when '/settings/edit'
      include ./settings
    when '/profile/edit'
      include ./profile
    when '/user/delete'
      include ./delete
