extends ./layout

block sections
  | &nbsp;

block main
  case sd.CURRENT_PATH
    when '/user/saves'
      .settings-page__saves
        include ../pages/saves/index
    when '/user/edit'
      .settings-page__settings
        include ../pages/settings/index
    when '/profile/edit'
      .settings-page__profile
        include ../pages/profile/index
    when '/user/delete'
      .settings-page__delete
        include ../pages/delete/index
    when '/user/auctions'
      .settings-page__auctions
        include ../pages/auctions/index
    when '/user/payments'
      .settings-page__payments
        include ../pages/payments/index
