.settings-profile-icon-upload
  .spiu-error-message
  .profile-icon-container.profile-badge
    include ../../../components/profile_badge/profile_icon
    .spiu-progress-indicator
  .spiu-controls
    input#profile-icon-upload-input.spiu-action.spiu-file-input( type="file", name="icon" )
    button.spiu-action.spiu-upload.icon-edit
    button.spiu-action.spiu-delete.icon-close
