.settings-profile-icon-upload
  .spiu-error-message
  .profile-icon-container.profile-badge
    .loading-spinner
    include ../../../components/profile_badge/profile_icon
    .spiu-progress-indicator

    .spiu-controls: button.spiu-action.spiu-delete.icon-close

  .settings-profile-icon-upload-button
    input.spiu-file-input( type="file", name="icon" )
    button.avant-garde-button-white Upload Photo
