.settings-profile-icon-upload
  .spiu-error-message
  .profile-icon-container.profile-badge
    .loading-spinner
    include ../../../components/profile_badge/profile_icon
    .spiu-progress-indicator

    .spiu-controls: button.spiu-action.spiu-delete.icon-close

  .settings-profile-icon-upload-button
    .spiu-form
      include ./s3_upload
    button.avant-garde-button-white Upload Photo
