extends ../../../components/main_layout/templates/index.jade

block head
  script( src='https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true' )

append locals
  - assetPackage = 'user'

block body
  #settings
    h1.avant-garde-header-center Settings
    .settings-success-message Your settings have been saved

    include profile_icon.jade

    .garamond-tablist
      a.garamond-tab.settings-account-tab( href="/user/edit", class=editAccountIsActive ) Account
      span.garamond-tab-separator
      a.garamond-tab.settings-profile-tab( href="/profile/edit", class=editProfileIsActive ) Profile

    #settings-generic-error

    .settings-forms
      include account.jade
      include profile.jade

    .settings-forms.settings-delete-account-link
      a.faux-underline( href="/user/delete" ) Delete Account
