extends ../../../components/main_layout/templates/index.jade

block head
  script( src='https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true' )

append locals
  - assetPackage = 'user'

block body
  #settings.main-layout-container
    h1.avant-garde-header-center Settings

    .profile-icon-container.profile-badge
      include ../../../components/profile_badge/profile_icon

    // TODO: Open this up when the profile settings form is complete
      .garamond-tablist
        a.garamond-tab.settings-account-tab( href="/user/edit", class=editAccountIsActive ) Account
        span.garamond-tab-separator
        a.garamond-tab.settings-profile-tab( href="/profile/edit", class=editProfileIsActive ) Profile

    .settings-forms
      include account.jade
      include profile.jade

    // TODO: Open this up when the delete feature is complete
      .settings-forms.settings-delete-account-link
        a.faux-underline( href="/user/delete" ) Delete Account
