extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - bodyClass = bodyClass + ' body-about2-edit'
  - assetPackage = 'about2'

block body
  h1#about2-edit-h1.avant-garde-header-center Edit About Page
  #about2-edit-container
    #about2-edit-hulk
    #about2-edit-example