extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - bodyClass = bodyClass + ' body-no-margins body-transparent-header body-transparent-header-white body-about2'
  - assetPackage = 'about2'

block body
  include grid
  include sections