- section = sections[5]

.about2-container
  h1.about2-section-header!= section.header

//- "Gallery Partnerships"
.about2-container
  for blurb in [section.pullBlurbLeft, section.pullBlurbRight]
    .span3
      +pull-blurb(blurb)
      a.avant-garde-button-white( href=blurb.href, target='_blank' )
        = blurb.button
      .about2-section6-links: for link in blurb.links
        .about2-section6-link
          .about2-avant-garde-caption= link.h1
          a( href=link.href )= link.text
          if link.h1.match(/follow us/i)
            span.about2-section6-social-media
              a.icon-twitter( href='https://twitter.com/artsy' target='_blank' )
              a.icon-facebook( href='https://facebook.com/artsy' target='_blank' )
              a.icon-instagram( href='https://instagram.com/artsy' target='_blank' )

//- CTA / Logo
.about2-container
  .span2
    if user
      | &nbsp;
    else
      +pull-blurb(section.pullBlurbCTA)
      a.avant-garde-button-white.about2-signup-button
        = section.pullBlurbCTA.button
  .span2: a( href='/' ): i#about2-section6-logo.icon-logo
