- section = sections[2]

.about2-container
  h1.about2-section-header!= section.header
  p.about2-section-preamble= section.preamble.text

//- "Works are given a genome..."
.about2-container
  .span4: img( src=section.preamble.src )
  .span2: +pull-blurb(section.pullBlurb1)

//- "Characterstics are used to connect artworks"
#about2-section3-genome-works.about2-container
  #about2-section3-genome-works-pullblurb.span3
    +pull-blurb(section.pullBlurb2)
  #about2-section3-genome-works-column
    for artwork, i in section.genomeWorks
      .about2-genome-work
        .about2-genome-work-image
          img( src= artwork.src, alt= artwork.title )
          if artwork.genes
            .about2-genome-work-genes
              for gene in artwork.genes
                .about2-genome-work-gene
                  = gene
          include artwork_details
