include hero_unit
.about-2-foreground
  include nav
  .about2-section( data-idx=0 ): include section1
  .about2-section( data-idx=1 ): include section2
  .about2-section( data-idx=2 ): include section3
  .about2-section( data-idx=3 ): include section4
  .about2-section( data-idx=4 ): include section5
  .about2-section( data-idx=5 ): include section6
