- section = sections[5]

.about2-container
  h1.about2-section-header!= section.header

//- "Gallery Partnerships"
.about2-container
  for blurb in [section.pullBlurbLeft, section.pullBlurbRight]
    .span3
      +pull-blurb(blurb)
      a.avant-garde-button-white( href=blurb.href, target='_blank' )
        = blurb.button
      .about2-section6-links: for link in blurb.links
        a.about2-section6-link( href=link.href )
          .about2-avant-garde-caption= link.h1
          = link.text

//- CTA / Logo
.about2-container
  .span2
    if user
      | &nbsp;
    else
      +pull-blurb(section.pullBlurbCTA)
      a.avant-garde-button-white.about2-signup-button
        = section.pullBlurbCTA.button
  .span2: i#about2-section6-logo.icon-logo
