//- TODO: Refactor out the coupling of fair_layout and main_layout even
//- further. Ideally fair layout and main layout are essentially two different
//- things and that might involve extracting pieces of the main layout into
//- their own components e.g. footer and auth modals—then this might live
//- as it's own "conditional layout" component as well.

if sd.MICROSITE
  include ./index
else
  include ../../main_layout/templates/index
