include ../../util/activator

header.fair-layout-header
  a.fair-layout-header-left( href='/' )
    include ../../main_layout/public/icons/logo-40.svg
    span Back to Artsy.net
  .fair-layout-header-right
    include ../../main_layout/header/templates/user
