nav-height = 54px

// Carousel
.venice-carousel
  .mgr-cell
    width 100vw
    height 100vh
    margin 0px
    padding 0px
  .mgr-arrow-right
    right 0
    left unset
  .mgr-arrow-left
    left 0
    right unset
  .mgr-arrow-left, .mgr-arrow-right
    position absolute
    top 50%
    opacity 1
    color white
    border none
    margin 30px
  .mgr-dots
    position absolute
    top calc(nav-height \+ 20px)
    width 100vw
    .mgr-dot
      color gray-dark-color
      &.is-active, &:hover
        color white

// Main Overlay
.venice-overlay
  background-size cover
  background-position center
  background-color black
  width 100%
  height 100%
  &__text
    position absolute
    bottom 0
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100%
    height 100%
    padding-top nav-height
    background-color rgba(0,0,0,.2)
  &__title
    garamond()
    font-size 80px
    margin-bottom 30px
  &__sub-title
    garamond-size('xl-headline')
    margin-bottom 30px
    text-transform uppercase
  &__title, &__sub-title
    text-shadow 0 0 15px rgba(0,0,0,0.6)

// Unpublished Preview
.venice-overlay[data-published='false']
  .venice-overlay__text
    background-color rgba(0,0,0,.75)
.venice-overlay
  &__subscribe
    position absolute
    bottom 50px
    text-align center
  &__launch-date
    avant-garde-size('body')
    margin-bottom 10px
  &__cta-text
    garamond-size('s-headline')
    line-height 1.2em
    margin-bottom 80px
  &__cta-button
    avant-garde-size('s-headline')
    color white
    background none transparent
    border 1px solid
    border-radius 2px
    width 195px
    height 50px
    margin-left calc(50% \- 97.5px)
    position absolute
    bottom 0
    left 0
    &:hover
      background-color white
      border-color white
      color black
  &__subscribe-form
    background white
    padding 10px
    display flex
    justify-content space-between
    display none
    position absolute
    bottom 0
    width 100%
    input
      width calc(100% \- 105px)
      border none
      font-size 17px
      padding-left 10px

// Completed Overlay
.venice-overlay--completed
  position absolute
  bottom 0
  top 0
  left 0
  right 0
  background-color black
  color white
  z-index -1
  display flex
  align-items center
  justify-content center
  opacity 0
  &__body
    width 420px
    margin-top 25px
  &__buttons
    display flex
    justify-content space-between
    margin-bottom 40px
    button
      background none transparent
      color white
      border 1px solid
      border-radius 2px
      width calc(50% \- 15px)
      height 50px
      avant-garde-size('s-headline')
      &:hover
        color black
  &__share
    .share-title
      text-align center
      margin-bottom 10px
      avant-garde-size('s-headline')
    a
      color white
  &__follow
    width 380px
    margin-left 20px
    .venice-body__follow
      display flex
      flex-direction column
      align-items center
    p
      text-align center
      white-space normal
      margin-bottom 15px

// Play Button
.venice-overlay__play
  width 180px
  height 50px
  border 1px solid white
  border-radius 2px
  background-color rgba(0,0,0,0.5)
  display flex
  justify-content center
  align-items center
  transition background-color 0.5
  cursor pointer
  &-text
    avant-garde-size('s-headline')
    &:after
      content 'Loading...'
  &-length
    display none
  &-button
    display none
.venice-overlay__play[data-state="ready"]
  &:hover
    background-color white
    color black
    .venice-overlay__play-button
      border-color transparent transparent transparent black
  .venice-overlay__play
    &-text
      margin-right 20px
      &:after
        content 'Play Video'
    &-length
      display block
      garamond-size('l-caption')
    &-button
      display block
      margin-right 10px
      width 0
      height 0
      border-style solid
      border-width 5px 0 5px 10px
      border-color transparent transparent transparent white
.venice-overlay__play[data-state="error"]
  .venice-overlay__play
    &-text
      &:after
        content 'Error'
.venice-overlay__error
  white-space normal
  margin 30px
  text-align center

// Mobile
@media screen and (max-width: 800px)
  .venice-overlay
    &__title
      garamond-size('xl-headline')
      margin-bottom 5px
    &__sub-title
      garamond-size('l-headline')
    &__cta-text
      garamond-size('headline')

  .venice-carousel
    .mgr-arrow-left, .mgr-arrow-right
      margin 10px
      font-size 30px
      width 30px
      height 30px

@media screen and (max-width: 550px)
  .venice-overlay
    &__title
      font-size 45px
      margin-bottom 5px
    &__sub-title
      garamond-size('s-headline')
    &__cta-text
      garamond-size('l-body')

    &__subscribe
      margin 0 10px
    &__text
      justify-content flex-start
      padding-top 200px

  .venice-overlay__subscribe
    bottom 100px

  .venice-carousel
    .mgr-arrow-left, .mgr-arrow-right
      top 315px
    .mgr-dots
      display none

  .venice-overlay--completed
    &__buttons
      flex-direction column
      align-items center
      button:first-child
        margin-bottom 20px
    .venice-body__item-share
      justify-content center
      a:hover
        background-color black
        opacity .7
        i
          color white
    .share-item
      width 50px
    &__follow
      width 100%
      margin-left 0
      left 0
    .venice-body__follow
      max-width 80%
      margin 0 auto
      p
        font-size 18px

@media screen and (max-width: 400px)
  .venice-overlay
    &__title
      garamond-size('l-headline')
    &__sub-title
      garamond-size('l-body')
    &__cta-text
      garamond-size('s-body')
  .venice-carousel
    .mgr-arrow-left, .mgr-arrow-right
      top 305px