@require './video'
@require './body'
@require '../../../../../components/slider'

nav-height = 54px

.venice-feature
  background-color black
  color white

.venice-nav
  position absolute
  top 0
  left 0
  right 0
  z-index 11
  border-bottom 1px solid white
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  height nav-height
  a
    color white
    text-decoration none
  &__sticky-artsy-logo
    font-size 26px
  &__sticky-right, &__sticky-left
    margin 0px 20px
  &__sticky-right
    margin-right -1
    avant-garde-size('body')
  &__sticky-left
    display flex
    align-items center
    .venice-nav__sticky-ubs-logo img
      height 26px
    .venice-nav__plus
      transform rotate(45deg)
      margin 10px
      font-size 17px
      font-smoothing antialiased

.venice-header
  min-height 100vh

.venice-overlay, #vrvideo
  min-height 100vh
  width 100%
  position absolute

#vrvideo
  height 100vh

.venice-overlay
  color white
  background-size cover
  background-position center
  z-index 10
  &__text
    position absolute
    bottom 0
    display flex
    flex-direction column
    justify-content center
    align-items center
    height calc(100vh \- nav-height)
    width 100%
  &__title
    garamond()
    font-size 80px
    margin-bottom 30px
  &__sub-title
    garamond-size('xl-headline')
    margin-bottom 30px
    text-transform uppercase
  &__play
    width 180px
    height 50px
    border 1px solid white
    border-radius 2px
    background-color rgba(0,0,0,0.5)
    display flex
    justify-content center
    align-items center
    transition background-color 0.5
    cursor pointer
    &:hover
      background-color rgba(0,0,0,1)
    &-text
      margin-right 20px
      avant-garde-size('s-headline')
    &-length
      garamond-size('l-caption')
    &-button
      margin-right 10px
      width 0
      height 0
      border-style solid
      border-width 5px 0 5px 10px
      border-color transparent transparent transparent white

.venice-overlay, .venice-nav
  transition display 0.5s ease

.venice-footer
  max-width 1100px
  width 100%
  min-height 160px
  padding 0 2em
  margin 0 auto
  h2
    garamond-size('headline')
    &.title
      margin-bottom 40px
  &__articles
    padding-top 20px
    border-top 2px solid gray-color

@media screen and (max-width: 800px)
  .venice-footer
    padding 0
    &__articles
      padding 20px 1em 0 1em

@media screen and (max-width: 650px)
  .venice-overlay
    &__title
      garamond-size('xl-headline')
    &__sub-title
      garamond-size('headline')

@media screen and (max-width: 550px)
  .venice-nav
    &__sticky-right
      display none
    &__sticky-left
      margin 0px 15px

  .venice-overlay
    &__title
      font-size 45px
    &__sub-title
      garamond-size('s-headline')
