@require './video'
@require '../../../../../components/slider'

.venice-feature
  background-color black
  color white

.venice-nav
  position absolute
  top 0
  z-index 11
  border-bottom 1px solid white
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  width 100vw
  height 54px
  a
    color white
    text-decoration none
  &__sticky-right, &__sticky-left
    margin 0px 20px
  &__sticky-right
    margin-right -1
    avant-garde-size('body')
  &__sticky-left
    display flex
    align-items center
    .venice-nav__sticky-ubs-logo img
      height 30px
    .venice-nav__plus
      transform rotate(45deg)
      margin 10px
      font-size 17px
      font-smoothing antialiased

.venice-header
  width 100vw
  height 100vh

.venice-overlay, #vrvideo
  width 100vw
  height 100vh
  position absolute

.venice-overlay
  display flex
  flex-direction column
  justify-content center
  align-items center
  color white
  z-index 10
  &__title
    garamond()
    font-size 80px
    margin-bottom 30px
  &__sub-title
    garamond-size('xl-headline')
    margin-bottom 30px
  &__play
    width 180px
    height 50px
    border 1px solid white
    background-color rgba(0,0,0,0.5)
    display flex
    justify-content center
    align-items center
    transition background-color 0.5
    cursor pointer
    &:hover
      background-color rgba(0,0,0,1)
    &-text
      margin-right 20px
      avant-garde-size('s-headline')
    &-length
      garamond-size('l-caption')
    &-button
      margin-right 10px
      width 0
      height 0
      border-style solid
      border-width 5px 0 5px 10px
      border-color transparent transparent transparent white

.venice-overlay, .venice-nav
  transition display 0.5s ease

.venice-footer
  height 500px
