@import '../../components/stylus_lib'

#unsubscribe-content
  margin 20px
  text-align center
  h1
    padding-bottom 20px
  input
    margin-left 50px
.unsubscribe-check-all
  padding-top 50px
button.submit
  margin-top 50px
.unsubscribe-message
  padding-top 25px
