//
// Styling for the infinite scrolling list of current shows
//

@import '../../../components/stylus_lib'

.home-page-current-show
  border-bottom 1px solid light-gray-border-color
  margin-bottom 40px
  padding-bottom @margin-bottom
  &:first-child
    border-top @border-bottom
    margin-top 20px
  h2
    font-size large-font-size
    margin-bottom 10px
  header
    margin 20px 0
  a
    text-decoration none
