@import '../../../../node_modules/artsy-ezel-components/stylus_lib/typography'

// Typefaces
monospace()
  font-family 'Menlo', 'Monaco', 'Andale Mono', 'lucida console', 'Courier New', 'monospace'
  font-smoothing antialiased

// Sizes
json('./type_sizes.json')

// Stylus has *terrible* support for accessing nested hashes as values (? file a bug report)
sizings = json('./type_sizes.json', { hash: true })

garamond-size(size, mixinFont = false)
  sizing = sizings.garamond[size]
  fs = sizing.font-size
  font-size fs
  lh = sizing.line-height
  line-height lh
  if mixinFont
    garamond()

avant-garde-size(size, mixinFont = false)
  sizing = sizings.avant-garde[size]
  fs = sizing.font-size
  font-size fs
  lh = sizing.line-height
  line-height lh
  if mixinFont
    avant-garde()

sans = avant-garde-size

// Styles
small-caps()
  text-transform uppercase
  letter-spacing 1px
