@require '../components/stylus_lib'

.artwork-columns
  margin-bottom 80px
  white-space nowrap

.artwork-column
  display inline-block
  margin 0 40px
  vertical-align top
  width calc('33% - 80px')
  .artwork-item
    margin 0
    margin-bottom 40px
    &:last-child
      margin-bottom 0
  .overlay-container
    bottom 12px

.artwork-column-artist-list-heading
  avant-garde()

.artwork-column-artist-list
  display inline-block
  vertical-align top

// Sale variant
.artwork-columns-sale
  .artwork-column
    border-right 1px solid gray-lighter-color
    border-left 1px solid gray-lighter-color
    margin-left 0 !important
    margin-right 0 !important
    width 33.33%
    &:first-child
      margin-right -1px !important
      border-left 0px solid white
      .artwork-item
        padding-left 0
    &:last-child
      margin-left -1px !important
      border-right none
      .artwork-item
        padding-right 0

    .artwork-item
      border-bottom 1px solid gray-lighter-color
      padding 0 30px 30px 30px
      &:last-child
        border-bottom none
      .artwork-item-image-link
        display block
        width 100%
        text-align left
        max-width 260px
