@import '../components/stylus_lib'

.artwork-columns
  margin-bottom: 80px

.artwork-column
  margin-right: 0
  display: inline-block
  vertical-align: top

  &:first-child
    margin-left: 0

  .artwork-item
    margin: 0
    margin-bottom: 40px

    &:last-child
      margin-bottom: 0

    .artwork-item-image
      display inline
      height auto
      max-height 400px
      max-width 100%
      width auto
