extends ./scaffold

block body
  #error-handler
    header#main-header
      a#main-header-logo( href="/" )
        #main-header-logo-icon
      .tagline Discover fine art.
    main
      if code === 404
        h1 The page you were looking for doesn't exist.
      else
        h1 Internal Error
        if detail
          pre= detail
      p Please contact <a href="mailto:support@artsy.net">support@artsy.net</a> with any questions.
