include ./login-signup

footer
  include ../../main_dropdown_menu/template
  mixin login-signup
  nav.footer__bottom-nav
    a.footer__bottom-nav__link(href="/about") About Artsy
    a.footer__bottom-nav__link(href="/terms") Terms of Use
    a.footer__bottom-nav__link(href="/privacy") Privacy Policy
