mixin login-signup
  .login-signup
    .login-signup-button-container
      a.avant-garde-box-button.avant-garde-box-button-gray( href='/sign_up' ) Sign up
    .login-signup-button-container
      a.avant-garde-box-button.avant-garde-box-button-gray( href='/log_in' ) Log in
