#partner
  .partner2-tabs
    &:empty
      border-top none
    .garamond-tab
      &, &:hover, &:focus, &.is-active
        border-bottom none

  .partner2-header
    padding-top 30px
    margin-bottom 50px
    .partner2-brand-container
      margin-bottom 20px
    .partner2-info
    .partner2-icon
      display inline-block
      vertical-align middle

    .partner2-info
      width calc(100% \- 170px)
      margin-right 30px
    .partner2-name
      font-size 37px
      line-height 1.5
    .partner2-locations
      font-size 15px
      color gray-darker-color
      line-height 1.5
      min-height 1.5em
      margin-bottom 10px
    .partner2-icon
      text-align center
    .profile-badge-icon
      display inline-block
      width 140px
      height 140px
      line-height @height
      vertical-align middle
      img
        max-width 100%
        max-height 100%
        display inline-block
        vertical-align middle

    .follow-button
      margin-right 15px
    .partner2-followers
      display inline-block
      color gray-darker-color

  .partner2-footer
    border-top 1px solid gray-lighter-color
    margin-bottom -20px
    .partner2-branding
    .partner2-nav
      display inline-block
      vertical-align middle
    .partner2-branding
      width 300px
      margin-right 30px
    .partner2-nav
      min-height 100px
      width calc(100% \- 330px)
      text-align right
    .partner2-name
      avant-garde-size('m-headline')
    .partner2-tabs
      border none
      padding 40px 0
      &:empty
        padding 50px 0
