@require '../../../components/stylus_lib'
@require '../components/hero_shows_carousel'
@require '../components/hero_artworks_carousel'
@require '../components/fixed_cells_count_carousel'
@require '../components/artists_list'
@require '../components/artists_grid'
@require '../components/about'
@require '../components/news'
@require '../components/locations'
@require '../components/grid'
@require './header_footer'
@require './overview'
@require './shows_grid'
@require './shows'
@require './artworks_filter'
@require './artists'
@require './contact'

#partner
  margin 50px 45px 0 45px
  .loading-spinner
    position relative
    top 50px
  .partner2-content
    margin-bottom 50px
    min-height 200px
