.partner2-shows
  &.combined
    .partner2-shows-section:not(.actions):not(:first-of-type)
      padding-top 50px
    .partner2-shows-section-heading
      display none
  .partner2-shows-heading
    garamond-size('headline')
    line-height 2.5
  .partner2-shows-section
    margin-bottom 50px
    border-top 1px solid gray-lighter-color
    &:last-of-type
      margin-bottom 0
    a
      text-decoration none

    .partner2-shows-container
      grid-3-up(40px, 60px)

    .partner2-shows-section-heading
      garamond-size('headline')
      line-height 1
      margin 20px 0

    .partner2-show-cover-image
      background-size cover
      background-position 50% 40%
      padding-bottom 70%
      margin-bottom 15px
      position relative
      img
        display none

    .partner2-show-overlay
      position absolute
      top 0
      bottom 0
      width 100%
      background-color black
      opacity 0
      transition opacity 0.3s ease-in-out
      &:hover
        opacity 0.4

    .partner2-show-caption
      margin-bottom 20px

    .partner2-show-heading, .partner2-show-name, .partner2-show-time
      line-height 1.1
      margin-bottom 10px

    .partner2-show-heading
      avant-garde-size('body')

    .partner2-show-name
      garamond-size('l-body')
      font-style italic
      margin-bottom 5px
      word-wrap break-word

    .partner2-show-time
      garamond-size('s-body')

    .loading-spinner
      display none

  // Special treatment for the first and actions sections
  .partner2-shows-section:first-of-type
  .partner2-shows-section.actions
    border-top none

  // Special treatment for the featured section
  .partner2-shows-section.featured
    text-align center

    .partner2-show
      width 100%
      padding 0
      margin 0

    .partner2-show-cover-image
      padding-bottom 45%
      float right
      width 60%
      margin-bottom 0

    .partner2-show-caption
      float right
      position relative
      top 120px
      width 37%
      margin-right 3%

    .partner2-show-name
      font-size 50px
      margin-bottom 20px

  // Special treatment for the see all section
  .partner2-shows-section.actions
    a
      font-size 13px
      &:hover:before
        border-bottom-width 2px
        margin-top 0.6em
