#show-page-related-articles
  border-bottom 1px solid light-gray-border-color

.show-related-article
  padding-bottom 22px
  width 100%

.show-related-article-image-container
.show-related-article-info
  display inline-block
  vertical-align top
  box-sizing border-box
.show-related-article-image-container
  width 50%
  max-width 200px
.show-related-article-info
  font-size 20px
  width 50%

.show-related-article-image
  width 100%
  max-width 242px
  padding-right 22px

.show-related-articles-title
  padding 22px 0px
  avant-garde()
  font-size 15px
.show-related-article-author
  avant-garde()
  font-size 10px
