h3 Forms

article.sg-component
  h3 Default Input
  .sg-component-rendered
    input.bordered-input.sg-display( placeholder='First Name' )
    input.bordered-input.sg-display.is-error( placeholder='First Name' )
    input.bordered-input.sg-display( placeholder='First Name', disabled )
  pre: code input.bordered-input( placeholder='First Name' )

article.sg-component
  h3 Default Textarea
  .sg-component-rendered
    textarea.bordered-input.sg-display( placeholder='Your Message' )
    textarea.bordered-input.sg-display.is-error( placeholder='Your Message' )
    textarea.bordered-input.sg-display( placeholder='Your Message', disabled )
  pre: code textarea.bordered-input( placeholder='Your Message' )


article.sg-component
  h3 Structural Variants
  .sg-component-rendered
    input.bordered-input.is-block.sg-display( placeholder='First Name' )
    textarea.bordered-input.is-block.sg-display( placeholder='Your Message' )
  pre: code
    | input.bordered-input.is-block( placeholder='First Name' )
    | textarea.bordered-input.is-block( placeholder='Your Message' )

article.sg-component
  h3 Typed Input
  .sg-component-rendered
    .typed-bordered-input.sg-display
      span $
      input.bordered-input.sg-d( placeholder='Amount' )
  pre: code
    | .typed-bordered-input
    |   span $
    |   input.bordered-input( placeholder='Amount' )

article.sg-component
  h3 Default Checkbox
  .sg-component-rendered
    .artsy-checkbox.sg-display
      input( type='checkbox', id='my-attribute-1', checked )
      label( for='my-attribute-1' )
    .artsy-checkbox.sg-display
      input( type='checkbox', id='my-attribute-2' )
      label( for='my-attribute-2' )
    .artsy-checkbox.sg-display
      input( type='checkbox', id='my-attribute-3' )
      label( for='my-attribute-3', data-label='Remember me' )

  pre: code
    | .artsy-checkbox
    |   input( type='checkbox', id='my-attribute', checked )
    |   label( for='my-attribute', data-label='Remember me' )

article.sg-component
  h3 Toggle Switches
  .sg-component-rendered
    a.artsy-toggle.sg-display( data-state='on' ): .artsy-toggle-dot
    a.artsy-toggle.sg-display( data-state='off' ): .artsy-toggle-dot
  pre: code
    | a.artsy-toggle( data-state='on' ): .artsy-toggle-dot
    | a.artsy-toggle( data-state='off' ): .artsy-toggle-dot

article.sg-component
  h3 Results list
  .sg-component-rendered
    div( style='width: 50%; margin: auto;' )
      input.bordered-input.is-block( placeholder='Search' )
      .results-list
        .results-list-item
          .results-list-item-cell Liz Deschenes
          .results-list-item-cell Following
        .results-list-item
          .results-list-item-cell Walead Beshty
          .results-list-item-cell Following
        .results-list-item
          .results-list-item-cell Eileen Quinlan
          .results-list-item-cell Following
  pre: code
    |  .results-list
    |    .results-list-item
    |      .results-list-item-cell Liz Deschenes
    |      .results-list-item-cell Following

article.sg-component
  h3 Stacked Form
  .sg-component-rendered
    form.stacked-form
      input.bordered-input( placeholder='Name' )
      input.bordered-input( placeholder='Email', type='email' )
      a.avant-garde-button-black Submit
  pre: code
    | form.stacked-form
    |   input.bordered-input( placeholder='Name' )
    |   input.bordered-input( placeholder='Email', type='email' )
    |   a.avant-garde-button-black Submit
