@require './nouislider-base'
@require './nouislider-override'

.slider__top
  margin-bottom 10px
  clearfix()

.slider__slider
  max-width 100%
  padding 0 7px

.slider__top__name
  float left

.slider__top__label
  font-size 13px
  color #9b9b9b
  float right
