@require '../stylus_lib'
@require '../artwork_brick'

.artwork-masonry
  display flex
  justify-content space-between

.artwork-masonry__column
  columns = 3
  percentage = (100% / columns)
  offset = ((gutter * (columns - 1)) / columns)
  width calc('33.33% - %s' % offset)
