@require '../../components/stylus_lib'
@require 'artsy-ezel-components/pagination'

#search-page
  padding 20px 100px
  b
    background-color yellow-light-color
    color #000
    font-weight normal

.search-results
  margin 20px 0

.search-result
  display table
  position relative
  width 100%
  border-top 1px solid gray-lighter-color
  text-decoration none
  transition all 0.125s
  &.artist, &.category
    font-size 24px
  &:last-child
    border-bottom 1px solid gray-lighter-color
  &:after
    display block
    position absolute
    top 50%
    right 10px
    height 32px
    margin-top -(@height / 2)
    iconfont-styling()
    content '\e61c'
    color gray-dark-color
  &:hover
    background-color #f7f7f7

.search-result-thumbnail
.search-result-info
  display table-cell
  vertical-align top

.search-result-thumbnail
  padding 20px

.search-result-thumbnail-fallback
  position relative
  width 70px
  height @width
  background-color gray-lightest-color
  > img
    display block
    position absolute

.search-result-info
  // Force width
  width 100%
  padding 20px 40px 20px 0

.search-result-about
  margin-top 2px
  color gray-darker-color
  max-width: 540px

.search-result-kind
  avant-garde()
  line-height 150%
  font-size 11px
  margin-bottom 2px

.search-result-no-thumbnail
  margin-right 20px
