.partner2-artists-list
  column-gutter = 50px
  .artists-group, .artists-column
    display inline-block
    vertical-align top

  .artists-group
    .artists-column, .artists-group-label
      padding-left column-gutter
    &:first-child
      border-right 1px solid #ccc
      .artists-column, .artists-group-label
        padding-left 0
        padding-right column-gutter

  // Generating artists column styles
  for i in 1 2 3 4 5 6
    .artists-group-{i}-columns
      width (100 / 6 * i)%
      .artists-column
        width (100 / i)%

  // Special treatment for single column
  .artists-group-6-columns:first-child
    border none
    .artists-column
      padding-left 25px
      padding-right 25px

  .artists-group-label
    font-size default-avant-garde-font-size
    height 45px
    &:empty
      display none

  .artists-columns-container
    margin 20px 0 0 0
  .artists-column
    > li
      margin-bottom 10px
    a
      font-size 16px
      text-decoration none
      line-height 1.35
      margin-bottom 10px
      &:hover
        text-decoration underline
    .artist-name
      color #666
