.auction2-artworks-header-mobile
  display flex
  justify-content space-between
  align-items center
  height 50px
  margin-bottom 10px

  &__sort
    padding-right 15px
    select
      outline 0
      border 0
      garamond()
      garamond-size('s-body')
      -webkit-appearance none

    &::after
      content ''
      display block
      position absolute
      right 20px
      margin-top: -16px
      border-top 8px solid #000
      border-right 4px solid transparent
      border-left 4px solid transparent
