.auction2-artworks-header-mobile
  display flex
  justify-content space-between
  align-items center
  height 50px
  margin-bottom 10px

  &__sort
    outline 0
    garamond()
    garamond-size('s-body')
