@require '../../components/stylus_lib'

#artists-page
  padding 40px 0
  h1
    margin 40px 0
    font-size 24px

// Letter page
#letter-page
  position relative
  > .contextual-return-link
    position absolute
    top 0
    left 0

.artists-columns
  column-count 4

  > a
    display block
    padding 5px 10px 5px 0

#artists-page.mobile
  .alphabetical-index
    flex-direction column
    align-items flex-start
    .alphabetical-index-label
      text-align center
      width 100%
    .alphabetical-index-range
      text-align left
      width 100%
      a
        font-size 20px
        padding: 10px
  #letter-page
    .contextual-return-link
      margin-top 20px
      position relative
  .bordered-pagination
    display flex
    font-size 14px
    flex-wrap wrap
    justify-content space-between
    ul
      margin 0
      padding 0
    ul:first-child
      order 1
      margin-top 20px
    ul:last-child
      order 2
      margin-top 20px
