.consignments2-location-input
  position relative

  input
    height 40px
    width 100%

  .react-autosuggest__container--open
    .consignments2-location-input__error
      display none

  .react-autosuggest__suggestion
    min-height 40px
    padding 10px
    border 1px solid gray-lighter-color
    border-top none

    &:hover
      cursor pointer
      background-color gray-lightest-color

  &_disabled
    input
      pointer-events none
      background-color gray-lightest-color

      &:focus, &:active
        border-color gray-lighter-color

  &_error
    .bordered-input
      border 2px solid red-color

  .bordered-input:disabled
    border 2px solid gray-lighter-color

  &__unfreeze
    position absolute
    right 7px
    top 4px

    &:hover
      cursor pointer

    svg
      width 17px
      fill gray-dark-color

  &__error
    garamond-size('l-caption')
    color red-color
    padding-top 5px
