@require '../../../components/article/stylesheets'
@require '../../../components/articles_grid/stylesheets'
@require '../../../components/channel_nav'
@require './promoted_content'

#articles-show
  margin-top 120px
  &.is-team-channel
    margin-top 180px
