.articles-insights-container
  .articles-insights
    .articles-insights-mainheader Artsy Insights for Galleries
    .articles-insights-subheader Receive periodical insights from Artsy's Gallery Team
    .articles-insights-form
    include marketo_form
    
