script(src='//app-ab14.marketo.com/js/forms2/js/forms2.min.js')
script.
  MktoForms2.loadForm("//app-ab14.marketo.com", "609-FDY-207", 1230);
.articles-insights-marketo-form
  form#mktoForm_1230
.cta-bar-defer
  a.icon-close( href='#' )
