@require '../../components/stylus_lib'

#auth-page
#reset-password-page
  text-align center
  max-width 400px
  margin layout-side-margin auto
  h1
    margin 20px 0

#auth-artsy-logo
  font-size 45px
  line-height @font-size

.auth-page-error-message
  color red-color
  text-align left
  a
    color red-color
