@require '../stylus_lib'

.related-article
  block-margins(40px)
  clearfix()
  a
    display block
    text-decoration none

.ra-author
  avant-garde()
  font-size 11px
  white-space nowrap
  margin-top 8px
  line-height 1
  color gray-darker-color

.ra-title
  width 90%
  font-size 25px

.ra-image
  float left
  width 30%

.ra-blurb
  float left
  width 70%
  padding-left 40px

.ra-summary
  margin-top 25px

.ra-go
  faux-underline()

.ra-favicon
  display inline-block
  vertical-align middle

.ra-author > *
  margin-right 10px
  &:last-child
    margin 0

.ra-author-name
  color gray-dark-color
