- var articles = collection
- var width = 403
- var height = 269

.fcc-carousel.partner2-shows-carousel

  if displayNav
    a.mgr-arrow-left.icon-chevron-left.js-mgr-prev
    a.mgr-arrow-right.icon-chevron-right.js-mgr-next

  .mgr-cells.js-mgr-cells
      for article in articles.models
        - var imgUrl = article.cropUrlFor('thumbnail_image', { width: width, height: height })
        .mgr-cell.js-mgr-cell
          a( href= article.href() )
            img.fcc-carousel-image(
              src= imgUrl
              alt= article.get('thumbnail_title')
            )
          a.fcc-carousel-caption-title( href= article.href() )
            = article.get('thumbnail_title')
          .fcc-carousel-caption-subtitle
            = article.get('author') ? article.get('author').name : ''
