//
// Styles for two columns of artworks with minimal details below it.
// Some might call it "isotope layout".
//

@import '../stylus_lib'
@require '../../lib/palette'

.artwork-columns
  width 100%

.artwork-columns-double
  .artwork-columns-column
    width 50%
    .artwork-columns-artwork
      margin 0
    &:nth-child(1)
      .artwork-columns-artwork
        margin-right getSpace(1)
    &:nth-child(2)
      .artwork-columns-artwork
        margin-left getSpace(1)

.artwork-columns-triple
  .artwork-columns-column
    width 33.33%
    &:nth-child(1)
      .artwork-columns-artwork
        margin getSpace(0, 1, 0, 0)
    &:nth-child(2)
      .artwork-columns-artwork
        margin getSpace(0, 1)
    &:nth-child(3)
      .artwork-columns-artwork
        margin getSpace(0, 0, 0, 1)

.artwork-columns-column
  max-width 100%
  display inline-block
  vertical-align top

.artwork-columns-artwork img
  display block
  width 100%

.artwork-columns-artwork-details
  text('text')
  margin getSpace(1, 0, 2, 0)
  color getColor('black60')
  p
    ellipsis()

    &:first-of-type
      text('mediumText')
      color getColor('black100')


.artwork-columns-artwork-details
  &__auction-lot-number
    color getColor('black100')
  &__buy-now
  &__bid
    color getColor('black100')
  > a
    color getColor('black60')
    text-decoration underline

.artwork_column__contact-gallery
  color getColor('black60')

.artwork-columns-artwork-details__bid-now
  display flex
  p.bid-now-link
    line-height 1.5
    margin-left -3px
    text-decoration underline
  &:before
    content ''
    background-image url('/images/paddle.png')
    background-repeat no-repeat
    background-position 0 2px
    background-size 63%
    padding-right 14px
    margin-top 1px
    height 16px
