mixin artworkItemTemplate(artwork, size)
  if isAuction || artwork.get('sale')
    include auction_artwork
  else
    include artwork

- size = 'tall'
- className = 'artwork-columns'
case artworkColumns.length
  when 3
    - className = "artwork-columns artwork-columns-triple"
  when 2
    - className = "artwork-columns artwork-columns-double"
  default
    - className = "artwork-columns artwork-columns-single"
    - size = 'large'

div( class=className )
  for column in artworkColumns
    .artwork-columns-column
      for artwork in column
        +artworkItemTemplate(artwork, size)
