.show-related-articles
  margin-bottom 40px
  border-bottom 1px solid gray-lighter-color
  a
    display block
    text-decoration none

.show-related-article
  clearfix()
  margin 20px 0
.show-related-article-image
.show-related-article-info
  float left
  width 50%
.show-related-article-info
  padding-left 20px
.show-related-article-image > a > img
  width 100%

.show-related-articles-title
  font-size 30px
  line-height 1.25
.show-related-article-author
  avant-garde()
  font-size 11px
