extends ../../../components/main_layout/templates/index
include ../../../components/share/mixin

block head
  include meta

append locals
  - assetPackage = 'misc'
  - bodyClass = bodyClass + ' body-no-margins'

block body
  - hasImage = feature.hasImage() && feature.imageUrl()
  #feature.feature-page( class= hasImage ? 'has-image' : undefined )
    if hasImage
      .feature-image( style="background-image: url(#{feature.imageUrl('wide')})" )

    .responsive-layout-container: .main-layout-container.feature-content
        header.feature-header
          .feature-primary-information
            h1.feature-title
              = feature.get('name')

            if feature.get('description')
              .feature-description
                != feature.mdToHtml('description')

          .feature-metadata.js-feature-metadata
            //- Rendered client-side

          //-   nav.feature-share.js-feature-share
          //-     +share(feature.shareTitle())

        #feature-sets-container: .loading-spinner
