@require '../stylus_lib'
@require '../bid_status'

item-margin-bottom = 16px

.my-active-bids-bid-button, .my-active-bids-bid-live-button, .my-active-bids-warning, .my-active-bids-item h4
  avant-garde()
  font-size 10px

.my-active-bids-item
  position relative
  height 77px
  min-width 260px
  margin-bottom item-margin-bottom
  padding-bottom item-margin-bottom
  border-bottom 1px solid gray-lighter-color
  &:last-child
    border-bottom 0
  &.my-active-bids-winning
    .my-active-bids-bid-button
      background transparent
      color black
      border-color gray-lighter-color
      &:hover
        color purple-color
  img
    margin-right 12px
    width 60px
    height 60px
  .my-active-bids-item-artist
    overflow ellipsis

.my-active-bids-item img, .my-active-bids-item-details
  display inline-block
  vertical-align top

.my-active-bids-item-details
  line-height 20px

.my-active-bids-item-details--hide-bid
  @extends .my-active-bids-item-details
  padding-top 10px

.bid-status
  position absolute
  top 0
  right 0
  p
    font-size 10px

.my-active-bids-bid-button
  small-avant-garde()
  margin-top 26px
  padding 7px 14px
  position absolute
  right 0

.my-active-bids-bid-live-button
  @extends .my-active-bids-bid-button
  margin-top 14px
