if artwork.artists.length
  for artist in artwork.artists
    .artwork-metadata__artist
      a.entity-link( href= artist.href )
        = artist.name
      a.entity-follow.artist-follow( data-id= artist.id )

else if artwork.cultural_maker
  .artwork-metadata__artist
    .artwork-detail-artist
      span.entity-link
        = artwork.cultural_maker
