- var partner = artwork.partner

unless artwork.auction
  .artwork-metadata__partner
    if artwork.is_for_sale
      h3 Offered by

    a( href= partner.href )
      = partner.name
      - var location = helpers.metadata.consolidate(helpers.metadata.pluck(partner.locations, 'city'), 'locations')
      if location
        | , #{location}

    if artwork.is_contactable && partner.locations.length
      - var locations = helpers.metadata.uniq(partner.locations)
      .artwork-metadata__partner__phone
        a( class='js-artwork-metadata-phone-toggle' )
          | Show phone number#{locations.length === 1 ? '' : 's'}

        .artwork-metadata__partner__phone__locations(
          class='js-artwork-metadata-phone-toggleable'
        )
          for location in locations
            .artwork-metadata__partner__phone__locations__location
              if locations.length > 1
                | #{location.city}:
                = ' '
              = location.phone
