.settings-tabs
  clearfix()
  display flex
  margin gutter 0 0 0
  &__tab
    display block
    float left
    avant-garde-size('body')
    padding (gutter / 2)
    color gray-darker-color
    border-bottom 2px solid gray-lighter-color
    transition color 0.25s, border-color 0.25s
    text-decoration none
    &:hover
    &[data-state='active']
      color black
      border-bottom-color gray-darker-color
    &:first-child
      padding-left 0
  
@media screen and (max-width 768px)
  .settings-tabs
    overflow-x scroll
    position relative
    margin-right: -40px
    &::after
      content: ''
      display: block
      min-width: 40px
