extends ../../../components/layout/templates/main

block content
  #forgot-password
    .artsy-logo-large
    h1.avant-garde-header-center Password Reset Instructions Sent
    p Please check your email for instructions on how to reset your password.
