#gdpr-signup
  .gdpr-signup__form__checkbox__accept-terms.artsy-checkbox
    .artsy-checkbox--checkbox
      input(
        required,
        name='accepted_terms_of_service',
        id='accepted_terms_of_service',
        type='checkbox',
        tabindex="0"
      )
      label(for='accepted_terms_of_service')
    span I agree to Artsy’s&nbsp;
      a( href='/terms', target='_blank' ) Terms of Use
      | &nbsp;and&nbsp;
      a(href='/privacy', target='_blank') Privacy Policy,
      | &nbsp;and to receive emails from Artsy.
