extends ../../../components/layout/templates/main

block content
  #auth-page
    h1.avant-garde-header-center Change your password
    form#reset-password-form
      .auth-page-error-message
      input.bordered-input( name='password', placeholder='New Password', type='password' )
      input.bordered-input( name='password_confirmation', placeholder='Confirm New Password', type='password' )
      button.avant-garde-box-button.avant-garde-box-button-black( type='submit' )
        | Change my password
        .loading-spinner
