#auth-page-signup-social
  a.auth-page-facebook.avant-garde-box-button.avant-garde-box-button-black(
    href="/users/auth/facebook?redirect-to=#{redirectTo ? redirectTo : '/personalize/collect'}"
  ) Facebook
  a.avant-garde-box-button.avant-garde-box-button-black(
    href="/sign_up?email=1&redirect-to=#{redirectTo ? redirectTo : '/personalize/collect'}"
  ) Your email address
