- var buyable = artwork.is_buy_nowable || artwork.is_acquireable

if buyable
  a.artwork-meta-data-black__contact-button.js-purchase
    | Buy now
else if artwork.is_inquireable
  a.artwork-meta-data-black__contact-button(
    href="/inquiry/#{artwork.id}"
  )
    if artwork.partner && artwork.partner.type == 'Gallery'
      | Contact Gallery
    else
      | Contact Seller
