- var isAuction = artwork.auction && artwork.auction.is_auction
- var newBuyNowFlow = sd.ENABLE_NEW_BUY_NOW_FLOW
- var buyable = artwork.is_buy_nowable || artwork.is_acquireable
- var isAuctionPartner = artwork.partner.type === 'Auction' || artwork.partner.type === 'Auction House'

if buyable && (isAuction || newBuyNowFlow || isAuctionPartner)
  a.artwork-meta-data-black__contact-button.js-purchase
    | Buy now
else if artwork.is_inquireable
  //- TODO BNMO: Update to hide inquiry flow if the artwork is acquireable
  a.artwork-meta-data-black__contact-button(
    href="/inquiry/#{artwork.id}"
  )
    if artwork.partner && artwork.partner.type == 'Gallery'
      | Contact Gallery
    else
      | Contact Seller
