- var partner = artwork.partner

.artwork-meta-data__partner
  if partner.type == 'Auction' || partner.type == 'Auction House'
    .artwork-partner-name= partner.name
  else if artwork.collecting_institution
    a.artwork-partner-link= artwork.collecting_institution
  else
    a.artwork-partner-link(href=(partner.is_linkable ? partner.href : undefined))= partner.name

  if partner.locations && partner.locations.length > 0
    .artwork-partner-locations
      span.icon
        include ../../../public/icons/location.svg
      span.content
        // locations are rendered client side here

  if partner.acceptsCardPayments
    .artwork-partner-card
      span.icon
        include ../../../public/icons/creditcard.svg
      span.content
        = 'Accepts credit card'
