if artwork.sale_message
  .artwork-meta-data-price
    if artwork.sale_message
      .sale_message= artwork.sale_message
    if artwork.price && artwork.availability !== 'sold'
      .shipping-info
        //- TODO: remove labFeature check once BNMO goes live to everybody
        if user && user.hasLabFeature('New Buy Now Flow')
          | #{artwork.shippingInfo}
          if artwork.shippingOrigin
            br
            | Ships from #{artwork.shippingOrigin}
        else
          | Shipping, tax, and service quoted by seller
