{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "@babel/react",
    "@babel/preset-typescript",
    "@babel/stage-3"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    // ["babel-plugin-styled-components", {
    //   "ssr": true,
    //   "displayName": true
    // }],
    "inline-react-svg",
    ["module-resolver", {
      "extensions": [".js", ".jsx", ".ts", ".tsx"],
      "root": ["./src"],
      "alias": {
        "reaction": "@artsy/reaction/dist"
      }
    }],
    "relay"
  ],
  "env": {
    "development": {
      "plugins": [
        ["babel-plugin-styled-components", {
          "ssr": true,
          "displayName": true
        }],
        "react-hot-loader/babel"
      ]
    }
  }
}
