{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ],
    "inline-react-svg",
    "lodash",
    "loadable-components/babel",
    [
      "module-resolver",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "root": ["./src"],
        "alias": {
          "reaction": "@artsy/reaction/dist"
        }
      }
    ],
    [
      "relay",
      {
        "artifactDirectory": "./src/__generated__"
      }
    ]
  ]
}
