{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "@babel/react",
    "@babel/stage-3"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "inline-react-svg",
    ["module-resolver", {
      "root": ["./"]
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["babel-plugin-styled-components", {
          "ssr": true,
          "displayName": true
        }]
      ]
    },
    "test" : {
      "plugins": [
        "babel-plugin-rewire"
      ]
    }
  }
}
