# Prefer excluding all assets by default. It prevents large artifacts from
# accidentally becomming part of the Docker context.
*

# CI
!scripts/

# Source
!data/
!patches/
!src/
!webpack/

# Testing
!__mocks__/
!cypress/
!.env.oss
!.env.test

# Build Configuration
!.eslintrc.js
!.nvmrc
!.prettierignore
!apollo.config.js
!babel.config.js
!coffeelint.json
!cypress.json
!dangerfile.ts
!jest.config.js
!package.json
!relay.config.js
!renovate.json
!test.config.js
!test.mocha.js
!tsconfig.json
!yarn.lock
