# Prefer excluding all assets by default. It prevents large artifacts from
# accidentally becomming part of the Docker context.
*

# CI
!scripts/

# Source
!data/
!patches/
!src/
!webpack/

# Testing
!__mocks__/
!cypress/
!.env.oss
!.env.test
!cypress.json
!jest.config.v1.js
!jest.config.v2.js
!test.config.js
!test.mocha.js

# Build Configuration
!.eslintrc.js
!.nvmrc
!.prettierignore
!apollo.config.js
!babel.config.js
!coffeelint.json
!dangerfile.ts
!package.json
!relay.config.js
!tsconfig.json
!yarn.lock
