{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react", "prettier"],
  "env": {
    "browser": true,
    "jest": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "camelcase": 0,
    "no-mixed-operators": 0,
    "no-new": 0,
    "react/jsx-indent": 0,
    "react/prop-types": 0
  },
  "globals": {
    "cy": true
  }
}
