lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.projectile
*.DS_Store
.env
pids
logs
results
npm-debug.log
.DS_Store
desktop/public/assets
mobile/public/assets
dump.rdb
/node_modules
manifest.json
public
.cache-loader