lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.projectile
*.DS_Store
.env
pids
logs
results
npm-debug.log
.DS_Store
dump.rdb
manifest.json
.cache-loader

/data

/src/desktop/public/assets
/src/mobile/public/assets

/node_modules
node_modules
/public
