@require '../multi_page'

occupy(pos)
  display block
  position absolute
  top pos
  right pos
  bottom pos
  left pos
  overflow hidden

.multi-page-modal .multi-page-view
  occupy(50px)
  > .mpv-container
    occupy(0)
    clearfix()
    > .mpv-sidebar
    > .mpv-page
      display block
      float left
      overflow-y auto
      -webkit-overflow-scrolling touch
