@import '../stylus_lib'

.multi-page-modal
  //

.mpm-container
  position absolute
  top 60px
  right @top
  bottom @top
  left @top
.mpm-sidebar
.mpm-page
  position absolute
  top 0
  bottom 0
  overflow-y auto
.mpm-sidebar
  left 0
  width 33.33%
  padding-right 40px
.mpm-page
  right 0
  width 66.66%
  border-left 1px solid gray-lighter-color
  padding-left 40px

.mpm-title
  garamond-size('l-headline')
.mpm-description
  margin 20px 0
  garamond-size('s-body')
  > p
    block-margins(10px)

.mpm-nav
  margin 20px 0
  > a
    avant-garde-size('s-headline')
    padding-right 30px

.mpm-page
  h1
    block-margins(10px)
    avant-garde-size('s-headline', true)
  h2
    garamond-size('s-body')
    font-weight bold
  p
    margin-bottom 20px
    garamond-size('s-body')
