if artworks.length
  include ./nav
  section.auction-artworks.js-auction-artworks( data-mode= state.get('mode') )
    for artwork in artworks
      - artist = artwork.related().artist
      - artists = artwork.related().artists
      - saleArtwork = artwork.related().saleArtwork

      if auction.isOpen() && !auction.isAuctionPromo()
        - href = artwork.href() + '?auction_id=' + auction.id
      else
        - href = artwork.href()

      if state.get('mode') === 'grid'
        include ./artwork/grid
      else
        include ./artwork/list
