.consignments2-submission-choose-artist
  &__title
    margin-top 50px
    text-align center
    garamond-size('headline')
    line-height 1.1
    margin-bottom 30px

  &__form
    max-width 550px
    margin 0 auto

  &__next-button
    width 100%
    margin-top 20px !important

  &__next-button[disabled]
    pointer-events none
    background-color white
    color gray-color
    border 1px solid gray-color

  &__not-consigning
    background-color yellow-light-color
    margin-top 23px
    padding 20px

  &__label
    avant-garde-size('s-headline')
    margin-bottom 4px

  &__input
    height 40px
    width 100%

  .react-autosuggest__suggestion
    height 60px
    border 1px solid gray-lighter-color

    &:hover
      cursor pointer
      background-color gray-lightest-color

  .autosuggest-suggestion
    display flex
    align-items center
    padding 10px

    img
      height 40px
      margin-right 12px
