- section = sections[6]

.gallery-partnerships-section-header.apply
  h3= section.heading
  a.avant-garde-box-button.avant-garde-box-button-black.apply-button( href="https://www.artsy.net/apply/" ) Apply
  .gallery-partnerships-contact Call us: +1 800 589 1350
