- var gallery = artwork.partner
- var profile = gallery.profile

if gallery
  section.artwork-gallery( class='js-artwork-gallery' )
    .artwork-gallery__icon: a(
      href= gallery.href
      data-initials= gallery.initials
      style=(profile && profile.icon ? 'background-image: url(#{profile.icon.url})' : undefined)
    )

    .artwork-gallery__metadata
      a.artwork-gallery__metadata__name( href= gallery.href )
        = gallery.name

      if gallery.cities && gallery.cities.length
        .artwork-gallery__metadata__locations
          = helpers.gallery.cities(gallery.locations)

      if profile
        .artwork-gallery__metadata__bio
          = profile.bio

      .artwork-gallery__metadata__actions
        a.avant-garde-button-black.is-small( class='js-artwork-gallery-contact' )
          | Contact Gallery

        if profile
          a.avant-garde-button-white.is-small( class='js-artwork-gallery-follow', data-id= profile.id )
            | Follow

          if profile.counts.follows
            span.artwork-gallery__metadata__actions__followers
              = helpers.gallery.numberFormat(profile.counts.follows)
              = ' '
              = helpers.gallery.pluralize('Follower', profile.counts.follows)
