.galleries-institutions-search-filters
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content space-between
  align-items flex-start

.filter-partners-dropdown
  position relative
  flex-grow 1
  margin-right 30px

.filter-partners-header
  width 100%
  .icon-chevron-down
    position absolute
    right 0
    bottom 0
    font-size 15px
    color gray-dark-color
    cursor pointer

.filter-header-input
  width 100%
  garamond-size(s-headline)
  border-width 0 0 1px 0
  border-color gray-color
  placeholder(color gray-dark-color,)
  &:not(:focus)
    placeholder(color purple-color,)
    &.no-selection
      placeholder(color black,)

.filter-partners-dropdown-list-container
  width 100%
  display none
  background white
  position absolute
  z-index 1
  overflow hidden
  border 1px solid gray-color
  border-top none

.filter-partners-dropdown-list-items
  overflow auto
  margin-left 20px
  padding-right 40px
  width 100%
  max-height 575px

.filter-partners-dropdown
  &[data-state='expanded']
    .filter-partners-dropdown-list-container
      display block

.partner-search-filter-item
  display block
  margin 20px 0
  garamond-size(s-body)
  &.is-disabled
    color gray-darker-color