mixin checkbox(name, copy)
  .artsy-checkbox
    .artsy-checkbox--checkbox
      input( type='checkbox', name= name, id= name, checked=(form.get(name) ? true : undefined) )
      label( for= name )
    label.artsy-checkbox--label( for= name )= copy
