header.partner-application-header
  .pah-step Step #{state.get('step')} of 3
  h1
    | Which Artsy partnership features interest you most?

.partner-application-form.stacked-form: #paf-form
  //- Rendered separately
