header.partner-application-header
  .pah-step
    //- Placeholder
    | &nbsp;
  h1 Apply to become an Artsy Partner
  p
    | We will use this information to evaluate a potential partnership with your organization.

.partner-application-form.stacked-form
  label.bordered-select: select.paf-type-select
    for mode in modes
      option( value= mode.value )= mode.copy

  #paf-form
    //- Rendered separately
