include checkbox

header.partner-application-header
  .pah-step Step #{state.get('step')} of 3
  h1 How did you learn about Artsy?

form.partner-application-form.stacked-form
  .grid-2-up
    .grid-item: +checkbox('00NC0000005RGgW', 'Art Fair', 'Art Fair')
    .grid-item: +checkbox('00NC0000005RGgW', 'Artsy Staff', 'Artsy Staff')
    .grid-item: +checkbox('00NC0000005RGgW', 'Gallery', 'Gallery')
    .grid-item: +checkbox('00NC0000005RGgW', 'Collector / Patron', 'Collector / Patron')
    .grid-item: +checkbox('00NC0000005RGgW', 'Artist', 'Artist')
    .grid-item: +checkbox('00NC0000005RGgW', 'Museum / Institution', 'Museum / Institution')
    .grid-item: +checkbox('00NC0000005RGgW', 'Online Search', 'Online Search')
    .grid-item: +checkbox('00NC0000005RGgW', 'Press', 'Press')
    .grid-item: +checkbox('00NC0000005RGgW', 'Advertisement', 'Advertisement')
    .grid-item: +checkbox('00NC0000005RGgW', 'Other', 'Other')

  textarea.bordered-input( placeholder='Please provide more detail on your above selection', name='00NC0000005RGgl' )
    = form.get('00NC0000005RGgl')

  p.is-center-aligned Is there anything else you would like to add that is relevant to your application?

  textarea.bordered-input( name='00NC0000005RGgg' )= form.get('00NC0000005RGgg')

  button.avant-garde-button-black.paf-submit Finish
