include checkbox

header.partner-application-header
  .pah-step Step #{state.get('step')} of 3
  h1 How did you learn about Artsy?

form.partner-application-form.stacked-form
  .grid-2-up
    .grid-item: +checkbox('00NC0000005RGgW', (state.get('mode') === 'fair' ? 'Other fairs on Artsy' : 'Art Fair'))
    .grid-item: +checkbox('00NC0000005RGgW', 'Artsy Staff')
    .grid-item: +checkbox('00NC0000005RGgW', 'Gallery')
    .grid-item: +checkbox('00NC0000005RGgW', 'Collector / Patron')
    .grid-item: +checkbox('00NC0000005RGgW', 'Artist')
    .grid-item: +checkbox('00NC0000005RGgW', 'Museum / Institution')
    .grid-item: +checkbox('00NC0000005RGgW', 'Online Search')
    .grid-item: +checkbox('00NC0000005RGgW', 'Press')
    .grid-item: +checkbox('00NC0000005RGgW', 'Advertisement')
    .grid-item: +checkbox('00NC0000005RGgW', 'Other')

  textarea.bordered-input( placeholder='Please provide more detail on your above selection', name='00NC0000005RGgl' )
    = form.get('00NC0000005RGgl')

  p.is-center-aligned Is there anything else you would like to add that is relevant to your application?

  textarea.bordered-input( name='00NC0000005RGgg' )= form.get('00NC0000005RGgg')

  button.avant-garde-button-black.paf-submit Finish
