// Shared styling for main carousel and category carousels.

.gi-carousel-arrow-next
.gi-carousel-arrow-prev
  position absolute
  user-select none
  height 100%
  width 90px
  > i
    position absolute
    transform translateY(-50%)

.gi-carousel-arrow-next
  left 100%
  > i
    left arrow-offset
.gi-carousel-arrow-prev
  right 100%
  > i
    right arrow-offset
