@require '../../../components/stylus_lib'
@require '../components/primary_carousel'
@require '../components/partner_cell_grid'
@require '../components/partner_cell'
@require '../components/partner_cell_carousel'
@require './footer'

#galleries-page
  padding 40px 0
.galleries-institutions2-header
  margin-bottom 60px
  position relative
  h1
    garamond-size('l-headline')
.galleries-institutions2-right
  position absolute
  right 0
  top 0

.galleries-institutions2-right-item
  display inline-block
  margin-left 30px

