@require '../stylus_lib'

#modal
  z-index zindex-modal
  transition opacity 0.25s
  opacity 0
  // Default is a simple fade in
  &[data-state='open'], &.is-open
    opacity 1
    > .modal-backdrop > .modal-dialog
      // Avoid transitioning the initial open
      transition all 0.25s, width 0
  // Slide modal dialog in
  &.is-slide-in
    > .modal-backdrop > .modal-dialog
      transform translateY(100px)
      transition transform 0.4s
    &[data-state='open'], &.is-open
      opacity 1
      > .modal-backdrop > .modal-dialog
        transform translateY(0)
        // Avoid transitioning the initial open
        transition all 0.25s, width 0, transform 0.4s

  &.is-loading
    > .modal-backdrop::before
      display block
      content ''
      spinner(20px, 5px, white)

  &.confirm
    .modal-body
      text-align center
      padding-top 100px
      padding-bottom 100px
      min-height 266px
    .avant-garde-header-center
      font-size 22px
    h3
      margin-top 20px
      font-size 24px
    .avant-garde-button-black
      width 80%
      margin-top 13px
      &.bid-close-button
        margin-top 10px

  .markdown-content
    padding 60px 80px

.modal-h1
  garamond()
  font-size 22px

#modal
.modal-backdrop
  position fixed
  top 0
  right 0
  bottom 0
  left 0

.modal-backdrop
  background-color rgba(black, 0.5)

#modal.has-nobackdrop > .modal-backdrop
  background-color transparent

.modal-dialog
  position fixed
  overflow-y auto
  background-color white
  max-width 90%
  max-height 90%
  prevent-content-shift()
  &.is-notransition
    transition none !important

.modal-close
  position absolute
  top 25px
  right 25px
  cursor pointer
  transition opacity 0.25s
  opacity 0.15
  z-index 2
  prevent-content-shift()
  &:hover
    opacity 1
  > i
    font-size 26px
    line-height @font-size

.modal-dialog
.modal-body
  transition opacity 0.25s
  &[data-state='fade-out'], &.is-fade-out
    opacity 0
  &[data-state='fade-in'], &.is-fade-in
    opacity 1
