.auction-clock
  text-transform uppercase
  font-size 13px
  text-align center
  .clock-header
    font-size 12px

.auction-clock-value
  avant-garde()
  list-style none
  font-size 17px
  li
    display inline-block
    margin 0 3px
    vertical-align top
    small
      display block
      color #aaa
      font-size 9px

.auction-clock-closed
  border-top 2px solid black
  border-bottom 2px solid black
  avant-garde()
  padding 15px 0
  text-align center
  font-size avant-garde-font-size
  position relative
