artist-header-top-padding = 40px
carousel-height = 300px
carousel-top-padding = 20px

.artist-carousel
  position relative
  padding-top carousel-top-padding
  height (carousel-height + carousel-top-padding)
  margin-bottom -(artist-header-top-padding / 2)

.mgr-navigation
  padding 0 20px
.mgr-dots
  visibility hidden
