.artist-header
  position relative
  text-align center
  padding 40px 0 20px
  h1
    font-size 24px
  h1
  h2
    margin 10px 0
  a
    text-decoration none

.artist-header-empty > p
  margin 40px 0

.artist-header-actions
  display table
  width 100%
  min-height 50px
.aha-cell
  display table-cell
  text-align center
  vertical-align middle
  width 33.3%
  &:first-child
    text-align left
  &:last-child
    text-align right

.artist-share > a
  display inline-block
  text-decoration none
  font-size 16px
  font-weight normal
  garamond()
  text-transform none