.artist-header
  position relative
  text-align center
  padding 40px 0 20px
  h1
    font-size large-avant-garde-font-size
  h1
  h2
    margin 10px 0
  a
    text-decoration none

.artist-header-empty
  margin 20px 0

.artist-blurb
  p > a
    text-decoration underline
  > .blurb
    // Removed when dotdotdot initializes
    max-height (26px * 5)

.artist-works-sort
  text-align right
  *
    text-align left
  &:hover > .bordered-pulldown-options
    display block
    border-color gray-color
  .bordered-pulldown
    width 170px

.artist-share
  position absolute
  right 0
  top 42px
  > a
    display inline-block
    line-height 0
    vertical-align bottom
    // Tooltips
    &::after
      garamond()
      text-decoration none
      font-size 16px
      line-height 1
      font-weight normal
      text-transform none
