@import '../../../components/stylus_lib'
@import './header'

.artist-works-section
  border-top 1px solid light-gray-border-color
  h3
    padding 10px 0
    avant-garde()
    font-size 13px
  .loading-spinner
    position relative
    margin 150px 0

.artist-related-section
  border-top 1px solid light-gray-border-color
  margin 40px 0
  h3
    margin 30px 0 10px 0
  .main-layout-container
    position relative
    min-height 200px
  .artist-fillwidth-list-see-more
    display none

.artist-related-see-more
  margin 20px auto

.artist-info-section
  border-top 1px solid light-gray-border-color
  margin 40px 0
  padding-top 30px
  .avant-garde-header-center
    margin 0 0 20px 0
    font-size 17px

.artist-auction-results-section
  text-align center

.artist-auction-results
  margin 20px 0
