@import './header'

.artist-works-section
  border-top 1px solid light-gray-border-color
  h3
    padding 10px 0
    avant-garde()
    font-size 13px
  .loading-spinner
    position relative
    margin 150px 0

.artist-related-section
  border-top 1px solid light-gray-border-color
  margin 40px 0
  h3
    margin 30px 0 10px 0
  .main-layout-container
    position relative
    min-height 200px

.artist-related-see-more
  margin 20px auto

.artist-related-artist
  position relative
  min-height 200px
  margin-top 10px
  h4
    avant-garde()
    font-size 14px
    margin-bottom 20px
  button
    top -3px
    right 0
    position absolute
    font-size 11px
    padding 7px 20px

.artist-related-artist-artworks img
  max-height 180px !important

.artist-info-section
  border-top 1px solid light-gray-border-color
  margin 40px 0
  padding-top 30px
  .avant-garde-header-center
    margin 0 0 20px 0

.artist-info-left
  width 60%
  display inline-block
  vertical-align top
  padding-right 5%

.artist-info-right
  width 40%
  display inline-block

.artist-info-center
  width 52%
  margin 0 auto
  display block

// Related posts module
.artist-related-posts
  //
.artist-related-post
  display table
  border-top 1px solid light-gray-border-color
  *
    text-decoration none
  &:hover
    background-color faint-gray-background-hover-color
    .arpc-title
      color highlight-color
.arpc-title
  font-size 18px
.artist-related-post-content
.artist-related-post-profile
  display table-cell
  padding 10px
.artist-related-post-content
  vertical-align top
  font-size 14px
.artist-related-post-profile
  width 150px
  vertical-align middle
  text-align center
  img
    display inline-block
    width 72px
    height 72px
  figcaption
    text-align center
    avant-garde()
    font-size 10px
.artist-related-post-show-all
  margin-top 20px
  float right
  avant-garde()
  font-size 12px
  text-decoration none

// Related genes module
.artist-related-genes
  margin-top: 40px
  a
    color #6a0bc1
    text-decoration none
    &:hover
      text-decoration underline

.follow-button-followed
  color: highlight-color
  &:hover
    color: bad-red-color
