@import '../../../components/stylus_lib'

// To accomodate full-bleed carousel
#main-layout-container
  margin-left 0
  margin-right 0

#artist-fillwidth-section
#artist-related-artists-section
#artist-related-contemporary-section
#artist-related-posts-section
  display none
  fadeIn()

.artist-works-sort
  margin 20px 0

.artist-works-section-old
  border-top 1px solid gray-lighter-color
  h3
    padding 10px 0
    avant-garde()
    font-size 13px
  .loading-spinner
    position relative
    margin 150px 0

.artist-info-section
.artist-related-section
  border-top 1px solid gray-lighter-color
  margin 40px 0
.artist-related-section
  h3
    margin 30px 0 10px 0
    font-size 17px
  .artist-fillwidth-list-see-more
    display none

.artist-related-see-more
  margin 20px auto

.artist-info-section
.artist-auction-results-section
  margin 40px 0
  padding-top 20px

.artist-auction-results-section
  text-align center

@import './header'
