@require '../../../components/gradient_blurb/index'
@require '../../../components/merry_go_round/index'
@require '../components/article_cell/index'
@require '../components/rail/index'
// Books
.merchandisable-items
  position relative
  display flex
  flex-direction row
  flex-wrap wrap
.merchandisable-item
  width 20%
  padding-right 20px
  text-decoration none
.merchandisable-item-metadata
  margin 20px 0
.merchandisable-item-image > img
  max-width 100%
  max-height 100%
.merchandisable-item-title
  font-weight bold
.merchandisable-item-publish-date
  color gray-darker-color

// Exhibitions
.filterable-list-item-travel
  margin-left 1em

// CV
.artist-cv-note
  color gray-darker-color
.artist-cv-link
  display flex
  flex-direction row
  &__text
    margin-left 13px

// Overview
.artist-overview-header
  margin-bottom 20px
  .sixty-forty-bisected-header
    margin 0
.artist-blurb
  fade-in()
  .blurb-credit
    color gray-darker-color
    font-style italic
    margin-top 10px
.artist-exhibition-highlights
  fade-in()
.exibition-highlights-see-more
  margin-top 20px
  a
    text-decoration none
#main-layout-footer
  transition opacity 1s
.gradient-blurb-read-more-container
  width 100%
  height 32px
  .gradient-blurb-read-more
    padding 8px 29px
    avant-garde-size(s-headline)
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    background-color white
    border 1px solid gray-lighter-color

  &::before
    content ''
    position absolute
    bottom 50%
    left 0
    right 0
    border-bottom 2px dotted gray-lighter-color

// Articles

.article-list-item
  block-margins(40px)
  clearfix()
  a
    display block
    text-decoration none

  &__author
    avant-garde()
    font-size 11px
    white-space nowrap
    margin-top 8px
    line-height 1
    color gray-darker-color

  &__title
    garamond-size('s-headline')
    line-height 1.1

  &__image
    float left
    width 30%

  &__blurb
    float left
    max-width 450px
    padding-left 40px

  &__summary
    margin-top 25px

  &__go
    faux-underline()

  &__author > *
    margin-right 10px
    &:last-child
      margin 0

// Related Artists Section
.artist-related-artists-section
  display none
  fade-in()

// Section Grid Views
.artist-related-shows-content
.artist-related-artists-content
  margin-bottom 60px
  grid-4-up(30px, 40px)
