.show-installation-shot-carousel
  padding-top 20px
  img
    cursor pointer

.show-installation-shot-caption
  margin 5px 0
  color gray-dark-color
  font-size 15px
  font-style italic
  overflow ellipsis
