@import '../../../components/stylus_lib'
@import '../components/related_articles/index.styl'
@import '../components/related_shows'
@import '../components/follow_artists'
@import '../components/map_modal'
@import './carousel'
@import './header'
@import './columns'

#main-layout-container
  margin-left 0
  margin-right 0

.show-subheadline
  block-margins(20px)
  garamond-size('headline')

.show-press-release
  garamond-size('s-body')
  > p
    block-margins(10px)
