@import '../../../components/stylus_lib'
@import '../components/related_articles/index.styl'
@import '../components/related_shows'
@import '../components/follow_artists'
@import '../components/map_modal'
@import './carousel'
@import './header'
@import './columns'

#main-layout-container
  margin-left 0
  margin-right 0

.show-subheadline
  margin 20px 0
  font-size 30px

.show-press-release
  font-size 17px
  line-height 1.4
  > p
    block-margins(10px)
