@require '../stylus_lib'
@require '../../lib/palette'

LINE_HEIGHT = 21px

.artwork-metadata-stub
  text('text')
  margin getSpace(1) 0 distance(gutter) 0
  lines = 5
  height (LINE_HEIGHT * lines)
  overflow hidden

  &__sale-artwork__estimate
    overflow ellipsis

  &__line
    display block
    overflow ellipsis

    &
    & > a
      color getColor('black60')
      text-decoration none

  &__bid-now:before
    content ''
    background-image url('/images/paddle.png')
    background-repeat no-repeat
    background-position 0 2px
    background-size 63%
    padding-right 15px
    height 10px

  &__artists
    font-weight bold
    &
    & > a
      color getColor('black100')

  &__placeholder-line
    offset = 3px
    height (LINE_HEIGHT - (offset * 2))
    background-color getColor('black5')
    margin offset 0

    &:nth-child(2)
      width 68%
    &:nth-child(3)
      width 82%
    &:nth-child(4)
      width 47%
    &:nth-child(5)
      width 44%

