- var viewAllUrl = "/works-for-you"

.abrv-inner( data-rail="followed_artists" )
  .abrv-header
    if showHeader
      if artworks && artworks.length
        h1 Works by artists you follow
      else
        h1 Follow artists and keep up-to-date

      a.abrv-view-all( href=viewAllUrl )
        | View all

  .abrv-content
    .abrv-carousel.mgr-horizontal-nav( class='js-my-carousel' )
      if artworks && artworks.length
        ul.abrv-fillwidth-list.fillwidth-list.js-mgr-cells.mgr-cells( class=artworks ? '' : 'mgr-cells--loading' )
          li.abrv-context.mgr-cell.abrv-fillwidth-row( class='js-mgr-cell' )
            include context
          for artwork in artworks
            li.mgr-cell.abrv-fillwidth-row( class='js-mgr-cell' )
              include ../../../../../components/artwork_brick_rail/templates/brick
          li.mgr-cell.abrv-fillwidth-row( class='js-mgr-cell' )
            include ../../../../../components/artwork_brick_rail/templates/view_all
      else
        if includeContext
          .abrv-context.abrv-fillwidth-row.abrv-context--float.arbv-context--followed-artists
            include context
        .arbv-follow-search-container
          include search
      if artworks && artworks.length
        nav.mgr-navigation.js-mgr-navigation
          if artworks && artworks.length
            include ../../../../../components/merry_go_round/templates/horizontal_navigation
