#arbv-follow-searchbar-container.typeahead
  input#arbv-follow-search-container.bordered-input(
    placeholder='Search for artists you like...'
  )
  a.icon-search
.typeahead
  .arbv-follow-results
    if artistResults
      include results
