.browse-sections
  margin: 0px auto
  margin-top: 80px
  max-width feed-max-width
  .browse-section
    display none

.browse-section h1
  margin 40px 0

#fair-filter-sections .filter-dropdown
  border-left 0

#fair-browse-spacer
  height 60px

#fair-browse-spinner
  position relative
  height 300px

#fair-booths-sort
  float right
  position relative
  top -10px

#fair-booths-az-as-list
  margin-left 20px

.feed-item-fair-name
  display none

section.feed-items article.feed-item .feed-column .fair-location
  display block

section.feed-items article.feed-item .feed-column .exhibitor
  avant-garde()
  font-size: 16px
  a
    display: inline-block
    vertical-align: top
    margin-top 10px
  &:after
    iconfont-styling()
    content: '\e61c'
    color dark-gray-border-color
    font-size 22px
    display: inline-block
    vertical-align: top
