@import '../../../components/stylus_lib'

.fair-page-header
  margin-top 100px
  position relative
  max-width feed-max-width
  .fair-logo
    display inline-block
    vertical-align top
    .profile-badge-icon
      width 100px
      height 100px
      background-size 100px
  #fair-search-container
    display inline-block
    vertical-align top
    margin-top 25px
    margin-left 90px
    input
      width 400px
      border-color: transparify(gray-color, black)
      &:hover, &:active
        border-color purple-color
  .fair-tabs
    position absolute
    top 37px
    right 0px
