@import '../../../components/stylus_lib'
@import 'search'
@import 'overview'
@import 'filter'

.main-layout-container
  margin 0px auto

.body-transparent-header
  .fair-page-header
    margin-top 50px
    #fair-search-container
      margin-left 200px

.fair-page-content
  margin-bottom 100px

#fair-page
  margin 0px auto
  min-width feed-max-width
  max-width feed-max-width

.fair-page-header
  margin-top 100px
  position relative
  max-width feed-max-width
  .fair-logo
    display inline-block
    vertical-align top
    .profile-badge-icon
      width 100px
      height 100px
      background light-gray-border-color
      background-size 100px
  #fair-search-container
    display inline-block
    vertical-align top
    margin-top 25px
    margin-left 90px
    input
      width 400px
  .fair-tabs
    position absolute
    top 37px
    right 0px

#page-markdown-content.fair-info-section
  padding-top: 46px
  width: feed-max-width
  position relative
  margin: 0px auto

  h2
    garamond()
    text-transform none
    font-size: 28px
    line-height: 120%
    margin-top: 38px
    margin-bottom: 23px
    text-align left

  img
    max-width 500px

  .location
    a:before
      border: 0px solid
  .map
    margin-top: 15px
    margin-left: -2px
    border: 2px solid white
    &:hover
      border-color: light-gray-border-color

  .fair-info-nav
    position absolute
    right 0px
    top: 50px
    width 300px

  .fair-info-content
    width 500px

.browse-sections
  margin: 0px auto
  margin-top: 80px
  max-width feed-max-width
  .browse-section
    display none

.a-to-z-container
  border-top: 1px solid light-gray-border-color
  margin-top: 33px

.foryou-section
  max-width feed-max-width
  margin 75px auto 75px auto
  min-height 100px
  &.blank-state
    display none
    font-size 36px
    text-align center
    padding 100px
  .artworks
    margin-top: 40px
    margin-bottom 70px
  .large-garamond-header
    border-bottom: 1px solid light-gray-border-color
    padding-bottom: 30px
  &.booths
    border-top: 1px solid light-gray-border-color
    padding-top: 50px

.exhibitors-column-container
  margin-top: 25px

.exhibitors-column
  width: 31.3%
  display: inline-block
  vertical-align: top
  border-right: 1px solid light-gray-border-color
  padding-right: 3%
  margin-right: 3%
  &:last-child
    border-right: none
    padding-right: 0px
    margin-right: 0px
  img
    background: #FFF
  img, span.mlsb-suggestion-fallback
    height: 40px
  .mlsb-suggestion-fallback
    width 40px
    &:before
      padding-top: 3px
      padding-left: 4px
  .exhibitor-name
    text-decoration none
    display inline-block
    margin-top 10px
    margin-left 10px
    width 47%
    overflow ellipsis
    color: #666
  a.exhibitor-name
    color black
  button
    float right
  .mlsb-suggestion-thumbnail
    padding: 0px
    width: 40px
    overflow: hidden
