@import '../../../components/stylus_lib'

.fair-page-content
  margin-bottom 100px

.fair-page-header
  margin-top 100px
  position relative
  .fair-logo
    display inline-block
    vertical-align top
    .profile-badge-icon
      width 100px
      height 100px
      background light-gray-border-color
      background-size 100px
  #fair-search-container
    display inline-block
    vertical-align top
    margin-top 25px
    margin-left 90px
    input
      width 400px
  .fair-tabs
    position absolute
    top 37px
    right 0px

// Auto-complete
#fair-search-container
  position relative
  // Fix for Firefox
  line-height 0
  &.is-loading
    #fair-search-spinner
      display block

  .twitter-typeahead
    display block
    width 100%
    height 100%
  .tt-hint
    display none
  .tt-dropdown-menu
    width 100%
    background-color #fff
    border 2px solid light-gray-border-color
    border-top none
  .tt-suggestion
    border-bottom 1px solid light-gray-border-color
    &:last-child
      border-bottom none
    &:hover,
    &.tt-is-under-cursor
      background-color #000
      *
        color #fff

#fair-search-spinner
  display none
  position absolute
  top 0
  right 0
  width 50px
  height 100%

#page-markdown-content.fair-info-section
  padding-top: 46px
  width: 900px
  position relative
  margin: 0px auto

  h2
    garamond()
    text-transform none
    font-size: 28px
    line-height: 120%
    margin-top: 38px
    margin-bottom: 23px
    text-align left

  img
    max-width 500px

  .location
    a:before
      border: 0px solid
  .map
    margin-top: 15px
    margin-left: -2px
    border: 2px solid white
    &:hover
      border-color: light-gray-border-color

  .fair-info-nav
    position absolute
    right 0px
    top: 50px
    width 300px

  .fair-info-content
    width 500px

.browse-sections
  margin-top: 80px
  .browse-section
    display none
.a-to-z-container
  border-top: 1px solid light-gray-border-color
  margin-top: 33px

//
// Search
.search-results
  .garamond-header-center
    margin-top 50px
    margin-bottom: 120px
.fair-search-results
  border-top: 1px solid light-gray-border-color
  margin-top: 33px

.artsy-search-results
  .artsy-search-result
    position relative
    .search-result-artsy-link
      position: absolute
      right: 42px
      top: 41px
      font-size: 20px
      pointer-events: none
    &:hover
      color white

.search-query
  margin-top 50px
