@require '../../../components/stylus_lib'
@require 'overview'
@require 'footer'
@require '../components/booths'
@require '../components/browse'

.fair-page-content
  position relative
  margin-bottom 100px

.main-layout-container
  margin 0 auto

#fair-browse-header .filter-dropdown
  max-width 110px

#page-markdown-content.fair-info-section
  padding-top: 46px
  width: feed-max-width
  position relative
  margin: 0px auto

  h2
    garamond()
    text-transform none
    font-size: 28px
    line-height: 120%
    margin-top: 38px
    margin-bottom: 23px
    text-align left

  img
    max-width 500px

  .location
    a:before
      border: 0px solid
  .map
    margin-top: 15px
    margin-left: -2px
    border: 2px solid white
    &:hover
      border-color: gray-lighter-color

  .fair-info-nav
    width 300px
    display inline-block
    vertical-align top
    margin-left: 284px

  .fair-info-content
    width 500px
    display inline-block
    vertical-align top

.a-to-z-container
  border-top: 1px solid gray-lighter-color
  margin-top: 33px

.foryou-section
  max-width feed-max-width
  margin 75px auto 75px auto
  min-height 300px
  position relative
  &.blank-state
    display none
    font-size 36px
    text-align center
    padding 100px
    line-height: 138%
    &.blank-state-visible
      display block
  .artworks
    margin-top: 40px
    margin-bottom 70px
  .large-garamond-header
    border-bottom: 1px solid gray-lighter-color
    padding-bottom: 30px
  .feed
    display none
  &.booths
    border-top: 1px solid gray-lighter-color
    padding-top: 50px

.exhibitors-column-container
  margin-top: 25px

.exhibitors-column
  width: 31.3%
  display: inline-block
  vertical-align: top
  border-right: 1px solid gray-lighter-color
  padding-right: 3%
  margin-right: 3%
  &:last-child
    border-right: none
    padding-right: 0px
    margin-right: 0px
  img
    background: #FFF
  img, span.mlsb-suggestion-fallback
    height: 40px
  .mlsb-suggestion-fallback
    width 40px
    &:before
      padding-top: 3px
      padding-left: 4px
  .exhibitor-name
    text-decoration none
    display inline-block
    margin-top 10px
    margin-left 10px
    width 47%
    overflow ellipsis
    color: #666
  a.exhibitor-name
    color black
  button
    float right
  .mlsb-suggestion-thumbnail
    padding: 0px
    width: 40px
    overflow: hidden
