title Artists | Artsy
meta( property='og:title', content='Artists | Artsy' )
meta( name='description', content='' )
meta( property='og:description', content='' )
meta( property='twitter:description', content='' )
link( rel='canonical', href=(sd.ARTSY_URL + '/artists') )
meta( property='og:url', content=(sd.ARTSY_URL + '/artists') )
meta( name='fragment', content='!' )
meta( property='twitter:card', content='summary' )
