@import '../../components/stylus_lib'

.galleries-institutions-page
  margin-bottom 50px

.galleries-institutions-featured-partner
  display block
  background-size cover
  background-position center center
  padding-bottom 50%
  // When present on the page even out the margin
  // between this and the below header
  margin-bottom -20px
.galleries-institutions-header
  width 80%
  font-size large-font-size
  margin 50px 0 30px

.galleries-institutions-content
.galleries-page-all-cities
  margin 30px 0

.az-partner-group-header
  margin 10px 0
  avant-garde()
  font-size avant-garde-font-size
.az-partner-group-row
  display table
  width 100%
  padding 5px 0
  text-decoration none
  border-top 1px solid light-gray-border-color
  &:last-child
    border-bottom @border-top
.az-partner-group-cell
  display table-cell
  height 100%
  vertical-align middle

.az-partner-group__image
  width 90px
  height @width
  background-color light-gray-border-color
  background-position center center
  background-size cover
  background-repeat no-repeat

.az-partner-group-cell__metadata
  padding 20px 0 20px 10px
.az-partner-group-cell__name
  avant-garde()
  font-size avant-garde-font-size
  line-height 1.2
.az-partner-group-cell__location
  color light-gray-text-color
  line-height 1
  margin-top 5px
