@require '../../../../components/tooltips'

.artwork-metadata
  serif('s-body')
  line-height 1.25

  &__artist
  &__partner
  &__secondary-metadata
    block-margins(distance(gutter / 2))

  &__lot-number
    sans('s-headline')
    block-margins(distance(10px))

  &__artist
    > .entity-link
      sans('m-headline')

    > .entity-follow
      display block
      // Offset icon spacing from within 32px square
      margin-left -8px

  &__title
    //

  &__secondary-metadata
    color gray-darker-color

  // Collapse between margins when these two are next to one another
  &__title + &__secondary-metadata
    margin-top 0

  &__image-rights
    serif('s-caption')
    line-height 1.25
    block-margins(distance(gutter / 2))

  &__limited-partner-message
  &__sale-message
    block-margins(gutter / 2)
    padding distance(gutter / 2) 0
    border-top 1px solid gray-lighter-color
    border-bottom @border-top

  &__partner
    &__label
      sans('s-headline')
      margin-bottom 5px

    &__name
      text-decoration none
      > span
        color gray-darker-color

    &__phone
      serif('l-caption')
      margin distance(5px) 0

      &
      > a
        color gray-darker-color
      > a
        fine-faux-underline()
        margin-top -2px
        padding-bottom -(@margin-top)

      &__locations
        display none
        margin distance(gutter / 2) 0
        &[data-length='1']
          margin 0

        &__location
          //

.artwork-edition-sets
  block-margins(gutter / 2)

.artwork-edition-set
  display table
  width 100%
  serif('m-caption')
  padding 5px 0
  border-top 1px dotted gray-lighter-color

  &:first-child
    border-top-style solid

  &__radio
  &__details
  &__price
    display table-cell
    height 100%
    vertical-align top

  &__radio
    text-align center

  &__details
    padding 0 10px

  &__price
    text-align right
