include templates/metadata/artists
include templates/metadata/title
include templates/metadata/series
include templates/metadata/secondary

unless artwork.is_contactable
  include templates/metadata/partner

//- unless sale && sale.isAuction() || sale && sale.isAuctionPromo()
//-   include templates/metadata/price
