include templates/metadata/lot_number
include templates/metadata/artists
include templates/metadata/title
include templates/metadata/series
include templates/metadata/secondary
include templates/metadata/price
include templates/metadata/partner
