form.artwork-metadata( class='js-artwork-metadata' )
  input( type='hidden', name='artwork_id', value= artwork.id )

  include templates/metadata/lot_number
  include templates/metadata/artists
  include templates/metadata/title
  include templates/metadata/series
  include templates/metadata/secondary
  if !artwork.is_contactable
    include templates/metadata/partner
  include templates/metadata/price
  if artwork.is_contactable
    include templates/metadata/partner
  include templates/metadata/acquire
