@import '../../stylus_lib'

cover-offset = 10px

.favorites-2-main
  max-width 1140px
  margin auto
  .favorites2-empty-state-header-cta
    display block

.favorites2-collections
  position relative
  min-height 250px
  margin-top 54px

.favorites2-collection
  display inline-block
  cursor pointer
  position relative
  text-decoration none
  width 100%
  &:hover .favorites2-edit
    opacity 1

.favorites2-covers-container
  grid-4-up(60px)

.favorites2-cover
  width 100%
  padding-bottom 100%
  position relative
  li
    background-size 125%
    background-position center center
    width 100%
    padding-bottom 100%
    position absolute
    transition margin 0.3s
    &::after
      content '.'
      width 100%
      height @width
      border 1px solid rgba(0,0,0,0.1)
      color transparent
      position absolute
      top 0
      left 0

for i in 1 2 3
  .favorites2-cover li:nth-child({i})
    top (-((i - 1) * cover-offset))
    left (-((i - 1) * cover-offset))
    z-index 0 - i
  .favorites2-collection:hover .favorites2-cover li:nth-child({i}):not(:first-child)
    margin-left (-((cover-offset / 2) * i))
    margin-top (-((cover-offset / 2) * i))

.favorites2-collection-title
  avant-garde()
  margin-top 15px
  font-size 15px

.favorites2-collection-num-works
  font-size 17px

.favorites2-new-collection, .favorites2-new-collection::before
  avant-garde()
  width 100%
  padding-bottom 100%
  border 1px solid gray-lighter-color
  background white
  color gray-color
  font-size 12px
  vertical-align top
  padding 0
  margin 0
  position relative
  cursor pointer

.favorites2-new-collection
  width 100%
  padding-bottom 100%

.favorites2-new-collection-icon
  width 110px
  height 80px
  position absolute
  top 50%
  margin-top -(@height / 2) - 20px
  left 50%
  margin-left -(@width / 2)
  svg
    margin-bottom 20px
    height 100%
    width 100%

.favorites2-new-collection, .favorites2-new-collection-icon *, .favorites2-new-collection::before
  transition border-color 0.3s, fill 0.3s, color 0.3s

.favorites2-new-collection:hover
  border-color purple-color
  color purple-color
  &::before
    border-color purple-color
  .favorites2-new-collection-icon
    path, polygon
      fill purple-color

.favorites2-new-collection::before
  content '.'
  position absolute
  color transparent
  width 100%
  height 100%
  top (cover-offset * -1)
  left (cover-offset * -1)
  display block
  z-index -1
  margin-left 0

.favorites2-empty-cover
  background #eee

.favorites2-edit
  background rgba(50,50,50,0.7)
  position absolute
  avant-garde()
  padding 10px 15px
  border 0
  font-size 12px
  color white
  margin-top -43px
  right 10px
  opacity 0
  transition opacity 0.3s, background-color 0.3s
  cursor pointer
  &:hover
    background black

.favorites2-tabs
  position relative
  top 30px
  text-align center
  position relative
  display none
  a
    avant-garde()
    font-size default-avant-garde-font-size
    border-top 2px solid gray-color
    border-bottom 2px solid gray-color
    padding 9px 0 8px 0
    color gray-color
    transition border-color 0.3s, color 0.3s
    display inline-block
    width 120px
    padding-left 20px
  svg
    width 17px
    height 18px
    position absolute
    margin-left -25px
    *
      fill gray-color
  .icon-heart
    position absolute
    margin-left -30px
    margin-top -6px
    font-size 30px

.favorites-container:not(.is-in-favorites)
  .favorites2-tabs-sets
    color black
    border-color black
    svg *
      fill black
  .favorites2-favorites-artworks
    display none

.is-in-favorites
  .favorites2-favorites-artworks
    display block
    margin 60px 0
  .favorites2-collections, .favorites2-artworks
    display none
  .favorites2-tabs-favorites
    color black
    border-color black
    svg *
      fill black
  .favorites2-tabs-sets a
    color gray-color
    border-color gray-color
    svg *
      fill gray-color