@import '../../stylus_lib'

.favorites2-collection-list li
  transition background-color 0.3s
  cursor pointer
  padding 12px 14px
  &:hover
    background gray-lightest-color

.favorites2-collection-list-create
  margin-top 15px
  position relative
  input
    border-width 1px
    transition width 0.3s linear 0.2s !important
    z-index 2
    &:hover
      border-color black
    &:focus
      width calc(100% \- 115px)
      transition width 0.3s !important
      + button
        opacity 1
        transition opacity 0.3s ease-out 0.1s
  button
    position absolute
    top 0
    right 0
    padding 14px 0
    width 100px
    opacity 0
    transition opacity 0.2s ease-in 0s
    cursor pointer
    &:hover
      color purple-color