@import '../../stylus_lib'

cover-width = 230px
cover-offset = 10px
cover-margin = 0 50px 50px 20px

.favorites2-collections
  position relative
  min-height 250px
  margin-top 54px

.favorites2-collection
  display inline-block
  margin cover-margin
  cursor pointer
  position relative
  text-decoration none
  &:nth-child(4n+4)
    margin-right 0
  &:nth-child(5n+5)
    margin-left 10px
  &:hover .favorites2-edit
    opacity 1

.favorites2-cover
  width cover-width
  height cover-width
  position relative
  li
    background-size 125%
    background-position center center
    width cover-width
    height cover-width
    position absolute
    transition margin 0.3s
    border 1px solid gray-lighter-color

for i in 1 2 3
  .favorites2-cover li:nth-child({i})
    top (-((i - 1) * cover-offset))
    left (-((i - 1) * cover-offset))
    z-index 0 - i
  .favorites2-collection:hover .favorites2-cover li:nth-child({i}):not(:first-child)
    margin-left (-((cover-offset / 2) * i))
    margin-top (-((cover-offset / 2) * i))

.favorites2-collection-title
  avant-garde()
  margin-top 15px
  font-size 15px

.favorites2-collection-num-works
  font-size 17px

.favorites2-new-collection, .favorites2-new-collection::before
  avant-garde()
  width cover-width
  height cover-width
  border 1px solid gray-lighter-color
  background white
  color gray-color
  font-size 12px
  vertical-align top
  padding 0
  margin 0
  position relative
  cursor pointer
  margin cover-margin
  margin-left 10px

.favorites2-new-collection-icon
  width 74px
  height 80px
  display inline-block
  margin-bottom 30px

.favorites2-new-collection, .favorites2-new-collection-icon *, .favorites2-new-collection::before
  transition border-color 0.3s, fill 0.3s, color 0.3s

.favorites2-new-collection:hover
  border-color purple-color
  color purple-color
  &::before
    border-color purple-color
  .favorites2-new-collection-icon
    path, polygon
      fill purple-color

.favorites2-new-collection::before
  content '.'
  position absolute
  color transparent
  width cover-width
  height cover-width
  top (cover-offset * -1)
  left (cover-offset * -1)
  display block
  z-index -1
  margin-left 0

.favorites2-edit-modal
  padding default-modal-padding
  input
    width 100%
    display block
    margin-bottom 50px

.favorites2-edit-modal-submit
  float right

.favorites2-empty-cover
  background #eee

.favorites2-edit
  background rgba(50,50,50,0.7)
  position absolute
  avant-garde()
  padding 10px 15px
  border 0
  font-size 12px
  color white
  margin-top -43px
  right 10px
  opacity 0
  transition opacity 0.3s, background-color 0.3s
  cursor pointer
  &:hover
    background black

.favorites2-edit-modal-delete
  border 0
  margin-right 50px
  color gray-dark-color
  padding 0
  margin-right 72px
  svg
    width 15px
    height @width
    margin-right 4px
    position relative
    top 1px
    *
      transition fill 0.3s
  &:hover
    color red-color
    svg *
      fill red-color

.favorites2-edit-modal-delete-container
  display none
  h1, h2
    text-align center
  h1
    font-size 26px
    margin 62px 0 10px 0
  h2
    margin-bottom 60px
  .avant-garde-button-black
    float right

.favorites2-edit-work-modal .avant-garde-form-label
  margin-bottom 10px

.favorites2-edit-work-modal-move-to-list li
  transition background-color 0.3s
  cursor pointer
  padding 12px 14px
  &:hover
    background gray-lightest-color

.edit-work-modal-default-collection
  border 2px solid black
  padding 10px 12px
  .icon-check
    float right
    font-size 14px
    line-height 20px