
.favorites2-edit-modal
  padding default-modal-padding
  input
    width 100%
    display block
    margin 15px 0
  .avant-garde-form-label
    font-size default-avant-garde-font-size

.favorites2-edit-modal-delete
  border 0
  color gray-dark-color
  padding 0
  position relative
  top 14px
  svg
    width 15px
    height @width
    margin-right 4px
    position relative
    top 1px
    *
      transition fill 0.3s
  &:hover
    color red-color
    svg *
      fill red-color

.favorites2-edit-modal-delete-container
  display none
  h1, h2
    text-align center
  h1
    font-size 26px
    margin 62px 0 10px 0
  h2
    margin-bottom 60px
  .avant-garde-button-black
    float right

.favorites2-edit-work-modal .avant-garde-form-label
  margin-bottom 10px

.edit-work-modal-default-collection
  border 2px solid black
  padding 10px 12px
  .icon-check
    float right
    font-size 14px
    line-height 20px

.favorites2-edit-modal-submit
  margin-left 15px

.favorites2-edit-modal-right
  display inline-block
  float right
  margin-bottom 20px
  button:last-child
    margin-left 15px

.favorites2-edit-modal-hint
  avant-garde()
  display block
  color gray-dark-color
  font-size 12px

.favorites2-edit-modal-save
  width 100%
  margin 0

.favorites2-remove-modal .favorites2-edit-modal-delete-container
  display block