@import '../../stylus_lib'

.favorites2-empty-state
  margin-bottom 40px
  h3, h4
    avant-garde()
  h3
    color white
    font-size 13px
    bottom 15px
    left 20px
    position absolute
  a
    display block
    background black
    position relative
    &:hover img
      opacity 0.5
  img
    width 100%
    transition opacity 0.3s

.favorites2-empty-state-header
  font-size 21px
  background yellow-light-color
  padding 37px 0 40px 0
  text-align center
  margin 40px 0 80px 0

.favorites2-empty-state-header-cta
  font-size 28px
  display none
  margin-top 4px
  .icon-heart
    background rgba(0,0,0,0.5)
    border-radius 100px
    padding 5px 4px 4px 4px
    color white
    margin 0 10px
    position relative
    top 6px
    font-size 30px
    margin-top 4px
    transition background 0.3s
    cursor pointer
    &:hover
      background black
    &.is-active
      background purple-color