@import '../../stylus_lib'

.favorites2-onboarding-modal
  position relative
  padding default-modal-padding 60px
  min-width 1000px
  clearfix()

.favorites2-onboarding-modal-left
  float left
  padding 30px 0
  width 280px
  .avant-garde-button-text
    margin-top 70px
  h1, h2, h3
    garamond()
    line-height 1.2em
  h2, h3
    line-height 28px
  h3
    text-transform uppercase
    letter-spacing 1px
    font-size 12px
    margin-bottom 45px
  h2
    font-style italic
    font-size 24px
    margin-bottom 8px
  h1
    font-size 36px
    margin-bottom 20px
  a
    &:hover
      border-bottom 0
    i
      font-size 13px
      font-weight bold
      margin-left 6px
      position relative
      top -7px

.favorites2-onboarding-modal-right
  float right
  position relative
  font-size default-garamond-font-size + 1
  img
    position relative
    top -30px
  h1
    text-transform uppercase
    letter-spacing 1px
    font-size 14px
    position absolute
    top 240px
    width 100%
    text-align center
  ul
    position relative
    top -10px
    li
      width 170px
      margin-right 40px
      text-align center
      display inline-block
      &:last-child
        margin-right 0
    strong
      avant-garde()
      font-size default-avant-garde-font-size
      font-weight normal