extends ../../../components/main_layout/templates/blank

append locals
  - assetPackage = 'misc'
  - bodyClass = bodyClass + ' body-article'

block body
  include header.jade

  .artsy-primer-article
    include ../../../components/article/templates/index

  .responsive-layout-container: .mlf.mlf__fullwidth
    include ../../../components/main_layout/footer/lower
