header.artsy-primer-header
  .responsive-layout-container
      .artsy-primer-logo
        include ./artsy_primer_logo.svg
      h2.artsy-primer-h2 Portfolio
      .artsy-primer-user
        include ../../../components/main_layout/header/templates/user
