@require '../components/merry_go_round'
@require '../components/artwork_brick/'

image-height = 180px
header-height = 40px
header-margin = 30px

.abrv-container
  margin-top 20px
  padding-top 20px
  border-top 1px solid gray-lighter-color
  position relative
  &:first-child
    border-top none
    padding-top 0
  &:hover .mgr-navigation
    opacity 1 !important

.abrv-header
  margin-bottom header-margin
  position relative
  width 100%
  height header-height

  h1
    garamond-size('headline', true)
    margin-right 10px
    display inline-block

  .abrv-follow-button
    display inline-block
    vertical-align text-bottom

  .abrv-follow-annotation, .abrv-category-annotation
    color gray-darker-color
    a
      color gray-darker-color
      text-decoration none
      
  .abrv-view-all
    faux-underline(black)
    position absolute !important
    right 0
    top 10px

.abrv-content
  clearfix()

.abrv-context.abrv-fillwidth-row
  width 200px
  border-right 1px solid gray-lighter-color
  margin 0 30px 20px 0
  padding-right 30px
  height 270px
  white-space normal
  p
    margin-bottom 20px

.abrv-fillwidth-row
  &__view-all
    width 180px
    height 180px
    position relative
    border 2px solid gray-lighter-color
    &__link
      position absolute
      top 0
      left 0px
      width 100%
      height 100%
      sans('body')
      line-height 180px
      text-align center
      text-decoration none

.abrv-carousel
  position relative
  max-width 100%
  height 340px
  .mgr-cell
    min-width 140px
  .artwork-brick__image
    &__img
      display inline-block
      position static
      width auto
  .mgr-arrow-left .mgr-arrow-icon, .mgr-arrow-right .mgr-arrow-icon
    margin-top -((image-height / 2) + header-height + (header-margin / 2))
  .mgr-cells:not(.flickity-enabled) .mgr-cell
    visibility hidden
  .mgr-cells.mgr-cells--visible .mgr-cell
    visibility visible !important
  .mgr-cells--loading
    display flex
    .mgr-cell--loading
      flex 1
      visibility visible !important
    .mgr-cell__image-placeholder
      display block
      width 100%
      height image-height
      background-color gray-lightest-color
    .mgr-cell__text-placeholder
      display block
      height 16px
      margin 5px 0
      background-color gray-lightest-color
      &:nth-child(2)
        width 68%
      &:nth-child(3)
        width 82%
      &:nth-child(4)
        width 47%

  .artwork-metadata-stub
    min-width 140px
