- nav-height = 90px

.team-channel-nav
  position absolute
  width 100%
  color white
  top 0
  z-index 20
  &__container
    max-width 1600px
    margin auto
    display flex
    justify-content space-between
    align-items center
    height nav-height
  &__artsy-logo
    display inline-block
    a
      text-decoration none
      color white
  &__links
    margin-left auto
    display flex
    .team-channel-nav__apply
      background-color white
      color black
      padding 10px 15px
      border-radius 5%
      margin-left 10px
  &__links
    a
      color white
      text-decoration none
      padding 10px
      avant-garde-size('s-headline')
  &__tagline, &__name, &__artsy-logo-square
    display none

stickynav()
  .team-channel-nav
    margin-top 0px
    position fixed
    border-bottom 1px solid gray-lightest-color
    background-color white
    height nav-height
    &__tagline, &__name, &__artsy-logo-square
      display inline-block
    &__tagline
      color black
      margin-left 20px
    &__artsy-logo
      display none
    &__artsy-logo-square a
      text-decoration none
    &__name
      font-style italic
      color black
      garamond-size('headline')
      margin-left 30px
      text-decoration none
    &__links
      a
        color black
      .team-channel-nav__apply
        background-color black
        color white

body.is-sticky
  stickynav()

@media (max-width: 975px)
  .responsive-layout-container
    margin 0px 30px

  body.is-open
    stickynav()
    .team-channel-nav
      &__links
        top nav-height
        display block
        a
          color white
        .team-channel-nav__apply
          padding 0px
      &__tagline
        display none

  body.is-open, body.is-sticky
    .team-channel-nav
      &__hamburger-icon
        color black
        display inline-block
      &__name
        garamond-size('l-body')
      &__tagline
        display none

  body
    .team-channel-nav
      &__links
        display none
        position fixed
        left 0
        width 100%
        background-color black
        padding 30px
        transition ease 0.2s all
        a
          display flex
          align-items center
          color white
          display block
          padding 10px
          margin-left 0
      &__hamburger
        margin-left auto
        &-icon
          vertical-align middle
          position relative
          font-style normal
          color white
          text-align left
          text-indent -9999px
          direction ltr
          width 20px
          height 4px
          box-shadow inset 0 0 0 7px,0 -7px,0 7px
          margin 16px 7px

@media (max-width: 550px)
  .responsive-layout-container
    margin 0px 20px
