.follows-profile
  display inline-block
  width 33.33%
  padding 0 40px 40px 40px
  vertical-align top
  clear both
  &:nth-child(3n)
    box-shadow 1px 0 0 gray-lighter-color, -1px 0 0 gray-lighter-color
.follows-profile-icon
.follows-profile-metadata
  float left
.follows-profile-icon
  display block
  width 70px
  height @width
  margin-right 10px
  background-color white
  background-repeat no-repeat
  background-position center center
  background-size contain
  border 1px solid gray-lighter-color
.follows-profile-metadata
  width calc('100% - 80px')
.follows-profile-metadata-name
  avant-garde()
  text-decoration none
  font-size 13px
  line-height 1
