.artists-you-collect__description
  | Adding artists that you collect will help Artsy and galleries to best serve your needs when answering your inquiry.

.artists-you-collect__user-interests(
  class='js-artists-you-collect__user-interests'
)
  //- Rendered client-side
