h1.fair-page-module-heading.fair-feed-heading
  border-bottom none
  padding-bottom 0
  margin-bottom 0

#fair-feed__caption
  text-align center
  margin 20px 0px

#fair-feed__refresh
  margin 0 auto
  cursor pointer

#fair-feed__list
  margin-top 20px
  word-wrap break-word

.fair-feed__entry
  border-top 1px solid light-gray-border-color
  padding 20px 0

.fair-feed__entry__attribution
  clearfix()
  margin-bottom 20px

.fair_feed__entry__avatar
  float left
  padding-right 10px

  img
    width 42px
    height 42px

.fair-feed__entry__names
  float left

.fair-feed__entry__names__author-name, .fair-feed__entry__names__username
  font-size 14px
  avant-garde()

  a
    text-decoration none

.fair-feed__entry__names__username
  serif()
  letter-spacing 0px
  text-transform none

.fair-feed__entry__date
  avant-garde()
  float right
  color dark-gray-text-color

.fair-feed__entry__content__image img
  max-width 100%

.fair-feed__entry__content__caption
  padding-top 20px
