#fair-programming
  .fair-page-module-heading
    border-bottom none
    padding-bottom 0

// Nav Date Links
.fair-programming-nav
  margin-bottom 36px

.fair-programming-nav-item
  avant-garde()
  border 2px solid light-gray-border-color
  color light-gray-border-color
  display inline-block
  text-align center
  text-decoration none
  margin 0 8px
  width calc(25% - 16px)
  span
    display block
  &.fair-programming-active
    color black
    border-color black
    .fair-programming-nav-day-abbr
      border-color black

.fair-programming-nav-day-abbr
  border-bottom 2px solid light-gray-border-color
  font-size 12px
  line-height 1
  padding-top 2px

.fair-programming-nav-day-num
  font-size 28px
  line-height 1.25
  padding-top 5px

// Event List For Day
.fair-programming-event-list
  margin-bottom 36px

.fair-programming-events-for-day
  display none
  &.fair-programming-active
    display block

.fair-programming-event-list-item
  margin-bottom 12px
  .fair-programming-event-list-item-link
    text-decoration none
  .fair-programming-event-name
    font-size 18px
  .fair-programming-event-venue
    color light-gray-text-color
    margin-bottom 12px
  .fair-programming-event-description
    margin-bottom 12px

.fair-programming-event-time
  avant-garde()
  color light-gray-border-color
  border-top 1px solid light-gray-border-color
  border-bottom 1px solid light-gray-border-color
  font-size 14px
  margin-bottom 12px
  padding 6px 0 4px

.fair-programming-event-group-name
  avant-garde()
  font-size 14px
  margin-bottom 6px
  &.chevron-arrow-button::after
    background-color light-gray-border-color
    height 14px
    margin-left 4px
    margin-top 2px
    position absolute
    width 14px

// Individual Fair Event
#fair-programming
  .fair-programming-event
    .fair-page-module-heading
      margin-bottom 12px
    .fair-page-module-subheading
      font-size 18px
      font-style normal
      margin-bottom 36px
.fair-programming-event
  .fair-programming-event-name
    font-size 24px
    margin-bottom 6px
  .fair-programming-event-venue
    color light-gray-border-color
    font-size 18px
    margin-bottom 24px
  p
    margin-bottom 12px
