@import '../../../components/stylus_lib'
@import './call_to_action'

#auth-page
  margin 20px 20px 40px 20px
  input
    margin 10px 0
  .artsy-logo-large
    margin-bottom 20px
  p
    margin 20px 0

.auth-page-error-message
  color bad-red-color
  text-align center
  margin 10px 0

.auth-page-center
  text-align center
  color dark-gray-text-color
  a
    color dark-gray-text-color

#sign-up-page-action
  text-align center
  font-size large-font-size
  margin-bottom 15px

.auth-page-divider
  border-top 1px solid #ccc
  text-align center
  margin-top 24px
  small
    background white
    padding 0 10px
    position relative
    top -12px
    avant-garde()
    font-size 11px

.auth-page-facebook, .auth-page-twitter
  background black no-repeat 10% center !important
  background-size auto 20px !important
#auth-page-login-social
  .auth-page-facebook, .auth-page-twitter
    width 48%
    display inline-block
    padding 12px 0 12px 23px
  .auth-page-facebook
    margin-right 2%
  .auth-page-twitter
    margin-left 2%

#auth-page-signup-social a
  margin-bottom 10px
  &.auth-page-facebook
    background-position-x 27% !important
  &.auth-page-twitter
    background-position-x 32% !important
  &:first-child
    margin-top 10px

#auth-page-forgot-password
#auth-page-sign-up
  color black
  margin-top 15px
  display inline-block
  padding 0 10px

#auth-page-forgot-password
  border-right 1px solid

.auth-page-nevermind
  text-align center
  font-size 18px

#forgot-password
  margin-top 20px
  h1
    margin-top 20px
  p
    margin 20px
    text-align center

#gdpr-signup
  .gdpr-signup__form__checkbox__accept-terms
    display flex
    margin-top 30px
    color dark-gray-text-color
    a
      color dark-gray-text-color

    .artsy-checkbox--checkbox
      margin-right 10px

    span 
      padding-top 2px
      max-width 315px

  .gdpr-signup__form__checkbox__accept-terms.tos-error
    color red-color
    a
      color red-color
    .artsy-checkbox--checkbox
      background-color red-color
