@import '../stylus_lib'

.bordered-pulldown
  display inline-block
  width 200px
  position relative
  border 2px solid gray-lighter-color
  &:hover > .bordered-pulldown-options
    display block
    border-color gray-color
  &.is-disabled
    .bordered-pulldown-toggle
      cursor default
      color gray-darker-color

.bordered-pulldown-toggle
.bordered-pulldown-options > a
  display block
  padding 8px 10px 6px

.bordered-pulldown-toggle
  > .bordered-pulldown-toggle-caret
    float right
    padding-left 5px
    border-left 1px solid gray-lighter-color
    > .caret
      caret()
      color gray-color

.bordered-pulldown-options
  display none
  position absolute
  background #fff
  border 2px solid gray-lighter-color
  // Offset border width
  top -2px
  left -2px
  right -2px
  z-index 2
  > a
    text-decoration none
    overflow ellipsis
    &:hover
      background-color gray-lightest-color
    &.is-active
      color red

.bordered-pulldown-label
  margin-right 10px