mixin bordered-pulldown(defaultVal, label)
  if label
    span.bordered-pulldown-label= label
  .bordered-pulldown
    a.bordered-pulldown-toggle( href="#" )
      span.bordered-pulldown-text= defaultVal
      .bordered-pulldown-toggle-caret
        span.caret
    .bordered-pulldown-options
      block

mixin bordered-scrollable-pulldown(defaultVal, label)
  if label
    span.bordered-pulldown-label= label
  .bordered-scrollable-pulldown
    a.bordered-pulldown-toggle( href="#" )
      span.bordered-pulldown-text= defaultVal
      .bordered-pulldown-toggle-caret
        span.caret
    .bordered-pulldown-options
      block
