mixin bordered-pulldown(defaultVal, label)
  span= (label || 'Order')
  .bordered-pulldown
    a.bordered-pulldown-toggle
      = defaultVal
      .bordered-pulldown-toggle-caret
        span.caret
    .bordered-pulldown-options
      block