@require '../../components/stylus_lib'

default-margin = 30px
menu-width = 250px
menu-tip-size = 10px

computed-padding(font-size, target-line-height)
  (target-line-height - font-size) / 2

.hover-pulldown
  position relative
  display inline-block
  cursor pointer

  > a
    text-decoration none

  // Small tip
  &:not(.mlh-hamburger):not(.mlh-notification):not(.artist-page-cta-overlay__feed__pulldown):before
    size = 4px
    display block
    position absolute
    content ''
    top 75%
    left 50%
    margin-left -(size)
    background transparent
    border size solid transparent
    border-top-color black
    border-top-width (size * 1.5)

  // Large tip
  &:after
    display block
    position absolute
    content ''
    top 100%
    left 50%
    margin-left -(menu-tip-size)
    background transparent
    border menu-tip-size solid transparent
    border-bottom-color black
    border-bottom-width (menu-tip-size * 1.5)
    visibility hidden
    opacity 0
    transition opacity 0.25s

  // Touch optimizations
  &[data-mode='touch']
    // Disable transitions
    &:after
    .hover-pulldown-menu
      transition none
    .hover-pulldown-menu
      // Slighty overlap menu with tip
      margin-top (menu-tip-size + (menu-tip-size * 1.5) - 1)

  &[data-mode='hover']:hover:not(.nohover)
  &[data-state='active']
    &:after
    .hover-pulldown-menu
      opacity 1
      visibility visible

  &[data-state='static']
    &:after
    .hover-pulldown-static
        opacity 1
        visibility visible

  &[data-state='static'][data-mode='hover']
    .hover-pulldown-menu
      transition-delay 0.25s

  &[data-anchor='right']
    .hover-pulldown-menu
    .hover-pulldown-static
      left inherit
      right 10px

.mlh-pulldown-top-link
  display none

.mlh-pulldown-top-link-persistent
  display block

@media (max-width: 960px) {
  .mlh-top-nav-link.magazine {
    display: none;
  }
  .mlh-pulldown-top-link.magazine {
    display: block;
  }
}
@media (max-width: 1200px) {
  .mlh-top-nav-link.galleries {
    display: none;
  }
  .mlh-pulldown-top-link.galleries {
    display: block;
  }
}
@media (max-width: 1425px) {
  .mlh-top-nav-link.fairs {
    display: none;
  }
  .mlh-pulldown-top-link.fairs {
    display: block;
  }
}

.hover-pulldown-menu > *
  overflow-x hidden
  &::-webkit-scrollbar
    background-color black
    width 8px
  &::-webkit-scrollbar-corner
    display none
  &::-webkit-scrollbar-thumb
    border-radius 10px
    background-color gray-darkest-color

.hover-pulldown-menu
  visibility hidden
  position absolute
  z-index zindex-hover-pulldown
  width menu-width
  left 50%
  top 100%
  margin-top (menu-tip-size + (menu-tip-size * 1.5))
  margin-left -(menu-width / 2)
  padding 25px 0 30px 0
  text-align left
  background-color black
  opacity 0
  transition opacity 0.25s

  .hpm-header
    display block
    padding computed-padding(11px, 40px) default-margin
    avant-garde()
    font-size 11px
    line-height 1
    color white
    overflow ellipsis
    cursor pointer
  a
    padding computed-padding(18px, 40px) default-margin
    line-height 1
    text-transform none
    letter-spacing 0
    color white
    text-decoration none
    overflow ellipsis
    garamond()
    font-size 18px
    &:not(.mlh-pulldown-top-link)
      display block
    &:hover
      background-color gray-darkest-color
  .mlh-pulldown-top-link
  .mlh-pulldown-top-link-persistent
    avant-garde()
    font-size 13px
  > hr
    height 2px
    margin computed-padding(2px, 40px) default-margin
    background-color gray-darkest-color

  // Buffer area
  &:before
    display block
    position absolute
    content ''
    height (menu-tip-size * 3)
    right 0
    bottom 100%
    left 0

.hover-pulldown-backdrop
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index (zindex-hover-pulldown - 10)
  height 100vh

// For dark banners and backgrounds
@media(min-width: 550px)
  .body-transparent-header-white
    .hover-pulldown
      color white
      svg
        fill white
      &:not(.mlh-hamburger):not(.mlh-notification):before
        border-top-color white


// Persistent tooltip
.hover-pulldown-static
  @extends .hover-pulldown-menu
  padding 25px 0
  > span
    @extends .hover-pulldown-menu a
    white-space normal
    line-height 1.2
    transition opacity 0.25s
    &:hover
      background-color transparent
  &.is-fade-out
    > span
      opacity 0

#hpm-bundles
  overflow-y scroll
  max-height 280px
  > a
    padding 0 0 0 default-margin
.bundle-item
  padding computed-padding(18px, 40px) 0
  garamond()
  font-size 18px
  line-height 1
  text-transform none
  letter-spacing 0
  color white
  text-decoration none
  overflow ellipsis
  &:hover
    background-color gray-darkest-color
.bundle-image
  width 40px
  height 40px
  display inline-block
  vertical-align middle
.bundle-text
  width 170px
  padding-left 10px
  display inline-block
  vertical-align middle
.bundle-information
  display inline-block
  vertical-align middle
  height 31px
.bundle-message, .bundle-date
  avant-garde-size('s-headline')
  color gray-dark-color
.bundle-actors
  avant-garde-size('body')
  color gray-lightest-color
  max-width 160px
  overflow ellipsis
.bundle-read-status
  border-radius 50%
  background-color purple-color
  width 10px
  height 10px
  float right
  margin-top 10px
