extends ../../../components/layout/templates/main

append locals
  - assetPackage = 'mobile_favorites_following'

block head
  title Follow artists, genes and your favorite artworks | Artsy

block content
  #favorites-following-page.main-side-margin
    .page-heading
      h1.avant-garde-header-center Profiles You Follow
      h2.avant-garde-header-center Galleries, Institutions and Users
    #favorites-following-profiles-list.chevron-nav-list
      //- Rendered client-side
