extends ../../../components/layout/templates/main

append locals
  - assetPackage = 'mobile_favorites_following'

block content
  #favorites-following-page.main-side-margin
    .page-heading
      h1.placeholder Login on a desktop to manage your favorites and follows
