each profile in profiles
  - var partner = profile.get('owner')
  a.profile-item( href=profile.href() )
    .profile-item-image( style="background-image: url(#{profile.iconUrl()})" )
    .profile-item-label= partner.name
