@require '../../../../lib/palette'

.auction-ArtworkRail
  user-select none

  &__title
    text('title')
    padding-top getSpace(3)
    margin-top getSpace(3)
    border-top 1px solid getColor('black10')

  &__content
    display flex
    justify-content space-between
    align-items center

    &:hover svg
      visibility visible

  &__page-left
  &__page-right
    width getSpace(5)
    height 300px
    display flex
    align-items center
    justify-content center

    svg
      visibility hidden

    &:hover
      cursor pointer

  &__artworks
    width 100%
    .auction-page-GridArtwork
      width 100%

  &__artwork
    float left
    width 25%
    padding getSpace(1.5)
    a
      text-decoration none

  .disabled
    pointer-events none

    svg
      fill getColor('black10')
