.map-modal-fair-event-information
  .map-modal-fair-event-venue= fairEvent.get('venue')
  .map-modal-fair-event-address
    = fairEvent.get('venue_address')

  .map-modal-fair-event-running-hours
    p= fairEvent.formatDate()
    p= fairEvent.formatTime()

.map-modal-fair-event-map-container
  .map-modal-fair-event-map.js-map-modal-fair-event-map
    //- Rendered separately

  .map-modal-fair-event-map-link
    a( href= googleMapsLink, target='_blank')
      | View in Google Maps
