if article.get('contributing_authors').length > 0
  .article-item-contributing-name= "By "
    - var length = article.get('contributing_authors').length
    - for author, i in article.get('contributing_authors')
      if length > 1 && i == length - 2
        - delimiter = "&nbspand&nbsp"
      else if length == 1 || i == length - 1
        - delimiter = ''
      else
        - delimiter = ",&nbsp"
      if author.name
        .article-item-contributing-name #{author.name}!{delimiter}
