mixin article-figure(article, width, showDate)
  figure.article-figure
    a.article-figure-container( href='/article/' + article.get('slug') )
      .article-figure-img( style="background-image: url('#{article.get('thumbnail_image')}')" )
      figcaption
        if showDate
          time.article-figure-date= article.formatDate()
        .article-figure-title= article.get('thumbnail_title')

        if article.get('contributing_authors') && article.get('contributing_authors').length === 0 || article.get('channel_id') !== sd.ARTSY_EDITORIAL_CHANNEL || sd.CURRENT_PATH !== '/articles'
          .article-figure-author(class = article.get('contributing_authors') && article.get('contributing_authors').length > 0 ? 'has-contributing-author' : '')
            = article.get('author') ? article.get('author').name : ''

        if article.get('contributing_authors') && article.get('contributing_authors').length > 0
          include contributing_authors
