.carousel.mgr-horizontal-nav
  .mgr-cells.js-mgr-cells
    for item in curation.get('carousel')
      .mgr-cell.js-mgr-cell
        img(src=resize(item.image, { width: 800 }))
        .carousel-caption= item.caption
  nav.mgr-navigation.js-mgr-navigation
    include ../../../../../components/merry_go_round/templates/horizontal_navigation