.embedded-inquiry-success
  p: strong Inquiry Sent
  p
    | You will receive an email receipt of your inquiry shortly.
    | If you want to follow up with the #{artwork.related().partner.displayType().toLowerCase()}, simply reply to this email.
