.feature-set-item-artist-list
  .feature-set-item-artist-list-heading Jump to Artist
  for group in artworkGroups
    .feature-set-item-artist-list-group
      for artwork in group
        if artwork.has('artist')
          a.feature-set-item-artist-link( href=artwork.href() )!= artwork.get('artist').name
