.feature-artwork-filter
  | Sort by:
  a( data-id: 'artist-a-to-z' ) Artist A - Z
  a( data-id: 'most-bids' ) Most Bids
  a( data-id: 'least-bids' ) Least Bids
  a( data-id: 'highest-current-bid' ) Highest Current Bid
  a( data-id: 'lowest-current-bid' ) Lowest Current Bid
