.feature-auction-clock.js-auction-clock
  include ../../../components/clock/template

.feature-auction-register-button
  if registered
    .avant-garde-button-black.is-block( disabled ) You&rsquo;re Registered to Bid
  else
    a.avant-garde-button-black.is-block.js-register-button(
      href= sale.registerUrl()
    ) Register to bid
