extends ../../../components/main_layout/templates/index
include ../../../components/share/template

block head
  include meta

append locals
  - assetPackage = 'feature'
  - bodyClass = bodyClass + ' body-no-margins'

block body
  #feature( data-feature=feature.get('id') )
    if feature.hasImage() && feature.imageUrl()
      .feature-image( style="background-image: url(#{feature.imageUrl('wide')})" )

    .responsive-layout-container
      .feature-content

        #feature-top-container
          #feature-auction-left
            h1.feature-title= feature.get('name')
            //- Requires auctions to have descriptions
            //- which I assume they do. But this needs to be revisited.
            if feature.get('description')
              .feature-description
                .feature-description-text
                  != feature.mdToHtml('description')
                #feature-description-register-container
                  //- Rendered client-side
          #feature-auction-right
            //- HAXonHAXonHAX: — Remove after LAMA auction
            if sd.LAMA_LOGO_URL && feature.id == sd.LAMA_FEATURE_ID
              img#feature-auction-logo( src=sd.LAMA_LOGO_URL )
            #feature-auction-info-countdown-container
              //- Rendered client-side
            nav.feature-share
              +share(feature.shareTitle())
        #feature-sets-container: .loading-spinner
