include ./featured_links
include ./videos

for set in sets
  section.feature-set
    if set.get('name')
      h2.feature-set-title!= set.mdToHtml('name')
    if set.get('description')
      h3.feature-set-description!= set.mdToHtml('description', { sanitize: false })
    case set.get('type')
      when 'artworks'
        #feature-artworks.artwork-columns-sale
      when 'featured links'
        +featuredLinks(set.models())
      when 'video'
        +videosTemplate(set.models())
