.mlf-lower: .main-layout-container
  nav#main-layout-footer-internal
    a#main-layout-footer-logo( href='/' )
      include ../public/icons/logo.svg
    span.mlf-links
      span &copy; #{(new Date).getFullYear()} Artsy
      a( href='/terms' ) Terms of Use
      a( href='/privacy' ) Privacy Policy
      a( href='/security' ) Security
  nav#main-layout-footer-external
    a.mlf-social( href='http://twitter.com/artsy', target='_blank')
      include ../public/icons/twitter.svg
    a.mlf-social( href='http://www.facebook.com/artsy', target='_blank')
      include ../public/icons/facebook.svg
    a.mlf-social.mlf-icon-snapchat( href="http://snapchat.com/add/artsy.net" target='_blank')
      include ../public/icons/snapchat.svg
    a.mlf-social.mlf-icon-instagram( href='http://www.instagram.com/artsy', target='_blank')
      include ../public/icons/instagram.svg
