footer#auth-footer
  aside
    | By signing up, you agree to our&nbsp;
    a.faux-underline( href='/terms' ) Terms of Use
    | &nbsp;and&nbsp;
    a.faux-underline( href='/privacy' ) Privacy Policy
    | .
  p
    | Already have an account?&nbsp;
    a.faux-underline.auth-toggle Log in.
