.artist-list
  column-count 2
  column-gap 25px
  column-width 50%
  font-size 12px
  text-align center
  a
    display block
    text-decoration none
  li
    display inline-block
    width 100%
    img
      width 100%
      display block
    h4
      line-height 1.3
      avant-garde()
      margin 15px 0
      font-size 11px
