//- TODO: (Client-side)
//- if auction.isOpen()
//-   if bidderPositions && bidderPositions.length
//-     .artwork-bidder-position-status(
//-       class= bidderPositions.classes()
//-     )
//-       if (position = bidderPositions.isHighestBidder())
//-         | You are currently the highest bidder for this lot with a bid at #{position.currentBid()}
//-       else if (position = bidderPositions.isOutbid())
//-         | Your max bid of #{position.maxBid()} has been outbid.
