- var auction = artwork.sale
- var sale_artwork = auction.sale_artwork

if auction.is_auction_promo
  //- Unimplemented

else if auction.is_preview || auction.is_open
  include ./estimate
  include ./status
  include ./bid
  include ./buy_now
  include ./buyers_premium
  include ./help
else if auction.is_closed
  include ./closed
