- var auction = artwork.sale
- var sale_artwork = artwork.sale_artwork

if auction.is_auction_promo
  //- Unimplemented

else if auction.is_preview || auction.is_open || auction.is_live_open
  include ./estimate
  include ./status
  include ./live
  include ./bid
  include ./buy_now
  include ./buyers_premium
  include ./help

else if auction.is_closed
  include ./closed

