- var count = helpers.auction.count(sale_artwork);

.artwork-auction__bid-status
  .artwork-auction__bid-status__bid
    if sale_artwork.counts.bidder_positions
      | Current Bid
    else
      | Starting Bid

    if me && me.bidder_status
      - var status = me.bidder_status

      .artwork-auction__bid-status__bidder-status(
        data-status= (status.is_highest_bidder ? 'highest' : 'outbid')
      )
        if status.is_highest_bidder
          | Highest Bid ▲
        else
          | Outbid ▼

  .artwork-auction__bid-status__amount
    = sale_artwork.current_bid.amount

  if count
    .artwork-auction__bid-status__count
      | (#{count})
