extends ./template

block content
  section.sg-components
    h2 Forms

    article.sg-component
      h3 Default Input
      .sg-component-rendered
        input.bordered-input.sg-display( placeholder='First Name' )
        input.bordered-input.sg-display.is-error( placeholder='First Name' )
        input.bordered-input.sg-display( placeholder='First Name', disabled )
      pre: code input.bordered-input( placeholder='First Name' )

    article.sg-component
      h3 Default Textarea
      .sg-component-rendered
        textarea.bordered-input.sg-display( placeholder='Your Message' )
        textarea.bordered-input.sg-display.is-error( placeholder='Your Message' )
        textarea.bordered-input.sg-display( placeholder='Your Message', disabled )
      pre: code textarea.bordered-input( placeholder='Your Message' )


    article.sg-component
      h3 Structural Variants
      .sg-component-rendered
        input.bordered-input.is-block.sg-display( placeholder='First Name' )
        textarea.bordered-input.is-block.sg-display( placeholder='Your Message' )
      pre: code
        | input.bordered-input.is-block( placeholder='First Name' )
        | textarea.bordered-input.is-block( placeholder='Your Message' )

    article.sg-component
      h3 Typed Input
      .sg-component-rendered
        .typed-bordered-input.sg-display
          span $
          input.bordered-input.sg-d( placeholder='Amount' )
      pre: code
        | .typed-bordered-input
        |   span $
        |   input.bordered-input( placeholder='Amount' )

    article.sg-component
      h3 Default Checkbox
      .sg-component-rendered
        .artsy-checkbox.sg-display
          .artsy-checkbox--checkbox
            input( type='checkbox', id='my-attribute-0' )
            label( for='my-attribute-0' )
          label.artsy-checkbox--label( for='my-attribute-0' ) Remember me
        .artsy-checkbox.sg-display: .artsy-checkbox--checkbox
          input( type='checkbox', id='my-attribute-1' )
          label( for='my-attribute-1' )
      pre: code
        | .artsy-checkbox
        |   .artsy-checkbox--checkbox
        |     input( type='checkbox', id='my-attribute-0' )
        |     label( for='my-attribute-0' )
        |   label.artsy-checkbox--label( for='my-attribute-0' ) Remember me
      pre: code
        | .artsy-checkbox: .artsy-checkbox--checkbox
        |   input( type='checkbox', id='my-attribute-1' )
        |   label( for='my-attribute-1' )

    article.sg-component
      h3 Results list
      .sg-component-rendered
        div( style='width: 50%; margin: auto;' )
          input.bordered-input.is-block( placeholder='Search' )
          .results-list
            .results-list-item
              .avant-garde-results-list-item-cell Liz Deschenes
              .garamond-results-list-item-cell Following
            .results-list-item
              .avant-garde-results-list-item-cell Walead Beshty
              .garamond-results-list-item-cell Following
            .results-list-item
              .avant-garde-results-list-item-cell Eileen Quinlan
              .garamond-results-list-item-cell Following
      pre: code
        |  .results-list
        |    .results-list-item
        |      .avant-garde-results-list-item-cell Liz Deschenes
        |      .garamond-results-list-item-cell Following

    article.sg-component
      h3 Stacked Form
      .sg-component-rendered
        form.stacked-form
          input.bordered-input( placeholder='Name' )
          input.bordered-input( placeholder='Email', type='email' )
          a.avant-garde-button-black Submit
      pre: code
        | form.stacked-form
        |   input.bordered-input( placeholder='Name' )
        |   input.bordered-input( placeholder='Email', type='email' )
        |   a.avant-garde-button-black Submit

    article.sg-component
      h3 Bordered Select
      .sg-component-rendered
        label.bordered-select: select
          option All Cities
          option New York
          option Los Angeles
          option London
          option Berlin
          option Paris
      pre: code
        | label.bordered-select: select
        |   option All Cities
        |   option New York
        |   [...]
