.artist-page-section-block#auction-results-section
  include ../../../../components/auction_lots/templates/artist

.artist-rail.artist-artworks-rail.arv-container
  include ../../../../components/artwork_rail/templates/index
