include ./cv_item
- var showHelpers = viewHelpers.showHelpers
if shows.highlights && shows.highlights.length
  h2 Exhibition Highlights
  each show in shows.highlights
    +showItem(show, show.fair ? showHelpers.showOrFairLocation(show) : showHelpers.partnerNameAndLocation(show))

  .exibition-highlights-see-more
    button.avant-garde-button-white.is-small
      a(href = model.href() + '/cv') View Artist's CV
else
  - var group_shows = shows.group
  - var solo_shows = shows.solo
  - var fair_booths = shows.fair
  include ./show_groupings
