mixin relatedShows(title, section, shows)
  if shows && shows.length
    .artist-related-shows-section.artist-page-section-block(data-id= section)
      h2.artist-section-header= title
      .artist-related-shows-content
        each show in shows
          .grid-item
            include ../../../../components/show_cell/index

+relatedShows('Current Shows & Fair Booths', 'current-shows', current_shows)
+relatedShows('Upcoming Shows & Fair Booths', 'upcoming-shows', upcoming_shows)
+relatedShows('Past Shows', 'past-shows', past_shows)
+relatedShows('Past Fair Booths', 'past-fairs', past_fairs)

.artist-rail.artist-artworks-rail.arv-container
  include ../../../../components/artwork_rail/templates/index
