.toggle-list
  position relative
  > a:after
    caret(black)
    margin-left 0.5em
.toggle-list-options
  position absolute
  left -20px
  width 200px
  height 200px
  overflow-y scroll
  border 2px solid gray-lighter-color
  background-color white
.toggle-list-option
  display block
  padding 8px 10px 6px
  text-decoration none
  overflow ellipsis
  &:hover
    background-color gray-lightest-color

// Hoverable
.toggle-list-options
  visibility hidden
  opacity 0
  transition all 0.0625s
  transform translateY(10px)
  transition-delay 0.5s

.toggle-list:hover .toggle-list-options
  visibility visible
  opacity 1
  transform translateY(0)
  transition all 0.125s
  transition-delay 0.25s
