@require '../../components/stylus_lib'

.gradient-blurb
  position relative
  overflow hidden
  transition max-height 0.5s

  &.mask-block, &.mask-gradient
    &:after
      display block
      position absolute
      content ''
      right 0
      bottom 0
      left 0

  &.mask-block
    &:after
      height 18px
      background white

  &.mask-gradient
    &:after
      height 125px
      background-image linear-gradient(to bottom, rgba(255,255,255,0), white 100px)

  &.is-expanded:after
    display none

.gradient-blurb-read-more-container
  display block
  position absolute
  bottom 0
  left 0
  z-index 1

.gradient-blurb-read-more
  avant-garde-size('body')
  text-decoration none
  display block
