for show in shows
  li.home-page-current-show
    header
      h2
        a(href="/#{show.get('partner').default_profile_id}")= show.get('partner').name
        br
        a(href=show.href())= show.feedHeader()
      h3
        != show.formattedDateRange()
        if show.feedSubheaderAppend()
          | ,&nbsp;
          = show.feedSubheaderAppend()
    .home-page-current-shows-artworks
      != artworkColumnsTemplate({ artworkColumns: show.artworks().groupByColumnsInOrder() })
