extends ../../../components/layout/templates/main

block content
  br
  .main-side-margin
    h1.home-page-featured-header.avant-garde-header-center Featured Works
    include ../../../components/artwork_list/template
    a.avant-garde-header-center.home-featured-back-link( href='/' ) See Current Shows
