.garamond-alert
  text-align center
  padding 20px 10px
  border 1px solid

.garamond-alert-info
  @extends .garamond-alert
  background-color yellow-light-color
  border none

.fullscreen-flash-message
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background-color rgba(black, 0.75)
  z-index zindex-flash
  transition opacity 0.5s
  text-align center
  cursor pointer
  opacity 0
  garamond-size('headline')
  &, a
    color white
    text-decoration none
  > span
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
  &[data-state='closed']
    opacity 0
  &[data-state='open']
    opacity 1
  &.is-sans-backdrop
    background-color transparent
