.garamond-alert
  text-align center
  padding 10px
  border 1px solid

.garamond-alert-info
  @extends .garamond-alert
  background-color info-yellow-background-color
  border-color info-yellow-border-color
