//
// Styles that affect the layout at large such as when the header becomes fixed
// or when a featured banner/view in room changes the content to fit underneath
// a transparent header.
//

.body-header-fixed
  #main-layout-container
    margin-top: main-header-height + content-margin-top
  #main-layout-header
    position fixed
    z-index 2
    // Prevent repaints
    force-hardware-acceleration()
