@import '../../stylus_lib'
@import './spinners'

.avant-garde-button
  display inline-block
  position relative
  // Avant Garde sits high on the baseline
  // Account for this with extra padding on top
  padding 15px 30px 13px
  font-size 13px
  line-height 1
  cursor pointer
  border none
  background-color light-gray-background-color
  avant-garde()
  transition background-color 0.5s, color 0.5s
  text-decoration none
  &:focus, &:hover, &.is-hover
    outline none
    background-color light-gray-background-hover-color

  &[data-state='error'], &.is-error
    &, &:focus
      background-color bad-red-color
      color #fff

  &[data-state='loading'], &.is-loading
    background-color highlight-color
    color transparent
    // Note:
    // Giving the loading state to input[type='submit']
    // or input[type='button'] will *not* display a spinner.
    // These elements don't support psuedo-elements.
    &::before
      display block
      content ''
      spinner(20px, 5px, #fff)

  &.is-block
    width 100%
    text-align center

// Variants
.avant-garde-button-black
  @extends .avant-garde-button
  background-color #000
  color #fff
  &:focus, &:hover, &.is-hover
    background-color highlight-color

.avant-garde-button-white
  @extends .avant-garde-button
  background white
  border 1px solid light-gray-border-color
  &:focus, &:hover, &:active
    color highlight-color
    background white

.avant-garde-button-text
  @extends .avant-garde-button
  background transparent
  padding 0 0 2px 0
  display block
  text-align center
  &:focus, &:hover, &:active
    border-bottom 2px solid
    padding-bottom 0
    background transparent
  &[data-state='loading'], &.is-loading
    background transparent
    border-color transparent
    transition color 0
    &::before
      background black
