@import '../../stylus_lib'
@import './spinners'
@import '../../follow_button'

.highlight-link
  line-height 1.1
  text-decoration none
  transition color 0.25s
  &:hover
    color purple-color

.play-button
  background-color: #000
  cursor: pointer
  display: none
  height: 78px
  width: 78px
  left: 50%
  margin-left: -39px
  padding: 24px
  position: absolute
  transition background-color 0.3s
  &:hover
    background-color: purple-color
  .play-button-arrow
    width: 0
    height: 0
    border-top: 15px solid transparent
    border-bottom: 15px solid transparent
    border-left: 15px solid white
    position: absolute
    top: 24px
    left: 31px

.avant-garde-button
  display inline-block
  position relative
  // Avant Garde sits high on the baseline
  // Account for this with extra padding on top
  padding 18px 30px 15px
  font-size 13px
  line-height 1
  cursor pointer
  border none
  background-color gray-lightest-color
  avant-garde()
  transition background-color 0.25s, color 0.25s
  text-decoration none
  &:focus, &:hover
    outline none
    background-color gray-light-color
  // States
  &[data-state='success'], &.is-success
    background-color green-color
    color #fff
    &:hover
      background-color darken(green-color, 25%)
  &[data-state='error'], &.is-error
    &, &:focus
      background-color red-color
      color #fff
      &:hover
        background-color darken(red-color, 25%)
  &[data-state='loading'], &.is-loading
    background-color purple-color
    color transparent !important
    // Note:
    // Giving the loading state to input[type='submit']
    // or input[type='button'] will *not* display a spinner.
    // These elements don't support psuedo-elements.
    &::before
      display block
      content ''
      spinner(25px, 6px, #fff)

  &[disabled], &.is-disabled, &.is-disabled
    &, &:hover
      background-color gray-lightest-color
      cursor default
      color rgba(black, 0.5)
      &[data-state='success'], &.is-success
        background-color green-color
        color green-light-color
      &[data-state='error'], &.is-error
        background-color red-color
        color red-light-color

  // Structural variants
  &.is-block
    width 100%
    text-align center
  &.is-small
    font-size 11px
    padding 10px 20px
    &[data-state='loading'], &.is-loading
      &::before
        spinner(16px, 4px, #fff)
  &.is-tiny
    font-size 11px
    padding 6px 12px 5px
    &[data-state='loading'], &.is-loading
      &::before
        spinner(12px, 3px, #fff)

// Stylistic variants
.avant-garde-button-black
  @extends .avant-garde-button
  text-align center
  background-color black
  color #fff
  &:focus, &:hover
    background-color purple-color
  &[disabled], &.is-disabled
    &, &:hover
      background-color gray-darker-color
      color rgba(white, 0.75)

.avant-garde-button-dark
  @extends .avant-garde-button
  color white
  background-color gray-darkest-color
  &:focus, &:hover
    background-color purple-color
  &[disabled], &.is-disabled
    &, &:hover
      background-color gray-darkest-color
      color rgba(white, 0.25)

.avant-garde-button-white
  @extends .avant-garde-button
  background-color transparent
  border 1px solid gray-lighter-color
  &:focus, &:hover, &:active
    color purple-color
    background-color transparent
  &[data-state='success'], &.is-success
    background-color transparent
    color green-color
    &:hover
      background-color transparent
      color purple-color
  &[data-state='error'], &.is-error
    &, &:focus
      background-color transparent
      color red-color
      &:hover
        background-color transparent
        color purple-color
  &[data-state='loading'], &.is-loading
    background-color white
    &::before
      background-color purple-color
  &[disabled], &.is-disabled
    &, &:hover
      background-color transparent

.avant-garde-button-text
  @extends .avant-garde-button
  background transparent
  padding 0
  border-bottom 2px solid transparent
  display inline-block
  &:focus, &:hover, &:active
    border-color black
    background transparent
  &[data-state='loading'], &.is-loading
    background transparent
    border-color transparent
    transition color 0
    &::before
      background black

.avant-garde-button-underlined
  @extends .avant-garde-button-text
  border-color black

.stacked-button-menu
  max-width 100%
  margin 10px auto
  > a
    display block
    width 100%
    margin 10px auto
    > i
      line-height 0
      margin-right 10px
      vertical-align middle
