//
// List any data-uri embedded assets here so they are only embedded once.
//

@font-face
  font-family 'AvantGardeGothicITCW01D 731075'
  font-weight normal
  font-style style
  src url("/fonts/c18aee57-7585-4a8b-9a1c-69d226301d73.woff") format("woff")

// Large Artsy logo
#main-layout-welcome-header
  background-image url('/images/logo_large.svg') !important

// Small Artsy logomark
#main-layout-header-home-logo
  background-image url('/images/logo_square.svg') !important

// Small Artsy logomark (white)
#main-layout-footer-logo
  background-image url('/images/logo_square_white.svg') !important

// Footer social badges
.mlf-social-twitter
  background-image url('/images/social/twitter.svg') !important

.mlf-social-facebook
  background-image url('/images/social/facebook.svg') !important

.mlf-social-tumblr
  background-image url('/images/social/tumblr.svg') !important

// Auth modal
#auth-header-logo
  background-image url('/images/logo_large.svg') !important

// Facebook Logo
.share-to-facebook
  background-image url('/images/icon_facebook.png') !important

// Twitter Logo
.share-to-twitter
  background-image url('/images/icon_twitter.png') !important

// Pinterest Logo
.share-to-pinterest
  background-image url('/images/icon_pinterest.png') !important

// Jump to top chevron
.jump-to-top
  background-image url('/images/interface/chevron.svg') !important
