//
// List any data-uri embedded assets here so they are only embedded once.
//

@font-face
  font-family 'AvantGardeGothicITCW01D 731075'
  font-weight normal
  font-style style
  src url("/fonts/c18aee57-7585-4a8b-9a1c-69d226301d73.woff") format("woff")

@font-face
  font-family 'artsy-icons'
  src url('/fonts/artsy-icons.eot')
  src url('/fonts/artsy-icons.eot?#iefix') format('embedded-opentype'),
    url('/fonts/artsy-icons.ttf') format('truetype'),
    url('/fonts/artsy-icons.woff') format('woff'),
    url('/fonts/artsy-icons.svg#artsy-icons') format('svg')
  font-weight normal
  font-style normal

.order-form-cc-brands .icon
  background-image: url('/images/cc_brands.png')

.bordered-select
  background-image: url('/images/select_arrow.png')
