@require '../../stylus_lib'

.error-handler
  position relative
  margin 0 auto
  padding 120px 20px
  text-align center
  &:before
    display block
    position absolute
    content attr(data-code)
    top 50%
    left 50%
    transform translate(-50%, -50%)
    text-align center
    font-size 535px
    line-height 1
    z-index -1
    color gray-lightest-color

.error-handler-headline
  max-width 60%
  margin 40px auto
  garamond-size('l-headline')

.error-handler-body
  margin 30px 0 50px
  garamond-size('l-body')
  > p
    block-margins(20px)

.error-handler-trace
  max-width 75%
  margin 20px auto
  padding 10px
  overflow-x auto
  text-align left
  monospace()
  font-size 13px
  border 0
  color gray-dark-color
  padding 15px
  word-break break-word
  background white
  border 3px solid gray-lightest-color
  line-height 1.6em

.error-handler-return
  margin 20px 0 60px
