@import '../../stylus_lib'

#error-handler
  padding 120px 0
  text-align  center
  p
    font-size 19px
  h1
    serif()
    font-weight bold
    font-size 20px
    line-height 1.2em
    margin  20px auto
  pre
    max-width 75%
    text-align left
    font-family monospace
    background #eee
    padding 10px
    margin 20px auto
    overflow-x auto