@import '../../stylus_lib'

.stacked-form
  max-width 100%
  margin 0 auto
  > h2
    margin 20px 0
    padding-bottom 10px
    garamond()
    font-size 20px
    border-bottom 1px solid gray-lighter-color
  > a
  > button
    text-align center
  > a
  > button
  > input
  > textarea
  .stacked-form-cell
    display block
    width 100%
    margin 10px auto
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0
  > a > i
  > button > i
    line-height 0
    margin-right 10px
    vertical-align middle
  > label
    margin 20px 0 5px 0
    &:first-child
      margin-top 0
  > label + input
    margin-top 5px

// Placeholder mixins
bordered-input-placeholder()
  garamond()
  font-size default-garamond-font-size
  color gray-dark-color
  transition opacity 0.5s
bordered-input-placeholder--focus()
  opacity 0
bordered-input-placeholder--autofocus-focus()
  opacity 1

.avant-garde-form-label
  avant-garde()
  display block
  font-size 12px
  & + input
    margin-top 5px

.bordered-input
  margin 0
  padding 10px
  border 2px solid gray-lighter-color
  border-radius 0
  box-shadow none
  garamond()
  font-size default-garamond-font-size
  background-color transparent
  transition border-color 0.25s
  placeholder(bordered-input-placeholder)
  &:focus, &:active
    border-color purple-color
    outline none
    transition border-color 0.5s
    placeholder(bordered-input-placeholder--focus)

  &:disabled
    border dotted 2px gray-lighter-color

  // Autofocused inputs should retain placeholders
  &[autofocus]:focus
  &.is-persistplaceholder:focus
    placeholder(bordered-input-placeholder--autofocus-focus)

  &[data-state='error']
  &.is-error
    border-color red-color

  &.is-block
    display block
    width 100%

.typed-bordered-input
  position relative
  display inline-block
  &.is-block
    &, & > .bordered-input
      display block
      width 100%
  > span
    position absolute
    display block
    top 50%
    left 15px
    transform translateY(-50%)
    color gray-dark-color
    pointer-events none
  > .bordered-input
    padding-left 30px

.bordered-select
  garamond()
  font-size 16px
  width 100%
  padding 10px
  border 2px solid gray-lighter-color
  border-radius 0px
  box-shadow none
  appearance none
  outline none
  margin-top 0px
  background-repeat no-repeat
  background-position right
  background-size 24px auto

// Textarea-specific
textarea.bordered-input
  resize none
  padding 10px
  appearance none

// On / Off Toggle Sliders
.artsy-toggle
  avant-garde()
  background-color white
  border 2px solid gray-lighter-color
  border-radius 15px
  color gray-color
  cursor pointer
  display inline-block
  line-height 17px
  text-decoration none
  transition 'color, border-color' 0.2s
  width 56px
  &:focus, &:hover
    & + .artsy-toggle-label
      color purple-color

  &::after
    content attr(data-state)
    display inline
    font-size 12px
    font-weight bold
    letter-spacing -1px
    margin-left 3px
    position relative
    transition margin-left 0.2s
    top -2px
    width 20px

  .artsy-toggle-dot
    display inline
    font-size 30px
    left 2px
    position relative
    top 2px
    transition left 0.2s
    &::after
      content "\25CF"

  &[data-state='on']
    background-color purple-color
    border-color purple-color
    .artsy-toggle-dot
      color white
      left 33px
    &::after
      color white
      content attr(data-state)
      margin-left -10px

.artsy-toggle-separator
.artsy-toggle-label
  display inline-block
  margin-left 10px

.artsy-toggle-separator
  &::after
    content '\2026'

.artsy-toggle-label:hover
  color purple-color
  cursor pointer

form.is-validated
  .bordered-input
    &:invalid
      @extends .bordered-input.is-error

.artsy-checkbox
  display inline-block
  width 20px
  height @width
  position relative
  background gray-lighter-color
  user-select none
  label
    cursor pointer
    position absolute
    top 2px
    right @top
    bottom @top
    left @top
    background-color white
    // Text label
    &:before
      display block
      content attr(data-label)
      white-space nowrap
      margin-left 150%
      line-height 20px
      vertical-align middle
      garamond()
      font-size default-garamond-font-size
    // Check
    &:after
      content ''
      position absolute
      top 3px
      right 2px
      bottom 7px
      left 2px
      border 2px solid black
      border-top none
      border-right none
      opacity 0
      transform rotate(-45deg) translateZ(0)
      transition opacity 0.25s
    &:hover::after
      opacity 0.1
  input[type='checkbox']
    visibility hidden
    &:checked + label:after
      opacity 1

// Auto-complete
.autocomplete-input-container
  display inline-block
  position relative
  // Fix for Firefox
  line-height 0
  &[data-state='loading']
  &.is-loading
    > .autocomplete-loading-indicator
      display block
      > .loading-spinner-small
        background-color purple-color
  > .autocomplete-loading-indicator
    display none
    position absolute
    top 0
    right 0
    width 50px
    height 100%

  &.is-block
    display block
    &
    input
      width 100%

  // Dropdown
  .twitter-typeahead
    display block
    width 100%
    height 100%
  .tt-hint
    display none
  .tt-dropdown-menu
    width 100%
    background-color #fff
    border 2px solid purple-color
    border-top none
    text-align left
    z-index zindex-modal
  .tt-suggestion
    border-bottom 1px solid gray-lighter-color
    &:last-child
      border-bottom none
    &:hover
    &.tt-cursor
      background-color #000
      *
        color #fff

// Result lists
// (typically appended to from autocompletes)
.results-list
  margin 20px 0
.results-list-item
  display table
  width 100%
  border-bottom 1px solid gray-lighter-color
  &:first-child
    border-top @border-bottom
.results-list-item-cell
  display table-cell
  vertical-align middle
  // Account for Avant Garde baseline
  padding 11px 0 9px 0
  avant-garde()
  font-size 13px
  &:first-child
    text-align left
  &:last-child
    text-align right
