//
// Headers across the site usually big centered avant garde things
//

@import '../../stylus_lib'

.avant-garde-header-center
  avant-garde()
  text-align center
  display block

.garamond-header-center
  garamond()
  text-align center
  display block
  font-size 25px

.large-garamond-header
  garamond()
  text-align left
  display block
  font-size 32px
