//
// Headers across the site usually big centered avant garde things
//

@require '../../stylus_lib'

.avant-garde-header
  avant-garde()

.avant-garde-header-center
  avant-garde()
  text-align center
  display block

.avant-garde-header-small
  avant-garde()
  font-size 11px
  text-decoration none

.garamond-header-center
  garamond()
  text-align center
  display block
  font-size 24px

.large-garamond-header
  garamond()
  text-align left
  display block
  font-size 30px

.extra-large-garamond-header
  garamond()
  text-align left
  display block
  font-size 37px
  line-height 1

bisected-header(leftWidth)
  clearfix()
  margin 20px 0

  .bisected-header-cell
    gutter = distance(40px, 'garamond-s-body')
    &:first-child
      &:not(:last-child)
        padding-right 15px
      width leftWidth
    &:last-child
      &:not(:first-child)
        padding-left 15px
      width 100% - leftWidth
    float left
    text-align left
    garamond-size('s-body')
    h2
      margin-bottom 8px
      avant-garde-size('body')
    .bisected-header-cell-section
      block-margins(gutter)
    @media screen and (max-width: 768px)
      float none
      block-margins(20px)
      &:first-child
      &:last-child
        width 100% !important
      &:first-child
        .bisected-header-cell-section:last-child
          block-margins(gutter, gutter)

.evenly-bisected-header
  bisected-header(50%)
  margin 0

.sixty-forty-bisected-header
  bisected-header(60%)

.thirty-seventy-bisected-header
  bisected-header(30%)
