//
// Headers across the site usually big centered avant garde things
//

@import '../../stylus_lib'

.avant-garde-header
  avant-garde()

.avant-garde-header-center
  avant-garde()
  text-align center
  display block

.avant-garde-header-small
  avant-garde()
  font-size 11px
  text-decoration none

.garamond-header-center
  garamond()
  text-align center
  display block
  font-size 24px

.large-garamond-header
  garamond()
  text-align left
  display block
  font-size 30px

.bisected-header
  clearfix()
  margin 20px 0
.bisected-header-cell
  float left
  text-align left
  font-size 17px
  line-height 26px
  &:last-child
    width 40%
  &:first-child
    width 60%
    padding-right 20px
  h2
    margin 5px 0
    avant-garde()
    font-size default-avant-garde-font-size
