[class^='icon-'], [class*=' icon-']
  font-family 'artsy'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  text-decoration none
  line-height 1

  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-twitter:before
  content '\e600'

.icon-tumblr:before
  content '\e601'

.icon-pinterest:before
  content '\e602'

.icon-facebook:before
  content '\e603'

.icon-logo-glyph:before
  content '\e604'

.icon-logo-type:before
  content '\e605'

.icon-chevron-up:before
  content '\e606'
