//
// Common styles used for initial page rendering throughout the project.
//
// Be VERY picky about what is allowed to be put in this file because any style
// that isn't used throughout most pages will unecessarily slow down initial page load.
//
// Examples of styles that belong here are global default styles or CSS reset-like styles
// such as `box-sizing: border-box` on all elements, or removing outlines on all inputs,
// ensuring links aren't purple or blue by default, etc. Things that are more stylistic
// even if they seem to apply to all elements, such as buttons being flat with avant garde,
// should not go here and instead applied as classes in a componenents stylesheet. It's
// much easier to add a class to an unstyled default element than it is to untangle too
// many default CSS styles.
//

@import '../../stylus_lib'
@import '../header'
@import '../footer'
@import './embedded'
@import './form_elements'
@import './spinners'
@import './buttons'
@import './headers'
@import './body'
@import './icons'
@import './faux_underline'
@import './navigation'
@import './alerts'
@import './utilities'

global-reset()

// General tag styles
*,
*:before,
*:after
  box-sizing border-box
html, body
  height: 100%
body
  garamond()
  font-size default-garamond-font-size
  line-height 1.4em
  text-rendering optimizeLegibility
  min-width body-min-width
a
  color black
  cursor pointer
b, strong
  font-weight bold
em
  font-style italic
img
  display block
.small-caps
  text-transform uppercase
  letter-spacing 1px
input
  garamond()
  font-size default-font-size
  appearance none
  &[type='checkbox']
    appearance checkbox
  &[type='radio']
    appearance radio
  &:focus
    outline none
button, input
  margin 0
  outline none
hr
  position relative
  height 1px
  background-color light-gray-border-color
  border none
  margin 18px 0
  clearfix()
sup
  font-size 75%
  line-height 1
  vertical-align super
sub
  font-size 75%
  line-height 1
  vertical-align sub

// Hide the document until typekit loads Garamond
html.wf-loading
  visibility hidden

#main-layout-container
  margin: (content-margin-top + main-header-height + welcome-header-height) layout-side-margin auto
  // To stick footer at the bottom of the page
  min-height: 100%
  height: auto !important
  height: 100%
  // Footer height + top margin
  margin-bottom: -106px

#main-layout-footer, .main-layout-footer-push
  height: 66px

// The 1400px max inner container
.main-layout-container
  max-width: default-max-page-width
  margin: auto

#blank-layout-container
  height 100%
