.garamond-tablist
  text-transform uppercase
  letter-spacing 1px
  garamond-size('s-body')
.garamond-bordered-tablist
  @extends .garamond-tablist
  padding 20px 0
  border-top 1px solid gray-lighter-color
  border-bottom 1px solid gray-lighter-color
.garamond-tab
  position relative
  text-decoration none
  border-bottom 1px solid transparent
  transition border-bottom-color 0.125s
  &:hover
  &:focus
    border-bottom-color black
  &.is-active
    color purple-color
    border-bottom-color purple-light-color
  &[disabled]
  &.is-disabled
  &.is-disabled:hover
    color gray-dark-color
    pointer-events none
    border-bottom-color transparent
.garamond-tab-separator
  display inline-block
  margin 0 15px -2px 15px
  width 1px
  height 0.9em
  vertical-align baseline
  transform rotate(30deg)
  background-color gray-darker-color
  &.is-vertical
    transform none
.garamond-tab-label
  text-transform none
  letter-spacing 0

.meta-separator
  @extends .garamond-tab-separator
  height 1em
  margin 0 0.5em
  vertical-align middle
  transform none
  background-color gray-color

.contextual-return-link
  display block
  avant-garde()
  font-size 13px
  text-decoration none
  > .icon-chevron-small-left
    font-size 16px
    margin-right 5px
    vertical-align -2px
    line-height 0

.avant-garde-jump-link
  display block
  text-decoration none
  avant-garde('m-headline')
  > .icon-chevron-small-right
    font-size 19px
    line-height 0
    margin-left 5px
    vertical-align -3px
    color gray-color
    transition color 0.25s
  &:hover > .icon-chevron-small-right
    color black

.hoverable-image-link
  position relative
  display inline-block
  &:after
    content ''
    display block
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color black
    opacity 0
    transition opacity 0.33s
  &:hover:after, &.is-hovered:after
    opacity 0.5
.hoverable-image-link > img
.hoverable-image
  width 100%
  initials()
  &.is-three-two
  &.is-four-three
    line-height 0
    background-repeat no-repeat
    background-size contain
    &.is-cropped
      background-size cover
  &.is-three-two
    padding-bottom 66.67%
  &.is-four-three
    padding-bottom 75%

.horizontal-list-nav
  display flex
  align-items center
  font-size 17px
  width 100%
  border-width 1px 0
  border-style solid
  border-color gray-lighter-color
.hln-cell
  &.is-dominant
    flex 1
  &:first-child
    text-align left
  &:last-child
    text-align right
.hln-link
  display inline-block
  padding 20px 0.75%
  text-decoration none
  transition color 0.25s
  &:first-child
    padding-left 0
  &:last-child
    padding-right 0
  &:hover
  &.is-active
    color purple-color

.alphabetical-index
  @extends .horizontal-list-nav
.alphabetical-index-label
.alphabetical-index-range
  @extends .hln-cell
.alphabetical-index-label
  padding 20px 20px 20px 0
.alphabetical-index-range
  text-align right
  flex 1
  > a
    @extends .hln-link
    text-transform uppercase

dots(times)
  buf = ''
  for n in (0...times)
    buf += '. '
.leader-dots-list
  overflow-x hidden
.leader-dots-list-item
  display block
  clear both
  text-decoration none
  padding 10px 0
  transition color 0.25s
  text-align left
  &:after
    float left
    width 0
    white-space nowrap
    color gray-darker-color
    content dots(500)
  > span
    &:first-child
      padding-right 0.33em
      background white
    &:last-child
      float right
      padding-left 0.33em
      background white
      position relative
      z-index 1
a.leader-dots-list-item:hover
  color purple-color

entity-height = 17px
.entity-link
.entity-follow
  line-height entity-height
  vertical-align middle
.entity-link
  avant-garde()
  font-size entity-height
  text-decoration none
  &.is-small
    font-size 13px
a.entity-link:hover
  border-bottom 2px solid black
.entity-follow
  &:before
    iconfont-styling()
    content '\e629'
    vertical-align -(entity-height / 2)
  &:after
    margin-left -3px
    content 'Follow'
  &:hover
    color purple-color
  &.is-following
  &[data-state='following']
    color gray-darker-color
    &:before
      content '\e628'
    &:after
      content 'Following'
    &:hover
      color red-color
      &:after
        content 'Unfollow'
    &.is-clicked
      color purple-color
      &:after
        content 'Following'

.responsive-image-container
  display block
  position relative
  background-color gray-color
  img
    position absolute
    top 0
    left 0
    width 100%
    height 100%
