// 
// Responsive side margins that increase the margins on the side of the layout depending
// on how wide your viewport goes.
// 

.responsive-side-margin
  margin-left 55px
  margin-right 55px
@media screen and (min-width: 1690px)
  .responsive-side-margin
    margin-left 105px
    margin-right 105px
@media screen and (min-width: 1900px)
  .responsive-side-margin
    margin-left 155px
    margin-right 155px
@media screen and (min-width: 2540px)
  .responsive-side-margin
    margin-left 205px
    margin-right 205px