@import '../../components/stylus_lib'

#favorites-following-page
  h1
    font-size 20px
    margin-bottom 10px
  h1.placeholder
    serif()
    line-height 1.4
    text-align center
  h2
    font-size 14px
    line-height 1.2
    padding 0 40px
  .page-heading
    padding-left 0
    padding-right 0

#favorites-following-profiles-list
  //

.profile-item
  position relative
  display table
  &::after
    display block
    position absolute
    top 50%
    transform translateY(-50%)
.profile-item-image
.profile-item-label
  display table-cell
  vertical-align middle
.profile-item-image
  background-position center center
  background-repeat no-repeat
  background-size contain
  height 30px
  width @height
  padding 5px
  border 1px solid #ddd
.profile-item-label
  padding 0 20px
  line-height 1.4
