extends ../../../components/fair_layout/templates/conditional
include ./header

block head
  include meta

append locals
  - assetPackage = 'artists_artworks'

block body
  - carousel = artist.carousel
  - hasCarousel = carousel && carousel.images.length >= 4 && showSections.carousel
  - hasMarketData = showSections.marketData
  - hasOverview = showSections.overview

  #artist-page(
    class=(hasCarousel ? 'has-carousel' : 'has-no-carousel')
  )
    .main-layout-container
      if hasCarousel
        include ../components/carousel/index
      #artist-page-header: include ./header
      #artist-page-content.artist-page-content
        - var statuses = artist.statuses
        
        unless tab
          include ./sections/overview
        if tab == 'works' && statuses.artworks
          include ./sections/works

  if jsonLD
    include ../../../components/main_layout/templates/json_ld
