html[data-lab-features*='Keyword Search']
  .cf-pillbox
    &__pillboxes
      padding 0
      padding-bottom 15px

.cf-pillbox
  &__pillboxes
    padding 0 15px 15px 15px
    garamond-size('headline')
    font-size 17px
    > div
      display inline-block
      border 2px solid #e5e5e5
      padding 5px 10px
      margin-right 15px
      margin-bottom 15px

  &__pillboxes_display
    margin-right 10px
    display inline-block
    min-width 16px
    min-height 16px
    margin-bottom -3px
    &--black-and-white
      border-top 8px solid black
      border-left 8px solid black
      border-right 8px solid #d7d7d7
      border-bottom 8px solid #d7d7d7
    &--darkblue
      background-color #425da9
    &--violet
      background-color #6b469b
    &--darkviolet
      background-color #632B80
    &--pink
      background-color #B72B83
    &--red
      background-color #D72E27
    &--darkorange
      background-color #F0552C
    &--orange
      background-color #F69139
    &--gold
      background-color #FFC747
    &--yellow
      background-color #FCE853
    &--lightgreen
      background-color #BBCC46
    &--darkgreen
      background-color #368440
    &--lightblue
      background-color #428C97

  &__pillboxes_clear
    color #cecdcd
    cursor pointer
    border-left 1px solid #cecdcd
    padding-left 10px
    font-size 21px

  &__no-results
    padding-left padding-unit
    padding-bottom (padding-unit * 2)
    color #9b9b9b

