body
  background-color gold
  color white
  garamond-size('l-headline')

.container
	padding 0 20px

.header
	height 75px
	border-bottom 2px solid white
	display flex
	justify-content space-between
	align-items center
	img
		height 30px
	a
		display flex
.planet-art > span
	font-size 13px
  text-decoration none
  line-height 15px
.main-title
	font-size 120px
	font-weight 600
	display flex
	justify-content space-between
	height 90vh
	align-items center

.test-box
	display flex
	justify-content space-between
	.left
		height 2px
		background-color gray
		width 70%
	.right
		height 2px
		background-color gray
		width 27%
