border-gray = 2px solid gray-lightest-color
grid-1 = 15vw
grid-2 = 30vw
grid-3 = 50%
grid-4 = 60vw
flex-display(justify = space-between, align = center)
  display flex
  justify-content justify
  align-items align

.eoy-feature
  &__background
    position fixed
    top 49.9%
    left 50%
    min-height 101vh
    min-width 100vw
    transform translate(-50%, -50%)
    z-index -1
  &__menu
    position fixed
    top 0
    left 0
    right 0
    margin 0 40px
    height 75px
    border-bottom 1px solid white
    z-index -1
    flex-display()
    align-items center
    img.logo
      height 30px
    img.planet-art
      height 25px
      display inline-block
    a
      color white
      text-decoration none
      font-size 14px
      font-weight 600
      span
        display inline-block
        line-height 15px
        margin-right 12px

    &.overlay
      z-index 100
      border-bottom 1px solid
      background-color white
      transition all .25s ease-in
      a
        color black
      img
        filter invert(100%)
  h2
    garamond-size('xxl-headline')
    line-height 1.33em

.scroller
  color white
  width calc(100% \- 80px)
  margin 0 40px
  position fixed
  top 75px
  bottom 20px
  display none
  overflow hidden
  border-bottom 1px solid
  z-index -1
.scroller__items
  transition height .5s
  .left, .right
    flex-display(center, center)
    height 100%
    .item
      max-height calc(100% \- 40px)
      flex-display(center, center)
      overflow hidden
  article
    position relative
    overflow hidden
    height 100%
    .inner
      flex-display()
      width 100%
      height 100%
      overflow hidden
  section
    margin 0 auto
    height 0
    transition padding .5s
    &[data-state='closed']
      max-height 0
      footer
        display none
    &[data-section='0']
      article
        font-size 120px
        font-weight 500
        width 100%
        .inner
          flex-direction column
          border-left 1px solid
          border-right 1px solid
          padding 20px
          .spacer
            height 1px
            margin 20px
            border-top 1px solid
            width calc(100% \- 40px)
          .top, .bottom
            height 50%
            flex-display(center)
            overflow hidden
    &[data-section='1']
      .inner
        border-top 1px solid
        .left
          width grid-1
          height 100%
          border-right 1px solid
        .right
          flex 1
          border-right 1px solid
    &[data-section='2']
      .inner
        border-top 1px solid
      .left
        .col
          height 100%
          border-left 1px solid
          &:first-child
            width calc(grid-1 \- 1px)
            border none
      .right
        width 50%
        border-left 1px solid
        border-right 1px solid
    &[data-section='3']
      .left
        width 50%
        border-left 1px solid
        border-top 1px solid
      .right
        flex-display()
        flex 1
        border-top 1px solid
        .col
          height 100%
          border-left 1px solid
          &:first-child
            width calc(grid-1 \- 1px)
          &:nth-child(2)
            width calc(grid-2 \- 1px)
    &[data-section='4']
      .inner
        border-top 1px solid
      .left
        width calc(grid-2 \- 1px)
        border-right 1px solid
      .right
        flex 1
        border-right 1px solid
    &[data-section='5']
      .inner
        border-top 1px solid
        border-bottom 1px solid
        .left
          flex 1
          border-left 1px solid
        .right
          width calc(grid-1 \- 1px)
          border-right 1px solid
          border-left 1px solid
    &[data-section='6']
      .left
        .col
          height 100%
          border-left 1px solid
          &:first-child
            width calc(grid-1 \- 1px)
          &:nth-child(2)
            width calc(grid-2 \- 1px)
            border-bottom 1px solid
      .right
        flex 1
        border-left 1px solid
        border-right 1px solid
        border-bottom 1px solid
    &[data-section='7']
      .left
        border-top 1px solid
        .col
          height 100%
          width calc(grid-1)
          border-right 1px solid
          border-left 1px solid
      .right
        flex 1
        height calc(100% \- 40px)
        overflow hidden
        border-right 1px solid
    &[data-section='8']
      .left
        border-top 1px solid
        .col
          height 100%
          width calc(grid-2)
          border-right 1px solid
      .right
        flex 1
        border-top 1px solid
        border-right 1px solid
    &[data-section='9']
      .left
        flex 1
        border-top 1px solid
        border-right 1px solid
        border-left 1px solid
      .right
        width grid-3
        border-top 1px solid
        border-right 1px solid
    &[data-section='10']
      .left
        width grid-3
        border-top 1px solid
        border-right 1px solid
        border-left 1px solid
        justify-content flex-start
        .col:first-child
          width grid-2
          border-right 1px solid
          height 100%
      .right
        flex 1
        border-top 1px solid
        border-right 1px solid
.article-body
  display none
  padding 0 40px
  color black
  background-color white
  width 100vw
  min-height 100vh
  overflow hidden
  &--section
    width calc(85vw \- 80px)
  &__intro
    &-header
      width calc(grid-2 \+ 1px)
      height 30vh
      border-right 1px solid
      margin-bottom 20px
      z-index 1000
    &-inner
      width grid-4
      margin 0 auto
      border-top 1px solid
      border-bottom 1px solid
      padding 80px 20px
      h3
        garamond-size('headline')
        line-height 45px
        max-width 75%
  &--section__title
    height 70vh
    flex-display(flex-end, flex-end)
    h2
      margin-bottom 100px
  &--section__cover-image
    border-top 1px solid
    border-bottom 1px solid
    padding 20px 0
    margin-bottom 10px
    width 100%
    flex-display()
    .image
      width 100%
    img
      height auto
      width auto
      max-width 75%
      max-height 600px
  .caption
    margin-top 15px
    garamond-size('s-body')
    color gray-color
  .callout
    garamond-size('headline')
  &--section__text
    padding 70px 20px
    p
      garamond-size('s-headline')
      padding-bottom 40px
      max-width 750px

[data-section='1']
  .article-body--section
    &__title
      width calc( \(\(100vw \- 80px\) \/ 6\) \* 4)
      justify-content flex-end
    &__cover-image
      justify-content flex-end
      .image
        border-left 1px solid
        padding 40px 20px
        display flex
        flex-direction column
        align-items flex-end
    article
      display flex
      flex-direction column-reverse
      border-right 1px solid
      margin 20px 0
    &__text
      border-top 1px solid
      margin-top 20px
      margin-right 20px
      border-bottom 1px solid
      p
        max-width 750px
        margin 0 auto
    &__sub-text
      flex-display(space-between, center)
      .image
        width calc( \(\(100vw \- 80px\) \/ 6\) \* 3)
        border-right 1px solid
        padding 50px 0
        img
          width 100%
          padding-left 20px
          padding-right 70px
      .callout
        width calc( \(\(100vw \- 80px\) \/ 6\) \* 2)
        text-align center

[data-section='2']
  .article-body--section
    margin 0 auto
    &__title
      h2
        border-right 1px solid
        margin 0
        padding 150px 20px 150px
        width 100%
    &__cover-image
      border-right 1px solid
      border-top 0
      border-bottom 0
      padding 0
      .image
        border-top 1px solid
        border-bottom 1px solid
        margin-right 20px
        padding 70px 0 70px 20px
    &__text
      border-left 1px solid
      margin 20px 0
      p
        margin-right 0
        margin-left auto
    &__sub-text
      display flex
      border-top 1px solid
      padding 20px 0
      .image
        width 50%
        order 3
        margin-left 20px
        padding 70px 0
        border-bottom 1px solid
        img, .caption
          max-width 75%
          margin-left auto
          margin-right 0
      .spacer
        order 2
        border-right 1px solid
      .callout
        flex-display()
        width 50%
        margin-right 20px
        order 1
        border-bottom 1px solid
        p
          border-left 1px solid
          padding-left 20px
          garamond-size('l-headline')

[data-section='3']
  .article-body--section
    margin-left auto
    margin-right 0
    &__title
      height auto
      border-left 1px solid
      margin-top calc(70vh \- 270px)
      h2
        width 100%
        margin-top 100px
        margin-left 20px
        border-bottom 1px solid
        margin-bottom 0
        padding-bottom 100px
        padding-left calc(\(100vw \- 80px\) \/ 6)
    &__cover-image
      border-top 0
      border-bottom 0
      border-left 1px solid
      padding-bottom 0
      margin-bottom 0
      padding-right 20px
      .image
        margin-left 20px
        border-bottom 1px solid
        padding 70px 0
        display flex
        align-items flex-end
        flex-direction column
        video
          max-width 75%
    &__text
      border-right 1px solid
    &__sub-text
      margin-top 20px
      padding-top 20px
      border-top 1px solid
      display flex
      .image
        width 50%
        border-bottom 1px solid
        padding 70px 0 70px 20px
        video
          max-width 75%
      .callout
        width 50%
        border-bottom 1px solid
        flex-display(center, center)
      .spacer
        border-right 1px solid
        margin-right 20px
        padding-right 20px

[data-section='4']
  .article-body--section
    margin 0 auto
    &__title
      h2
        margin-right 20px
    &__cover-image
      .image
        border-right 1px solid
    article
      position relative
    &__text
      display flex
      justify-content flex-end
      border-bottom 1px solid
    &__sub-text
      border-bottom 1px solid
      .spacer
        border-right 10px solid white
        border-left 10px solid white
        position absolute
        left 15%
        top 10px
        bottom 20px
        background black
        width 21px
      .image
        padding-left calc(15% \+ 100px)
        display flex
        flex-direction column
        align-items flex-end
        padding-top 70px
        padding-bottom 70px
        img
          max-height 600px
      .callout
        display none

[data-section='5']
  .article-body--section
    &__title
      h2
        border-right 1px solid
        margin-bottom 0
        padding-bottom 100px
        padding-top 100px
        padding-right 20px
        width 100%
        text-align center
    &__cover-image
      border-bottom none
      border-top none
      padding-bottom 0
      margin-bottom 0
      border-right 1px solid
      .image
        border-top 1px solid
        border-bottom 1px solid
        width calc(100% \- 20px)
        padding 50px 20px
    &__text
      border-right 1px solid
      margin-bottom 20px
    &__sub-text
      border-top 1px solid
      padding 70px 20px
      display flex

#recently-viewed-artworks
  display none