extends ../../../../components/main_layout/templates/blank.jade

append locals
	- assetPackage = 'editorial_features'

block body
	.container
		.header
			a(href="/").root
				img(src='https://artsy-vanity-files-production.s3.amazonaws.com/images/artsy_logo.png')
			.planet-art
				a(href="#")
					span
						| Presented in
						|	Partnership with
					img(src='https://artsy-vanity-files-production.s3.amazonaws.com/images/planetart.svg')

		.main-title
			h1 The Year In Art
			h1 2016

		.test-box
			.left
			.right