extends ../../../../components/main_layout/templates/blank.jade

append locals
	- assetPackage = 'editorial_features'

block body
	video(class='video' autoplay='autoplay' loop='loop' muted='')
		source(src='https://artsy-vanity-files-production.s3.amazonaws.com/videos/year-end-six.mp4' type='video/mp4')
	.header
		a(href='/')
			img.logo(src='https://artsy-vanity-files-production.s3.amazonaws.com/images/artsy_logo.png')
		a(href='#')
			span
				| Presented in <br />
				|	Partnership with
			img.planet-art(src='https://artsy-vanity-files-production.s3.amazonaws.com/images/planetart.svg')

	.nav
		.scroller
			section(data-id='0')
				header
					.left
				article.main-title
					.inner
						h1 The Year In Art
						h1 2016
			section(data-id='1')
				header
					.left
					.right
				article
					.inner
						.left
							h2 The Artist Becomes Political
						.right
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
			section(data-id='2')
				header
					.left
					.right
				article
					.inner
						.left
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
						.right
							h2 The Artist Does a Second Thing
			section(data-id='3')
				header
					.left
					.right
				article
					.inner
						.left
							h2 The Artist Says a Third Thing
						.right
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
			section(data-id='4')
				header
					.left
					.right
				article
					.inner
						.left
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
						.right
							h2 The Artist is a Fourth Thing
			section(data-id='5')
				header
					.left
					.right
				article
					.inner
						.left
							h2 And the Fifth Thing!
						.right
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
			section(data-id='6')
				header
					.left
					.right
				article
					.inner
						.left
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
						.right
							h2 Here We Are Sixth Thing
			section(data-id='7').last
				header
					.left
					.right
				article
					.inner
						.left
							h2 The End......
						.right
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
							.spacer
	.page-content
		section
			.cover-image
				.left
				.right
					img(src='https://d7hftxdivxxvm.cloudfront.net/?resize_to=width&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2F-AdsPRKJHjeVBYXBron4Cg%252FJuntaeTeeJayHwang%2B6%2BLick%2Byour%2BCohorts.jpg&width=720&quality=95')
			.title
				h2 The Artist Becomes Political
				h2.chapter 01
	//- .container
	//- 	.panel.active(data-id='0')
	//- 		.main-title
	//- 			h1 The Year In Art
	//- 			h1 2016

	//- 	.panel(data-id='1')
	//- 		.section.left
	//- 		.section.right

	//- 	.panel(data-id='2')
	//- 		.section.left
	//- 		.section.right

	//- 	.panel(data-id='3')
	//- 		.section.left
	//- 		.section.right

	//- 	.panel(data-id='4')
	//- 		.section.left
	//- 		.section.right

	//- 	.panel(data-id='5')
	//- 		.section.left
	//- 		.section.right