.article-sa-footer
  margin-top 80px
  max-width 100%

.article-sa-sticky-left
  left 40px

.article-sa-artsy-logo
	font-size 30px
	margin-top -3px

.article-sa-sticky-center
	top 20px
	margin-top 20px

.article-sa-sticky-right
  right 40px
  top 14px

.article-sa-primary-logo img
	height 39px

.article-sa-sticky__presented
  line-height 1.25
  margin-right 12px
  font-size 14px
.article-sa-sticky-related-container
	margin-top 15px

@media screen and (max-width: 900px)
  .article-sa-sticky-header .article-sa-sticky-right
    left 145px