@require '../stylus_lib'
@require '../artwork_save'
@require '../artwork_metadata_stub'

.artwork-brick
  &__image
    background-color gray-lighter-color
    position relative
    width 100%

    &__img
      position absolute
      top 0
      left 0
      width 100%
      vertical-align bottom
      outline 1px solid white

    &__save
      position absolute
      right (gutter / 3)
      bottom @right

    &:hover
      .artwork-brick__image__save
      .artwork-brick__image__save > .artwork-save
      .auction-artwork-save > .artwork-save
        display: block
        position: absolute
        right: 5px
        bottom: 5px
