@require '../../../../components/stylus_lib'

partner-cell-metadata-height = 73px
cell-margin = 30px

.partner-cell
  display inline-block

.partner-featured-image .hoverable-image
  display block
  background-size cover
  width 100%
  position relative
.partner-cell-metadata
  padding-top 25px
  display flex
  align-items center
  min-height partner-cell-metadata-height
.partner-cell-metadata-text
  height 48px
  flex 1 1 auto
  overflow hidden
  text-overflow ellipsis
.partner-cell-name
  avant-garde-size('m-headline')
  text-decoration none
  text-overflow ellipsis
  white-space nowrap
.partner-cell-location
  display inline
  garamond-size(s-body)
  min-height 25px
.partner-cell-follow-button
  font-size 10px
  flex 0 0 auto
  margin-left 10px
.hoverable-image
  background-color gray-lightest-color
  &.is-missing:after
    z-index 1
