extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - bodyClass = bodyClass + ' body-no-margins'
  - assetPackage = 'auctions'

block body
  .how-auctions-work-page
    for section, i in sections.sort(function(a, b) { return a.position > b.position })
      include section

    include mobile_cta

    .haw-multi-page.js-multi-page-embed
      //- Rendered client-side
