- var artworkColumns = artworks.groupByColumnsInOrder(4)
- var artworkSize = 'tall'
section.feed-large-artworks-columns: include ../../artwork_columns/template.jade
if !hideSeeMoreButtons && feedItem.formatSeeMoreText
  .feed-item-see-more
    a.avant-garde-button-underlined.see-more
      = feedItem.formatSeeMoreText()
