// Add imports here

@require '../components/auctions_block/AuctionsBlock'

.auctions2-body
  max-width 1125px
  margin 0 auto
  @media (max-width: responsive-mobile-width)
    #main-layout-header
      display block

    #main-layout-footer
      display block

    #recently-viewed-artworks
      display none
