mixin rail(title, viewAllUrl, section)
  if statuses[section]
    .artist-related-rail(data-id= section)
      .artist-related-rail__header
        h1= title
        a.artist-related-rail__view-all(href= viewAllUrl) View All
      .artist-related-rail__content.js-artist-rail.mgr-horizontal-nav
        .mgr-cells.js-mgr-cells: .loading-spinner
          //- Rendered client-side

        include ../../../../components/merry_go_round/templates/horizontal_navigation

.artist-overview-header
  .evenly-bisected-header
    - var artistMeta = viewHelpers.artistMeta(artist)

    - var hasMeta = viewHelpers.hasOverviewHeaderMeta(artist)
    - var hasShows = statuses.shows || statuses.cv

    .bisected-header-cell.js-artist-overview-header-left
      if hasMeta
        .artist-blurb.bisected-header-cell-section
          h2 Biography
          if artist.biography_blurb && artist.biography_blurb.text
            .blurb!= artist.biography_blurb.text
            if artist.biography_blurb.credit
              .artist-blurb__credit &mdash; #{artist.biography_blurb.credit}
            if artistMeta.length
              br

        if artistMeta.length
          .artist-meta-detail!= artistMeta

    .bisected-header-cell.js-artist-overview-header-right
      if hasShows
        .artist-exhibition-highlights.bisected-header-cell-section
          //- Rendered client-side

if artist.statuses.artworks
  include ./works

//- if sd.ARTIST_PAGE_PAGINATION is 'experiment'
if sd.ENABLE_EXPERIMENTAL_ARTIST_PAGINATION
  +rail('Related Artists', artist.href + '/related-artists', 'artists')
else
  +rail('Show Highlights', artist.href + '/shows', 'shows')
  +rail('Related Articles', artist.href + '/articles', 'articles')
  +rail('Related Artists', artist.href + '/related-artists', 'artists')

