.auction2-banner
  height 240px
  position relative
  overflow hidden
  margin-bottom 40px
  background-size cover
  background-position center

  &_isClosed
    background-color rgba(0, 0, 0, 0.6)
    background-blend-mode multiply

  +respond-mobile()
    height 200px

  // Live
  &__live-bg
    background center center gray-lightest-color
    background-size cover
    position absolute
    top 0
    left 0
    width 100%
    height 100%

    &:after
      content ' '
      width 100%
      height 100%
      background rgba(0,0,0,0.4)
      top 0
      left 0
      position absolute

  &__live-open
    color white
    text-align center
    height 600px

    +respond-mobile()
      height 200px

    h1
      garamond-size('headline')

    .avant-garde-button-white
      background-color white
      width 400px
      margin-top 20px
      padding 17px 0
      border 0
      avant-garde-size('l-headline')

    .live-bg
      blur(20px)
      transform scale(1.05)
      &:after
        display none

  &__live-details
    z-index 2
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
