.mpv-container
  .mpv-sidebar
    h1.mpv-title
      = title
    .mpv-description
      != description
    nav.mpv-nav.chevron-nav-list
      for page in pages.models
        a.js-page(
          class= page.id === active.id ? 'is-active' : undefined
          data-id= page.id
        )
          = page.get('title')

  .mpv-page
    .mpv-page-content
      != active.mdToHtml('content')
