p.avant-garde-body.auth-modal__title Call Gallery

#auth-page.vam-outer
  .vam-inner.garamond-l-body.artwork-partner-stub__inquire-via-phone__modal
    header#auth-header
      aside
        b= partner.name

    section#auth-body
      for location in partner.locations
        .artwork-partner-stub__phone__locations__location
          p
            = location.city
            if location.state
              = ", " + location.state
          p= location.phone
