title Browse Artists on Artsy | Modern and Contemporary Artists
meta( property='og:title', content='Browse Artists on Artsy | Modern and Contemporary Artists' )
meta( name='description', content='Research and discover more than 40,000 modern and contemporary artists on Artsy. Find works for sale, biographies, CVs, and auction results.' )
meta( property='og:description', content='Research and discover more than 40,000 modern and contemporary artists on Artsy. Find works for sale, biographies, CVs, and auction results.' )
meta( property='twitter:description', content='Research and discover more than 40,000 modern and contemporary artists on Artsy. Find works for sale, biographies, CVs, and auction results.' )
link( rel='canonical', href=(sd.APP_URL + '/artists') )

meta( property='og:url', content=(sd.APP_URL + '/artists') )
meta( property='twitter:card', content='summary' )
