@import '../../components/stylus_lib'

// Styles for the "One Last Step" twitter email page
#auth-twitter-email
  text-align center
  width 400px
  margin layout-side-margin auto
  #auth-artsy-logo
    padding 20px
    font-size 45px
  h1
    text-transform uppercase
    font-size 18px
    margin 20px 0
    letter-spacing 1px
  button,input
    display block
    width 100%
    margin-bottom 10px