#galleries-institutions2-footer
  .galleries-institutions2-footer-section.galleries-institutions2-footer-section-left
    .galleries-institutions2-footer-text Interested in Becoming a Partner?
    a.galleries-institutions2-footer-button.avant-garde-button-white Learn More
  if type == 'gallery'
    .galleries-institutions2-footer-section.galleries-institutions2-footer-section-right
      .galleries-institutions2-footer-text Read Artsy Insights for Galleries
      a.galleries-institutions2-footer-button.avant-garde-button-white Explore