extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'galleries_institutions2'

block body
  include ../components/primary_carousel/index

  #galleries-institutions2-page.partners-page.main-layout-container
    header.galleries-institutions2-header
      h1 Browse #{type == 'gallery' ? 'Galleries' : 'Institutions'}
      .galleries-institutions2-right
        a.galleries-institutions2-right-item(href="/#{type}-partnerships") Partner with Artsy

        if type == 'gallery'
          a.galleries-institutions2-right-item(href="/gallery-insights") Gallery Insights

    #partners-page-featured-specialties
      each category in categories
        .partner-category-carousel
          - var title = category.get('name')
          - var partners = category.related().partners.models
          include ../components/partner_cell_carousel/template.jade

    include ./footer.jade