include ../components/partner_cell_grid/index

extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'galleries_institutions2'

block body
  #galleries-page.galleries-page.main-layout-container
    header.galleries-institutions2-header
      h1 Browse Galleries
      .galleries-institutions2-right
        a.galleries-institutions2-right-item(href='/gallery-partnerships') Partner with Artsy
        a.galleries-institutions2-right-item(href='/gallery-insights') Gallery Insights

    +partner-cell-grid(partners)