extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'galleries_institutions2'

block body
  #galleries-page.galleries-page.main-layout-container
    header.galleries-institutions2-header
      h1 Browse Galleries
      .galleries-institutions2-right
        a.galleries-institutions2-right-item(href='/gallery-partnerships') Partner with Artsy
        a.galleries-institutions2-right-item(href='/gallery-insights') Gallery Insights
    .partner-cell-featured-specialties
      each category in categories
        .partner-carousel
          - var title = category.get('name')
          - var partners = category.get('partners').models
          include ../components/partner_cell_carousel/template.jade