extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'galleries_institutions2'

block body
  #galleries-institutions2-page.partners-page.main-layout-container
    header.galleries-institutions2-header
      h1 Browse #{type == 'gallery' ? 'Galleries' : 'Institutions'}
      .galleries-institutions2-right
        a.galleries-institutions2-right-item(href="/#{partnerType}-partnerships") Partner with Artsy
        a.galleries-institutions2-right-item(href="/#{partnerType}-insights") #{type == 'gallery' ? 'Gallery' : 'Institutional'} Insights
    #partners-page-featured-specialties
      each category in categories
        .partner-carousel
          - var title = category.get('name')
          - var partners = category.related().partners.models
          include ../components/partner_cell_carousel/template.jade

    include ./footer.jade