@require '../../../components/stylus_lib'
@require '../../../components/merry_go_round/index.styl'
@require '../components/actions/index'
@require '../components/additional_info/index'
@require '../components/artist_artworks/index'
@require '../components/artists/index'
@require '../components/auction/index'
@require '../components/auction_artworks/index'
@require '../../../components/auction_block'
@require '../components/banner/index'
@require '../../../components/current_auctions'
@require '../components/deep_zoom/index'
@require '../components/doge/index'
@require '../components/images/index'
@require '../components/commercial/index'
@require '../components/metadata/index'
@require '../components/partner/index'
@require '../components/partner_stub/index'
@require '../components/related_artworks/index'
@require '../components/show_artworks/index'
@require '../components/partner_artworks/index'
@require '../components/video/index'
@require '../components/related_artists/index'
@require '../components/bid_status/index'
@require '../components/inquire_via_phone/index'

artwork-page = {
  metadata: {
    width: 280px
  }
}

.artwork-page
  padding (gutter / 2) 0

.artwork
  //

  &__main
    display flex
    align-items stretch

    &__metadata
      position relative
      width: artwork-page.metadata.width
      z-index 1

    &__overview
      width calc('100% - %s' % (artwork-page.metadata.width + gutter))
      margin-right: gutter

.artwork-section
  space-for-expand-button = 20px
  margin-top gutter / 3
  margin-bottom gutter * 2 - space-for-expand-button
  padding-top distance(25px, 'garamond-s-headline')
  garamond-size('s-body')
  border-top 1px solid gray-lighter-color

  &__jump
    margin-top gutter

    > a
      display inline-block
      vertical-align bottom
      sans('body')
      padding distance(20px) 45px 0 0
      text-decoration none
      border-top 1px solid gray-lighter-color
