#profile-make-public
  h3 Make your profile public to share.
  p You can always change this in your profile settings.
  a.make-public.avant-garde-button.is-block( href='#' ) Yes
  a.cancel.avant-garde-button.is-block( href='#' ) Cancel
