.countdown-clock
  &__label
    sans('s-headline')

  &__clock
    white-space nowrap

    &__unit
      display inline-block
      position relative
      width 2em
      margin-right 0.5em
      vertical-align bottom
      &:last-child
        margin-right 0

      &:after
        content ':'
        position absolute
        top 0
        right 0
        sans('l-headline')

      &:last-child
        margin-right 0
        &:after
          display none

      &__value
      &__label
        display block

      &__value
        sans('l-headline')

      &__label
        avant-garde()
        font-size 9px
        line-height 1
        color gray-color
