.cf-total-sort
  display flex
  width 100%
  justify-content space-between
  align-items center
  // magic 22px to get the dropdown to line up with artworks
  padding padding-unit padding-unit (padding-unit * 2) padding-unit
  &__total
    display inline-block
    color #9b9b9b
  .cf-total__no-results
    color purple-color
  &__sort
    display inline-block
