.artwork-artist-artworks
  for artwork in artworks.models
    - var artworkSize = artwork.defaultImage().imageSizeForHeight(125) || 'small'
    a.artwork-artist-artwork(
      href="/artwork/#{artwork.id}"
    )
      img(
        src     = artwork.defaultImageUrl(artworkSize)
        alt     = artwork.get('title')
        title   = artwork.get('title')
      )
      .overlay-container
        .overlay-button-save(
          data-id= artwork.id
        )
