article.artwork-container
  aside.artwork-related-content
    .js-artwork-related-navigation
      //- Rendered client-side
    #artwork-clock
      //- Rendered client-side
      include ../../../components/clock/template
  section.artwork-overview
    - image = artwork.defaultImage()
    - images = artwork.related().images
    .artwork-images.js-artwork-images
      include ../components/images/templates/index

    .artwork-image-actions
      a.circle-icon-button-save
      if artwork.get('can_share_image')
        a.circle-icon-button-share
      if artwork.isHangable()
        a.circle-icon-button-frame(
          href="/artwork/#{artwork.id}/view-in-room", data-client, rel='nofollow'
        )
  aside.artwork-detail
    include ./_detail
