.loading-spinner-white

a.dz-close: i.icon-close

.dz-slider
  a.dz-slider-minus: i.icon-minus-small
  #dz-slider.dz-slider-track
    input.dz-slider-range( type='range' )
  a.dz-slider-plus: i.icon-plus-small
