#layered-search-header-v2
  if layers.fair
    h1 Related Works at #{layers.fair.get('name')}
  else
    h1 Related Works

  nav.layered-search-layers.layered-search-layers--v2
    unless layers.fair
      for layer in layers.first(5)
        a.layered-search-layer-button( data-id=layer.id, href=layer.get('more_info_url') )
          = layer.get('name')
#layered-search-results.layered-search-results--v2
  #layered-search-results-container: .loading-spinner
  #layered-search-layer-gene-button-container--v2
    a#layered-search-layer-gene-button.layered-search-layer-gene-button--v2.avant-garde-button-text
