if layers.fair
  h2.avant-garde-header-center Related Artworks at #{layers.fair.get('name')}
else
  h2.avant-garde-header-center Related Artworks

nav.layered-search-layers
  unless layers.fair
    for layer in layers.models
      a.layered-search-layer-button.faux-underline-hover( data-id=layer.id, href=layer.get('more_info_url') )
        = layer.get('name')
#layered-search-results.artwork-columns
  #layered-search-results-container: .loading-spinner
  #layered-search-layer-gene-button-container
    a#layered-search-layer-gene-button.avant-garde-button-text
