h2.avant-garde-header-center
  | Related Artworks

nav.layered-search-layers
  for layer in layers.models
    a.layered-search-layer-button.faux-underline-hover(
      data-id= layer.id
    )!= layer.get('name')

#layered-search-results.artwork-columns
  .loading-spinner
