@import '../../../components/stylus_lib'

@import './section'
@import './editorial_signup_lush'

#articles-page
  .loading-spinner
    display none

  .article-item-first .article-item
    margin-bottom 0
    border-bottom 0
  #news-panel
    padding-bottom 20px

.articles-feed
  display block
