each group in groups
  section( class="artists-group artists-group-#{group.cols.length}-columns" )
    h2= group.label
    each col in group.cols
      ul.artists-column
        each pa in col
          li= pa.get('artist').name
