header.partner-header
  .partner-info-container
    a.partner-icon( href="#" )
      include ../../../components/profile_badge/profile_icon
    .partner-info
      h1.partner-name= profile.displayName()
      p.partner-bio= profile.get('bio')
      .partner-followers= profile.formatFollowText()
      .partner-actions
        button.avant-garde-button-white.follow-button
  .partner-nav
