extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'partner'

block body
  #partner
    .main-layout-container
      include header
      .partner-content
        .loading-spinner
