- var id = profile.get('id');

- function transform(section) {
-   var map = { collection: 'works' };
-   return map[section] || section;
- }

nav.partner-tabs.garamond-tablist
  if sections.length > 1
    each section, index in sections
      if index > 0
        span.garamond-tab-separator
      a.garamond-tab(
        href="/#{id}/#{section}",
        class=(section == currentSection ? 'is-active' : 'is-inactive')
      )= transform(section)
