@import '../../components/stylus_lib'

#main-layout-container
  margin-left 0
  margin-right 0 

#settings
  margin-left 0
  margin-right 0

  .avant-garde-header-center
    font-size 24px
    padding 50px 0 30px

  .garamond-tablist
    margin 0 auto 30px auto
    text-align center
    width auto

  .bordered-input
    margin-bottom 7px
    width 100%

  .settings-group-leader
    margin-top 20px

  .profile-badge
    margin 0px auto 30px
    .profile-badge-icon
      background-position center center
      height 140px

  textarea
    visibility hidden


  // These elements jump around the page if they are not hidden initially
  &.is-loaded
    textarea
      visibility visible
    .settings-success-message
      display block

  // The view will show the enable favorites toggle if the user has a favorites colleciton
  .settings-enable-public-favorites
    display none

// location
#profile-location input
  faux-bordered-input()

// success message
.settings-success-message
  avant-garde()
  color highlight-color
  display none
  opacity 0
  margin-top -60px
  position absolute
  text-align center
  transition opacity, margin-top 0.5s, 0.2s
  width 100%
  &.is-active
    margin-top -20px
    opacity 1

.settings-group-label
  margin-bottom 10px

.settings-confirm-email
  margin-bottom 1em

.settings-forms
  margin 0 auto 30px
  width 380px

.settings-submit
  margin-top 20px

.settings-form-error
  color bad-red-color
  position absolute
  margin-left 390px
  max-width 250px
  margin-top -35px
  opacity 1
  transition opacity 0.2s
  &:empty
    opacity 0
  &.settings-form-message
    color black

.settings-form
  display none
  margin-bottom 40px
  &.is-active
    display block
  textarea
    height 100px

  .input-group
    clear both
    margin-bottom 10px

  .settings-toggle-twitter
    margin-bottom 20px

.settings-email-support
.settings-password-support
  display none

.settings-cancel-delete-account-link
.settings-delete-account-link
  font-size 13px
  margin-bottom 50px
  text-align right
  text-transform uppercase
  a
    &::before
      height 1.5em
.settings-delete-account-link
  a
    &:hover, &:focus
      color bad-red-color
      &::before
        border-color bad-red-color

// Delete User
.settings-user-delete-success
.settings-user-delete-error
  display none
  margin-bottom 50px
  text-align center

.settings-user-delete-error
  p
    margin-bottom 20px
    &:first-child
      color bad-red-color

#settings #user-delete-explanation
  height 150px
  visibility visible

#user-delete-confirm
  display inline-block
  margin-top 4px
  vertical-align top
  width auto

#user-delete-submit
  margin-bottom 50px

label[for="user-delete-confirm"]
  garamond()
  color bad-red-color
  cursor pointer
  display inline-block
  margin-bottom 20px
  margin-left 20px
  width 90%

.settings-cancel-delete-account-link
  a
    &:hover, &:focus
      color highlight-color
      &::before
        border-color highlight-color
