@import '../stylus_lib/index.styl'

// Adjustments for non-fair pages
.is-microsite
  #main-layout-container
    width feed-max-width
    margin 100px auto
  .fair-page-header
    padding-bottom 20px
    border-bottom 1px solid light-gray-border-color
