.artsy-checkbox.cf-periods__checkbox
  .artsy-checkbox--checkbox
    - hasParams = selected && selected.length > 0
    input( type='checkbox', id='period-all', checked=!hasParams, disabled=!hasParams )
    label( for='period-all' )
  label.artsy-checkbox--label( for='period-all' ) All
