.avant-garde-s-headline.cf-periods__title Period

include ./all.pug

each majorPeriod in periods
  - agg = findAggregation(counts, majorPeriod)
  - isSelected = _.contains(selected, majorPeriod)
  - enabled = alwaysEnabled || findAggregation(counts, location)

  include ./period.pug

unless showAllPeriods
  a.cf-periods__view-all See All
