.auction2-header
  clearfix()

  +respond-mobile()
    display flex
    align-items center

    &_expandToFullScreen
      align-items flex-start
      background white
      height 100%
      left 0
      padding-left 20px
      padding-top: 80px
      position absolute
      top 0
      z-index 970 // To overwrite top mobile nav ¯\_(ツ)_/¯

    &__info-window-controls
      align-items center
      display flex
      justify-content space-between
      position absolute
      top -1px
      width 100%
      left 0
      padding-left 20px
      padding-top 10px
      padding-bottom 6px
      overlapping-border()

    &__info-window-title

    &__info-window-close-button
      top: -2px
      font-size 20px
      padding-right 15px
      cursor pointer

      .icon-close
        &::before
          font-size: 20px
          position relative
          top -5px


  // Left column

  &__primary
    float left
    width 75%
    padding-right 30px

    +respond-mobile()
      float none
      width 100%
      padding-right 20px


  // Right Column

  &__metadata
    float left
    width 25%

    +respond-mobile()
      float none
      width inherit
      cursor pointer
      padding-right 6px
      position: absolute
      right 0

      &_expandToFullScreen
        display none

  &__info-button
    +respond-mobile()
      font-size 40px


  // Main Content

  &__sub-header
    avant-garde-size('body', true)

  &__title
    padding-right 30px
    garamond-size('l-headline')

    +respond-mobile()
      garamond-size('l-body')

  &__description
    margin 30px 0
    garamond-size('l-body')
    > p
      block-margins(15px)
    a
      fine-faux-underline()

    +respond-mobile()
      garamond-size('s-body')
      margin 10px 0 30px 0

  &__register-button
    margin-bottom 30px

  &__metadata-cell
    margin-bottom 20px

    > h3
      margin 0.5em 0
      avant-garde-size('body', true)

  &__metadata-cell-contents
    > p
      block-margins(10px)

  &__callout
    border-bottom 1px solid gray-lighter-color
    border-top 1px solid gray-lighter-color
    garamond-size('l-body')
    margin 20px 0
    padding 15px 0 12px 0
    position relative

    .add-to-calendar
      margin-left 30px

    +respond-mobile()
      border-bottom 0
      border-top 0
      garamond-size('s-body')
      margin 0
      padding 0

  &__callout-live-label
    position absolute
    right 0
    top 15px

    +respond-mobile()
      avant-garde-size('s-headline')
      position relative
      top -5px

  &__live-label
    avant-garde-size('body')
    letter-spacing 3px

    +respond-mobile()
      avant-garde-size('s-headline')


  &__live-tooltip
    margin-left 10px
    garamond-size('s-body')
    top -3px
    margin-left 14px

    &:hover::before
      color white
      background gray-darker-color
      border 0

    &::before
      background transparent
      border 1px solid gray-lighter-color
      color black
      width 20px
      height @width
      line-height @width - 1px

    +respond-mobile()
      text-transform none
