@require '../../../components/merry_go_round'
.hero-artworks-carousel
  .artist-name
  .title
    font-size 15px
    color gray-darker-color

  .artist-name
    font-weight bold

  .mgr-cell
    padding 0
    margin-right 20px
    overflow hidden
