header.show-header( class= hasCarousel ? 'has-carousel' : undefined )
  .show-header-cell
    h1.show-title
      if show.has('fair')
        = partner.get('name')
        br
        em= fair.get('name')
      else
        = show.title()

    if show.get('description')
      .show-description
        != show.mdToHtml('description')

  .show-header-cell
    .show-partner
      .entity-with-follow
        if partner.isLinkable()
          a.entity-link( href= partner.href() )
            = partner.get('name')
        else
          span.entity-link= partner.get('name')
        a.entity-follow.profile-follow( data-id= partner.get('default_profile_id') )

      nav.show-share.js-show-share
        +share(show.shareTitle())

    .show-metadata
      if show.has('fair')
        //- Temporary naïve check
        if fair.get('published') && fair.get('has_full_feature')
          a.show-fair-link( href= fair.href() )
            = fair.get('name')
            include ../components/map_modal/images/map-modal-arrow.svg
        else
          = fair.get('name')

        .show-dates
          = fair.formatDates()
        if show.get('fair_location')
          .show-location
            = show.get('fair_location').display
      else
        .show-dates
          = show.runningDates()
        if location
          .show-location
            = location.singleLine()
            if location.has('coordinates')
              a.map-modal-link
                include ../components/map_modal/images/map-modal-arrow.svg

        if show.has('events')
          .show-events
            each showEvent in show.related().showEvents.models
              .show-event
                p
                  | #{showEvent.eventType()}:
                  = ' '
                  if showEvent.get('title')
                    em #{showEvent.get('title')},
                    = ' '
                  = showEvent.formatDateRange('start_at', 'end_at')
