extends ../../../components/main_layout/templates/index
include ../../../components/share/template

block head
  include meta

append locals
  - assetPackage = 'show'

block body
  if installShots.length >= 3
    include carousel

  .responsive-layout-container: .main-layout-container
    include header
    include columns
    include footer

  include ../../../components/main_layout/templates/json_ld
