extends ../../../components/fair_layout/templates/conditional
include ../../../components/share/template

block head
  include meta

append locals
  - assetPackage = 'show'

block body
  - hasCarousel = installShots.length >= 3

  if hasCarousel
    include carousel

  .responsive-layout-container: .main-layout-container
    include header
    include columns
    include footer

  include ../../../components/main_layout/templates/json_ld
