extends ../../../components/main_layout/templates/index
include ../../../components/share/template
include ../components/related_shows/template

block head
  include meta

append locals
  - assetPackage = 'show'

block body
  if installShots.length >= 3
    section.show-installation-shot-carousel.js-show-installation-shot-carousel
      - var carouselFigures = installShots.models
      include ../../../components/carousel/template

  .responsive-layout-container: .main-layout-container
    include header
    include columns
    include footer
    #related-shows
    //- related shows rendered client side

  include ../../../components/main_layout/templates/json_ld
