@require '../../../../../components/artist_cell'
@require '../../../../lib/palette'

.artists-to-follow
  height 450px
  background-color getColor('black5')
  margin-bottom getSpace(6)

  &__inner
    padding getSpace(3, 0, 5)

    &__header
      h1
        text('title')
        display inline-block

      &__tabs
        display inline-block

        &__tab
          text('subtitle')
          cursor pointer
          margin getSpace(0, 1.5)
          display inline-block

          &:first-child
            margin-left getSpace(3)

          &.is-active
            color getColor('black100')
            text-decoration underline

    &__results
      padding-top getSpace(2)

      .artist-rail-cell
        padding 0
        margin-right getSpace(3)
        width calc(25% \- 22.5px)
        background-color getColor('white100')

      .hoverable-image-link
        width 100%
