include ../../../components/share/template

- var shareDescription = 'Check out my favorite artworks on @artsy'
- var media = ''
- var url = [sd.APP_URL, profileId, 'favorites'].join('/')
.favorites-actions
  .favorites-share
    +share(shareDescription, media, url)
