@require '../../../components/stylus_lib'

.gallery-insights[data-state=subscribed]
  .gallery-insights-form, .gallery-insights-thank-you
    display none
  .gallery-insights-subscribed
    display block

.gallery-insights
  max-width 960px
  margin 0 auto
  padding 40px 0
  h1
    margin 20px 0
    font-size 40px
    line-height 1.2
  aside
  p
    font-size 19px
    line-height 1.2
  aside
    margin 10px 0 30px 0
  p
    margin 20px 0
  .gallery-insights-form
    display block
  .gallery-insights-thank-you, .gallery-insights-subscribed
    display none
    margin 40px 0
    height 294px

.gallery-insights-content
  clearfix()

.gallery-insights-content-cell
  width 50%
  float left
  &:first-child
    padding-right 10px
  &:last-child
    padding-left 10px
  .gallery-insights-form
    margin 40px 0

.gallery-insights-image
  margin 0 auto
  max-width 100%

@media screen and (max-width: 600px)
  .responsive-layout-container
    margin 20px
  .gallery-insights
    padding 0 0 0 10px
  .gallery-insights-content-cell
    &:first-child
      width 100%
      float none
      padding 0
    &:last-child
      display none
    .gallery-insights-form
      margin 40px 0
