@keyframes pulse
  0%
    opacity 0.33
  50%
    opacity 1
  100%
    opacity 0.33

.about-foreground
  background-color white
  position relative
  z-index 1

.about-hero-unit
  width 100%
  height 100%
  background-color black
  overflow hidden

.about-hero-unit-bgs
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  opacity 0
  &.is-loaded
    transition opacity 1s
    opacity 1
  // Prevent full page repaints as this sits
  // behind the foreground when scrolling
  force-hardware-acceleration()
.about-hero-unit-bg
  position absolute
  width 100%
  height 100%
  background center center no-repeat
  background-size cover
.about-hero-unit-bg-credit
  position absolute
  right 0
  bottom 0
  left 0
  > span
    display block
    width container-width
    margin 20px auto
    font-size 11px
    font-style italic
    color white

.about-hero-unit-container
  position absolute
  top main-header-height
  right 0
  bottom 0
  left 0
  z-index 1

.a2huc-top
  height 70%

.a2huc-bottom
  height 30%

.about-hero-unit-h1
  position relative
  width container-width
  margin 0 auto
  padding-right column-width
  overflow hidden
  > h1
    font-size 47px
    line-height 60px
    color white

.about-nav
  display table
  position relative
  width container-width
  margin 0 auto
  height 65px
  transition opacity 1s
  a
    display table-cell
    width 16.6%
    height 100%
    padding 20px 0
    text-align center
    vertical-align middle
    avant-garde()
    font-size 13px
    letter-spacing 2px
    color white
    border-right 1px solid rgba(white, 0.6)
    &:last-child
      border-right 0
    &:hover span
      opacity 0.5
  span
    display inline-block
    vertical-align middle
    line-height 18px
    transition opacity 0.25s

.about-chevron
  display block
  position relative
  width 100%
  height 65%
  text-align center
  animation pulse 2s infinite
  > a
    position absolute
    top 50%
    transform translateY(-50%)
    color white
    font-size 26px

html[data-useragent*="iPad"]
  .about-hero-unit-bgs
    position absolute
  .about-hero-unit
    margin-top -(main-header-height)
