.following-header
  padding 40px 0 20px
  h1
    font-size 24px
    margin 10px 0

.following-tabs
  text-align center
  padding 25px 0

.following
  .item
    h3
      margin 20px 0
    .name
      line-height 48px
      avant-garde()
      font-size 13px
    .loading-spinner
      position relative
      margin 150px 0
    .follow-button
      float right

.following-empty
  max-width 600px
  margin 30px auto
  .hint
    text-align center    
    font-size 36px
    line-height 1.3

.following-recommendation
  text-align center
  margin 70px auto
  h3
    font-size 14px
    avant-garde()

.recommendation-row
  width 950px
  margin 40px auto
  overflow hidden
  > .recommendation-item
    float left
    margin 0 15px
    width 160px
    img
      margin 0 auto 10px auto
    a
      text-decoration none
