@require '../../../../components/typeahead/index'
@require '../../../../../lib/palette'

.abrv-context__content--followed-artists
  &__more-artists
    text-decoration underline

.arbv-follow-search-container
  width 60%
  float left
  .tt-suggestion
    padding 0
    border-bottom 1px solid getColor('black10')
    position relative
    height 63px
    &:last-child
      border-bottom none
  .tt-suggestion-inner
    padding 5px
    display flex
    align-items center
    flex 1
    &__selected
      color getColor('white100')
      background-color getColor('purple100') !important
  .tt-dropdown-menu
    border 1px solid getColor('black10')
  .tt-cursor
  .tt-suggestion:hover
      background-color getColor('black5')
      color getColor('black100')
  .typeahead-suggestion-follow
    margin-right 10px
    &[data-state="follow"] .avant-garde-button-underlined:before
      content 'Follow'
    &[data-state="following"] .avant-garde-button-underlined
      border-bottom-color getColor('white100')
      &:before
        content 'Following'
        color getColor('white100')
