@import '../../components/stylus_lib'

profile-icon-width = 90px

#profile-page-articles article
  border-top 1px solid light-gray-border-color
  margin-top 30px
  padding-top 10px

#profile-page-header
  margin-top 20px
  position relative
  min-height 90px
  img
    width profile-icon-width
    position absolute
    top 0
    left 0
    border-radius 50%

#profile-page-header-details
  padding-left profile-icon-width + 15px
  top 0
  right 0
