.cf-sidebar__colors
  padding-bottom 17px

.cf-sidebar__colors
  .clickable
    cursor pointer
    &[data-empty=true]
      fill #f1f1f1
      pointer-events none

  svg
    height 175px
    width 175px

.cf-sidebar__colors_clear-right
  position relative
  float right
  font-size 13px
  bottom 18px
  cursor pointer
  color purple-color
  text-decoration underline

.cf-sidebar__colors_check
  color white
  position relative
  display none
  pointer-events none
  font-size 13px
  &.red
    bottom 45px
    right 38px
  &.pink
    bottom 82px
    right 31px
  &.darkviolet
    right 38px
    bottom 117px
  &.violet
    bottom 140px
    right 64px
  &.darkblue
    bottom 149px
    right 97px
  &.lightblue
    bottom 141px
    right 133px
  &.darkgreen
    bottom 117px
    right 160px
  &.lightgreen
    bottom 82px
    right 169px
  &.yellow
    bottom 47px
    right 160px
  &.gold
    bottom 23px
    right 133px
  &.orange
    bottom 13px
    right 97px
  &.darkorange
    bottom 23px
    right 64px
  &.black-and-white
    bottom 82px
    right 98px
