if artist.exhibition_highlights.length
  .artwork-artist__content__exhibition-highlights
    for shows, kind in helpers.artists.groupBy(artist.exhibition_highlights, 'kind')
      .artwork-artist__content__exhibition-highlights__type
        h3
          case kind
            when 'solo'
              | Solo Shows on Artsy
            when 'group'
              | Group Shows on Artsy
            when 'fair'
              | Fair Participation on Artsy

        for show in shows
          .artwork-artist__content__exhibition-highlights__type__show
            .artwork-artist__content__exhibition-highlights__type__show__year
              = show.year
            .artwork-artist__content__exhibition-highlights__type__show__info
                a( href= show.href )
                  = show.name
                if show.partner
                  | , #{show.partner.name}
                if show.location && show.location.city
                  | , #{show.location.city}
