@import '../../components/stylus_lib'

#gene-header
  padding-top 40px
  text-align center
  position relative
  h1
    font-size large-avant-garde-font-size
  .follow-button
    display inline-block
    margin-top 40px

#gene-share-buttons
  float right
  position absolute
  bottom 0
  right 0
  .icon-pinterest
    display none

#gene-description
  margin-top 20px
  border-top 1px solid light-gray-border-color

#gene-description-inner
  max-width 850px
  margin auto
  margin-top 20px

#gene-tabs
  text-align center
  margin 20px 0