@import '../../components/stylus_lib'

#gene-header
  padding-top 40px
  text-align center
  position relative
  h1
    font-size large-avant-garde-font-size
  .follow-button
    display inline-block
    margin-top 40px

#gene-share-buttons
  float right
  position absolute
  bottom 0
  right 0
  .icon-pinterest
    display none

#gene-description
  margin-top 20px
  border-top 1px solid light-gray-border-color

#gene-description-inner
  max-width 850px
  margin auto
  margin-top 20px

#gene-tabs
  text-align center
  margin 20px 0

#gene-artists
  position relative
  min-height 400px
  margin-bottom 100px

#gene-filter
  position relative
  min-height 300px

#gene-filter-nav
  margin 40px 0
  padding-top 20px
  text-align center
  border-top 1px solid light-gray-border-color
  label
    margin-right 10px
    display inline-block

#gene-filter-all-artists
  margin-right 20px

#gene-filter-artwork-list-spinner
  position relative
  .loading-spinner
    margin 100px 0

#gene-artists
  display none