.artwork-meta-data__partner
  if artwork.collecting_institution && artwork.partner.type == 'Institution'
    //- Drop Header
  else
    h2.artwork-header= artwork.is_for_sale ? 'Offered by' : artwork.partner.type.replace('Institutional Seller', 'Institution')
  if artwork.partner.type == 'Auction' || artwork.partner.type == 'Auction House'
    .artwork-partner-name= artwork.partner.name
  else if artwork.collecting_institution && artwork.partner.type == 'Institution'
    a.artwork-partner-link.chevron-arrow-button( href=artwork.partner.href )= artwork.collecting_institution
  else
    a.artwork-partner-link.chevron-arrow-button( href=artwork.partner.href )= artwork.partner.name
