column-gap = 30px

// Generic elements
// ----------------

.home-featured-header
  margin (column-gap - 10px) 0 column-gap 0
  garamond-size('headline')

.home-featured-list
  position relative
  min-height 300px

.home-browse-all
  margin column-gap 0
  float right
  font-size default-avant-garde-font-size

.home-browse-all-center
  margin column-gap 0
  text-align center

.home-browse-all-right
  float right
  a
    fine-faux-underline()
    font-size 17px

.home-featured-cover-img
  overflow hidden
  background no-repeat center center
  background-size cover
  padding-bottom 70%

li.grid-item a
  text-decoration none

li.grid-item .artwork-item-caption__bid-now a,
li.grid-item .artwork-item-contact-seller
  text-decoration underline

#home-featured-shows-section
#home-featured-articles-section, #home-featured-artists-section
  border-top 1px solid gray-lighter-color
  margin-bottom 40px

#home-featured-artists-section
   margin-bottom 0px

#home-featured-shows-section
  .home-featured-header
    margin-bottom 0px

// Top featured links
// ------------------

#home-top-featured-links
  display table
  width 100%
  margin 0px 0px 60px 0px
  table-layout fixed
.home-top-feature-link
  display table-cell
  width 25%
  height 100%
  padding 0 (column-gap / 2)
  vertical-align middle
  overflow hidden
  &:first-child
    padding-left 0
  &:last-child
    border-right 0
    padding-right 0
.htfl-image-link
  display table
  text-decoration none
.htfl-image
.htfl-details
  display table-cell
  vertical-align middle
.htfl-image > img
  max-width 60px
  max-height @max-width
.htfl-details
  padding (column-gap / 2)
  avant-garde()
  > h3
    avant-garde-size('s-headline')
    color gray-darker-color
  > h4
    avant-garde-size('body')

// Featured articles
// --------------

#home-featured-articles-section
  .home-featured-header
    garamond-size('headline')

.home-featured-article-link
  display inline-block
  vertical-align top
  width 20%
  height 250px
  a
    display block
  &:first-child
    float left
    width (golden-ratio-small-percent + 2)
    padding-right column-gap
    height auto
    h4
      font-size 24px
      line-height 1.2em
    .home-featured-cover-img
      padding-bottom 410px
  &:nth-child(2), &:nth-child(5)
    padding-right (column-gap * .66)
  &:nth-child(3), &:nth-child(6)
    padding-right (column-gap * .33)
    padding-left (column-gap * .33)
  &:nth-child(4), &:nth-child(7)
    padding-left (column-gap * .66)
  &:nth-child(2), &:nth-child(3), &:nth-child(4)
    margin-bottom 20px
  .home-featured-cover-img
    padding-bottom 140px
    width 100%
  h4
    margin-top 10px
  h5
    avant-garde()
    font-size 11px
    padding-top 3px
    color gray-darker-color
  a
    text-decoration none

// Featured artists
// ----------------

.home-featured-artist-link
  h4, h5
    text-align center
  h4
    avant-garde()
    margin 12px 0 6px 0
    font-size 13px
  a
    display block
  img
    width 100%
