@require '../../../../lib/palette'

fade-duration = 0.2s
hhu-credit-height = 30px

.home-hero-unit
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  background center center no-repeat
  background-size cover
  transition opacity fade-duration ease-out
  opacity 0
  z-index 0
  &[data-mode="RIGHT_DARK"], &[data-mode="RIGHT_LIGHT"]
    text-align right
  &[data-mode="CENTER_DARK"], &[data-mode="CENTER_LIGHT"]
    text-align center
  &.home-hero-unit-active
    opacity 1
    z-index 1
    transition opacity fade-duration ease-in fade-duration
  .avant-garde-button
    padding 10px 20px
    border 3px solid getColor('black100')
    background transparent
    &:hover
    &:focus
    &:active
      color getColor('white100')
      background getColor('black100')

.hhu-frame
  display block
  position absolute
  top main-header-height
  right 0
  bottom 0
  left 0
  text-decoration none
  > .responsive-layout-container
  > .responsive-layout-container > .main-layout-container
    position relative
    height 100%
.hhu-inner
  margin-top -(hhu-credit-height)
.hhu-header
  text('text')
.hhu-title
  display inline-block
  margin-top getSpace(2)
.hhu-subheading
  text('subtitle')
  margin getSpace(2, 0, 3, 0)
.hhu-credit
  text('small')
  position absolute
  left 0
  bottom getSpace(1)
  opacity 0.65

.home-hero-unit-left-light
.home-hero-unit-center-light
.home-hero-unit-right-light
  .hhu-subheading
  .hhu-header
  .hhu-credit
    color getColor('white100')
  .avant-garde-button
    border-color getColor('white100')
    color getColor('white100')
    &:hover
    &:focus
    &:active
      background getColor('white100')
      color getColor('black100')

#home-hero-units-controls
  width 100%
  position relative
  top -60px
  height 60px
  text-align center
  // Hide the controls when there is only one hero unit.
  // Instead of displaying none or not rendering
  // toggle visibility so that the top-most margin
  // doesn't collapse
  &[data-length='1']
    height 0
    visibility hidden

#home-hero-unit-dots
  display inline-block
  margin-top 22px
  li
    width 8px
    height @width
    border-radius @width
    margin-right 10px
    background getColor('black30')
    display inline-block
    cursor pointer
    transition background-color 0.3s
    &.hhud-active
    &:hover
    &:focus
    &:active
      background getColor('black100')
    &:last-child
      margin-right 0

.home-hero-unit-welcome
  background-color getColor('black5')
  .hhu-inner
    width 40%
    margin 0
  .icon-logotype
    display block
    margin-bottom 25px
    font-size 45px
    line-height @font-size
  .hhu-header
    text('largeTitle')
  .avant-garde-button
    background-color getColor('black100')
    color getColor('white100')
