@require '../../../components/stylus_lib'

hero-units-height = 478px

#home-body
  margin auto

#home-foreground
  z-index 1
  width 100%
  background white
  position relative
  margin-top hero-units-height
  padding-bottom 20px

#home-hero-units
  height hero-units-height
  position fixed
  top 0
  width 100%
  background black
  z-index -1

// Moves hero down for staging banner 
.body-header-fixed.force-staging
  #home-hero-units
    top staging-banner-height
  #home-foreground
    margin-top (hero-units-height + staging-banner-height)

#home-unsubscribe
  text-align center
  margin-top 200px

html[data-useragent*="iPad"]
  #home-hero-units
    position absolute

#home-artworks-section .filter-fixed-header-nav
  padding-bottom 30px

@require './hero_units'
@require './featured_items'
@require './explore_sections'
@require './modules'
@require './browse'
@require './hubs_entry'
@require '../components/followed_artists'
@require '../components/new_for_you'
@require '../components/artists_to_follow/stylesheets'
