@require './components/artwork_classification'

.artwork-metadata
  garamond()
  font-size 15px
  line-height 1.47
  color gray-darkest-color

  &__artist
  &__secondary-metadata
    block-margins(distance(gutter / 2))

  &__attribution-class
    block-margins(25px)
    display inline-block

  &__lot-number
    sans('s-headline')
    block-margins(distance(10px))

  &__artist
    > .entity-link
      garamond()
      text-transform none
      letter-spacing 0
      font-size 20px
      font-weight bold
      color black

    > .entity-follow
      display block
      // Offset icon spacing from within 32px square
      margin-left -8px

  &__title
    break-word()

  // Collapse between margins when these two are next to one another
  &__title + &__secondary-metadata
    margin-top 0

  &__image
    block-margins(25px)
    serif('s-caption')
    color gray-dark-color

  &__image__download
    > a
      color gray-dark-color

  &__actions
    block-margins(25px)

    > a
      color gray-dark-color
