.artwork-metadata( class='js-artwork-metadata' )
  include templates/lot_number
  include templates/artists
  include templates/title
  include templates/series
  include templates/secondary
  include templates/partner
  include templates/attribution_class
  include templates/image
  include templates/actions
