@require './components/artwork_classification'

.artwork-metadata
  serif('s-body')
  line-height 1.25 // compact-line-height

  &__artist
  &__secondary-metadata
    block-margins(distance(gutter / 2))
    color gray-darker-color

  &__attribution-class
    block-margins(distance(gutter / 2))
    color gray-darker-color

  &__lot-number
    sans('s-headline')
    block-margins(distance(10px))

  &__artist
    > .entity-link
      sans('m-headline')

    > .entity-follow
      display block
      // Offset icon spacing from within 32px square
      margin-left -8px

  &__title
    break-word()

  // Collapse between margins when these two are next to one another
  &__title + &__secondary-metadata
    margin-top 0

  &__image-rights
    serif('s-caption')
    line-height 1.25 // compact-line-height
    block-margins(distance(gutter / 2))

  &__actions
    serif('s-body')
    margin-top distance(gutter)

    > a
      color gray-dark-color
      fine-faux-underline(gray-dark-color)
