@require './components/artwork_classification_modal'

.artwork-metadata
  garamond()
  font-size 15px
  line-height 1.47
  color gray-darker-color

  &__artist
  &__secondary-metadata
    block-margins(distance(gutter / 2))

  &__attribution-class-container
    block-margins(distance(gutter))

  &__attribution-class
    display inline-block
    text-decoration underline

  &__lot-number
    sans('s-headline')
    block-margins(distance(10px))

  &__artist
    > .entity-link
      garamond()
      font-size 20px
      font-weight 600
      letter-spacing 0
      text-decoration underline
      text-transform none
      &:hover
       border-bottom none

    > .entity-follow
      display block
      // Offset icon spacing from within 32px square
      margin-left -8px

  &__title
    break-word()

  // Collapse between margins when these two are next to one another
  &__title + &__secondary-metadata
    margin-top 0
