@require '../../stylus_lib'

.credit-card-form
  width: 450px
  margin: 0px auto
  label
    avant-garde()
    font-size 13px
    display block
  .bordered-input
    width: 100%
    &.street-two
      margin-top 10px
  .order-form-button
    margin-top 20px
  .error
    margin 20px 0
    color red-color
    a
      color red-color
  select
    width 100%
  .order-input-section
    margin-bottom 12px
    &.region, &.city, &.postal-code, &.card-name, &.card-expiration, &.card-number, &.card-security-code
      display inline-block
      vertical-align top
    &.city, &.card-name, &.card-number, &.card-security-code
      width: 49%
      margin-right: 3%
    &.card-security-code
      width: 48%
      margin-right: 0%
    &.region
      width: 23%
      margin-right: 2%
    &.postal-code
      width: 23%
    &.email
      margin-bottom: 30px
    &.card-expiration
      width: 48%
      .month, .year
        position relative
        height 51px
        display inline-block
        vertical-align top
        width 47%
      .month
        margin-right: 6%
      .error
        position absolute
        top 4px
        bottom 0px
        left 0px
  .order-form-button
    width: 100%
  .order-form-checkbox
    input
      margin-right: 5px
      margin-top: 4px
      vertical-align: top

.not-usa
  .order-form .order-input-section
    &.region
      display: none
    &.postal-code
      width: 48%

.order-form-hidden
  display none
  margin-top 18px

.order-form-credit-card-section
  margin-top 20px
  position relative
  .order-page-sm-heading
    margin-bottom 24px
    margin-top: 30px

.order-summary-section
  margin-top 20px
  padding-top 20px
  border-top 1px solid gray-lighter-color

.order-form-cc-brands
  position absolute
  top 0px
  right 0px
  background-repeat: no-repeat
  width: 200px
  height: 34px

.order-form-geotrust
  width 180px
  height 39px
  margin-top 50px

.credit-card-unqualified-msg
  padding 40px
  background yellow-light-color
  margin 30px 30px -65px 30px
  text-align left
  display none
