.artist-suggestion-popover
  opacity 0
  background-color #fff
  border-radius 3px
  border 1px solid #ddd
  z-index 969
  position absolute
  width 290px
  height 192px

.popover.show
  opacity 1

.popover-bottom
  margin-top 5px

.popover-top
  margin-top -5px

.popover-content
  padding 15px

.popover-close
  color gray-dark-color
  float right
  font-size 22px
  cursor pointer

.popover-left-side
  color gray-dark-color

.popover-artists
  li
    padding 10px 0px 10px 0px
    border-bottom 1px solid gray-lighter-color
    clearfix()
  img
    margin-right 10px
    float left
  .artist-suggestion-name
    garamond-size('s-body')
    margin-top 2px
    text-decoration none
    border-bottom 2px solid transparent
    float left
    max-width 128px
    display block
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
    &:hover
      border-bottom-color black
  .follow-button
    margin-top 5px
    float right
    &[data-state='following']
      color purple-color
      border-bottom-color purple-color

/* Arrow */

.popover-arrow, .popover-arrow:after
  position absolute
  display block
  width 0
  height 0
  border-color transparent
  border-style solid

.popover-arrow
  border-width 14px

.popover-bottom > .popover-arrow
  left 50%
  margin-left -14px
  border-top-width 0
  border-bottom-color #ddd
  top -14px

.popover-top > .popover-arrow
  left 50%
  margin-left -14px
  border-bottom-width 0
  border-top-color #ddd
  bottom -14px

.popover-arrow:after
  border-width 14px
  content ""

/* direction specific */
.popover-bottom > .popover-arrow:after
  content " "
  top 1px
  margin-left -14px
  border-top-width 0
  border-bottom-color #fff

.popover-top > .popover-arrow:after
  content " "
  bottom 1px
  margin-left -14px
  border-bottom-width 0
  border-top-color #fff
