#artwork-filter
  #artwork-filter__left
    h2 Works
    #artwork-filter__selection.artwork-filter-criteria
      //- Rendered separately

  #artwork-filter__right
    #artwork-section__header
      #artwork-section__totals
        //- Rendered separately
      #artwork-section__sorts-dropdown
        //- Rendered separately

    #artwork-section__results-container
      #artwork-section__columns
        - columns = [[], [], []]
        include ../../artwork_masonry/index