#artwork-filter
  #artwork-filter-left
    h2 Works
    .artwork-filter-criteria
      //- Rendered separately

  #artwork-filter-right
    #artwork-filter-right__header
      #artwork-section__totals
        //- Rendered separately
      #artwork-filter-right__sorts-dropdown
        //- Rendered separately

    #artwork-filter-right__results-container
      #artwork-filter-right__columns
        - columns = [[], [], []]
        include ../../artwork_masonry/index
      .link-and-spinner
        .artwork-spinner-container
          .loading-spinner