.partner2-overview-locations
  .partner2-location
    display inline-block
    vertical-align top
    width calc(100% / 6)
    margin-bottom 20px

.partner2-vat-info
  unica()
  color #666666
  font-size 14px