.auction2-associated-sale
  width 260px
  border 1px solid gray-lighter-color
  margin-bottom 40px

  &__image, &__metadata
    a
      text-decoration none

  &__image
    img
      width 100%

  &__metadata
    padding 10px
    text-decoration none
    serif('l-caption')

  &__subtitle
    avant-garde-size('s-headline')

  &__name
    overflow ellipsis

  &__upcoming-label
    color gray-darker-color
