@require '../../../components/clock'
@require '../../../components/add_to_calendar'
@require '../../../components/my_active_bids'
@require '../../../components/bid_status'
@require '../../../components/artwork_item/stylesheets'
@require '../../../components/artwork_columns'
@require '../../../components/bordered_pulldown'
@require '../../../components/jump'
@require '../../../components/stylus_lib'
@require '../../../components/commercial_filter/stylesheets'
@require '../components/auction_artworks/index'
@require '../components/auction_grid_artwork/index'
@require '../components/auction_list_artwork/index'
@require '../components/bid_status/index'
@require '../components/header/index'
@require './banner'
@require './header'
@require './my_active_bids'
@require './registration_component'

.auction2-page
  clearfix()

  .responsive-layout-container
    margin 0 auto

  .auction2-commercial-filter
    min-width 950px
    margin-top 20px
    border-top 1px solid gray-lighter-color

    .cf-right
      padding-left 20px

    .cf-sidebar-title__mediums, .cf-sidebar-title__artists
      padding-top 20px
      margin-top 20px
      border-top 1px solid gray-lighter-color
      padding-bottom 0px

    .cf-sidebar__filter.cf-sidebar__mediums, .cf-sidebar__followed_artists
      padding-top 10px
      border-top none

    .cf-sidebar__aggregated_artists
      padding-top 20px
      border-top 1px solid gray-lighter-color

    .cf-sidebar__info
      color #9b9b9b
      font-style italic

    .cf-total-sort__sort
      padding-right 120px
