@require '../../../components/clock'
@require '../../../components/add_to_calendar'
@require '../../../components/my_active_bids'
@require '../../../components/bid_status'
@require '../../../components/artwork_item/stylesheets'
@require '../../../components/artwork_columns'
@require '../../../components/bordered_pulldown'
@require '../../../components/jump'
@require '../../../components/stylus_lib'
@require '../../../components/commercial_filter/stylesheets'
@require '../components/artist_filter/index'
@require '../components/auction_artworks/index'
@require '../components/auction_grid_artwork/index'
@require '../components/auction_list_artwork/index'
@require '../components/basic_checkbox/index'
@require '../components/bid_status/index'
@require '../components/commercial_filter/index'
@require '../components/header/index'
@require '../components/medium_filter/index'
@require '../components/range_slider/index'
@require '../components/works_by_followed_artists/index'
@require './banner'
@require './header'
@require './my_active_bids'
@require './registration_component'

.auction2-page
  clearfix()

  .responsive-layout-container
    margin 0 auto
    padding-left 20px
    padding-right 20px

    .cf-sidebar
      width 24%
      max-width 265px
