@require '../../../components/clock'
@require '../../../components/add_to_calendar'
@require '../../../components/react/auction_block'
@require '../../../components/my_active_bids'
@require '../../../components/bid_status'
@require '../../../components/artwork_item/stylesheets'
@require '../../../components/artwork_columns'
@require '../../../components/bordered_pulldown'
@require '../../../components/jump'
@require '../../../components/stylus_lib'
@require '../../../components/commercial_filter/stylesheets'

@require './client/ArtistFilter'
@require './client/AuctionArtworks'
@require './client/AuctionGridArtwork'
@require './client/AuctionListArtwork'
@require './client/BasicCheckbox'
@require './client/BidStatus'
@require './client/CommercialFilter'
@require './client/Header'
@require './client/MediumFilter'
@require './client/RangeSlider'
@require './client/WorksByFollowedArtists'

@require './server/Banner'
@require './server/Footer'
@require './server/Header'
@require './server/Registration'
@require './server/my_active_bids'

.auction-page
  clearfix()

  .responsive-layout-container
    margin 0 auto
    padding-left 20px
    padding-right 20px

    .cf-sidebar
      width 24%
      max-width 265px

  .auction-page-section
    block-margins(30px)
    padding 60px 0
    border-top 1px solid gray-lighter-color
