@require '../../../components/stylus_lib'

.auction2-my-active-bids
  h2
    garamond-size('s-headline')
    padding 20px 0px
    border-top 1px solid gray-lighter-color
  td
    height 130px
    border-bottom 1px solid gray-lighter-color
  table
    width 100%
  tr:last-child td
    border-bottom none

.auction2-mab-artist-artwork-container
  text-align center
  width 130px

.auction2-mab-artist-artwork
  max-width 60%
  h3
    avant-garde-size('l-headline')

.auction2-mab-img
  max-width 100px
  max-height @max-width
  margin-right 30px

.auction2-mab-title
  garamond-size('l-caption')

.auction2-mab-lot-number
  avant-garde-size('body')

.auction2-mab-current-bid, auction2-mab-bid-num
  garamond-size('l-caption')
  font-style normal

.auction2-mab-artist-artwork
.auction2-mab-img
  display inline-block
  vertical-align middle

.auction2-mab-bid-button, .auction2-mab-bid-button-live
  width 100%
  text-align center

td.bid-status-cell
  .bid-status
    position relative
  p
    font-size 13px
