.fair-info-article-content-wrapper
  margin 0px auto 100px

.fair-info-article-image-caption
  garamond-size('l-caption', true)
  color gray-dark-color
  margin-bottom 40px

.fair-info-article-section-text
  garamond-size('s-body', true)
  margin-bottom 20px
  h2
    avant-garde-size('body', true)
  h3
    avant-garde-size('s-headline', true)
  p
    margin 15px 0

.fair-info-article-section-image
  width 100%
  margin-bottom 20px

.fair-info-aaw-neightborhood-nav
  garamond-size('s-body', true)
  a
    text-decoration none

.fair-info-aaw-menu
  margin 20px 0
  padding 20px 0
  border-top 1px solid gray-lightest-color
  border-bottom 1px solid gray-lightest-color
