@import './events'
@import './visitors'
@import './article'

.fair-info2-body
  padding-bottom 50%

.fair-info2-page-header
  avant-garde()
  font-size 15px
  margin 20px auto
  text-align center

.fair-info2-header
  avant-garde()
  font-size 15px
