.fair-info-visitor-info
  garamond-size('s-body', true)

.fair-info-visitor-info__section
  margin-bottom 40px

.fair-info-heavy-link
  avant-garde-size('body', true)
  display inline-block
  text-decoration none
  border-bottom 2px solid black
  padding-top 20px

.fair-info2-map
  width 100%
  margin-bottom 20px
