title
  | An art collection for every budget - Artsy
//- var description = 'An art collection for every budget'
//meta( property='og:title', content='Collect Art | Artsy' )
//meta( name='description', content= description )
//meta( property='og:description', content= description )
//meta( property='twitter:description', content= description )
//link( rel='canonical', href='#{sd.APP_URL}/collect-art' )
//meta( property='og:url', content='#{sd.APP_URL}/collect-art' )
//meta( property='og:type', content='website' )
//meta( property='twitter:card', content='summary' )
//meta( name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=yes" )
