@require '../../../components/stylus_lib'
@require './fonts'
@require './buttons'
// @require '../../../components/main-layout/stylesheets/typography'

global-reset()

// General tag styles
*,
*:before,
*:after
  box-sizing border-box
html[data-useragent*="Firefox"]
  overflow-x hidden
html, body
  height 100%
body
  garamond()
  font-size default-garamond-font-size
  line-height 1.4em
  text-rendering optimizeLegibility
  -webkit-tap-highlight-color rgba(0, 0, 0, 0);
a
  color black
  cursor pointer
  -webkit-tap-highlight-color rgba(26, 26, 26, 0.301961);
b, strong
  font-weight bold
em
  font-style italic
img
  display block
.small-caps
  small-caps()
input
  garamond()
  font-size default-font-size
  appearance none
  &[type='checkbox']
    appearance checkbox
  &[type='radio']
    appearance radio
  &:focus
    outline none
button, input
  margin 0
  outline none
hr
  position relative
  height 1px
  background-color gray-lighter-color
  border none
  margin 18px 0
  clearfix()
  &.is-invisible
    background-color transparent
sup
  font-size 75%
  line-height 1
  vertical-align super
sub
  font-size 75%
  line-height 1
  vertical-align sub
figure
  margin 0

#main-layout-container
  margin-top (content-margin-top + main-header-height + welcome-header-height)

// The 1250px max inner container
.main-layout-container
  max-width default-max-page-width
  margin auto

.responsive-layout-container
  margin 0px 55px
  @media screen and (min-width: 1440px)
    margin 0px 150px
  @media screen and (min-width: 1660px)
    margin 0px 200px
  @media screen and (max-width: 768px)
    margin 0px

#blank-layout-container
  height 100%

// Scroll Frame styles
#scroll-frame-spinner
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  display none
  z-index 10
  background white
.scroll-frame-loading #scroll-frame-spinner
  display block
.scroll-frame-open
  overflow hidden

#scripts
  width 0
  height 0

.buy-art-header
  background-size cover
  height 700px
  color white
  display flex
  position relative
  .icon-logotype
    font-size 35px
    position absolute
    top 30px
    left 30px
  &__content
    align-self center
    width 75%
    margin-left 120px
  &__title
    garamond-size('xxl-headline', true)
  &__signup-buttons
    display inline-block
    margin-top 35px
    font-weight bold
    .bah__email-signup-button
      margin-right 30px
    .bah__facebook-signup-button
      background-color #3b5998
