@require '../../../components/stylus_lib'
@require './fonts'
@require './buttons'

global-reset()

// General tag styles
*,
*:before,
*:after
  box-sizing border-box
html[data-useragent*="Firefox"]
  overflow-x hidden
html, body
  height 100%
body
  garamond()
  font-size default-garamond-font-size
  line-height 1.4em
  text-rendering optimizeLegibility
  -webkit-tap-highlight-color rgba(0, 0, 0, 0);
a
  color black
  cursor pointer
  -webkit-tap-highlight-color rgba(26, 26, 26, 0.301961);
b, strong
  font-weight bold
em
  font-style italic
img
  display block
.small-caps
  small-caps()
input
  garamond()
  font-size default-font-size
  appearance none
  &[type='checkbox']
    appearance checkbox
  &[type='radio']
    appearance radio
  &:focus
    outline none
button, input
  margin 0
  outline none
hr
  position relative
  height 1px
  background-color gray-lighter-color
  border none
  margin 18px 0
  clearfix()
  &.is-invisible
    background-color transparent
sup
  font-size 75%
  line-height 1
  vertical-align super
sub
  font-size 75%
  line-height 1
  vertical-align sub
figure
  margin 0

#main-layout-container
  margin-top (content-margin-top + main-header-height + welcome-header-height)

// The 1250px max inner container
.main-layout-container
  max-width default-max-page-width
  margin auto

.responsive-layout-container
  margin 0px 55px
  @media screen and (min-width: 1440px)
    margin 0px 150px
  @media screen and (min-width: 1660px)
    margin 0px 200px
  @media screen and (max-width: 768px)
    margin 0px

#blank-layout-container
  height 100%

// Scroll Frame styles
#scroll-frame-spinner
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  display none
  z-index 10
  background white
.scroll-frame-loading #scroll-frame-spinner
  display block
.scroll-frame-open
  overflow hidden

#scripts
  width 0
  height 0

.buy-art-buttons
  width 270px
  height 45px
  padding 15px
  box-sizing border-box
  > i
    margin-left 0

.buy-art-signup-button
  avant-garde-size('body')
  display inline-block
  width 190px
  height 45px
  line-height 45px
  background-color #6e1fff
  color white
  text-align center

.ba__email-signup-button
  @extends .avant-garde-button
  @extends .buy-art-buttons
  margin-right 30px
  background-color #ffffff
.ba__facebook-signup-button
  @extends .buy-art-buttons
  background-color #586DB8
  color white
  avant-garde-size('body')
  text-decoration none
  line-height 1
  > i
    line-height 0
    vertical-align -8px

.buy-art-header
  background-position center
  background-repeat no-repeat
  background-size cover
  height 700px
  color white
  position relative
  .icon-logotype
    font-size 35px
    position absolute
    top 30px
    left 30px
  &__content
    width 580px
    margin-left 120px
    position absolute
    top 50%
    transform translateY(-50%)
  &__title
    garamond-size('xxl-headline', true)
  &__signup-buttons
    display inline-block
    margin-top 35px
    font-weight bold
  &__chevron
    position absolute
    bottom 20px
    width 100%
    text-align center
    transform rotate(90deg)
    opacity 0.5
    i
      font-size 46px

.buy-art-intro
  background-position center
  background-repeat no-repeat
  background-size cover
  height 800px
  display flex
  &__content
    margin 220px auto
  &__title
    garamond-size('xl-headline')
    width 387px
    margin 0 auto
    text-align center
    margin-bottom 20px
  &__subtitle
    garamond-size('s-headline')
    text-align center
  &__stat_container
    display flex
    margin-top 20px
  &__stat
    flex 1
    display flex
    flex-direction column
    justify-content center
    height 100px
    text-align center
    border-right 1px solid gray-lighter-color
    &:last-child
      border none
  &__stat-number
    garamond-size('l-headline')
  &__desktop-type
    avant-garde-size('s-headline')
    min-width 250px
    font-weight bold
  &__mobile-type
    display none
  &__signup-button-container
    margin-top 25px
    text-align center
