@media screen and (max-width: 768px)
  .buy-art-header
    justify-content center
    height 460px
    &__title
      garamond-size('l-headline', true)
      max-width inherit
      margin-bottom 20px

  .buy-art-intro
    height 560px
   &__stat_container
      width 320px
      height 85px
    &__title
      max-width 280px
      garamond-size('headline', true)
    &__subtitle
      max-width 280px
      margin 0 auto
      garamond-size('l-body', true)
    &__stat-number
      garamond-size('s-headline', true)

  .buy-art-benefits
    &__benefits-container
      max-width inherit
      margin-top 35px
      padding-bottom 35px
    &__title
      garamond-size('headline', true)
    &__items
      img
        margin-bottom 10px
      margin-bottom 35px

  .buy-art-faqs
    margin-bottom 60px
    &__title
      garamond-size('headline')
    &__items-container
      padding-top 25px
    &__item-title
      garamond-size('s-body')
      font-weight bold
      margin-bottom 0
    &__item-content
      garamond-size('s-body')
      margin-bottom 35px
    &__item-grid
      margin-right inherit

  .buy-art-footer
    &__title
      garamond-size('headline')
      margin-right auto
      margin-left auto

