for bookmark in bookmarks.models
  .bookmark-artist.results-list-item
    .bookmark-artist-name.results-list-item-cell= bookmark.get('interest').name
    .bookmark-artist-remove.results-list-item-cell( data-id= bookmark.get('interest').id )
