#bookmark-artists-results
#bookmark-artists-search.autocomplete-input-container.is-block
  input.bordered-input.autocomplete-input( type='text', placeholder='Add an artist you own work by' )
  .autocomplete-loading-indicator: .loading-spinner-small
