if mode === 'pre'
  #bookmark-artists-results.results-list.is-pre
    //- Rendered separately
#bookmark-artists-search.autocomplete-input-container.is-block
  input.bordered-input.autocomplete-input(
    type='text'
    placeholder='Add an artist you own work by'
    autofocus= autofocus
  )
  .autocomplete-loading-indicator: .loading-spinner-small
  .autocomplete-feedback
    //- Rendered separately
if mode === 'post'
  #bookmark-artists-results.results-list.is-post
    //- Rendered separately
