extends ../../components/main_layout/templates/index

block body
  form( method='POST' action='' style='text-align: center; margin: 250px auto; width: 317px' )
    button.avant-garde-button-black( style='width: 100%' ) Clear Force Cache
    br
    br
    h1 Please keep in mind this could make the site slower and is best to avoid doing during high traffic times.
