#about-section6-logo
  font-size columns(2) + gutters(2)
  line-height @font-size
  transition color 0.25s
  &:hover
    color purple-color

.about-section6-pull-blurb .avant-garde-button-white
  margin-right 25px

.about-section6-blurbs
  margin-bottom 0
  & + .about-container
    margin-top 0
