@require '../../../components/stylus_lib'
@require './lib'

.body-about
  #main-layout-header
    position absolute
  #main-layout-container
    margin-top 0 !important
    height 100% !important

header-margin = 180px
.about-section > .about-container
  &:first-child
    margin-top (header-margin / 1.5)
  &:last-child
    margin-bottom (header-margin / 1.5)
.about-container
  width container-width
  margin header-margin auto
  font-size 18px
  line-height 28px

.about-section-header
  font-size 42px
  line-height 54px
  avant-garde()
  position relative
  text-align center
  margin 120px 0 60px 0
  letter-spacing 2px
  &::after
    content ''
    color transparent
    width 50px
    height 3px
    background black
    bottom -20px
    display block
    position absolute
    left calc(50% \- @width / 2)

.about-section-preamble
  width columns(3) + gutters(6)
  line-height 28px
  margin gutter-width auto gutters(2)
  a
    text-decoration underline

.about-pull-blurb
  margin-bottom gutter-width
  h1
    avant-garde()
    small-avant-garde()
    line-height 1
  h2
    font-size 42px
    line-height 48px
  h1 + h2
    margin-top 10px
  h2 + p
    margin-top 30px
  a
    text-decoration underline

.about-avant-garde-caption
  avant-garde()
  small-avant-garde()
  margin-bottom 5px
  a
    text-decoration none
  em
    color gray-dark-color
    font-style normal
    &:before
      content '–'
      padding 0 5px
      display inline-block

.about-garamond-caption
  garamond()
  font-size 15px
  margin-bottom 5px
  &, a
    color gray-dark-color
  a
    text-decoration none

.about-artwork-details
  @extends .about-garamond-caption
  font-size 16px
  line-height 1.4
  margin 15px 0

.about-image-container
  display block
  margin gutter-width 0
  position relative
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0
  img
    margin-bottom 5px
  > *
    display inline-block
    width 100%
  &.is-pin-right
    text-align right
    > *
      text-align left

.about-section
  overflow hidden

.about-spinner
  position fixed
  width column-width
  height @width
  top 50%
  left 50%
  margin-top -(column-width / 2)
  margin-left @margin-top
  background-color black
  z-index 3
  display none
  force-hardware-acceleration()
  &[data-state='loading']
    display block

.about-footer
  position relative

@require './nav'
@require './hero_unit'
@require './the_art_world_online'
@require './collecting'
@require './the_art_genome_project'
@require './education'
@require './kern'
