kern()
  for m, i in arguments
    span:nth-of-type({i + 1})
      margin-left (m)px

.about-section:nth-child(2) .about-section-header
  //   T H E   A R T   W O R L D   O N L I N E
  kern(0 2 1 0 3 2 5 0 4 0 3 4 5 0 2 3 3 2 1 0)

.about-section:nth-child(3) .about-section-header
  //   C O L L E C T I N G
  kern(0 1 2 3 4 2 3 3 2 1)

.about-section:nth-child(4) .about-section-header
  //   T H E   A R T   G  E N O M E   P R O J E C T
  kern(0 2 2 3 0 1 5 3 -1 3 2 2 2 2 0 3 3 2 3 2 2 0)

.about-section:nth-child(5) .about-section-header
  //   E D U C A T  I O N
  kern(0 2 2 1 2 -1 4 3 2)
