gutter-width = 40px
column-width = 120px
container-width = (column-width * 6) + (gutter-width * 10)

small-avant-garde()
  font-size 11.5px
  letter-spacing 1px
  line-height 16px

// Grid
span(n)
  width (column-width * n) + (gutter-width * ((n * 2) - 2))
columns(n)
  (column-width * n)
gutters(n)
  (gutter-width * n)
.row
  margin 40px 0
.span
  display inline-block
  vertical-align top
  margin-right gutters(2)
  img
    width 100%
    vertical-align bottom
  a
    text-decoration none
  &:last-child
    margin-right 0
  &.is-centered
    display block
    margin auto
.span1
  @extends .span
  width column-width
for n in 2..6
  .span{n}
    @extends .span
    span(n)
