.artwork-partner-module
  margin-bottom 40px
  &__section-title
    garamond-size('l-body', true)
    margin 17px 0px 10px 0px

  &__label__follow-container
    display flex
    margin-bottom 8px

  &__label
    margin-right 15px
    width 60%
    a
      text-decoration none

  &__follow
    width 40%

  &__bio
    garamond-size('s-body')

  .artwork-partner-name
    avant-garde-size('body', true)

  .artwork-partner-location
    garamond-size('s-body', true)
    color #666


