include ../../../../components/util/activator

mixin tab(name, path)
  a.settings-tabs__tab(
    class='js-avant-garde-tablist__tab'
    href= path
    data-state= activeState(path)
  )= name

nav.settings-tabs
  +tab('Saves & Follows', '/user/saves')
  +tab('Auctions', '/user/auctions')
  +tab('Collector Profile', '/profile/edit')
  +tab('Settings', '/user/edit')
  +tab('Payments', '/user/payments')
