.settings-tabs
  clearfix()
  margin gutter 0 0 0
  border-bottom 2px solid gray-lighter-color
  &__tab
    display block
    float left
    avant-garde-size('body')
    padding (gutter / 2)
    color gray-darker-color
    border-bottom 2px solid gray-lighter-color
    margin-bottom -2px
    transition color 0.25s, border-color 0.25s
    text-decoration none
    &:hover
    &[data-state='active']
      color black
      border-bottom-color gray-darker-color
    &:first-child
      padding-left 0
