.marketing-signup-modals
  width 80%
  max-width 1260px
  margin 100px auto

table.marketing-signup-modals-table
  font-family arial, sans-serif
  border-collapse collapse
  width 100%

  tr.marketing-signup-modals__table-header th
    font-weight bold

  td, th
    border 1px solid #dddddd
    text-align left
    padding 8px

  tr:nth-child(even)
    background-color #F8F8F8
