@require '../../../../components/artwork_brick'
@require '../../../../components/auction_artwork_brick'
@require '../../../../components/artwork_metadata_stub'
@require '../../../../components/artwork_masonry_4_column'
@require '../../../../components/reveal'

.artwork-auction-artworks
  //

  extra-padding = 2px

  &__header
    align-items center
    display flex
    justify-content space-between
    margin-bottom extra-padding

    &__name
      serif('headline')
      > a
        fine-faux-underline()

  &__auction-name
    color #747474
    margin-bottom gutter + extra-padding
    serif('l-body')

  // Reveal more auction artworks button
  button-size = 45px

  // Masked, expandable area
  .reveal
    width 100%
    height button-size + 3px

    &::before
      border-bottom 1px solid gray-lighter-color
      bottom 50%
      content ''
      left 0
      position absolute
      right 0

    &__button
      background-color white
      border 1px solid gray-lighter-color
      border-radius button-size
      height button-size
      left 50%
      padding 7px 9px
      position absolute
      top 50%
      transform translate(-50%, -50%)
      width button-size

      // Icon: icon-chevron-small-down
      > span
        font-size 26px
