if artwork.auction && artwork.auction.artworks && artwork.auction.artworks.length
  - var auction = artwork.auction
  - console.log(auction)

  section.artwork-section.artwork-auction-artworks( class='js-artwork-auction-artworks' )
    header.artwork-auction-artworks__header
      h3.artwork-auction-artworks__header__name
        | Other Works from the Auction

      a.artwork-artist-artworks__header__jump( href= auction.href )
        | View All
        
    .artwork-auction-artworks__auction-name
      | #{auction.name}

    - var columns = helpers.auction_artworks.masonry(auction.artworks).columns
    include ../../../../components/artwork_masonry/index
