@require '../../../../components/artwork_brick'
@require '../../../../components/auction_artwork_brick'
@require '../../../../components/artwork_metadata_stub'

.artwork-auction-artworks
  //

  extra-padding = 2px

  &__header
    display flex
    align-items center
    justify-content space-between
    margin-bottom extra-padding

    &__name
      serif('headline')
      > a
        fine-faux-underline()

  &__auction-name
    color #747474
    margin-bottom gutter + extra-padding
    serif('l-body')
