@require '../../../../components/deep_zoom/index.styl'

#artwork-carousel
  display inline-block
  position relative
  width 100%
  margin-bottom 23px

#artwork-carousel__track
  height 65vh
  &.flickity-enabled .artwork-carousel__track__image:not(:first-child)
    visibility visible

  .flickity-viewport
    overflow hidden
    position relative
    height 100%

  .artwork-carousel__track__image
    margin auto
    height 100%
    width 100%
    &:not(:first-child)
      visibility hidden
    img
      top 0
      bottom 0
      left 0
      right 0
      margin auto
      position absolute
      max-width 100%
      max-height 100%

  .flickity-page-dots
    bottom -22px
    & .dot
      background-color gray-darker-color

.artwork-image-module__outer
  height auto
  margin-bottom 13px
  .artwork-image-module__inner
    margin auto
    text-align center
    height 100%
    img
      margin auto
      max-height 100%
      max-width 100%

.artwork-image-module__details
  border-bottom 1px solid gray-lighter-color

.artwork-image-module__artwork-details
  width 100%
  .artist-name
    garamond()
    fine-faux-underline()
    display inline-block
    font-size 20px
    font-weight 600
    letter-spacing 0
    margin-bottom 18px
    text-transform none
    &:hover
      border-bottom none

  .artwork-display
  .artwork-meta-data__details
    garamond()
    color gray-darker-color
    font-size 14px

  .artwork-meta-data__details
    margin-bottom 18px

  .artwork-meta-data__details__image-rights
    garamond-size('m-caption', true)
    color #666
    margin-top 8px

.artwork-image-module__attribution-class
  garamond()
  font-size 14px
  line-height 1.5
  margin-bottom 24px

  .artwork-tab-link
    fine-faux-underline()

  .artwork-tab
    color gray-darker-color
    garamond-size('m-caption', true)
    padding-top 0

.artwork-meta-data-module .artwork-meta-data-price
  garamond-size('s-body', true)

.artwork-header-module
  display flex
  justify-content space-between
  margin 18px auto
  width 100px
  .circle-border-icon-button
    border-style none
    height 100%
    line-height 100%
    width 32px
  &__share-container
    flex 1 1 auto
    .artwork-header-module__share-button
      text-decoration none
      height: 100%
      .share-menu-modal
      .share-menu
        z-index 6
  
  &__favorites-container
    flex 1 1 auto
    width 32px
    text-align center
  &__favorite-button
    text-decoration none
    display: inline-block
    height: 100%
    &[data-state='saved']
      border-color #6a00cc
      color #6a00cc
      svg
        fill #6a00cc
  &__watch-button
    @extend .artwork-header-module__favorite-button
    position relative
    top 2px
    height 25px
    svg
      height 100%
      fill #000
