.mgr-cells.js-mgr-cells
  for installShot in partner_show.install_shots
    if installShot.carousel_dimension && installShot.url
      .mgr-cell.js-mgr-cell
        img(
          src= installShot.url
          alt= installShot.caption
          title= installShot.caption
        )

        if installShot.caption
          .show-installation-shot-caption( style="width: #{installShot.carousel_dimension.width}px")
            = installShot.caption
- length = partner_show.install_shots.length
include ../../../components/merry_go_round/templates/bottom_navigation
