section.show-artworks-columns.js-show-artworks-columns
  .artworks-container
    if sd.ENABLE_EXPERIMENTAL_STITCH_INJECTION
      != stitch.components.ArtworkGrid({ artworks: partner_show.artworks })
    else
      if artworkColumns
        include ../components/artwork_columns_metaphysics/template
