if show.press_release || (show.artists && show.artists.length > 0)
  .show-footer
    .show-footer-row
      if show.press_release
        .show-footer-cell
          h3.show-subheadline
            | Press Release
          .show-press-release
            != show.press_release

      .show-footer-cell
        h3.show-subheadline
          | Follow Artists In This Show

        - artists = show.artists
        include ../components/follow_artists/template

      if !show.press_release && show.artists && show.artists.length > 0
        //- Force 50% layout
        .show-footer-cell
          | &nbsp;

.related-shows.js-related-shows
  //- Rendered client-side
