header.show-header( class= hasCarousel ? 'has-carousel' : undefined )
  .show-header-cell
    h1.show-title
      if show.fair
        = show.partner.name
        br
        em= show.fair.name
      else
        = ViewHelpers.title(show)

    if show.description
      .show-description
        != show.description

  .show-header-cell
    .show-partner
      .entity-with-follow
        if show.partner.is_linkable
          a.entity-link( href= show.partner.href )
            = show.partner.name
        else
          span.entity-link= show.partner.name
        a.entity-follow.profile-follow( data-id= show.partner.default_profile_id )

      nav.show-share.js-show-share
        +share(ViewHelpers.shareTitle(show))

    .show-metadata
      if show.fair
        include metadata/fair
      else
        .show-dates
          = ViewHelpers.runningDates(show)
        include metadata/location
        if show.events.length > 0
          include metadata/events

//- Rendered client-side
.js-related-articles
