extends ../../../components/main_layout/templates/index
include ../../../components/share/mixin

block head
  include meta

append locals
  - assetPackage = 'partners'

block body
  - hasCarousel = partner_show.install_shots.length >= 3

  if hasCarousel
    section.show-installation-shot-carousel.merry-go-round.js-show-installation-shot-carousel(
      class= ViewHelpers.hasCaptions(partner_show.install_shots) ? 'has-captions' : undefined
    )
      include carousel

  .responsive-layout-container: .main-layout-container
    include header
    include columns
    include footer

  if jsonLD
    include ../../../components/main_layout/templates/json_ld
