@import '../../../components/stylus_lib'

.haw-page
  min-height 600px

.haw-learn-more
  margin-top 20px

  &:after
    top 42%
    margin-top -13px

.haw-learn-more__inner
  display table
  table-layout fixed
  width 100%
  > div
    display table-cell
    vertical-align middle
  > .haw-learn-more__left
    width 35%
    img
      width 100%
  > .haw-learn-more__right
    padding 0 20px

.haw-learn-more-page
  padding 20px 0
  > h1
    garamond-size('headline', true)
    margin 30px 0
  h3
    avant-garde-size('body', true)
    color gray-color
    margin 10px 0

.haw-bid-increments
  margin-bottom 20px

.learn-more__description
  > p
    margin 10px 0

.leader-dots-list
  avant-garde-size('body', true)
