caption-styling()
  margin 10px 0
  garamond-size('m-caption', true)
  line-height 1.2
  color light-gray-text-color

.article-section-container
  margin 20px
  overflow hidden
  .article-section
    margin 0px
    width 100%

.article-section-text
  garamond-size('l-body', true)
  line-height 1.3
  p
    margin 40px 0
    a:not(.is-jump-link):not(.artist-follow)
      fine-faux-underline()
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0
    a.is-jump-link
      cursor text
  h3
    avant-garde()
    font-size 13px
  h2
    font-size 24px
  ul li
    list-style disc inside
  ol li
    list-style decimal inside

.article-section-image
  > img
    display block
    max-width 100%
    height auto
    margin auto
  > figcaption
    caption-styling()
    margin 10px 20px

.article-section-artworks
  position relative
  min-height 100px
  > .loading-spinner
    position absolute
    width 25px
    height 6px
    top 50%
    left 50%
    margin 0
    margin-top -(@height / 2)
    margin-left -(@width / 2)

.artwork-columns-artwork-details
  a
    text-decoration none
    color gray-darker-color
  .artwork-item-artist a
    font-weight bold

.article-section-video
  iframe
  object
    max-width 100%
    height auto
    margin auto
    width 100%

.carousel--bottom-nav .carousel-figures-clip.carousel-figures-clip--article
  min-height 230px
  img
    width auto
    max-height 230px

.article-carousel-figure
  width 100%
  margin 0 !important
  vertical-align top
  padding 0 15px

  > img
    width 100%
    height auto
  > figcaption
    caption-styling()
    margin 5px 0
    white-space normal

.article-section-container[data-layout="overflow_fillwidth"]
  margin 20px 0px
  .artwork-columns-artwork-details
    margin 10px 20px 10px 20px

.article-section-container[data-section-type="image"]
  margin 20px 0px

.article-section-container[data-section-type="video"]
  position relative
