@import '../stylus_lib'

#error-handler
  margin 0
  #main-header
    .tagline
      padding 18px 14px 14px 70px
      border 0
      margin 0
      background transparent
      width 100%
  main
    text-align  center
    margin      100px auto
    p
      font-size 18px
  h1
    serif()
    font-weight bold
    font-size 20px
    line-height 1.2em
    margin  20px auto 40px
  footer
    border-top 1px solid #E5E5E5
    padding   9px 14px
  ul.error-handler-footer
    list-style-type none
    text-align      center
    font-size       14px
    > li
      display inline-block
      margin  0 8px
      a
        text-decoration none
