extends ../../components/main_layout/templates/index
include ../../components/share/mixin

block head
  include meta

append locals
  - assetPackage = 'categories'

block body
  .main-layout-container
    header#tag-header
      h1.avant-garde-header-center Artwork related to “#{tag.get('name')}”
      #tag-share-buttons
        +share(tag.get('name') + ' on Artsy')

    .sixty-forty-bisected-header
      if tag.get('description')
        .bisected-header-cell.tag-blurb
          .bisected-header-cell-section
            h2 About
            .blurb!= tag.mdToHtml('description')

    #tag-filter
      #tag-filter-nav.filter-fixed-header-nav
        .filter-fixed-header-left
          = tag.get('name')
          | &nbsp;&mdash;&nbsp;
          em
            span.filter-artworks-num
            | &nbsp;Works
        span#tag-filter-artworks-nav
          include ../../components/filter2/dropdown_group/template
      #tag-artworks
        include ../../components/filter2/template
