title Artsy In The Media | Artsy
meta( property="og:title", content="Artsy In The Media | Artsy" )
meta( name="description", content="Artsy’s press kit listing select articles about Artsy in the media." )
meta( name="og:description", content="Artsy’s press kit listing select articles about Artsy in the media." )
meta( property="twitter:description", content="Artsy’s press kit listing select articles about Artsy in the media." )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + "/about/page/events") )
link( rel="canonical", href=(sd.APP_URL + "/about/page/events") )
meta( property="og:url", content=(sd.APP_URL + "/about/page/events") )
meta( property="og:image", content=(sd.ASSET_PATH + "og_image.jpg") )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
meta( name='viewport', content='user-scalable=0, width=1300' )
