extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'about'

block body
  #about-markdown-page
    a.contextual-return-link( href='/about' )
      i.icon-chevron-small-left
      | Back to the about page
    != page.mdToHtml('content')
