title News & Press Releases | Artsy
meta( property="og:title", content="News & Press Releases | Artsy" )
meta( name="description", content="News & Press Releases from Artsy." )
meta( name="og:description", content="News & Press Releases from Artsy." )
meta( property="twitter:description", content="News & Press Releases from Artsy." )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + "/about/page/press") )
link( rel="canonical", href=(sd.APP_URL + "/about/page/press") )
meta( property="og:url", content=(sd.APP_URL + "/about/page/press") )
meta( property="og:image", content=(sd.ASSET_PATH + "og_image.jpg") )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
meta( name='viewport', content='user-scalable=0, width=1300' )
