.auctions-page-list__auction.avant-garde-tabs-list__item
  a(href=auction.href())
    .auctions-page-list__auction__bid-label
      if auction.isAuctionPromo()
        span.is-promo Sale Preview
      else if auction.get('auction_state') === 'open'
        span.is-open Bidding Open

    .auctions-page-list__auction__name.avant-garde-tabs-list__chevron-name
      .auctions-page-list__auction__name__title= auction.get('name')

    .auctions-page-list__auction__images(data-id= auction.id)
      for artwork in auction.related().artworks.models
        img(
          src= artwork.defaultImage().imageUrl('small')
          alt= artwork.get('title')
        ).auctions-page-list__auction__image
