extends ../../../components/layout/templates/main

block head
  title Auctions | Artsy

block content
  #auction-page
    //- TODO: Modify bucket assets to upload and display images assets
    header.auctions-header.garamond-header(
        style= !currentAuctions.length ? "background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/auction-header-img.jpg')" : ""
        class= !currentAuctions.length ? "auctions-header--background-image" : ""
      )
      h1 Bid online on
        br
        | Leading Auctions

    #auction-page-content.main-side-margin

      if !user
        .auction-page-content--sign-up-container
          .auction-page-content--sign-up-container__label Get notified when auctions open
          a.avant-garde-box-button.avant-garde-box-button-gray( href='/sign_up' ) Sign up

      include ../../../components/avant_garde_tabs/nav

      .avant-garde-tabs-list.avant-garde-tabs-list--active.auctions-page-list(data-list="current")
        if currentAuctions && currentAuctions.length
          for auction in currentAuctions
            include auction

      .avant-garde-tabs-list.auctions-page-list(data-list="upcoming" class= currentAuctions.length ? '' : 'avant-garde-tabs-list--active')
        if upcomingAuctions
          for auction in upcomingAuctions
            a.avant-garde-tabs-list__upcoming-name( href= auction.href() )
              strong.avant-garde-tabs-list__upcoming-title= auction.get('name')
              .avant-garde-tabs-list__upcoming-date Opens #{auction.date('start_at').format('MMM D')}

      .avant-garde-tabs-list.auctions-page-list(data-list="past" class= upcomingAuctions.length ? '' : 'avant-garde-tabs-list--active')
        if pastAuctions && pastAuctions.length
          for auction in pastAuctions
            include auction
