.current-item
  max-width 400px
  display flex
  flex-direction row
  align-items center
.current-item-image
  max-height 104px
.current-item-name
.current-item-detail
  garamond-size('l-caption')
  margin-top 4px
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
.current-item-detail
  color gray-darker-color
.current-item-right
  padding-left 15px
  overflow hidden