.current-item
  padding 10px
  border 1px solid gray-lighter-color
  display flex
  flex-direction row
  align-items center
  a
    text-decoration none
.current-item-image
  height 60px
  width 60px
.current-item-name
.current-item-detail
  garamond-size('l-caption')
  margin-top 4px
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
.current-item-detail
  color gray-darker-color
.current-item-left
  flex-shrink 0
.current-item-right
  margin-left 10px
  overflow hidden