a.current-item-left(href= currentItem.href)
  if currentItem.imageUrl
    img.current-item-image(src= currentItem.imageUrl)
a.current-item-right(href= currentItem.href)
  .current-item-label.avant-garde-s-headline= currentItem.heading
  .current-item-name= currentItem.name
  if currentItem.detail
    .current-item-detail!= currentItem.detail