.current-item
  display flex
  flex-direction row
  align-items center
.current-item-image
  max-height 104px
.current-item-name
.current-item-duration
  garamond-size('l-caption')
  margin-top 4px
.current-item-duration
  color gray-darker-color
.current-item-right
  padding-left 15px