title Browse | Artsy
meta( property="og:title", content="Browse | Artsy" )
meta( name="description", content="Browse artworks by subject matter, style/technique, movement, price, and gallery/institution." )
meta( property="og:description", content="Browse artworks by subject matter, style/technique, movement, price, and gallery/institution." )
meta( property="twitter:description", content="Browse artworks by subject matter, style/technique, movement, price, and gallery/institution." )

meta( property="og:url", content=(sd.APP_URL + "/collect") )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
meta( name='fragment', content='!' )
