@import '../../../components/stylus_lib'
@import './categories'

#browse-page
  padding-top 40px

#browse-page-see-all
  margin 10px 0
  text-align right
  font-size default-avant-garde-font-size

// Featured gene section
.browse-featured-gene-set
  text-align center

.browse-featured-gene
  display inline-block
  position relative
  background-color #000
  width calc('50% - 5px')
  &:hover
    > .bfg-image
      opacity 0.5
  &:first-child
    margin-right 5px
  &:last-child
    margin-left 5px

// Popular categories section
column-width = 25%

.browse-popular-categories
  clearfix()
  margin 20px auto

.bpc-column
  float left
  h1
    margin 5px 0 30px 0
    font-size
  a
    display block
    padding 5px 0
    font-size 17px

.bpc-subcolumn
  float left
  padding-right 20px
  margin-right 20px
  width calc('33.3% - 20px')
  border-right 1px solid gray-lighter-color
  > h3
    margin-bottom 15px
    avant-garde()
    font-size 13px

.bpc-dynamic
  width calc('75% + 20px')

.bpc-partners
  width calc('25% - 20px')
  > h3
    margin-top 20px
    avant-garde()
    font-size 13px

.highlight-link
  overflow ellipsis

// Browse filter
#browse-filter-header
  border-bottom 1px solid gray-lighter-color
  padding 40px 0 25px 0
#browse-filter
  margin-top 20px
#browse-artworks
  margin-top 20px
