include ../../share/template
.see-post.icon-chevron-down
.post-actions
  .post-share-actions
    +share(post.shareTitle(), post.get('shareable_image_url'))
  .post-modifier-actions
    if profile && profile.isCurrentProfile()
      a.post-edit Edit
    if (profile && profile.isCurrentProfile()) || (currentUser && currentUser.isAdmin())
      a.post-remove Delete

    if currentUser && currentUser.isAdmin()
      a.post-show-feature-dialog Posts

      if post.get('featured')
        a.post-unfeature Unfeature
      else
        a.post-feature Feature

      if post.get('flagged')
        a.post-flagged Flagged
      else
        a.post-flag Flag
      
      a.post-admin( href="#{sd.ADMIN_URL}/post/#{post.get('id')}") Admin

if currentUser && currentUser.isAdmin()
  include ./actions_feature
