.posts-dialog
  .feature-artists
  .feature-artworks
  .slug-container
    input.bordered-input.is-block( name='post-feature-model-id', placeholder="Id or Slug" )
    input.bordered-input.is-block( name='post-feature-model-name', placeholder="Model Name (Artist, Artwork)" )
    .feature-by-slug.avant-garde-button-white.is-block Post
    .error
