.posts-dialog
  a.close
  .menu
    ul.artists
    ul.artworks
    ul
      li.slug
        a
          | Slug:
          input.post( name='feature_slug' )
          span.feature_by_slug Post
        .error
