include ../components/partner/index
include ../components/show_artworks/index
include ../components/artist_artworks/index

//- FIXME: Update ref
div.react-mount-auction-artworks
include ../components/partner_artworks/index
