extends ./index

block head
  meta( name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' )

block body
  .error-handler( data-code= code )
    h1.error-handler-headline
      if code === 404
        | Sorry, the page you were looking for doesn’t exist at this URL.
      else
        | Internal Error

    .error-handler-body
      if detail && code !== 404
        pre.error-handler-trace
          = detail
      p
        | Please contact
        = ' '
        a.fine-faux-underline( href='mailto:support@artsy.net' )
          | support@artsy.net
        = ' '
        | with any questions.

    .error-handler-return: a.avant-garde-button-black( href='/' )
      | Go to Artsy homepage
