extends index

append locals
  - assetPackage = data.assetPackage || ''
  - bodyClass = bodyClass + ' ' + (data.bodyClass || '')

block head
  != header

    
block body
  script.
    var __BOOTSTRAP__ = !{JSON.stringify(data)}

  #react-root
    != body
