- var displayName = facet.displayName
- var facetName = facet.facetName

.partners-facet-dropdown.filter-partners-dropdown(class= "dropdown-#{facetName}")
  input.partners-facet-input.no-selection(
    placeholder= "All " + displayName
  )
  span.icon-chevron-down