.artwork-collecting-institution-stub
  border-bottom 1px solid gray-lighter-color
  padding 0 0 25px 0

.artwork-partner-stub
  serif('s-body')
  border-bottom 1px solid gray-lighter-color
  line-height 1.33
  padding 25px 0
  
  &__name
    garamond()
    display inline-block
    font-size 20px
    font-weight 600
    margin-bottom 8px
    text-decoration underline

    &:not([href])
      text-decoration none
      cursor default

  &__location
  &__card
    font-size 15px
    position relative
    span
      display inline-block
      &.icon
        position absolute
          
      &.content
        padding 0 0 5px 28px
        line-height 23px
    
  &__location .icon
    top 0
    left 3px
    
  &__card .icon
      top 3px
