- var partner = artwork.partner
- var contacts = helpers.partner_stub.contacts(partner.locations)
- var location = helpers.partner_stub.location(partner.locations)
- var artistIds = helpers.partner_stub.artistIds(artwork.artists)

unless artwork.is_in_auction
  if artwork.collecting_institution
    .artwork-collecting-institution-stub
      = artwork.collecting_institution
  else
    .artwork-partner-stub( class='js-artwork-partner-stub' )
      //- Default view
      a.artwork-partner-stub__name( href= (partner.is_linkable ? partner.href : undefined) )
        = partner.name

      if location
        .artwork-partner-stub__location
          span.icon
            include public/icons/location.svg
          span.content
            = location

        //- if artwork.is_inquireable && contacts && contacts.length
        //-   .artwork-partner-stub__phone
        //-     a(
        //-       class='js-artwork-partner-stub-inquire-via-phone analytics-artwork-show-phone-number garamond-s-body'
        //-       data-partner_id= partner._id
        //-       data-artwork_id= artwork._id
        //-       data-partner= partner
        //-       data-artist_ids= artistIds
        //-       data-user_id=(sd.CURRENT_USER && sd.CURRENT_USER.id )
        //-       data-context='show phone number'
        //-     )
        //-       | Inquire via phone
      
      if partner.acceptsCardPayments
        .artwork-partner-stub__card
          span.icon
            include public/icons/creditcard.svg
          span.content
            = 'Accepts credit card'
