- var partner = artwork.partner
- var location = helpers.partner_stub.location(partner.locations)

unless artwork.is_in_auction
  if artwork.collecting_institution
    .artwork-collecting-institution-stub
      = artwork.collecting_institution
  else
    .artwork-partner-stub( class='js-artwork-partner-stub' )
      //- Default view
      a.artwork-partner-stub__name( href= (partner.is_linkable ? partner.href : undefined) )
        = partner.name

      if location
        .artwork-partner-stub__location
          span.icon
            include public/icons/location.svg
          span.content
            = location

      //- TODO: Either uncomment or remove based on Credit Card logo feature timeline
      //- if partner.acceptsCardPayments
      //-   .artwork-partner-stub__card
      //-     span.icon
      //-       include public/icons/creditcard.svg
      //-     span.content
      //-       = 'Accepts credit card'
