@import '../components/tooltips'

gutter-size = 44px
main-width = 696px
aside-width = 400px
header-height = 400px
aside-margin = 100px

.toolkit-header
  height header-height
  width 100%
  background url('/toolkit_background.jpg')
  background-size cover
  position relative
  h1
    font-size 60pt
    width 700px
    font-family garamond
    color white
    position absolute
    bottom 20px
    left 30px
    line-height 65pt
  
.toolkit-container
  max-width (gutter-size + main-width + aside-width)
  margin auto
  
.toolkit-main
  max-width main-width
  font-size 21pt
  position relative
  
.toolkit-aside
  width aside-width
  height "calc(100% - %s)" % aside-margin
  padding gutter-size
  position position
  top aside-margin
  background white
  box-shadow 0px 0px 20px black

.toolkit-main, .toolkit-aside
  display inline-block
  vertical-align top

.toolkit-list
  position absolute
  margin-left gutter-size
  font-size 14pt

.get-toolkit
  garamond-size('s-headline')
  
.form-footer-text
  font-size 17pt
  color lightgray
  
.toolkit-thank-you
  
  
  
  
