extends ../../components/main_layout/templates/blank

block head
  include meta

append locals
  - assetPackage = 'toolkit'

block body
  header.toolkit-header
    h1 Social Media Toolkit For Galleries
  .toolkit-container
    main.toolkit-main
      p Find out what the top art galleries are doing succesfully on social media. Artsy's new Social Media Toolkit for Galleries includes tips on how to drive more inquiries and improve engagement on social channels, including Instagram, Facebook, and Twitter.
      img(src='/toolkit_stack.jpg')
      div.toolkit-list
        p This new toolkit will help you:
        ul
          li - Build an audience of collectors on Instagram
          li - Launch successful campaigns on Facebook
          li - Compose Tweets that will get your gallery noticed
    aside.toolkit-aside
      p.get-toolkit Get the toolkit
      form.download-form(name='toolkit-download', method='post')
        label.form-label First Name
        br
        input(type='text', name='first_name', value='', required)
        br
        label.form-label Last Name
        br
        input(type='text', name='last_name', value='', required)
        br
        label.form-label Email Address
        br
        input(type='email', name='email', value='', required)
        br
        label.form-label Gallery Name
        br
        input(type='text', name='gallery_name', value='', required)
        br
        label.form-label Website
        br
        input(type='url', name='website', value='', required)
        br
        input#download-button(type='submit', value='Download')
        br
        p.form-footer-text Download the Toolkit and receive Artsy's Gallery Insights monthly.



