- description = "Download Artsy's Social Media Toolkit for Galleries to find out what the top galleries are doing successfully."
title Social Media Toolkit for Galleries | Artsy
meta( property="og:title", content="Social Media Toolkit for Galleries | Artsy" )
meta( name="description", content='Learn how top galleries use Instagram, Facebook and Twitter to reach collectors.' )
meta( name="og:description", content='Learn how top galleries use Instagram, Facebook and Twitter to reach collectors.' )
meta( property="twitter:description", content='Learn how top galleries use Instagram, Facebook and Twitter to reach collectors.' )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + "/social-media-toolkit") )
link( rel="canonical", href=(sd.APP_URL + "/social-media-toolkit") )
meta( property="og:url", content=(sd.APP_URL + "/social-media-toolkit" + "?utm_source=share&utm_campaign=Artsy_Gallery_Insights_Toolkit&utm_medium=facebook") )
meta( property="og:image", content=asset('/toolkit_background.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
