#posts-page
  padding-top 40px
  .avant-garde-header-center
    font-size: 24px
    margin-bottom: 25px
  .garamond-header-center
    font-size: 24px
    margin-bottom: 28px
    line-height: 1.5em
  .add-to-post
    padding: 5px 13px
    font-size: 27px
    margin: 1px 12px
    line-height: 102%
    vertical-align: top
    .avant-garde-header-center
      margin: 0px
      display: inline-block
      padding-left: 7px
      font-size: 12px
      vertical-align: top
      padding-top: 1px
  .garamond-tablist
    text-align: center
    letter-spacing: 2px
    font-size: 17px
