title Posts | Artsy
meta( property="og:title", content="Posts | Artsy" )
meta( name="description", content="Posts are insights on artists and artworks by the Artsy community, including posts by users, galleries and institutions, and the Artsy editorial staff." )
meta( property="og:description", content="Posts are insights on artists and artworks by the Artsy community, including posts by users, galleries and institutions, and the Artsy editorial staff." )
meta( property="twitter:description", content="Posts are insights on artists and artworks by the Artsy community, including posts by users, galleries and institutions, and the Artsy editorial staff." )
link( rel="canonical", href=(sd.APP_URL + "/posts") )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + "/posts") )
meta( property="og:url", content=(sd.APP_URL + "/posts") )
meta( property="og:image", content=(sd.ASSET_PATH + "og_image.jpg") )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
meta( name='fragment', content='!' )
