extends ../../components/main_layout/templates/index

block head
  include meta

append locals
  assetPackage = 'posts'

block body
  #posts-page.main-layout-container
    h1.avant-garde-header-center
      | Posts
    h2.garamond-header-center
      | Posts are stories, facts and reflections added by the community.
      br
      | Click
      a.add-to-post-button Add Post
      | on any artwork or artist page to post your own.
    if currentUser
      .tabs
        a.featured( data-tab='featured' ) Featured By Artsy
        span &nbsp;&nbsp;&#8260;&nbsp;&nbsp;
        a.personalized( data-tab='personalized' ) Following
        if currentUser.isAdmin()
          span &nbsp;&nbsp;&#8260;&nbsp;&nbsp;
          a.all( data-tab='all' ) All Posts

    .feed.loading
