extends ../../components/main_layout/templates/index

block head
  include meta

append locals
  assetPackage = 'posts'

block body
  #posts-page.main-layout-container
    h1.avant-garde-header-center
      | Posts
    h2.garamond-header-center
      | Posts are stories, facts and reflections added by the community.
      | Click ADD POST on any artwork or artist page to post your own.
