extends ../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'posts'
  - bodyClass = bodyClass + ' body-infinite-scroll'

block body
  #posts-page
    h1.avant-garde-header-center
      | Posts
    h2.garamond-header-center
      | Posts are stories, facts and reflections added by the community.
      br
      | Click
      a( href="/post" ).add-to-post.avant-garde-button-white.icon-write
        .avant-garde-header-center Add Post
      | on any artwork or artist page to post your own.
    if user
      .garamond-tablist
        a.garamond-tab( href="/posts/featured", data-tab='featured', class=activeClass('/posts/featured') ) Featured By Artsy
        if user.get('type') == 'Admin'
          span &nbsp;&nbsp;&#8260;&nbsp;&nbsp;
          a.garamond-tab( href="/posts/all",  data-tab='all', class=activeClass('/posts/all') ) All Posts

    .feed
      section.feed-items
        .loading-spinner