meta( charset='utf-8' )
link( rel='icon', type='image/png', href=asset('/images/favicon.ico') )
link( type='text/css', rel='stylesheet', href=asset('/assets/main_layout.css') )
link( type='text/css', rel='stylesheet', href=asset('/assets/auth.css') )

//- Set viewport size depending on if the page is responsive or not
if sd.IS_RESPONSIVE && (userAgent && !userAgent.match('iPad')) && sd.IS_MOBILE
  meta( name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' )
else if sd.IS_RESPONSIVE && (userAgent && !userAgent.match('iPad'))
  meta( name='viewport', content='width=device-width, initial-scale=1.0' )
else
  meta( name='viewport', content='user-scalable=1, width=1300' )