.show-cell-item
  &__link
    display block
    text-decoration none

  &__show-name
  &__running-dates
  &__warning
    garamond-size('s-body')
    line-height 1.2
  &__partner-name
  &__running-dates
  &__warning
    overflow ellipsis

  &__partner-name
    avant-garde-size('body')

  &__show-name
    white-space normal
    word-wrap break-word

  &__running-dates
    color gray-darker-color

  &__warning
    color red-color
