@require '../stylus_lib'

.jump-to-top
  position fixed
  cursor pointer
  top (home-logo-size + 20px)
  right 20px
  width (home-logo-size + 10px)
  height (home-logo-size + 10px)
  line-height (home-logo-size + 10px)
  font-size 35px
  text-align center
  vertical-align middle
  border 3px solid transparent
  transition all 0.25s
  z-index zindex-jump
  force-hardware-acceleration()
  &:hover
    border-color black
  &[data-state='hidden']
  &.is-hidden
    transform translateY(-(home-logo-size + 20px))
    opacity 0 !important
    border-color transparent !important
    cursor default
    pointer-events none
  &.from-bottom
    bottom 20px
    top auto
    z-index 2
    &[data-state='hidden']
      transform translateY(-20px)
