.jump-to-top
  position fixed
  cursor pointer
  top (home-logo-size + 20px)
  right 20px
  width (home-logo-size + 10px)
  height (home-logo-size + 10px)
  line-height (home-logo-size + 10px)
  font-size 35px
  text-align center
  vertical-align middle
  // background-image is set in embedded.styl
  border 3px solid transparent
  transition top 0.25s, opacity 0.25s, bottom 0.25s
  // Prevent repaints
  force-hardware-acceleration()

  &:hover
    border-color #000

  &[data-state='hidden'], &.is-hidden
    top 0 !important
    opacity 0 !important
    border-color transparent !important
    cursor default
    pointer-events none

  &.jump-from-bottom
    bottom 20px
    top auto
    z-index 2
    &[data-state='hidden']
      bottom -100px
      top auto !important