.settings-quasi-infinite
  &__total
    position absolute
    top gutter
    right 0
    garamond-size('s-body')
    color gray-dark-color
    text-transform capitalize

  &__more
    block-margins(gutter)
    text-align center

.settings-section
  &:first-child
    .settings-quasi-infinite__total
      top 0
