.MasonryGrid
  a
    text-decoration none

  &__title
    font-size 20px
    margin-bottom 20px

    // HZ divider line
    &:before
      content ''
      display block
      border-top 1px solid gray-lighter-color
      padding 10px
      margin-top 20px
      width 100%
