@require '../../stylus_lib'
@require '../header/stylesheets/index'
@require '../main_layout/header/stylesheets/small_screen_header'
@require '../main_layout/footer'
@require '../main_layout/embedded'
@require '../main_layout/form_elements'
@require '../../../node_modules/artsy-ezel-components/spinners'
@require '../main_layout/buttons'
@require '../main_layout/headers'
@require '../main_layout/body'
@require '../main_layout/icons'
@require '../main_layout/faux_underline'
@require '../main_layout/navigation'
@require '../main_layout/alerts'
@require '../main_layout/utilities'
@require '../main_layout/error'
@require '../main_layout/typography'
@require '../../main_layout/hover_pulldown'
@require '../../main_layout/notice'

#main-layout-container
  margin-top (content-margin-top + main-header-height + welcome-header-height)

// The 1250px max inner container
.main-layout-container
  max-width default-max-page-width
  margin auto

.responsive-layout-container
  margin 0px 55px
  @media screen and (min-width: 1440px)
    margin 0px 150px
  @media screen and (min-width: 1660px)
    margin 0px 200px
