.consignments2-submission-forgot-password
  &__title
    margin-top 50px
    text-align center
    garamond-size('headline')
    line-height 1.1
    margin-bottom 5px

  &__subtitle
    text-align center
    color gray-dark-color
    margin-bottom 37px

  &__error
    color red-color
    padding-bottom 15px
    text-align center

  &__success
    background-color yellow-light-color
    border 1px solid yellow-color
    margin-bottom 15px
    padding 20px
    text-align center

  &__clickable
    color gray-dark-color
    text-decoration underline
    cursor pointer

  &__row
    padding-bottom 27px

    &_no-padding
      padding-bottom 0px

  &__reset-password-button.avant-garde-button-black
    margin-top 0px
    width 100%
    margin-bottom 10px

  &__reset-password-button[disabled]
    pointer-events none
    background-color white
    color gray-color
    border 1px solid gray-color
