.consignments2-submission-upload-photo-landing
  &__title
    text-align center
    font-size 50px
    margin-bottom 50px

  &__step-form
    max-width 550px
    margin 0 auto

.avant-garde-button-black
  margin-top 40px
  avant-garde-size('s-headline')
  padding-top 12px
  padding-bottom 12px