extends ../../../../components/main_layout/templates/index

block head
  include ../meta

append locals
  - assetPackage = 'auction'

block body
  .auction-page.main-layout-container
    if auction.get('image_versions') && auction.get('image_versions').length
      // 3:1 ratio
      .auction-preview-cover-image.responsive-image-container: img(
        src= auction.cropUrlFor({ width: 1500, height: 500 })
        alt= auction.get('name')
      )

    header.auction-header
      .auction-preview-sidebar
        if user
          if user.get('registered_to_bid')
            .auction-preview-sidebar-label
              | You're registered to bid for this auction.
            .auction-preview-sidebar-text
              br
              | We will send you an email notification when the auction begins.
          else
            .auction-preview-sidebar-label
              | Register to Bid
            .auction-preview-sidebar-text
              | To bid on artworks, please register to bid for the auction. You will be notified when the auction begins.
            .auction-preview-register-button
              a.avant-garde-button-black.is-block.js-register-button(
                href= auction.registerUrl()
              ) Register to bid
        else
          .auction-preview-sidebar-label
            | Opening Soon
          .auction-preview-sidebar-text
            | Receive an email invitation when the auction begins on Artsy
          .auction-preview-sidebar-email

        //- Profile logo here
        .auction-preview-clock.js-auction-clock( data-id= auction.id )
          include ../../../../components/clock/template

      .auction-preview-header-primary
        h1.auction-title
          = auction.get('name')
        .auction-description
          != auction.mdToHtml('description')

        .auction-preview-primary-metadata
          include ../metadata/event
          include ../metadata/contact

    include ../associated_auction

    footer.auction-preview-footer.auction-page-section
      for item in footerItems
        include footer_item
