- var article = highlight

.artwork-highlight__images
  h3.artwork-highlight__images__context
    | Mentioned In

  a.artwork-highlight__images__image( href= article.href )
    img(
      src= article.image.thumb.url
      width= article.image.thumb.width
      height= article.image.thumb.height
      alt= article.title
    )

.artwork-highlight__metadata
  h2.artwork-highlight__metadata__title: a( href= article.href )
    = article.title
  .artwork-highlight__metadata__byline
    = article.author.name
