//
// A library of mixins and variables commonly used throughout stylesheets.
//
// Do NOT put any actual style declarations here. We don't want this to impact
// CSS size.
//

@import '../../node_modules/nib'

default-garamond-font-size          = 16px
light-gray-border-color             = #e5e5e5
dark-gray-border-color              = #ccc
dark-gray-text-color                = #666
light-gray-text-color               = #999
light-gray-background-color         = #efefef
light-gray-background-hover-color   = #dbdbdb
faint-gray-background-hover-color   = #eee
highlight-color                     = #6a0bc1
highlight-underline-color           = #b179d4
highlighter-background-color        = #f9f8d8
placeholder-color                   = #999
bad-red-color                       = #cc3333
bad-red-background-color            = #f4acb2
content-margin-top                  = 20px
home-logo-size                      = 52px
default-max-page-width              = 1400px

avant-garde()
  font-family 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif'
  font-smoothing antialiased
  text-transform uppercase

garamond()
  font-family 'adobe-garamond-pro', 'AGaramondPro-Regular', 'Times New Roman', 'Times', 'serif'
  font-smoothing antialiased

ellipsis()
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

force-hardware-acceleration()
  transform translate3d(0, 0, 0)

// Surprisingly, nib doesn't support calc
calc()
  for prefix in webkit moz ms o
    arguments = unquote(arguments) if typeof(arguments) is string
    add-property(current-property[0], s('-%s-calc(%s)', prefix, arguments))
  s('calc(%s)', arguments)

caret()
  display inline-block
  content ''
  width 0
  height 0
  vertical-align middle
  border-top 8px solid
  border-right 4px solid transparent
  border-left 4px solid transparent
  margin 2px 0 4px 4px

iconfont-styling()
  font-family 'artsy-icons'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  text-decoration none
  line-height 32px
  font-size 32px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
