//
// A library of mixins and variables commonly used throughout stylesheets.
//
// Do NOT put any actual style declarations here. We don't want this to impact
// CSS size.
//

@import '../../node_modules/nib'

default-garamond-font-size          = 16px
light-gray-border-color             = #e5e5e5
dark-gray-text-color                = #666
light-gray-background-color         = #efefef
light-gray-background-hover-color   = #dbdbdb
highlight-color                     = #6a0bc1
highlight-underline-color           = #b179d4
placeholder-color                   = #999
bad-red-color                       = #c73030
bad-red-background-color            = #f4acb2

avant-garde()
  font-family 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif'
  font-smoothing antialiased
  text-transform uppercase

garamond()
  font-family 'adobe-garamond-pro', 'AGaramondPro-Regular', 'Times New Roman', 'Times', 'serif'
  font-smoothing antialiased

ellipsis()
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
