//
// A library of mixins and variables commonly used throughout stylesheets.
//
// Do NOT put any actual style declarations here. We don't want this to impact
// CSS size.
//

@import '../../node_modules/nib'

// Widths
default-avant-garde-font-size   = 14px
default-garamond-font-size      = 16px
large-avant-garde-font-size     = 24px
content-margin-top              = 10px
home-logo-size                  = 52px
body-min-width                  = 950px
default-max-page-width          = 1250px
main-header-height              = 53px
welcome-header-height           = 85px
layout-side-margin              = 55px
golden-ratio-small-percent      = 38%
feed-max-width                  = 1084px
default-modal-padding           = 30px

// Colors
json('colors.json')

// Z-indexes
zindex-deepzoom       = 1000
zindex-iframepopover  = 1050
zindex-flash          = 1060
zindex-modal          = 1070

// Typography
avant-garde()
  font-family 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif'
  font-smoothing antialiased
  text-transform uppercase

garamond()
  font-family 'adobe-garamond-pro', 'AGaramondPro-Regular', 'Times New Roman', 'Times', 'serif'
  font-smoothing antialiased

monospace()
  font-family 'Menlo', 'Monaco', 'Andale Mono', 'lucida console', 'Courier New', 'monospace'
  font-smoothing antialiased

// Utilities
force-hardware-acceleration()
  transform translate3d(0, 0, 0)

prevent-content-shift()
  transform translateZ(0)

// Surprisingly, nib doesn't support calc
calc()
  for prefix in webkit moz ms o
    arguments = unquote(arguments) if typeof(arguments) is string
    add-property(current-property[0], s('-%s-calc(%s)', prefix, arguments))
  s('calc(%s)', arguments)

fadeIn()
  opacity 0
  transition opacity 0.5s
  &.is-fade-in
    opacity 1

caret()
  display inline-block
  content ''
  width 0
  height 0
  vertical-align middle

  border-top 8px solid
  border-right 4px solid transparent
  border-left 4px solid transparent
  margin 2px 0 4px 4px

iconfont-styling()
  font-family 'artsy-icons'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  text-decoration none
  line-height 32px
  font-size 32px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

// Takes a color and returns the RGBA equivalent
//
// transparify(light-grey-text-color, black)
// => rgba(0,0,0,0.4)
transparify(color, basecolor)
  if dark(basecolor)
    rgba(basecolor, unit(lightness(invert(color)), '') * 0.01)
  else
    rgba(basecolor, unit(lightness(color), '') * 0.01)

// Grid mixins used in the grid component mostly, but elsewhere for custom gap sizes
grid-n-up(n, gap)
  > .grid-item
    margin gap gap 0 gap
    &:nth-child(-n+{n})
      margin-top 0
    &:nth-child(1n)
      margin-left 0
    &:nth-child({n}n)
      margin-right 0
    &:last-child
      margin-right 0
  &.is-flush .grid-item
    width (100 / n)%
    margin 0 !important
  @media screen and (max-width: 1024px)
    > .grid-item
      margin (gap / 2) (gap / 2) 0 (gap / 2)

grid-4-up(gap)
  grid-n-up(4, gap)
  offset = gap * 0.75
  > .grid-item
    width 23%
    width calc('25% - %s' % offset)
  @media screen and (max-width: 1024px)
    > .grid-item
      offset = offset / 2
      width 23%
      width calc('25% - %s' % offset)

grid-3-up(offset, gap)
  grid-n-up(3, gap)
  > .grid-item
    width 32%
    width calc('33.33% - %s' % offset)
  @media screen and (max-width: 1024px)
    > .grid-item
      offset = offset / 2
      width calc('33.33% - %s' % offset)

grid-2-up(offset, gap)
  grid-n-up(2, gap)
  > .grid-item
    width 48%
    width calc('50% - %s' % offset)
  @media screen and (max-width: 1024px)
    > .grid-item
      offset = offset / 2
      width calc('50% - %s' % offset)