@import '../../node_modules/artsy-ezel-components/stylus_lib/typography'

// Typefaces
monospace()
  font-family 'Menlo', 'Monaco', 'Andale Mono', 'lucida console', 'Courier New', 'monospace'
  font-smoothing antialiased

// Sizes
json('./type_sizes.json')
large-avant-garde-font-size = 24px // Remove this later

// Styles
small-caps()
  text-transform uppercase
  letter-spacing 1px
