// Load everything as variables
json('./type_sizes.json')
// Load as a hash
sizings = json('./type_sizes.json', { hash: true })

default-avant-garde-font-size = sizings.avant-garde.body.font-size
default-garamond-font-size = sizings.garamond.s-body.font-size

garamond-size(size, mixinFont = false)
  sizing = sizings.garamond[size]
  fs = sizing.font-size
  font-size fs
  lh = sizing.line-height
  line-height lh
  if mixinFont
    garamond()

avant-garde-size(size, mixinFont = true)
  sizing = sizings.avant-garde[size]
  fs = sizing.font-size
  font-size fs
  lh = sizing.line-height
  line-height lh
  if mixinFont
    avant-garde()

monospace()
  font-family 'Menlo', 'Monaco', 'Andale Mono', 'Lucida Console', 'Courier New', 'monospace'
  font-smoothing antialiased

avant-garde()
  font-family 'ITC Avant Garde Gothic W04', 'Times New Roman', 'Times', 'serif'
  font-smoothing antialiased
  text-transform uppercase
  letter-spacing 1px

garamond()
  font-family 'Adobe Garamond W08', 'Helvetica', 'sans-serif'
  font-smoothing antialiased

small-caps()
  text-transform uppercase
  letter-spacing 1px
