@import '../../node_modules/artsy-ezel-components/stylus_lib/typography'

// Typefaces
monospace()
  font-family 'Menlo', 'Monaco', 'Andale Mono', 'lucida console', 'Courier New', 'monospace'
  font-smoothing antialiased

// Sizes
large-avant-garde-font-size = 24px
