@require '../stylus_lib'

.article-figure
  position relative

.article-figure-container
  display table
  width 100%
  a
    text-decoration none

.article-figure-img-container
.article-figure-figcaption
  display table-cell
  vertical-align middle
  height 100%

.article-figure-img-container
  display table-cell
  width golden-ratio-small-percent
  height 100%
.article-figure-img
  background-color gray-lightest-color
  background-size cover
  background-position center center
  // 4:3 ratio
  padding-bottom 75%

.article-figure-figcaption
  width (100% - golden-ratio-small-percent)
  padding-left 30px
  > *
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0

.article-figure-date
.article-figure-title
.article-figure-author
.article-figure-contributing
  display block

.article-figure-date
  garamond-size('s-body')
  color gray-dark-color

.article-figure-title
  margin 10px 0
  garamond-size('headline')

.article-figure-author-section
  margin 10px 0 20px 0

.article-figure-contributing-name
  avant-garde-size('body', true)
  display inline-block

.article-figure-author
  avant-garde-size('body', true)

.article-figure-author.has-contributing-author
  avant-garde-size('s-headline')

.article-figure-share
  .share-to-pinterest
    display none
