
include ../share/mixin

mixin article-figure(article, width, showDate, showShare)
  - var imgUrl = article.cropUrlFor('thumbnail_image', { width: width, height: Math.round(width / 1.5), quality: 95 })
  figure.article-figure: .article-figure-container
    a.article-figure-img-container( href= article.href() )
      .article-figure-img( style="background-image: url(#{imgUrl})" )

    figcaption.article-figure-figcaption
      if showDate
        time.article-figure-date
          = article.date('published_at').format('MMMM Do')

      a.article-figure-title( href= article.href() )
        = article.get('thumbnail_title')

      .article-figure-author-section
        if article.get('contributing_authors').length === 0 || article.get('channel_id') !== sd.ARTSY_EDITORIAL_CHANNEL || sd.CURRENT_PATH !== '/articles'
          .article-figure-author(class = article.get('contributing_authors').length > 0 ? 'has-contributing-author' : '')
            = article.get('author') ? article.get('author').name : ''

        if article.get('contributing_authors').length > 0
          .article-figure-contributing-name= "By " + article.byline()

      if showShare
        .article-figure-share.js-article-figure-share
          +share(
            (article.get('share_description') || article.get('thumbnail_title')),
            article.get('thumbnail_image'),
            (sd && sd.APP_URL) + article.href()
          )
