@import '../../components/stylus_lib'

#profile
  padding 40px 0
  .profile-header
    border-bottom 0

  // Hide/Show things depending on what combination of favorites/posts the user has
  &[data-has=posts], &[data-has=''], &[data-has=favorites]
    .garamond-tablist
      display none
  &[data-has=favorites]
    #profile-favorites-header
      display block
  &[data-has=postsfavorites]
    .garamond-tablist
      opacity 1

  // Hide/Show things depending on what route we're in
  &[data-path]
    #profile-spinner
      display none
  &[data-path*=posts], &:not([data-path*=favorites])[data-has*=posts]
    #profile-feed
      display block
    #profile-tabs a[href*=posts]
      color purple-color
      border-bottom 1px solid purple-light-color
  &[data-path*=favorites]
    #profile-feed
      display none
    #profile-favorites, #profile-favorites-spinner
      display block
    #profile-tabs a[href*=favorites]
      color purple-color
      border-bottom 1px solid purple-light-color
  &:not([data-path*=posts]):not([data-path*=favorites])
    &[data-has=favorites]
      #profile-favorites, #profile-favorites-header, #profile-favorites-spinner
        display block
    &[data-has=posts]
      #profile-feed
        display block
    &[data-has='']
      #profile-feed-none
        display block

#profile-feed, #profile-feed-none, #profile-favorites, #profile-favorites-header,
#profile-favorites-spinner
  display none

#profile-spinner, #profile-favorites-spinner
  position relative
  padding 200px

#profile-feed-none
  text-align center
  padding 30px 0
  font-style italic
  font-size 18px

#profile-favorites-header
  display none
  font-size 28px

#profile-tabs
  text-align center
  font-size 18px
  padding-bottom 20px
  border-bottom 1px solid gray-lighter-color
  .garamond-tablist
    opacity 0

#profile-favorites
  padding layout-side-margin

#user-profile-collection
  position relative
  header
    margin-top 120px
  h1
    font-size 36px
  .contextual-return-link
    position absolute
    left 0

#user-profile-collection-artworks
  margin 100px 0

#user-profile-collection-artworks-spinner
  position relative
  padding 100px 0

#user-profile-right
  float right
  avant-garde()
  position absolute
  top 0
  right 0
  font-size default-avant-garde-font-size