.view-in-room__room( class='js-view-in-room-room' )
  img.view-in-room__placeholder( class='js-view-in-room-placeholder' )
img.view-in-room__artwork( class='js-view-in-room-artwork' )

a.view-in-room__close( class='js-view-in-room-close' )
  i.icon-close
