extends ../../../components/layout/templates/scaffold

block body
  #ask-specialist-page.inquiry-page.main-side-margin
    header.ask-specialist-header
      h1.avant-garde-header Ask a Specialist
    #ask-specialist-form
      include ../components/bid/templates/inquiry_form
