.auction-banner
  height 300px
  position relative
  overflow hidden
  margin-bottom 40px

.auction-banner-live-bg
  background center center gray-lightest-color
  background-size cover
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  &:after
    content ' '
    width 100%
    height 100%
    background rgba(0,0,0,0.4)
    top 0
    left 0
    position absolute

.auction-banner-live-open
  color white
  text-align center
  height 600px
  h1
    garamond-size('headline')
  .avant-garde-button-white
    background-color white
    width 400px
    margin-top 20px
    padding 17px 0
    border 0
    avant-garde-size('l-headline')
  .auction-banner-live-bg
    blur(20px)
    transform scale(1.05)
    &:after
      display none

.auction-banner-live-details
  z-index 2
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
