.email-to-registration-transition
  padding 20px 45px 45px 45px
  text-align center
  garamond-size('l-body')

.email-to-registration-transition-thank-you
  margin 20px
  color #69BD44

.email-to-registration-transition-message
  margin-bottom 50px

.email-to-registration-transition-register
  margin 0 auto 20px
  width 200px

