.auction-footer
  display table
  width 100%
  margin 60px 0
.auction-articles
.auction-app-promo-wrapper
  display table-cell
  width 50%
  height 100%
  vertical-align middle
.auction-articles
  padding-right 20px
  &:empty
    display none
.auction-app-promo-wrapper
  padding-left 20px
  border-left 1px solid gray-lighter-color

.auction-article
  display table
  width 100%
  margin 20px auto
  text-decoration none
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0
.auction-article-image
.auction-article-metadata
  display table-cell
  height 100%
  vertical-align middle
.auction-article-image
  width 150px
  > img
    width 100%
    height auto
.auction-article-metadata
  padding 0 20px
.auction-article-title
  margin 10px 0
  font-size 22px
.auction-article-subtitle
  line-height 1.2

.auction-app-promo
  display table
  width 75%
  margin 0 auto
  text-decoration none
.auction-app-promo-image
.auction-app-promo-metadata
  display table-cell
  height 100%
  vertical-align middle
.auction-app-promo-image
  > img
    max-width 100%
    height auto
.auction-app-promo-metadata
  padding 0 20px
  font-size 28px
  line-height 1.2
.auction-app-promo-subtitle
  font-style italic
