.auction-header
  clearfix()
.auction-header-primary
.auction-header-metadata
  float left

.auction-header-primary
  width 75%
  padding-right 15px
.auction-header-metadata
  width 25%
  padding-left 15px

.auction-cover-image
  // 9:4 ratio
  padding-bottom 44.44%
  margin-bottom 40px

.auction-sub-header
  avant-garde()
  font-size 13px

.auction-title
  padding-right 30px
  font-size 36px
  line-height 1.25

.auction-description
  margin 30px 0
  padding-right 60px
  font-size 22px
  line-height 1.25
  > p
    block-margins(15px)
  a
    fine-faux-underline()

.auction-header-clock > .clock
  text-align left

.auction-header-register-button
  margin 30px 0

.auction-header-metadata-cell
  margin 20px 0
  > h3
    avant-garde()
    font-size 12px
.auction-header-metadata-cell-contents
  > p
    block-margins(10px)
