.auction-header
  clearfix()
.auction-header-primary
.auction-header-metadata
  float left

.auction-header-primary
  width 75%
  padding-right 15px
.auction-header-metadata
  width 25%
  padding-left 15px

.auction-hero-image
  max-width 100%

.auction-title
  margin 30px 0
  padding-right 30px
  font-size 36px
  line-height 1.25
.auction-description
  margin 30px 0
  padding-right 60px
  font-size 22px
  line-height 1.25
  > p
    block-margins(15px)
  a
    fine-faux-underline()

.auction-header-register-button
  margin 30px 0

.auction-header-metadata-cell
  margin 20px 0
  > h3
    avant-garde()
    font-size 12px
