@import '../../../components/stylus_lib'
@import '../../../components/credit_card/stylesheets'
@import '../../../components/stylus_lib'

#main-layout-footer
  display none
#auction-registration-page
  margin-bottom: 100px
  margin-top: 100px
  .registration-form-header
    border-top 1px solid light-gray-border-color
    padding-top 10px
    padding-bottom 10px

  .avant-garde-header-center
    font-size: 24px
    margin-top: 25px
    margin-bottom: 25px

  p.note
    margin-top: 9px
    margin-bottom: 18px

  .registration-form-section
   .register
     margin-top 10px
