@import '../../../components/stylus_lib'
@import './preview'
@import './header'
@import './footer'
@import './associated_sale'
@import './email_to_registration_transition'

.auction-page
  padding 20px 0

.auction-page-section
  block-margins(30px)
  padding 60px 0
  border-top 1px solid gray-lighter-color
.below-auction-artworks > .auction-page-section:first-child
  border-top none
