@require '../../../components/stylus_lib'

.auction-my-active-bids
  h2
    garamond-size('headline')
    padding-bottom 20px
    border-bottom 1px solid gray-lighter-color
  td
    padding 30px 0
    border-bottom 1px solid gray-lighter-color
  table
    width 100%

.auction-mab-artist-artwork-container
  max-width 300px

.auction-mab-artwork-metadata
  > *
    overflow ellipsis

.auction-mab-artist-artwork
  max-width 60%
  h3
    avant-garde-size('l-headline')

.auction-mab-img
  max-width 130px
  max-height @max-width
  margin-right 30px

.auction-mab-title
  garamond-size('l-caption')

.auction-mab-lot-number
  avant-garde-size('body')

.auction-mab-current-bid
  em
    avant-garde-size('m-headline')
    font-style normal

.auction-mab-artist-artwork
.auction-mab-img
  display inline-block
  vertical-align middle

.auction-mab-bid-button, .auction-mab-bid-button-live
  width 100%

td.bid-status-cell
  .bid-status
    position relative
  p
    font-size 15px