@require '../../../components/stylus_lib'

.auction-my-active-bids
  h2
    garamond-size('headline')
    padding-bottom 20px
    border-bottom 1px solid gray-lighter-color
  li
    border-bottom 1px solid gray-lighter-color
    padding 30px 0

.auction-mab-artist-artwork
  h3
    avant-garde-size('l-headline')

.auction-mab-img
  max-width 130px
  max-height @max-width
  margin-right 30px

.auction-mab-title
  garamond-size('l-caption')

.auction-mab-lot-number
  avant-garde-size('body')

.auction-mab-current-bid
  width 130px
  em
    avant-garde-size('m-headline')
    font-style normal

.auction-mab-warning
  &.is-winning p
    color new-green-color
    &::after
      content "\25B2" // ▲ character
  p
    color new-red-color
    position relative
    padding-right 20px
    display inline-block
    avant-garde-size('m-headline')
    &::after
      content "\25BC" // ▼ character
      position absolute
      right 0
      top 2px
      font-size 12px

.auction-my-active-bids li
  display flex

.auction-mab-artist-artwork
.auction-mab-img
  display inline-block
  vertical-align middle

.auction-mab-artist-artwork-container
.auction-mab-lot-number
.auction-mab-current-bid
.auction-mab-warning
.auction-mab-bid-button
.auction-mab-bid-num
  align-self center
  flex-grow 1
