@require '../../../components/stylus_lib'

.auction-my-active-bids
  h2
    garamond-size('headline')
    padding-bottom 20px
    border-bottom 1px solid gray-lighter-color
  td
    padding 30px 0
    border-bottom 1px solid gray-lighter-color
  table
    width 100%

.auction-mab-artist-artwork-container
  max-width 300px

.auction-mab-artist-artwork
  max-width 60%
  h3
    avant-garde-size('l-headline')

.auction-mab-imgR
  max-width 130px
  max-height @max-width
  margin-right 30px

.auction-mab-title
  garamond-size('l-caption')

.auction-mab-lot-number
  avant-garde-size('body')

.auction-mab-current-bid
  em
    avant-garde-size('m-headline')
    font-style normal

.auction-mab-warning
  &.is-winning p
    color new-green-color
  &.is-winning-reserve-not-met p
    color new-yellow-color
  &.is-losing p
    color new-red-color
  p
    color new-red-color
    position relative
    top -7px
    padding-right 20px
    display inline-block
    avant-garde-size('m-headline')
    & i.icon-bid-arrow svg
      height 10px

.auction-mab-artist-artwork
.auction-mab-img
  display inline-block
  vertical-align middle

.auction-mab-bid-button
  width 100%
