.auction-preview-cover-image
  // 3:1 ratio
  padding-bottom 33.33%
  background-size cover
  background-position center center

.auction-preview-header-primary

.auction-preview-primary-metadata
  margin 30px 0 0 0
  > .auction-header-metadata-cell
    display inline-block
    width 33.33%
    margin 0
    padding-right 20px
    vertical-align top

.auction-preview-sidebar
  position relative
  float right
  top -180px
  width 358px
  padding 44px
  margin-right 66px
  background-color white
  border 1px solid #ccc

.auction-preview-sidebar-label
  garamond-size('s-headline')
  margin-bottom 5px

.auction-preview-sidebar-text
  garamond-size('l-body')

.auction-preview-sidebar-email-placeholder
  height 120px

.auction-preview-sidebar-email, .auction-preview-sidebar-email button, .auction-preview-register-button, .auction-preview-register-now
  margin-top 20px

.auction-preview-sidebar-email label
    avant-garde-size('s-headline', true)

.auction-preview-clock
  margin 30px auto
  text-align center

  .clock .clock-header
    text-align center

.auction-preview-clock.is-logged-out
  margin 0 auto 50px

  .clock .clock-header
    font-size 24px
    margin-bottom 20px

  .clock .clock-value
    font-size 22px

.auction-description
  h3 // "Featuring works by"
    margin-bottom 10px
    font-size 13pt
    line-height 17pt
    avant-garde-size('body', true)
    text-transform uppercase

  li // Featured artists list
    display inline-block
    float left
    width 214px

    &:last-child
      margin-bottom 20px

  p // Dodge the featured artists lists, but not the sidebar
    clear left

.auction-preview-registration
  text-align center
  garamond-size('headline')
.auction-preview-registration-button
  width 25%
  margin 40px auto 0

.auction-preview-footer
  display table
  width 100%
  table-layout fixed

.auction-preview-footer-item
  display table-cell
  height 120px
  width (100% / 3)
  vertical-align middle
  text-decoration none
  border-right 1px solid gray-lighter-color
  border-left @border-right
  text-align center
  line-height 0
  &:first-child
    border-left none
  &:last-child
    border-right none

.auction-preview-footer-item-wrap
  display inline-block
  width 75%
  line-height 1.5
  text-decoration none
  text-align left

.auction-preview-footer-item-image
.auction-preview-footer-item-metadata
  display table-cell
  height 100%
  vertical-align middle
.auction-preview-footer-item-image
  width (100% / 3)
  text-align center
  img
    max-width 100%
    max-height 100%
.auction-preview-footer-item-metadata
  padding 0 20px
  garamond-size('l-body')
.auction-preview-footer-item-title
  &.is-large
    garamond-size('headline')
.auction-preview-footer-item-subtitle
  font-style italic
