.auction-preview-clock
  width 25%
  margin 40px auto

.auction-preview-name
  margin 20px auto
  text-align center
  font-size 37px
  line-height 1.4
.auction-preview-description
  margin 20px auto
  width 50%
  font-size 22px
  line-height 1.4
  > p
    block-margins(10px)
    > a
      fine-faux-underline()

.auction-preview-registration
  margin 40px auto
  padding 80px 0
  border-top 1px solid gray-color
  text-align center
  font-size 27px
.auction-preview-registration-button
  width 25%
  margin 40px auto
