@require '../../components/stylus_lib'
@require '../../../lib/palette'

overlapping-border(border-color = getColor('black10'))
  border-top 1px solid border-color
  border-bottom @border-top
  margin-top -1px
  &:first-child
    margin-top 0

chevron()
  position relative
  &::after
    iconfont-styling()
    content '\e607'
    color getColor('black30')
    vertical-align middle
    position absolute
    top 50%
    right 0
    font-size 20px
    transform translateY(-50%)
    transition color 0.125s

chevron-item()
  chevron()
  display block
  text-decoration none

// Variants
// --------

// Small
.small-chevron-list a
  chevron-item()
  overlapping-border()
  padding getSpace(1.5, 0.5)

// Nav
.chevron-nav-list a
  text('text')
  chevron-item()
  overlapping-border()
  padding getSpace(1.5, 0)

  &.is-active
    color getColor('purple100')

// Large
.large-chevron-list a
  chevron-item()
  overlapping-border()
  padding 40px 80px 40px 40px
  &::after
    content '\e61c'
    font-size 40px
    right 10px
  &:hover
    background-color getColor('black5')
    border-color @background-color
    z-index 1
