@require '../../../components/stylus_lib'
@require '../../../../lib/palette'

.auction-ActiveBidItem
  display flex
  justify-content flex-start
  align-items center
  margin-bottom getSpace(1)

  &__artwork-container
    text-align center
    min-width 0

    img
      max-height 100px
      max-width 200px

      +respond-mobile()
        max-width 130px

  &__artwork
    margin-left 20px
    min-width 25%
    max-width 25%
    padding-right 20px

    +respond-mobile()
      display flex
      flex-direction column
      padding-left 16px
      max-width 100%

    > *
      overflow ellipsis

      +respond-mobile()
        overflow: auto

    h3
      text('text')

  +respond-mobile()
    .bid-status
      position relative

  &__title
    text('text')

  &__lot-number
    text('text')

  &__current-bid
  &__bids-num
    text('text')

    +respond-mobile()
      display none

  &__current-bid
    width 20%

  &__bids-num
    width 10%

  &__current-and-bids
    +respond-mobile()
      text('text')
      width 100%

      &::before
        display inline-block
        background-image url(/images/paddle.png)
        background-repeat no-repeat
        background-position center left
        background-size 63%
        padding-right 15px
        height 18px
        content ''
        vertical-align middle

  &__img
    display inline-block
    vertical-align middle

  &__bid-button, &__bid-button-live
    width 13%
    text-align center
    float right

  &__bid-status-cell
    width 17%
    .bid-status
      position relative
      p
        text('text')
