@require '../../../components/stylus_lib'
@require '../../../../lib/palette'

.auction-MyActiveBids
  h2
    text('title')
    padding getSpace(2, 0)
    border-top 1px solid getColor('black10')

    +respond-mobile()
      border-top 0
      padding-top 0
