.cf-sidebar__mediums
  padding-bottom 20px

.cf-mediums__option
  garamond-size('headline', true)
  font-size 25px
  line-height 31px
  cursor pointer
  &:hover
    opacity 0.75
  &[data-has-results='false']
    opacity 0.3
    pointer-events none
  &.is-selected
    color purple-color
