extends ../../../components/fair_layout/templates/conditional

block head
  include meta

append locals
  - assetPackage = 'article'
  - bodyClass = bodyClass + ' ' + article.getBodyClass()

block body
  #articles-show

    //- Article body
    #articles-body-container
      include ../../../components/article/templates/index

    if sd.SCROLL_ARTICLE === "infinite"
      #article-loading: .loading-spinner

  section#articles-footer.main-layout-container
    //- Rendered on client

  include ../../../components/main_layout/templates/json_ld
