extends ../../../components/fair_layout/templates/conditional

block head
  include meta

append locals
  - assetPackage = 'article'
  - bodyClass = bodyClass + ' ' + article.getBodyClass()

block body

  //- Include channel nav to articles in a team channel
  if sd.ARTICLE_CHANNEL.isTeam()
    - var channel = sd.ARTICLE_CHANNEL
    include ../../../components/channel_nav/index

  #articles-show

    //- Article body
    #articles-body-container
      include ../../../components/article/templates/index

    if sd.SCROLL_ARTICLE === "infinite"
      #article-loading: .loading-spinner

  section#articles-footer.main-layout-container
    //- Rendered on client

  include ../../../components/main_layout/templates/json_ld
