extends ../../../components/fair_layout/templates/conditional
include ../../articles/templates/mixin

block head
  include meta

append locals
  - assetPackage = 'article'
  - bodyClass = bodyClass + ' ' + article.getBodyClass()

block body
  #articles-show

    //- Article body
    #articles-body-container
      include ../../../components/article/templates/index

    if sd.SCROLL_ARTICLE === "infinite"
      #article-loading: .loading-spinner

  //- if sd.SCROLL_ARTICLE === "static" && !superArticle
    //- Article footer content
  section#articles-footer
      //- Rendered on the client

      //- if article.get('section_ids').length
      //-   if article.get('section_ids')[0] === sd.GALLERY_INSIGHTS_SECTION_ID
      //-     .articles-insights-show
      //-       include ../../../components/email/templates/gallery_insights_form
      //-   ul#articles-footer-list

      //-     //- for sectionArticle in allSectionArticles.models
      //-     //-   unless article.id === sectionArticle.get('id')
      //-     //-     +article-figure(sectionArticle, 440, false, false)
      //- else
      //-   h1 What to Read Next
      //-   ul#articles-footer-list
      //-     for footerArticle in footerArticles.models
      //-       unless article.id === footerArticle.get('id')
      //-         +article-figure(footerArticle, 440, false, false)

  include ../../../components/main_layout/templates/json_ld
