.consignments2-submission-thank-you
  max-width 1125px
  text-align center
  margin 0 auto

  &__submitted-work
    width 100%
    background-color gray-lightest-color
    height 120px
    display flex
    align-items center

  &__submitted-message
    garamond-size('l-body')
    margin-right 20px

  &__submitted-image img
    max-height 68px
    margin-left 40px
    margin-right 40px

  &__icon-check
    padding-right 10px

  &__title
    garamond-size('xl-headline')
    margin-top 75px
    margin-bottom 60px

  &__next-steps
    max-width 550px
    margin 0 auto
    display flex
    justify-content space-between
    > *
      max-width 290px

  &__step-icon
    height 120px

  &__instructions
    garamond-size('l-body')
    margin-top 22px

  &__personalize-button
    margin-top 145px
    width 60%

  &_mobile
    .consignments2-submission-thank-you__title
      garamond-size('headline')
      margin-top 30px
      margin-bottom 30px

    .consignments2-submission-thank-you__submitted-image img
      margin-left 20px
      margin-right 10px

    .consignments2-submission-thank-you__personalize-button
      width 100%
      margin-top 30px

    .consignments2-submission-thank-you__next-steps
      flex-wrap wrap

      > *
        margin-top 30px
        width 100%
