h1.modal-h1 Send feedback to Artsy
hr
.contact-iph-body
  p
    | Thanks for helping us improve Artsy. You can also email any feedback to
    = ' '
    a.faux-underline( href='mailto:support@artsy.net') support@artsy.net
hr
