.contact-header-top
  h1.modal-h1 Send message to Artsy
.contact-iph-body
  p #{representative.get('name')}, an Artsy Specialist, is available to answer
    |  your questions and help you collect through Artsy.
.contact-iph-icon: img(
  src= representative.iconImageUrl()
  alt= representative.get('name')
  width='60', height='60'
)
hr
