- title = article.title || ''
- description = article.description || ''

title= title
meta( property='og:title', content= title )
meta( name='description', content= description )
meta( property='og:description', content= description )
meta( property='twitter:description', content= description )

meta( property='og:type', content='website' )
meta( property='twitter:card', content='summary' )
meta( name='fragment', content='!' )

//- Unica Font
link( rel='stylesheet' href='https://d1s2w0upia4e9w.cloudfront.net/fonts/unica-stylesheet.css' type='text/css')
