title Editorial | Artsy
- var description = 'Artsy\'s editorial content unpacks the art world through on-the-ground coverage, studio visits, market news, original films, and art-historical explainers.'
meta( property="og:title", content="Editorial | Artsy" )
meta( name="description", content= description )
meta( property="og:description", content= description )
meta( property="twitter:description", content= description )
link( rel="canonical", href="#{sd.APP_URL}/articles" )
meta( property="og:url", content="#{sd.APP_URL}/articles" )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
link( rel="alternate", type='application/rss+xml' href="#{sd.APP_URL}/rss/news", title='Artsy News' )