version: 2.1

orbs:
  yarn: artsy/yarn@0.2.0

jobs:
  acceptance:
    docker:
      - image: circleci/node:10-stretch-browsers
    steps:
      - yarn/setup
      - run:
          name: Acceptance Tests
          command: yarn acceptance src/test/acceptance/*.js

  validate_production_schema:
    docker:
      - image: circleci/node:10-stretch-browsers
    steps:
      - yarn/setup
      - run:
          name: Validate Production Schema
          command: node scripts/validateSchemas.js production

  build:
    docker:
      - image: circleci/node:10-stretch-browsers
    steps:
      - yarn/setup
      - run:
          name: Build force assets
          command: yarn assets
      - store_artifacts:
          path: ~/project/.artifacts
      - run:
          name: Duplicates Report
          command: curl "https://artsy-dupe-report.now.sh/packages/dupe-report/now.js?owner=artsy&repo=force&buildNum=$CIRCLE_BUILD_NUM"
      - run:
          name: Verify bundle sizes
          command: npx bundlesize

  danger:
    docker:
      - image: circleci/node:10.13
    steps:
      - yarn/setup
      - run:
          name: Danger
          command: DANGER_GITHUB_API_TOKEN="15e52de81a772b174cc5""e1813d0083564c69c325" yarn danger ci

  test:
    docker:
      - image: circleci/node:10.13
    parallelism: 2
    steps:
      - yarn/setup
      - run:
          name: Test
          command: COMMIT_HASH_FULL=$(git rev-parse HEAD) CODECOV_TOKEN=$CODECOV_TOKEN BRANCH_NAME=$CIRCLE_BRANCH yarn test

  push_staging_image: &push_image
    docker:
      - image: artsy/hokusai:0.5
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - run:
          name: Push
          command: |
            hokusai registry push --tag $CIRCLE_SHA1 --force --overwrite
  push_production_image: *push_image

  deploy_hokusai_staging:
    docker:
      - image: artsy/hokusai:0.5
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Configure
          command: hokusai configure --kubectl-version 1.6.3 --s3-bucket artsy-citadel --s3-key k8s/config --platform linux
      - run:
          name: Update staging branch
          command: git push git@github.com:artsy/force.git $CIRCLE_SHA1:staging --force
      - run:
          name: Deploy
          command: hokusai staging deploy $CIRCLE_SHA1

  deploy_hokusai_production:
    docker:
      - image: artsy/hokusai:0.5
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Configure
          command: hokusai configure --kubectl-version 1.6.3 --s3-bucket artsy-citadel --s3-key k8s/config --platform linux
      - run:
          name: Deploy
          command: hokusai production deploy $CIRCLE_SHA1 --git-remote origin

not_staging_or_release: &not_staging_or_release
  filters:
    branches:
      ignore:
        - staging
        - release

only_master: &only_master
  context: hokusai
  filters:
    branches:
      only: master

only_release: &only_release
  context: hokusai
  filters:
    branches:
      only: release

workflows:
  default:
    jobs:
      # Pre-staging
      - yarn/update-cache:
          <<: *not_staging_or_release
      - test:
          <<: *not_staging_or_release
      - acceptance:
          <<: *not_staging_or_release
      # Nothing actually relies on this at the moment
      - build:
          <<: *not_staging_or_release
          context: bundlesizes
      - danger:
          <<: *not_staging_or_release

      # Staging
      - push_staging_image:
          <<: *only_master
          requires:
            - test
            - acceptance
            - build
      - deploy_hokusai_staging:
          <<: *only_master
          requires:
            - push_staging_image

      # Release
      - validate_production_schema:
          <<: *only_release
      - push_production_image:
          <<: *only_release
          requires:
            - validate_production_schema
      - deploy_hokusai_production:
          <<: *only_release
          requires:
            - push_production_image
