version: 2.1

orbs:
  artsy-remote-docker: artsy/remote-docker@0.1.14
  aws-s3: circleci/aws-s3@2.0.0
  hokusai: artsy/hokusai@0.10.0
  horizon: artsy/release@0.0.1
  node: artsy/node@2.0.0
  slack: circleci/slack@4.8.3
  yarn: artsy/yarn@6.1.0

jobs:
  run_deepcrawl_automator:
    docker:
      - image: cimg/base:2021.12
    environment:
      AUTOMATOR_START_ONLY: true
    steps:
      - run:
          name: Download automator script
          command: curl https://raw.githubusercontent.com/deepcrawl/automator-sdk/master/ci.sh --output automator.sh
      - run:
          name: Start automator crawl
          command: chmod +x automator.sh && ./automator.sh

  validate_production_schema:
    executor: node/build
    steps:
      - yarn/setup
      - run:
          name: Validate Production Schema
          command: node scripts/validateSchemas.js production
      - slack/notify:
          event: fail
          custom: |
            {
              "blocks": [
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "plain_text",
                      "text": "Local MP schema is not compatible with MP production. Force was deployed to staging but will not be deployable to production."
                    }
                  ]
                }
              ]
            }

  create_or_update_review_app:
    executor: hokusai/deploy
    parameters:
      artsy_docker_host:
        type: string
        default: docker.artsy.net
      artsy_docker_port:
        type: integer
        default: 2376
      artsy_s3_path_root:
        type: string
        default: artsy-citadel/docker
    steps:
      - hokusai/setup
      - artsy-remote-docker/setup-artsy-remote-docker:
          artsy_docker_host: << parameters.artsy_docker_host >>
          artsy_docker_port: << parameters.artsy_docker_port >>
          artsy_s3_path_root: << parameters.artsy_s3_path_root >>
      - hokusai/install-aws-iam-authenticator
      - hokusai/configure-hokusai
      - run:
          name: Install jq
          command: curl -L https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64 > /usr/local/bin/jq
      - run:
          name: Make jq executable
          command: chmod u+x /usr/local/bin/jq
      - run:
          name: "Create or update review app"
          command: |
            review_app_name=$(echo $CIRCLE_BRANCH | sed 's/review-app-//')
            kubectl config use-context staging
            if $(kubectl get namespace | grep -qi $review_app_name); then
              ./scripts/update_review_app.sh $review_app_name
            else
              ./scripts/build_review_app.sh $review_app_name
            fi

  mocha:
    docker:
      - image: 585031190124.dkr.ecr.us-east-1.amazonaws.com/force:$CIRCLE_SHA1-builder
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
    working_directory: /app
    environment:
      - NODE_ENV: test
    steps:
      - run: yarn test:ci:mocha

  jest-legacy:
    docker:
      - image: 585031190124.dkr.ecr.us-east-1.amazonaws.com/force:$CIRCLE_SHA1-builder
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
    working_directory: /app
    environment:
      - JEST_JUNIT_OUTPUT: reports/junit/js-test-results.xml
    steps:
      - run: yarn test:ci:jest:legacy

  jest-v2:
    docker:
      - image: 585031190124.dkr.ecr.us-east-1.amazonaws.com/force:$CIRCLE_SHA1-builder
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
    working_directory: /app
    environment:
      - JEST_JUNIT_OUTPUT: reports/junit/js-test-results.xml
    steps:
      - run: yarn test:ci:jest:v2

  type-check:
    docker:
      - image: 585031190124.dkr.ecr.us-east-1.amazonaws.com/force:$CIRCLE_SHA1-builder
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
    working_directory: /app
    environment:
      - NODE_ENV: test
    steps:
      - run: yarn type-check

  check-pr:
    docker:
      - image: 585031190124.dkr.ecr.us-east-1.amazonaws.com/force:$CIRCLE_SHA1-builder
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
    working_directory: /app
    steps:
      - run: node scripts/strictness-migration.js check-pr
      - run:
          name: Danger
          command: yarn danger ci --verbose
      - run:
          name: Prevent Strictness Regressions
          command: node scripts/strictness-migration.js check-pr

  relay-check:
    docker:
      - image: 585031190124.dkr.ecr.us-east-1.amazonaws.com/force:$CIRCLE_SHA1-builder
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
    working_directory: /app
    steps:
      - run: yarn relay

  acceptance:
    docker:
      - image: 585031190124.dkr.ecr.us-east-1.amazonaws.com/force:$CIRCLE_SHA1-electron-runner
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
    working_directory: /app
    steps:
      - run: /app/scripts/xvfb-run.sh /usr/local/bin/yarn test:smoke
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots

  upload-docs:
    docker:
      - image: "cimg/python:3.10"
    steps:
      - aws-s3/sync:
          arguments: --acl public-read
          from: storybook-static
          to: "s3://artsy-static-sites/artsy-force-storybook"

  detect-secrets:
    docker:
      - image: lirantal/detect-secrets
    working_directory: /usr/src/app
    steps:
      - run: apt-get update && apt-get install -y openssh-client
      - checkout
      - run: |
          cp .secrets.baseline /tmp/.secrets.baseline
          set +e && set +o pipefail
          detect-secrets-hook --baseline .secrets.baseline $(git ls-files)
          code=$?
          if [[ $code -ne 3 ]]; then
            exit $code
          else
            lines=$(diff -y --suppress-common-lines .secrets.baseline /tmp/.secrets.baseline | wc -l)
            [ $lines -eq 1 ] && git restore .secrets.baseline && exit 0
            cat \<<EOF
            Changes to baseline results need to be committed.

            If seeing this message in CI you may have ran your commit using --no-verify, thereby skipping the detect-secrets git-hook.

            To fix, run:
              git reset --soft HEAD^
              yarn detect-secrets
          EOF
            exit $code
          fi

  smoke-test-on-live-env:
    docker:
      - image: cypress/base:16.14.0
        environment:
          TERM: xterm
    working_directory: ~/app
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: yarn install
      - run:
          name: Run Smoke Tests on Staging
          command: ./node_modules/.bin/cypress run --config baseUrl=$SMOKE_TEST_TARGET
      - store_artifacts:
          path: cypress/screenshots

not_main_or_staging_or_release: &not_main_or_staging_or_release
  filters:
    branches:
      ignore:
        - main
        - staging
        - release

not_staging_or_release: &not_staging_or_release
  filters:
    branches:
      ignore:
        - staging
        - release

only_main: &only_main
  context: hokusai
  filters:
    branches:
      only: main

only_release: &only_release
  context: hokusai
  filters:
    branches:
      only: release

workflows:
  default:
    jobs:
      - detect-secrets:
          <<: *not_main_or_staging_or_release

      # Main build
      - artsy-remote-docker/buildkit-build:
          <<: *not_staging_or_release
          context: hokusai
          name: builder-image-build
          pre-steps:
            - run:
                command: echo 'export BUILD_TARGET="builder";' >> $BASH_ENV

      - artsy-remote-docker/buildkit-push:
          <<: *not_staging_or_release
          context: hokusai
          name: builder-image-push
          requires:
            - builder-image-build
          pre-steps:
            - run:
                command: echo 'export BUILD_TARGET="builder";' >> $BASH_ENV

      # Electron Runner build
      - artsy-remote-docker/buildkit-build:
          <<: *not_staging_or_release
          context: hokusai
          name: electron-runner-image-build
          requires:
            - builder-image-build
          pre-steps:
            - run:
                command: echo 'export BUILD_TARGET="electron-runner";' >> $BASH_ENV

      - artsy-remote-docker/buildkit-push:
          <<: *not_staging_or_release
          context: hokusai
          name: electron-runner-image-push
          requires:
            - electron-runner-image-build
          pre-steps:
            - run:
                command: echo 'export BUILD_TARGET="electron-runner";' >> $BASH_ENV

      # Test steps
      - mocha:
          <<: *not_staging_or_release
          context: hokusai
          requires:
            - builder-image-push

      - jest-legacy:
          <<: *not_staging_or_release
          context: hokusai
          requires:
            - builder-image-push

      - jest-v2:
          <<: *not_staging_or_release
          context: hokusai
          requires:
            - builder-image-push

      - type-check:
          <<: *not_staging_or_release
          context: hokusai
          requires:
            - builder-image-push

      - check-pr:
          <<: *not_staging_or_release
          context: hokusai
          requires:
            - builder-image-push

      - relay-check:
          <<: *not_staging_or_release
          context: hokusai
          requires:
            - builder-image-push

      - acceptance:
          <<: *not_staging_or_release
          context: hokusai
          requires:
            - electron-runner-image-push

      # Staging
      - artsy-remote-docker/buildkit-build:
          <<: *only_main
          context: hokusai
          name: production-image-build
          requires:
            - builder-image-build

      - artsy-remote-docker/buildkit-push:
          <<: *only_main
          context: hokusai
          name: production-image-push
          requires:
            - mocha
            - jest-legacy
            - jest-v2
            - type-check
            - relay-check
            - acceptance
            - production-image-build

      - hokusai/deploy-staging:
          <<: *only_main
          name: deploy-staging
          project-name: force
          requires:
            - production-image-push
          post-steps:
            - slack/notify:
                event: fail
                custom: |
                  {
                    "blocks": [
                      {
                        "type": "section",
                        "fields": [
                          {
                            "type": "plain_text",
                            "text": "Force staging deploy has failed!"
                          }
                        ]
                      }
                    ]
                  }

      # Release
      - horizon/block:
          context: horizon
          project_id: 11
          filters:
            branches:
              only:
                - release

      - smoke-test-on-live-env:
          filters:
            branches:
              only:
                - staging

      - validate_production_schema:
          <<: *only_release

      # Production
      - hokusai/deploy-production:
          <<: *only_release
          name: deploy-production
          requires:
            - horizon/block
            - validate_production_schema
          post-steps:
            - slack/notify:
                event: fail
                channel: "practice-web"
                template: basic_fail_1

      # Other
      - run_deepcrawl_automator:
          context: deepcrawl-automator
          requires:
            - deploy-production

      - create_or_update_review_app:
          context: hokusai
          filters:
            branches:
              only: /^review-app-.*/
          pre-steps:
            - run:
                command: echo 'export DOCKER_BUILDKIT=1; export BUILDKIT_PROGRESS=plain; export COMPOSE_DOCKER_CLI_BUILD=1;' >> $BASH_ENV

      # Docs / Storybooks
      - yarn/run:
          <<: *only_main
          name: build-docs
          script: "build-storybook"
          post-steps:
            - persist_to_workspace:
                root: .
                paths:
                  - storybook-static
      - upload-docs:
          <<: *only_main
          context: static-sites-uploader
          requires:
            - build-docs
          pre-steps:
            - attach_workspace:
                at: .
