version: 2.0
jobs:
  acceptance:
    docker:
      - image: circleci/node:8-stretch-browsers
    parallelism: 1
    steps:
      - add_ssh_keys
      - checkout
      - run:
          name: Acceptance Tests
          command: "yarn install && yarn acceptance src/test/acceptance/*.js"
  test:
    docker:
      - image: artsy/hokusai:0.4.0
    parallelism: 4
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - run:
          name: Test
          command: "hokusai test"
  build:
    docker:
      - image: artsy/hokusai:0.4.0
    steps:
      - run:
          name: "OK"
          command: "echo All Tests Pass!"
  push:
    docker:
      - image: artsy/hokusai:0.4.0
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - run:
          name: Push
          command: hokusai registry push --tag $CIRCLE_SHA1 --force --overwrite
  deploy_hokusai:
    docker:
      - image: artsy/hokusai:0.4.0
    steps:
      - add_ssh_keys
      - checkout
      - run:
          name: Configure
          command: hokusai configure --kubectl-version 1.6.3 --s3-bucket artsy-citadel --s3-key k8s/config --platform linux
      - run:
          name: Deploy
          command: hokusai staging deploy $CIRCLE_SHA1
  deploy_heroku:
    docker:
      - image: circleci/node:8-stretch-browsers
    steps:
      - add_ssh_keys:
          fingerprints:
            - "1b:84:4f:fe:ad:ef:fc:d1:80:fb:be:ec:0c:03:36:73"
      - checkout
      - run: bash .circleci/heroku_setup.sh
      - run:
          name: Deploy
          command: bash .circleci/heroku_deploy.sh
        

workflows:
  version: 2
  default:
    jobs:
      - test
      - acceptance
      - build:
          requires:
            - test
            - acceptance
      - push:
          filters:
            branches:
              only: master
          requires:
            - build
      - deploy_hokusai:
          filters:
            branches:
              only: master
          requires:
            - push
      - deploy_heroku:
          filters:
            branches:
              only: master
          requires:
            - push
