version: 2.0
jobs:
  acceptance:
    docker:
      - image: circleci/node:8-stretch-browsers
    parallelism: 1
    steps:
      - add_ssh_keys
      - checkout
      - run:
          name: Acceptance Tests
          command: 'yarn install && yarn acceptance src/test/acceptance/*.js'
  test:
    docker:
      - image: artsy/hokusai:0.4.5
    parallelism: 4
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - run:
          name: Test
          command: |
            export commit_hash=`git rev-parse --short HEAD` && echo $commit_hash
            hokusai test
  build:
    docker:
      - image: artsy/hokusai:0.4.5
    steps:
      - run:
          name: 'OK'
          command: 'echo All Tests Pass!'
  push:
    docker:
      - image: artsy/hokusai:0.4.5
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - run:
          name: Push
          command: |
            export commit_hash=`git rev-parse --short HEAD` && echo $commit_hash
            hokusai registry push --tag $CIRCLE_SHA1 --force --overwrite
  publish_staging_assets:
    docker:
      - image: circleci/node:8-stretch-browsers
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - run: yarn install && DEPLOY_ENV=staging yarn publish_assets
      - run: mkdir -p workspace
      - run: cp manifest.json workspace/manifest.json
      - persist_to_workspace:
          root: workspace
          paths:
            - manifest.json
  publish_release_assets:
    docker:
      - image: circleci/node:8-stretch-browsers
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - run: yarn install && DEPLOY_ENV=production yarn publish_assets
      - run: mkdir -p workspace
      - run: cp manifest.json workspace/manifest.json
      - persist_to_workspace:
          root: workspace
          paths:
            - manifest.json
  deploy_hokusai_staging:
    docker:
      - image: artsy/hokusai:0.4.5
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Configure
          command: hokusai configure --kubectl-version 1.6.3 --s3-bucket artsy-citadel --s3-key k8s/config --platform linux
      - run:
          name: Echo Manifest
          command: cat /tmp/workspace/manifest.json
      - run:
          name: Asset Manifest
          command: hokusai staging env set ASSET_MANIFEST=$(cat /tmp/workspace/manifest.json)
      - run:
          name: Update staging branch
          command: git push git@github.com:artsy/force.git $CIRCLE_SHA1:staging --force
      - run:
          name: Deploy
          command: hokusai staging deploy $CIRCLE_SHA1
  deploy_hokusai_production:
    docker:
      - image: artsy/hokusai:0.4.5
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Echo Manifest
          command: cat /tmp/workspace/manifest.json
      - run:
          name: Configure
          command: hokusai configure --kubectl-version 1.6.3 --s3-bucket artsy-citadel --s3-key k8s/config --platform linux
      - run:
          name: Asset Manifest
          command: hokusai production env set ASSET_MANIFEST=$(cat /tmp/workspace/manifest.json)
      - run:
          name: Deploy
          command: hokusai production deploy $CIRCLE_SHA1 --git-remote origin

workflows:
  version: 2
  default:
    jobs:
      - test:
          filters:
            branches:
              ignore: staging
      - acceptance:
          filters:
            branches:
              ignore: staging
      - build:
          filters:
            branches:
              ignore: staging
          requires:
            - test
            - acceptance
      - push:
          filters:
            branches:
              only:
                - master
                - release
          requires:
            - build
      - publish_staging_assets:
          filters:
            branches:
              only: master
          requires:
            - build
      - publish_release_assets:
          filters:
            branches:
              only: release
          requires:
            - build
      - deploy_hokusai_staging:
          filters:
            branches:
              only: master
          requires:
            - push
            - publish_staging_assets
      - deploy_hokusai_production:
          filters:
            branches:
              only: release
          requires:
            - push
            - publish_release_assets
