#artists-page-artists
  padding-bottom 10px

.artists-page-header
  font-size 18px
  padding 40px 0

.artists-page-nav-item-label
    display inline-block
    margin-left 18px
    margin-top 25px
    vertical-align middle
    width calc(67% - 28px)

.artists-nav-item-nav-image
    background-size cover
    background-position center center
    background-repeat no-repeat
    display inline-block
    vertical-align top
    height 80px
    width 80px

.artists-chevron-nav-list
  a
    &:last-child
      border-bottom none
