- var isWithDate = item.day && item.month && item.year

a.press-item( href= item.href target= '_blank' )
  .press-item__subtitle-date
    if item.subtitle
      h4.press-item__subtitle
        = item.subtitle
    if item.subtitle && isWithDate
      .press-item__date
        = ' - '
        = moment([item.day, item.month, item.year].join('/'), 'D/MMMM/YYYY').format('MMMM D, YYYY')

  if item.title
    h3.press-item__title
      = item.title

  if item.author
    .press-item__metadata
      if item.author
        = item.author

  if item.description
    p.press-item__description
      = item.description
