h1.fm-garamind-headline
  | Thanks for your interest in Artsy.
  br
  | How may we help you?

nav.small-chevron-list.fm-multiple-choice
  a( data-answer='auction' )
    | I have an auction-related question.
  a( data-answer='artist' )
    | I’m an artist interested in listing my work.
  a( data-answer='collector' )
    | I’m an individual interested in selling artwork.
  a( data-answer='press' )
    | I have a press inquiry.
  a( data-answer='feedback' )
    | I have another question.
