h3.fm-avant-garde-headline
  | Communications Team

p
  | For questions about press contact:
  = ' '
  a( href='mailto:press@artsy.net' )
    | press@artsy.net

h3.fm-avant-garde-headline
  | Editorial

p
  | For pitches and story ideas contact:
  = ' '
  a( href='mailto:storyideas@artsy.net' )
    | storyideas@artsy.net
