extends ../../../components/layout/templates/main
include ../../../components/filter/dropdown_mixin.jade

block head
  title Browse | Artsy

block content
  #browse-page-content
    h1.browse-artworks-header.avant-garde-header-center Browse
    #browse-page-content--inner.artwork-filter-content
