//- Auction
if feature && sale && sale.get('is_auction')
  a( href= feature.href() )
    p
      | Work offered by
      br
      = feature.get('name')
    .avant-garde-jump-link
      | Go to auction

//- Auction promo
if sale && sale.isAuctionPromo()
  a( href= sale.href() )
    p
      | Work offered by
      = ' '
      if sale.has('profile')
        = sale.related().profile.displayName()
      else
        = sale.get('name')

    if sale.has('profile')
      p: img( src= sale.related().profile.iconImageUrl() )
    else
      .avant-garde-jump-link
        | Go to sale

//- Sale
if feature && sale && !sale.get('is_auction')
  a( href= feature.href() )
    p
      | Work offered by
      br
      = feature.get('name')
    .avant-garde-jump-link
      | Go to sale

//- Fair
if fair && fair.get('has_full_feature') && fair.get('published')
  a( href= fair.href() )
    p
      | Work offered by
      br
      = fair.get('name')
    .avant-garde-jump-link
      | Go to fair
