extends ../../../components/main_layout/templates/blank

block head
  include meta/team_channel

append locals
  - assetPackage = 'articles'
  - bodyClass = bodyClass + ' body-responsive'


block body

  include ../../../components/channel_nav/index

  .team-channel-body
    //- Header
    .team-channel-header(style="background-image:url(#{channel.get('image_url')})")
      .team-channel-header__overlay
      .responsive-layout-container
        .team-channel-header__text-container
          .team-channel-header__name= channel.get('name')
          .team-channel-header__tagline= channel.get('tagline')

    .responsive-layout-container
      //- Featured
      if pinnedArticles.length + parselyArticles.length > 0
        .team-channel-featured
          .team-channel-featured__header Featured
          .mgr-cells.js-mgr-cells.team-channel-featured__articles
            - width = 800
            //- Pinned Articles
            for article in pinnedArticles.models
              .mgr-cell.js-mgr-cell.team-channel-featured__item
                include ../../../components/article_figure/template
            //- Parsely Articles
            for article in parselyArticles
              .mgr-cell.js-mgr-cell.team-channel-featured__item
                include ../../../components/article_figure/parsely_figure
          - length = 6
          nav.mgr-navigation.js-mgr-navigation
            include ../../../components/merry_go_round/templates/horizontal_navigation

      //- Grid
      .team-channel-grid
        //- Rendered on Client
  .team-channel-footer
    include ../../../components/main_layout/footer/template
