.venice-redirect-banner
	a(href='/venice-biennale').venice-redirect-banner__title
		h2 Explore our 360° coverage of the 2017 Venice Biennale
	a(href='/venice-biennale').venice-redirect-banner__sub-title
		| Watch Now
	a.icon-close(href='#')