@require '../../../components/stylus_lib'

.contact-page
  padding 60px 0 120px 0

.contact-section
  clearfix()
  block-margins(60px)
  > .contact-section-cell
    &:first-child
      width 33.33%
    &:last-child
      width 66.66%

.contact-section-cell
  float left
  > header
    garamond-size('l-headline')
  > p
    garamond-size('l-body')

.contact-sub-sections
  display flex
  flex-direction row
  flex-wrap wrap
.contact-sub-section
  width 50%
  margin-bottom 60px
  padding-right 20px

.css-title
  avant-garde-size('m-headline')
  margin-bottom 10px
.css-description
  garamond-size('l-body')
  a
    fine-faux-underline()

.contact-staff-sections
  @extends .contact-sub-sections
.contact-staff-section
  @extends .contact-sub-section
  width 33.33%
