.consignments-submission-checkbox-input
  &__label
    avant-garde-size('s-headline')
    margin-left 10px

  &__wrapper_error
    .artsy-checkbox--checkbox
      background red-color
    .consignments-submission-checkbox-input__label
      span, a
        color red-color

  &__error
    garamond-size('l-caption')
    color red-color
    padding-top 5px
