extends ../../../components/main_layout/templates/index
include ../../../components/util/activator

append locals
  - assetPackage = 'misc'

block body
  .press-page.responsive-layout-container: .main-layout-container
    header.press-header
      h1.press-header__headline
        | Artsy Press
      .press-header__contact
        | Contact:
        = ' '
        a( href='press@artsy.net' )
          | press@artsy.net

    nav.press-tablist.garamond-tablist
      a.garamond-tab( href='/press/in-the-media', class= activeClass('/press/in-the-media') )
        | Artsy in the Media
      span.garamond-tab-separator
      a.garamond-tab( href='/press/press-releases', class= activeClass('/press/press-releases') )
        | News &amp; Press Releases

    block content
