span.partner-buttons-show-buttons( data-id=show.get('id') )
  button.avant-garde-button-white.follow-button(
    data-id=show.get('partner').id,
    class=show.partner().followButtonClass()
  )
  button.avant-garde-button-white.partner-buttons-contact Contact Gallery