.noUi-background
  background #e5e5e5
  box-shadow none

.noUi-horizontal
  height 5px

.noUi-origin
  border-radius 0px

.noUi-target
  border none

.noUi-horizontal .noUi-handle
  width 16px
  height 16px
  border-radius 15px
  left -7px
  box-shadow none
  border 1px solid #ccc
  cursor pointer

// .noUi-horizontal .noUi-handle.noUi-handle-upper
//   left -15px

.noUi-connect
  background gray-dark-color

.noUi-horizontal:hover .noUi-connect
  background purple-color

.noUi-handle:before, .noUi-handle:after
  display none
