.attribution-class-container
  .attribution-class-content
    .attribution-class-header
      h1
        | Artwork classifications
      h2
        | Our partners are responsible for providing accurate classification information for all works.
    .attribution-class-list
      .attribution-class-row
        .attribution-class-name
          | Unique
        .attribution-class-description
          | One of a kind piece, created by the artist.
      .attribution-class-row
        .attribution-class-name
          | Limited edition
        .attribution-class-description
          | Original works created in multiple with direct involvement of the artist.
          | Generally, editions are smaller than 150 pieces total.
      .attribution-class-row
        .attribution-class-name
          | Made-to-order
        .attribution-class-description
          |A piece that is made-to-order, taking into account the collector’s preferences.
      .attribution-class-row
        .attribution-class-name
          | Reproduction
        .attribution-class-description
          | Reproduction of an original work authorized by artist’s studio or estate.
          | The artist was not directly involved in production.
      .attribution-class-row
        .attribution-class-name
          | Editioned multiple
        .attribution-class-description
          | Pieces created in larger limited editions, authorized by the artist’s studio or estate.
          | Not produced with direct involvement of the artist.
      .attribution-class-row
        .attribution-class-name
          | Non-editioned multiple
        .attribution-class-description
          | Works made in unlimited or unknown numbers of copies, authorized by the artist’s studio or estate.
          | Not produced with direct involvement of the artist.
      .attribution-class-row
        .attribution-class-name
          | Ephemera
        .attribution-class-description
          | Peripheral artifacts related to the artist.
          | Exhibition materials, memorabilia, photos of the artist, autographs, etc.

    button.attribution-class-close-btn.avant-garde-button-black.is-block.js-modalize-close
      | Ok
