@require '../../../components/merry_go_round'

.fcc-carousel
  position relative
  a
    text-decoration none
  &:hover
    .mgr-arrow-left
    .mgr-arrow-right
      opacity 0.5

  .mgr-cell
    width calc('(100% - 40px) / 3')
    margin-right 20px
    padding 0
    img
      width 100%

  .mgr-arrow-left
  .mgr-arrow-right
    position absolute
    top 110px
    border none
    opacity 0
    transition opacity 0.25s
    &:hover
      opacity 1

  .mgr-arrow-left
    left -55px
  .mgr-arrow-right
    right -55px

  .fcc-carousel-image
    margin-bottom 10px

  .fcc-carousel-caption-title
  .fcc-carousel-caption-subtitle
  .fcc-carousel-caption-dates
    display block
    white-space normal

  .fcc-carousel-caption-title
    garamond-size('l-body')
    + .fcc-carousel-caption-subtitle
      margin-top 10px
    + .fcc-carousel-caption-dates
      margin-top 5px

  .fcc-carousel-caption-subtitle
    avant-garde-size('s-headline')
    + .fcc-carousel-caption-title
      margin-top 10px

  .fcc-carousel-caption-dates
    garamond-size('s-body')
