- var partnerShows = collection
- var width = 403
- var height = 269

.fcc-carousel.partner2-shows-carousel

  if displayNav
    a.mgr-arrow-left.icon-chevron-left.js-mgr-prev
    a.mgr-arrow-right.icon-chevron-right.js-mgr-next

  .mgr-cells.js-mgr-cells
      for show in partnerShows.models
        .mgr-cell.js-mgr-cell
          a( href= show.href() )
            img.fcc-carousel-image(
              src= show.cropUrlFor({ width: width, height: height })
              alt= show.get('name')
            )
          a.fcc-carousel-caption-subtitle( href= show.related().partner.href() )
            = show.related().partner.get('name')
          a.fcc-carousel-caption-title( href= show.href() )
            em= show.get('name')
          .fcc-carousel-caption-dates= show.runningDates()
