.article-video-container
  if video.cover_image_url
    .article-video-cover-image(
      style=("background-image: url(#{crop(video.cover_image_url, { width: 700, height: 400 })})")
    )
      button.article-video-play-button
        .article-video-play-button-caret
  .article-section.article-section-video
    != embed(video.url, videoOptions)
