.auction2-ArtworkBrowser
  display flex
  clear both
  margin-top 20px
  border-top 1px solid gray-lighter-color

  +respond-mobile()
    min-width 0
    margin-top 15px

  &__container
    width 100%

  &__right
    padding-left 30px
