@require './components/buyers_premium'
@require './components/confirm_bid'

.artwork-auction
  padding (gutter / 2) 0

  &__estimate
  &__bid-status
  &__bid-form
  &__buyers-premium
  &__help
    block-margins(distance(gutter / 2, 'garamond-s-body'))

  .bid-status
    p
      font-size 11px
    &__increase-bid
      display: block

  &__bid-status
    position relative
    serif('l-caption')
    padding distance(gutter / 2) 0
    border-top 1px solid gray-lighter-color
    border-bottom @border-top

    &__bid
      sans('s-headline')
      margin-bottom 5px

    &__closed
      serif('s-body')

    &__amount
      serif('l-body')
      position absolute
      right 0
      top 10px

    &__count
      color gray-dark-color

  &__bid-form
    &__errors
      serif('l-caption')
      margin distance(gutter / 2) 0 0 0

    &__max-bid
      position relative
      margin 10px 0
      .help-tooltip
        position absolute
        right 0
        top 0

    &__select
      width 100%
      margin 5px 0
      select
        width 100%

    &__button
      margin-top 10px !important

    &__conditions
      display block
      margin-top 20px
      color gray-dark-color
      serif('s-caption')
      a
        color gray-dark-color

  &__buyers-premium
    serif('s-body')
    color gray-dark-color

  &__buy-now
    margin-top gutter

    &__label
      sans('s-headline')

    &__amount
      sans('xl-headline')

    &__form
      block-margins(distance(gutter / 2, 'garamond-s-body'))

  &__help
    serif('s-body')
    margin-top distance(gutter)

  &__buyers-premium > a
  &__help > a
    color gray-dark-color
    fine-faux-underline(gray-dark-color)

  &__live-button
    padding-top 10px
