.overlay-container
  .overlay-button-save
  .overlay-dropdown
    .overlay-item Add to Collection?
    .overlay-item Works I like
    .overlay-item Works I own
    .overlay-item New collection
      button.overlay-item-add +