@require '../../../components/stylus_lib'
@require '../../../../lib/palette'

.af-hero-image
  width 100%
.af-metadata
  margin getSpace(2, 0)
  display flex
  align-items flex-start
.af-thumbnail
  display inline-block

.ap-featured-item--small
  margin-bottom getSpace(3)
  display table
  width 100%

  a
    text-decoration none

.ap-featured-item__thumb
.ap-featured-item__title
.ap-featured-item__clock
  display table-cell
  width auto
  vertical-align middle

.ap-featured-item__thumb
  vertical-align top
  width 252px
  height 175px
  line-height 0

.ap-featured-item__logo
  margin-bottom getSpace(2)

.ap-featured-item__title
  padding getSpace(0, 3)
  max-width 300px

  h3
    margin 0
    line-height 32px

.ap-featured-item__clock
  text-align right

  .af-clock
    float right

  .af-clock .clock-header
    text-align right

#auctions-page > .aggregate-page-items
  margin-bottom getSpace(3)

.aggregate-page-items-featured-set
  margin 0

.auctions-list
  block-margins(30px)
  .leader-dots-list-item
    text('subtitle')
    &:after
      font-size 12px
      line-height 2.2

// Preview state
.auctions-placeholder
  display table
  width 100%

.auctions-placeholder-metadata
.auctions-placeholder-hero
  display table-cell
  height 100%
  vertical-align middle
  text-align center

.auctions-placeholder-metadata
  width 33.33%
  padding getSpace(0, 5, 0, 2)
  > h2
    text('largeTitle')
    // Visually center. Due to line-height and hard-edged bottom button
    margin -((@font-size * (@line-height - 1)) * 2) auto 10px
  > p
    text('subtitle')
    margin getSpace(2, 0)
    padding getSpace(0, 2)
  > a
    white-space nowrap
.auctions-placeholder-hero
  width 66.66%
  > a > img
    width 100%

.apu-clock
  margin getSpace(2, 0, 3)
  .clock-header
    display none

.auction-cta-group
  display table
  text-decoration none
  > div
    display table-cell
    vertical-align middle
    padding getSpace(2, 0)

.auction-cta-group .auction-cta-group__left
  width 20%
  text-align center
  > img
    width 90%
    margin 0 auto

.auction-cta-group .auction-cta-group__right
  padding-left getSpace(1)

.auctions-header
  text('largeTitle')

.auctions-header, .auctions-my-active-bids h3
  padding-bottom getSpace(2)
  border-bottom 1px solid getColor('black10')

.auctions-my-active-bids h3
  text('title')
  margin-bottom getSpace(3)
  min-width 260px

.my-active-bids-item-details
  max-width 160px

.auctions-header
  margin-bottom -17px

.af-hero-image
  background center center getColor('black5')
  height 300px
  background-size cover
  position relative
  &:after
    content ' '
    width 100%
    height 100%
    background rgba(0,0,0,0.4)
    top 0
    left 0
    position absolute

.af-details
  display inline-block
  flex-grow 1

.af-name
  text('subtitle')

.af-sale-time
  text('caption')

.af-live-header
  text('caption')
  color getColor('black60')

.af-go-button
  width 200px

.ap-featured-item:first-of-type
  margin-top 35px
