@require '../components/stylus_lib'

.aggregate-page
  padding 40px 0

.aggregate-page-header
  margin 40px 0
  garamond-size('l-headline')

.aggregate-page-subheader
  margin 30px 0
  avant-garde-size('m-headline', true)

.aggregate-page-items
  clearfix()
  block-margins(20px)

.aggregate-page-items-featured
  float left
  width 75%
  padding-right 30px
  .aggregate-page-subheader
    padding-bottom 30px
    border-bottom 1px solid gray-lighter-color

.aggregate-page-items-upcoming
  float left
  width 25%
  padding-left 30px

.aggregate-page-items-featured-set
  block-margins(120px)
  &:last-child .ap-featured-item:last-child
    padding 0
    border none

.ap-upcoming-item
  display block
  text-decoration none
  margin 20px 0
  width 100%
  > h3
    font-weight bold

.ap-featured-item
  width 100%
  margin 20px 0
  padding-bottom 20px
  border-bottom 1px solid gray-lighter-color
  clearfix()
  a
    text-decoration none
