@import '../components/stylus_lib'

carousel-height = 300px
carousel-top-padding = 20px
carousel-controls-height = 46px

.artist-carousel
  position relative
  padding-top carousel-top-padding
  margin-bottom -60px
  height carousel-height + carousel-top-padding + carousel-controls-height
  &:empty
    display none
  .carousel-figures-clip
    min-height inherit
    height carousel-height
    img
      max-height 100%
  .carousel-dots
    display none
