.side-tabs
  clearfix()
  width 100%
  block-margins(gutter / 2)

  &__nav
  &__content
    float left

  &__nav
    width 25%
    // Always be at least 2 nav items tall
    min-height ((avant-garde-body-font-size * avant-garde-body-line-height) + distance(10px, 'avant-garde-body')) * 2
    border-right 1px solid gray-lighter-color

    > a
      display block
      sans('body')
      overflow ellipsis
      padding distance(10px) 20px distance(10px) 0
      color gray-darker-color
      user-select none

      &:first-child
        padding-top 0
      &:last-child
        padding-bottom 0

      &:hover
      &[data-state='active']
        color black

  &__content
    width 75%
    padding-left gutter

.side-tab
  display none
  transition opacity 0.25s

  &[data-state='active']
    display block

  &[data-loading='true']
    opacity 0.5

  > p
    serif('s-body')
    block-margins(distance(20px))
    > a
      fine-faux-underline()
