extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'artwork_item'

block body
  .artwork-items.artwork-column
    each item in items
      .artwork-items__item
        - artwork = item.artwork
        h1.avant-garde-body= item.type
        include ../../../components/artwork_item/templates/artwork
