.auction-artworks-HeaderDesktop
  padding-top 25px
  display flex
  justify-content space-between
  align-items center

  &__right
    display flex
    justify-content flex-end

  &__total
    color gray-dark-color

  &__switch
    padding-left 5px

  &__grid, &__list
    display inline-block
    border 2px solid gray-lighter-color
    padding 2px
    cursor pointer
    height 41px
    svg
      fill gray-lighter-color
      width 32px
      height 32px

  &__grid
    border-right none

  .active
    svg
      fill black
