@import '../../components/stylus_lib'

#artist-header
  text-align center
  margin-bottom 20px
  margin-top 40px
  h1
    margin-top 30px
    font-size 24px
  h2
    margin 10px 0

.artist-works-section
  border-top 1px solid light-gray-border-color
  h3
    padding 10px 0
    avant-garde()
    font-size 13px
  .loading-spinner
    position relative
    margin 150px 0

.artist-related-section
  border-top 1px solid light-gray-border-color
  h3
    margin 30px 0 10px 0
  .responsive-side-margin
    position relative
    min-height 200px

.artist-related-see-more
  margin 20px auto

.artist-related-artist
  position relative
  min-height 200px
  margin-top 10px
  h4
    avant-garde()
    font-size 14px
    margin-bottom 20px
  button
    top -3px
    right 0
    position absolute
    font-size 11px
    padding 7px 20px

.artist-related-artist-artworks img
  max-height 180px !important

.artist-info-section
  border-top 1px solid light-gray-border-color
  margin 40px 0
  h1
    margin 40px 0px 20px 0px
.artist-info-left
  width 52%
  display inline-block
  vertical-align top
  padding-right 55px
.artist-info-right
  width 46%
  display inline-block
.artist-related-posts
  li
    cursor pointer
    border-bottom none
    border-top 1px solid #e5e5e5
    padding 10px
    &:hover
      background-color: #eee
      .artist-related-post-content a
        color #6a00cc
    .artist-related-post-content
      width 70%
      display inline-block
    .artist-related-post-profile
      width 20%
      display inline-block
      margin-left 20px
      vertical-align top
      text-align center
    .artist-related-post-icon-container
      margin-left 20px
    img
      width 72px
      height 72px
    h1
      font-size 18px
      margin 0
      text-align left
      text-transform none
      text-decoration none
    h2
      font-size 12px
      margin-top 10px
    a
      text-decoration none
  .artist-related-post-show-all
    margin-top 24px
    display block
    text-align right
    text-transform uppercase
    font-size 12px
    float right
    text-decoration none
    avant-garde()
.artist-related-post-body
  margin-bottom 10px
  overflow hidden
  font-size 14px
