@import '../../components/stylus_lib'

#artist-header
  text-align center
  margin-bottom 20px
  margin-top 40px
  h1
    margin-top 30px
    font-size 24px
  h2
    margin 10px 0

.artist-works-section
  border-top 1px solid light-gray-border-color
  h3
    padding 10px 0
    avant-garde()
    font-size 13px
  .loading-spinner
    position relative
    margin 150px 0

.artist-related-section
  border-top 1px solid light-gray-border-color
  h3
    margin 30px 0 10px 0
  .responsive-side-margin
    position relative
    min-height 200px

.artist-related-see-more
  margin 20px auto

.artist-related-artist
  position relative
  min-height 200px
  margin-top 10px
  h4
    avant-garde()
    font-size 14px
    margin-bottom 20px
  button
    top -3px
    right 0
    position absolute
    font-size 11px
    padding 7px 20px

.artist-related-artist-artworks img
  max-height 180px !important