@import '../../components/stylus_lib'

#artist-header
  text-align center
  margin-bottom 20px
  h1
    margin-top 30px
    font-size 24px
  h2
    margin 10px 0

.artist-works-section
  border-top 1px solid light-gray-border-color
  h3
    padding 10px 0
    avant-garde()
    font-size 13px
  .loading-spinner
    position relative
    margin 150px 0

.artist-info-section
  border-top 1px solid light-gray-border-color
  h1
    margin 40px 0px 20px 0px
  .artist-blurb
    width 50%