include ../../bordered_pulldown/mixin

.filter-sort-count
  h2.filter-heading.large-garamond-header
  h4.filter-sort-count-count Showing&nbsp;
    span.filter-sort-count-total= typeof total == 'number' ? total : '...'
  .filter-sort-count-pulldown
    +bordered-pulldown((pulldownVal || 'Recently Added'), 'Sort by:')
      a( data-sort='-date_added', href="#" ) Recently Added
      a( data-sort='-date_created', href="#" ) Artwork Year (desc.)
      a( data-sort='date_created', href="#" ) Artwork Year (asc.)
