- var description = 'Browse art and design galleries around the globe by location and specialty and explore artists, artworks, shows, and fair booths.'
title Galleries A-Z | Artsy
meta( property="og:title", content="Galleries | Artsy" )
meta( name="description", content= description )
meta( property="og:description", content= description )
meta( property="twitter:description", content= description )
link( rel="canonical", href="#{sd.APP_URL}/gallery-a-z" )

meta( property="og:url", content="#{sd.APP_URL]/gallery-a-z" )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
