title Press | Artsy
meta( property="og:title", content="Press | Artsy" )
meta( name="description", content="Artsy is an easy new way to discover, learn about, and buy art you'll love, featuring fine art, design, and photography from the leading international galleries, museums, and private collections." )
meta( name="og:description", content="Artsy is an easy new way to discover, learn about, and buy art you'll love, featuring fine art, design, and photography from the leading international galleries, museums, and private collections." )
meta( property="twitter:description", content="Artsy is an easy new way to discover, learn about, and buy art you'll love, featuring fine art, design, and photography from the leading international galleries, museums, and private collections." )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + "/press") )
link( rel="canonical", href=(sd.GRAVITY_URL + "/press") )
meta( property="og:url", content=(sd.GRAVITY_URL + "/press") )
meta( property="og:image", content=(sd.ASSET_PATH + "metadata/og_image.jpg") )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
