.article-byline
  .article-author
    = article.related().author.get('name')
  .article-contributing
    include ../../article_figure/contributing_authors
  .article-timestamp
    = article.date('published_at').format('MMMM D, YYYY H:mm A')
