mixin carouselFigure(figure)
  - var h = height || 480
  - var dimensions = figure.resizeDimensionsFor({ height: h })
  img(
    src= figure.imageUrlForHeight(h)
    width= dimensions.width
    height= dimensions.height
  )
