mixin carouselFigure(figure)
  - var options = { height: (height || 480) }
  - var dimensions = figure.resizeDimensionsFor(options)
  img(
    src= figure.resizeUrlFor(options)
    width= dimensions.width
    height= dimensions.height
  )
