- height = height || 480

mixin carouselFigure(figure)
  if figure.has('href') || typeof figure.href === 'function'
    a( href=(figure.get('href') || figure.href()) )
      img( src=figure.imageUrlForHeight(height) )
  else
    img( src=figure.imageUrlForHeight(height) )

.carousel-figures-clip
  .carousel-track
    .carousel-set.carousel-pre-decoys
      each figure in carouselFigures
        figure.carousel-figure
          +carouselFigure(figure)
    .carousel-set.carousel-figures
      each figure, index in carouselFigures
        figure.carousel-figure( data-carousel-figure-index=index )
          +carouselFigure(figure)
    .carousel-set.carousel-post-decoys
      each figure in carouselFigures
        figure.carousel-figure
          +carouselFigure(figure)

.carousel-controls
  .icon-chevron-left.carousel-arrow-left
  .icon-chevron-right.carousel-arrow-right
  .carousel-dots
    each figure, index in carouselFigures
      .carousel-dot( data-carousel-dot-position=index ) •
