extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'artwork_2'

block head
  include ../components/meta/index

block body
  .artwork-page.main-layout-container
    section.artwork
      .artwork__overview
        include ../components/banner/index
        include ../components/images/index
        include ../components/actions/index

        //- Fold
        include ../components/highlights/index
        include ../components/tabs/index
        include ../components/artists/index
        include ../components/partner/index

      .artwork__metadata
        include ../components/metadata/index
        include ../components/inquiry/index
        include ../components/auction/index
        include ../components/collapsed_metadata/index
