extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'artwork_2'

block head
  include ../components/meta/index

block body
  .artwork-page.main-layout-container
    section.artwork
      .artwork__main
        .artwork__main__overview
          include ../components/banner/index
          include ../components/images/index
          include ../components/actions/index
          include ../components/additional_info/index
          include ../components/artists/index

          .artwork__main__overview__fold( class='js-artwork-fold' )
            include ../client/fold

        .artwork__main__metadata
          .js-collapsed-metadata--enter
            include ../components/metadata/index
            include ../components/inquiry/index
            include ../components/auction/index

          include ../components/collapsed_metadata/index

      .artwork__footer( class='js-artwork-footer js-collapsed-metadata--exit' )
        include ../client/footer
