extends ../../../components/main_layout/templates/index

block head
  title= [artwork.title, 'Artsy'].join(' | ')

append locals
  - assetPackage = 'artwork_2'

block body
  .artwork-page.main-layout-container
    section.artwork
      .artwork__overview
        include ../components/banner/index
        include ../components/images/index
        include ../components/actions/index

        //- Fold
        include ../components/highlights/index
        include ../components/tabs/index

      .artwork__metadata
        include ../components/metadata/index
        include ../components/inquiry/index
        include ../components/auction/index
