extends ../../../components/main_layout/templates/index

block head
  //- include meta

append locals
  - assetPackage = 'artwork_2'

block body
  .artwork-page.main-layout-container
    section.artwork
      .artwork__overview
        include ../components/banner/index
        include ../components/images/index

      .artwork__metadata
        include ../components/metadata/index
