extends ../../../components/main_layout/templates/index

block head
  //- To do

append locals
  - assetPackage = 'inquiry'

block body
  .inquiry-page
    .js-embedded-inquiry
      .loading-spinner
