.avant-garde-s-headline.cf-periods__title Period

include ./all.jade

each majorPeriod in periods
  - agg = findAggregation(counts, majorPeriod)
  - isSelected = _.contains(selected, majorPeriod)

  include ./period.jade

unless showAllPeriods
  a.cf-periods__view-all See All
