artwork-images = {
  pages: {
    height: 7px
  }
}

.artwork-images
  position relative
  block-margins(10px)
  height 65vh
  min-height 400px

  &.artwork-images--multiple
    > .artwork-images__images
      right (gutter * 1.25)
      bottom: artwork-images.pages.height + 10px
      left @right

  &__images
    position absolute
    top 0
    right 0
    left 0
    bottom 0
    prevent-content-shift()

    &__image
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background-color white

      &[data-state='active']
        z-index 1
      &[data-zoomable]
        cursor -moz-zoom-in
        cursor -webkit-zoom-in
        cursor zoom-in

      &__placeholder
      &__display
        position absolute
        top 0
        right 0
        bottom 0
        left 0

      &__placeholder
        background-size contain
        background-repeat no-repeat
        background-position center center

      &__display
        opacity 0
        background-color white
        transition opacity 0.25s
        &[data-state='loaded'], &--visible
          opacity 1

        > img
          max-width 100%
          max-height 100%
          margin auto
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)

  &__pages
    position absolute
    right 0
    bottom 0
    left 0
    block-margins(10px)
    display flex
    align-items center
    flex-direction row
    justify-content center

    &__page
      display inline-block
      cursor pointer
      height: artwork-images.pages.height
      width @height
      margin 0 4px
      border-radius 50%
      vertical-align bottom
      background-color gray-color
      transition background-color 0.2s ease-in-out
      user-select none
      &:hover
      &[data-state='active']
        background-color black

  &__arrows
    position absolute
    z-index 1
    top 50%
    left 0
    right 0
    &__prev
    &__next
      position absolute
      transform translateY(-50%)
      padding (gutter * 2)
      cursor pointer
      color gray-color
      text-align center
      transition color 0.25s
      &:hover
        color black
    &__prev
      left 0
      padding-left 0
    &__next
      right 0
      padding-right 0
