//
// Feature styles
//

#feature
  .feature-content
    max-width 1150px
    margin 0px auto

.feature-image
  background-position center center
  background-repeat no-repeat
  background-size cover
  height 300px
  margin 0
  width 100%
  @media screen and (max-height: 768px)
    height (@height / 2)

.feature-content
  position relative
  padding 50px 0 125px

#feature-sets-container
  position relative
  min-height 200px

.feature-title
  width 75%
  margin 0 auto 25px
  garamond()
  font-size 41px
  line-height 1.25
  text-align center

.feature-share
  position absolute
  top 35px
  right 0
  .share-to-pinterest
    display none

.feature-description
  width 100%
  margin 0px 0 40px
  padding 20px 0
  text-align center
  display table

#feature-description-register-container
#feature-auction-info-countdown-container
.feature-description-text
  display table-cell
  vertical-align top
  &:empty
    display none

#feature-description-register-container
#feature-auction-info-countdown-container
  width 250px
.feature-description-text
  font-size 20px
  padding 0 40px
  p
    line-height 1.33

.auction-info-header
  text-transform uppercase
  letter-spacing 1px
  font-size 15px

#feature-description-register-container .auction-info-register-button a
  width 100%

.feature-set
  border-bottom 1px solid gray-color
  margin-bottom 35px
  text-align center
  &:last-child
    border-bottom none
  &:empty
    display none

.feature-set-title
  font-size 30px
  margin-bottom 30px

.feature-set-description
  font-size 22px
  margin-bottom 30px

.feature-set-item
  display inline-block
  margin 0
  overflow hidden
  vertical-align top
  a
    text-decoration none

.feature-set-item-image-link
  background-color black
  display inline-block
  margin 0 0 14px 0
  position relative
  overflow hidden
  &:hover
    .feature-set-item-image
      opacity 0.5

.feature-set-item-image
  opacity 1
  transition opacity, 0.3s
  width 101%
  prevent-content-shift()

.feature-set-item-artist-list
  border-bottom 1px solid gray-color
  margin-bottom 30px
  padding-bottom 10px

.feature-set-item-artist-list-heading
  avant-garde()
  font-size 13px
  margin-bottom 15px
  text-align center

.feature-set-item-artist-list-group
  display inline-block
  padding 0 25px
  width 50%
  vertical-align top
  &:last-of-type
    padding-right: 0

.feature-set-artist-container
  height 100%
  transition height 0.25s
  overflow hidden
  position relative
  padding-bottom 15px
  &.artist-list-truncated
    height 500px
    padding-bottom 0px
    &::before
      height 60px
      width 100%
      bottom 0px
      position absolute
      content ''
      background linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%)

.featured-set-artist-expand
  avant-garde()
  margin-top 10px
  font-size 13px

.feature-set-item-artist-link
  display block
  margin-bottom 3px
  overflow ellipsis
  text-align left
  text-decoration none
  transition color 0.25s
  &:hover
    color purple-color

.feature-set-item-full
  width 100%

.feature-set-item-half
  margin 0 1.5%
  width 47%
  .feature-set-item-caption
    > *
      margin-left auto
      margin-right auto
      width 75%
    h1
      font-size 30px
      line-height 1.3
      margin-bottom 19px

.feature-set-item-third
  margin 0 1%
  width 31%

// models/mixins/layout_style supports 'fifth' and 'sixth' size
// layouts but this layout does not so we make them all quarter-size
.feature-set-item-quarter, .feature-set-item-fifth, .feature-set-item-sixth
  margin 0 1%
  width 22.8%
  .feature-set-item-caption
    text-align left

.feature-set-item-caption
  margin-bottom 21px
  text-align center

  .feature-set-item-caption-heading
    font-size 21px
    line-height 1.15
    &:empty
      display none

  .feature-set-item-caption-subheading
    color gray-darker-color
    a
      color gray-darker-color
    &:empty
      display none

#feature-artworks 
  .artwork-item-caption p, .artwork-item-caption p a
    color black
    font-size 17px
  .artwork-item-caption .artwork-item-artist a
    font-size: 28px
    margin-bottom: 13px
    display: inline-block
    margin-top: 10px
    font-weight: normal
  .artwork-item-partner
    display none

.feature-artwork-filter
  font-size 17px
  padding-bottom 25px
  border-bottom 1px solid gray-lighter-color
  margin-bottom 50px
  text-align left
  a
    letter-spacing 1px
    text-transform uppercase
    display inline-block
    margin 0px 11px
    line-height: 70%
    &.active
      color purple-color
      &::before
        border-color purple-color
