//
// Feature styles
//
#main-layout-container
  margin-left 0
  margin-right 0
  margin-top 53px !important

.feature-page-image
  background-posiition center center
  background-repeat norepeat
  height 300px
  margin 0
  width 100%

.feature-page-title
  garamond()
  font-size 41px
  line-height 1.25
  margin 50px 0
  text-align center
  width 100%
