@require '../../../../components/stylus_lib'

.show-events-modal
  padding 35px

.sem-header
  avant-garde-size('l-headline', true)

.sem-event
  margin 40px 0

.sem-event-title
  garamond-size('headline')
.sem-event-metadata
.sem-event-description
  garamond-size('s-body')
.sem-event-description
  margin 10px 0
