.main-layout-container--christies
  clearfix()

.christies-banner-image
  width 100%
  height 300px
  background-color gray-color
  background-size cover
  background-position center center
  position relative

.christies-banner-image__logo
  position absolute
  width 100%
  height 100%
  background-size 50% auto
  background-position center center
  background-repeat no-repeat
  display none

.christies-banner-image__text
  position absolute
  width 100%
  height 100%
  background-size auto 150px
  background-position 0
  background-repeat no-repeat

.christies-header
  margin 50px 0
  line-height 1.2
  text-align center
  > h1
  > h2
    margin 15px 0
  > h1
    font-size 40px
  > h2
    font-size 22px

.christies-section-header
  border-bottom 1px solid gray-lighter-color
  padding-bottom 10px
  margin-bottom 30px

.christies-featured-editorials
  margin 50px 0
  float right
  width 30%
  min-width 220px
  padding-left 100px

.christies-featured-editorial
  display block
  margin 20px 0
  text-decoration none
  padding-bottom 20px

.christies-featured-editorial-metadata
.christies-featured-editorial-image
  height 100%

.christies-featured-editorial-metadata
  line-height 1.2
  > h4
  > h3
    margin 10px 0
  > h4
    font-size 20px
  > h5
    font-size 11px
    avant-garde()
.christies-featured-editorial-image
  text-align right
  > img
    display inline-block
    vertical-align bottom
    max-width 100%

.christies-sale-links
  margin 50px 0
  float left
  width 70%
  padding-right 20px
  display table
  border-collapse separate
  vertical-align top

.christies-sale-item
  display table-row
  height 330px
  text-align left

.christies-sale-link
  display table-cell
  vertical-align middle
  background-size auto 100%
  background-repeat no-repeat
  background-position right
  text-decoration none
  border-bottom 60px solid #fff
  position relative

.christies-sale-link-mobile-img
  display none

.christies-sale-link-metadata
  display block
  padding 20px 0
  text-align left
  text-decoration none
  max-width 55%
  .opening
    border 2px solid #000
    padding 5px 10px
    avant-garde()
    font-size 11px
    display: inline-block
  > h3
    margin 15px 0
    font-size 37px
    line-height 1.3
  > h4
    color gray-dark-color
    font-size 18px

// Mobile
@media screen and (max-width: 940px)
  .responsive-layout-container
    margin 0 20px

  .christies-header
    > h1
      font-size 33px
    > h2
      font-size 18px

  .christies-banner-image
    height 200px

  .christies-banner-image__logo
    display block

  .christies-banner-image__text
    display none

  .christies-section-header
    text-align center

  .christies-featured-editorials
    width 100%
    float none
    padding-left 0

  .christies-featured-editorial
    display table

  .christies-featured-editorial-image
    display table-cell
    max-width 40%
    padding-right 30px
    vertical-align middle

  .christies-featured-editorial-metadata
    padding-right 10px
    max-width 50%
    display table-cell
    vertical-align middle
    > h4
      font-size 20px

  .christies-sale-links
    float none
    width 100%
    padding-right 0px

  .christies-sale-item
    display table-row
    height 130px
    text-align left

  .christies-sale-link
    display table-cell
    vertical-align middle
    background-size 0%
    background-repeat no-repeat
    background-position right
    background-image none
    text-decoration none
    border-bottom 20px solid #fff
    position relative

  .christies-sale-link-mobile-img
    display block
    img
      max-width 100%

  .christies-sale-link-metadata
    display block
    padding 20px 0
    text-align center
    text-decoration none
    max-width 100%
    .opening
      border 2px solid #000
      padding 5px 10px
      avant-garde()
      font-size 9px
      display: inline-block
    > h3
      margin 10px 0 0
      font-size 20px
      line-height 1
    > h4
      color gray-dark-color
      font-size 14px
