#future-of-art-cover-banner
  position relative
  img
    width 100%
  figcaption
    position absolute
    left 10px
    bottom -30px
    font-style italic
    font-size 12px
    color gray-dark-color
    a
      color gray-dark-color
      text-decoration none

#future-of-art-copy
  width 460px
  margin 54px auto
  margin-bottom 200px
  line-height 1.4em
  h1
    font-size 48px
    line-height 58px
    margin-bottom 28px
  h2
    font-size 21px
    line-height 33px
    a
      color purple-color
      text-decoration underline
  h3
    avant-garde()
    font-size 10px
    display block
    margin-bottom 20px
  p
    line-height 25px
    margin-bottom 1.4em
  img
    width 82px
    margin 30px 10px -1.4em 0
    display inline-block
    vertical-align: middle
    position relative
    top -8px
  .avant-garde-button-white
    border 2px solid black
    font-size 10px
    padding 14px 34px
    display block
    margin 0 106px
    display inline-block
    &:hover
      color white
      background black

#future-of-art-copy-text
  bottom-cover-gradient(140px)
