- var width = 500
- var height = 375
- var displayLocation = true
- var displayContextualLabel = true

.related-shows( class='grid-' + nUp + '-up' )
  if shows.length
    for show in shows
      include ../../components/featured_shows/show
  else
    .loading-spinner
