.show-events
  //- More than one event (opens modal)
  if partner_show.events.length > 1
    a.show-entity-link.js-open-show-events( href='#' )
      i.icon-circle-chevron
      span Multiple events for this show
  else
    - var showEvent = partner_show.events[0]

    //- One event with description (opens modal)
    if showEvent.description
      a.show-entity-link.js-open-show-events( href='#' )
        i.icon-circle-chevron
        span
          = showEvent.event_type + ': '
          if showEvent.title
            em= showEvent.title + ', '
          = ViewHelpers.formatShowEventDateRange(showEvent.start_at, showEvent.end_at)
    else
      //- One event sans-description (no modal)
      .show-event
        = showEvent.event_type + ': '
        if showEvent.title
          em= showEvent.title + ', '
        = ViewHelpers.formatShowEventDateRange(showEvent.start_at, showEvent.end_at)
