//- Temporary naïve check
if show.fair.published && show.fair.has_full_feature
  a.show-entity-link( href= show.fair.href )
    span= show.fair.name
    i.icon-circle-chevron
else
  = show.fair.name
.show-dates
  = DateHelpers.timespanInWords(show.fair.start_at, show.fair.end_at)
if show.location
  .show-location
    = show.location.display
