.show-location
  if partner_show.has_location && partner_show.location
    span= ViewHelpers.singleLine(partner_show.location)
    if partner_show.location.coordinates
      a.show-entity-link.js-open-map-modal
        i.icon-circle-chevron
        span
          | Map #{partner_show.location.day_schedules.length > 0 ? '& Full Hours' : ''}
  else
   span= "Online Exclusive"
