@import '../../stylus_lib/index.styl'
@import './overlay_controls'

.artwork-item-image-container
  margin-bottom 11px
  img
    vertical-align bottom

.artwork-item-image-link
  display inline-block
  overflow hidden
  position relative
  max-width 100%

.artwork-item-caption
  color dark-gray-text-color
  font-size 15px
  line-height 1.3
  text-align left
  a
    color dark-gray-text-color
  .artwork-item-more-info
    color white
  p.artwork-item-overflow
    overflow ellipsis

.artwork-item-artist
  font-weight bold

.artwork-item-image
  background-color #f2f2f2

.artwork-item-blurb
  color black
  font-size 17px
  margin-bottom 1em
  margin-top 1em
  text-align left

a.artwork-item-buy, a.artwork-item-contact-seller
  color white

.artwork-item-sold
  background-color dark-gray-text-color
  color light-gray-border-color
  cursor default
  &:hover
    color dark-gray-text-color
    background-color light-gray-border-color

.artwork-item
  .avant-garde-button-black
    margin-right 1em
    margin-top 1em
