@import '../../../components/stylus_lib'

h4.contact-section-headers
  padding 30px 0
  text-align center
  width 100%
  garamond-size('l-body', true)

.contact-teams a:first-child
  border-top 1px solid light-gray-border-color

.contact-teams a.contact-items
  position relative
  text-decoration none
  border-bottom 1px solid light-gray-border-color
  padding 20px 20px 20px 0
  display block

.contact-teams a.contact-items::after
  font-family 'artsy-icons'
  content: "\e607"
  font-size 24px
  color light-gray-border-color
  position absolute
  margin-top -8px
  right 0px
  top 50%

h5.contact-sub-headers
  avant-garde-size('m-headline', true)

span.link-style
  text-decoration underline

.faq a
  display block
  padding 20px 0
  text-decoration none
  avant-garde-size('m-headline', true)

h5.contact-editorial-title-header
  avant-garde-size('s-headline', true)

.editorial-staff
  display inline-block
  width 50%
  height 85px
  text-decoration none
  vertical-align middle
  padding-left 5px

.editorial-staff-contact-info
  border-top 1px solid light-gray-border-color
  border-bottom 1px solid light-gray-border-color
  padding-top: 30px
  p
    line-height 1.2
    garamond-size('l-caption', true)

#contact-address
  border-top 1px solid light-gray-border-color
  padding 20px 0

#contact-address p
  padding-bottom 20px
  margin-bottom 40px
  border-bottom 1px solid light-gray-border-color

.contact-modal-height
  height 100%

.contact-page-modal
	display none
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background #fff
	z-index 1000
	overflow scroll
	-webkit-overflow-scrolling touch
	&.is-active
		display block

.contact-page-modal__close::after
	font-family 'artsy-icons'
	content "\e621"
	font-size 24px
	color gray-color
	position absolute
	right 20px
	top 20px

h1.contact-modal-h1
  margin: 30px 0;
  text-align: center;
  garamond-size('l-body', true)
  font-weight: bold;

.contact-modal-body p
  garamond-size('s-body', true)
  margin-bottom 20px

form.modal-contact-form textarea
  margin-bottom 10px
  resize none

input.bordered-input
  margin-bottom 10px

.stacked-form-cell
  garamond-size('s-body', true)
  margin-bottom 10px

.mcf-email
  color gray-dark-color

p.modal-contact-privacy
  margin 10px 0
  font-size 15px

#modal-contact-submit
  margin-bottom 40px

.format-contact-success
  display table
  width 100%
  height 100%

.format-contact-success .format-contact-success-body
  display table-cell
  text-align center
  garamond-size('l-body', true)
  vertical-align middle

@import '../../../components/multi_page'
@import '../../../components/modal'
