.artwork-tabs
  clearfix()
  width 100%
  block-margins(15px)
  padding 30px 0

  &__nav
  &__content
    float left

  &__nav
    width 250px
    padding 0 20px 0 30px
    border-right 1px solid gray-lighter-color
    > a
      display block
      padding 10px 0
      avant-garde-size('body')
      color gray-darker-color
      &:first-child
        padding-top 0
      &:last-child
        padding-bottom 0
      &:hover
      &[data-state='active']
        color black

  &__content
    width calc('100% - %s' % 250px)
    padding 0 30px

.artwork-tab
  display none
  &[data-state='active']
    display block

  > p
    block-margins(15px)
  a
    fine-faux-underline()
