header.personalize-header
  h1.avant-garde-header-center
    | Follow artists to get personalized recommendations

.autocomplete-input-container
  #personalize-followed-container
  input.autocomplete-input( name='collect', placeholder!='Enter an artists&rsquo; name here&hellip;' )
  .autocomplete-input-results

.personalize-footer
  a#skip( href='#' ) Skip
  a#continue.avant-garde-box-button.avant-garde-box-button-black.is-hidden
    | Continue
