extends ../../../components/layout/templates/bare

//- #todo - better way to do this?
block head
  script( src='https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true' )

block content
  #personalize-page
    .loading-spinner
