header.personalize-header
  h1.avant-garde-header-center
    | Price range?
  .personalize-subheader
    | (You can always see all works on Artsy)

nav.chevron-nav-list
  for price in prices
    a( data-value=price.value )= price.display
