//
// Button styles used project-wide
//
@import '../../stylus_lib'

.circle-border-icon-button
  display inline-block
  width 48px
  height @width
  line-height @width
  vertical-align middle
  text-align center
  font-size 32px
  border 2px solid light-gray-border-color
  border-radius (@width / 2)
  background transparent
  text-decoration none
  &.is-active
    background-color #6a00cc
    border-color #6a00cc
    color #fff

// Chevron button, usually avant garde text with a > after it e.g. ANDY WARHOL >
chevron-pseudo-el()
  background black
  mask-size contain
  mask-repeat no-repeat
  height 26px
  width @height
  background-size contain
  display inline-block
  content '.'
  color transparent
  margin-top -2px
  position absolute

.chevron-arrow-button
  background transparent
  padding 0
  height 26px
  display inline-block
  border none
  margin 0
  text-decoration none
  display block
  &::after
    chevron-pseudo-el()
    margin-left 10px

.chevron-arrow-button-gray::after
  background light-gray-border-color
  width 20px
  height @width
  margin-top 1px

.chevron-arrow-button-left
  &::before
    chevron-pseudo-el()
    transform rotate(180deg)
    position relative
    top -2px
    left -12px
  &::after
    display none

.chevron-nav-list
  a
    text-decoration none
    position relative
    display block
    padding 14px 0
    border-top 1px solid gray-lighter-color
    avant-garde()
    font-size avant-garde-font-size
    &:last-child
      border-bottom @border-top
    &::after
      chevron-pseudo-el()
      background light-gray-border-color
      right -9px
      position absolute

a.nav-image-item
  &::after
    margin-top 32px
  .nav-image-item-image
    background-position center center
    background-repeat no-repeat
    background-size contain
    display inline-block
    vertical-align top
    height 80px
    width 80px
  .nav-image-item-label
    display inline-block
    margin-left 18px
    margin-top 20px
    vertical-align top
    width calc(67% - 24px)
  .nav-image-item-label-title
    serif()
    font-size 20px
    text-transform none
    margin-bottom 3px
  .nav-image-item-label-subtitle
    color light-gray-text-color
    serif()
    font-size 16px
    text-transform none
    &:empty ~ .nav-image-item-label-title
      margin-top 200px

// Avant Garde rectangular buttons
.avant-garde-box-button
  avant-garde()
  font-size avant-garde-font-size
  padding 12px
  border 1px solid light-gray-border-color
  background transparent
  width 100%
  margin 0
  text-decoration none
  text-align center
  display block
  position relative
  &.is-small
    min-width 112px
    font-size 11px
    padding 10px 20px
    border-style none
    line-height normal
  &.is-show-more-button
    margin-bottom 40px
  &:focus, &:active
    outline none

  &:disabled, &.avant-garde-box-button-disabled
    background-color light-gray-border-color
    color white
    border-color @background-color
  .loading-spinner
    background white
    margin 0
    position absolute
    top 15px
    left 50%
    margin-left -12px
    display none

.avant-garde-box-button-black
.avant-garde-box-button-gray
  color white

.avant-garde-box-button-black
  background black
  border @background

.avant-garde-box-button-gray
  background #333
  border @background

.avant-garde-underline-button
  avant-garde()
  font-size avant-garde-font-size
  text-align center
  background transparent
  display table
  margin 0 auto
  padding 0
  border 0
  border-bottom 2px solid black
  text-decoration none

.avant-garde-box-button-loading, .avant-garde-box-button.is-loading
  color transparent !important
  &.avant-garde-box-button-black
    .loading-spinner
      background white
  .loading-spinner
    display block

.avant-garde-box-button-green
  background-color #649100
  border-color @background-color
  color #ACC678

.avant-garde-box-button-chevron
  background no-repeat 97% center
  background-size 14px
  text-align left

.avant-garde-inline-button
  avant-garde()
  display inline-block
  font-size avant-garde-font-size
  padding 8px 15px 7px
  border-radius 2px
  background-color highlight-color
  color #fff
  text-decoration none

  &:focus,
  &:active
    background-color #000
    color #fff
    outline none

  &:disabled,
  &.avant-garde-inline-button-disabled
    background-color light-gray-border-color
    color #fff

.play-button
  position absolute
  background-color black
  cursor pointer
  height 55px
  width 75px
  top 50%
  left @top
  margin-top -(@height / 2)
  margin-left -(@width / 2)
  padding 25px
  transition background-color 0.25s
  &:hover
    background-color purple-color
  &:after
    display block
    position absolute
    content ''
    top 50%
    left @top
    width 0
    height 0
    border-top 10px solid transparent
    border-bottom @border-top
    border-left 20px solid white
    margin-top -10px
    margin-left @margin-top
