@import '../../stylus_lib'

#error-handler
  margin 0
  #main-header
    border-bottom 0
    .tagline
      display none
  #main-header-logo
    border-right 0
  main
    text-align  center
    margin      100px auto
    p
      font-size 18px
      margin 0 20px
  pre
    background #eee
    padding 10px
    margin 0 20px 20px 20px
    overflow-wrap break-word
    text-align left
    font-family monospace
    font-size 12px
    line-height 14px
    overflow scroll
  h1
    serif()
    font-weight bold
    font-size 20px
    line-height 1.2em
    margin  20px
  footer
    display none
  ul.error-handler-footer
    list-style-type none
    text-align      center
    font-size       14px
    > li
      display inline-block
      margin  0 8px
      a
        text-decoration none
