//
// Common styles used for initial page rendering throughout the project.
//
// Be VERY picky about what is allowed to be put in this file because any style
// that isn't used throughout most pages will unecessarily slow down initial page load.
//
// Examples of styles that belong here are global default styles or CSS reset-like styles
// such as `box-sizing: border-box` on all elements, or removing outlines on all inputs,
// ensuring links aren't purple or blue by default, etc. Things that are more stylistic
// even if they seem to apply to all elements, such as buttons being flat with avant garde,
// should not go here and instead applied as classes in a componenents stylesheet. It's
// much easier to add a class to an unstyled default element than it is to untangle too
// many default CSS styles.
//

@import '../../stylus_lib'
@import './headers'
@import './buttons'
@import './spinners'
@import './inputs'
@import './main_header'
@import './footer'
@import './login_signup'
@import './embedded'
@import './icons'
@import './utilities'
@import './navigation'
@import '../../app_banner'
@import '../../main_dropdown_menu'
@import '../../marketing_signup_modal'

global-reset()

// General tag styles
body
  serif()
  font-size default-font-size
  line-height 1.4em
  text-rendering optimizeLegibility
*
  box-sizing border-box
a
  color black
b, strong
  font-weight bold
em
  font-style italic
input
  serif()
  font-size default-font-size
  &:focus
    outline none
main
  position relative
  background-color white

// Random component styles that haven't grown big enough to warrent moving them
// into their own folder.
.main-side-margin
  margin 0 20px
.thin-gray-hr
  border 0
  margin 40px 0
  border-top 1px solid light-gray-border-color
.profile-icon-img-circle
  border-radius 150px
.artsy-logo-large
  background-size contain
  background-repeat no-repeat
  background-position center center
  height 60px
.slash-breadcrumbs
  avant-garde()
  font-size 14px
  margin 30px 0
  a
    text-decoration none
  span::before
    content '.'
    width 2px
    background light-gray-border-color
    display block
    color transparent
    margin 0 11px 0 10px
    display inline-block
    transform rotate(33deg)
.partner-back-link
  margin 20px 0
  avant-garde()
  font-size avant-garde-font-size
  text-decoration none
  display block
.is-scrolling-disabled
  overflow-y hidden

// Logged in layout
html.layout-logged-in
  .login-signup
    display none

// Hide the header and footer if the Artsy Mobile app is looking at the page
html.layout-artsy-mobile-app
  .login-signup, #main-header, footer
    display none
  .slash-breadcrumbs
  .partner-back-link
    opacity 0
  .mobile-app-top-padding
    padding-top 35px

// Hide the document until typekit loads Garamond
html.wf-loading
  visibility hidden

html.infinite-scroll-is-active
  footer
    display none
