@import '../../stylus_lib'

.bordered-input
  -webkit-appearance: none
  border 2px solid light-gray-border-color
  border-radius 0
  box-shadow none
  padding 10px
  width 100%
  font-size default-font-size
  serif()
  font-size default-font-size
  margin 0
  display block
  &:focus, &:active
    border-color highlight-color
    outline none
  &:disabled
    border dotted 2px light-gray-border-color

.is-validated
  .bordered-input:invalid
    border 2px solid red-color

.bordered-select
  garamond()
  font-size 16px
  width 100%
  padding 11px
  border 2px solid light-gray-border-color
  border-radius 0px
  box-shadow none
  appearance none
  outline none
  margin-top 0px
  background-repeat no-repeat
  background-position right
  background-size 24px auto

.autocomplete-input
  @extend .bordered-input

.autocomplete-input-container
  &.is-active
    position absolute
    background-color #fff
    top 0
    right 0
    left 0
    width 100%
    height 100%
    z-index 1
    overflow-y auto

    & > .autocomplete-input
      border none

    & > .autocomplete-input
      border-bottom 1px solid light-gray-border-color

    & > .autocomplete-input-results
      display block

.autocomplete-input-results
  display none
  z-index 100
  & > .loading-spinner
    margin 40px auto

caret-size = 8px
.garamond-select
  display inline-block
  position relative
  min-width 0
  cursor pointer
  &:after
    content ''
    display block
    position absolute
    right 0
    top 50%
    margin-top -(caret-size / 2)
    border-top caret-size solid black
    border-right (caret-size / 2) solid transparent
    border-left @border-right
  select
    margin 0 1em 0 0
    appearance none
    border none
    outline none
    background-color transparent
    serif()
    font-size default-font-size

.avant-garde-form-label
  display block
  avant-garde-size('s-headline', true)
  & + input
    margin-top 5px
  > span
    garamond-size('l-caption', true)
    text-transform none
    letter-spacing 0
    color gray-darker-color
