dots(times)
  buf = ''
  for n in (0...times)
    buf += '. '
.leader-dots-list
  overflow-x hidden
.leader-dots-list-item
  display block
  clear both
  text-decoration none
  padding 10px 0
  transition color 0.25s
  text-align left
  &:after
    float left
    width 0
    white-space nowrap
    color gray-darker-color
    content dots(500)
  > span
    &:first-child
      padding-right 0.33em
      background white
    &:last-child
      float right
      padding-left 0.33em
      background white
      position relative
      z-index 1
a.leader-dots-list-item:hover
  color purple-color
