//
// Styles for loading spinners of all varieties.
//

@keyframes spin
  0%
    transform rotate(0deg)
    animation-timing-function linear
  50%
    transform rotate(180deg)
    animation-timing-function linear
  100%
    transform rotate(360deg)
    animation-timing-function linear

.loading-spinner
  background black
  width 25px
  height 6px
  animation spin 1s infinite
  margin 200px auto
