a.mlsb-suggestion
  span.mlsb-suggestion-thumbnail
    span.mlsb-suggestion-fallback
      img(
        src= item.get('image_url')
        width='32'
        height='32'
        onerror='this.style.display="none";'
      )
  span.mlsb-suggestion-value
    span.mlsb-suggestion-display
      = item.get('display')
    if item.get('model') && displayKind
      em.mlsb-suggestion-kind
        = item.get('display_model')
