title #{title} | Artsy
meta( property='og:title', content='#{title} | Artsy' )
meta( name='description', content= description )
meta( name='og:description', content= description )
meta( property='twitter:description', content= description )
meta( property='og:url', content='#{sd.APP_URL}/how-auctions-work' )
meta( property='og:image', content= asset('/images/og_image.jpg') )
meta( property='og:type', content='website' )
meta( property='twitter:card', content='summary' )
link( rel='canonical', href='#{sd.APP_URL}/how-auctions-work' )
