.select-group
  display inline-block
  margin 0 15px
  position relative
  padding-right 1em
  &:first-child
    margin-left 0
  &:last-child
    margin-right 0

.select-group__label
  text-transform capitalize
  text-decoration underline

.select-group__select
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  opacity 0
