@import '../stylus_lib'
.mpv-container
  margin-bottom 50%

.mpv-title
  garamond-size('l-body')
  font-weight bold
  margin 20px 0
.mpv-description
  margin 20px 0
  garamond-size('s-body')
  > p
    block-margins(10px)

.mpv-page-content
  margin-top 10px
  display none

  h1
    display none
  h2
    garamond-size('s-body')
    font-weight bold
  p
    margin-bottom 20px
    garamond-size('s-body')

.mpv-content.is-active .mpv-page-content
  display block

.mpv-content
  border-top 1px solid gray-lightest-color
  border-bottom 1px solid gray-lightest-color

.mpv-content-nav.chevron-arrow-button
  avant-garde-size('m-headline', true)
  padding 20px 0
  position relative
  height auto

  &::after
    right 0
    width 15px
    background-color gray-color


.mpv-content.is-active .mpv-content-nav.chevron-arrow-button::after
  transform rotate(90deg)


