.auction2-basic-checkbox
  padding-top 5px
  padding-bottom 5px

  .artsy-checkbox--checkbox
    float left
    margin-right 10px

  .artsy-checkbox--label
    overflow auto
    display block

  .disabled
    pointer-events none
    .artsy-checkbox--label
      color gray-dark-color

  .artsy-checkbox--count
    garamond-size('m-caption')
    padding-left 5px
    color gray-dark-color
