.auction2-basic-checkbox
  padding-top 5px
  padding-bottom 5px
  .disabled
    pointer-events none
    .artsy-checkbox--label
      color gray-dark-color

  .artsy-checkbox--count
    garamond-size('m-caption')
    padding-left 5px
    color gray-dark-color
