.feature-page
  &.has-image
    .feature-content
      margin-top 60px
      margin-bottom 120px
  // Auction-specific header display
  &[data-type='auction']
    .feature-title
    .feature-description
      margin-left 0
      padding-left 0
      text-align left
    .feature-description
      padding-right 80px
    .feature-primary-information
    .feature-metadata
      float left
    .feature-primary-information
      width 75%
    .feature-metadata
      display block
      width 25%

.feature-image
  background-position center center
  background-repeat no-repeat
  background-size cover
  height 300px
  margin 0
  width 100%
  @media screen and (max-height: 768px)
    height 200px

.feature-header
  margin 40px auto
  position relative
  clearfix()

.feature-title
  padding 0 80px
  font-size 36px
  line-height 1.25
  text-align center

.feature-metadata
  display none

.feature-auction-register-button
  margin 30px 0

.feature-auction-clock > .clock
  text-align left

.feature-share
  position absolute
  top 0
  right 0
  > .share-to-pinterest
      display none

.feature-content
  position relative
  margin-top 100px
  margin-bottom @margin-top

.feature-description
  margin 30px 40px
  font-size 22px
  line-height 1.25
  text-align center
  p
    margin 20px 0
    a
      fine-faux-underline()

#feature-sets-container
  position relative
  min-height 200px

.feature-set
  border-bottom 1px solid gray-color
  margin-bottom 35px
  text-align center
  &:last-child
    border-bottom none
  &:empty
    display none
.feature-set-title
  font-size 30px
  margin-bottom 30px
.feature-set-description
  font-size 22px
  margin-bottom 30px
  line-height 133%
.feature-set-item
  display inline-block
  margin 0
  overflow hidden
  vertical-align top
  a
    text-decoration none
.feature-set-item-image-link
  margin 0 0 14px 0
.feature-set-item-full
  width 100%
.feature-set-item-half
  margin 0 1.5%
  width 47%
  .feature-set-item-caption
    > *
      margin-left auto
      margin-right auto
      width 75%
    h1
      font-size 30px
      line-height 1.3
      margin-bottom 19px
.feature-set-item-third
  margin 0 1%
  width 31%

// models/mixins/layout_style supports 'fifth' and 'sixth' size
// layouts but this layout does not so we make them all quarter-size
.feature-set-item-quarter
.feature-set-item-fifth
.feature-set-item-sixth
  margin 0 1%
  width 22.8%
  .feature-set-item-caption
    text-align left
.feature-set-item-caption
  margin-bottom 21px
  text-align center
  .feature-set-item-caption-heading
    font-size 21px
    line-height 1.15
    &:empty
      display none
  .feature-set-item-caption-subheading
    color gray-darker-color
    a
      color gray-darker-color
    &:empty
      display none

#feature-artworks
  .artwork-item-caption p
  .artwork-item-caption p a
    color black
    font-size 17px
  .artwork-item-caption .artwork-item-artist
    font-size 28px
    margin-bottom 13px
    display inline-block
    margin-top 10px
    font-weight normal
    max-width 100%
    a
      font-size 28px
  .artwork-item-partner
    display none
