- title = 'Jobs | Artsy'
- description = 'Artsy is redefining the way the world discovers art. Our mission is to make all the world’s art accessible to anyone with an Internet connection. Reaching that goal starts with our people, and so we dedicate serious time and energy to find excellent new team members as passionate about our product as we are. Want to help us? We’d love to hear from you.'

title= title
meta( property='og:title', content= title )
meta( name='description', content= description )
meta( name='og:description', content= description )
meta( property='twitter:description', content= description )
meta( property='og:url', content='#{sd.APP_URL}/jobs' )
meta( property='og:image', content= asset('/images/og_image.jpg') )
meta( property='og:type', content='website' )
meta( property='twitter:card', content='summary' )
link( rel='canonical', href='#{sd.APP_URL}/jobs' )
//- Currently a responsive page: Should be implemenented in Microgravity though

