.filter-artworks-spinner
  position relative
  padding 150px 0

.filter-artworks-no-results
  padding 150px 0
  display none
  text-align center
  font-style italic

.filter-artworks
  margin-bottom 150px
  min-height 800px
  &[data-state='no-results']
    .filter-artworks-no-results
      display block
    .filter-artworks-list, .filter-artworks-spinner
      display none
  &[data-state='finished-paging']
    .filter-artworks-spinner
      display none

.filter-artworks-sort-count
  margin-bottom 30px
