include ../../../components/filter/dropdown-mixin
include ../../../components/bordered_pulldown/mixin

mixin artists-a-to-z
  - aToZGroup = artistsAToZGroup
  if aToZGroup
    h1.large-garamond-header
      | Artists at&nbsp;
      = fair.get('name')
    section.fair-artists-list.a-to-z-container
      include ../../../components/a_to_z_list/template

mixin exhibitors-a-to-z
  - aToZGroup = exhibitorsAToZGroup
  if aToZGroup
    h1.large-garamond-header
      | Exhibitors at&nbsp;
      = fair.get('name')
    section.fair-exhibitors-list.a-to-z-container
      include ../../../components/a_to_z_list/template

#fair-filter
  .filter-fixed-header-nav
    label By Exhibitor:
    #fair-filter-all-exhibitors.filter-button.is-active All Exhibitors
    span#fair-filter-sections
      +filter-dropdown('Sector', 'sector', { '...': '...' })
    label By Work:
    include ../../../components/filter/artworks_nav/template
    label By Artists:
    #fair-filter-all-artists.filter-button All Artists

.browse-sections.main-layout-container
  .browse-section.artists-a-to-z
    +artists-a-to-z
  .browse-section.exhibitors-a-to-z
    +exhibitors-a-to-z
  .browse-section.booths
    h1.large-garamond-header
    #fair-booths-subheader
      | Showing&nbsp;
      span#fair-booths-count ...
      |  Exhibitors
      a#fair-booths-az-as-list.faux-underline Show as A-Z List
      #fair-booths-sort
        +bordered-pulldown('Relevancy', 'Sort By')
          a( data-sort='-updated_at' ) Recently Updated
          a( data-sort='name' ) A-Z
          a( data-sort='-name' ) Z-A
    .feed
    #fair-browse-spinner
      .loading-spinner
  .browse-section.artworks
    h1.large-garamond-header
    .artworks
      include ../../../components/filter/artworks/template.jade
  .browse-section.artist
    h1.large-garamond-header
    .feed