extends ../../../components/main_layout/templates/microsite

block head
  include ../../../components/main_layout/templates/profile_meta

append locals
  - assetPackage = 'fair'

block body
  #fair-page
    .fair-page-content
      .favorites-container.main-layout-container
        if sd.SECTION == 'favorites'
          .favorites-container.main-layout-container
            include ./../../favorites_follows/templates/favorites_content
        else if sd.SECTION == 'follows'
          .following-container.main-layout-container
            include ./../../favorites_follows/templates/follows_content
    .fair-page-footer
