.main-layout-container
  if sd.CURRENT_USER
    .foryou-section.blank-state Follow exhibitors and artist at the fair to list them on your personal “For You” page and get notified when new works and shows are added
    .foryou-section.artists
      .large-garamond-header Works by Artists you follow
      .artworks
    .foryou-section.partners
      .large-garamond-header Exhibitors you follow
      .feed
  else
    .foryou-section.blank-state.blank-state-visible Follow exhibitors and artist at the fair to list them on your personal “For You” page and get notified when new works and shows are added
  .foryou-section.booths
    .avant-garde-header-center Exhibitors at the fair to follow
    .exhibitors-column-container
