.foryou-section.artists
  .large-garamond-header Works by Artists you follow
  .artworks
   .loading-spinner
.foryou-section.partners
  .large-garamond-header Exhibitors you follow
  .loading-spinner
  .feed
