.main-layout-container
  .foryou-section.artists
    h1.large-garamond-header Works by Artists you follow
    .artworks
  .foryou-section.partners
    h1.large-garamond-header Works from Exhibitors you follow
    .feed
  .foryou-section.booths
    h1.large-garamond-header Booths for you
    .feed
