header.fair-page-header.main-layout-container
  a.fair-logo( alt=fair.get('name'), title=fair.get('name'), href=profile.href() )
    include ../../../components/profile_badge/profile_icon
  include ./header_navigation
