//- extends ../../../components/main_layout/templates/microsite
extends ../../../components/fair_layout/templates/fair_microsite_layout

block head
  include meta

append locals
  - assetPackage = 'fair'

block header
  include ../../../components/fair_layout/templates/fair_header

block body
  .fair-page-content
    if sd.SECTION == 'search'
      include ./search_results
    else if sd.SECTION == 'info'
      include ./info
    else if sd.SECTION == 'browse'
      #fair-browse-spacer
      include ../components/browse/template
    else if sd.SECTION == 'forYou'
      include ./for_you
  .fair-page-footer

block jsonLd
  include ../../../components/main_layout/templates/json_ld
