extends ../../../components/main_layout/templates/microsite

block head
  include ../../profile/templates/meta

append locals
  assetPackage = 'fair'

block body
  if coverImage && coverImage.hasImage('wide')
    .feature-image( style="background-image: url(#{profile.coverImage().imageUrl('wide')})" )
  else
    .feature-image
  #fair-page
    header.fair-page-header.main-layout-container
      include ./header_navigation
    if primarySets
      include ./overview_top
    include ./sections
    if primarySets
      include ./overview_bottom
    h2.overview-section-heading Browse the fair
    .fair-page-content.main-layout-container
      include ../components/browse/template