.fair-sections-container
  .sections-left
    .fair-sections-small-heading
      | Browse&nbsp;
      = fair.get('name')
    .fair-search-options
      for gene in fair.get('filter_genes')
        a( href=fair.href() + '/browse/artworks?related_gene=' + gene.id )= gene.name
    .a-to-z-section-links
      a( href=fair.href() + '/browse/artists') Artists A-Z
      .fair-spacer |
      a( href=fair.href() + '/browse/exhibitors') Exhibitors A-Z
  a.sections-right( href="https://iphone.artsy.net", target="_blank" )
    .mobile-section-heading
      | Going to the fair?
      br
      i Download Artsy for iPhone
      br
      | — Your personal guide to
      br
      = fair.get('name')
    .mobile-section-iphone
