.auction-block
  border 1px solid gray-lighter-color
  width 23%

  a
    text-decoration none

  img
    max-height 110px
    height auto
    width 100%

  &__label-container
    padding 15px

  &__name, &__status
    overflow ellipsis
    serif('l-caption')

  &__status
    color gray-darker-color

  &__subtitle
    avant-garde-size('s-headline')
