if results.length === 0
  .personalize-search-result
    .personalize-search-result-display
      | Nothing found
else
  for result in results
    unless result.followed === true
      .personalize-search-result
        .personalize-search-result-display
          = result.name
        .personalize-search-result-actions
          a.avant-garde-inline-button.follow( data-id='#{result.id}', href='#' )
            | Follow
