.auctions2-body
  @media (max-width: responsive-mobile-width)
    #main-layout-header
      display block

    #main-layout-footer
      display block

    #recently-viewed-artworks
      display none
