title Editorial | Artsy
meta( property="og:title", content="Editorial | Artsy" )
meta( name="description", content="Featured Artsy articles." )
meta( property="og:description", content="Featured Artsy articles." )
meta( property="twitter:description", content="Featured Artsy articles." )
meta( property="og:url", content="#{sd.APP_URL}/articles" )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )

