if title
  p.avant-garde-l-headline.auth-modal__title= title

#auth-page.vam-outer
  .vam-inner
    header#auth-header
      unless title
        #auth-header-logo.icon-logotype
      aside
        if copy.has('signup')
          = copy.get('signup')
        else
          | The world’s greatest art, online. Sign up
          br
          | to discover and collect your favorites.

    section#auth-body
      nav.auth-options
        a.auth-signup-facebook.avant-garde-button-black(
          href='/users/auth/facebook?redirect-to=' + redirectTo
        )
          i.icon-facebook
          | Sign up with Facebook
        a.auth-signup-email.avant-garde-button-black.auth-toggle(
          href='/join?email=1', data-mode='register'
        ) Sign up using your email address

    include ./_signup_footer
