@require '../components/grid'
@require '../../../components/stylus_lib'
@require './edit'
@require './marketo'

container-width = 1120px
container-margin = 50px
section-margin = 120px
hero-unit-height = 435px
highlight-color = #6a0ac1
separator-color = #d4d4d4

//
// Page Container
//
.partnerships-container
  width container-width
  margin container-margin auto container-margin * 2 auto
  font-size 18px
  line-height 28px

//
// Hero Units
//
.partnerships-hero-unit-header
  margin-bottom 30px
  font-size 0
  h1, .partnerships-contact
    display inline-block
  h1
    width calc('100% - 230px')
  .partnerships-contact
    width 230px
    text-align right

.partnerships-contact
  font-size 23px

.partnerships-hero-unit-content
  position relative
  .preamble
    position absolute
    width 50%
    bottom container-margin
    right 0
    padding 0 container-margin 0 (container-margin / 2)
    color white
    &:before
      content ''
      width 13%
      border-top 2px solid white
      display block
      margin-bottom 10px
  .credit
    position absolute
    width 50%
    bottom 1px
    right 0
    padding 0 container-margin 0 (container-margin / 2)
    color gray-color
    font-size 10px

.partnerships-hero-unit-images
  position relative
  height hero-unit-height

.partnerships-hero-unit-image
  position absolute
  width 100%
  height 100%
  transition opacity 1.5s
  opacity 0
  &.is-active
    transition opacity 1s
    opacity 1

//
// Sections
//
.partnerships-section
  padding-top (section-margin / 2)
  padding-bottom (section-margin / 2)
  border-top 1px solid separator-color
  &:first-child
    padding-top section-margin
    border none

//
// Scetion Nav
//
.partnerships-section-nav
  padding 13px 0
  &.stuck
    position fixed
    width 100%
    top 0
    left 0
    right 0
    background-color white
    border-bottom 1px solid gray-lighter-color
    z-index 3
    > nav
      width container-width
      margin 0 auto
  > nav
    display flex
    justify-content space-between

.partnerships-nav-link
  avant-garde()
  text-decoration none
  font-size 13px
  line-height 14px
  padding 10px
  &:not(.avant-garde-button-black)
    color gray-color
    &.is-active
      color purple-color
    &:hover
      color highlight-color
    &.internal:hover
      color highlight-color
  &.avant-garde-button-black.is-small
    font-size 13px
    &.is-active
      background-color purple-color
    &:focus:not(.is-active)
      background-color black

.partnerships-all-link
  display block
  padding-top 60px
  avant-garde()
  font-size 14px
  text-align center

//
// Section Header
//
.partnerships-section-header
  margin-bottom 60px
  &.audience
    position relative
    z-index 1
  &.apply
    text-align center
    h3, .apply-button
      margin-bottom 50px
    .apply-button
      line-height 0.75em
      height 50px
      width 300px
      font-size 17px
      padding 20px 60px
  .grid-item
    vertical-align top

//
// Content of Each Section
//
.partnerships-section-content
  //
  // Network
  //
  .support-liaison
  .network-gallery-info
    avant-garde()
    text-align center
    line-height 1.5em
    font-size 14px
    margin 15px 0 10px 0
  .support-liaison-location
  .network-gallery-location
    color gray-dark-color

  //
  // Audience
  //
  &.audience
    position relative
    height 475px - (section-margin / 2)
  .audience-map
  .audience-quotes
    position absolute
    width 100%
    padding-right 40%
    bottom 0
    z-index 1
  .audience-map
    height 475px
    top -120px
    z-index 0
    padding-right 0
    img
      width 100%

  //
  // Support
  //
  .support-liaisons
    display flex
    justify-content space-between
    margin-bottom 30px
  .support-liaison
    position relative
    width 13%
    min-height 220px
    img
      width 100%
      margin-bottom 10px
    .previous
      position absolute
      opacity 1
      &.fade-out
        opacity 0
        transition opacity 1s
    .current
      position relative
      background-color white
      opacity 0
      &.fade-in
        opacity 1
        transition opacity 1s
  .support-liaison-position
    garamond()
    text-transform none
    line-height 1.2em
    font-style italic
    letter-spacing 0px
    padding-top 5px
  .support-quotes
    width 75%
    margin 0 auto
    .quote
      color black
      &:before
        border-color black

  //
  // Brwoser Images Slideshow
  //
  .browser-images-container
    position relative
    width 75%
    margin 0 auto
  .browser-frame, .browser-images
    &, img
      width 100%
  .browser-images
    position absolute
    top 0
  .browser-image
    position absolute
    left 0
    right 0
    padding 26px 3px 3px 3px
    transition opacity 1.5s
    opacity 0
    &.is-active
      transition opacity 1s
      opacity 1
  &.visibility
    .browser-images-container
      width 90%
      margin 0
    .browser-image
      padding-top 20px


  //
  // iPad/iPhone images Slideshos (override the Browser's)
  //
  .ipad-images-container
  .iphone-images-container
    display inline-block
  .ipad-images-container
    width 60%
  .iphone-images-container
    margin 0 10% 2%
    width 15%
  .ipad-image
    padding 27px 58px
  .iphone-image
    padding 42px 11px

  // Mobile frame
  .mobile-images-container
    position relative
    width 75%
    margin 0 auto
  .mobile-frame, .mobile-images
    &, img
      width 100%
  .mobile-images
    position absolute
    top 0
  .mobile-image
    position absolute
    left 0
    right 0
    padding 53px 33px 40px 20px
    transition opacity 1.5s
    opacity 0
    &.is-active
      transition opacity 1s
      opacity 1

  .image-container-caption
    text-align center
    margin-top 20px
    font-size 15px
    h4
      avant-garde()
      font-size 12px
    p
      margin-top 10px

  // Quotes
  .quote
    color highlight-color
    font-size 23px
    line-height 1.5
    &:before
      content ''
      width 45%
      border-top 2px solid highlight-color
      display inline-block
  .quote-text
    &:before
      content "\201C"
    &:after
      content "\201D"
  .quote-author
    margin-top 10px
    font-style italic
    &:before
      content "\2013"

  //Shows
  .show-name
    avant-garde()
  .show-location-date
    color gray-dark-color

  //Education
  .education-info
    avant-garde()
    text-align center
    line-height 1.5em
    font-size 14px
    margin 15px 0 10px 0
  .education-location
    color gray-dark-color


  &.auctions
    img
      max-width 100%
      margin 0 auto

  &.access
    position relative
    .auction-access-img
      padding-bottom 140px
      img
        max-width 100%

  &.event-services
    .event-services-caption
      avant-garde()
      text-align center
      line-height 1.5em
      font-size 14px
      margin 15px 0 10px 0

    .grid-item img
      max-width 100%


  &.visibility
    .visibility-left
      width 65%
      display inline-block
      .image-container-caption
        width 90%
    .visibility-right
      width 35%
      display inline-block
      vertical-align top

//
// Page specific
//
.body-partnerships #main-layout-container
  h1
    font-size 72px
    line-height 1em
  h2, h3
    font-size 42px
    line-height 1.15em
  h2
    font-style italic
    &:after
      content: "\2014"

.body-partnerships
  #main-layout-header
    position relative
  #main-layout-container
    margin-top 0 !important
    height 100% !important
  #main-layout-footer
    display none

//
// Apply A/B test
//
.gallery-partnerships-apply-form
  width 50%
  margin 0 auto
  > header
    margin 20px 0
    #apply-h3
      margin-bottom 0 !important
      font-size 34px
      > aside
        font-size 19px

  input
    &:focus
      focus()
        opacity 1
      placeholder(focus)

  .apply-button
    display inline-block
    width auto
    margin 20px 0 !important

  .partnerships-contact
    color gray-darkest-color

  .gallery-partnerships-privacy
    margin-bottom 20px
