@require '../../../components/stylus_lib'

.partnerships-marketo-form
  width 560px
  margin 0 auto 30px auto
  .mktoOffset, .mktoGutter
    display none
  input
    padding 12px !important
    border 2px solid gray-lighter-color
    font-size default-garamond-font-size
    background-color transparent
    transition border-color 0.25s
    font-size 17px !important
    &:focus
    &:active
    &.is-active
      border-color purple-color
      outline none
      transition border-color 0.5s
  form, input, .mktoFormCol, input, .mktoFieldWrap
    width 100% !important
  .mktoButtonWrap
    margin 0 !important
    button
      padding 15px !important
      border 0
      color white
      background black
      avant-garde()
      avant-garde-size('l-headline')
      width 300px
      margin-top 10px !important
      transition background-color 0.3s
      &:hover, &:active
        background purple-color
  form
    position relative
    margin-top 10px
  label
    position absolute !important
    margin-top -22px !important
    avant-garde()
    avant-garde-size('s-headline')
    color black
  & + .cta-bar-defer
    display none
  .mktoFormRow
    margin-bottom 10px
  .mktoFormRow:nth-of-type(2n)
    .mktoFormCol
      width calc(33.3333% \- 14px) !important
      margin-right 20px
      display inline-block
    .mktoFormCol:nth-of-type(3n)
      margin-right 0
      .mktoFormRow:nth-of-type(3n)
        .mktoFormCol
          width calc(33.3333% \- 14px) !important
          margin-right 20px
          display inline-block
        .mktoFormCol:nth-of-type(3n)
          margin-right 0
  .mktoButtonRow
    width 100%
    text-align center
  .mktoAsterix
    display none !important
