@import '../stylus_lib'

.article-figure
	a
		text-decoration none
		display table
		width 100%
		min-height 150px
	figcaption
		width (100% - golden-ratio-small-percent)
		padding-left 30px

.article-figure figcaption, .article-figure-img
	display table-cell
	vertical-align middle

.article-figure-img
	background-size cover
	height 100%
	width golden-ratio-small-percent

.article-figure-title
	font-size 30px
	line-height 38px

.article-figure-date
	font-size 17px
	margin-bottom 7px
	color gray-dark-color
	margin-bottom 6px

.article-figure-author
	avant-garde()
	font-size 12px
	margin-top 2px