include ../share/template

mixin article-figure(article, width, showDate, showShare)
  - var imgUrl = article.cropUrlFor('thumbnail_image', { width: width, height: Math.round(width / 1.7), quality: 90 })
  figure.article-figure: .article-figure-container
    a.article-figure-img-container( href= article.href() )
      .article-figure-img( style="background-image: url(#{imgUrl})" )

    figcaption.article-figure-figcaption
      if showDate
        time.article-figure-date
          = article.date('published_at').format('MMMM Do')

      a.article-figure-title( href= article.href() )
        = article.get('thumbnail_title')

      //- TODO: Hack for now, we need to save author data on the article.
      //- (Should be the author's href)
      a.article-figure-author( href= article.href() )
        | Artsy Editorial

      if showShare
        .article-figure-share.js-article-figure-share
          +share(
            article.get('title'),
            article.get('thumbnail_image'),
            'https://www.artsy.net' + article.href()
          )
