@require '../stylus_lib'
@require './sort_count'
@require './fixed_header'
@require './artworks'

tab-height = 46px
color-transition-duration = 0.2s
tab-padding = 15px 18px 10px 18px

.filter-nav
  display inline-block

.filter-nav-active-text
  display none
  overflow ellipsis
  max-width 120px
  text-align left

.filter-button
  transition color color-transition-duration
  &:hover, &:focus, &:active, &.is-active
    color purple-color

.filter-button, .filter-dropdown
  display inline-block
  border 1px solid gray-lighter-color
  avant-garde()
  font-size 13px
  line-height 160%
  padding tab-padding
  background transparent
  cursor pointer
  display inline-block
  vertical-align middle
  margin-top -4px
  text-decoration none
  + .filter-button, + .filter-dropdown
    border-left 0
  &.is-active
    .filter-nav-active-text
      display block
    .filter-nav-main-text
      font-size: 9px
      text-align: left
      position: absolute
      margin-top: -16px
      color black
  a
    text-decoration none

.filter-dropdown
  position relative
  padding-right 35px
  &.is-active
    color purple-color
  nav
    z-index 2
    background black
    position absolute
    top (tab-height - 1)
    left 0
    width 280px
    display none
    border-top 1px solid gray-darkest-color
  a
    text-align left
    color white
    garamond()
    font-size default-garamond-font-size
    text-transform none
    display block
    border-bottom 1px solid gray-darkest-color
    padding tab-padding
    transition background-color color-transition-duration
    position relative
    .icon-check
      content "\e627"
      font-size 16px
      position absolute
      right 10px
      bottom 7px
      display none
    &.is-active .icon-check
      display block
    &:hover, &:active, &:focus
      background-color #3a3a3a
      border-color @background-color
  .icon-arrow-down
    font-size 8px
    display block
    position absolute
    top 9px
    right 17px

.filter-dropdown:hover
  background black
  color white
  nav
    display block
  .filter-nav-main-text
  .filter-nav-active-text
    color white

.filter-dropdown-count
  margin-left 10px
  color #777
