for link in artistLinks
  li.home-featured-artist-link.grid-item
    a( href=link.get('href') )
      img( src=crop(link.imageUrl('large_rectangle'), { width: 298, height: 208 }) )
      h4= link.get('title')
      h5= link.get('subtitle')