for link, i in postLinks
  - imgUrl = link.imageUrl(i == 0 ? 'large_rectangle' : 'medium_rectangle')
  li.home-featured-post-link
    a( href=link.get('href') )
      .home-featured-cover-img( style="background-image: url(" + imgUrl + ")" )
      h4= link.get('title')
      h5= link.get('subtitle')
