for link in featuredLinks
  li.home-top-feature-link
    a( href=link.get('href') )
      img( src=link.imageUrl('small_rectangle') )
      .home-top-feature-link-details
        h3= link.get('title')
        h4= link.get('subtitle')