ul.home-footer-links
  lh Questions?
  li Contact us via
    a.faux-underline-hover( href="mailto:support@artsy.net" ) email
ul.home-footer-links
  lh Buying art on Artsy
  li
    a.faux-underline-hover( href="/about/collecting-on-artsy" ) Collecting on Artsy
  li
    a.faux-underline-hover( href="/feature/collect-with-artsy" ) Resources for Collectors
  li
    a.faux-underline-hover( href="/collecting" ) Follow Artsy Collecting for Updates
ul.home-footer-links
  lh Artsy for education
  li
    a.faux-underline-hover( href="/feature/artsy-education" ) Educational Content & Features
  li
    a.faux-underline-hover( href="/theartgenomeproject" ) The Art Genome Project
ul.home-footer-links
  lh About
  li
    a.faux-underline-hover( href="/about" ) About
  li
    a.faux-underline-hover( href="/about/jobs" ) Jobs
  li
    a.faux-underline-hover( href="/press" ) Press
  li
    a.faux-underline-hover( href="/about/partnering-with-artsy" ) Partnering with Artsy
  li
    a.faux-underline-hover( href="http://artsy.github.io/open-source/" ) Open Source