section
  h1 Questions?
  ul.home-footer-links
    li Contact us via&nbsp;
      a.faux-underline-hover( href="mailto:support@artsy.net" ) email
section
  h1 Buying art on Artsy
  ul.home-footer-links
    li
      a.faux-underline-hover( href="/about/collecting-on-artsy" ) Collecting on Artsy
    li
      a.faux-underline-hover( href="/feature/collect-with-artsy" ) Resources for Collectors
    li
      a.faux-underline-hover( href="/collecting" ) Follow Artsy Collecting for Updates
section
  h1 Artsy for education
  ul.home-footer-links
    li
      a.faux-underline-hover( href="/feature/artsy-education" ) Educational Content & Features
    li
      a.faux-underline-hover( href="/theartgenomeproject" ) The Art Genome Project
section
  h1 About
  ul.home-footer-links
    li
      a.faux-underline-hover( href="/about" ) About
    li
      a.faux-underline-hover( href="/about/jobs" ) Jobs
    li
      a.faux-underline-hover( href="/press" ) Press
    li
      a.faux-underline-hover( href="/about/partnering-with-artsy" ) Partnering with Artsy
    li
      a.faux-underline-hover( href="http://artsy.github.io/open-source/" ) Open Source