.column.first
  h3 Questions?
    p
      | Contact us via
      a.faux-underline { href: "mailto:support@artsy.net" } email
.column
  h3 Buying art on Artsy
  a.faux-underline-hover { href: "/about/collecting-on-artsy" } Collecting on Artsy
  br
  a.faux-underline-hover { href: "/feature/collect-with-artsy" } Resources for Collectors
  br
  a.faux-underline-hover { href: "/collecting" } Follow Artsy Collecting for Updates
.column
  h3 Artsy for education
  a.faux-underline-hover { href: "/feature/artsy-education" } Educational Content & Features
  br
  a.faux-underline-hover { href: "/theartgenomeproject" } The Art Genome Project
.column.last
  h3 About
  a.faux-underline-hover { href: "/about" } About
  br
  a.faux-underline-hover { href: "/about/jobs" } Jobs
  br
  a.faux-underline-hover { href: "/press" } Press
  br
  a.faux-underline-hover { href: "/about/partnering-with-artsy" } Partnering with Artsy
  br
  a.faux-underline-hover { href: "http://artsy.github.io/open-source/" } Open Source