extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'home'
  - bodyClass = bodyClass + ' body-no-margins body-header-fixed body-transparent-header'
  - bodyClass = bodyClass + (heroUnits.length && heroUnits[0].get('menu_color_class') == 'black' ? '-white' : '')

block body
  include hero_units
  #home-foreground
    #home-hero-units-controls
      button#home-hero-units-left-arrow.icon-chevron-left
      ul#home-hero-unit-dots
        for x, i in heroUnits
          li( class=(i == 0 ? 'hhud-active' : '') )
      button#home-hero-units-right-arrow.icon-chevron-right
    #home-layout-container.responsive-layout-container
      .main-layout-container
        #home-body
          ul#home-top-featured-links
            include featured_links
          h2.home-featured-header.top-featured-header
          ul#home-featured-artworks.home-four-items.home-featured-list
            .loading-spinner
          a.home-browse-all.avant-garde-button-text(
            href='/browse/artworks?price_range=-1%3A1000000000000'
          ) Browse all for sale artworks
          h2.home-featured-header Featured Shows
          #home-featured-shows.home-featured-list
            .loading-spinner
          a.home-browse-all.avant-garde-button-text( href='/shows' ) Browse all Shows
          h2.home-featured-header Featured Posts
          ul#home-featured-posts.home-featured-list
            .loading-spinner
          a.home-browse-all.avant-garde-button-text( href='/posts/featured' ) Browse all Posts
          h2.home-featured-header Featured Artists
          ul#home-featured-artists.home-four-items.home-featured-list
            .loading-spinner
          #home-footer-links
            include footer_links
