extends ../../../components/main_layout/templates/minimal_header

block head
  include meta

append locals
  - assetPackage = 'unsupported_browser'

block body
  #home-layout-container
    .main-layout-container
      #home-body
        .home-unsupported-browser-message
          p #{sd.BROWSER.family} #{sd.BROWSER.major} is not supported.
          p Please update your browser. 
