extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'search'

block body
  #main-layout-container
    #error-handler
      h1
        = name + ' has been unsubscribed from '
        if type
          = type
        else
          = ' all emails.'
