.artwork-auction
  block-margins(15px)

  &__estimate
  &__bid-status
  &__help
    block-margins(15px)

  &__bid-status
    padding 15px 0
    border-top 1px solid gray-lighter-color
    border-bottom @border-top
    &__bid
      avant-garde-size('body')
    &__amount
      avant-garde-size('xl-headline')
    &__count
      color gray-dark-color

  &__buyers-premium
    block-margins(15px)
    color gray-dark-color

  &__help > a
  &__buyers-premium > a
    color gray-dark-color
    fine-faux-underline(gray-dark-color)
