@require './components/buyers_premium'
@require './components/confirm_bid'

.artwork-auction
  padding (gutter / 2) 0

  &__estimate
  &__bid-status
  &__bid-form
  &__buyers-premium
  &__help
    block-margins(distance(gutter / 2, 'garamond-s-body'))

  &__bid-status
    position relative
    serif('l-caption')
    padding distance(gutter / 2) 0
    border-top 1px solid gray-lighter-color
    border-bottom @border-top

    &__bid
    &__bidder-status
      sans('s-headline')

    &__closed
      serif('s-body')

    &__bidder-status
      position absolute
      top distance(gutter / 2)
      right @top

      &[data-status='highest']
        color new-green-color

      &[data-status='outbid']
        color new-red-color

    &__amount
      sans('xl-headline')

    &__count
      color gray-dark-color

  &__bid-form
    &__errors
      serif('l-caption')
      margin distance(gutter / 2) 0 0 0

    &__next-bid
      serif('s-body')
      color gray-dark-color

    &__input
      margin distance(10px, 'garamond-s-body') 0

    &__button
      margin-top 10px !important

  &__buyers-premium
    serif('s-body')
    color gray-dark-color

  &__buy-now
    margin-top gutter

    &__label
      sans('s-headline')

    &__amount
      sans('xl-headline')

    &__form
      block-margins(distance(gutter / 2, 'garamond-s-body'))

  &__help
    serif('s-body')
    margin-top distance(gutter)

  &__buyers-premium > a
  &__help > a
    color gray-dark-color
    fine-faux-underline(gray-dark-color)
