.fair-info-aaw-menu
  margin-bottom 50px
  h1
    garamond-size('headline', true)
  a
    text-decoration none
.fair-info-aaw-neigborhoods
  margin-top 50px

.fair-info-aaw-neigborhood
  margin 40px 0
  .article-author-date
    display none
  .article-social
    display none
  .article-share-fixed
    display none
  .article-section-image
    width auto
  .article-section-image figcaption
    text-align center
