.fair-info-aaw-menu
  margin-bottom 50px
  h1
    garamond-size('headline', true)
  a
    text-decoration none
.fair-info-aaw-neigborhoods
  margin-top 5px

.fair-info-aaw-neightborhood-nav
  display inline-block
  garamond-size('l-body')
  margin-right .4em
  &:after
    margin-left .4em
    content '/'
  &:last-child:after
    content ''

.fair-info-aaw-neigborhood
  margin 40px 0
  .article-author-date
    display none
  .article-social
    display none
  .article-share-fixed
    display none
  .article-section-image
    width auto
  .article-section-image figcaption
    text-align center
  .large-garamond-header
    garamond-size('headline')
    text-align left
    width 570px
