.fair-info-programming .article-container
  width 90%

.fair-info-article
  .article-author-date
    display none

#page-markdown-content.fair-info2-article-section
  margin 0px
  padding 0px
  .fair-info2-content
    margin-top 0px
  #opening-day
    margin-top 0px
  h3
    garamond()
    font-weight bolder
    font-size 19px
  img
    max-width 500px

  .fair-info2-content
    width 500px
    display inline-block
    vertical-align top

.fair-info-article
  .main-layout-container
    max-width 1250px
  .article-section-image
    width 100%
    max-width 1100px
