.fair-info2-event-type-title
  avant-garde()
  font-size 17px
  margin-bottom 60px

.fair-info-event-item
  display flex
  margin-bottom 60px
  .fair-info-event-item-time
    width 30%
    .event-day-date
      garamond()
      font-size 30px
      line-height 1.5
    .event-time
      avant-garde()
      font-size 15px
    .add-to-calender
      color gray-color
  .fair-info-event-item-details
    width 70%
    .event-title
      garamond()
      font-size 30px
      line-height 1.5
    .event-address
      avant-garde()
      font-size 13px
      margin-bottom 15px
    .event-description
      garamond()
      font-size 17px