.fair-info2-event-type-title
  avant-garde()
  font-size 17px
  margin-bottom 60px

.fair-info-event-item
  display flex
  margin-bottom 60px

.fair-info-event-item-date
  width 30%
  margin-right 15px
  letter-spacing normal
  &__formatted-date
    garamond()
    font-size 25px
    line-height 1.5
    display none
  &__time
    avant-garde()
    font-size 15px
  &__add-to-calender
    color gray-color
    font-size 17px
    text-decoration none

.fair-info-event-calendar-wrapper
  display none
  margin-top 10px
  .fair-info-event-arrow-up
    width 0
    height 0
    border-left 8px solid transparent
    border-right 8px solid transparent
    border-bottom 8px solid black
    margin-left 70px
  .fair-info-event-calendar-container
    width 150px
    height 160px
    background-color #000
    padding-top 15px
    a
      width 100%
      display block
      color white
      garamond()
      text-decoration none
      font-size 17px
      padding 0 20px
      line-height 2
    a:hover
      background-color gray-darkest-color




.fair-info-event-item-details
  letter-spacing normal
  width 70%
  &__title
    garamond()
    font-size 25px
    line-height 1.5
  &__address
    avant-garde()
    font-size 13px
    margin-bottom 15px
  &__description
    garamond()
    font-size 17px
    text-transform none

.fair-info-event-day .fair-info-event-item:first-child
  .fair-info-event-item-date__formatted-date
    display inline

.fair-info-event-map-link
  margin-left 20px
  text-decoration none
  .icon-circle-chevron
    vertical-align middle
  span
    garamond()
    text-transform capitalize