@require "../../../components/stylus_lib"

.fair-info2-content-wrapper
  display flex
  margin-top 40px

.fair-info2-nav
  margin-right 100px
  avant-garde()
  width 20%
  a
    display block
    text-decoration none
    font-size 17px
    margin-bottom 30px
    color gray-color
  a.is-active
    color black

.fair-info2-body
  width 100%
  .fair-info2-map
    width 100%
    height 300px
    background-color aliceblue


