#galleries-institutions-footer
  .galleries-institutions-footer-section.galleries-institutions-footer-section-left
    .galleries-institutions-footer-text Interested in Listing Your #{type == 'gallery' ? 'Gallery' : 'Museum'} on Artsy?
    a.galleries-institutions-footer-button.avant-garde-button-white(href="/#{type}-partnerships") Learn More
  if type == 'gallery'
    .galleries-institutions-footer-section.galleries-institutions-footer-section-right
      .galleries-institutions-footer-text Read Artsy Insights for Galleries
      a.galleries-institutions-footer-button.avant-garde-button-white(href="/gallery-insights") Explore
