extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'artists_artworks'

block body
  for categories, index in categoryMap
    include ../../../components/commercial_filter/filters/category/index
