@require '../../stylus_lib'

.filter-fixed-header-container
  clearfix()

.filter-fixed-header
  > *:not(.jump-to-top)
    position fixed
    top 0
    left 0
    width 100%
    z-index zindex-filter-fixed-header
    background white
    margin 0
    padding 0
  .filter-fixed-header-left
    display block

.filter-fixed-header-left
  position absolute
  top 26px
  left @top
  display none

.filter-fixed-header-nav
  text-align center
  background white

.filter-fixed-header .filter-fixed-header-nav
  margin 0
  padding 15px 0
  border-bottom 1px solid gray-lighter-color
  border-top 0
