.abrv-context--float
  float left
  position relative

  .abrv-context__content
    white-space normal

.abrv-content
  .my-active-bids-item
    border-bottom none
    padding-right 15px
    margin-right 15px
    border-right 1px solid gray-lighter-color
    display inline-block
    width calc(25% \- 15px)
    min-width value
    .my-active-bids-item-details
      padding-top 8px
      garamond-size('l-caption', true)
    .my-active-bids-warning, .my-active-bids-bid-button
      right 15px
    .bid-status
      padding-right 10px
    @media screen and (max-width: 1200px)
      width calc(50% \- 15px)

.abrv-context__content
  z-index 100
  overflow ellipsis
  height 100%
  &--fair
    img
      width 75px
      height 75px
  &--auction
    white-space normal
    &__info
      p
        margin-bottom 10px
        white-space normal

  &--iconic-artists, &--followed-artists
    &__artist, &__more-artists
      display block
      avant-garde-size('body', true)
      text-decoration none
      margin 10px 0
      width 100%
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      &:hover
        color purple-color
      &:first-child
        margin-top 0

#home-featured-shows-section
  .grid-2-up > .grid-item
    width calc(50% \- 15px)
    margin 30px 30px 0 30px
    &:first-child, &:nth-child(1n)
      margin-left 0
    &:last-child, &:nth-child(2n)
      margin-right 0
    &::nth-child(-n+2)
      margin-top 0
  .grid-3-up > .grid-item
    width calc(33% \- 17px)
    margin 30px 30px 0 30px
    &:first-child, &:nth-child(1n)
      margin-left 0
    &:nth-child(3n)
      margin-right 0
    &::nth-child(-n+3)
      margin-top 0
