extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'browse2'
  - bodyClass = bodyClass + ' body-infinite-scroll'

block body
  .commercial-filter
    .cf-sidebar
      .cf-sidebar__filter.cf-sidebar__price
        //- rendered on the client
      .cf-sidebar__filter.cf-sidebar__mediums
        //- rendered on the client
    .cf-right
      .cf-artworks
        //- rendered on the client
      hr
      .cf-pagination
        //- rendererd on the client
