html
  head
    meta(charset="UTF-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    script(type='text/javascript' src="https://aframe.io/releases/0.5.0/aframe.min.js")
  body
    a-scene
      a-assets
        video(id="video" src=("#{sd.APP_URL}" + "/vanity/videos/output3.mp4") loop crossorigin webkit-playsinline)
      a-videosphere(src="#video" rotation="0 180 0")

    script(type='text/javascript').
      var VRButton = document.querySelector('.a-enter-vr-button');
      VRButton.addEventListener('touchend',function(event){
        var video = document.querySelector('video');
        video.play();
      });