.venice-overlay(style="background-image:url(#{section.cover_image})")
  .venice-overlay__text
    .venice-overlay__title Inside the Biennale
    .venice-overlay__sub-title= section.title
    .venice-overlay__play
      .venice-overlay__play-button
      .venice-overlay__play-text Play Video
      .venice-overlay__play-length= section.video_length