title Venice Biennale 2017
link( rel="canonical", href=(sd.APP_URL + '/venice-biennale') )
meta( name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' )
meta(name="apple-mobile-web-app-capable" content="yes")
script(src="#{sd.APP_URL}/vanity/vrview/build/vrview.min.js")