title Venice Biennale 2017 - Artsy
link( rel="canonical", href=(sd.APP_URL + '/venice-biennale') )
meta(name="description" content="Explore the 2017 Venice Biennale with a series of immersive 360° films featuring artists Christian Marclay, Carol Bove, Erwin Wurm, and more.")
meta(name="keywords" content="Venice Biennale, 2017 Venice Biennale")
meta( name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' )
meta(name="apple-mobile-web-app-capable" content="yes")
script(src="#{sd.APP_URL}/vanity/vrview/build/vrview.min.js")