extends ../../../../../components/main_layout/templates/blank.jade

append locals
  - assetPackage = 'editorial_features'

block head
  include head

block body
  .venice-feature
    include ./nav

    .venice-header
      include ./video
      include ./cover

    .venice-footer
      //- TODO