extends ../../../../../components/main_layout/templates/blank.jade

append locals
  - assetPackage = 'editorial_features'
  - section = curation.get('sections')[videoIndex]

block head
  include head

block body
  .venice-feature
    include ./nav

    .venice-header
      .venice-info-icon
        include ../icons/icon_i.svg
      include ./video
      include ./carousel

    .venice-body
      include ./body

    .venice-footer
      if curation.get('sub_articles').length > 1
        include ./footer

    .venice-guide
      include ./video_guide