extends ../../../../../components/main_layout/templates/blank.jade

append locals
  - assetPackage = 'editorial_features'

block head
  include head

block body
  - section = curation.get('sections')[videoIndex - 1]
  .venice-feature
    include ./nav

    .venice-header
      include ./video
      include ./cover

    .venice-body
      include ./body

    .venice-footer
      if curation.get('sub_articles')
        include ./footer
