.venice-nav
  .venice-nav__sticky-left
      a( href="/" ).venice-nav__sticky-artsy-logo.icon-logotype
      .venice-nav__plus.icon-close
      a(href="https://www.ubs.com/global/en/about_ubs/contemporary-art.html").venice-nav__sticky-ubs-logo
        img(src="https://artsy-media-uploads.s3.amazonaws.com/qp6GUcn5RkvscdYEBmqFXw%2FUBS_White.png")
  .venice-nav__sticky-right
    a.venice-nav__sticky-magazine(href=sd.APP_URL + '/articles') Back to Editorial