.venice-video
  #vrvideo
  #controls
    #togglemute(data-state='unmuted')
      .muted
        include ../icons/icon_muted.svg
      .unmuted
        include ../icons/icon_volume.svg
    #toggleplay
      #toggleplay__icon
    .venice-video__scrubber
    include ../icons/icon_vr.svg