.venice-video
  #vrvideo
  #controls
    #toggleplay
      #toggleplay__icon
    .venice-video__scrubber
      .venice-video__scrubber-outer
      .venice-video__scrubber-inner
        .venice-video__scrubber-marker
        .venice-video__scrubber-time 00:00
    include ../../../public/icons/vr-icon.svg