.venice-video
  #vrvideo
  .venice-video__close
    i.icon-close
  #controls
    #togglemute(data-state='unmuted')
      .muted
        include ../icons/icon_muted.svg
      .unmuted
        include ../icons/icon_volume.svg
    #toggleplay
      #toggleplay__icon
    .venice-video__scrubber
  .venice-video__vr-icon
    include ../icons/icon_vr.svg