.venice-video
  #vrvideo
  #controls(class=!section.published? 'unpublished':undefined)
    #togglemute
      include ../icons/icon_mute.svg
    #toggleplay
      #toggleplay__icon
    .venice-video__scrubber
    include ../icons/icon_vr.svg