h2
  | Works
  span.artwork-filter-total (#{filter.get('total')})

if filter.engaged
  section.artwork-filter-selected
    ul: for value, key in filter.selected.attributes
      unless key === 'price_range'
        li: a.artwork-filter-reset( data-value= value, data-key= key )
          i.icon-remove-small
          = filter.humanize(value)

.artwork-filter-for-sale.artsy-checkbox
  input( type='checkbox', name='for-sale', id='for-sale', checked=(filter.selected.has('price_range') ? 'checked' : undefined) )
  label( for='for-sale', data-label="Only For Sale" )

for criteria, key in filter.criteria()
  section
    h3= criteria.label
    ul: for filter in criteria.filters
      li: a.artwork-filter-criteria( data-value= filter.key, data-key= key )
        span.artwork-filter-label= filter.label
        span.artwork-filter-count (#{filter.count})
