h2
  | #{artist.get('name')}:
  = ' '
  if labels = filter.selected.labels(filter.root.attributes)
    | #{labels} &mdash; #{filter.get('total')} works
  else
    | #{filter.get('total')} works

include ../../bordered_pulldown/mixin

.artwork-filter-sort-count
  .artwork-filter-sort-count-pulldown
    +bordered-pulldown((sortVal || 'Recently Added'), 'Sort by:')
      a( data-sort='-date_added', href="#" ) Recently Added
      a( data-sort='-date_created', href="#" ) Artwork Year (desc.)
      a( data-sort='date_created', href="#" ) Artwork Year (asc.)
      a( data-sort='-merchandisability', href='#' ) Relevance