.artwork-section
  #artwork-filter.artwork-filter
    //- Rendered separately
  #artwork-columns-section.artwork-columns-section
    #artwork-columns.artwork-columns
      //- Rendered separately
    button#artwork-see-more.avant-garde-button-text
      | See More
