.artwork-section
  #artwork-filter.artwork-filter
    h2 Works
    #artwork-filter-selection
    //- Rendered separately
  #artwork-section__content.artwork-section__content
    #artwork-section__header
      //- Rendered separately
      h2: .loading-ellipsis: each x in [0, 0, 0]
        span .

    #artwork-section__artworks.artwork-section__artworks
      //- Rendered separately

    .link-and-spinner
      .artwork-spinner-container
        .loading-spinner
      if model.get('published_artworks_count') > 9 && showSeeMoreLink
        a#artwork-see-more.avant-garde-button-black.is-block(href="#{model.href()}/works")
          | See All (
          span= model.get('published_artworks_count')
          | )