.artwork-section
  #artwork-filter.artwork-filter
    //- Rendered separately
  #artwork-section__content.artwork-section__content
    #artwork-section__header
      //- Rendered separately
      h2: .loading-ellipsis: each x in [0, 0, 0]
        span .

    #artwork-section__artworks.artwork-section__artworks
      //- Rendered separately
    button#artwork-see-more.avant-garde-button-white.is-block
      | See More
