if color || medium || price
  .cf-pillbox__pillboxes
    if color
      .cf-pillbox__pillboxes__color
        span.cf-pillbox__pillboxes_display(class="cf-pillbox__pillboxes_display--#{color}")
        span.cf-pillbox__pillboxes_clear(data-value='color') ×
    if medium
      .cf-pillbox__pillboxes__medium
        span.cf-pillbox__pillboxes_display= medium
        span.cf-pillbox__pillboxes_clear(data-value='medium') ×
    if price
      .cf-pillbox__pillboxes__price
        span.cf-pillbox__pillboxes_display= price
        span.cf-pillbox__pillboxes_clear(data-value='price_range') ×
