mixin artwork(artwork)
  img(src=resize(artwork.image, { width: 500 } ))
  p= artwork.title + ", " + artwork.date + ". "
    br
    if artwork.artists
      = toSentence(_.pluck(artwork.artists, 'name'))
    else if artwork.artist
      = artwork.artist.name
    br
    if artwork.partner
      = artwork.partner.name

mixin image(image, width)
  img(src=resize(image.url, { width: width } ))
  if image.caption
    != image.caption