//- Hero Section
- hero = article.get('hero_section')
if hero
  case hero.type
    when 'video'
      != embed(hero.url)
    when 'image'
      img( src=resize(hero.url, { width: 1100 }) )
      if hero.caption
        != hero.caption

//- Content
if article.strip('lead_paragraph')
  != article.get('lead_paragraph')
for section, i in article.get('sections')
  case section.type
    when 'text'
      != section.body
    when 'image'
      img( src=resize(section.url, { width: 500 }) )
      if section.caption
        != section.caption
    when 'video'
      != embed(section.url)
    when 'artworks'
      if section.artworks
        for artwork in section.artworks
          img(src=resize(artwork.image, { width: 500 } ))
          p= artwork.title + ", " + artwork.date + ". "
            br
            if artwork.artists
              = toSentence(_.pluck(artwork.artists, 'name'))
            else if artwork.artist
              = artwork.artist.name
            br
            if artwork.partner
              = artwork.partner.name
