footer#auth-footer
  p.auth-mode-toggle
    | Don&rsquo;t have an account?&nbsp;
    a.small-caps.auth-toggle(
      data-mode='signup',
      href='/sign_up?redirect-to=' + redirectTo 
    ) Sign up
