#auth-page.vam-outer
  .vam-inner
    include ./_header
      aside
        if copy.has('signup')
          = copy.get('signup')
        else
          | The world’s greatest art, online. Sign up
          br
          | to discover and collect your favorites.

    section#auth-body
      include ./_gdpr_signup_form
    include ./_signup_footer
