.cf-headline__headline
  padding-bottom padding-unit * 2
  garamond-size('l-headline')
  line-height 1
  > div
    display inline-block
    &:after
      content ' '
      margin-right 5px
  &__color
    text-transform capitalize
