.cf-headline__headline
  if showDefault
    | Collect Art & Design Online
  else
    if color
      .cf-headline__headline__color= color
    .cf-headline__headline__medium= medium
    .cf-headline__headline__price= price
