.cf-headline__headline
  padding padding-unit
  garamond-size('headline')
  font-size 25px
  > div
    display inline-block
    &:after
      content ' '
      margin-right 5px
    &:first-child:after
      content ''
      margin-right 0
  &__medium, &__color
    text-transform capitalize
