.cf-headline__headline
  padding 0 padding-unit
  garamond-size('headline')
  font-size 25px
  > div
    display inline-block
    &:after
      content ' '
      margin-right 5px
  &__medium, &__color
    text-transform capitalize
