//
// Styles for the bid page when clicking "Bid" on an artwork in an auction
//

@import '../components/stylus_lib'
@import '../components/bid_numbers'

#feature-bid-page-container
  margin 20px
  h1
    margin-bottom 15px

#feature-bid-page-detail
  clearfix()
  img
    height 50px
    float left
    margin 0 15px 15px 0
  h2
    line-height 21px

#feature-bid-page-register-button
  margin 20px 0

#feature-bid-page-register-button
  background highlight-color
  color white
  text-align center
  border 0

  &.is-disabled
    background-color gray-color
    color white

.feature-bid-page-button
  &.is-disabled
    border-color gray-color
    background-color gray-color
    color white

#feature-bid-page-register-button-info
  text-align center
  color #f0cc49

#feature-bid-page-form
  input
    margin-top 15px
  button
    margin-top 15px

#feature-bid-page-errors
  color bad-red-color
  margin-bottom 15px
  display none
  text-align center
  avant-garde()
  avant-garde-size('s-headline', true)
  > a
    color bad-red-color

#feature-bid-page-legal-copy
  margin-top 15px
  padding-top @margin-top
  border-top 1px solid light-gray-border-color
  p
    margin-bottom 1em

#feature-bid-page-confirm
  margin-top 20px
  .avant-garde-box-button
    margin-top 60px
  h1
    font-size large-avant-garde-font-size
    margin-bottom 10px
  h2
    text-align center

#feature-clock-container
  margin-top 30px
  left 0
  width 100%
  &.is-almost-over .auction-clock-value
    color red-color

#feature-bid-page-min-bid
  margin 10px 0
  color dark-gray-text-color
  &.disabled
    color light-gray-text-color

.feature-bid-page-max-bid-headers
  text-align center
  h2
    garamond-size('headline')
    margin 30px 0 20px 0
  h3
    garamond-size('s-body')
    color dark-gray-text-color
    margin-bottom 10px

.feature-bid-page-lot-num
  avant-garde-size('s-headline', true)

.feature-bid-page-max-bid-select
  background transparent

.feature-bid-page-max-bid
  position relative

.feature-bid-page-max-bid-overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background rgba(255,255,255,0.7)
  z-index 2

.feature-bid-page-h1
  garamond-size('s-headline')
  text-align center

#feature-bid-page-container .bid-numbers
  position relative
  left -20px
  width calc(100% + 40px)
  padding 15px
  border-top 1px solid light-gray-border-color
  border-bottom @border-top

.feature-bid-page-conditions
  margin 10px 0
  garamond-size('s-caption')
  color dark-gray-text-color
  a
    color dark-gray-text-color
