@require '../stylus_lib'
@require '../artwork_brick'

.artwork-brick--auction
  .artwork-metadata-stub
    height inherit
    serif('l-caption')
    margin distance(gutter / 2) 0 distance(gutter * 2) 0

    &__line
      &, > a
        color black

    &__lot-number
      sans('s-headline')
      margin-bottom distance(gutter / 2)

    &__sale-artwork
      margin-top distance(gutter / 2)

      &__estimate
        margin-bottom distance(gutter / 1.5)

      &__sale-message
        avant-garde-size('s-headline')
        color black

      &__buttons
        margin-top (gutter / 1.5)

        > form
          display inline

        &[data-size='1'] .artwork-metadata-stub__sale-artwork__buttons__button
          display block

        &[data-size='2'] .artwork-metadata-stub__sale-artwork__buttons__button
          width calc('50% - %s' % (gutter / 5))
          inline-block-margins(gutter / 5)
