- var auction = artwork.sale
- var sale_artwork = artwork.sale_artwork

.artwork-brick.artwork-brick--auction(
  class='js-artwork-brick'
  data-id= artwork.id
  data-type= 'auction_artwork'
)
  include ../artwork_brick/templates/auction_image

  .artwork-metadata-stub
    if sale_artwork.lot_number
      .artwork-metadata-stub__lot-number
        | Lot #{sale_artwork.lot_number}

    include ../artwork_metadata_stub/templates/didactics
    include ./templates/bid_status
