extends ../../../components/layout/templates/main

block content
  #auction-registration-page
    .bid-registration-form.credit-card-form
      .bid-registration-form-header
        h2.avant-garde-header-center Register to bid on Artsy
        p.registration-info= sd.BIDDER_INFO_COPY_P1
        p.registration-info= sd.BIDDER_INFO_COPY_P2
      .bid-registration-form-contents
        include ./registration-form
      .registration-form-content
        .avant-garde-box-button.avant-garde-box-button-black.is-disabled
          | Register
          .loading-spinner
