- var showName = false

.auction-registration-form
  .registration-form-section.credit-card
    .registration-form-header Card Information
    .registration-form-content
      include ../../../components/credit_card/templates/credit_card

  .registration-form-section.billing-address
    .registration-form-header Billing Address
    .registration-form-content
      include ../../../components/credit_card/templates/address

include ../../../../desktop/apps/auction_support/templates/conditions-of-sale-checkbox.jade
