@import '../stylus_lib'
//@import './sort_count'
//@import './fixed_header'
//@import './artworks'

tab-height = 46px
dark-border-color = #333
color-transition-duration = 0.2s
tab-padding = 15px 18px 8px 18px

.filter-dropdown
  cursor pointer
  display inline-block
  vertical-align middle
  &.is-active
    background black
    color white
    nav
      display block
    .filter-nav-main-text
    .filter-nav-active-text
      color white
    .filter-dropdown-active
      visibility hidden

.filter-dropdown-title
  avant-garde()
  font-size 12px
  padding tab-padding
  text-align center

.filter-dropdown-active
  color light-gray-border-color
  font-size 18px
  font-style italic
  margin-left 18px
  margin-top -2px
  position absolute
  visibility hidden
  white-space nowrap

.filter-dropdown
  margin 0
  margin-bottom 40px
  position relative
  nav
    background black
    border-top 1px solid dark-border-color
    display none
    left 0
    padding 0 10px 10px
    position absolute
    width 300px
    z-index 2
  a
    border-bottom 1px solid dark-border-color
    color white
    display block
    garamond()
    font-size: 20px
    padding tab-padding
    position relative
    text-align center
    text-decoration none
    text-transform none
    transition background-color color-transition-duration
    &.is-active, &:active, &:focus
      font-style italic
    &:hover
      background-color #3a3a3a

.filter-dropdown:last-child
  float right
  .filter-dropdown-active
    margin-left 0
    margin-right 18px
    right 0
    text-align right
  nav
    left auto
    right 0
