.filter-sort-count-pulldown
  float right
  margin-top -10px

.filter-sort-count-count
  float left
  font-style italic

.filter-sort-count
  clearfix()

.filter-heading
  text-transform capitalize
  font-size 28px
  margin-bottom 10px
