.auction-ArtworkRail
  &__title
    font-size 30px
    padding-top 30px
    margin-top 30px
    border-top 1px solid gray-lighter-color

  &__content
    display flex
    justify-content space-between
    align-items center

    &:hover svg
      visibility visible

  &__page-left, &__page-right
    width 30px

    svg
      visibility hidden

    &:hover
      cursor pointer

  &__artworks
    width 100%
    .auction-page-GridArtwork
      width 100%

  &__artwork
    float left
    width 25%
    padding 15px
    a
      text-decoration none

  .disabled
    pointer-events none

    svg
      fill gray-lighter-color
