@require '../components/merry_go_round'
@require '../components/inquiry_questionnaire/stylesheets'
@require '../components/artwork_item/stylesheets'

.arv-container
  margin-top 20px
  padding-top 40px
  border-top 1px solid gray-lighter-color
  position relative
  &:first-child
    border-top none
    padding-top 0

.arv-header
  margin-bottom 30px
  position relative
  h1
    garamond-size('headline', true)

.arv-view-all
  faux-underline(black)
  position absolute !important
  right 0
  top 0

.mgr-cell.arv-fillwidth-row
  padding-bottom 120px

.arv-carousel
  position relative
  max-width 100%
  height 360px

  .artwork-item-caption
    height 120px
    position absolute
    bottom 0
    vertical-align top
