@import '../../../components/stylus_lib'

mlf-upper-column-aside-width = 30%
mlf-upper-column-width = ((100% - mlf-upper-column-aside-width) / 4)

#main-layout-footer
  padding 20px 0
  background-color white
  clearfix()

.mlf-upper
.mlf-lower
  clearfix()
  padding 20px 0
  border-top 1px solid gray-lighter-color

// Upper
.mlf-upper-column
.mlf-upper-column-aside
  float left
  line-height 1.7
  padding-right 20px
  a
    display block
    overflow ellipsis
.mlf-upper-column-aside
  width mlf-upper-column-aside-width
  h4
    font-weight bold
    block-margins(5px)
.mlf-upper-column
  width mlf-upper-column-width
  h4
    avant-garde()
    font-size 13px
    margin-bottom 5px
  a
    text-decoration none

@media screen and (max-width: 1024px)
  mlf-upper-column-aside-width = 25%
  .mlf-upper-column-aside
    width mlf-upper-column-aside-width
  .mlf-upper-column
    width mlf-upper-column-width

// Lower
#main-layout-footer-internal
  float left
  a
  span
    display inline-block
    margin 0 7px
    vertical-align middle
    text-decoration none
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0

#main-layout-footer-logo
  display inline-block
  font-size 30px
  margin-right 20px

#main-layout-footer-external
  float right

.mlf-social
  display inline-block
  font-size 18px

@media (max-width: 600px)
  .body-responsive #main-layout-footer
    display none
