footer#main-layout-footer
  nav#main-layout-footer-internal
    a#main-layout-footer-logo.icon-logo-glyph( href='/' )
    span.mlf-links
      span &copy;#{(new Date).getFullYear()} Artsy
      span |
      a( href='/about', data-transition ) About
      a( href='/about/jobs', data-transition ) Jobs
      a( href='/press', data-transition ) Press
      a( href='http://artsy.github.com/open-source/', target='_blank' ) Open Source
      a( href='/terms', data-transition ) Terms of Use
      a( href='/privacy', data-transition ) Privacy Policy
      a.mlf-feedback( href='#' ) Feedback

  nav#main-layout-footer-external
    a.mlf-social.icon-twitter( href='http://twitter.com/artsy', target='_blank')
    a.mlf-social.icon-facebook( href='http://www.facebook.com/artsy', target='_blank')
    a.mlf-social.icon-tumblr( href='http://artsy.tumblr.com', target='_blank')
