footer#main-layout-footer: .responsive-layout-container
  .mlf-upper: .main-layout-container
    .mlf-upper-column-aside
      h4 Sales & auctions questions?
      a.mlf-specialist( href='#' ) Contact Our Advisory Team
      h4 General questions & feedback?
      a( href='mailto:support@artsy.net' ) Contact support@artsy.net
      a( href='mailto:press@artsy.net' ) Contact press@artsy.net
      a.mlf-feedback( href='#' ) Send us feedback
    .mlf-upper-column
      h4 Collecting
      a( href='/about/collecting' ) Collecting on Artsy
      a( href='/feature/collect-with-artsy' ) Collecting Resources
      a( href='/auction-info' ) About Artsy Auctions
    .mlf-upper-column
      h4 Education
      a( href='/feature/artsy-education' ) Education
      a( href='/about/the-art-genome-project' ) The Art Genome Project
    .mlf-upper-column
      h4 About Artsy
      a( href='/about' ) About
      a( href='/about/jobs' ) Jobs
      a( href='http://artsy.github.com/open-source/', target='_blank' ) Open Source
      a( href='/galleries' ) Galleries A–Z
      a( href='/institutions' ) Museums A–Z
    .mlf-upper-column
      h4 Partnering & Press
      a( href='/gallery-partnerships' ) Artsy for Galleries
      a( href='/institution-partnerships' ) Artsy for Institutions
      a( href='/about/press' ) Press

  .mlf-lower: .main-layout-container
    nav#main-layout-footer-internal
      a#main-layout-footer-logo.icon-logo( href='/' )
      span.mlf-links
        span &copy; #{(new Date).getFullYear()} Artsy
        a( href='/terms' ) Terms of Use
        a( href='/privacy' ) Privacy Policy
        a( href='/security' ) Security
    nav#main-layout-footer-external
      a.mlf-social.icon-twitter( href='http://twitter.com/artsy', target='_blank')
      a.mlf-social.icon-facebook( href='http://www.facebook.com/artsy', target='_blank')
      a.mlf-social.icon-tumblr( href='http://artsy.tumblr.com', target='_blank')
