footer#main-layout-footer
  nav#main-layout-footer-internal
    a#main-layout-footer-logo.icon-logo( href='/' )
    span.mlf-links
      span &copy;#{(new Date).getFullYear()} Artsy
      span |
      a( href='/about' ) About
      a( href='/about/jobs' ) Jobs
      a( href='/press' ) Press
      a( href='http://artsy.github.com/open-source/', target='_blank' ) Open Source
      a( href='/terms' ) Terms of Use
      a( href='/privacy' ) Privacy Policy
      a( href='/security' ) Security
      a.mlf-feedback( href='#' ) Feedback

  nav#main-layout-footer-external
    a.mlf-social.icon-twitter( href='http://twitter.com/artsy', target='_blank')
    a.mlf-social.icon-facebook( href='http://www.facebook.com/artsy', target='_blank')
    a.mlf-social.icon-tumblr( href='http://artsy.tumblr.com', target='_blank')
