#partner-application
  margin 0px auto
  max-width 600px
  header
    h1
      margin-bottom 30px
      text-align center
      line-height 1.2em
    p
      font-size 22px
      line-height 1.25
      margin 20px auto 0px
  form
    margin 30px auto
    input, textarea, select
      width 100%
      margin-bottom 16px
      margin-top: 5px
    .artsy-checkbox
      margin-bottom 20px
    .split-left, .split-right
      width 49%
      display inline-block
      input
        width 100%
    .split-left
      margin-right 2%
    .partner-type-label
      width 100%
      display block
      select
        width 100%
        display block
