@require '../../../components/stylus_lib'
@require '../../../components/artwork_rail/stylesheets/index'

@require './landing/desktop'
@require './landing/faq'
@require './landing/header'
@require './landing/mobile'

@require '../components/checkbox_input/index'
@require '../components/choose_artist/index'
@require '../components/create_account/index'
@require '../components/describe_work_desktop/index'
@require '../components/describe_work_mobile/index'
@require '../components/forgot_password/index'
@require '../components/location_autocomplete/index'
@require '../components/log_in/index'
@require '../components/radio_input/index'
@require '../components/select_input/index'
@require '../components/sign_up/index'
@require '../components/step_marker/index'
@require '../components/submission_flow/index'
@require '../components/text_input/index'
@require '../components/thank_you/index'
@require '../components/upload_photo/index'
@require '../components/upload_photo_landing/index'
@require '../components/uploaded_image/index'

.consignments2-submission-body
  @media (max-width: responsive-mobile-width)
    #main-layout-header
      height 53px
      #main-header-search-form, #main-header-search-button
        display none

  .mlh-notification
    display none

  .consignments2-submission
    min-height calc(100vh \- 230px)

    #consignments2-submission__flow
      margin-bottom 50px

    &__footer
      position absolute
      left 0
      right 0
      background-color white

      @media (max-width: responsive-mobile-width)
        display none

    &__footer-contents
      display flex
      justify-content space-between
      padding 20px
      border-top 1px solid gray-lighter-color
