#unsupported-browser
  text-align center
  width 300px
  p
    avante-garde()
    margin-bottom 1em

.unsupported-browser-artsy-logo
  margin-top 100px

.unsupported-browser-message
  font-size 24px
  margin 50px 0 20px

.unsupported-browser-recommendations
  text-align left
  margin-bottom 40px
  a
    display inline-block
    margin-bottom 20px
    text-align center
    width 140px
    &.unsupported-browser-update-first
      margin-right 20px
