@require '../clock'

.artwork-banner
  position relative
  display flex
  flex-direction row
  justify-content space-between
  align-items flex-end
  block-margins(gutter / 2)
  padding-bottom (gutter / 3)
  text-align left
  border-bottom 1px solid gray-lighter-color

  &[data-type='ArtworkContextPartnerShow']
    .artwork-banner__name
      serif('s-body')

      &__status
        sans('s-headline')

  &__logo
  &__thumbnail
    margin-right (gutter / 2)

  &__logo
    padding-right (gutter / 2)
    border-right 1px solid gray-lighter-color

  &__name
    position relative
    flex 1
    serif('s-headline')
    white-space nowrap
    overflow hidden

    &:after
      display block
      content ''
      position absolute
      top 0
      right 0
      bottom 0
      width (gutter * 3)
      background-image linear-gradient(left, rgba(white, 0), white)

    > a
      display block
      text-decoration none

  &__countdown
    margin 0 (gutter / 2)

    .countdown-clock
      margin-bottom -2px // Pull into place with baseline

  &__jump > a
    white-space nowrap

  &__logo
  &__thumbnail
  &__countdown
    // Pull into place with baseline
    margin-top -(gutter / 3)
