@import '../stylus_lib'

logo-size = 52px
suggestion-thumbnail-size = 32px
suggestion-height = (suggestion-thumbnail-size + 20px)

#main-layout-search-bar-container
  position relative
  width calc('100% - %s' % logo-size)
  border-left 1px solid gray-lighter-color

  &.is-display-suggestions
    #main-layout-search-bar-feedback
      height logo-size
      border 1px solid gray-lighter-color

  &.is-loading
    #main-layout-search-bar-spinner
      display block
    #main-layout-search-bar-feedback
      display none

#main-layout-search-bar-feedback
  display block
  position absolute
  width calc('100% + 2px')
  height 0px
  left 0
  right auto
  padding 0 (logo-size / 2)
  margin-left -1px
  line-height logo-size
  border 0px solid
  background-color gray-lightest-color
  overflow hidden
  visibility visible
  opacity 1
  transition height 0.125s

#main-layout-search-bar-spinner
  display none
  position absolute
  top 10px
  right 10px
  width suggestion-thumbnail-size
  height suggestion-thumbnail-size

search-bar-input-placeholder()
  color #000

#main-layout-search-bar-input
  height 100%
  width @height
  padding 0 26px 0px 44px
  border none
  placeholder(search-bar-input-placeholder)

#main-layout-search-bar-icon
  width 32px
  height 32px
  iconfont-styling()
  top 9px
  left 18px
  font-size 20px
  position absolute

// Results dropdown
#main-layout-search-bar-container
  .twitter-typeahead
    display block
    width 100%
    height 100%

  .tt-hint
    display none

  .tt-dropdown-menu
    width calc('100% + 2px')
    margin-left -1px
    background-color #fff
    border 1px solid gray-lighter-color

  .tt-suggestion
    border-bottom 1px solid gray-lighter-color
    &:last-child
      border-bottom none
    &:hover
    &.tt-cursor
      opacity 1
      background-color #000
      *
        color #fff
    &.empty-item
      background-color yellow-light-color
      &:hover
        background-color yellow-light-color
        *
          color black
      .mlsb-suggestion-value
        padding-left 26px
      .mlsb-suggestion-thumbnail
        display: none

  .mlsb-suggestion-kind
    display none

.mlsb-suggestion
  display block
  width 100%
  text-decoration none
  overflow ellipsis

.mlsb-suggestion-thumbnail,
.mlsb-suggestion-value
  display inline-block
  line-height suggestion-thumbnail-size
  height suggestion-height
  vertical-align top

.mlsb-suggestion-thumbnail
  padding 10px
  width suggestion-height

.mlsb-suggestion-fallback
  position relative
  display block
  width suggestion-thumbnail-size
  height suggestion-thumbnail-size
  background-color gray-lightest-color
  // Display person icon
  &::before
    display block
    position absolute
    content '\e61a'
    font-family 'artsy-icons'
    font-size suggestion-thumbnail-size
    line-height suggestion-thumbnail-size
    color #fff
  > img
    vertical-align bottom
    position absolute

.mlsb-suggestion-value
  width calc('100% - %s' % suggestion-height)
  padding 10px 10px 10px 0
  overflow ellipsis

.mlsb-suggestion-kind
  margin-left 10px
  font-style italic
  color gray-darker-color

.search-result-images
  height 90px
  margin-top 31px
  overflow hidden
  img
    display inline-block
    height 90px
    margin-right 12px
