@import '../stylus_lib'

logo-size                   = 52px
suggestion-thumbnail-size   = 32px
suggestion-height           = (suggestion-thumbnail-size + 20px)

#main-layout-search-bar-container
  position relative
  width calc('100% - %s' % logo-size)
  border-left 1px solid gray-lighter-color

  &.is-open
    #main-layout-search-bar-suggested
      transition opacity 0.125s
      height logo-size
      opacity 1

  &.is-loading
    #main-layout-search-bar-spinner
      display block
    #main-layout-search-bar-suggested
      display none

#main-layout-search-bar-suggested
  display block
  position absolute
  width calc('100% + 2px')
  height 0
  top 100%
  left 0px
  right auto
  padding 0 (logo-size / 2)
  margin-left -1px
  line-height logo-size
  opacity 0
  background-color #fff
  border 1px solid gray-lighter-color
  background-color gray-lightest-color
  overflow ellipsis

#main-layout-search-bar-spinner
  display none
  position absolute
  top 10px
  right 10px
  width suggestion-thumbnail-size
  height suggestion-thumbnail-size

search-bar-input-placeholder()
  color #000

#main-layout-search-bar-input
  height 100%
  width @height
  padding 0 (logo-size / 2)
  border none
  placeholder(search-bar-input-placeholder)

// Results dropdown
#main-layout-search-bar-container
  .twitter-typeahead
    display block
    width 100%
    height 100%

  .tt-hint
    display none

  .tt-dropdown-menu
    width calc('100% + 2px')
    margin-left -1px
    background-color #fff
    border 1px solid gray-lighter-color

  .tt-suggestion
    border-bottom 1px solid gray-lighter-color
    &:last-child
      border-bottom none
    &:hover
    &.tt-cursor
      background-color #000
      *
        color #fff

.mlsb-suggestion
  display block
  width 100%
  text-decoration none
  overflow ellipsis
  &.unpublished-search-result
    opacity 0.5

.mlsb-suggestion-thumbnail,
.mlsb-suggestion-value
  display inline-block
  line-height suggestion-thumbnail-size
  height suggestion-height
  vertical-align top

.mlsb-suggestion-thumbnail
  padding 10px
  width suggestion-height

.mlsb-suggestion-fallback
  position relative
  display block
  width suggestion-thumbnail-size
  height suggestion-thumbnail-size
  background-color gray-lightest-color
  // Display person icon
  &::before
    display block
    position absolute
    content '\e61a'
    font-family 'artsy-icons'
    font-size suggestion-thumbnail-size
    line-height suggestion-thumbnail-size
    color #fff
  > img
    vertical-align bottom
    position absolute

.mlsb-suggestion-value
  width calc('100% - %s' % suggestion-height)
  padding 10px 10px 10px 0
  overflow ellipsis

.mlsb-suggestion-kind
  margin-left 10px
  font-style italic
  color gray-darker-color
