#main-layout-search-bar-container
  input#main-layout-search-bar-input.bordered-input( placeholder='Search…', tabindex='1', value=term )
  #main-layout-search-bar-spinner: .loading-spinner-small
  #main-layout-search-bar-feedback.autocomplete-feedback
    //- Rendered client-side
