@require '../../components/stylus_lib'

#style-guide
  pre
  code
    monospace()
    background-color gray-lightest-color
    font-size 13px
    line-height 1.45
  pre
    padding 10px
    code
      margin 0
  code
    margin 0 0.5em

.sg-grid
  .grid-item
    background-color gray-lightest-color
    min-height 100px
    line-height @min-height
    text-align center
    transition background-color 0.25s
    &:hover
      background-color gray-lighter-color

.sg-description
  p
    margin 20px 0
    font-size 18px
  pre
    margin 20px 0

.sg-components
  margin 80px 0
  &:first-child
    margin-top 0
  > h2
    margin 40px auto
    garamond()
    font-size 30px
    text-align center
  > h3
    avant-garde()
    text-align center
    font-size 15px

.sg-component
  margin 40px 0
  border 1px solid gray-lighter-color
  h3
    avant-garde()
    font-size 13px
    padding 20px
    border-bottom 1px solid gray-lighter-color

.sg-component-rendered
  padding 20px
  text-align center
  .artsy-toggle
    text-align left
  .grid-n-up
    text-align center

.sg-display
  margin 0 10px
  &.is-block
    margin 10px 0

.sg-color-swatch
  vertical-align top
  height 150px
  text-align left
  avant-garde()
  font-size 13px
  padding 10px
  color rgba(black, 0.75)
  transition color 0.25s
  &:hover
    color white

.sg-type-specimen
  margin 40px 0
  > h2
    margin 20px 0
.sg-type-specimen-sample
  margin 20px 0 60px
