extends ../../components/main_layout/templates/blank

append locals
  - assetPackage = 'style_guide'

block body
  #style-guide
    i#main-layout-welcome-logo.icon-logotype

    section.sg-components
      h2 Colors
      .sg-color-swatches
        for hex, name in colors
          .sg-color-swatch( style="background-color: #{hex};" )
            = name
            br
            = hex

    section.sg-components
      h2 Components

      include ./partials/buttons
      include ./partials/form
