@import './header'
@import './empty_hint'
@import './circle_control'

#favorites
  .favorite-artworks
    margin 0 auto
    position relative
    .loading-spinner
      display none
      position relative
      margin 150px 0
  .favorites-actions
    position relative
    margin 10px 0
    a
      text-decoration none
    .favorites-share
      text-align center
    .favorites-privacy
      position absolute
      right 0
      top 0
      line-height 37px
      a
        border-bottom 1px solid #777
