@import './header'
@import './empty_hint'
@import './circle_control'
@import './mobile'

.favorites-container
  .favorite-artworks
    margin 0 auto
    position relative
    text-align center
    .loading-spinner
      display none
      position relative
      margin 150px 0
  .favorites-actions
    position relative
    margin 10px auto
    max-width 1120px
    a
      text-decoration none
    .favorites-share
      text-align center
    .favorites-privacy
      position absolute
      right 0
      top 0
      line-height 37px
      a
        border-bottom 1px solid #777

  .artwork-item
    .overlay-button-save
      &[data-state='saved']
        opacity 0
    &:hover
      .overlay-button-save
        opacity 1
