@import './header'
@import './empty_hint'
@import './circle_control'

#favorites
  .artwork-column
    margin 0 40px
    width calc('33% - 80px')
  .favorite-artworks
    position relative
    .loading-spinner
      margin 150px auto
