@media screen and (max-device-width: 768px)
  html, body
    min-height 1096px

@media screen and (max-width: 1024px)
  #main-layout-container
    margin-left 40px
    margin-right 40px
  #favorites
    .favorites-actions
      max-width 100%
      min-width 850px