include ../checkbox/index

form.stacked-form
  .form-errors.js-form-errors
    //- Rendered client-side

  +checkbox('confirm')
    | I understand that this will permanently delete my account and cannot be undone.

  label.avant-garde-form-label( for='explanation' )
    | Please Tell Us Why
  textarea.bordered-input(
    id='explanation'
    name='explanation'
    rows='5'
  )

  button.avant-garde-button-black( disabled='disabled' )
    | Delete My Account
