//- Only when the button is enabled use the black state.
//- The disabled black state has been deemed unsuitable for this context...
a.is-block(
  data-id= artwork.id
  href= button.href
  class= button.classes + ' ' + (button.enabled ? 'avant-garde-button-black' : 'avant-garde-button')
  disabled= !button.enabled
)= button.label
