for bundle in bundles
  .bundle-item
    img.bundle-image(src="#{bundle.object.images[0].image_urls.square}")
    .bundle-text
      .bundle-message= bundle.message
      .bundle-actors= bundle.actors
    .bundle-information
      .bundle-date= bundle.date
      if (bundle.status === "unread")
        .bundle-read-status