include ../../../util/activator

header#main-layout-header(class= sd.HEADER_CLASS ? sd.HEADER_CLASS : '')
  unless user || sd.HIDE_HEADER
    #main-layout-welcome-header
      #main-layout-welcome-header-aside
        .mlwha-outer
          .mlwha-inner
            | Discover art from leading galleries,
            br
            | museums, and private collections.
      i#main-layout-welcome-logo.icon-logotype

  nav.mlh-navbar
    a#main-layout-header-home-logo( href='/', class=activeClass('/') ): i.icon-logo
    #main-layout-header-left.mlh-navbar-cell
      include ../../../search_bar/templates/index
    #main-layout-header-center.mlh-navbar-cell
      a.mlh-top-nav-link( href='/artists', class= activeClass('/artists') ) Artists
      a.mlh-top-nav-link( href='/shows', class= activeClass('/shows') ) Shows
      a.mlh-top-nav-link( href='/galleries', class= activeClass('/galleries') ) Galleries
      a.mlh-top-nav-link( href='/institutions', class= activeClass('/institutions') ) Museums
      a.mlh-top-nav-link( href='/art-fairs', class= activeClass('/art-fairs') ) Fairs
      a.mlh-top-nav-link( href='/auctions', class= activeClass('/auctions') ) Auctions
      a.mlh-top-nav-link.js--post-split-test( href='/articles', class= activeClass('/articles') )= sd.POSTS_SECTION_NAME

      span.mlh-top-nav-link.hover-pulldown( data-mode='hover' )
        | More
        .hover-pulldown-menu
          a( href='/about' ) About Artsy
          a( href='/gallery-partnerships' ) Artsy for Galleries
          a( href='/pdf/institutions-overview.pdf' ) Artsy for Institutions
          a( href='/feature/artsy-education' ) Artsy for Education
          a( href='/categories' ) The Art Genome Project
          a( href='/about/jobs' ) Jobs
          a( href='/press' ) Press

    #main-layout-header-right.mlh-navbar-cell
      include ./user
