include ../../../util/activator

header#main-layout-header(class= sd.HEADER_CLASS ? sd.HEADER_CLASS : '')
  unless user || sd.HIDE_HEADER
    #main-layout-welcome-header
      #main-layout-welcome-header-aside
        .mlwha-outer
          .mlwha-inner
            | Discover art from leading galleries,
            br
            | museums, and private collections.
      i#main-layout-welcome-logo.icon-logotype

  //- if sd.REDESIGNED_HEADER === 'new'
  if sd.CURRENT_USER && (sd.CURRENT_USER.type === 'Admin')
    include new
  else
    include old
