include ../../../util/activator

header#main-layout-header.force-position-absolute.microsite-header
  nav
    #main-layout-header-left
      a#main-layout-header-home-logo.icon-logo( href='/' )
      unless sd.KIOSK_MODE
        a.header-text( href='/' ) Back to Artsy.net

    #microsite-header-right
      if user
        if profile
          a.header-text( href="#{profile.href()}/favorites" ) Favorites
        else if sd.KIOSK_MODE
          a.header-text( href="/users/sign_out" ) Sign Out
        else
          a.header-text( href="/favorites" ) Favorites
        .header-spacer |
        if user.get('name')
          a.header-text( href="/" + user.get('default_profile_id') )= user.get('name')
        else
          .header-user-name Account
      else
        a.header-text.mlh-login( href='/log_in' ) Log in
        .header-spacer |
        a.header-text.mlh-signup( href='/sign_up' ) Sign up
