if sd.CURRENT_USER
  span.mlh-notification.hover-pulldown.js-notification-hover( data-anchor='right', data-mode='hover')
    a(href="/works-for-you")
      include ../../public/icons/bell.svg
      .mlh-bundle-count.js-notification-count( data-visible="#{sd.NOTIFICATION_COUNT !== undefined && sd.NOTIFICATION_COUNT !== 'undefined' }" )= sd.NOTIFICATION_COUNT
    .hover-pulldown-menu
      .hpm-header Activity
      #hpm-bundles
        //- Rendered client-side
      a.hpm-view-all.js-notification-view-all( href='/works-for-you' ) View All
