if user.get('name')
  span.mlh-nav-link= user.get('name')
  a.mlh-nav-link.user-nav-profile-link.is-profile-text(
    href="/#{user.get('default_profile_id')}"
  ) Profile
else
  span.mlh-nav-link Account
a.mlh-nav-link( href='/user/edit' ) Settings
if user.isAdmin()
  a.mlh-nav-link( href= sd.ADMIN_URL ) Admin
if user.isAdmin() || user.get('has_partner_access')
  a.mlh-nav-link( href= sd.CMS_URL ) CMS
a.mlh-nav-link.mlh-logout Log out
