if user.get('name')
  a( href="/" + user.get('default_profile_id') )= user.get('name')
else
  a account
a( href="/profile/edit" ) Edit Profile
a( href="/user/edit" ) Settings
if user.isAdmin()
  a( href=sd.ADMIN_URL ) Admin
if user.isAdmin() || user.get('has_partner_access')
  a( href=sd.CMS_URL ) CMS
a( href="/force/users/sign_out" ) Log out
