extends ../../../components/main_layout/templates/minimal_header

append locals
  - assetPackage = 'artists_artworks'

block body

  .inquiry-user-outcome-page.main-layout-container
    form.stacked-form.js-inquiry-outcome-form
      h1.inqury-user-outcome-title.is-center-aligned
        b
          | PLEASE SUBMIT YOUR FEEDBACK
      .inquiry-details
        img.inquiry-details-image(src=artwork.defaultImage().imageUrl('medium'))
        .inquiry-details-info
          .inquiry-details-info-artist_name.strong
            b
              = artwork.related().artist.get('name')
          em
            = artwork.get('title')
            | ,
            = artwork.get('date')
          .inquiry-details-info-medium
            = artwork.get('medium')
          .inquiry-details-info-dim
            = artwork.get('dimensions')['in']
      .inquiry-options
        if inquiry.get('user_reported_outcome').toUpperCase() != 'OTHER'
          em.inquiry-options-user-outcome-selected-option.is-center-aligned
            = options_map[inquiry.get('user_reported_outcome')]
        else
          .user-outcome-option
            input.outcome-option-radio-box( type='radio', name='user_reported_outcome', id='inquiry-outcome-form-purchased', value='purchased' )
            label.artsy-radio--label( for='inquiry-outcome-form-purchased' )
              = options_map['purchased']
          .user-outcome-option
            input.outcome-option-radio-box( type='radio', name='user_reported_outcome', id='inquiry-outcome-form-not-available', value='work_unavailable' )
            label.artsy-radio--label( for='inquiry-outcome-form-not-available' )
              = options_map['work_unavailable']
          .user-outcome-option
            input.outcome-option-radio-box( type='radio', name='user_reported_outcome', id='inquiry-outcome-form-other', value='other' )
            label.artsy-radio--label( for='inquiry-outcome-form-other' )
              | NONE OF THE ABOVE

          textarea.inquiry-options-comment.bordered-input(type='text', name='user_reported_outcome_comment', placeholder='Tell us what happened...', disabled=already_submitted, style='display: none')
      button.inquiry-outcome-submit.avant-garde-button-black(type='submit', disabled=already_submitted)
        if already_submitted
          | Feedback Already Submitted
        else
          | Submit

