.articles-promoted
  display flex
  justify-content space-between
  padding 20px 0
  border-bottom 1px solid gray-lighter-color
  margin -67px auto 45px auto
  &__left, &__right
    display flex
    align-items center
  &__img
    width 100px
    height 66px
    margin-right 20px
  &__text
    display flex
    flex-direction column
    justify-content space-around
  &__title
    avant-garde-size('s-headline')
  &__name
    garamond-size('s-headline')
    margin-top 5px
  &__explore-button
    height 45px
    margin auto
  i.icon-chevron-right
    display none

@media screen and (max-width 600px)
  .articles-promoted
    margin-left 20px
    margin-right 20px
    &__explore-button, &__img
      display none
    i.icon-chevron-right
      display block
      font-size 22px
    &__name
      garamond-size('l-body')
