@require '../../../components/stylus_lib'
@require '../components/primary_carousel'
@require '../components/partner_cell'
@require '../components/partner_cell_carousel'
@require './footer'
@require './carousels'

.galleries-institutions2-page
  padding 40px 0
  margin 0 45px
  @media screen and (min-width: 1440px)
    margin auto

.galleries-institutions2-header
  display table
  width 100%
  margin-bottom 60px

.galleries-institutions2-subnav
.galleries-institutions2-headline
  display table-cell
  height 100%
  vertical-align middle

.galleries-institutions2-headline
  garamond-size('l-headline')

.galleries-institutions2-subnav
  text-align right
  > a
    display inline-block
    margin-left 30px

