@require '../../../components/stylus_lib'

#galleries-institutions-page
  padding 40px 0
.galleries-institutions-header-meta
  clearfix()
.galleries-institutions-title
  margin 20px 0 40px 0
  font-size 30px
  line-height 1
  text-align center
.galleries-institutions-header-info
  float left

.galleries-institutions-insights-link
  float right

.galleries-institutions-featured-profiles
  margin 40px 0
.gip-metadata
  margin 10px 0
  text-align center
  a
    text-decoration none
.gip-name
  avant-garde()
  font-size 13px
  overflow ellipsis
.gip-location
  margin 5px 0 10px 0
  font-size 18px

.gallery-partnerships-callout
  position relative
  // Variable width 3:2 aspect ratio container
  padding-bottom 66.67%
  line-height 0
.gpc-inner
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  padding 0 20px
  font-size 22px
  line-height 1.2
  text-align center
