.partner-search-filter-item
  display inline-block
  padding 0 20px
  border 1px solid black
  margin 0 5px
  cursor default
  &:hover:not(.partner-search-filter-item-selected)
    color gray-dark-color

.partner-search-filter-item-selected
  color purple-color

