- var isPendingApproval = user && user.related().collectorProfile.isWithProfessionalBuyerApplicationPending()

include ./header
.probuyer-page
  include ./proposition
  include ./benefits
  include ./testimonials
  include ./cta
