.consignments2-submission-uploaded-image
  &__image-wrapper
    padding-right 30px
    display flex
    border 2px solid gray-dark-color
    align-items center
    height 84px
    width 100%
    margin-top 20px

    &_processing
      opacity .15

  &__image
    height 60px
    max-width 300px
    margin-left 25px
    margin-right 30px

  &__filename
    color gray-dark-color

  &__progress-wrapper
    background-color gray-lighter-color
    height 2px
    width 100%

  &__progress
    height 2px
    background-color purple-color

  &__error
    margin-top 20px
    color red-color
    text-align center
    width 100%
    border 1px solid red-color
    background-color #FFF1F0
    display flex
    justify-content center
    align-items center
    text-align left
    padding-left 30px
    padding-top 20px
    padding-bottom 20px

  &__error-alert
    padding-right 20px

  &__error-close
    margin-right 20px

    &:hover
      cursor pointer

    svg
      fill red-color
      width 20px
      height 20px

  &__error-content
    a
      color red-color
      text-decoration underline
