.consignments2-submission-uploaded-image
  &__image-wrapper
    display flex
    border 1px solid gray-dark-color
    align-items center
    height 84px
    width 100%
    margin-top 20px

  &__image
    height 60px
    max-width 300px
    margin-left 25px
    margin-right 20px

  &__filename
    color gray-dark-color
