for column in columns
  .exhibitors-column
    for item in column
      if item.get('partner') && item.get('partner').name
        .exhibitor-item
          span.mlsb-suggestion-thumbnail
            a( href="/show/" + item.get('id') )
              span.mlsb-suggestion-fallback
                if item.artworks().length > 0
                  img( src=item.artworks().models[0].defaultImageUrl('square') )
          a.exhibitor-name( href="/show/" + item.get('id') )= item.get('partner').name
          if item.get('partner').artworks_count > 0
            button.avant-garde-follow-button-black.follow-button.is-small( data-id=item.get('partner').default_profile_id )
