.main-layout-container
  if sd.CURRENT_USER
    .foryou-section.blank-state Follow exhibitors and artists at the fair to personalize your “For You” section. We’ll let you know when new works and shows are added.
    include ./for_you_logged_in
  else
    .foryou-section.blank-state.blank-state-visible Follow exhibitors and artists at the fair to personalize your “For You” section. We’ll let you know when new works and shows are added.
  .foryou-section.booths
    .avant-garde-header-center Exhibitors at the fair to follow
    .exhibitors-column-container
