title= ('Exclusive Artsy Editorial from ' + fair.get('name'))
meta( property='og:title', content=('Exclusive Artsy Editorial from ' + fair.get('name')) )
meta( name="description", content=('Read the latest articles from ' + fair.get('name') + ' on Artsy.') )
meta( property="og:description", content=('Read the latest articles from ' + fair.get('name') + ' on Artsy.') )
