title= ('Exhibitors at ' + fair.get('name'))
meta( property='og:title', content=('Exhibitors at ' + fair.get('name')) )
meta( name="description", content=('Browse galleries exhibiting at ' + fair.get('name') + ' on Artsy.') )
meta( property="og:description", content=('Browse galleries exhibiting at ' + fair.get('name') + ' on Artsy.') )
