title= ('Visitor information: ' + fair.get('name'))
meta( property='og:title', content=('Visitor information: ' + fair.get('name')) )
meta( name="description", content=('Plan your visit to ' + fair.get('name') + ': Hours, address, contact information, and more on Artsy.') )
meta( property="og:description", content=('Plan your visit to ' + fair.get('name') + ': Hours, address, contact information, and more on Artsy.') )
