extends ../../../components/main_layout/templates/minimal_header

block head
  include meta

append locals
  - assetPackage = 'misc'
  - bodyClass = bodyClass + ' consignments-submission-body'

block body
  .consignments-submission.responsive-layout-container
    #consignments-submission__flow
  .consignments-submission__footer
    .consignments-submission__footer-contents
      .consignments-submission__footer-contents--title
        | Consignments submission
      .consignments-submission__footer-contents--contact
        | If you have any questions feel free to email us at&nbsp;
        a( href='mailto:consign@artsy.net' ) consign@artsy.net
