.artwork-images.js-artwork-images(
  class="#{artwork.images.length > 1 ? 'artwork-images--multiple' : ''}"
)
  .artwork-images__images
    for image, i in artwork.images.reverse()
      include ./templates/image

  if artwork.images.length > 1
    include ./templates/pages
