header.scontact-header
  h1.scontact-headline
    | Send message to #{artwork.related().partner.displayType().toLowerCase()}

  .scontact-details
    if user && user.get('name') && user.get('email')
      p.scontact-from
        | From: #{user.get('name')} <span>(#{user.get('email')})</span>
    p.scontact-description
      | To: #{artwork.related().partner.get('name')}
