header.scontact-header
  h1.scontact-headline
    | Send feedback to Artsy

  .scontact-details
    p.scontact-description
      | Thanks for helping us improve Artsy.
      | You can also email any feedback to
      = ' '
      a.fine-faux-underline( href='mailto:support@artsy.net')
        | support@artsy.net

    if user && user.get('name') && user.get('email')
      p.scontact-from
        | From: #{user.get('name')} <span>(#{user.get('email')})</span>
