.settings-email-preferences
  label:first-child
    margin-left 0

  &__subscriptions
    padding-left gutter
    border-left 1px solid gray-lighter-color
    transition opacity 0.25s

  &[data-enabled="false"]
    .settings-email-preferences__subscriptions
      opacity 0.5
