include ../checkbox/index

form.stacked-form
  +checkbox('receive_emails')
    | Receive Emails
  .settings-email-preferences__subscriptions(
    class='js-settings-email-preferences__subscriptions'
  )
    - var disable = !user.get('receive_emails');
    +checkbox('receive_weekly_email', disable)
     | What's on Artsy This Week
    +checkbox('receive_editorial_email', disable)
     | Art World News
    +checkbox('receive_auction_email', disable)
     | Auctions
    +checkbox('receive_personalized_email', disable)
     | Personalized Art Recommendations
    +checkbox('receive_offer_emails', disable)
     | Artsy Specialist Recommendations

  button.avant-garde-button-white
    | Save Changes
