if helpers.commercial.isWithConsignableArtists(artwork)
  .artwork-commercial__consignables
    for artist in artwork.artists
      .artwork-commercial__consignables__consign
        | Interested in selling a work by #{artist.name}?
        = ' '
        a( href='/consign' )
          | Consign with Artsy
        = '.'
