if artwork.is_for_sale
  .artwork-commercial__questions
    | Have a question?&nbsp;
    a.collector-faq( href='/#' ) Read our FAQ
    if (artwork.is_acquireable && (newBuyNowFlow && artwork.partner.type != 'Auction House'))
      | &nbsp;or&nbsp;
      a( class='js-artwork-bnmo-ask-specialist' )
        | ask a specialist
    | .
