- isBuyNowWork = artwork.is_acquireable && (newBuyNowFlow && artwork.partner.type != 'Auction House')

if artwork.is_for_sale
  - var isBNMOArtwork = artwork.is_acquireable && (newBuyNowFlow && artwork.partner.type != 'Auction House')
  .artwork-commercial__questions
    | Have a question?&nbsp;
    if isBuyNowWork
      a.collector-faq-buy-now(
        href="https://www.artsy.net/buy-now-feature-faq"
        class= isBNMOArtwork ? 'js-artwork-bnmo-collector-faq' : ''
        target="_blank"
      ) Read our FAQ
    else
      a.collector-faq( href='/#' ) Read our FAQ
    if isBuyNowWork
      | &nbsp;or&nbsp;
      a( class='js-artwork-bnmo-ask-specialist' )
        | ask a specialist
    | .
