extends ../../../components/main_layout/templates/index.jade
include ../../../../../node_modules/artsy-ezel-components/pagination/paginator.jade

block head
  include ../../../components/auction_lots/templates/meta/artist.jade
  +paginateHead(auctionLots.state.currentPage, auctionLots.state.totalPages, '?sort=' + auctionLots.sortBy + '&')

append locals
  - assetPackage = 'auctions'

block body
  #auction-results-page.main-layout-container
    a( href="/artist/#{artist.id}" ).contextual-return-link
      i.icon-chevron-small-left
      | Back to #{artist.get('name')}

    include ../../../components/auction_lots/templates/artist.jade
