extends ../../../components/main_layout/templates/index

block head
  include ../../../components/auction_lots/templates/meta/detail

append locals
  - assetPackage = 'auctions'

block body
  #auction-result-detail-page.main-layout-container
    include ../../../components/auction_lots/templates/detail
