page-width = 1024px

#browse-page
  width page-width
  margin content-margin-top auto 0 auto
  padding-top 40px
  > section
    margin-bottom 40px

// Featured gene section
.browse-featured-gene-set
  margin 40px auto
  text-align center

.browse-featured-gene
  display inline-block
  position relative
  background-color #000
  width calc('50% - 10px')
  margin 0 5px
  &:hover
    > .bfg-image
      opacity 0.5

.bfg-image
  transition opacity 0.3s
  vertical-align bottom
  width 100%
  // Hack to prevent shifting content opacity fade
  transform translateZ(0)

.bfg-title
  position absolute
  right 20px
  bottom 15px
  left 20px
  avant-garde()
  color #fff
  font-size 13px
  text-align left
  text-shadow 0 0 5px rgba(0,0,0,.125)

// Popular categories section
column-width = 25%

.browse-popular-categories
  clearfix()
  margin 40px auto

.bpc-column
  float left
  h2
    margin-bottom 50px
  a
    display block
    padding 5px 0
    font-size 17px

.bpc-subcolumn
  float left
  padding-right 20px
  margin-right 20px
  width calc('33.3% - 20px')
  border-right 1px solid light-gray-border-color
  > h3
    margin-bottom 30px
    avant-garde()
    font-size 13px

.bpc-column-subsection
  margin-bottom 40px

.bpc-dynamic
  width (column-width * 3)

.bpc-fixed
  width column-width
  h2
    text-align left

// Genes section
.browse-gene-category-set
  margin 40px auto
  clearfix()

.browse-gene-category
  position relative
  float left
  width calc('20% - 10px')
  margin 0 5px 10px 5px
  background-color #000
  &:hover
    > .bgc-image
      opacity 0.5

.bgc-image
  @extends .bfg-image

.bgc-title
  @extends .bfg-title

#browse-page-see-all
  text-align center
  > a
    margin 100px 0
