title Browse | Artsy
meta( property="og:title", content="Browse | Artsy" )
meta( name="description", content="Browse artworks by subject matter, style/technique, movement, price, and gallery/institution." )
meta( property="og:description", content="Browse artworks by subject matter, style/technique, movement, price, and gallery/institution." )
meta( property="twitter:description", content="Browse artworks by subject matter, style/technique, movement, price, and gallery/institution." )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + "/browse") )
link( rel="canonical", href=(sd.GRAVITY_URL + "/browse") )
meta( property="og:url", content=(sd.GRAVITY_URL + "/browse") )
meta( property="og:image", content=(sd.ASSET_PATH + "metadata/og_image.jpeg") )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
