#main-layout-search-bar-container
  position relative
  border-left 1px solid light-gray-border-color
  width calc(100% - 53px)

#main-layout-search-bar-input
  border-width 0
  height 100%
  width @height
  padding-left 26px