.map-modal-link
  font-size 17px
  line-height 1.4
  text-decoration none
  &:hover
    text-decoration underline
  &:before
    iconfont-styling()
    content '\e61c'
    font-size 14px
    vertical-align -1px
  &:after
    content 'Map & Full Hours'

.modal-body
  padding 35px

.modal-dialog 
  min-width 820px

.map-modal-show-information
  width 300px
  float left
  line-height 1.5
  font-size 17px

.map-modal-show-running-dates   
.map-modal-partner-hours
  padding-top 35px

#map-modal-show-map
  overflow hidden
  margin-left 300px
  width 400px
  height 400px