.map-modal-link
  text-decoration none
  &:before
    iconfont-styling()
    content '\e61c'
    line-height 1.4
    font-size 13px
    text-align center
    border-style solid
    border-width .15em
    border-color gray-darker-color
    border-radius 50%
  &:after
    margin-left 5px
    content 'Map & Full Hours'
  &:hover
    &:after
      text-decoration underline

.map-modal-body
  padding 35px

.map-modal-show-information
  width 300px
  float left
  line-height 1.5
  font-size 17px

.map-modal-show-running-dates
.map-modal-partner-hours
  padding-top 35px

#map-modal-show-map
  overflow hidden
  margin-left 300px
  width 400px
  height 400px
