.map-modal-body
  padding 35px

.map-modal-show-information
  width 300px
  float left
  line-height 1.5
  font-size 17px

.map-modal-show-running-dates
.map-modal-partner-location-running-hours
  padding-top 35px

.map-modal-show-map-container
  overflow hidden
  margin-left 300px

.map-modal-show-map-link
  padding-top 5px
  a
    text-decoration none
  &:hover a
    text-decoration underline

#map-modal-show-map
  width 400px
  height 400px
