.loading-spinner-white

a.deep-zoom__close( class='js-close' )
  i.icon-close

.deep-zoom__slider
  a.deep-zoom__slider__minus( class='js-zoom-out' )
    i.icon-minus-small

  .deep-zoom__slider__track
    input.deep-zoom__slider__track__range(
      type='range'
      class='js-slider'
    )

  a.deep-zoom__slider__plus( class='js-zoom-in' )
    i.icon-plus-small
