.bid-numbers
  clearfix()
  padding 15px 0
  border-top 1px dotted light-gray-border-color
  border-bottom @border-top
  margin-top 10px

.bid-numbers-left
  float left

.bid-numbers-bid-label
  font-weight bold

.bid-numbers-count-reserve
  color dark-gray-text-color

.bid-numbers-right
  garamond-size('l-body')
  float right
