extends ../../../components/layout/templates/main

append locals
  - assetPackage = 'mobile_articles'

block content

  .main-side-margin
    nav.slash-breadcrumbs
      a( href="/#{partner.get('default_profile_id')}" )= partner.get('name')
      a( href="/#{partner.get('default_profile_id')}/articles" )
        span Articles

  #article-body-container.partner
    include ../../../components/article/templates/index

  .article-fixed-share.js--article-fixed-share
    //- Rendered on client

  include ../../../components/layout/templates/json_ld
