extends ../../../components/layout/templates/main

block content
  .main-side-margin
    nav.slash-breadcrumbs
      a( href='/' + profile.get('id') )= profile.get('owner').name
      span= sectionLabel
  #partner-artworks-list.main-side-margin
    if artworkColumns.length
      include ../../../components/artwork_columns/template
  #partner-artworks-spinner.loading-spinner
  .main-side-margin
    a.partner-back-link( href='/' + profile.get('id') ) Go to #{profile.get('owner').name}
