extends ../../../components/layout/templates/main

block content
  .main-side-margin
    nav.slash-breadcrumbs
      a( href='/' + profile.get('id') )= profile.get('owner').name
      span Shows
    include shows
    a.partner-back-link( href='/' + profile.get('id') ) Go to #{profile.get('owner').name}
