mixin show-list(shows)
  ul.partner-profile-shows-list
    for show in shows
      if show.hasImage()
        li
          a( href="/show/#{show.get('id')}" )
            if show.hasImage()
              .partner-profile-shows-list-image( style='background-image: url(#{show.imageUrl()})' )
            h3= show.get('name')
            h4!= show.formattedDateRange()

if currentShows && currentShows.length
  h1.avant-garde-header-center.partner-profile-large-header Current & Upcoming Shows
  mixin show-list(currentShows.models)

if pastShows && pastShows.length
  h1.avant-garde-header-center.partner-profile-large-header Past Shows
  mixin show-list(pastShows.models)
