@import '../../../components/stylus_lib'
@import './more-info'
@import './share'
@import './deep-zoom'
@import './circle-buttons'
@import './view-in-room'
@import './layered-search'
@import '../components/contact'

artwork-detail-width        = 250px
artwork-detail-item-height  = 36px

#artwork-page
  padding 20px 0
  > section
    clearfix()
    margin 20px 0
    padding 20px 0
    border-top 1px solid gray-lighter-color
    h2
    h3
      margin 10px 0
      font-size 15px

.artwork-container
  clearfix()
  position relative
  width 100%
  height auto

.artwork-image-zoom
  cursor -moz-zoom-in
  cursor -webkit-zoom-in

.artwork-more-info
  display none

.artwork-overview
  float left
  width calc('100% - %s' % artwork-detail-width)
  height 100%
  padding-left artwork-detail-width
  margin-right -(artwork-detail-width)
  text-align center
  prevent-content-shift()
  // Better usage of space at smaller screen sizes
  @media screen and (max-width: 1024px)
    margin-right 0
    padding-left 20px
    #artwork-feature-navigation
      opacity 0 !important

#artwork-feature-navigation
  position absolute
  top 0
  left 0
  width 200px
  text-align left
  opacity 0
  transition opacity 0.5s
  a
    text-decoration none
  &:not(:empty)
    opacity 1

#the-artwork-image
  display inline-block
  max-width 100%
  max-height 100%

.artwork-additional-images
  margin 20px auto

.artwork-additional-image
  display inline-block
  height 45px
  margin 5px
  border 3px solid transparent
  vertical-align middle
  transition border-color 0.125s
  > img
    display inline-block
    height 100%
  &.is-active
  &[data-state='active']
    border-color purple-color

.artwork-image-actions
  padding 10px

.artwork-detail
  float right
  width artwork-detail-width
  margin-bottom 20px
  padding-left 20px
  font-size 17px
  // Buttons are narrower
  // and always block
  .avant-garde-button-black
    display block
    width 100%
    padding 13px 30px 10px
    &[data-state='loading'], &.is-loading
      &::before
        width 20px
        height 5px

  // Auction state
  &.is-auction
    // Hide some elements
    .artwork-meta-price
    .artwork-inquiry
    .artwork-contact-button, #artwork-detail-contact
      display none

.artwork-detail-artist
  avant-garde()
  display block
  > a
    text-decoration none
    &:hover
      text-decoration underline

.artwork-detail-title
  display block
  margin-bottom 10px
  > em
    font-style italic

.artwork-meta-photo-credit
  margin-top 10px
  font-size 11px
  line-height 1.2

.artwork-meta-partner
  margin-top 10px
  > a
    text-decoration none

.artwork-meta-price
  display table
  width 100%
  border-top 1px dotted
  border-bottom 1px dotted
  border-color transparify(gray-lighter-color, black)
  margin 10px 0
  line-height artwork-detail-item-height
.artwork-meta-price-label
.artwork-meta-price-amount
  display table-cell
.artwork-meta-price-amount
  text-align right
.artwork-meta-price-label
  &.is-sold
    avant-garde()
    font-size 15px
    color red-color

.artwork-actions
  margin-top 20px

// Auction
.artwork-auction-estimate
  margin 10px 0

.artwork-bidder-position-status
  margin 20px 0
  padding 10px 0
  border-top 2px solid
  border-bottom 2px solid
  font-size 17px
  &.is-highest
    color purple-color
  &.is-outbid
    color red-color

.artwork-bid-status
  margin 10px 0
  padding 10px 0
  border-top 1px dotted
  border-bottom 1px dotted
  border-color transparify(gray-lighter-color, black)
.abs-bid
  font-weight bold
.abs-count
  color transparify(gray-dark-color, black)
.abs-amount
  avant-garde()
  font-size 24px
  line-height 1.5

.artwork-bid-form
  margin 20px 0
  label
    display block
    margin 5px 0
  input
    width 100%
    border-color transparify(gray-lighter-color, black)
.abf-min-next
  margin 5px 0
  color transparify(gray-dark-color, black)
.abf-button
  margin 10px 0
.abf-validation-error
  display none
  margin 20px 0
  padding 10px 0
  border-top 2px solid
  border-bottom 2px solid
  color red-color
  font-size 15px
.abf-help
  margin 10px 0
  > a
    color transparify(gray-dark-color, black)
    font-size 15px
    font-style italic

#artwork-auction-clock
  margin 20px 0
  .auction-clock-value > li > small
    color transparify(#aaa, black)

#auction-detail
#artwork-auction-clock
  opacity 0
  transition opacity 1s
  &.is-fade-in
    opacity 1

// Inquiry
.artwork-inquiry
  margin 20px 0
  text-align center
  > .small-caps
    font-size 11px
    line-height 1.2
    letter-spacing 0
    color gray-darker-color

.artwork-edition-sets
  margin 10px 0
.artwork-edition-set
  display block
  position relative
  padding 5px 0
  font-size 13px
  line-height 1.5
  border-bottom 1px dotted
  border-color transparify(gray-lighter-color, black)
  clearfix()
  &:first-child
    border-top 1px dotted
.aes-radio
.aes-details
  float left
.aes-radio
  margin-right 10px
.aes-edition-size
  color gray-darker-color
.aes-price
  position absolute
  top 5px
  right 5px

.artwork-actions-list
  margin-top 20px
  border-top 1px dotted
  border-color transparify(gray-lighter-color, black)
  > a
    display block
    position relative
    line-height artwork-detail-item-height
    padding-left @line-height
    text-decoration none
    transition all 0.125s
    border-bottom 1px dotted
    border-color transparify(gray-lighter-color, black)
    &.is-hidden
      display none
    > i
      position absolute
      line-height @line-height
      left 0
    > sup
      text-transform uppercase
      margin-left 0.5em
      // Tone down superscript a bit
      vertical-align 4px
    &:hover
      background-color purple-color
      border-color @background-color
      color white
      transition none

// Follow button states
.artwork-artist-follow-button
  > span:before
    content 'Follow artist'
  &[data-state='following']
    color purple-color
    > span:before
      content 'Following artist'

// Below the fold
.ari-left
.ari-right
  padding 0 10px
  text-align center
.ari-left
  width 60%
  float left
  padding-right 5%
.ari-right
  width 40%
  float right

// Bio and related works
.artwork-artist
  transition opacity 0.5s
  &[data-state='pending']
    opacity 0

.artwork-artist-blurb
.artwork-blurb
  margin 20px 0
  font-size 17px
  line-height 1.5
  text-align left

.artwork-artist-blurb-link
  display inline-block
  text-align center
  avant-garde()
  font-size 13px
  text-decoration none

#artwork-artist-artworks-container
  opacity 0
  transition opacity 1s
  &.is-loaded
    opacity 1
.artwork-artist-artworks
  margin 20px 0
  // Image height + margin
  height 135px
  overflow hidden
.artwork-artist-artwork
  position relative
  display inline-block
  max-width 50%
  margin 5px 10px
  overflow hidden
  > img
    height 125px
  &:hover
    .overlay-button-save
      opacity 1
  .overlay-button-save
    opacity 0
    &[data-state='saved']
      opacity 1

#artwork-related-show-section
  display none
  opacity 0
  transition opacity 1s
  &.is-fade-in
    opacity 1
.ars-metadata
  position relative
  margin 20px 0
.ars-partner-name
  font-weight bold
.ars-show-name
  text-decoration none
.ars-buttons
  position absolute
  top 0
  right 0
  button
    margin-left 10px

#artwork-below-the-fold-section
  margin 20px auto
  opacity 0
  transition opacity 0.5s
  &[data-state='fade-in']
    opacity 1
  h2
    margin 20px 0 !important

.monocle-zoom
  width 256px
  height 256px
  position absolute
  pointer-events none
  border-radius 256px
  background-repeat no-repeat
  background-color white
  box-shadow 0 10px 24px rgba(0,0,0,0.12)
