@import '../../../components/stylus_lib'

artwork-detail-width = 250px
artwork-detail-item-height = 36px

#artwork-page
  padding 20px 0
  > section
    clearfix()
    margin 20px 0
    padding 20px 0
    border-top 1px solid gray-lighter-color
    h2
    h3
      margin 12px 0 27px
      font-size 15px
    h2 a
      text-decoration none

.artwork-container
  clearfix()
  position relative
  width 100%
  height auto
  z-index 1

.artwork-image-zoom
  cursor -moz-zoom-in
  cursor -webkit-zoom-in

.artwork-overview
  float left
  width calc('100% - %s' % artwork-detail-width)
  height 100%
  padding-left artwork-detail-width
  margin-right -(artwork-detail-width)
  text-align center
  prevent-content-shift()
  // Better usage of space at smaller screen sizes
  @media screen and (max-width: 1024px)
    margin-right 0
    padding-left 20px
    #artwork-feature-navigation
      opacity 0 !important

.artwork-auction-results-button
  margin-top 10px
  margin-right 13px

.related-posts-add-button.avant-garde-header-small
  padding-left 0

.artwork-left-section
  position absolute
  top 0
  left 0
  width 200px
  text-align left

#artwork-feature-navigation
  opacity 0
  transition opacity 0.5s
  a
    text-decoration none
  &:not(:empty)
    opacity 1

#the-artwork-image
  display inline-block
  max-width 100%
  max-height 100%

.artwork-additional-images
  margin 20px auto

.artwork-additional-image
  display inline-block
  height 45px
  margin 5px
  border 3px solid transparent
  vertical-align middle
  transition border-color 0.125s
  > img
    display inline-block
    height 100%
  &.is-active
  &[data-state='active']
    border-color purple-color

.artwork-image-actions
  padding 20px 0 40px
  display inline-block
  position relative

// Below the fold
.ari-left
.ari-right
  display inline-block
  vertical-align top
  text-align left
.ari-left
  width 63%
  max-width 660px
  height 100%
  .posts-add-button
    margin-left 10px
.ari-right
  width 30%
  padding-left 50px
  margin-left: 50px
  border-left 1px solid gray-lighter-color
  &.borderless
    border-left 0 solid gray-lighter-color
    margin-left 0
    padding-left 0

.ari-container
  width: 86%
  text-align center
  margin 0 auto


// Bio and related works
.artwork-artist
  transition opacity 0.5s
  &[data-state='pending']
    opacity 0
  .avant-garde-header-center a
    text-decoration none

.artwork-artist-blurb
.artwork-blurb
  margin 4px 0 10px
  font-size 17px
  line-height 1.5
  text-align left
  word-wrap break-word

#artwork-related-show-section, #artist-artworks-section
  display none
  opacity 0
  transition opacity 1s
  &.is-fade-in
    opacity 1

#artist-artworks-section
  .artworks-list
    margin-top 20px
  .artist-link-container
    text-align center
  .faux-underline-hover-large
    display inline-block
    text-align center
    avant-garde()
    font-size 13px
    text-decoration none
    margin-top 20px

.ars-metadata
  position relative
  margin 20px 0
.ars-partner-name
  avant-garde()
  margin-right 5px
.ars-show-name
  text-decoration none
.ars-buttons
  position absolute
  top 0
  right 0
  button
    margin-left 10px

#artwork-below-the-fold-section
  margin 20px auto
  opacity 0
  transition opacity 0.5s
  &[data-state='fade-in']
    opacity 1
  h2 a
    text-decoration none

.monocle-zoom
  width 256px
  height 256px
  position absolute
  pointer-events none
  border-radius 256px
  background-repeat no-repeat
  background-color white
  box-shadow 0 10px 24px rgba(0,0,0,0.12)

.auction-clock-closed
  display none

.about-artwork-section.add-margin-bottom
  margin-bottom 40px

.artwork-video
  margin auto
  max-width 100%
  iframe, .artwork-video-img
    width 100%
    height 100%

.artwork-video-img
  position relative
  cursor pointer
  max-width 100%
  background no-repeat center top
  background-size contain
  &:hover .play-button
    background-color purple-color
  .play-button
    z-index 2

@import './deep_zoom'
@import './circle_buttons'
@import './view_in_room'
@import './layered_search'
@import './detail'
@import '../components/contact'
@import '../components/partner_phone_number'
