.layered-search-layers
  margin: 0px 0px 20px
  overflow ellipsis
  text-align center
.layered-search-layer-button
  margin 0 10px
  transition color 0.125s
  &[data-state='active']
    color purple-color
  &:first-child
    margin-left: 0px

#layered-search-results
  position relative
  min-height 400px

#layered-search-layer-gene-button-container
  margin 20px 0
  text-align center
#layered-search-layer-gene-button
  &[data-type='gene']
  &[data-type='tag']
  &[data-type='synthetic'][data-id='for-sale']
    display inline-block
  &, &[data-state='inactive']
    display none

// V2 Related search layers
#layered-search-header-v2
  clearfix()
  margin-bottom 20px
  margin-top 20px
  h1
    garamond-size('headline', true)
    float left
  .layered-search-layers--v2
    float right
    vertical-align middle
    margin-top 10px
  .layered-search-layer-button
    avant-garde-size('body')
    text-decoration none
    &:hover
      border-bottom 2px solid black
    &[data-state='active']
      border-bottom 2px solid purple-color

.layered-search-results--v2
  .fillwidth-list li
    margin-bottom 20px

#layered-search-layer-gene-button-container--v2
  border-top 1px solid gray-lighter-color
  margin 20px 0
  padding-top 20px
  text-align right

.layered-search-layer-gene-button--v2
  chevron()
