.layered-search-layers
  margin 20px 0
  text-align center
  overflow ellipsis
.layered-search-layer-button
  margin 0 10px
  transition color 0.125s
  &[data-state='active']
    color highlight-color

#layered-search-results
  position relative
  min-height 400px

#layered-search-layer-gene-button-container
  margin 20px 0
  text-align center
#layered-search-layer-gene-button
  &[data-type='gene']
  &[data-type='tag']
  &[data-type='synthetic'][data-id='for-sale']
    display inline-block
  &, &[data-state='inactive']
    display none
