// Overrides
#artwork-artist-related-posts-container
  .rp-image
  .rp-blurb
    width 100%
    float none
  .rp-blurb
    padding 0
    margin 20px 0
  .rp-author
    margin 10px 0
  .rp-title
    width 100%
    margin 0
    font-size 24px
    line-height 1.3
  .rp-summary
    display none
