// Overrides
#artwork-artist-related-extended
  .ra-image
  .ra-blurb
    width 100%
    float none
  .ra-blurb
    padding 0
    margin 20px 0
  .ra-author
    margin 10px 0
  .ra-title
    width 100%
    margin 0
    font-size 24px
    line-height 1.3
  .ra-summary
    display none

  // Remove when posts are retired in favor of articles
  .rp-image
  .rp-blurb
    width 100%
    float none
  .rp-blurb
    padding 0
    margin 20px 0
  .rp-author
    margin 10px 0
  .rp-title
    width 100%
    margin 0
    font-size 24px
    line-height 1.3
  .rp-summary
    display none
