extends ../../../components/main_layout/templates/index.jade

block head
  include meta.jade

append locals
  - bodyClass = bodyClass + ' body-no-margins body-transparent-header body-transparent-header-white body-about'
  - assetPackage = 'misc'

block body
  include sections/index.jade
