title About | Artsy
meta( property="og:title", content="About | Artsy" )
meta( name="description", content="Artsy’s mission is to make all of the world’s art accessible to anyone with an Internet connection." )
meta( name="og:description", content="Artsy’s mission is to make all of the world’s art accessible to anyone with an Internet connection." )
meta( property="twitter:description", content="Artsy’s mission is to make all of the world’s art accessible to anyone with an Internet connection." )

link( rel="canonical", href=(sd.APP_URL + "/about") )
meta( property="og:url", content=(sd.APP_URL + "/about") )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
meta( name='viewport', content='user-scalable=0, width=1300' )
