extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'artists_artworks'

block body
  .commercial-filter.main-layout-container
    .cf-headline
      //- rendered on the client
    .cf-sidebar
      .cf-sidebar__filter.cf-sidebar__price
        //- rendered on the client
      .cf-sidebar__filter.cf-sidebar__followed_artists
      .cf-sidebar__filter.cf-sidebar__mediums
        //- rendered on the client
      .cf-sidebar__filter.cf-sidebar__size
        .cf-sidebar__size__width
          //- rendered on the client
        .cf-sidebar__size__height
          //- rendered on the client
      .cf-sidebar__filter.cf-sidebar__periods
        //- rendered on the client
      .cf-sidebar__filter.cf-sidebar__locations
        //- rendered on the client
      .cf-sidebar__filter.cf-sidebar__colors
        //- rendered on the client
    .cf-right
      .cf-categories
        //- rendered on the client
      .cf-total-sort
        .cf-total-sort__total
          //- rendered on the client
        .cf-total-sort__sort
          //- rendered on the client
      .cf-pillboxes
        //- rendered on the client
      .cf-artworks
        //- rendered on the client
      hr
      .cf-pagination
        //- rendered on the client
