- var associatedSale = auction.related().sale

if associatedSale.id
  .auction-associated-sale.auction-page-section
    if associatedSale.hasImage('source')
      .aas-image
        a.responsive-image-container( href= associatedSale.href() )
          img(
            src= associatedSale.cropUrlFor({ width: 400, height: 300 })
            alt= associatedSale.get('name')
            title= associatedSale.get('name')
          )

    .aas-metadata
      a( href= associatedSale.href() )
        h4.aas-metadata-subtitle Related Sale
        h3.aas-metadata-title
          = associatedSale.get('name')

    .aas-clock
      .js-auction-clock( data-id= associatedSale.id )
        include ../../../components/clock/template

      a.avant-garde-button-black( href= associatedSale.href() )
        | View Lots
