.email-to-registration-transition
  .email-to-registration-transition-logo
    i#main-layout-welcome-logo.icon-logotype

  .email-to-registration-transition-thank-you Thank you.

  .email-to-registration-transition-message We'll notify you when the auction begins. Until then, you may also register to bid.

  button.email-to-registration-transition-register.avant-garde-button-black Register to bid

  div
    a.email-to-registration-transition-skip(href="#") Skip
