@require '../stylus_lib'

.cta-bar
  position fixed
  right 0
  bottom 0
  left 0
  padding 40px
  background-color black
  color white
  text-align center
  transform translateY(100%)
  transition transform 0.5s
  z-index 999
  > *
    opacity 0
    transition 1s
  &[data-mode='editorial-signup']
    right 40px
    bottom -40px
    left inherit
    background-color white
    border 1px solid gray-lighter-color
    padding 30px
    visibility hidden
    &[data-state='in']
      bottom 40px
      visibility visible
  &[data-state='in']
    transform translateY(0%)
    > *
      opacity 1

.cta-bar-headline
  font-size 30px
  line-height 1.2
.cta-bar-button
  min-width 340px
.cta-bar-defer
  > a
    color gray-darker-color
    font-size 17px
    text-decoration none
    border-bottom 1px solid darken(gray-darker-color, 25%)
.cta-bar-button
.cta-bar-form
  margin 20px 0
.cta-bar-form
  height 50px
  > input
  > button
    height 100%
    margin 0 5px
  > input
    background-color white
    border none
    width 340px

// Gallery Insights Signup
.cta-bar-small
  width 100%
  display inline-flex
.cta-bar-header
  width 50%
  float left
  display block
  text-align left
  > h2
    font-size 30px
  > h3
    font-size 17px
    margin-top 10px
.cta-bar-small-form
  width 50%
  display flex
  > button
    min-width 130px
    margin-left 10px
  > .cta-bar-defer
    display inline
    margin auto 0px auto 40px
  > input
    width 100%
    background-color white
    border none
.cta-bar-thanks
  width 100%
  display none
.cta-bar-container
  max-width 1250px
  height 54px
  margin auto

// Editorial Signup
.cta-bar-header-editorial
  text-align left
  margin-bottom 20px
  h2
    avant-garde-size('body')
    color black
  h3
    garamond-size('l-body')
    color black
.cta-bar-defer-editorial
  position absolute
  top 22px
  right 27px
  > a
    color gray-darker-color
    font-size 20px
    text-decoration none
    border-bottom none
  > a:hover
    color black
.cta-bar-form-editorial
  width 100%
  > button
    padding 0px
    height 30px
    width 90px
    border-radius 2px
    background-color black
    avant-garde-size('s-headline')
    line-height 1em
    position absolute
    right 40px
    bottom 40px
  > input
    border 1px solid gray-lighter-color
    height 50px
    width 430px
    background-color white
