#galleries-institutions-footer
  display flex
.galleries-institutions-footer-section
  flex 1 1 50%
  text-align center
  margin 70px 0
  padding 50px 50px
.galleries-institutions-footer-section-right
  border-left 1px solid gray-lighter-color
.galleries-institutions-footer-text
  garamond-size('headline')
  margin-bottom 30px
