@require '../../../../components/stylus_lib'

.show-follow-artists
  &.has-columns
    column-count 2
    column-gap 40px
  > .entity-with-follow
    display inline-block
    width 100%
    margin-bottom 10px
