#home-top-rail-section
  margin-bottom 40px
  min-height 400px
  position relative
  .home-featured-header
    padding-top 20px
    border-top 1px solid gray-lighter-color

#home-top-rail li, #home-suggested-artworks li
  figure
    margin 0
  a
    width 100%
  .artwork-item-more-info
    display none

#home-suggested-artworks
  padding-bottom 40px

.home-top-rail-right
  width 30%
  padding-left 30px

.home-top-rail-right, .home-top-rail-left
  display inline-block
  vertical-align top

.home-top-rail-container
  .home-top-rail-left
    width 100%
  .home-top-rail-right
    display none
  &.is-with-active-bids
    .home-top-rail-left
      width 70%
    .home-top-rail-right
      display inline-block
      width 30%
