.home-top-rail-container(
  class=activeBids ? 'is-with-active-bids' : ''
)
  .home-top-rail-left
    if artworks.length
      h2.home-featured-header.top-featured-header
        if artworks.personalized && artworks.personalized.length
          | Works By Artists You Follow
          .home-browse-all-right
            a( href='/works-for-you' )
              | View All
        else
          | Featured Artworks For Sale
          .home-browse-all-right
            a( href='/browse/artworks?price_range=*-*' )
              | View All

    ul#home-top-rail.grid-4-up.home-featured-list
      if artworks.length
        for artwork in artworks.models
          li.grid-item( class="is-via-#{artwork.get('source')}" )
            - showBlurb = true
            - artworkSize = 'square'
            include ../../../../components/artwork_item/templates/artwork
      else
        li.loading-spinner

  .home-top-rail-right
    h2.home-featured-header Your Active Bids
    .home-top-rail-right-mab
