h1 Send feedback to Artsy
hr
.contact2-iph-body
  p Thanks for helping us improve Artsy. You can also email any feedback to&nbsp;
    a.faux-underline( href='mailto:support@artsy.net') support@artsy.net
.contact2-iph-icon: img(
  src= representative.iconImageUrl()
  alt= representative.get('name')
)
hr