@require '../../../../components/artwork_masonry'

.artwork-show-artworks
  //

  &__header
    display flex
    align-items center
    justify-content space-between
    margin-bottom gutter

    &__name
      serif('headline')
      > a
        fine-faux-underline()
