@import '../../components/stylus_lib'
@import '../../components/avant_garde_tabs/index'
@require '../../../lib/palette'

.auctions-header
  h1
    text('largeTitle')
    text-align center
    padding-top getSpace(3)
    padding-bottom getSpace(1)

.auctions-header--background-image
  background-size cover
  background-position center
  height 200px
  color getColor('white100')
  margin-bottom getSpace(3)

  h1
    text('largeTitle')
    position relative
    top 50%
    transform translateY(-50%)

.auction-page-content--sign-up-container
  padding-bottom getSpace(3)
  text-align center

  .avant-garde-box-button
    background #000
    margin-top getSpace(2)

  .auction-page-content--sign-up-container__label
    text('text')

.auctions-page-list__auction__bid-label
  text('mediumText')
  > .is-promo
    color dark-gray-text-color
  > .is-open
    color getColor('green100')

.auctions-page-list[data-list='current'] .auctions-page-list__auction__bid-label
  display block

.avant-garde-tabs-list__upcoming-name
  text('text')
  display block
  text-decoration none

.auctions-page-list__auction

  .auctions-page-list__auction__name.avant-garde-tabs-list__chevron-name
    margin-top 0
    margin-bottom getSpace(2)

  .auctions-page-list__auction__name__title
    text('title')
    max-width 80%

  .auctions-page-list__auction__images
    overflow hidden
    height 120px
    position relative

  .auctions-page-list__auction__image
    height 100%
    width auto
    margin-right getSpace(0.5)

  .avant-garde-tabs-list__chevron-name

    &:after
      font-size 24px
      margin-top -8px
