#partner2-overview
  .partner2-overview-container
    display flex
    flex-wrap wrap
  .partner2-overview-section
    min-height 200px
    margin-bottom 60px
    border-top 1px solid gray-color
    flex 0 1 100%
    width 100%
    &:empty
      display none
    &[data-module=hero]
      width 100%
    &:first-of-type
    &[data-module=hero]
    &[data-module=about]
    &[data-module=news]
      border-top none
    &[data-module=about]
      flex-basis calc(66% \- 40px)
      margin-right 40px
    &[data-module=news]
      .partner2-news
        display flex
      .partner2-news-item
        flex-basis 33%
      .partner2-overview-section-title
        display none
    &[data-module=about]
    &[data-module=news]
      min-height 100px
      .partner2-overview-section-title
        avant-garde-size('m-headline')
    &[data-module=about] + [data-module=news]
      flex-basis 33.33%
      .partner2-overview-section-title
      .partner2-news
        display block
      .partner2-news-item
        border-top 1px solid gray-lighter-color
        padding 15px 0
        margin 0
    &[data-module=artists][data-component=PartnerArtistsGridView]
      order 99
    .partner2-overview-section:first-child
      border-top none

  .partner2-overview-section-title
  .partner2-overview-section-view-all
    display inline-block
    margin 15px 0 20px 0
    vertical-align middle

  .partner2-overview-section-title
    garamond-size('headline')
    width calc(100% \- 100px)

  .partner2-overview-section-view-all
    garamond-size('l-caption')
    width 100px
    text-align right

  .partner2-overview-messages
    min-height 0
    background-color #fff5db
    padding 100px 0
    position relative
    top -50px
    margin-bottom -50px
    p
      text-align center
      color gray-darkest-color
      font-size 19px
      line-height 1.5
      &.message-title
        font-size 30px
