extends ../../../components/main_layout/templates/index
include ../../../node_modules/artsy-ezel-components/pagination/paginator

block head
  include meta

append locals
  - assetPackage = 'misc'

block body
  #search-page.main-layout-container
    if referrer
      .search-query-referrer
        | The page you requested
        em &nbsp;&lt;#{sd.APP_URL}#{referrer}&gt;&nbsp;
        | does not exist

    .search-query
      if term
        if referrer
          | Instead showing results for
        else
          | Search results for
        em
          | &ldquo;
          span#search-term= term
          | &rdquo;

    .search-results
      if results.length > 0
        for result in results
          include ./search_result.jade
      else
        | Nothing found

    +paginate(currentPage, totalPages, '?q=' + term + '&')
