@require '../../../components/stylus_lib'

.categories-page
  padding 40px 0

.categories-header
  position relative
  > h1
  > h2
    margin 20px 0
.categories-header-jump-link
  position absolute
  top 0
  right 0
.categories-header-large
  font-size 50px
.categories-blurb
  margin 30px 0
  font-size 20px
  line-height 1.4

.category-set
  margin 60px 0
  font-size 0
.category-set-header
.categories-az-header
  margin 30px 5px
  font-size 25px
.category-set-categories
  margin 20px 0
.category-set-category
  position relative
  display inline-block
  width calc('20% - 10px')
  margin 5px
  vertical-align bottom
.csc-title
  position absolute
  right 20px
  bottom @right
  left @right
  avant-garde()
  color white
  font-size 13px
  text-align left
  line-height 1
  text-shadow 0 0 5px rgba(black, .125)

.categories-az-header
  padding 40px 0
