.gs-header
  h2
    | Your Gallery Introduction
.gs-body
  label.avant-garde-form-label
    | Preview
  .settings-collector-introduction-preview.js-settings-collector-introduction-preview
    //- Rendered separately
