nav.filter-nav.filter-artworks-nav
  if ! _.isEmpty(counts.price_range) && ! hideForSaleButton
    a.filter-button.filter-nav-only-for-sale(class=params.get('for_sale') == 'true' ? 'is-active' : '' )
      .artsy-checkbox--checkbox
        input( type='checkbox', id='only-for-sale' checked=( params.get('for_sale') == 'true' ? 'checked' : undefined ) )
        label( for='only-for-sale' )
      label( for='only-for-sale' ) Only for sale

  if includeAllWorksButton
    a.filter-button.filter-nav-all( href=filterRoot ) All Works
  if counts
    each filter, name in counts
      include ../dropdown/template
