unless auction.isAuctionPromo()
  .auction-header-metadata-cell
    h3 Contact
    .auction-header-metadata-cell-contents
      p
        | Have questions about this auction?
        br
        a.fine-faux-underline.js-specialist-contact-link( href='#' )
          | Contact an Artsy Specialist
else
  //- There is currently no ability to inquire about a sale directly
