details-height = 70px

.fillwidth-list li
  margin 0 15px 15px 0
  position relative

.fillwidth-img-container
  padding-bottom details-height
  img
    background-color #f2f2f2

.fillwidth-details-container
  font-size 15px
  color dark-gray-text-color
  line-height 1.2em
  position absolute
  bottom 0
  height details-height
  padding-top 15px
  p
    ellipsis()

.fillwidth-see-more
  margin 0 auto 20px auto
  position relative