details-height = 90px

.fillwidth-list
  li
    margin 0 15px 15px 0
    position relative

  .artwork-item
    margin 0
  .artwork-item-image-container
    margin-bottom 0
    position relative
    .artwork-item-image-link
      display inline-block
    img
      background-color #f2f2f2
  .artwork-item-caption
    bottom 0
    height details-height
    line-height 1.2em
    overflow ellipsis
    padding-top 15px
    position absolute

.fillwidth-see-more
  display block
  margin 0 auto 20px auto
  position relative
