ul.fillwidth-list
  for artwork in artworks
    li.fillwidth-row-uninitialized
      include ../../components/artwork_item/template
if seeMore
  button.avant-garde-button-text.fillwidth-see-more See More
