ul.fillwidth-list
  for artwork in artworks
    li
      .fillwidth-img-container
        img( src=artwork.defaultImageUrl() )      
      .fillwidth-details-container
        p= artwork.get('artist').name
        p #{[artwork.get('title'), artwork.get('date')].join(',')}
        if artwork.get('price')
          p= artwork.get('price')
if seeMore
  button.avant-garde-button-text.fillwidth-see-more See More