#gene-content .gene-artworks
  height: auto

.gene-page-large-header
  margin: 30px 0 12px

.gene-follow-button-container
  margin 40px auto 30px
  .avant-garde-box-button
    border-style none

#gene-artists-list
  margin-top 30px
  #gene-artists-container
    margin-bottom 40px

.gene-artworks
  margin-top 20px

.gene-page-artist-chevron-nav-list
  a.nav-image-item
    &::after
      margin-top 9px
    &:last-child
      border-bottom 1px solid light-gray-border-color

.gene-page-artist-nav-item-label
  display inline-block
  margin-left 18px
  margin-top 12px
  vertical-align middle
  width calc(67% - 28px)

.gene-page-artist-nav-image
  background-size cover
  background-position center center
  background-repeat no-repeat
  display inline-block
  vertical-align top
  height 45px
  width 45px

.gene-description-text
  max-height 90px
  position relative
  overflow hidden

.gene-description-text .gene-read-more-fade
  position absolute
  bottom 0
  left 0
  width 100%
  text-align center
  margin 0
  padding 30px 0

  background-image linear-gradient(to bottom, rgba(255,255,255,0), white 53px)

.gene-read-more
  text-align center

.gene-read-more-button
  text-decoration none
