.cf-popular_artists
  &__row
    margin-top 15px
    &:hover
      i
        color black
    img
      display inline-block
      border-radius 15px
      margin-right 10px
      vertical-align middle
    a
      text-decoration none
    i
      color gray-lighter-color
      vertical-align middle
      float right
      font-size 25px
      transition color 0.25s
    div
      display inline-block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      width calc(66% \- 15px)
      vertical-align middle
  border-left 1px solid gray-lighter-color
  padding-left 30px
  margin-bottom 40px
