doctype html
html(lang="en")
  head
    title Login
    style.
      label, a {
        display: block;
      }
  body
    #password
      h2 Set Password
      form( action='/newpassword' method='POST' )
        label Password
          input( name='password' )
        br
        label Password Confirmation
          input( name='password_confirmation' )
        br
        label Reset Password Token (a query param from the reset email)
          input( name='reset_password_token' )
        button( type='submit' ) Submit