.consignments2-submission-describe-work-mobile
  &__title
    margin-top 50px
    text-align center
    garamond-size('headline')
    line-height 1.1
    margin-bottom 5px

  &__form
    max-width 550px
    margin 0 auto
    margin-top 50px

  &__next-button.avant-garde-button-black
    height 45px
    margin-top 0px
    width 100%
    margin-bottom 10px

  &__next-button[disabled]
    pointer-events none
    background-color white
    color gray-color
    border 1px solid gray-color

  &__input
    height 40px
    width 100%

  &__label
    avant-garde-size('s-headline')
    margin-bottom 4px

  &__instructions
    margin-bottom 4px

  &__error
    color red-color
    text-align center

  &__row
    display flex
    padding-bottom 27px

    &_border-bottom
      margin-bottom 27px
      border-bottom 1px solid gray-lighter-color

  &__small-row
    display flex
    padding-bottom 21px

    &_border-bottom
      margin-bottom 21px
      border-bottom 1px solid gray-lighter-color

  &__row-item
    margin-right 30px
    width 100%
    &:last-child
      margin-right 0px
