//
// Styling for the infinite scrolling list of current shows
//

@import '../../../components/stylus_lib'
@import '../../../components/stylus_lib'
@require '../../../../lib/palette'

.home-page-current-show
  border-bottom 1px solid getColor('black10')
  margin-bottom getSpace(4)
  padding-bottom @margin-bottom
  &:first-child
    border-top @border-bottom
    margin-top getSpace(2)

  header
    margin getSpace(2, 0)

  h2 // Show title
    text('title')
    margin-bottom getSpace(0.3)

  h3 // Show date/place
    text('text')
    color getColor('black60')

  a
    text-decoration none
