//
// Styling for the hero units at the top of the homepage
//

@import '../../../components/stylus_lib'
@require '../../../../lib/palette'

HOME_PAGE_HERO_UNIT_HEIGHT = 420px

#home-page-hero-units
  background-color getColor('black100')

.home-page-hero-unit
  position relative
  display inline-block
  width 100%
  height HOME_PAGE_HERO_UNIT_HEIGHT
  margin 0
  background-size cover
  background-position left center
  vertical-align bottom
  &.home-page-hero-unit-left-light
  &.home-page-hero-unit-center-light
  &.home-page-hero-unit-right-light
    background-color getColor('black100')
    color getColor('white100')
    text-shadow 0 0 2px rgba(25, 25, 25, .6)
    a
      color getColor('white100')
  a
    display block
    text-decoration none
    white-space normal

.home-page-hero-unit
  &__heading
    text('text')

  &__title
    text('largeTitle')
    // Custom sizing
    font-size 48px !important

  &__subtitle
    text('subtitle')
    margin-top getSpace(1)

.home-page-hero-unit-details
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  padding getSpace(2, 2, 4, 2)
  z-index 2

.home-page-hero-unit-title-img
  width 100%
  margin getSpace(1, 0)
