@import './hero_units'
@import './current_shows'

.home-page-section.main-side-margin
  margin-top 20px

.home-page-section>h2
  font-size: 22px;
  margin-bottom: 25px;
  line-height: 28px;
  
#home-page-featured-links
  margin-top 20px

.home-page-featured-header
  margin 30px 0 20px 0
  font-size large-avant-garde-font-size !important

#home-page-featured-list
  margin 20px 0

.home-featured-back-link
  margin 30px 0
  display block
  text-decoration none
