@import './hero_units'
@import './current_shows'
@require '../../../../lib/palette'

.home-page-section.main-side-margin
  margin-top getSpace(2)

.home-page-section > h2
  text('title')
  text-align center
  margin-bottom getSpace(2)

#home-page-featured-links
  margin-top getSpace(2)

.home-page-featured-header
  text('title')
  text-align center
  margin getSpace(3, 0, 2, 0)

#home-page-featured-list
  margin getSpace(2, 0)

.home-featured-back-link
  margin getSpace(3, 0)
  display block
  text-decoration none
