@import '../components/stylus_lib'

light-yellow-background-color = #feffd6

.alert
  padding 15px
  text-align center
  background-color light-yellow-background-color
  color #000
  border-bottom 1px solid light-gray-border-color
