@require '../../../components/gradient_blurb/index'
@require '../../../components/merry_go_round/index'
@require '../components/article_cell/index'

// Books
.merchandisable-items
  position relative
  display flex
  flex-direction row
  flex-wrap wrap
.merchandisable-item
  width 20%
  padding-right 20px
  text-decoration none
.merchandisable-item-metadata
  margin 20px 0
.merchandisable-item-image > img
  max-width 100%
  max-height 100%
.merchandisable-item-title
  font-weight bold
.merchandisable-item-publish-date
  color gray-darker-color

// Exhibitions
.filterable-list-item-travel
  margin-left 1em

// CV
.artist-cv-link
  white-space nowrap
  text-overflow ellipsis
  overflow hidden

// Overview
.artist-overview-header
  margin-bottom 20px
  .sixty-forty-bisected-header
    margin 0
.artist-blurb
  fade-in()
#main-layout-footer
  transition opacity 1s
.gradient-blurb-read-more-container
  width 100%
  height 32px
  .gradient-blurb-read-more
    padding 8px 29px
    avant-garde-size(s-headline)
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    background-color white
    border 1px solid gray-lighter-color

  &::before
    content ''
    position absolute
    bottom 50%
    left 0
    right 0
    border-bottom 2px dotted gray-lighter-color

// Articles

.article-list-item
  block-margins(40px)
  clearfix()
  a
    display block
    text-decoration none

  &__author
    avant-garde()
    font-size 11px
    white-space nowrap
    margin-top 8px
    line-height 1
    color gray-darker-color

  &__title
    width 90%
    font-size 25px

  &__image
    float left
    width 30%

  &__blurb
    float left
    max-width 450px
    padding-left 40px

  &__summary
    margin-top 25px

  &__go
    faux-underline()

  &__author > *
    margin-right 10px
    &:last-child
      margin 0

// Overview Section Rails
.artist-related-rail
  mgr-n-up(4, 30px, (3/4))
  padding-top 20px
  margin-top 20px
  border-top 1px solid gray-lighter-color
  &__header
    margin-bottom 15px
    position relative
    h1
      garamond-size('headline', true)

  &__view-all
    faux-underline(black)
    position absolute !important
    right 0
    top 0

  .artist-rail-cell
    display inline-block

  .hoverable-image-link
    width 100%

  &[data-id='artists']
    .mgr-arrow-left
    .mgr-arrow-right
      top 15px
    .mgr-cell
      margin-top 15px
      margin-bottom 15px
    .rail-content-outer
      overflow hidden
    .rail-content-inner
      margin 0 -10px
    .artist-rail-cell-inner
      padding 10px
      box-shadow 0 0 20px rgba(black, .12)

// Related Artists section
.artist-related-artists-section
  display none
  fade-in()

// Section Grid Views
.artist-related-shows-content
.artist-related-artists-content
  margin-bottom 60px
  grid-4-up(30px, 40px)

// Artwork Rail
.artist-artworks-rail .mgr-horizontal-nav
  .mgr-arrow-left
  .mgr-arrow-right
    top 90px