#favorites-make-public
  h3 Your favorites need to be public to share.
    | Make them public now?

  p &#40;You can always change this in your profile settings.&#41;

  a.make-public.avant-garde-button.is-block(href='#') Yes

  a.cancel.avant-garde-button.is-block(href='#') No
