footer#auth-footer
  aside
    | By creating your Artsy account you agree to our
    br
    a( href='/terms' ) Terms of Use
    | &nbsp;and&nbsp;
    a( href='/privacy' ) Privacy Policy
    | .
  p
    | Already have an account?&nbsp;
    a.auth-toggle.small-caps( href='#', data-mode='login' ) Log in
