include ./_header

section#auth-body
  .auth-register
    form.auth-form
      input.bordered-input.is-block(
        name='email', type='email', placeholder='Email' autofocus, required
      )
      button#auth-submit.avant-garde-button-black.is-block Send me reset instructions
      footer.auth-form-options
        a.auth-toggle( href='#login', data-mode='login' ) I remember it!

footer#auth-footer
  p
    | Don&rsquo;t have an account?&nbsp;
    a.auth-toggle.small-caps( href='#signup', data-mode='signup' ) Sign up
