include ./_header

section#auth-body
  p.auth-reset
    | Please check your email for instructions on how to reset your password
  p
    a.auth-toggle.small-caps( href='#login', data-mode='login' ) Log in
