.consignments-submission-sign-up
  &__title
    margin-top 50px
    text-align center
    garamond-size('headline')
    line-height 1.1
    margin-bottom 5px

  &__subtitle
    text-align center
    color gray-dark-color
    margin-bottom 37px

  &__form
    max-width 550px
    margin 0 auto

  &__clickable
    color gray-dark-color
    text-decoration underline
    cursor pointer

  &__error
    color red-color
    padding-bottom 15px
    text-align center

  &__row
    padding-bottom 27px

    &_no-padding
      padding-bottom 0px

  &__forgot-password
    text-align right
    margin 5px 0px

    a
      color gray-dark-color

  &__sign-up-button.avant-garde-button-black
    margin-top 0px
    width 100%
    margin-bottom 10px

  &__sign-up-button[disabled]
    pointer-events none
    background-color white
    color gray-color
    border 1px solid gray-color
