.feed
  margin-bottom 50px
  min-width 900px
  min-height 500px
  text-align left
  .loading-spinner
    margin-top 100px
    position relative
    margin-bottom 100px

.feed-items
  margin 0 auto

.feed-item
  margin 0 auto
  padding 60px 0
  width 100%
  border-bottom 1px solid gray-lighter-color
  overflow visible
  text-align left
  position relative
  &.feed-item-partner-show
    padding 0
  &:last-child
    border-bottom none
  .feed-large-artworks-columns
    width 100%
    .artwork-column
      width 22.3%
      margin 0 1.8%
      &:first-child
        margin-left 0%
      &:last-child
        margin-right 0%
  .feed-left-column
    width 404px
    margin-right 80px
    z-index 4
  .feed-column
    display inline-block
    vertical-align top
    text-align left
    font-size 17px
    line-height 141%
    z-index 1
    width 100%
    .fair-location
      display none
    // No clue what this is?
    .updated
      text-transform uppercase
      color gray-dark-color
      font-size 11px
      padding-top 4px
      padding-left 10px

.feed-item-top-section
  display table
  width 100%
  margin 30px 0
  a
    text-decoration none
.feed-item-metadata-section
.feed-item-share-section
  display table-cell
  vertical-align middle
.feed-item-metadata-section
  .plus-follow-button
    margin-left 0.5em
.feed-item-share-section
  text-align right
  .share-to-pinterest
    display none

.feed-item-see-more
  margin 20px 0
  text-align center

.feed-item-partner-name
  avant-garde()
  font-size default-avant-garde-font-size
  text-decoration none
