if artworks.length
  h2.home-featured-header.top-featured-header
    if artworks.personalized && artworks.personalized.length
      | Works by artists you follow
    else
      | Featured artworks for sale

ul#home-featured-artworks.grid-4-up.home-featured-list
  if artworks.length
    for artwork in artworks.models
      li.grid-item( class="is-via-#{artwork.get('source')}" )
        - showBlurb = true
        - artworkSize = 'square'
        include ../../../../components/artwork_item/templates/artwork
  else
    li.loading-spinner

.home-browse-all-center
  if artworks.personalized && artworks.personalized.length
    a.avant-garde-button-underlined( href='/works-for-you' )
      | All works by artists you follow
  else
    a.avant-garde-button-underlined( href='/browse/artworks?price_range=-1%3A1000000000000' )
      | All for sale artworks
