hr
.artist-rail-header
  h1= title
  a(href= viewAllUrl) View All
.js-artist-rail.mgr-horizontal-nav
  ul.mgr-cells.js-mgr-cells.artist-rail-list
    block cells

  nav.mgr-navigation.js-mgr-navigation
    include ../../../../components/merry_go_round/templates/horizontal_navigation