@require '../stylus_lib'

reminder-width = 360px
reminder-height = 80px

.auction-reminders
  position fixed
  bottom 20px
  right 20px
  z-index zindex-modal

.auction-reminder
  position relative
  display flex
  width reminder-width
  height reminder-height
  block-margins(10px)
  padding 10px
  background-color white
  border 1px solid gray-lighter-color
  text-decoration none
  transition opacity 0.25s, transform 0.25s
  &[data-state='open']
    opacity 1
    transform translateY(0)
  &, &[data-state='closed']
    opacity 0
    transform translateY(reminder-height / 2)
    
  &__close
    position absolute
    top 5px
    right 10px
    color gray-color
    &:hover
      color gray-lighter-color
    > .icon-close
      font-size 11px
      line-height @font-size
  &__image
    width 80px
    height 60px

  &__metadata
    width 250px
    margin-left 10px
    &__title
      avant-garde-size('s-headline')
      &.green
        color new-green-color
      &.red
        color new-red-color
    &__desc
      garamond-size('s-body')
      line-height 1.33
      ellipsis()
    &__action
      garamond-size('s-body')
      color gray-darker-color
      line-height 1.33

