.bordered-pagination
  &__hide-next
    > ul
      > li
        &:last-child
          display none
        &:only-child
          display inline-block
    .paginator-next
      opacity 0.3
      pointer-events none
