header.scontact-header
  h1.scontact-headline
    | Send feedback to Artsy

  hr

  p.scontact-description
    | Thanks for helping us improve Artsy.
    | You can also email any feedback to
    = ' '
    a.fine-faux-underline( href='mailto:support@artsy.net')
      | support@artsy.net

hr

include forms/feedback
