//- Flexible Navigation
.team-channel-nav
  .responsive-layout-container
    .team-channel-nav__container
      .team-channel-nav__artsy-logo-square
        a(href='/')
          i.icon-logo
      .team-channel-nav__artsy-logo
        a(href='/')
          i.icon-logotype
      a.team-channel-nav__name(href="#{sd.APP_URL}/#{channel.get('slug')}")= channel.get('name')
      .team-channel-nav__tagline= channel.get('tagline')
      .team-channel-nav__links
        for link in channel.get('links')
          if link.text && link.text.length > 0
            a(href=link.url)= link.text
      a.team-channel-nav__hamburger.js-team-channel-toggle-hamburger
        .team-channel-nav__hamburger-icon
