@import '../stylus_lib/index.styl'
@import './overlay_controls'

.artwork-item-image-container
  margin-bottom 11px

.artwork-item-image-link
  display inline-block
  overflow hidden
  position relative

.artwork-item-caption
  color dark-gray-text-color
  font-size 15px
  line-height 1.3
  a
    color dark-gray-text-color
  p
    overflow ellipsis

.artwork-item-artist
  font-weight bold

.artwork-item-image
  background-color #f2f2f2
