// mpv-height = 580px
.faq-multi-page
  border-top 1px solid gray-lighter-color
  .js-multi-page-embed
	  width 75%
	  // height mpv-height
	  margin 20px auto
	  padding 40px 0
	  @media screen and (max-width: smallBreakpoint)
	    width 90%
	  .mpv-page-content
	    // height 512px
	    // overflow-y scroll