@media (max-width: 640px)
  .consignments-header
    height inherit
    padding gutter

    &__headline
      garamond-size('l-headline')
    &__subheadline
      garamond-size('l-body')
    &__cta
      > h3
        margin gutter 0
        avant-garde-size('body')

  .consignments-sections
    padding 0 (gutter / 2)

  .consignments-section
    display block
    padding gutter 0

    &__about
      &__headline
        garamond-size('headline')

    &--estimate
    &--privacy
      .consignments-section__about
        width 100%
        padding 0
      .consignments-section__images
        display none

    &--logos
      .consignments-section__about
      .consignments-section__images
        width 100%
        padding 0
      .consignments-section__images
        margin-bottom gutter
        padding-bottom gutter
        border-bottom 1px solid gray-lighter-color

  .consignments-steps
    padding (gutter / 2) 0

    &__headline
      garamond-size('headline')
    &__steps
      display block
      &__step
        width 100%
        clearfix()
        &__image
          display none
        &__description
          > p
            padding-right 0

  .consignments-recently-sold
    display none

  .consignments-in-demand
    padding (gutter / 2) 0
    h3
      garamond-size('headline')

  .consignments-in-demand
    &__artists
      &__artist
        width 48%
        &__name
          avant-garde-size('s-headline')
        &__button
          display none

  .consignments-footer
    width 100%
    padding gutter 0 (gutter * 2)
    h3
      garamond-size('headline')

  .consignments-credit
    padding gutter 0
    garamond-size('l-caption')

  .faq-multi-page, .faq-multi-page .js-multi-page-embed .mpv-page
    height unset
  .faq-multi-page
    border-top 1px solid gray-lighter-color
    .js-multi-page-embed
      width 100%
      padding 0
      min-height unset
      .multi-page-view
        position unset
        .mpv-container
          display unset
          margin 0 20px
          .mpv-sidebar
            display unset
            width unset
            padding-right unset
            .mpv-title
              garamond-size('l-body')
              font-weight bold
              margin 20px 0
            .mpv-description  // there is no description right now
              margin 20px 0
              garamond-size('s-body')
              > p
                block-margins(10px)
  .mpv-page
    display block
    width 100%
    border unset
    padding unset
  .mpv-page-content
    margin-top 10px
    h1
      display none
    h2
      garamond-size('s-body')
      font-weight bold
    p
      margin-bottom 20px
      garamond-size('s-body')
  .mpv-content.is-active .mpv-page-content
    display block

  .mpv-content
    border-top 1px solid gray-lightest-color
    border-bottom 1px solid gray-lightest-color

  .mpv-content-nav.chevron-arrow-button
    avant-garde-size('m-headline', true)
    padding 20px 0
    position relative
    height auto

    &::after
      right 0
      width 15px
      background-color gray-color


  .js-page.is-active::after
    transform rotate(90deg) translateX(-15px) translateY(5px)

