extends ../../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'artist_new'
  - bodyClass = 'body-artist-page'

block body
  #artist-left-menu-page
    .artist-left-menu
      include ./menu
    .artist-page
      unless tab
        include ./overview

  include ../../../../components/main_layout/templates/json_ld
