.consignments2-step-marker
  margin-top 80px
  margin-bottom 100px
  margin-left 50px
  margin-right 50px

  &_mobile
    margin-top 60px

  ul
    max-width 800px
    margin 0 auto
    align-content center
    align-items center
    display flex
    justify-content space-around

  li
    content ' '
    display flex
    flex-grow 1
    margin 0
    position relative
    text-align right
    z-index -1
    border 1px dashed purple-color

  li::before
    background purple-color
    border-radius 50%
    height 12px
    position absolute
    text-align center
    top -6px
    width 12px
    left -2px
    content ' '

  li:last-child
    flex-basis 0
    flex-grow 0
    flex-shrink 1

  .consignments2-step-marker__blah_active
    border 1px dashed gray-lighter-color

  .consignments2-step-marker__blah_active ~ li
    border 1px dashed gray-lighter-color

  .consignments2-step-marker__blah_active ~ li::before
    border 1px dashed purple-color

  &__label
    color purple-color
    position absolute
    text-align center
    width 150px
    top 18px
    left -67px
    avant-garde-size('s-headline')
