title Security | Artsy
meta( property="og:title", content="Security | Artsy" )
meta( name="description", content="We take security very seriously. This document addresses issues related to the security of artsy.net, our users and services." )
meta( name="og:description", content="We take security very seriously. This document addresses issues related to the security of artsy.net, our users and services." )
meta( property="twitter:description", content="We take security very seriously. This document addresses issues related to the security of artsy.net, our users and services." )

link( rel="canonical", href=(sd.APP_URL + "/security") )
meta( property="og:url", content=(sd.APP_URL + "/security") )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
