title Terms of Use | Artsy
meta( property="og:title", content="Terms of Use | Artsy" )
meta( name="description", content="The following Terms of Use is an agreement between you and Artsy, Inc. that governs your use of the Artsy website, mobile phone and tablet applications, and any related services we provide." )
meta( name="og:description", content="The following Terms of Use is an agreement between you and Artsy, Inc. that governs your use of the Artsy website, mobile phone and tablet applications, and any related services we provide." )
meta( property="twitter:description", content="The following Terms of Use is an agreement between you and Artsy, Inc. that governs your use of the Artsy website, mobile phone and tablet applications, and any related services we provide." )

link( rel="canonical", href=(sd.APP_URL + "/terms") )
meta( property="og:url", content=(sd.APP_URL + "/terms") )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
