if sd.CURRENT_USER && sd.CURRENT_USER.email && sd.CURRENT_USER.name
  - var email = sd.CURRENT_USER.email || ''
  - var fname = sd.CURRENT_USER.name.split(' ')[0] || ''
  - var lname = sd.CURRENT_USER.name.split(' ')[1] || ''
else
  - var email = fname = lname = ''

.gallery-insights-form.stacked-form
  .stacked-form-cell
    label.avant-garde-form-label( for='FNAME' ) First Name
    input#FNAME.bordered-input.is-block( type='text', name='FNAME' value=fname)

  .stacked-form-cell
    label.avant-garde-form-label( for='LNAME' ) Last Name
    input#LNAME.bordered-input.is-block( type='text', name='LNAME' value=lname)

  .stacked-form-cell
    label.avant-garde-form-label( for='EMAIL' ) Email
    input#EMAIL.bordered-input.is-block( type='email', name='EMAIL', required value=email)

  hr.is-invisible

  h3.gallery-insights-error
  button.avant-garde-button-black.js-gallery-insights-subscribe Subscribe

.gallery-insights-thank-you
  h1 Thank You.
  p You are now subscribed to Artsy Insights for Galleries.
  p The next edition will be delivered to the email provided.
  a.avant-garde-button.avant-garde-button-black.is-block( href="/#{sd.GALLERY_INSIGHTS_SLUG}" ) View All Gallery Insights

.gallery-insights-subscribed
  p You are already subscribed to Gallery Insights.
  p Click below to sign up with a different email address.
  button.avant-garde-button.avant-garde-button-black.js-gallery-insights-show-form.is-block Subscribe