extends ../../../components/main_layout/templates/blank

block head
  title Artsy Insights for Galleries
  meta( property='og:title', content='Artsy Insights for Galleries' )
  meta( name='description', content='Information, insights, inspiration. Exclusively from Artsy.' )
  meta( name='og:description', content='Information, insights, inspiration. Exclusively from Artsy.' )
  meta( property='twitter:description', content='Information, insights, inspiration. Exclusively from Artsy.' )
  link( rel='canonical', href='#{sd.APP_URL}/gallery-insights' )
  meta( property='og:url', content='#{sd.APP_URL}/gallery-insights' )

append locals
  - assetPackage = 'gallery_insights'

block body
  #gallery-insights.gallery-insights.main-layout-container(data-state=sd.MAILCHIMP_SUBSCRIBED): .responsive-layout-container
    h1 Artsy Insights for Galleries

    aside Information, insights, inspiration. Exclusively from Artsy.

    p
      | Stay informed with Artsy’s latest market research, art buying trends & forecasts,
      | partner case studies, and tools to help you excel. Sign up to receive periodical
      | insights for galleries.

    a.avant-garde-button-underlined(href="/#{sd.GALLERY_INSIGHTS_SLUG}") View All Gallery Insights

    .gallery-insights-content
      .gallery-insights-content-cell
        include form
        p Interested in partnering with Artsy?
        p: a.faux-underline( href='/gallery-partnerships' ) Learn more here

      .gallery-insights-content-cell
        img.gallery-insights-image( src='../iphone.jpg', alt='Artsy Insights for Galleries' )
