nav.mgr-navigation.js-mgr-navigation(class= isTouch ? 'is-touch' : '')
  a.mgr-arrow-left(
      disabled= disableStart
    )
    .mgr-arrow-icon.icon-chevron-left.js-mgr-prev

  a.mgr-arrow-right(
      disabled= disableEnd
    )
    .mgr-arrow-icon.icon-chevron-right.js-mgr-next
