@import '../stylus_lib'

.related-genes
  position relative
  opacity 0
  transition opacity 0.5s
  &.is-fade-in
    opacity 1
  a
    color #6a0bc1
    text-decoration none
    &:hover
      text-decoration underline
  .loading-spinner
    top 50%
    margin-top -13px
  .avant-garde-header
    font-size default-avant-garde-font-size
