.auction-BuyNowRail
  &__title
    font-size 30px
    padding-top 30px
    margin-top 30px
    border-top 1px solid gray-lighter-color

  &__content
    display flex
    justify-content space-between
    align-items center

    &:hover svg
      visibility visible

  &__page-left, &__page-right
    width 30px
    height 100%
    display flex
    align-items center

    svg
      visibility hidden

    &:hover
      cursor pointer

  &__artworks
    width 100%
    .auction-page-GridArtwork
      width 25%
      height 365px

  &__artwork
  text-decoration none
    float left
    width 33.33%
    height 400px
    padding 15px
    text-align left
    margin-bottom 85px
    garamond-size('s-body')
    color gray-darker-color
    a
      text-decoration none

  .disabled
    pointer-events none

    svg
      fill gray-lighter-color
