- title = 'React Isomorphic Example'
- description = 'Hello World!'

title= title
meta( property='og:title', content= title )
meta( name='description', content= description )
meta( property='og:description', content= description )
meta( property='twitter:description', content= description )

meta( property='og:type', content='website' )
meta( property='og:event', content='auction' )
meta( property='twitter:card', content='summary' )
meta( name='fragment', content='!' )
