div
  | Hello from MyJadeView 
  
div
  | Data from `data` is available: name: #{name}
    
br 

div
  strong
    | Backbone
  hr
    
  div
    | Example interaction backbone-code. See components/DOM.js
    
    .js-backbone-view
      button.js-button
        | Click Me!
      
    
