div
  | Hello from MyJadeView

div
  | Data from `data` is available: name: #{name}

br

style.
  .reactionArtworkBrick {
    width: 50%;
  }

div(class='reactionArtworkBrick')
  !=reaction.artworkGrid({ title: name })

br
hr
br

div(class='reactionArtworkBrick')
  !=reaction.artworkBrick({ title: name })

br
hr
br

div
  !=reaction.fillWidth({ title: name })

br

div
  strong
    | Backbone
  hr

  div
    | Example interaction backbone-code. See components/DOM.js

    .js-backbone-view
      button.js-button
        | Click Me!


