.auction-ArtworkBrowser
  display flex
  clear both

  +respond-desktop()
    margin-top 20px
    border-top 1px solid gray-lighter-color

  +respond-mobile()
    min-width 0

  &__container
    width 100%

  &__right
    padding-left 30px
