.settings-galleries-institutions
  //
  &__profile
    width 50%
    display table
    table-layout fixed
    float left
    margin-bottom gutter

    &__icon
    &__metadata
      display table-cell

    &__icon
      width (gutter * 3)
      height (gutter * 3)
      background-color white
      background-position center center
      background-size contain
      background-repeat no-repeat
      border 1px solid gray-lighter-color

    &__metadata
      padding-left (gutter / 2)

      &__name
        display block
        avant-garde-size('body')
        text-decoration none

      &__follow
        margin-left -8px
