// Shared styling for main carousel and category carousels.

// add this class to the element whose area should show/hide the arrows
.gi-carousel-arrow-reveal
   &:hover
    .gi-carousel-arrow-next
    .gi-carousel-arrow-prev
      opacity 1

.gi-carousel-arrow-reveal
  .gi-carousel-arrow-next:hover
  .gi-carousel-arrow-prev:hover
    opacity 0.5

.gi-carousel-arrow-next
.gi-carousel-arrow-prev
  cursor pointer
  transition opacity .25s
  opacity 0
  position absolute
  user-select none
  height 100%
  width 90px
  > i
    position absolute
    transform translateY(-50%)

.gi-carousel-arrow-next
  left 100%
  > i
    left arrow-offset
.gi-carousel-arrow-prev
  right 100%
  > i
    right arrow-offset
