.fair-info2-event-type-title
  avant-garde()
  font-size 17px
  margin-bottom 60px

.fair-info-event-item
  display flex
  margin-bottom 60px

.fair-info-event-item-date
  width 30%
  margin-right 15px
  letter-spacing normal
  &__formatted-date
    garamond()
    font-size 25px
    line-height 1.5
    display none
  &__time
    avant-garde()
    font-size 15px
    line-height 2

.fair-info-event-item-details
  letter-spacing normal
  width 70%
  &__image-caption
    garamond()
    font-size 17px
    color gray-dark-color
    margin 10px 0px 30px
  &__title
    garamond()
    font-size 25px
    line-height 1.5
  &__address
    avant-garde()
    font-size 13px
    margin-bottom 15px
  &__description
    garamond()
    font-size 17px
    text-transform none
    p
      margin-bottom 10px
    .faux-underline
      avant-garde()
      font-size 11px
      &:before
        border-bottom none
    .show-less-blurb
      avant-garde()
      font-size 11px


.fair-info-event-day .fair-info-event-item:first-child
  .fair-info-event-item-date__formatted-date
    display inline

.fair-info-event-map-link
  margin-left 20px
  text-decoration none
  .icon-circle-chevron
    vertical-align middle
  span
    garamond()
    text-transform capitalize
