.map-modal
  padding 40px
  display flex

.map-modal-fair-event-information
  flex 1
  margin 20px
  garamond-size('s-body')
  padding-right 20px
  .map-modal-fair-event-venue
    display block
    avant-garde()
  .map-modal-fair-event-address
    display block
    margin-bottom 20px

.map-modal-fair-event-running-hours
  block-margins(35px)

.map-modal-fair-event-map-link
  margin 20px 0
  a
    text-decoration none
  &:hover a
    text-decoration underline

.map-modal-fair-event-map
  margin-right 40px
  background-color gray-lighter-color
  height 400px
  width 400px
