.consignments2-submission
  &__title
    text-align center
    font-size 50px

  &__step-title
    margin-top 50px
    text-align center
    garamond-size('headline')

  &__step-form
    max-width 550px
    margin 0 auto

.avant-garde-button-black
  margin-top 40px
  avant-garde-size('s-headline')
  padding-top 12px
  padding-bottom 12px

