.consignments2-submission-flow
  margin-top -20px
  padding-bottom 30px

  &__title
    text-align center
    font-size 50px
    line-height 1.1

  &_mobile
    .consignments2-submission-flow__title
      display none