.favorites-status-modal
  .modal-close
    display none

#favorites-make-public
  padding 15px
  text-align center
  color white
  background-color black
  h3
    margin 7px 0
    font-size 22px
  p
    margin 14px 0
  .make-public, .cancel
    margin-bottom 10px
    font-size 13px
    color white
    background-color #333
    &:hover
      background-color purple-color
