.fairs__upcoming-fair
  .fairs-fair__name #{fair.get('name')}
  .fairs-fair__follow
    a.entity-follow.profile-follow( data-id= fair.get('default_profile_id') )
  .fairs-fair__info #{fair.formatDates()}
  .fairs-fair__info #{fair.formatLocation()}
