extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'fairs'

block body
  #fairs-page.main-layout-container
    h1.fairs-page-header Preview and Collect from Leading Art Fairs

    .fairs-page-fairs
      .fairs-page-fairs-featured
        if currentFairs.length
          .fairs-page-fairs-featured-set
            h2.fairs-page-subheader Current Fairs
            for fair in currentFairs
              include fair

        if pastFairs.length
          .fairs-page-fairs-featured-set
            h2.fairs-page-subheader Past Fairs
            for fair in pastFairs
              include fair

      if upcomingFairs.length
        .fairs-page-fairs-upcoming
          h2.fairs-page-subheader Upcoming Fairs
          for fair in upcomingFairs
            .fpfu-fair( href= fair.href() )
              h3= fair.get('name')
              .fpfu-location= fair.location().cityStateCountry()
              .fpfu-date= fair.formatDates()
