- var title = 'Preview 60+ Top Art Fairs on Artsy | Artsy'
- var description = 'Experience art fairs from all over the world before they open to the public. Browse and collect thousands of works from Art Basel, Frieze, The Armory Show, and more.'

title= title
meta( property="og:title", content= title )
meta( name="description", content= description )
meta( property="og:description", content= description )
meta( property="twitter:description", content= description )
link( rel="canonical", href="#{sd.APP_URL}/fairs" )
meta( property="og:url", content="#{sd.APP_URL}/fairs" )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
meta( name='fragment', content='!' )
