@import '../../../components/stylus_lib'

#main-layout-container
  margin-left 0
  margin-right 0

#settings
  margin-left 0
  margin-right 0

  .avant-garde-header-center
    font-size 20px
    padding 25px 0

  .bordered-input
    margin-bottom 7px
    width 100%

#settings-generic-error
  display none
  color red-color
  text-align center
  padding 20px 0
  a
    color red-color

#settings-log-out
  margin 30px 0

#settings-link-container
  a
    serif()
    height 75px
    text-transform none
    font-size 20px
    padding 25px 0px
    letter-spacing 0
