extends ../../components/layout/templates/main

block content
  .search-page-result-header
    | Search results for&nbsp;
    i= "\"" + mainHeaderSearchBoxValue + "\""
  #search-page-results
    if results.length > 0
      for result in results
        include ../../components/search_results/result
    else
      b Nothing found
