@require '../../components/stylus_lib'
@require '../../components/artist_cell/index'

#artists-page
  padding 40px 0
  h1
    margin 40px 0
    font-size 24px

// Carousel
bumper-width = 40px

.artists-featured-carousel
  position relative
  margin 40px 0
  &[data-transitions=false]
    .afc-track
    .afc-artist-information
    .afc-prev
    .afc-next
      transition none
      opacity 1 !important
  // Bumper visible states
  &[data-position='start'] .afc-next
  &[data-position='end'] .afc-prev
  &[data-position='middle'] .afc-next
  &[data-position='middle'] .afc-prev
    cursor pointer
    opacity 1
  &[data-position='start'] .afc-prev
    opacity 0 !important

.afc-track-container
  position relative
  overflow hidden

.afc-track
  white-space nowrap
  transition all 0.333s
  &[data-state='transitioning']
    .afc-artist-information
      opacity 0
      transition none
  &[data-state='transitioned']
    .afc-artist-information
      opacity 1

.afc-prev
.afc-next
  position absolute
  top 0
  width bumper-width
  height 100%
  text-align center
  color gray-darker-color
  background-color gray-lightest-color
  transition all 0.25s
  user-select none
  z-index 1
  // Deactivated by default
  opacity 0
  cursor default
  > i
    display block
    position relative
    top 50%
    font-size 26px
    line-height @font-size
    margin-top -(@font-size / 2)
  &:hover
    color black
    background-color gray-lighter-color

.afc-next
  right -(bumper-width)
.afc-prev
  left -(bumper-width)

.afc-artist
  display inline-block
  width 50%
  vertical-align top
  &:nth-child(odd)
    padding-right 20px
    border-right 1px solid gray-color
  &:nth-child(even)
    padding-left 20px
  .hoverable-image-link
    display block

.afc-artist-information
  display table
  table-layout fixed
  width 100%
  transition opacity 0.5s

.afc-artist-information-left
.afc-artist-information-right
  display table-cell
  vertical-align top
  padding-top 20px

.afc-artist-information-left
  padding-right 20px

.afc-artist-information-right
  text-align right
  width 150px

.afc-artist-name
  avant-garde()
  font-size 15px
  > a
    text-decoration none

.afc-artist-name
.afc-artist-notes
.afc-artist-works-count
  overflow ellipsis

.afc-artist-works-count
  color gray-darker-color

// Featured Genes
.artists-featured-genes-gene
  margin 40px 0
  > h4
    margin 20px 0

.afg-artist
  > .hoverable-image-link
    margin-bottom 20px
    @media screen and (max-width: 1024px)
      margin-bottom 10px

.afg-artist-name
  @extends .afc-artist-name
  font-size 13px
  // Accommodate follow button
  width calc('100% - 120px')
  overflow ellipsis

.afg-artist-information
  position relative
  text-transform capitalize
  > .follow-button
    position absolute
    top 0
    right 0

.artists-featured-genes-artists
  grid-4-up(30px, 40px)

// Letter page
#letter-page
  position relative
  > .contextual-return-link
    position absolute
    top 0
    left 0

.artists-columns
  column-count 4

  > a
    display block
    padding 5px 10px 5px 0
