footer#auth-footer
  aside
    | By signing up, you agree to our
    br
    a.faux-underline( href='/terms' ) Terms of Use
    | &nbsp;and&nbsp;
    a.faux-underline( href='/privacy' ) Privacy Policy
    | .
  p
    | Already have an account?&nbsp;
    a.faux-underline.auth-toggle.small-caps( href='/log_in', data-mode='login' ) Log in
