#auth-page.vam-outer
  .vam-inner
    include ./_header
      p Enter your name, email and password to join

    section#auth-body
      .auth-register
        form.auth-form
          .auth-errors
          input.bordered-input.is-block(
            name='name', type='text', placeholder='Full Name' autofocus, required
          )
          input.bordered-input.is-block(
            name='email', type='email', placeholder='Email', required
          )
          input.bordered-input.is-block(
            name='password', type='password', placeholder='Password', autocomplete='on', required
          )
          button#auth-submit.avant-garde-button-black.is-block Join Artsy

    include ./_signup_footer
