.artist-page-related-articles
  if articles.length
    h2.artist-section-header Articles on Artsy
    #artist-page-related-articles-section: .loading-spinner
      //- Rendered client-side

.artist-rail.artist-artworks-rail.arv-container
  include ../../../../components/artwork_rail/templates/index