.artist-page-section-block#artist-related-articles-section
  h2.artist-section-header Articles on Artsy
  #artist-related-articles-content: .loading-spinner
    //- Rendered client-side

.artist-rail.artist-artworks-rail.arv-container
  include ../../../../components/artwork_rail/templates/index