mixin cv-link(year, href, linkText, trailingText)
  .artist-cv-link
    = year
    | &nbsp;&nbsp;&nbsp;
    a(href= href)= linkText
    if trailingText
      = ", " + trailingText

#artist-cv-section
  h2.artist-section-header Curriculum Vitae
  #artist-cv
    .thirty-seventy-bisected-header
      .bisected-header-cell
        .bisected-header-cell-section
          = artistMetadata

      .bisected-header-cell
        if solo_shows && solo_shows.length
          .bisected-header-cell-section
            h2 Solo Shows On Artsy
            for show in solo_shows
              - var year = showHelpers.date(show.start_at).year()
              - var trailing = showHelpers.partnerNameAndLocation(show)
              mixin cv-link(year, show.href, show.name, trailing)

        if group_shows && group_shows.length
          .bisected-header-cell-section
            h2 Group Shows On Artsy
            for show in group_shows
              - var year = showHelpers.date(show.start_at).year()
              - var trailing = showHelpers.partnerNameAndLocation(show)
              mixin cv-link(year, show.href, show.name, trailing)


        if fair_booths && fair_booths.length
          .bisected-header-cell-section
            h2 Fair Participation on Artsy
            for show in fair_booths
              - var year = showHelpers.date(show.start_at).year()
              - var trailing = showHelpers.showOrFairLocation(show)
              mixin cv-link(year, show.href, show.name, trailing)

        if articles && articles.length
          .bisected-header-cell-section
            h2 Articles On Artsy
            for article in articles
              mixin cv-link(new Date(article.published_at).getFullYear(), article.href, article.thumbnail_title)

