include ./cv_item

#artist-cv-section
  h2.artist-section-header Curriculum Vitae
  #artist-cv
    .thirty-seventy-bisected-header
      .bisected-header-cell
        .bisected-header-cell-section
          = artistMetadata

      .bisected-header-cell
        include ./show_groupings

        if articles && articles.length
          .bisected-header-cell-section
            h2 Articles on Artsy
            for article in articles
              .artist-cv-link
                .artist-cv-link__year= new Date(article.published_at).getFullYear()
                .artist-cv-link__text
                  a(href= article.href)= article.thumbnail_title
