include ./cv_item

#artist-cv-section
  h2.artist-section-header Curriculum Vitae
  #artist-cv
    .thirty-seventy-bisected-header
      .bisected-header-cell
        .bisected-header-cell-section
          = artistMetadata

      .bisected-header-cell
        if solo_shows && solo_shows.length
          .bisected-header-cell-section
            h2 Solo Shows On Artsy
            for show in solo_shows
              +showItem(show, showHelpers.partnerNameAndLocation(show))

        if group_shows && group_shows.length
          .bisected-header-cell-section
            h2 Group Shows On Artsy
            for show in group_shows
              +showItem(show, showHelpers.partnerNameAndLocation(show))

        if fair_booths && fair_booths.length
          .bisected-header-cell-section
            h2 Fair Participation on Artsy
            for show in fair_booths
              +showItem(show, showHelpers.showOrFairLocation(show))

        if articles && articles.length
          .bisected-header-cell-section
            h2 Articles On Artsy
            for article in articles
              .artist-cv-link
                = new Date(article.published_at).getFullYear()
                | &nbsp;&nbsp;&nbsp;
                a(href= article.href)= article.thumbnail_title
