mixin showItem(show, trailingText)
  .artist-cv-link
    = showHelpers.date(show.start_at).year()
    | &nbsp;&nbsp;&nbsp;
    a(href= show.href)= show.name
    if trailingText
      = ", " + trailingText