mixin rail(title, viewAllUrl, section)
  if statuses[section]
    .artist-related-rail(data-id= section)
      .artist-related-rail__header
        h1= title
        a.artist-related-rail__view-all(href= viewAllUrl) View All
      .artist-related-rail__content.js-artist-rail.mgr-horizontal-nav
        .rail-content-outer
          .mgr-cells.js-mgr-cells.rail-content-inner: .loading-spinner
            //- Rendered client-side

        nav.mgr-navigation.js-mgr-navigation
          include ../../../../components/merry_go_round/templates/horizontal_navigation

.artist-overview-header
  .sixty-forty-bisected-header
    - var artistMeta = viewHelpers.artistMeta(artist)
    if artist.blurb || artistMeta.length
      .bisected-header-cell
        .artist-blurb.bisected-header-cell-section
          h2 Biography
          if artist.blurb
            .blurb!= viewHelpers.mdToHtml(artist, 'blurb')
          if artist.blurb && artistMeta.length
            br
          if artistMeta.length
            .artist-meta-detail!= artistMeta

    .bisected-header-cell
      .artist-related-genes.related-links.bisected-header-cell-section
        //- Rendered client-side

- var hasWorks = artist.statuses.artworks
include ./works

+rail('Shows on Artsy', artist.href + '/shows', 'shows')
+rail('Articles about ' + artist.name, artist.href + '/articles', 'articles')
+rail('Related Artists', artist.href + '/related-artists', 'artists')

