mixin rail(title, viewAllUrl)
  .artist-rail-header
    h1= title
    a(href= viewAllUrl) View All
  .artist-related-section-content.js-artist-rail.mgr-horizontal-nav
    ul.mgr-cells.js-mgr-cells.artist-related-rail
      //- Rendered client-side

    nav.mgr-navigation.js-mgr-navigation
      include ../../../../components/merry_go_round/templates/horizontal_navigation

.artist-overview-header
  .sixty-forty-bisected-header
    - var artistMeta = viewHelpers.artistMeta(artist)
    if artist.blurb || artistMeta.length
      .bisected-header-cell
        .artist-blurb.bisected-header-cell-section
          h2 Biography
          if artist.blurb
            .blurb!= viewHelpers.mdToHtml(artist, 'blurb')
          if artist.blurb && artistMeta.length
            br
          if artistMeta.length
            .artist-meta-detail!= artistMeta

    .bisected-header-cell
      .artist-related-genes.related-links.bisected-header-cell-section
        //- Rendered client-side

- var hasWorks = artist.statuses.artworks
include ./works

if statuses.shows
  #artist-related-shows-section.artist-related-section
    +rail('Shows on Artsy', artist.href + 'shows')

if statuses.articles
  #artist-related-articles-section.artist-related-section
    +rail('Articles about ' + artist.name, artist.href + 'shows')

if statuses.artists
  #artist-related-artists-section.artist-related-section
    +rail('Related Artists', artist.href + 'related-artists')

