#artist-related-artists-sections
  if statuses.artists
    #artist-related-artists-section.artist-page-section
      h2.artist-section-header Related Artists
      #artist-related-artists-content.grid-4-up
        //- Rendered separately

  if statuses.contemporary
    #artist-related-contemporary-section.artist-page-section
      h2.artist-section-header Suggested Contemporary Artists
      #artist-related-contemporary-content.grid-4-up
        //- Rendered separately

.artist-rail.artist-artworks-rail.arv-container
  include ../../../../components/artwork_rail/templates/index
