mixin relatedArtists(title, section, artists)
  if artists && artists.length
    .artist-related-artists-section.artist-page-section-block(data-id= section)
      h2.artist-section-header= title
      .artist-related-artists-content
        if artists && artists.length
          each artist in artists
            .grid-item
              include ../../../../components/artist_cell/index.jade


+relatedArtists('Related Artists', 'artists', artists)
+relatedArtists('Suggested Contemporary Artists', 'contemporary', contemporary)

.artist-rail.artist-artworks-rail.arv-container
  include ../../../../components/artwork_rail/templates/index
