.artist-page-section-block#artist-related-shows-section
  h2.artist-section-header #{artist.get('name')} shows on Artsy
  #artist-related-shows-content: .loading-spinner
    //- Rendered client-side

.artist-rail.artist-artworks-rail.arv-container
  include ../../../../components/artwork_rail/templates/index