if solo_shows && solo_shows.length
  .bisected-header-cell-section
    h2 Solo Shows On Artsy
    for show in solo_shows
      +showItem(show, showHelpers.partnerNameAndLocation(show))

if group_shows && group_shows.length
  .bisected-header-cell-section
    h2 Group Shows On Artsy
    for show in group_shows
      +showItem(show, showHelpers.partnerNameAndLocation(show))

if fair_booths && fair_booths.length
  .bisected-header-cell-section
    h2 Fair Participation on Artsy
    for show in fair_booths
      +showItem(show, showHelpers.showOrFairLocation(show))