.related-posts( class="is-#{mode}" )
  h3.avant-garde-header-center
    | Posts About #{entityName}

  .related-posts-no-posts
    .related-posts-no-posts-text
      | Do you have an interesting insight or story on this #{modelName}? Tell us about it. The best posts will be featured by our editorial team.

    a.related-posts-add-button.avant-garde-button-white(
      href='/post'
    )
      i.icon-write
      | Add Post
