extend ../../../components/fair_layout/templates/index

block body
  .fair-info2-content-wrapper
    include nav
    .fair-info2-body
      .fair-info-article
        if article
          include ../../../components/article/templates/index.jade
        else
          include ./about_fair.jade
