@import '../../components/stylus_lib'

#main-layout-container
  margin-left 0
  margin-right 0

#show
  padding-top 40px

  .loading-spinner
    position relative
    margin 200px 0

  .main-layout-container
    margin 0 40px

  .show-artworks
    margin-bottom 100px
    .artwork-item-image
      max-height none
  .artwork-column
    margin 0
    padding 0 40px
    width 33.33%
    &:first-child
      padding-left 0
    &:last-child
      padding-right 0

  .profile-badge
    float left
    left 40px
    max-width 260px
    position absolute
  .profile-badge-icon
  .profile-badge-initials
    float left
    margin-right 10px
  .profile-badge-name
    float left
    max-width 218px

.show-container
  max-width 1200px
  width 90%
  width calc('100% - %s' % (layout-side-margin * 2))
  margin 0 auto

.is-microsite .show-container
  width 100%

.show-header
  display table
  table-layout fixed
  position relative
  margin-bottom 60px
.show-header__left
.show-header__center
.show-header__right
  display table-cell
  vertical-align top
.show-header__left
.show-header__right
  width 22%
.show-header__center
  text-align center
  width 56%
.show-header__right
  text-align right
.show-header__left
  padding-top 10px

.show-share
  a
    text-decoration none
  .share-to-pinterest
    display none

.show-metadata
  //
.show-metadata__partner-link
  avant-garde()
  font-size 13px
  margin-right 10px
  > a
    text-decoration none

.show-heading-title
  garamond()
  font-size 36px
  line-height 1.25
.show-heading-title
.show-description
  block-margins(20px)
.show-description
  font-size 20px
  line-height 148%

.show-installation-shot-carousel
  margin 60px 0
  .loading-spinner
    display none
