@import '../../components/stylus_lib'

#main-layout-container
  margin-left 0
  margin-right 0

#show
  padding-top 40px

  .loading-spinner
    position relative
    margin 200px 0

  .main-layout-container
    margin 0 40px

  .show-share
    float right
    margin-top 10px
    position absolute
    right -5px
    a
      text-decoration none
    .share-to-pinterest
      display: none

  .show-artworks
    margin 0 auto 100px auto
    .artwork-item-image
      max-height none

  .artwork-column
    margin 0
    padding 0 40px
    width 33.33%
    &:first-child
      padding-left 0
    &:last-child
      padding-right 0

  .profile-badge
    float left
    left 40px
    max-width 260px
    position absolute

  .profile-badge-icon, .profile-badge-initials
    float left
    margin-right 10px

  .profile-badge-name
    float left
    max-width 218px

.show-container
  max-width 1200px

.show-header
  margin 0 auto
  text-align center
  width calc('100% - 80px')
  min-height 180px
  position relative

.show-heading-title
  garamond()
  font-size 36px
  line-height 1.25
  margin 0 auto 20px auto
  padding 0 260px
  width 100%

#show-left
  position absolute
  text-align left
  margin-top -2px

#show-back
  &:hover, &:active
    border-bottom 0
  .icon-chevron-left
    font-size 16px
    font-weight bold
    margin-right 5px
    position relative
    top 2px

#show-left-info
  margin-top 20px

#show-main-buttons
  margin-bottom 10px
  .follow-button
    margin-right 10px
  button
    width 187px
    padding 15px 10px 13px 10px