#modal.feedback
  h2
    margin 40px 50px
    font-size 20px
    text-align center
    avant-garde()
  p
    margin 30px 50px
  label
    display block
    margin-top 10px
    avant-garde()
    font-size 13px
  textarea
    margin-top 10px
    height 250px
  a
    padding 15px