.artwork-artist__content__biography
  if artist.biography
    != artist.biography

  .artwork-artist__content__short-bio
    p= artist.bio.replace('born', 'b.')

if artist.exhibition_highlights && artist.exhibition_highlights.length <= 15
  include ./exhibition
else if artist.exhibition_highlights && artist.exhibition_highlights.length > 15
  include ./highlights
