form( enctype='multipart/form-data', method='post' )
  input( type="hidden", name="key" )
  input( type="hidden", name="AWSAccessKeyId" )
  input( type="hidden", name="acl" )
  input( type="hidden", name="success_action_status" )
  input( type="hidden", name="policy" )
  input( type="hidden", name="Content-Type" )
  input( type="hidden", name="signature" )
  input( type='file', name='file' )
