.ap-featured-item
  a( href= auction.href() )
    - src = auction.cropUrlFor({ width: 1200, height: 533 })
    .af-hero-image(
      style= 'background-image: url(' + src + ')'
    )
      if auction.isOpen()
        .af-clock.white-overlay-clock( data-id= auction.id )
          include ../../../components/clock/template

  .af-metadata
    .af-details
      if auction.get('live_start_at')
        h5.af-live-header Live Auction
      h3.af-name= auction.get('name')
      h4.af-sale-time= auction.upcomingLabel()

    if auction.isOpen()
      a.af-go-button.avant-garde-button-black( href= auction.href() )
        | Bid now
