extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'auctions'

block body
  #auctions-page.aggregate-page.main-layout-container
    unless currentAuctions.length
      include ./placeholder

    .aggregate-page-items
      .aggregate-page-items-featured
        if currentAuctions.length
          .aggregate-page-items-featured-set
            h1.auctions-header Current Auctions
            for auction in currentAuctions
              include auction

        if promoAuctions.length
          .auctions-list.auctions-list--promo.leader-dots-list
            h2.aggregate-page-subheader Auction Previews
            for auction in promoAuctions
              include small_auction

        if upcomingAuctions.length && !currentAuctions.length
          .auctions-list.auctions-list--upcoming.leader-dots-list
            h2.aggregate-page-subheader Upcoming Auctions
            for auction in upcomingAuctions
              include small_auction

        if pastAuctions.length
          .auctions-list.leader-dots-list
            h2.aggregate-page-subheader Past Auctions
            for auction in pastAuctions
              a.leader-dots-list-item( href= auction.href() )
                span= auction.get('name')
                span= auction.endedTime().format('MMM D, YYYY')

      .aggregate-page-items-upcoming
        .auctions-my-active-bids
        a.auction-cta-group(href="https://app.adjust.com/ogmho0")
          .auction-cta-group__left
            img( src="/images/mobile-cta.png" alt="Bid from your phone" )
          .auction-cta-group__right
            h2 Bid from your phone
            h3 Download Artsy for iPhone
        a.auction-cta-group(href="/how-auctions-work")
          .auction-cta-group__left
            img( src="/images/kiosk-cta.png" alt="How to Bid on Artsy" )
          .auction-cta-group__right
            h2 How to Bid on Artsy
        a.auction-cta-group(href="/auction-partnerships")
          .auction-cta-group__full
            h2
              | Interested in partnering with
              br
              | Artsy for your next auction?
            span.faux-underline Learn More

        if upcomingAuctions.length && currentAuctions.length
          h2.aggregate-page-subheader Upcoming Auctions
          for auction in upcomingAuctions
            .ap-upcoming-item
              if auction.id == 'input-output'
                a.fine-faux-underline.au-name( href= auction.href() ) Sotheby's Input/Output
              else
                a.fine-faux-underline.au-name( href= auction.href() )= auction.get('name')
              .au-date Opens #{auction.date('start_at').format('MMMM Do')}

