- var title = 'Auctions | Artsy'
- var description = ''

title= title
meta( property="og:title", content= title )
meta( name="description", content= description )
meta( property="og:description", content= description )
meta( property="twitter:description", content= description )
link( rel="canonical", href="#{sd.APP_URL}/auctions" )
meta( property="og:url", content="#{sd.APP_URL}/auctions" )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
meta( name='fragment', content='!' )
