p.avant-garde-body.inquire-via-phone-modal__title Call Gallery

#auth-page.vam-outer
  .vam-inner.inquire-via-phone-modal__body
    header#auth-header
      aside
        b.garamond-l-body= partner.name

    section#auth-body
      for location in partner.locations
        .artwork-partner-stub__phone__locations__location.garamond-l-body
          p
            = location.city
            if location.state
              = ", " + location.state
          p= location.phone
