@require '../../lib/palette'

.add-to-calendar
  position relative
  display inline-block

.add-to-calendar-event-item-date
  &__add-to-calender
    text('text')
    color getColor('black60')
    text-decoration none

.add-to-calendar-event-calendar-wrapper
  display none
  position absolute
  z-index 100
  top 100%
  left 50%
  transform translateX(-50%)

  .add-to-calendar-event-arrow-up
    position relative
    width 0
    height 0
    border-left 8px solid transparent
    border-right 8px solid transparent
    border-bottom 8px solid getColor('black100')
    left 50%
    transform translateX(-50%)

  .add-to-calendar-event-calendar-container
    text('text')
    min-width 150px
    background-color getColor('black100')
    padding getSpace(1, 0)

    a
      width 100%
      display block
      color getColor('white100')
      text-decoration none
      padding getSpace(0.5, 2)

      &:hover
        background-color getColor('black60')
