.filter-sort-count-pulldown
  float right
  margin-top -10px

.filter-sort-count-count
  float left
  font-style italic

.filter-sort-count
  clearfix()

h2.filter-heading
  margin-bottom 10px
  display none
  text-transform capitalize
  margin-top 0px
