.artist-carousel.js-artist-carousel
  .mgr-cells.js-mgr-cells
    for figure in carousel.figures.models
      .mgr-cell.js-mgr-cell
        a( href= figure.get('href') )
          img(
            src= figure.resizeUrlWithGemini({ resize_to: 'height', height: 300 })
            alt= figure.get('title')
            width= dimensions.width
            height= dimensions.height
          )


  - length = carousel.figures.length
  if length > 1
    nav.mgr-navigation.js-mgr-navigation
      include ../../../components/merry_go_round/templates/navigation
