mixin carouselFigure(artwork)
  - var image = artwork.defaultImage()
  - var dimensions = image.resizeDimensionsFor({ height: 300 })
  a( href= artwork.href() )
    img(
      src= image.imageUrlForHeight(300)
      alt= artwork.get('title')
      width= dimensions.width
      height= dimensions.height
    )

if artist.related().artworks.length >= 4
  - var carouselFigures = artist.related().artworks.models
  #artist-carousel.artist-carousel.carousel.is-loading
    include ../../../components/carousel/carousel.jade
