mixin carouselFigure(figure)
  - var dimensions = figure.resizeDimensionsFor({ height: 300 })
  a( href= figure.get('href') )
    img(
      src= figure.resizeUrlFor({ height: 300 })
      alt= figure.get('title')
      width= dimensions.width
      height= dimensions.height
    )

- var carouselFigures = carousel.figures.models
#artist-carousel.artist-carousel.carousel
  include ../../../components/carousel/carousel.jade
