include ../../../components/share/template

mixin artist-header(artist)
  header.artist-header
    h1.avant-garde-header-center
      = artist.get('name')

      if artist.get('published_artworks_count')
        nav.artist-share
          +share(title + artist.get('name') + ' on Artsy', artist.imageUrl('large'))

    if (artist.get('nationality') && artist.get('years'))
      h2 #{artist.get('nationality')}, #{artist.get('years')}

    if artist.get('published_artworks_count') === 0
      .artist-header-empty
        | There are no #{artist.get('name')} works on Artsy yet.
        br
        | Follow the artist to get alerts when works are added.

    button#artist-follow-button.avant-garde-button-white.follow-button

    .artist-header-actions
      if artist.get('blurb')
        .aha-cell
          .artist-blurb
            h2 Biography
            .blurb!= artist.mdToHtml('blurb')

      .aha-cell: .artist-related-genes.related-genes

    if artist.get('published_artworks_count')
      .artist-works-sort: include ../templates/sort
