extends ../../../components/main_layout/templates/index
include ./header

block head
  include meta

append locals
  - assetPackage = 'artist'

block body
  #artist-carousel
    //- Rendered client-side

  .responsive-layout-container: .main-layout-container
    +artist-header(artist)

    #artwork-section
      //- Temporarily here for supporting the ABC test
      include fillwidth

    #artist-related-posts-section.artist-related-posts.artist-info-section
      //- Rendered client-side

    if artist.get('auction_lots_count')
      .artist-auction-results-section.artist-info-section
        a.avant-garde-button-text( href="/artist/#{artist.id}/auction-results" )
          | See auction results for #{artist.get('name')}

    #artist-related-shows.related-shows.artist-related-section
      //- Rendered client-side

    #artist-related-artists-section.artist-related-section
      h3.avant-garde-header-center Related Artists
      #artist-related-artists
        //- Rendered client-side

    #artist-related-contemporary-section.artist-related-section
      h3.avant-garde-header-center Related Contemporary
      #artist-related-contemporary
        //- Rendered client-side

  include ../../../components/main_layout/templates/json_ld
