extends ../../../components/main_layout/templates/index
include ./header

block head
  include meta

append locals
  - assetPackage = 'artist'

block body
  .main-layout-container
    +artist-header(artist)
    .artist-works-section
      h3 For Sale
      #artist-available-works
        //- Rendered client-side
        .loading-spinner

    .artist-works-section
      h3 Museums and Other
      #artist-institution-works
        //- Rendered client-side
        .loading-spinner

    .artist-related-posts.artist-info-section
      //- Rendered client-side

    if artist.get('auction_lots_count')
      .artist-auction-results-section.artist-info-section
        h2.avant-garde-header-center
          | Notable Auction Results for #{artist.get('name')}
        .artist-auction-results
          //- Rendered client-side
        a.avant-garde-button-text( href="/artist/#{artist.id}/auction-results" )
          | See all auction results for #{artist.get('name')}

    .artist-related-section
      #artist-related-shows.related-shows
        //- Rendered client-side

      h3.avant-garde-header-center Related Artists
      #artist-related-artists
        //- Rendered client-side

    .artist-related-section
      h3.avant-garde-header-center Related Contemporary
      #artist-related-contemporary
        //- Rendered client-side
