extends ../../../components/main_layout/templates/index
include ./header

block head
  include meta

append locals
  - assetPackage = 'artist'

block body
  include ./carousel

  #artist-page.responsive-layout-container: .main-layout-container
    #artist-page-header: include ./header
    #artist-page-content.artist-page-content
      unless tab
        include ./overview

  include ../../../components/main_layout/templates/json_ld
