extends ../../../components/main_layout/templates/index
include ./header

block head
  include meta

append locals
  - assetPackage = 'artist'

block body
  .main-layout-container
    +artist-header(artist)

    #artwork-section
      //- Rendered client-side
      .artist-works-section-old
        h3 For Sale
        #artist-available-works
          //- Rendered client-side
          .loading-spinner
      .artist-works-section-old
        h3 Museums and Other
        #artist-institution-works
          //- Rendered client-side
          .loading-spinner

    .artist-related-posts.artist-info-section
      //- Rendered client-side

    if artist.get('auction_lots_count')
      .artist-auction-results-section.artist-info-section
        a.avant-garde-button-text( href="/artist/#{artist.id}/auction-results" )
          | See auction results for #{artist.get('name')}

    .artist-related-section
      #artist-related-shows.related-shows
        //- Rendered client-side

      h3.avant-garde-header-center Related Artists
      #artist-related-artists
        //- Rendered client-side

    .artist-related-section
      h3.avant-garde-header-center Related Contemporary
      #artist-related-contemporary
        //- Rendered client-side

  include ../../../components/main_layout/templates/json_ld
