extends ../../../components/main_layout/templates/index

block locals
  assetPackage = 'artist'

block body
  .responsive-side-margin
    header#artist-header
      h1.avant-garde-header-center= artist.get('name')
      h2= [artist.get('nationality'), artist.get('years')].join(', ')
      button#artist-follow-button.avant-garde-button-white Follow
      ul#artist-social-media
        li#artist-facebook
        li#artist-twitter
        li#artist-pinterest
    .artist-works-section
      h3 Available Works
      #artist-available-works
        .loading-spinner
    .artist-works-section
      h3 Museums and other collections
      #artist-institution-works
        .loading-spinner
  .artist-info-section
    .responsive-side-margin
      if artist.get('blurb')
        .artist-blurb
          h1.avant-garde-header-center= ['About', artist.get('name')].join(' ')
          .blurb
            != artist.mdToHtml('blurb')
      .artist-related-genes
  .artist-related-section
    h3.avant-garde-header-center Related Artists
    #artist-related-artists.responsive-side-margin
  .artist-related-section
    h3.avant-garde-header-center Related Contemporary
    #artist-related-contemporary.responsive-side-margin
