extends ../../../components/main_layout/templates/index
include ./header

block head
  include meta

append locals
  - assetPackage = 'artist'

block body
  .main-layout-container
    +artist-header(artist)
    .artist-works-section
      h3 For Sale
      #artist-available-works
        .loading-spinner

    .artist-works-section
      h3 Museums and Other
      #artist-institution-works
        .loading-spinner

    .artist-info-section
      .main-layout-container
        .artist-info-left
          if artist.get('blurb')
            .artist-blurb
              .avant-garde-header-center About #{artist.get('name')}
              .blurb
                != artist.mdToHtml('blurb')
            .related-genes
          if artist.get('auction_lots_count') > 0
            a.artist-auction-results-link( href="/artist/#{artist.id}/auction-results" )
              | Auction results
              i.icon-chevron-small-right
        .artist-info-right
          .artist-related-posts

    .artist-related-section
      h3.avant-garde-header-center Related Artists
      #artist-related-artists.main-layout-container

    .artist-related-section
      h3.avant-garde-header-center Related Contemporary
      #artist-related-contemporary.main-layout-container
