extends ../../../components/main_layout/templates/index
include ./header

block head
  include meta

append locals
  - assetPackage = 'artist_old'

block body
  - hasCarousel = carousel.figures.length >= 4

  if hasCarousel
    include ./carousel

  #artist-page.responsive-layout-container(
    class=(hasCarousel ? 'has-carousel' : 'has-no-carousel')
  )
    .main-layout-container
      #artist-page-header: include ./header
      #artist-page-content.artist-page-content
        unless tab
          include ./overview

  include ../../../components/main_layout/templates/json_ld
