nav.garamond-tablist
  for tab, i in sections
    a.garamond-tab(
      href='/' + tab.href
      class=(tab.active ? 'is-active' : '')
      rel= tab.rel
    )= tab.name
    if i !== sections.length - 1
      span.garamond-tab-separator
