.avant-garde-header-center
  | Featured Posts About This Artist

.artist-no-posts
  .artist-no-posts-text
    | Do you have an interesting insight or story on this artist? Tell us about it. The best posts will be featured by our editorial team.
  .artist-add-post-button.button.avant-garde-button-white
    .icon-write
    span Add Post
