.bisected-header
  if artist.get('blurb')
    .bisected-header-cell
      .artist-blurb
        h2 Biography
        .blurb!= artist.mdToHtml('blurb')

  .bisected-header-cell
    .artist-related-genes.related-links
      //- Rendered client-side
    .artist-related-representations.related-links
      //- Rendered client-side

include ./sections/works

#artist-related-shows-section.artist-related-section
  h3.artist-related-section-header Shows on Artsy
  #artist-related-shows.artist-related-section-content
    //- Rendered client-side

#artist-related-posts-section.artist-related-section
  h3.artist-related-section-header Posts about #{artist.get('name')}
  #artist-related-posts.artist-related-section-content
    //- Rendered client-side

#artist-related-moreinfo-section.artist-related-section
  h3.artist-related-section-header More info
  if artist.get('auction_lots_count')
    #artist-related-moreinfo.artist-related-section-content
      a.faux-underline( href="/artist/#{artist.id}/auction-results" )
        | Auction Results for #{artist.get('name')}
  #artist-related-moreinfo.artist-related-section-content.last-modified-section
    span Page Last Modified:&nbsp;
    span.last-modified

#artist-related-artists-section.artist-related-section
  h3.artist-related-section-header Related Artists
  #artist-related-artists.artist-related-section-content
    //- Rendered client-side

#artist-related-contemporary-section.artist-related-section
  h3.artist-related-section-header Suggested Contemporary Artists
  #artist-related-contemporary.artist-related-section-content
    //- Rendered client-side
