extends ../../../components/main_layout/templates/blank

block head
  title Personalize | Artsy

append locals
  - assetPackage = 'artists_artworks'

block body
  #artist-page
    .responsive-layout-container
      .main-layout-container
        .payoff-content
          .payoff-content__header
            .payoff-content__header__headline Welcome, #{name}.
            .payoff-content__header__subheadline Other artists you might like to follow:
          .payoff-content__content
          a.payoff-content__done.avant-garde-button-black(href=href) Done
