extends ../../../components/main_layout/templates/blank

block head
  title Personalize | Artsy

append locals
  - assetPackage = 'artists_artworks'

block body
  #artist-page
    .responsive-layout-container
      .main-layout-container
        .payoff-content
          .payoff-content__header
            .payoff-content__header__headline Welcome, #{name}.
            .payoff-content__header__subheadline You are now following #{artist.name}. Follow more of your&nbsp;
            .payoff-content__header__subheadline favorite artists to find out when their works are added.
          .payoff-content__content
          a.payoff-content__done.avant-garde-button-black(href=href) I'm done, take me back