h1.avant-garde-header-center Related Genes
.genes
  each gene, idx in genes
    a( data-id = gene.get('id'), href = '/gene/' + gene.get('id') )!= gene.get('name')
    if idx != genes.length - 1
      , 
