ul
  for artist in artists
    li.artist-related-artist
      h4
        a.faux-underline-hover-large( href=artist.clientUrl() )= artist.get('name')
      button.avant-garde-button-white.follow-button.is-small
      .artist-related-artist-artworks
        .loading-spinner
