span Order:
.bordered-pulldown
  a.bordered-pulldown-toggle
    = artist.sortCriteriaForArtworks[sortBy]
    .bordered-pulldown-toggle-caret
      span.caret
  .bordered-pulldown-options
    a( data-sort=sortBy )= artist.sortCriteriaForArtworks[sortBy]
    - for k, v in artist.sortCriteriaForArtworks
      - if (v != sortBy)
        a( data-sort=v )= k 