@require '../stylus_lib'
// Overwrites Google's styling for Place Autocomplete results

.google-maps-places-input
  // Google forces the width of the result set
  // based on the width of the input sans border.
  // We compensate by creating a inner border using
  // box-shadow and increase the padding to make up for it.
  border none
  box-shadow inset 0 0 0 2px gray-lighter-color
  padding 12px
  transition box-shadow 0.25s
  &:focus
    transition box-shadow 0.25s
    box-shadow inset 0 0 0 2px purple-color
form.is-validated
  .google-maps-places-input:invalid
    box-shadow inset 0 0 0 2px red-color
