extends ./template

block content
  section.sg-components
    h2 Buttons
    .sg-description
      p
        | Click any button to enact its loading state.
        | Button classes all have states that can be enabled using classes or a data-state value:
        pre: code
          | //- Loading:
          | .avant-garde-button.is-loading
          | .avant-garde-button( data-state='loading' )
        pre: code
          | //- Success:
          | .avant-garde-button.is-success
          | .avant-garde-button( data-state='success' )
        pre: code
          | //- Error:
          | .avant-garde-button.is-error
          | .avant-garde-button( data-state='error' )
        pre: code
          | //- Buttons can also be disabled by using the standard disabled attribute
          | .avant-garde-button( disabled )
          | .avant-garde-button.is-disabled

    article.sg-component
      h3 Default Button
      .sg-component-rendered
        a.avant-garde-button.sg-display Button
        a.avant-garde-button.sg-display.is-success Button
        a.avant-garde-button.sg-display.is-error Button
        br
        a.avant-garde-button.sg-display( disabled ) Button
        a.avant-garde-button.sg-display.is-success( disabled ) Button
        a.avant-garde-button.sg-display.is-error( disabled ) Button
      pre: code .avant-garde-button Button

    article.sg-component
      h3 Ghost Button
      .sg-component-rendered
        a.avant-garde-button-white.sg-display Button
        a.avant-garde-button-white.sg-display.is-success Button
        a.avant-garde-button-white.sg-display.is-error Button
        a.avant-garde-button-white.sg-display( disabled ) Button
      pre: code .avant-garde-button-white Button

    article.sg-component
      h3 Inverted Button
      .sg-component-rendered
        a.avant-garde-button-black.sg-display Button
        a.avant-garde-button-black.sg-display( disabled ) Button
      pre: code .avant-garde-button-black Button

    article.sg-component
      h3 Dark Button
      .sg-component-rendered
        a.avant-garde-button-dark.sg-display Button
        a.avant-garde-button-dark.sg-display( disabled ) Button
      pre: code .avant-garde-button-dark Button

    article.sg-component
      h3 Structural Variants
      .sg-component-rendered
        a.avant-garde-button.sg-display.is-block Block Button
        a.avant-garde-button.sg-display Default Button
        a.avant-garde-button.sg-display.is-small Small Button
        a.avant-garde-button.sg-display.is-tiny Tiny Button
      pre: code
        | .avant-garde-button.is-block Block Button
        | .avant-garde-button Default Button
        | .avant-garde-button.is-small Smalll Button
        | .avant-garde-button.is-tiny Tiny Button

    article.sg-component
      h3 Text Buttons
      .sg-component-rendered
        a.avant-garde-button-text.sg-display Text Button
        a.avant-garde-button-underlined.sg-display Underlined Button
        a.garamond-button-text.sg-display Garamond Text Button
      pre: code
        | a.avant-garde-button-text Text Button
        | a.avant-garde-button-underlined Underlined Button
        | a.garamond-button-text Garamond Text Button

    article.sg-component
      h3 Stacked Button Menu
      .sg-component-rendered
        .stacked-button-menu
          a.avant-garde-button-black Log in using Twitter
          a.avant-garde-button-black Log in using Facebook
          a.avant-garde-button-black Log in using Email
      pre: code
        | .stacked-button-menu
        |   a.avant-garde-button-black Log in using Twitter
        |   a.avant-garde-button-black Log in using Facebook
        |   a.avant-garde-button-black Log in using Email

    article.sg-component
      h3 Circle Buttons
      .sg-component-rendered
        a.circle-button.icon-heart
        a.circle-button.icon-heart( data-state='active' )
        a.circle-button.icon-share
        hr
        .circle-button-with-label
          a.circle-button.icon-heart
          .circle-button-label Favorite
        .circle-button-with-label
          a.circle-button.icon-share
          .circle-button-label Share
      pre: code
        | a.circle-button.icon-heart
        | a.circle-button.icon-heart( data-state='active' )
        | a.circle-button.icon-share
      pre: code
        | //- With labels
        | .circle-button-with-label
        |   a.circle-button.icon-heart
        |   .circle-button-label Favorite
        | .circle-button-with-label
        |   a.circle-button.icon-share
        |   .circle-button-label Share
