@require './detail'

.auction-lots-beta-alert
  margin 20px 0

.auction-lots-sub-header
  avant-garde()
  font-size 13px

.auction-lots-table
  width 100%
  border-top 1px solid gray-lighter-color
  border-bottom 1px solid gray-lighter-color
  margin 20px 0
  th
  td
    padding 10px
    &:first-child
    &:last-child
      padding 10px 5px
  th
    avant-garde()
    font-size 11px
  td
    vertical-align top
    border-top 1px solid gray-lighter-color
  a
    text-decoration none
  tbody tr
    transition background-color 0.125s
    &:hover
      background gray-lightest-color

div.auction-lots-interstital
  display table
  margin 20px 0
  width 100%

.auction-lots-interstital
  > div
    display table-cell
    width 50%
  > td
  > td:last-child
    padding 20px 0
    vertical-align bottom

.auction-lots-sort
  text-align right
  *
    text-align left
  > span
    margin-right 10px

.auction-lot-title-container
  display table

.auction-lot-image
.auction-lot-title
  display table-cell
  vertical-align top

.auction-lot-image
.auction-lot-image-placeholder
  width 80px
  margin-right 20px

.auction-lot-title
.auction-lot-medium
.auction-lot-organization
  max-width 160px

.auction-lot-sale-signup
.auction-lot-details-link
.auction-lot-goto-link
  avant-garde()
  text-decoration none
  font-size 11px
  line-height 1
  white-space nowrap

.auction-lot-details-link
.auction-lot-goto-link
  display block
  margin-top 10px

.auction-lots-header
  display flex
  justify-content space-between
  margin-bottom 50px
  align-items flex-end
  h1
    garamond-size('headline')
  .auction-lots-sources
    display flex
    flex-direction column
    align-items center
    margin-top -15px
  .auction-lots-sources-label
    avant-garde-size('s-headline')
    color gray-dark-color
    margin-bottom 9px
  .auction-lots-sources-image
    margin-bottom 6px
    width 337px
    height 20px
    background-position center center
    background-size cover
    background-repeat no-repeat
    background-image url('/images/auction_results_sources.jpg')

.zoom-modal .modal-header
  display none
