.doge
  position absolute
  overflow hidden
  top 0px
  width 100%
  .doge-container
    position relative
    margin 0px auto
  .doge-text
    font-family Comic Sans, Comic Sans MS, cursive
    position absolute
    text-transform lowercase
    text-shadow 0px 0px 2px #000000
    line-height 150%
