@require '../stylus_lib'

.user-interests-results
  margin 10px 0
  fade-in()
  &:empty
    display none
  .results-list-item:first-child
    border-top none

.user-interest-remove
  padding 10px 10px 10px 20px
  cursor pointer
  user-select none
  iconfont-styling()
  font-size 14px
  line-height 14px
  &:before
    // .icon-check
    content '\e627'
  &:hover:before
    color red-color
    vendor('text-stroke-width', 1px)
    // .icon-close
    content '\e614'
