@require '../stylus_lib'

.buyers-premium
  h2
    garamond()
    letter-spacing 0
    text-transform none
    font-size 22px
    text-align left
    margin 30px 0 10px 0
  p
    font-size 17px
    line-height 1.3em

.buyers-premium-schedule
  li
    font-size 17px
    padding 15px 0
    border-bottom 1px solid gray-lightest-color
    margin-bottom 0 !important
    display flex
    align-content left
    &:last-child
      border-bottom 0
    .buyers-premium-pre
      padding-right 4px
    .buyers-premium-perc
      padding-left 6px

@media (max-width: 600px)
  .buyers-premium-schedule li
    position relative
    display block
  .buyers-premium-dots
    display none
  .buyers-premium-pre
    background white
    display inline
  .buyers-premium-perc
    position absolute
    bottom 15px
    right 11px
    z-index -1
    &:before
      content '......................................................'
      margin-right 5px
