for column in artworkColumns
  .artwork-column
    for artwork in column
      include ../artwork_item_metaphysics/templates/artwork

if numberOfColumns
  - for (var i = 0; i < numberOfColumns; i++)
    .artwork-column

if seeMore
  button.avant-garde-button-text.artwork-columns-see-more= buttonLabel
