if sd.ENABLE_EXPERIMENTAL_STITCH_INJECTION
  #stitch-show-artwork_columns_metaphysics
    - console.log(artworks)
    != sd.stitch.components.ArtworkGrid({ artworks, mountId: 'stitch-show-artwork_columns_metaphysics' })

else
  for column in artworkColumns
    .artwork-column
      for artwork in column
        include ../artwork_item_metaphysics/templates/artwork

  if numberOfColumns
    - for (var i = 0; i < numberOfColumns; i++)
      .artwork-column

if seeMore
  button.avant-garde-button-text.artwork-columns-see-more= buttonLabel
