.arv-context__content.arv-context__content--followed-artists
  each artist in artists
    a.arv-context__content--followed-artists__artist(href="/artist/#{artist.id}")= artist.name
  if counts.artists - artists.length > 0
    a.arv-context__content--followed-artists__artist(href="/works-for-you") + #{counts.artists - artists.length} more artists