//
// List any data-uri embedded assets needed for initial page load here so they
// are only embedded once.
//

// Chevron arrow
.chevron-arrow-button::after
.chevron-arrow-button-left::before
.chevron-nav-list a::after
  mask-image url('/images/chevron_arrow.svg') !important

.avant-garde-box-button-chevron
  background-image url('/images/chevron_arrow_g.svg') !important

// Square logo
#main-header-logo-icon
  background-image url('/images/logo_square.svg') !important

// Large Artsy logo
.artsy-logo-large
  background-image url('/images/logo_large.svg') !important

// Video play button
.post-detail-link-video-player
  background-image url('/images/video_play.png') !important

// Social icons
.auth-page-facebook
  background-image url('/images/facebook.svg') !important

.a-z-page-toggle.feed-icon
  background-image url('/images/filter-button.png') !important
  width: 26px
  height: 24px
  background-repeat no-repeat
  background-size: contain

.refresh-icon
  width 40px
  height 40px
  -webkit-border-radius 50px
  border-radius 50px
  padding 5px
  border 1px solid light-gray-border-color
  position relative

  &:after
    width 40px
    height 25px
    display block
    content " "
    position absolute
    top 7px
    left 7px
    background-image url('/images/refresh_icon.svg')
    background-repeat no-repeat

.bordered-select
  background-image: url('/images/select_arrow.png')

.search-result-thumbnail-fallback
  background-image: url('/images/user_profile.png')
  background-repeat no-repeat
  background-size: contain
  height 50px
  width 50px
