@import '../../stylus_lib'

footer
  background-color #000
  position: relative
  z-index: 3
  background: black

.footer__bottom-nav
  padding 30px 12px

#ccpa-request > div > div:first-child
  color white

.footer__bottom-nav__link
  serif()
  display inline-block
  color white
  font-size default-font-size
  text-decoration none
  padding-right 12px
