@import '../../stylus_lib'
@import '../../../../lib/palette'

footer
  position: relative
  z-index: 3
  background-color getColor('black100')

.footer__bottom-nav
  padding getSpace(3, 2)

#ccpa-request > div > div:first-child
.footer__bottom-nav__link
  text('caption')
  display inline-block
  color getColor('white100')
  text-decoration none
  padding-right getSpace(1)
