//
// Header styles used project-wide
//

@import '../../stylus_lib'
@require '../../../../lib/palette'

.avant-garde-header
  text('text')

.avant-garde-header-center
  text('title')
  width 100%
  text-align center

.h2-margin
  margin getSpace(2, 0)

.avant-garde-subheader
  text('text')
  color getColor('black60')

.page-heading
  padding 36px 50px 24px

.garamond-header
  serif()
  font-size 18px
  padding 30px
  text-align center

  h1
    font-size large-font-size
    line-height 1.2
