//
// Header styles used project-wide
//

@import '../../stylus_lib'

.avant-garde-header
  avant-garde()
  font-size avant-garde-font-size

.avant-garde-header-center
  @extend .avant-garde-header
  width 100%
  text-align center

.h2-margin
  margin 20px 0

.avant-garde-subheader
  avant-garde()
  font-size avant-garde-font-size - 2
  color dark-gray-text-color

.page-heading
  padding 36px 50px 24px

.garamond-header
  serif()
  font-size 18px
  padding 30px
  text-align center

  h1
    font-size large-font-size
    line-height 1.2
