//
// Styles for the sign up / log in buttons at the top and bottom of almost every page.
//

.login-signup
  width 100%
  background black
  position relative
  z-index z-login-signup

.login-signup-button-container
  padding 12px 6px 12px 12px
  width 50%
  display inline-block
  &:last-child
    padding 12px 12px 12px 6px
  a
    width 100%
    display block
    padding 8px 0
