- var modal = sd.APP_BANNER_MODAL

section.artist-app-banner
    .artist-app-banner-container
        a.artist-app-banner-close-button &times;
        .artist-app-banner-content
            img.artist-app-banner-img( src=modal.image )
            p.artist-app-banner-copy= modal.copy
        a.artist-app-banner-button( href=modal.link ) Get the app