header#modal-contact-header.modal-contact-header

if user
  section.modal-contact-from
    | From: #{user.get('name')}
    span.mcf-email (#{user.get('email')})

#modal-contact-errors

#modal-contact-form
