.inquiry-profile-header
  .iph-icon: img( src= representative.iconImageUrl(), alt= representative.get('name'), width='90', height='90' )
  .iph-body
    h1 New Message to Artsy
    p #{representative.get('name')}, an Artsy Specialist, is available to answer your questions and help you collect through Artsy. To get started, how may she help you?
