.artsy-primer-personalize-step
  margin-top 60px
  max-width 1080px
  &[data-step='favorites']
    width 80%
    @media screen and (max-width: 768px)
      padding 20px 10px
      margin 0
      width 100%
      .artwork-column
        width 50% !important
        margin 0 !important
        padding 0 10px


.artsy-primer-personalize-favorites-header
  font-size 17px

.artwork-item-caption a
  cursor default

#artsy-primer-personalize-favorites-container
  position relative
  min-height 50vh