.artsy-primer-personalize-step
  margin-top 60px
  max-width 1080px
  &[data-step='favorites']
    width 80%

.artsy-primer-personalize-favorites-header
  font-size 17px

.artwork-item-caption a
  cursor default
