.artsy-primer-personalize-step
  &[data-step='introduction']
    h2
      margin 20px 0
      avant-garde()
      font-size 15px
      text-align center
    aside
      font-size 18px
      color black

#artsy-primer-personalize-introduction-preview
  position relative
  min-height 1em
  margin 20px auto 60px auto

#artsy-primer-personalize-introduction-rendered
  font-style italic
  color gray-darker-color
.artsy-primer-personalize-introduction-edit
  margin-left 10px
  > i
    margin 0
  &:hover
    border-color transparent

#modal.artsy-primer-personalize-introduction
  .modal-body
    padding 40px 35px
    text-align center
  h1
    avant-garde()
    font-size 19px
    line-height 1.25
  aside
    margin 20px 0
    text-align left
  .stacked-form
    margin 20px 0
  .stacked-form-cell
    margin 20px 0
    > label
      text-align left
