.artsy-primer-personalize-step
  &[data-step='price_range']
    width 560px
    aside
      text-align center
      margin 40px 0
      padding 0 40px
      color gray-darker-color
      font-size 16px

.artsy-primer-personalize-category-anything-else
  border-top 1px solid gray-lighter-color
  margin 20px auto
  text-align center
  padding-top 55px
  &-inner
    max-width 600px
    margin auto
  aside
    color gray-darker-color
    margin 55px 0 30px 0
    text-align left
  h2
    margin 20px 0
    avant-garde()
    font-size 20px
  img
    max-width 100%

.artsy-primer-personalize-slider
  margin 30px auto 90px auto
  width 600px
