.artsy-primer-personalize-step
  &[data-step='price_range']
    width 560px
    aside
      text-align center
      margin 40px 0
      padding 0 40px
      color gray-darker-color
      font-size 16px

// 3d toggle button
.flipper
  position relative
  display inline-block
  vertical-align bottom
  margin 10px
  width 120px
  height @width
  text-align center
  cursor pointer
  &.is-flipped > .flipper-card
    transform rotateX(-180deg)

.flipper-card
  width 100%
  height 100%
  transform-style preserve-3d
  transition transform 0.3s

.flipper-face
  width 100%
  height 100%
  position absolute
  backface-visibility hidden
  z-index 2
  cursor pointer
  border 2px solid gray-lighter-color
  border-radius (@width / 2)
  transition border-color 0.25s
  &:hover
    border-color purple-color
  &.is-front
    position absolute
    z-index 1
  &.is-back
    transform rotateX(-180deg)
    background-color purple-color
    border-color purple-color
    color white
  > span
    position absolute
    top 50%
    left 0
    right 0
    avant-garde-size('body', true)
    text-align center
    padding 0 5px
    transform translateY(-50%)
