@require '../../../components/location_search'

.probuyer-complete
  > h1
    width 50%
    margin 0 auto
    text-align center
    serif('l-headline')

  &__form
    width 33.33%
    margin gutter auto
