.probuyer-cta
  width 33.33%
  min-width 400px
  margin 0 auto
  text-align center

  &__headline
    //

  &__form
    padding 0 gutter

    &__terms
      serif('l-caption')
      margin distance(gutter) 0

      &
      > a
        color gray-darker-color

    &__login
      serif('l-body')
      margin distance(gutter) 0

      > a
        fine-faux-underline()
