if artwork.is_buy_nowable
  .artwork-auction__buy-now
    .artwork-auction__buy-now__label
      | Buy Now

    .artwork-auction__buy-now__amount
      = artwork.sale_message

    form.artwork-auction__buy-now__form
      button.avant-garde-button-black.is-block( class='js-artwork-auction-buy-now' )
        | Buy Now
