.artwork-auction__help
  a(
    href='/auction-info'
    class='js-artwork-auction-help-modal'
    data-id='how-auctions-work-bidding'
  ) Auction FAQs
  br
  a( class='js-artwork-auction-ask-specialist' )
    | Ask a Specialist
