- var scope = scope || 'address'
- var address = address || {}
- var phone = phone || ''
- var showName = (typeof showName) == 'undefined' ? true : showName
- var nameLabel = (typeof nameLabel) == 'undefined' ? 'Name' : nameLabel

if showName
  .name.order-input-section
    label= nameLabel
    input.bordered-input.name( name=(scope + '[name]'), type='text', value=(address.name || ''), autocomplete='name' )

.street.order-input-section
  label Address
  input.bordered-input.street( name=(scope + '[street]'), type='text', value=(address.street || ''), autocomplete='street-address' )

.country.order-input-section
  label Country
  select.country( name=(scope + '[country]'), autocomplete='country' )
    include ./country_options

.city.order-input-section
  label City
  input.bordered-input.city( name=(scope + '[city]'), type='text', value=(address.city || ''), autocomplete='locality' )

.region.order-input-section
  label State
  input.bordered-input.region( name=(scope + '[region]'), type='text', value=(address.region || ''), autocomplete='region' )

.postal-code.order-input-section
  label Zip code
  input.bordered-input.postal-code( name=(scope + '[postal_code]'), type='text', value=(address.postal_code || ''), autocomplete='postal-code', pattern="\d*" )

.telephone.order-input-section
  label Telephone
  input.bordered-input.telephone( type='tel', name='telephone', value=(telephone || ''), autocomplete='tel', pattern="\d*" )
