option( value="AFG" ) Afghanistan
option( value="ALA" ) Aland Islands
option( value="ALB" ) Albania
option( value="DZA" ) Algeria
option( value="ASM" ) American Samoa
option( value="AND" ) Andorra
option( value="AGO" ) Angola
option( value="AIA" ) Anguilla
option( value="ATA" ) Antarctica
option( value="ATG" ) Antigua and Barbuda
option( value="ARG" ) Argentina
option( value="ARM" ) Armenia
option( value="ABW" ) Aruba
option( value="AUS" ) Australia
option( value="AUT" ) Austria
option( value="AZE" ) Azerbaijan
option( value="BHS" ) Bahamas
option( value="BHR" ) Bahrain
option( value="BGD" ) Bangladesh
option( value="BRB" ) Barbados
option( value="BLR" ) Belarus
option( value="BEL" ) Belgium
option( value="BLZ" ) Belize
option( value="BEN" ) Benin
option( value="BMU" ) Bermuda
option( value="BTN" ) Bhutan
option( value="BOL" ) Bolivia, Plurinational State of
option( value="BES" ) Bonaire, Sint Eustatius and Saba
option( value="BIH" ) Bosnia and Herzegovina
option( value="BWA" ) Botswana
option( value="BVT" ) Bouvet Island
option( value="BRA" ) Brazil
option( value="IOT" ) British Indian Ocean Territory
option( value="BRN" ) Brunei Darussalam
option( value="BGR" ) Bulgaria
option( value="BFA" ) Burkina Faso
option( value="BDI" ) Burundi
option( value="KHM" ) Cambodia
option( value="CMR" ) Cameroon
option( value="CAN" ) Canada
option( value="CPV" ) Cape Verde
option( value="CYM" ) Cayman Islands
option( value="CAF" ) Central African Republic
option( value="TCD" ) Chad
option( value="CHL" ) Chile
option( value="CHN" ) China
option( value="CXR" ) Christmas Island
option( value="CCK" ) Cocos (Keeling) Islands
option( value="COL" ) Colombia
option( value="COM" ) Comoros
option( value="COG" ) Congo
option( value="COD" ) Congo, the Democratic Republic of the
option( value="COK" ) Cook Islands
option( value="CRI" ) Costa Rica
option( value="CIV" ) Cote d'Ivoire
option( value="HRV" ) Croatia
option( value="CUW" ) Curacao
option( value="CYP" ) Cyprus
option( value="CZE" ) Czech Republic
option( value="DNK" ) Denmark
option( value="DJI" ) Djibouti
option( value="DMA" ) Dominica
option( value="DOM" ) Dominican Republic
option( value="ECU" ) Ecuador
option( value="EGY" ) Egypt
option( value="SLV" ) El Salvador
option( value="GNQ" ) Equatorial Guinea
option( value="ERI" ) Eritrea
option( value="EST" ) Estonia
option( value="ETH" ) Ethiopia
option( value="FLK" ) Falkland Islands (Malvinas)
option( value="FRO" ) Faroe Islands
option( value="FJI" ) Fiji
option( value="FIN" ) Finland
option( value="FRA" ) France
option( value="GUF" ) French Guiana
option( value="PYF" ) French Polynesia
option( value="ATF" ) French Southern Territories
option( value="GAB" ) Gabon
option( value="GMB" ) Gambia
option( value="GEO" ) Georgia
option( value="DEU" ) Germany
option( value="GHA" ) Ghana
option( value="GIB" ) Gibraltar
option( value="GRC" ) Greece
option( value="GRL" ) Greenland
option( value="GRD" ) Grenada
option( value="GLP" ) Guadeloupe
option( value="GUM" ) Guam
option( value="GTM" ) Guatemala
option( value="GGY" ) Guernsey
option( value="GIN" ) Guinea
option( value="GNB" ) Guinea-Bissau
option( value="GUY" ) Guyana
option( value="HTI" ) Haiti
option( value="HMD" ) Heard Island and McDonald Islands
option( value="VAT" ) Holy See (Vatican City State)
option( value="HND" ) Honduras
option( value="HKG" ) Hong Kong
option( value="HUN" ) Hungary
option( value="ISL" ) Iceland
option( value="IND" ) India
option( value="IDN" ) Indonesia
option( value="IRQ" ) Iraq
option( value="IRL" ) Ireland
option( value="IMN" ) Isle of Man
option( value="ISR" ) Israel
option( value="ITA" ) Italy
option( value="JAM" ) Jamaica
option( value="JPN" ) Japan
option( value="JEY" ) Jersey
option( value="JOR" ) Jordan
option( value="KAZ" ) Kazakhstan
option( value="KEN" ) Kenya
option( value="KIR" ) Kiribati
option( value="PRK" ) Korea, Democratic People's Republic of
option( value="KOR" ) Korea, Republic of
option( value="KWT" ) Kuwait
option( value="KGZ" ) Kyrgyzstan
option( value="LAO" ) Lao People's Democratic Republic
option( value="LVA" ) Latvia
option( value="LBN" ) Lebanon
option( value="LSO" ) Lesotho
option( value="LBR" ) Liberia
option( value="LBY" ) Libya
option( value="LIE" ) Liechtenstein
option( value="LTU" ) Lithuania
option( value="LUX" ) Luxembourg
option( value="MAC" ) Macao
option( value="MKD" ) Macedonia, the former Yugoslav Republic of
option( value="MDG" ) Madagascar
option( value="MWI" ) Malawi
option( value="MYS" ) Malaysia
option( value="MDV" ) Maldives
option( value="MLI" ) Mali
option( value="MLT" ) Malta
option( value="MHL" ) Marshall Islands
option( value="MTQ" ) Martinique
option( value="MRT" ) Mauritania
option( value="MUS" ) Mauritius
option( value="MYT" ) Mayotte
option( value="MEX" ) Mexico
option( value="FSM" ) Micronesia, Federated States of
option( value="MDA" ) Moldova, Republic of
option( value="MCO" ) Monaco
option( value="MNG" ) Mongolia
option( value="MNE" ) Montenegro
option( value="MSR" ) Montserrat
option( value="MAR" ) Morocco
option( value="MOZ" ) Mozambique
option( value="NAM" ) Namibia
option( value="NRU" ) Nauru
option( value="NPL" ) Nepal
option( value="NLD" ) Netherlands
option( value="NCL" ) New Caledonia
option( value="NZL" ) New Zealand
option( value="NIC" ) Nicaragua
option( value="NER" ) Niger
option( value="NGA" ) Nigeria
option( value="NIU" ) Niue
option( value="NFK" ) Norfolk Island
option( value="MNP" ) Northern Mariana Islands
option( value="NOR" ) Norway
option( value="OMN" ) Oman
option( value="PAK" ) Pakistan
option( value="PLW" ) Palau
option( value="PSE" ) Palestinian Territory, Occupied
option( value="PAN" ) Panama
option( value="PNG" ) Papua New Guinea
option( value="PRY" ) Paraguay
option( value="PER" ) Peru
option( value="PHL" ) Philippines
option( value="PCN" ) Pitcairn
option( value="POL" ) Poland
option( value="PRT" ) Portugal
option( value="PRI" ) Puerto Rico
option( value="QAT" ) Qatar
option( value="REU" ) Reunion
option( value="ROU" ) Romania
option( value="RUS" ) Russian Federation
option( value="RWA" ) Rwanda
option( value="BLM" ) Saint Barthelemy
option( value="SHN" ) Saint Helena, Ascension and Tristan da Cunha
option( value="KNA" ) Saint Kitts and Nevis
option( value="LCA" ) Saint Lucia
option( value="MAF" ) Saint Martin (French part)
option( value="SPM" ) Saint Pierre and Miquelon
option( value="VCT" ) Saint Vincent and the Grenadines
option( value="WSM" ) Samoa
option( value="SMR" ) San Marino
option( value="STP" ) Sao Tome and Principe
option( value="SAU" ) Saudi Arabia
option( value="SEN" ) Senegal
option( value="SRB" ) Serbia
option( value="SYC" ) Seychelles
option( value="SLE" ) Sierra Leone
option( value="SGP" ) Singapore
option( value="SXM" ) Sint Maarten (Dutch part)
option( value="SVK" ) Slovakia
option( value="SVN" ) Slovenia
option( value="SLB" ) Solomon Islands
option( value="SOM" ) Somalia
option( value="ZAF" ) South Africa
option( value="SGS" ) South Georgia and the South Sandwich Islands
option( value="SSD" ) South Sudan
option( value="ESP" ) Spain
option( value="LKA" ) Sri Lanka
option( value="SUR" ) Suriname
option( value="SJM" ) Svalbard and Jan Mayen
option( value="SWZ" ) Swaziland
option( value="SWE" ) Sweden
option( value="CHE" ) Switzerland
option( value="TWN" ) Taiwan, Province of China
option( value="TJK" ) Tajikistan
option( value="TZA" ) Tanzania, United Republic of
option( value="THA" ) Thailand
option( value="TLS" ) Timor-Leste
option( value="TGO" ) Togo
option( value="TKL" ) Tokelau
option( value="TON" ) Tonga
option( value="TTO" ) Trinidad and Tobago
option( value="TUN" ) Tunisia
option( value="TUR" ) Turkey
option( value="TKM" ) Turkmenistan
option( value="TCA" ) Turks and Caicos Islands
option( value="TUV" ) Tuvalu
option( value="UGA" ) Uganda
option( value="UKR" ) Ukraine
option( value="ARE" ) United Arab Emirates
option( value="GBR" ) United Kingdom
option( value="USA", selected="selected" ) United States
option( value="UMI" ) United States Minor Outlying Islands
option( value="URY" ) Uruguay
option( value="UZB" ) Uzbekistan
option( value="VUT" ) Vanuatu
option( value="VEN" ) Venezuela, Bolivarian Republic of
option( value="VNM" ) Viet Nam
option( value="VGB" ) Virgin Islands, British
option( value="VIR" ) Virgin Islands, U.S.
option( value="WLF" ) Wallis and Futuna
option( value="ESH" ) Western Sahara
option( value="YEM" ) Yemen
option( value="ZMB" ) Zambia
option( value="ZWE" ) Zimbabwe
