@require '../../../components/stylus_lib'
@require './mobile'
@require '../../../../lib/palette'

#notifications-page
  padding-top 50px
  margin-bottom 100px

#notifications-page[data-forsale=true]
  .filter-artist-published-artworks-count
    display none

#notifications-page[data-forsale=false]
  .filter-artist-forsale-artworks-count
    display none

#notifications-header
  margin-bottom 40px
  h1
    text('largeTitle')

#notifications-react-headline
  margin-left 250px
  font-size 25px
  display none

#notifications-filter
  position absolute
  width 250px
  padding-right 40px
  .artsy-checkbox
    display block
    padding-bottom 36px
    .artsy-checkbox--label
      text('text')
  .filter-artist
    display block
    margin-bottom getSpace(1)
  .filter-artist-published-artworks-count, .filter-artist-forsale-artworks-count
    display inline
    color getColor('black60')
    text('text')
  .filter-artist-name
    text-decoration none
    display inline
    text('text')
  .filter-artist-clear
    display none
  .filter-artist[data-state=selected]
    .filter-artist-clear
      display inline
      text-decoration underline
      cursor pointer
    .filter-artist-name, .filter-artist-count, .filter-artist-clear
      color purple-color

.artist-clear
  float right
  text-decoration underline
  cursor pointer

#notifications-react-works
  width 900px
  margin-left 250px

#notifications-react-works
  padding-top 2px

.notifications-search-header
  text('small')
  margin getSpace(4, 0, 2, 0)

#notifications-search-container
  margin-bottom 50px

