@import '../../../components/stylus_lib'
@require '../../../../mobile/components/artwork_columns'
@require '../../../../lib/palette'

#notifications-page.mobile
  padding-top getSpace(4)
  .notifications-header
    margin-bottom getSpace(3)
    text-align center
    text('largeTitle')

  #notifications-published-artworks
    margin-top getSpace(2)

  .notifications-list-item
    .notifications-artist-link
      text('mediumText')
      margin-bottom getSpace(2)
      text-decoration none
    .notifications-works-added
      text('caption')
      margin-bottom getSpace(1.5)
      color getColor('black60')
    .notifications-publish-date
      float right
      text-transform none
      text('text')
      color getColor('black60')
    border-top 1px solid getColor('black10')
    padding-top getSpace(2)
    margin-bottom getSpace(2)

  .notifications-see-more
    text-align right
    margin getSpace(2, 0, 2, 0)
    text('caption')
    a
      text-decoration none

  .artwork-columns
    width 100%

  .artwork-columns-double
    .artwork-columns-column
      width 50%
      .artwork-columns-artwork
        margin 0
      &:nth-child(1)
        .artwork-columns-artwork
          margin-right getSpace(1)
      &:nth-child(2)
        .artwork-columns-artwork
          margin-left getSpace(1)

  .artwork-columns-triple
    .artwork-columns-column
      width 33.33%
      &:nth-child(1)
        .artwork-columns-artwork
          margin getSpace(0, 1, 0, 0)
      &:nth-child(2)
        .artwork-columns-artwork
          margin getSpace(0, 1)
      &:nth-child(3)
        .artwork-columns-artwork
          margin getSpace(0, 0, 0, 1)

  .artwork-columns-column
    max-width 100%
    display inline-block
    vertical-align top

  .artwork-columns-artwork img
    display block
    width 100%

  .artwork-columns-artwork-details
    margin getSpace(1, 0, 2, 0)
