.inquiry-questionnaire-modal
  .modalize-body
    padding 30px

.iq-header
  text-align center
  garamond-size('s-headline')
  text-align center
  border-bottom 1px solid gray-lighter-color
  padding 0 0 20px
  margin 0 -30px

.iq-headline
  display table
  width 100%
  position relative
  &--centered
    text-align center
  #auth-header-logo
    font-size 39px
    margin 10px auto 15px
  > span
    display table-cell
    vertical-align bottom
    &:first-child
      padding-right 20px
    &:last-child
      padding-left 20px
      text-align right
      garamond-size('s-body')
      color gray-darker-color

.iq-headline
  margin 15px 0 10px
  garamond-size('l-body')

.iq-subheadline
  margin 10px 0
  garamond-size('s-body')
  color gray-darker-color

.iq-form
  margin 20px 0

.iq-checkbox
  display block
  margin 20px 0

.iq-search
  > span
    left 20px
    > .icon-search
      position absolute
      top 50%
      left 0
      transform translate(-50%, -50%)
      font-size 20px
      color gray-color
  > .bordered-input
    padding-left 35px

.iq-multiple-choice
  margin 50px 0
  > a
    garamond-size('s-body')

.iq-next
  margin 30px 0 !important

.iq-top-margin
  margin-top 20px
  button
    width 100%

.iq-push-down
  display block
  margin 20px 0 30px 0
  text-decoration none
  garamond-size('s-body')

.iq-loadable
  > *
    transition opacity 0.25s
    opacity 1
  &.is-loading
    &:before
      display block
      content ''
      spinner(20px, 5px, black)
    > *
      opacity 0

.iq-account-logotype
  display block
  margin 0 auto
  text-align center
  font-size 55px
  line-height 1

.iq-account-sub
  display flex
  justify-content space-between
  block-margins(20px)
  garamond-size('s-body')
  &--small
    block-margins(10px)
    display block
    text-align center
    garamond-size('l-caption')
  &, a
    color gray-darker-color

.iq-form-errors
  color red-color
  &:first-letter
    text-transform uppercase

.iq-sticky-bottom
  position absolute
  right 0
  bottom 0
  left 0
  // Same LR padding as .modalize-body
  padding 40px 35px
  background-color white
  // Fade
  &:after
    position absolute
    content ''
    top 0
    left 0
    right 0
    height 60px
    margin-top -(@height)
    background linear-gradient(top, rgba(white, 0), white)
    pointer-events none

  > .iq-next
    margin 0 !important

.iq-sticky-spacer
  height 150px

.gdpr-signup .tos-error
  color red-color
  text-align left
  height 1.23em
  margin-bottom 8px
  garamond-size('l-caption')

  .bordered-input
    width 100%
    margin-bottom 10px

  .avant-garde-button-black
    width 100%

  .gdpr-signup__form__checkbox__accept-terms .is-error
    visibility hidden
