@require './popover'

.follow-button
  &:before
    content 'Follow'
  &[data-state='following'], &.is-following
    color gray-color
    &:before
      content 'Following'
  &.no-touch[data-state='following'],
  &.no-touch.is-following
    &:hover
      color purple-color
      &:before
        content 'Unfollow'
      &.is-clicked:before
        content 'Following'

.plus-follow-button
  cursor pointer
  display inline-block
  min-width 86px
  &.is-following, &:hover, &[data-state='following']
    color purple-color
  .icon-follow-circle, .follow-button-text
    display inline
  .icon-follow-circle
    font-size 32px
    margin-right 0
    vertical-align bottom
    display inline-block
    line-height 20px
    height 22px
    margin-left -9px
    margin-right -1px
  .follow-button-text
    &:before
      content 'Follow'
  &[data-state='following'], &.is-following
    .follow-button-text
      &:before
        content 'Following'
  &.no-touch[data-state='following'],
  &.no-touch.is-following
    &:hover
      color red-color
      .follow-button-text
        &:before
          content 'Unfollow'
        &.is-clicked:before
          content 'Following'
