.follow-button
  &:before
    content 'Follow'

  &[data-state='following'], &.is-following
    color highlight-color
    &:before
      content 'Following'
  &.no-touch[data-state='following'],
  &.no-touch.is-following
    &:hover
      color bad-red-color
      &:before
        content 'Unfollow'
      &.is-clicked:before
        content 'Following'
