.abrv-inner( data-rail= railId )
  .abrv-header
    if annotation
      != annotation
    if category
      .abrv-category-annotation.avant-garde-s-headline Category
    if viewAllUrl
      a( href= viewAllUrl )
        h1= title
    else
      h1= title
    .abrv-follow-button
      //- rendered on the client

    if viewAllUrl
      a.abrv-view-all( href= viewAllUrl )
        | View all

  .abrv-content
    .abrv-carousel.mgr-horizontal-nav( class='js-my-carousel' )
      ul.abrv-fillwidth-list.fillwidth-list.js-mgr-cells.mgr-cells( class=artworks ? '' : 'mgr-cells--loading' )
        if hasContext
          li.abrv-context.mgr-cell.abrv-fillwidth-row( class='js-mgr-cell' )
            //- rendered on the client
        if artworks && artworks.length
          for artwork in artworks
            li.mgr-cell.abrv-fillwidth-row( class='js-mgr-cell' )
              include brick

        if viewAllUrl
          li.mgr-cell.abrv-fillwidth-row( class='js-mgr-cell' )
            include view_all

        else
          include ./loading

      if artworks && artworks.length
        include ../../merry_go_round/templates/horizontal_navigation
