- n = 0
while n < 6
  - n++
  li.mgr-cell.mgr-cell--loading.arv-fillwidth-row( class='js-mgr-cell' )
    .mgr-cell__image-placeholder
    .mgr-cell__text-placeholder
    .mgr-cell__text-placeholder
    .mgr-cell__text-placeholder
