.a-to-z-row
  border-bottom 1px solid gray-color
  padding 30px 0px 15px 0px
  width 100%

.a-to-z-row-letter
  font-size 50px
  line-height 100%
  text-transform uppercase

.a-to-z-item
  font-size 17px
  line-height 120%
  margin-top 5px
  overflow ellipsis
  padding 2px 0px
  vertical-align top
  color gray-darker-color
  a
    color black
    text-decoration none
    &.selected, &:hover
      color purple-color

.a-to-z-item-disabled
  color gray-darker-color
