@require '../../../components/merry_go_round'

carousel-height = 400px
arrow-offset = 30px

.galleries-institutions-primary-carousel
  position relative
  width 100%

  block-margins(60px)

.gpc-body
  display flex
  flex-direction row
  align-items center
  width 100%
  height carousel-height

// Navigation

.gpc-bumper-prev
.gpc-bumber-next
  > i
    top 50%

// Overlays
.gpc-overlays
  flex 1 1 40%
  display flex
  flex-direction column
  justify-content center
  align-items center
  text-align center
.gpc-overlay
  margin 0 auto
  padding 20px
  display none
  a
    text-decoration none

// Carousel
.gpc-carousel
  flex 1 1 60%
.gpc-carousel-cells
  height 100%
  overflow hidden
  white-space no-wrap
.gpc-carousel-cell
  display inline-block
  position relative
  width 100%
  padding-bottom 66%
.gpc-carousel-figure
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  background-size cover
  background-position center center
  transition transform 1s

// Typography
.gpc-headline
.gpc-subheadline
.gpc-subheadline-alt
  display block
.gpc-headline
  margin 20px 0
  garamond-size('headline')
.gpc-subheadline
  margin 5px 0
  avant-garde-size('body')
.gpc-subheadline-alt
  garamond-size('l-body')
  font-style italic
.gpc-location-dates
  garamond-size('l-body')
.gpc-follow-button
  margin 20px 0
