.organization-header
  width 580px
  margin 100px auto 60px auto
  h1
    avant-garde()
    margin-left 30px
  img
    width 100px
  h1, img
    display inline-block
    vertical-align top

.organization-feed
  border-top 1px solid gray-lighter-color
