a.avant-garde-button-white.personalize-skip Skip

header.personalize-header
  h1 Add works to your favorites
  aside.personalize-favorites-header
    | By clicking&nbsp;
    a.circle-button.icon-heart
    | on artworks

section.personalize-step( data-step='favorites' )
  #personalize-favorites-container: .loading-spinner
