header.personalize-header
  h1 Where do you call home?

section.personalize-step
  #personalize-location-search

  a.avant-garde-button-black.is-block.personalize-continue(
    href='/personalize/artists'
  ) Continue
