#partner-contact
  text-align center
  .partner-contact-info
    font-size 24px
    line-height 1.5em
    margin-bottom 100px
    .email-gallery, .partner-website
      color purple-color
      text-decoration none
      &:hover
        text-decoration underline
    .partner-website
      font-size 18px
    .purchase
      margin-bottom 50px

  .partner-locations
    .location
      margin-bottom 70px
    .map
      display inline
      border 2px solid #fff
      transition border-color 0.26s
      &:hover
        border 2px solid #ccc
    .location-details
      font-size 18px
      line-height 1.25em
      margin 1.4em 0
  .partner-vat-info
    unica()
    color #666666
    font-size 14px
