@require '../../../components/stylus_lib'
@require '../../../components/grid'
@require './shows_grid'
@require './artists_list'
@require './overview'
@require './contact'
@require './shows'
@require './artists'
@require './mobile'
@require './artworks_filter'

#partner
  margin 50px 0 100px 0
  .partner-header
    padding 40px 0
    margin-bottom 50px
    border-bottom 1px solid gray-color
    text-align center
    .partner-info-container
      width 650px
      margin 0 auto 40px auto
    .partner-icon
      display inline-block
      vertical-align top
      text-align center
      .profile-badge-icon
        display inline-block
        width 140px
        height 140px
        line-height @height
        vertical-align top
        img
          display inline-block
          vertical-align middle
          max-width 140px
          max-height 140px
    .partner-info
      display inline-block
      text-align left
      width 450px
      margin-left 20px
      .partner-name
        avant-garde()
        font-size 17px
        line-height 1.6
    .partner-actions
      margin 10px 0
      padding-right 55px
      .partner-followers
        margin-left 20px
        display inline-block
        color gray-darker-color
  .loading-spinner
    position relative
    top 50px
