.past-fairs--fair-image-grid
  a(href=fair.href())
    .past-fairs--fair-image-grid__inner
      .fair-large-image-left( style="background-image: url(#{fair.imageUrl('large_rectangle')});" )
      .fair-small-images-right
        if fair.representation
          - var representations = fair.representation.slice(1,3)
          for representation in representations
            .fair-small-image
              .fair-small-image__inner( style="background-image: url(#{representation.imageUrl('medium_square')});" )
    .past-fairs--fair-year #{fair.formatYear()}
