include ../bordered_pulldown/mixin

.filter-artworks(class=infiniteScroll ? '' : 'filter-artworks-no-infinite-scroll')
  .filter-artworks-sort-count
    .filter-sort-count
      h2.filter-heading.large-garamond-header
      h4.filter-sort-count-count Showing&nbsp;
        span.filter-sort-count-total= typeof total == 'number' ? total : '0 works'
      .filter-sort-count-pulldown
        +bordered-pulldown((pulldownVal || 'Recently Updated'), 'Sort by:')
          a( data-sort='-partner_updated_at', href="#" ) Recently Updated
          a( data-sort='-year', href="#" ) Artwork Year (desc.)
          a( data-sort='year', href="#" ) Artwork Year (asc.)
  .filter-artworks-list

  .filter-artworks-spinner
    .loading-spinner
