.artist-cell-item
  border 1px solid gray-lighter-color
  padding 10px

  &__link
    display block
    text-decoration none
    &:hover
    &.is-hover
      .hoverable-image-link:after, .hoverable-image-link:after
        opacity 0.5
  &__artist-information
    margin-bottom 3px
  &__artist-name
    avant-garde-size('body')
  &__artist-information
    min-height 63px
  &__followers
    color gray-darker-color
  &__follow-button
    width 100%

  &__bio
  &__followers
    garamond-size(s-body)
    line-height 1.2
  &__artist-name
  &__bio
  &__followers
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
