@require '../../lib/palette'

.artist-cell-item
  padding getSpace(1)
  border 1px solid getColor('black10')
  background-color getColor('white100')

  &__link
    display block
    text-decoration none

    .hoverable-image-link
      display block

    &:hover
    &.is-hover
      .hoverable-image-link:after
        opacity 0.5

  &__artist-information
    margin getSpace(1, 0)

  &__follow-button
    width 100%

  &__artist-name
  &__bio
  &__followers
    text('text')
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

  &__artist-name
    text('mediumText')

  &__bio
  &__followers
    color getColor('black60')
