.artist-cell-item
  a.artist-rail-cell__link.artist-cell-item__link.artist-rail-hoverable( href= artist.href )
    .hoverable-image-link
      .hoverable-image.is-four-three.is-cropped(
        data-initials= artist.initials
        style= artist.image && 'background-image: url(#{artist.image.cropped.url})'
      )

    .artist-cell-item__artist-information
      .artist-cell-item__artist-name
        = artist.name
      .artist-cell-item__bio
        if artist.formatted_nationality_and_birthday
          = artist.formatted_nationality_and_birthday
      .artist-cell-item__followers
        if artist.counts
          - var total = artist.counts.artworks || 0
          - var for_sale = artist.counts.for_sale_artworks || 0
          = total + (total > 1 ? ' works' : ' work')
          if total != for_sale
            = ', ' + for_sale
          |  for sale
  a.artist-cell-item__follow-button.avant-garde-follow-button-black.follow-button.is-small(
    data-id= artist.id
  )
