.follow-button
  background-color black
  color white
  &:before
    content 'Follow'

  &[data-state='following'], &.is-following
    background-color transparent
    color gray-color
    border 1px solid gray-lighter-color
    &:before
      content 'Following'

.entity-follow
  garamond-size('s-body')
  &:before
    iconfont-styling()
    content '\e629'
    vertical-align -8px
  &:after
    content 'Follow'

  &[data-state='following'], &.is-following
    color purple-color
    &:after
      content 'Following'
