.artwork-filter.main-side-margin
  .artwork-filter-dropdowns
  .artwork-filter-sentence
  .artwork-filter-counts
  .artwork-filter-list
  .artwork-filter__show-more.avant-garde-box-button.is-hidden.is-show-more-button Show More
  .artwork-filter-empty-message No artworks matched
  .artwork-filter-spinner.loading-spinner
