extends ../../../components/main_layout/templates/minimal_header

append locals
  - assetPackage = 'artists_artworks'
  - bodyClass = 'order-body'

block body
  #order-page
    h2.garamond-header-center Purchase
    .order-page-content
      form.order-form.credit-card-form( method="post" )
        header
          unless user
            .order-log-in.order-form-hidden
              | Have an account?
              .order-form-login Log in
            .email.order-input-section
              label Email
              input.email.bordered-input( type='email', name='email', value=order.get('email') || '' )
        section.order-form-shipping-address
          include ../../../components/credit_card/templates/shipping_address

        p.order-privacy
          | By clicking below, you accept our
          = ' '
          a( href='/privacy', target='_blank' ) Privacy Policy
          | .

        button.order-form-button.avant-garde-button-black( type='submit') Continue to Checkout
      .order-summary
        include ./summary
