@require '../../../components/stylus_lib'

.press-page
  padding (gutter * 2) 0

.press-header
  &__headline
    serif('xl-headline')

  &__contact
    serif('l-body')
    margin distance(gutter / 2) 0
    > a
      text-decoration none

.press-tablist
  margin (gutter * 2) auto
  text-align center

.press-items
  width 75%
  margin (gutter * 2) auto

  &__date
    margin 40px
    sans('l-headline')

  &__list
    margin 40px 0 120px 0

.press-item
  display block
  text-decoration none

  &__title
    serif('headline')
    margin-bottom distance(gutter / 2)

  &__metadata
    serif('l-caption')
    color gray-dark-color

  &__subtitle-date
    sans('body')
    color gray-dark-color

  &__subtitle
    sans('body')
    color gray-dark-color
    margin-bottom 5px
    display inline

  &__date
    display inline

  &__description
    serif('s-body')
    margin-top distance(gutter / 2)

// Route-specific
.press-items
  &[data-page='press-releases']
    .press-item__metadata
      display none

// Mobile
@media screen and (max-width: 768px)
  .responsive-layout-container
    margin 0

  .press-tablist
    margin 40px auto 0

  .press-items
    width 100%

    &__date
      margin distance(gutter / 3) 0

    &__list
      margin 20px 0 40px 0

  .press-item
    padding 20px 0 !important
    &::after
      display none
