@import '../../../components/stylus_lib'

.press-page
  padding 40px 0

.press-header
  display table
  width 100%
.press-header-headline
.press-header-contact
  display table-cell
  width 50%
  vertical-align middle
.press-header-headline
  garamond-size('xl-headline')
.press-header-contact
  garamond-size('l-body')
  text-align right

.press-tablist
  margin 80px auto
  text-align center

.press-items
  width 75%
  margin 80px auto

.press-date
  margin 40px
  avant-garde-size('l-headline', true)

.press-items-list
  margin 40px 0 120px 0
.press-item
  display block
  text-decoration none
.press-item-title
  garamond-size('headline')
.press-item-subtitle
  avant-garde-size('body', true)
  color gray-dark-color
  margin-bottom 5px
.press-item-description
  garamond-size('s-body')
