include ./login-signup

footer
  mixin login-signup("Footer")
  nav.footer__bottom-nav
    a.footer__bottom-nav__link(href="/about") About Artsy
    a.footer__bottom-nav__link(href="/terms") Terms of Use
    a.footer__bottom-nav__link(href="/privacy") Privacy Policy
    if sd.PAGE_TYPE === 'home'
      span#ccpa-request
        != stitch && stitch.components.CCPARequest({ user: sd.CURRENT_USER })
    a.footer__bottom-nav__link(href='/conditions-of-sale') Conditions of Sale
