include ./login-signup

footer
  mixin login-signup("Footer")
  nav.footer__bottom-nav
    a.footer__bottom-nav__link(href="/about") About Artsy
    a.footer__bottom-nav__link(href="/terms") Terms of Use
    a.footer__bottom-nav__link(href="/privacy") Privacy Policy
    a.footer__bottom-nav__link(href='/conditions-of-sale') Conditions of Sale
