extends ./scaffold
include ./login-signup

block body
  include ../../../../desktop/components/modal/template
  include ../../../../desktop/components/flash/template
  #content
    #header-content
      block banner
        mixin login-signup("header")
      header
        != stitch && stitch.components.NavBar({ user: sd.CURRENT_USER, notificationCount: sd.NOTIFICATION_COUNT })

    main
      mixin login-signup("header")
      != stitch && stitch.components.NavBar({ user: sd.CURRENT_USER, notificationCount: sd.NOTIFICATION_COUNT })
      block content

    include footer
