extends ./scaffold.jade
include ./login-signup.jade

block body
  #content
    block banner
      if showMarketingSignupModal
        include ../../marketing_signup_modal/index.jade
      else
        mixin login-signup("Header")

    header
      != stitch && stitch.components.NavBar({ user: sd.CURRENT_USER, notificationCount: sd.NOTIFICATION_COUNT })

    main
      block content

    include footer.jade
