extends ./scaffold
include ./login-signup

block body
  #content
    block banner
      mixin login-signup("Header")

    header
      != stitch && stitch.components.NavBar({ user: sd.CURRENT_USER, notificationCount: sd.NOTIFICATION_COUNT })

    main
      block content

    include footer
