.auction-subscribed-thank-you
  margin 40px 20px
  text-align center
  h1, p, .auction-subscribed-skip
    font-size 24px
    line-height 1.3em
  h1
    color green-color
    margin 40px 0 20px 0
  .avant-garde-box-button
    margin 40px 0

.auction-subscribed-logo.icon-logotype
  font-size 42px
