.bordered-pagination {
  margin: 20px 0;
}
.bordered-pagination > ul {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
  border: 2px solid dark-gray-border-color;
}
.bordered-pagination > ul:first-child {
  margin-left: 0;
}
.bordered-pagination > ul:last-child {
  margin-right: 0;
}
.bordered-pagination > ul > li {
  display: inline-block;
  border-left: 1px solid light-gray-border-color;
}
.bordered-pagination > ul > li:first-child {
  border: none;
}
.bordered-pagination > ul > li > a {
  display: block;
  padding: 8px 15px 6px;
  text-decoration: none;
}
.bordered-pagination > ul > li > a.is-active {
  background-color: light-gray-background-color;
  cursor: default;
}
.bordered-pagination > ul > li > a > span {
  color: light-gray-text-color;
}
#artists-page {
  padding: 40px 80px;
}
#artists-page h1 {
  margin: 40px 0;
  font-size: 24px;
}
.alphabetical-index {
  display: table;
  table-layout: fixed;
  font-size: 20px;
  width: 100%;
  border-top: 1px solid light-gray-border-color;
  border-bottom: 1px solid light-gray-border-color;
}
.alphabetical-index-label,
.alphabetical-index-range {
  display: table-cell;
  white-space: nowrap;
}
.alphabetical-index-label {
  width: 200px;
  padding: 20px 20px 20px 0;
}
.alphabetical-index-range {
  text-align: right;
}
.alphabetical-index-range > a {
  display: inline-block;
  padding: 20px 0.75%;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.25s;
}
.alphabetical-index-range > a:hover,
.alphabetical-index-range > a.is-active {
  color: highlight-color;
}
.artists-featured-carousel {
  position: relative;
  margin: 40px 0;
}
.artists-featured-carousel[data-transitions=false] * {
  transition: none;
  opacity: 1 !important;
}
.artists-featured-carousel[data-position='start'] .afc-next,
.artists-featured-carousel[data-position='end'] .afc-prev,
.artists-featured-carousel[data-position='middle'] .afc-next,
.artists-featured-carousel[data-position='middle'] .afc-prev {
  cursor: pointer;
  opacity: 1;
}
.artists-featured-carousel[data-position='start'] .afc-prev {
  opacity: 0 !important;
}
.afc-track-container {
  position: relative;
  overflow: hidden;
}
.afc-track {
  white-space: nowrap;
  transition: all 0.25s;
}
.afc-track[data-state='transitioning'] .afc-artist-information {
  opacity: 0;
  transition: none;
}
.afc-track[data-state='transitioned'] .afc-artist-information {
  opacity: 1;
}
.afc-prev,
.afc-next {
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  color: dark-gray-text-color;
  background-color: light-gray-background-color;
  transition: all 0.25s;
  user-select: none;
  z-index: 1;
  opacity: 0;
  cursor: default;
}
.afc-prev > i,
.afc-next > i {
  display: block;
  position: relative;
  top: 50%;
  font-size: 26px;
  line-height: 26px;
  margin-top: -13px;
}
.afc-prev:hover,
.afc-next:hover {
  color: #000;
  background-color: light-gray-border-color;
}
.afc-next {
  right: -60px;
}
.afc-prev {
  left: -60px;
}
.afc-artist {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.afc-artist:nth-child(odd) {
  padding-right: 20px;
  border-right: 1px solid dark-gray-border-color;
}
.afc-artist:nth-child(even) {
  padding-left: 20px;
}
.afc-artist.is-active {
  background-color: #ff0;
}
.afc-artist > a {
  display: block;
  width: 100%;
  background-color: light-gray-background-color;
}
.afc-artist > a > img {
  width: 100%;
}
.afc-artist-information {
  display: table;
  table-layout: fixed;
  width: 100%;
  transition: opacity 0.5s;
}
.afc-artist-information-left,
.afc-artist-information-right {
  display: table-cell;
  vertical-align: top;
  padding-top: 20px;
}
.afc-artist-information-left {
  padding-right: 20px;
}
.afc-artist-information-right {
  text-align: right;
  width: 150px;
}
.afc-artist-name,
.afg-artist-name {
  font-size: 15px;
}
.afc-artist-name > a,
.afg-artist-name > a {
  text-decoration: none;
}
.afc-artist-name,
.afc-artist-notes,
.afc-artist-works-count,
.afg-artist-name {
  overflow: ellipsis;
}
.afc-artist-works-count {
  color: dark-gray-text-color;
}
.artists-featured-genes-gene {
  margin: 40px 0;
}
.artists-featured-genes-gene > h4 {
  margin: 20px 0;
}
.afg-artist {
  display: inline-block;
  width: 23%;
  margin: 0 1%;
  vertical-align: top;
}
.afg-artist:first-child,
.afg-artist:last-child {
  width: 24%;
}
.afg-artist:first-child {
  margin-left: 0;
}
.afg-artist:last-child {
  margin-right: 0;
}
.afg-artist > a {
  display: block;
  width: 100%;
  height: 160px;
  background-color: light-gray-background-color;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
.afg-artist-name {
  font-size: 13px;
  width: calc('100% - 120px');
  overflow: ellipsis;
}
.afg-artist-information {
  position: relative;
  padding: 20px 0;
  text-transform: capitalize;
}
.afg-artist-information > .follow-button {
  position: absolute;
  top: 20px;
  right: 0;
}
#letter-page {
  position: relative;
}
#letter-page > .contextual-return-link {
  position: absolute;
  top: 0;
  left: 0;
}
.artists-columns {
  column-count: 4;
}
.artists-columns > a {
  display: block;
  padding: 5px 10px 5px 0;
}
