@require '../components/tooltips'
@require '../components/clock'
@require '../components/auction_artworks/stylesheets'
@require '../components/article_figure'
@require '../components/credit_card/stylesheets'
@require '../apps/auction/stylesheets'
