#browse-page {
  padding-top: 40px;
}
#browse-page > section {
  margin-bottom: 40px;
}
.browse-featured-gene-set {
  margin: 40px auto;
  text-align: center;
}
.browse-featured-gene {
  display: inline-block;
  position: relative;
  background-color: #000;
  width: calc('50% - 10px');
  margin: 0 5px;
}
.browse-featured-gene:hover > .bfg-image {
  opacity: 0.5;
}
.bfg-image,
.bgc-image {
  transition: opacity 0.3s;
  vertical-align: bottom;
  width: 100%;
}
.bfg-title,
.bgc-title {
  position: absolute;
  right: 20px;
  bottom: 15px;
  left: 20px;
  color: #fff;
  font-size: 13px;
  text-align: left;
  text-shadow: 0 0 5px rgba(0,0,0,0.125);
}
.browse-popular-categories {
  margin: 40px auto;
}
.bpc-column {
  float: left;
}
.bpc-column h2 {
  margin-bottom: 50px;
}
.bpc-column a {
  display: block;
  padding: 5px 0;
  font-size: 17px;
}
.bpc-subcolumn {
  float: left;
  padding-right: 20px;
  margin-right: 20px;
  width: calc('33.3% - 20px');
  border-right: 1px solid light-gray-border-color;
}
.bpc-subcolumn > h3 {
  margin-bottom: 30px;
  font-size: 13px;
}
.bpc-column-subsection {
  margin-bottom: 40px;
}
.bpc-dynamic {
  width: 75%;
}
.bpc-fixed {
  width: 25%;
}
.bpc-fixed h2 {
  text-align: left;
}
.browse-gene-category-set {
  margin: 40px auto;
}
.browse-gene-category {
  position: relative;
  float: left;
  width: calc('20% - 10px');
  margin: 0 5px 10px 5px;
  background-color: #000;
}
.browse-gene-category:hover > .bgc-image {
  opacity: 0.5;
}
#browse-page-see-all {
  text-align: center;
}
#browse-page-see-all > a {
  margin: 100px 0;
}
