@require '../components/follow_button'
@require '../components/clock'
@require '../components/partner_buttons'
@require '../components/article_figure'
@require '../apps/page'
@require '../apps/fair_organizer/stylesheets'