@require '../components/artwork_columns'
@require '../components/artwork_item/stylesheets'
@require '../components/fillwidth_row'
@require '../components/suggested_genes'
@require '../components/tooltips'
@require '../components/favorites/stylesheets'
@require '../components/zig_zag_banner'
@require '../components/grid'
@require '../components/jump'