@require '../components/grid'
@require '../components/tooltips'
@require '../components/embedded_inquiry'
@require '../components/inquiry_questionnaire/stylesheets'
@require '../apps/inquiry/stylesheets'
