@media screen and (max-device-width: 480px) {
  html,
  body {
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    min-width: 480px;
    min-height: 1024px;
    max-width: 480px;
  }
  html #main-layout-container,
  body #main-layout-container {
    margin-left: 40px;
    margin-right: 40px;
  }
  html #order-page,
  body #order-page {
    width: 400px;
    margin-left: 0px;
    margin-right: 0px;
  }
  html #order-page.order-page-complete,
  body #order-page.order-page-complete {
    width: 400px;
  }
  html #order-page .order-form,
  body #order-page .order-form {
    width: 400px;
  }
  html .line-item-image-large,
  body .line-item-image-large {
    width: 400px;
  }
  html #main-layout-header,
  body #main-layout-header,
  html #main-layout-welcome-header,
  body #main-layout-welcome-header,
  html .order-summary,
  body .order-summary {
    display: none;
  }
}
#order-page {
  width: 1024px;
  margin: 40px auto 0 auto;
  padding-bottom: 60px;
}
#order-page.order-page-complete {
  width: 465px;
  margin-top: 100px;
}
.order-page-content {
  position: relative;
  margin-top: 30px;
}
.garamond-header-center {
  font-size: 28px;
}
.order-page-sm-heading {
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1px;
}
.line-item-image-large {
  margin: 30px auto;
  width: 465px;
}
.order-summary {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 220px;
}
.order-summary .order-seller-section {
  margin-bottom: 28px;
}
.order-summary .order-seller-section .location {
  margin-top: 13px;
}
.order-summary .order-summary-totals {
  margin-bottom: 35px;
}
.line-item-image {
  max-width: 58px;
  max-height: 100%;
}
.line-item-image-info,
.line-item-image {
  display: inline-block;
  vertical-align: top;
}
.line-item-image-info {
  width: 150px;
  margin-left: 12px;
}
.order-form-text-address {
  margin-bottom: 28px;
}
.order-summary-totals {
  margin-bottom: 20px;
}
.item-total,
.total-amount,
.tax-total {
  margin-top: 12px;
}
.item-total .dots,
.total-amount .dots,
.tax-total .dots {
  float: center;
  border-bottom: 1px dotted dark-gray-border-color;
  height: 16px;
  overflow: hidden;
}
.item-total .value,
.total-amount .value,
.tax-total .value {
  float: right;
  margin-left: 5px;
}
.item-total .label,
.total-amount .label,
.tax-total .label {
  float: left;
  margin-right: 5px;
}
.total-amount {
  font-size: 22px;
}
.total-amount .dots {
  height: 18px;
}
.order-form {
  width: 450px;
  margin: 0px auto;
}
.order-form label {
  font-size: 13px;
  display: block;
}
.order-form .bordered-input {
  width: 100%;
}
.order-form .bordered-input.street-two {
  margin-top: 10px;
}
.order-form .order-form-button {
  margin-top: 20px;
}
.order-form .error {
  margin-top: 8px;
  color: bad-red-color;
}
.order-form .error a {
  color: bad-red-color;
}
.order-form .order-input-section {
  margin-bottom: 12px;
}
.order-form .order-input-section.region,
.order-form .order-input-section.city,
.order-form .order-input-section.postal-code,
.order-form .order-input-section.card-name,
.order-form .order-input-section.card-expiration,
.order-form .order-input-section.card-number,
.order-form .order-input-section.card-security-code {
  display: inline-block;
  vertical-align: top;
}
.order-form .order-input-section.city,
.order-form .order-input-section.card-name,
.order-form .order-input-section.card-number,
.order-form .order-input-section.card-security-code {
  width: 49%;
  margin-right: 3%;
}
.order-form .order-input-section.card-security-code {
  width: 48%;
  margin-right: 0%;
}
.order-form .order-input-section.region {
  width: 23%;
  margin-right: 2%;
}
.order-form .order-input-section.postal-code {
  width: 23%;
}
.order-form .order-input-section.email {
  margin-bottom: 30px;
}
.order-form .order-input-section.card-expiration {
  width: 48%;
}
.order-form .order-input-section.card-expiration .month,
.order-form .order-input-section.card-expiration .year {
  display: inline-block;
  vertical-align: top;
}
.order-form .order-input-section.card-expiration .month {
  width: 32%;
  margin-right: 6%;
}
.order-form .order-input-section.card-expiration .year {
  width: 62%;
}
.order-form .order-form-button {
  width: 100%;
}
.order-form .order-form-checkbox input {
  margin-right: 5px;
  margin-top: 4px;
  vertical-align: top;
}
.not-usa .order-form .order-input-section.region {
  display: none;
}
.not-usa .order-form .order-input-section.postal-code {
  width: 48%;
}
.order-form-hidden {
  display: none;
  margin-top: 18px;
}
.order-form-credit-card-section {
  margin-top: 20px;
  position: relative;
}
.order-form-credit-card-section .order-page-sm-heading {
  margin-bottom: 24px;
  margin-top: 30px;
}
.order-summary-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid light-gray-border-color;
}
.order-form-cc-brands {
  position: absolute;
  top: 0px;
  right: 0px;
  background-repeat: no-repeat;
  width: 200px;
  height: 34px;
}
.order-form-geotrust {
  width: 180px;
  height: 39px;
  margin-top: 50px;
}
