#page-markdown-content {
  width: 600px;
  font-size: 19px;
  margin: 10px auto 0 auto;
  padding: 40px 0;
}
#page-markdown-content h1:first-child,
#page-markdown-content h2:first-child,
#page-markdown-content p:first-child,
#page-markdown-content ul:first-child {
  margin-top: 0;
}
#page-markdown-content h1,
#page-markdown-content h2,
#page-markdown-content h3 {
  display: block;
  text-align: center;
  font-family: 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}
#page-markdown-content h1 {
  margin: 1em 0 1.8em 0;
  font-size: 20px;
}
#page-markdown-content h2 {
  margin-bottom: 1.5em;
  font-size: 13px;
}
#page-markdown-content h3 {
  font-size: 15px;
  text-align: left;
  margin-top: 28px;
  margin-bottom: 8px;
  line-height: 160%;
}
#page-markdown-content p {
  margin-bottom: 1em;
  line-height: 1.5em;
}
#page-markdown-content ul {
  list-style: disc;
}
#page-markdown-content ul li {
  margin-bottom: 1em;
}
