#featured-partners {
  margin: 10px auto 0 auto;
  min-height: 800px;
  padding-top: 40px;
  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: -ms-calc(100% - 150px);
  width: -o-calc(100% - 150px);
  width: calc(100% - 150px);
}
#featured-partners > section {
  margin-bottom: 40px;
}
#featured-partners > footer {
  text-align: right;
}
#featured-partners > footer .featured-partners-nav {
  float: none;
}
.featured-partners-title {
  clear: both;
  font-size: 33px;
  padding: 24px 0;
  text-align: center;
}
.featured-partners-header-info {
  float: left;
  margin-bottom: 40px;
}
.featured-partners-nav {
  float: right;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.featured-partners-nav a:hover {
  border-bottom: 1px solid #000;
}
.featured-partners-nav a:hover.is-active:hover {
  border-bottom: 1px solid #b179d4;
}
.featured-partner-profile {
  display: inline-block;
  margin: 20px 30px 20px 0;
  text-align: center;
  width: -webkit-calc(25% - 23px);
  width: -moz-calc(25% - 23px);
  width: -ms-calc(25% - 23px);
  width: -o-calc(25% - 23px);
  width: calc(25% - 23px);
  vertical-align: top;
}
.featured-partner-profile:nth-child(4n) {
  margin-right: 0;
}
.featured-partner-profile .featured-partner-profile-cover-link {
  background-color: #000;
  display: block;
  margin-bottom: 15px;
}
.featured-partner-profile img {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  vertical-align: bottom;
  width: auto;
  max-width: 100%;
}
.featured-partner-profile img:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.featured-partner-profile a {
  text-decoration: none;
  vertical-align: baseline;
}
.featured-partner-profile .featured-partner-profile-name {
  font-family: 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.45;
}
.featured-partner-profile .featured-partner-profile-location {
  font-size: 17px;
  margin-bottom: 15px;
}
.featured-partner-profile .avant-garde-button-white {
  min-width: 120px;
  width: 150px;
}
.featured-institions-list {
  margin: 0px auto;
  width: 80%;
}
.featured-partners-grid {
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
}
