@require '../components/artwork_columns'
@require '../components/artwork_item/stylesheets'
@require '../components/fillwidth_row'
@require '../components/suggested_genes'
@require '../components/tooltips'
@require '../components/profile_badge'
@require '../components/articles_grid/stylesheets'
@require '../apps/partner2/stylesheets'
@require '../components/article/stylesheets'