.is-highlighted {
  background-color: highlighter-background-color;
  color: #000;
}
#search-page {
  padding: 20px 100px;
}
.search-results {
  margin: 20px 0;
}
.search-result {
  display: table;
  position: relative;
  width: 100%;
  border-top: 1px solid light-gray-border-color;
  text-decoration: none;
  transition: all 0.125s;
}
.search-result:last-child {
  border-bottom: 1px solid light-gray-border-color;
}
.search-result:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  height: 32px;
  margin-top: -16px;
  content: '\e61c';
  color: dark-gray-border-color;
}
.search-result:hover {
  background-color: #000;
}
.search-result:hover,
.search-result:hover:after,
.search-result:hover .search-result-kind {
  color: #fff;
}
.search-result-thumbnail,
.search-result-info {
  display: table-cell;
  vertical-align: middle;
}
.search-result-thumbnail {
  padding: 15px;
}
.search-result-thumbnail-fallback {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: light-gray-background-color;
}
.search-result-thumbnail-fallback.is-human::before {
  display: block;
  position: absolute;
  content: '\e61a';
  font-size: 70px;
  line-height: 70px;
  color: #fff;
}
.search-result-thumbnail-fallback > img {
  display: block;
  position: absolute;
}
.search-result-info {
  width: 100%;
  padding: 15px 40px 15px 0;
}
.search-result-display {
  font-size: 24px;
}
.search-result-kind {
  padding-top: 10px;
  line-height: 1;
  color: dark-gray-text-color;
}
