@require '../components/image/index.styl'
@require '../components/meta_data/index.styl'
@require '../components/tabs/index.styl'
@require '../components/bid/index.styl'
@require '../components/highlights/index.styl'
@require '../components/artist/index.styl'
@require '../components/partner/index.styl'
@require '../components/related_artworks/index.styl'

.artwork-section-separator
  border-bottom 1px solid gray-lighter-color

.artwork-section-top-margin
  margin-top 30px

.works-section-title
  garamond-size('l-body', true)
  margin 17px 0px 20px 0px
