.probuyer-proposition
  //

  &__headline
    //

  &__content
    display table
    width 100%
    table-layout fixed

    &__image
    &__figures
      display table-cell
      vertical-align top

    &__image
      width 66.66%
      padding-right gutter

      > img
        width 100%

    &__figures
      width 33.33%
      padding-left gutter

  &__figure
    block-margins(40px)

    &__number
      serif('l-headline')

    &__label
      serif('s-headline')
