@require '../stylus_lib'

.related-article
  block-margins(40px)
  clearfix()
  a
    display block
    text-decoration none

.ra-author
  line-height 1

.ra-title
  width 90%
  margin 10px 0
  font-size 28px
  line-height 1.25

.ra-image
  float left
  width 30%

.ra-blurb
  float left
  width 70%
  padding-left 40px

.ra-author

.ra-go
  avant-garde()
  font-size 11px
  white-space nowrap

.ra-go
  margin 0 10px
  &:hover
    border-bottom 2px solid

.ra-favicon
  display inline-block
  vertical-align middle

.ra-author > *
  margin-right 10px
  &:last-child
    margin 0

.ra-author-name
  color gray-dark-color
