- var associatedSale = auction.get('associated_sale')

if associatedSale && associatedSale.id
  .auction2-associated-sale
    - var coverImage = associatedSale.cover_image
    - var saleImage = (coverImage && coverImage.cropped && coverImage.cropped.url) ? coverImage.cropped.url : '/images/missing_image.png'
    - var upcomingLabel = auctionUpcomingLabel(associatedSale.start_at, associatedSale.end_at, associatedSale.live_start_at, associatedSale.is_live_open, associatedSale.is_preview)
    - var status = associatedSale.is_closed ? 'Auction closed' : 'Auction ' + upcomingLabel

      .auction2-associated-sale__image
        a( href= associatedSale.href )
          img(
            src= saleImage
            alt= associatedSale.name
            title= associatedSale.name
          )

    .auction2-associated-sale__metadata
      a( href= associatedSale.href )
        .auction2-associated-sale__subtitle Related Auction
        .auction2-associated-sale__name
          = associatedSale.name
        .auction2-associated-sale__upcoming-label
            = status
