extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'auctions'
  - bodyClass = bodyClass + ' body-no-margins'

block body
  .auction2-page
    include banner
    .main-layout-container.responsive-layout-container
      include header
      #associated-sale

      .auction2-my-active-bids
      #cf-artworks
