extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'auctions'
  - bodyClass = bodyClass + ' body-no-margins'

block body
  .auction2-page
    include banner
    .main-layout-container.responsive-layout-container
      include header
      .auction2-my-active-bids

      .auction2-commercial-filter
        .cf-headline
        .cf-sidebar
          .cf-sidebar__filter.cf-sidebar__estimate-range
            //- rendered on the client
          .cf-sidebar__info.garamond-m-caption
            | Based on the estimate for the lot
          .cf-sidebar-title__mediums.avant-garde-s-headline Medium
          .cf-sidebar__filter.cf-sidebar__mediums
            //- rendered on the client
          .cf-sidebar-title__artists.avant-garde-s-headline Artists
          .cf-sidebar__followed_artists
            //- rendered on the client
          .cf-sidebar__aggregated_artists
            //- rendered on the client
        .cf-right
          .cf-total-sort
            .cf-total-sort__total
              //- rendered on the client
            .cf-total-sort__sort
              //- rendered on the client
            #cf-view-filter
              //- rendered on the client
          #cf-artworks
            //- rendered on the client
          hr
          .cf-pagination
            //- rendered on the client
