if auction.isClosed()
  = ''
else if !me && auction.isPreview()
  .auction2-registration-wrapper
    .auction2-registration-preview
      p Receive an email invitation when the auction begins.
      form.auction2-preview-sidebar-form
        label.avant-garde-form-label( for='email' ) Email
        input.bordered-input.is-block(
          name='email', type='email', value= email, required, autofocus= autofocus
        )
        .form-errors.js-form-errors
        button.avant-garde-button-black.is-block Notify me
else if me && me.bidders && me.bidders.length > 0 && !me.bidders[0].qualified_for_bidding
  .auction2-registration-wrapper
    button.avant-garde-button-black.is-block.is-disabled
      | Registration pending
    .auction2-registration-small.auction2-registration-small-warning Reviewing submitted information
else if me && me.bidders && me.bidders.length > 0
  .auction2-registration-approved
    span.icon-check
    | Approved to Bid
else if auction.isRegistrationEnded()
  .auction2-registration-wrapper
    button.avant-garde-button-black.is-block.is-disabled
      | Registration closed
    .auction2-registration-small Registration required to bid
else
  .auction2-registration-wrapper
    a.avant-garde-button-black.is-block.js-register-button(
      href= auction.registerUrl()
    ) Register to bid
    .auction2-registration-small Registration required to bid

.auction2-registration-how-to-bid
  strong Questions?
  br
  a( href="/how-auctions-work" ) How to Bid on Artsy
.auction2-registration-question
  strong Contact us
  br
  a( href='mailto:specialist@artsy.net' ) specialist@artsy.net
  br
  | +1.646.712.8154
