.partner-artist
  .partner-artist-info
    .partner-artist-info-left
      h2: a.partner-artist-name( href="/artist/#{artist.get('id')}" )= artist.get('id')
      h3.partner-artist-brief= [ artist.get('nationality'), artist.get('years') ].join(", ")
      button.avant-garde-follow-button-black.follow-button.is-small
    .partner-artist-info-right
      p.partner-artist-blurb

  .partner-artist-artworks
    .loading-spinner
