@require '../../../components/stylus_lib'

gutter-unit = 15px

body.body-articles
  #main-layout-container
    margin 50px 0px 0px 0px
    max-width 100%

.articles-articles-page
  padding 40px 0
  position relative
  width 100%

// Top structure
.am-featured
  position relative
  display table
  width 100%
.am-featured-hero
.am-featured-also
  display table-cell
.am-featured-hero
  position relative
  width 60%
  vertical-align top
.am-featured-also
  width 40%
  padding-top 7.5%
  padding-left (gutter-unit * 2)
  vertical-align bottom

// Hero pullout
.am-featured-hero
  .article-figure
    position static
  .article-figure-img-container
    display block
    width 100%
  .article-figure-img
    background-color black
    width 100%
    // 8:5 ratio
    padding-bottom 62.5%
  .article-figure-figcaption
    display block
    position absolute
    bottom -1px
    right -1px
    width 75%
    height auto
    padding (gutter-unit * 2) 0 0 (gutter-unit * 2)
    background-color white

// Also featured
.am-featured-also
  .article-figure
    block-margins(gutter-unit * 2)
  .article-figure-img-container
    width 33.33%
  .article-figure-figcaption
    padding-left gutter-unit
    .article-figure-title
      font-size 24px
      line-height 1.2
    .article-figure-author
      font-size 12px
