.article-edit-container
  position fixed
  display inline-block
  top 80px
  right 20px

.article-edit-hover, .article-edit-container:hover .article-edit-default
  display none

.article-edit-container:hover .article-edit-hover
  display inline-block
  .article-edit-message
    color black

.article-edit-message
  font-size 11px
  display inline-block
  vertical-align middle
  color red-color
  avant-garde()

.article-edit-button
  display inline-block
  vertical-align middle
