overflow-width = 1100px
body-width = 570px
gutter-size = 30px

#articles-show
  margin-top 140px
  h1
    width 900px
    margin auto
    font-size 40px
    line-height 48px
    text-align center
    padding-bottom (gutter-size / 2)

  h2
    text-align center
    // margin gutter-size 0

#articles-lead-paragraph, .articles-section-text
  font-size 20px
  line-height 27px
  width body-width
  margin auto
  p
    margin-bottom 1em

#articles-lead-paragraph
  margin (gutter-size / 2) auto

#articles-slideshow-container
  height 600px
  #articles-slideshow-inner
    position absolute
    left 20px
    width calc(100% \- @left)
  .carousel-figure
    vertical-align top
  img
    height 400px

#articles-slideshow
  position relative
  margin-bottom gutter-size

#articles-slideshow li
  display inline-block
  vertical-align top
  margin-right gutter-size
  img
    height 500px

#articles-show-author, .articles-social
  vertical-align middle

#articles-show-date
  avant-garde()
  font-size 11px
  margin-bottom 5px
  color gray-darker-color

#articles-show-author
  avant-garde()
  font-size default-avant-garde-font-size

.articles-social
  text-align center
  padding 10px 0

  .articles-social__header
    avant-garde()
    font-size default-avant-garde-font-size
    margin-bottom 10px

  &.add-bottom
    margin-bottom (gutter-size * 3)

.articles-section-image
  width overflow-width
  margin auto
  margin-bottom gutter-size
  img
    width 100%
  figcaption
    margin-top 15px
    font-style italic
    color gray-dark-color

.articles-section-artworks[data-layout="column_width"]
  width body-width
  margin auto
  li
    margin-bottom gutter-size
  .artwork-item-image-link
    width 100%
    img
      width 100%
.articles-section-artworks[data-layout="overflow_fillwidth"]
  width overflow-width
  margin auto
  text-align center

.articles-section-artworks-loading
  height body-width
  background gray-lighter-color
  position relative

.articles-section-video
  width body-width
  margin auto
  margin-bottom 1em
  iframe
    margin auto
    width body-width
    height (9 / 16 * body-width)

