@require './articles'
@require './section'

.articles-featured-articles
  margin gutter-size auto
  padding 20px 0
  border-bottom 1px solid gray-lighter-color
  h4
    avant-garde()
    font-size 13px
    border-bottom 1px solid gray-lighter-color
    padding-bottom 5px
    margin-bottom 20px
  li
    border-right 1px solid gray-lighter-color
    &:last-child
      border 0
    img
      width 70px
      height 70px
      margin-right 20px
    p
      font-size 20px
      line-height 1.2em
      width calc(100% \- 90px)
    img, p
      display inline-block
      vertical-align middle
  &.article-related-widget
    margin-bottom 100px
