#articles-show
  margin-top 100px
  h1
    width 900px
    margin auto
    line-height 1.2em
    text-align center

.articles-section-text
  width 500px
  margin auto
  p
    margin-bottom 1em

#articles-slideshow-container
  overflow-x scroll

#articles-slideshow
  position relative
  height 630px
  width 10000px

#articles-slideshow li
  display inline-block
  vertical-align top
  margin-right 20px
  img
    height 500px