@import '../../../components/stylus_lib'
@import './lib'

#articles-magazine-header
  position relative

#articles-magazine-primary-article
  width 66%
  height calc(100% \- 40px)
  position absolute
  display inline-block
  vertical-align top
  padding-right 15px
  .article-figure
    height 100%
    figcaption
      background white
      position absolute
      top calc(100% \- 50px)
      width 560px
      text-align center
      padding 24px
      left calc(50% \- (@width / 2))
  .article-figure-img
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index -1

#articles-magazine-featured-aside, #articles-magazine-feed
  width 33%
  display inline-block
  vertical-align top
  padding-left (gutter-size / 2)
  figure
    margin-bottom gutter-size

#articles-magazine-featured-aside
  figure:last-child
    margin-bottom 0
  .article-figure-title
    font-size 22px
    line-height 27px
    overflow hidden
  .article-figure-container
    min-height 100px
  .article-figure figcaption
    padding-left 15px

#articles-magazine-feed
  figure
    padding-bottom gutter-size
    border-bottom 1px solid gray-lighter-color
    &:first-child
      margin-top gutter-size
    .article-figure-container
      min-height 200px
    .article-figure-share
      bottom 16px

#articles-magazine-featured-aside
  margin-left 66%

#articles-magazine-featured-aside, #articles-magazine-primary-article
  margin-top 40px

#articles-magazine-feed
  margin-top 100px
  width 66%
  padding-right (gutter-size * 1.5)
  padding-left 0
  margin-bottom 100px
  .avant-garde-header
    font-size 14px
    border-bottom 1px solid gray-lighter-color
    padding-bottom (gutter-size - 17)
  button
    margin-top gutter-size

#articles-magazine-container
  max-width 1200px
  min-width 900px
  margin auto
