@import '../../../components/stylus_lib'
@import './lib'

#articles-show
  margin-top 120px
  h1
    width 900px
    margin auto
    font-size 40px
    line-height 48px
    text-align center
    margin-bottom gutter-size
  h2
    text-align center

.body-welcome-header #articles-show
  margin-top 180px

#articles-lead-paragraph, .articles-section-text
  font-size 20px
  line-height 27px
  width body-width
  margin auto
  p
    margin-bottom 1em
    &:last-child
      margin-bottom 0

#articles-lead-paragraph
  margin 0 auto gutter-size auto
  display none

#articles-slideshow-container
  height artwork-height + 200
  margin-bottom gutter-size
  img
    height artwork-height
  iframe
    height artwork-height
    width 888px

#articles-slideshow-inner
  overflow-x hidden
  .carousel-figures-clip
    width 9999px

#articles-show-author, .articles-social
  vertical-align middle

#articles-show-date
  avant-garde()
  font-size 11px
  margin-bottom 5px
  color gray-darker-color

#articles-show-author
  avant-garde()
  font-size default-avant-garde-font-size

.articles-social
  text-align center
  padding 10px 0 20px 0
  .articles-social__header
    avant-garde()
    font-size default-avant-garde-font-size
    margin-bottom 10px
  &.add-bottom
    margin gutter-size auto (gutter-size * 3)

.articles-section-image
  width overflow-width
  margin auto
  img
    max-width 100%
    display block
    margin auto
  figcaption
    margin-top 10px
    font-style italic
    color gray-dark-color
    text-align left

.articles-section-artworks
  position relative
  min-height (body-width * .33)

.articles-section-artworks[data-layout="column_width"]
  width body-width
  margin auto
  .loading-spinner
    display none
  li
    margin-bottom gutter-size
    &:last-child
      margin-bottom 0
  .artwork-item-image-link
    width 100%
    img
      width 100%

.articles-section-artworks[data-layout="overflow_fillwidth"]
  width (overflow-width + gutter-size)
  margin 0 auto
  text-align center
  &.is-loading
    [data-id]
      opacity 0
    height artwork-height
    .loading-spinner
      display block
  .loading-spinner
    display none
  [data-id]
    display inline-block
    vertical-align top
    padding 0
  .artwork-item-image-container img
    height auto
  .artwork-item-caption
    overflow ellipsis
  .overlay-container
    display none

.articles-section-video
  width body-width
  margin auto
  margin-bottom 1em
  iframe
    margin auto
    width body-width
    height (9 / 16 * body-width)

#articles-footer
  width body-width
  margin 80px auto
  h1
    avant-garde()
    font-size default-avant-garde-font-size - 1
  li, h1
    margin-bottom 20px
    padding-bottom 20px
    border-bottom 1px solid gray-lighter-color

.articles-section-container
  margin (gutter-size * 1.5) 0

#articles-footer-list figure
  margin-bottom 20px
  padding-bottom 20px
  border-bottom 1px solid gray-lighter-color

@media (max-width: 600px)
  .body-responsive
    #articles-show h1
    #articles-lead-paragraph, .articles-section-text
    #articles-slideshow-container #articles-slideshow-inner
    .articles-section-image
    .articles-section-artworks
    .articles-section-artworks [data-id]
    .articles-section-video
    .articles-section-video iframe
    #articles-footer .articles-footer-list-left img
      width 100% !important
    .articles-section-video iframe
      height auto !important
    #articles-show
      margin-top 80px
      h1
        font-size 32px
        line-height 1.2em
    #articles-footer
      width 100%
      .articles-footer-list-left
        margin-bottom 10px
        padding 0
      .articles-footer-list-right, .articles-footer-list-left
        display block
        width 100%
      .articles-footer-list-right
        font-size 22px
        line-height 1.2em
    [data-layout="overflow_fillwidth"] [data-id]
      padding 0
      margin-bottom 20px
