@require '../../../components/stylus_lib'

#articles-show
  margin-top 120px

.body-welcome-header #articles-show
  margin-top 180px

#articles-footer
  width 570px
  margin 80px auto
  h1
    avant-garde()
    font-size default-avant-garde-font-size - 1
  li, h1
    margin-bottom 20px
    padding-bottom 20px
    border-bottom 1px solid gray-lighter-color

#articles-footer-list figure
  margin-bottom 20px
  padding-bottom 20px
  border-bottom 1px solid gray-lighter-color

#articles-body-container
  position relative
