- header-height = 400px

.team-channel-header
  width 100vw
  height header-height
  background-size cover
  background-repeat no-repeat
  background-position center
  opacity .5

.team-channel-featured
  display block

.team-channel-grid
  max-width 1250px