- header-height = 400px
- nav-height = 92px

.team-channel-featured, .team-channel-grid
  max-width 1250px
  margin auto

// Header
.team-channel-header
  width 100vw
  height header-height
  background-size cover
  background-repeat no-repeat
  background-position center
  &__overlay
    position absolute
    width 100vw
    height header-height
    background-color black
    opacity 0.5
  &__text-container
    height 100%
    display flex
    flex-direction column
    justify-content center
  &__name, &__tagline
    color white
    position relative
  &__name
    garamond-size('xxl-headline')
    font-style italic
    margin-bottom 10px
  &__tagline
    garamond-size('s-headline')

// Nav
.team-channel-nav
  position absolute
  width 100%
  color white
  top 0
  margin-top 20px
  display flex
  justify-content space-between
  z-index 10
  .responsive-layout-container
    width 100%
  &__artsy-logo
    display inline-block
    a
      text-decoration none
      color white
  &__links
    float right
    display flex
    .team-channel-nav__apply
      background-color white
      color black
      padding 10px 15px
      border-radius 5%
      margin-left 10px
  &__links
    a
      color white
      text-decoration none
      padding 10px
      avant-garde-size('s-headline')
  &__tagline, &__name, &__artsy-logo-square
    display none

stickynav()
  .team-channel-nav
    margin-top 0px
    position fixed
    border-bottom 1px solid gray-lightest-color
    background-color white
    height nav-height
    align-items center
    &__tagline, &__name, &__artsy-logo-square
      display inline-block
    &__tagline
      color black
      margin-left 20px
    &__artsy-logo
      display none
    &__artsy-logo-square
      position absolute
      left 30px
      a
        text-decoration none
    &__name
      font-style italic
      color black
      garamond-size('headline')
      margin-left 30px
    &__links
      a
        color black
      .team-channel-nav__apply
        background-color black
        color white

body.is-sticky
  stickynav()

body.is-small
  .team-channel-nav
    &__tagline
      display none
    &__links
      position fixed
      left 0
      width 100%
      display none
      background-color black
      padding 30px
      transition ease 0.2s all
      a
        display flex
        align-items center
        color white
        display block
        padding 10px
        margin-left 0
    &__hamburger
      float right
      &-icon
        vertical-align middle
        position relative
        font-style normal
        color white
        text-align left
        text-indent -9999px
        direction ltr
        width 20px
        height 4px
        box-shadow inset 0 0 0 7px,0 -7px,0 7px
        margin 16px 7px

body.is-small.is-open
  stickynav()
  .team-channel-nav
    &__links
      top nav-height
      display block
      a
        color white
    &__tagline
      display none

body.is-small.is-sticky, body.is-small.is-open
  .team-channel-nav
    &__hamburger-icon
      color black

// Featured Carousel
.team-channel-featured
  &__header
    margin 40px 0 20px 0
    garamond-size('headline')
  .mgr-cells
    white-space normal
  .mgr-cell
    width 50%
  .mgr-cell:nth-child(odd)
    padding-right 20px
    padding-left 0px
  .mgr-cell:nth-child(even)
    padding-left 20px
    padding-right 0px
  .article-figure-img
    padding-bottom 66.66%
  .article-figure-container
    display inline
  .article-figure-figcaption, .article-figure-img-container
    width 100%
    display block
  .article-figure-figcaption
    padding-left 0px
    margin-top 30px
  .article-figure-title
    word-wrap break-word

@media (max-width: 900px)
  .team-channel-featured
    .mgr-cell
      width 100%

// Grid
.team-channel-grid
  margin-bottom 80px
  .articles-grid__header
    border-bottom none
    border-top 1px solid gray-lightest-color
    padding 30px 0px 0px 0px
    margin 60px 0px 20px 0px
  .articles-grid__figure
    margin-top 60px
