.auction2-footer
  display table
  width 100%
  margin 60px 0

  &__auction2-articles,
  &__auction2-app-promo-wrapper
    display table-cell
    width 50%
    height 100%
    vertical-align middle

  &__auction2-articles
    padding-right 20px
    &:empty
      display none
    > .article-figure
      margin 20px 0
      .article-figure-figcaption
        padding-right 30px

  &__auction2-app-promo
    display table
    width 75%
    margin 0 auto
    text-decoration none
  &__auction2-app-promo-image
  &__auction2-app-promo-metadata
    display table-cell
    height 100%
    vertical-align middle
  &__auction2-app-promo-image
    > img
      max-width 100%
      height auto
  &__auction2-app-promo-metadata
    padding 0 20px
    garamond-size('headline')
  &__auction2-app-promo-subtitle
    font-style italic

.has-articles
  .auction2-footer__auction2-app-promo-wrapper
    padding-left 20px
    border-left 1px solid gray-lighter-color
.has-no-articles
  .auction2-footer__auction2-app-promo-image > img
    margin auto
  .auction2-footer__auction2-app-promo-wrapper
    text-align center
