@require '../../../components/stylus_lib'

.auction2-my-active-bids
  &__active-bid
    display flex
    justify-content space-between
    height 130px
    align-items center
    border-bottom 1px solid gray-lighter-color

    &:last-child
      border-bottom none
      margin-bottom 40px
  h2
    garamond-size('headline')
    padding 20px 0px
    border-top 1px solid gray-lighter-color

  &__artwork-container
    text-align center
    min-width 0

    img
      max-height 100px
      max-width 200px

  &__artwork
    margin-left 20px
    min-width 25%
    max-width 25%
    padding-right 20px

    > *
      overflow ellipsis
    h3
      garamond-size('l-caption')
      font-weight 600

  &__title
    garamond-size('l-caption')

  &__lot-number
    avant-garde-size('s-headline')

  &__current-bid, &__bids-num
    garamond-size('l-caption')
    font-style normal

  &__current-bid
    width 20%

  &__bids-num
    width 10%

  &__img
    display inline-block
    vertical-align middle

  &__bid-button, &__bid-button-live
    width 13%
    text-align center
    float right

  &__bid-status-cell
    width 17%
    .bid-status
      position relative
      p
        avant-garde-size('s-headline')
