each item in items
  .mgr-cell.js-mgr-cell.artist-rail-cell
    .artist-rail-cell-inner
      - var article = item
      include ../article_cell/index

if showMore
  .mgr-cell.js-mgr-cell.artist-rail-cell.view-all-rail-cell
    .view-all-rail-cell-inner
      a(href= viewAllUrl) View All