// Overview Section Rails
.artist-related-rail
  fade-in()
  padding-top 15px
  margin 10px 0 60px 0
  border-top 1px solid gray-lighter-color
  &__header
    margin-bottom 30px
    position relative
    h1
      garamond-size('headline', true)

  &__view-all
    faux-underline(black)
    position absolute !important
    right 0
    top 0

  &:hover
    .mgr-navigation
      opacity 1

  .artist-rail-cell
    display inline-block
    &__link
      &:hover
      &.is-hover
        .hoverable-image-link:after, .hoverable-image-link:after
          opacity 0.5
  .hoverable-image-link
    width 100%

  &:not([data-id='artists'])
    mgr-n-up(4, 30px, (3/4), true)
    .view-all-rail-cell
      height 100%
      &__inner
        padding-bottom 75%

  &[data-id='artists']
    mgr-n-up(4, 30px, (3/4), false)
    .artist-rail-cell:not(.empty-cell)
      padding 10px
      border 1px solid gray-lighter-color
    .view-all-rail-cell
      height 100%
      &__inner
        height 100%
        border 0