each item in items
  .mgr-cell.js-mgr-cell.artist-rail-cell
    - var show = item
    include ../../../../components/show_cell/index

if showMore
  include ./view_all_cell

else
  - var i = 0
  while i < 4 - items.length % 4
    .mgr-cell.js-mgr-cell.artist-rail-cell.empty-cell
    - i++