.artwork-purchase__input-full-width
  label( for='artwork-purchase-full-name') Full Name
  input.bordered-input( name='full-name', type='text', id='artwork-purchase-full-name')

.artwork-purchase__input-full-width
  label( for='artwork-purchase-street-1') Address Line 1
  input.bordered-input( name='street-1', type='text', id='artwork-purchase-street-1')

.artwork-purchase__input-full-width
  label( for='artwork-purchase-street-2') Address Line 2
  input.bordered-input( name='street-2', type='text', id='artwork-purchase-street-2')

.artwork-purchase__input-half-width
  label( for='artwork-purchase-city') City
  input.bordered-input( name='city', type='text', id='artwork-purchase-city')

.artwork-purchase__input-half-width
  label( for='artwork-purchase-state') State
  input.bordered-input( name='state', type='text', id='artwork-purchase-state')

.artwork-purchase__input-half-width
  label( for='artwork-purchase-zip') Zip code
  input.bordered-input( name='zip', type='text', id='artwork-purchase-zip')

.artwork-purchase__input-half-width
  label( for='artwork-country') Country
  input.bordered-input( name='country', type='text', id='artwork-purchase-country')
