extends ../../../components/main_layout/templates/minimal_header

append locals
  - assetPackage = 'artists_artworks'
  - bodyClass = 'minimal-header body-artwork-purchase'

block minimal-nav-header
  a#purchase-page-header-title(
    href= artwork.href
  )
    | Back To Artwork

block body
  .responsive-layout-container
    #purchase-page.artwork-purchase.main-layout-container
      include ./main
