.auction-LoadingSpinner
  .loading-spinner
    clear both
    position relative
    margin 50px 0 50px 0

  +respond-mobile()
    &_fullscreen
      background-color rgba(255, 255, 255, 1.0)
      width 100%
      height 100%
      position absolute
      z-index 1

      .loading-spinner
        top 30px
