#fair-organization-page
  min-height 600px
  margin-bottom 100px

.fair-organization-page__header-image
  margin-bottom 15px

  img
    width 100%
    height auto

.fair-organization-page__profile-icon
  background-position center center
  background-repeat no-repeat
  background-size contain
  display block
  height 50px
  margin-bottom 6px

.fair-organization-page__caption
.fair-organization-page__title
.fair-organization-page__subtitle
  text-align center

.fair-organization-page__title
  margin 0 0 6px 0
  font-size 24px
  line-height 1

.fair-organization-page__subtitle
  color light-gray-text-color
  margin-bottom 18px
  font-size 17px
  line-height 1

.fair-organization-page__caption
  font-size 17px
  margin-bottom 18px

#fair-organization-page .fair-organization-page__notification
  background-color #000

.fair-organization-page__tabs
  margin 30px 0

.past-fairs--fair-image-grid
  display inline-block
  position relative
  width 100%
  padding-top 66.66%
  margin-bottom 20px

.past-fairs--fair-year
  avant-garde()
  color white
  font-size 30px
  position absolute
  bottom 20px
  left 15px

.past-fairs--fair-image-grid__inner
  position absolute
  width 100%
  height 100%
  top 0
  left 0

.fair-large-image-left
  float left
  height 100%
  width 66.66%
  background-size cover
  background-position center

.fair-small-images-right
  float left
  width 33.33%
  height 100%
  position relative
  background-size cover
  background-position center

.fair-small-image
  width 100%
  height 50%
  position relative

.fair-small-image__inner
  height 100%
  width 100%
  background-position center center
  background-size cover

#fair-organization__articles__show-more

  &.is-loading
    color #fff

  &.is-loading .loading-spinner
    display block
    top 20px
    background #000

#fair-organization__about

  p
    margin-top 10px

#fair-organization-page .fair-organization-page__notification.follow-button[data-state='following']
  color #fff
  background-color purple-color
  
