extends ../../../components/main_layout/templates/index
 
append locals
  - assetPackage = 'auth'

block body
  #auth-reset-password.auth-style-form
    #auth-artsy-logo.icon-logotype
    h1 Change your password
    form#reset-password-form
      .auth-page-error-message
      input.bordered-input( name='password', placeholder='New Password', type='password' )
      input.bordered-input( name='password_confirmation', placeholder='Confirm New Password', type='password' )
      button.avant-garde-button-black Change my password
