extends ../../../components/main_layout/templates/blank

append locals
  - assetPackage = 'misc'

block head
  title Reset Password | Artsy

block body
  #auth-page.responsive-layout-container: .main-layout-container
    #auth-artsy-logo.icon-logotype

    h1.small-caps Just one more step
    .auth-page-error-message!= sd.ERROR
    form.stacked-form( method='post', action='/users/auth/twitter/email?redirect-to=/personalize' )
      input( type="hidden" name="_csrf" value=csrfToken )
      input.bordered-input( type='email', placeholder='Email', name='email', autofocus )
      button.avant-garde-button-black Join Artsy
