- var scope='billing_address'
- var showName=false
- var address = order.get('shipping_address')
- var telephone = order.get('telephone')
.credit-card-form-checkbox
  input( name='copy_shipping', type='checkbox', checked=true ) 
  | Billing address is same as shipping address
.credit-card-form-hidden
  include ./address
