.card-name.order-input-section
  label( for='card_name' ) Name on Card
  input.bordered-input( type='text', name='card_name', value=name, autocomplete='cc-name' )

label Credit Card Number
.order-input-section
  #card-element
