h2.avant-garde-header-center Thanks for your registration
if auction && auction.isPreview()
  h3 We will notify you when the auction opens
h3 Your bidder number is #{paddleNumber}
.credit-card-unqualified-msg Your registration was successful but we need additional information from you before you are able to place bid in this auction. A member of the Artsy collector relations team will be reaching out to you for this purpose shortly.
