.show-related-shows-container
  // display none 
  width 1250px
  margin 0 auto

.show-related-shows-title 
  font-size 30px
  padding-bottom 20px
  margin-bottom 70px
  border-bottom 1px solid #e5e5e5

.show-related-show-container
  min-height 270px
  margin-bottom 90px
  &:last-child
      margin-bottom 120px

.show-related-show-info
  float left
  line-height 1.25
  max-width 270px
.show-related-show-info
  clearfix()
  
.show-related-show-show-title
  font-size 30px
  margin-bottom 15px
  > a
    text-decoration none 

.show-related-show-running-dates
  margin-top 15px

.show-related-show-images
  margin-left 310px 
  max-height 270px
  
.show-related-show-image-container
  height 270px
  list-style-type none
  display inline-block 
  margin-right 6px