.show-related-shows-container
  // display none 
  // max-width 1200px
  // width 90%
  // width 
  // margin 0 auto

.show-related-shows-title 
  font-size 30px
  padding-bottom 20px
  margin-bottom 70px
  border-bottom 1px solid #e5e5e5

.show-related-show-container
  max-height 270px
  margin-bottom 90px
  &:last-child
      margin-bottom 120px

.show-related-show-info
  float left
  max-width 270px
.show-related-show-info
  clearfix()
  
.show-related-show-show-title
  font-size 30px
  line-height 1.25
  margin-bottom 15px
  > a
    text-decoration none 

.show-related-show-running-dates
  margin-top 15px

.show-related-show-images
  margin-left 310px 
  max-height 270px
.show-related-show-images
  clearfix()
  
.show-related-show-image-container
  height 270px
  list-style-type none
  display inline-block 
  margin-right 6px

.show-related-show-image
  height 270px
  
.hoverable-image-link
  width 400px
  
// images might need to be resized before they come into component, 'hoverable image link'
// sets their width to 100% and distorts them, need to resize height to 270