.show-related-shows-container
  width 1250px
  margin 0 auto

.show-related-shows-title
  font-size 30px
  padding-bottom 20px
  margin-bottom 70px
  border-bottom 1px solid #e5e5e5

.show-related-show-container
  min-height 270px
  margin-bottom 90px
  &:hover .hoverable-image-link:after
    opacity 0.5
  &:last-child
    margin-bottom 120px

.show-related-show-info
  float left
  line-height 1.25
  max-width 270px
.show-related-show-info
  clearfix()

.show-related-show-title-fair
.show-related-show-title
  font-size 30px
  leading 37
  &:last-child
      margin-bottom 15px
  > a
    text-decoration none

.show-related-show-title-fair
  font-style italic

.show-related-show-partner
.show-related-show-fair-booth
.show-related-show-running-dates
  margin-top 13px

.show-related-show-image-container
  list-style-type none
  display inline-block
  margin-right 6px

.show-related-show-images
  margin-left 310px
