.auction2-works-by-followed-artists
  clear both

  &__title
    font-size 30px
    padding-top 30px
    margin-top 10px
    border-top 1px solid gray-lighter-color

  &__content
    display flex
    justify-content space-between
    align-items center
    height 455px

    &:hover svg
      visibility visible

  &__page-left, &__page-right
    width 30px
    height 100%
    display flex
    align-items center

    svg
      visibility hidden

    &:hover
      cursor pointer

  &__artworks
    width 100%
    .auction2-page-grid-artwork
      width 25%
      height 365px

  .disabled
    pointer-events none

    svg
      fill gray-lighter-color
