if calloutArticle
  .related-title Related Article
mixin callout-content(calloutArticle, section)
  if !section.hide_image
    if calloutArticle
      img( src= crop(section.thumbnail_url ? section.thumbnail_url : calloutArticle.get('thumbnail_image'), { width: 180, height: 120 }) )
    else if section.thumbnail_url
      img( src=section.thumbnail_url )

  .article-section-callout
    if calloutArticle
      .article-section-callout-title= section.text ? section.text : calloutArticle.get('thumbnail_title')
    else if section.text
      .article-section-callout-title= section.text

if calloutArticle
  a(class=section.hide_image ? 'article-section-callout no-image' : 'article-section-callout' href=(calloutArticle ? calloutArticle.href() : '') )
    +callout-content(calloutArticle, section)
else
  .article-section-callout
    +callout-content(calloutArticle, section)