#partner-filter
  #partner-filter-nav.filter-fixed-header-nav
    .filter-fixed-header-left
      em
        span.filter-artworks-num
        | &nbsp;Works
    span#partner-filter-artworks-nav
      include ../../../components/filter2/dropdown_group/template
  #partner-artworks
    include ../../../components/filter2/template
