extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'partners'

block body
  #partner.responsive-layout-container
    .main-layout-container
      include header
      .partner-content
        .loading-spinner
  include ../../../components/main_layout/templates/json_ld
