mixin showsGallery(shows, isFeatured, type)
  .partner-shows-container.grid-3-up
    include show_figures

.partner-shows

  if heading
    h2.avant-garde-header-center.partner-shows-heading= heading

  if featured
    section.partner-shows-section.featured
      +showsGallery([featured], true, 'featured')

  if current && current.length > 0
    section.partner-shows-section.current
      h2.avant-garde-header-center.partner-shows-section-heading Current Shows
      +showsGallery(current, false, 'current')

  if upcoming && upcoming.length > 0
    section.partner-shows-section.upcoming
      h2.avant-garde-header-center.partner-shows-section-heading Upcoming Shows
      +showsGallery(upcoming, false, 'upcoming')

  if past && past.length > 0
    section.partner-shows-section.past
      h2.avant-garde-header-center.partner-shows-section-heading Past Shows
      +showsGallery(past, false, 'past')

  if seeAll
    section.partner-shows-section
      .partner-shows-see-all.avant-garde-header-center
        a.faux-underline-hover.partner-route-link(
          href="#{partner.href()}/shows"
        ) See all shows
