@require '../stylus_lib'

.partner-profile-cover
  &.is-fallback > .hoverable-image
    width 100%
    background-color white
    background-repeat no-repeat
    background-size 50%
    border 1px solid gray-lighter-color
    z-index 1
  &.is-missing > .hoverable-image
    position relative
    background-color gray-lightest-color
    border 1px solid gray-lighter-color
    &:before
      position absolute
      content attr(data-initials)
      color gray-dark-color
      avant-garde()
      font-size 27px
      line-height 0
      // 2% offset for Avant Garde baseline
      top 52%
      left 0
      right 0
      text-align center
