.artwork-detail
  garamond-size('s-body')

.artwork-detail-lot-number
.artwork-detail-artist
.artwork-meta-partner
.artwork-detail-secondary-metadata
  block-margins(10px)

.artwork-detail-lot-number
  avant-garde-size('body')

.artwork-detail-artist
  > .entity-follow
    display block
    // Offset icon spacing from within 32px square
    margin-left -8px

.artwork-detail-title
  garamond-size('l-body')

.artwork-detail-secondary-metadata
  color gray-darker-color
