include ../../../../components/bordered_pulldown/mixin

.browse-section.booths
  #fair-booths-subheader
    a#fair-booths-az-as-list.faux-underline(
      href="#{fair.href()}/browse/exhibitors"
    ) Show as A-Z List
    #fair-booths-sort
      +bordered-pulldown('Relevance', 'Sort By')
        a( data-sort='-featured' ) Relevance
        a( data-sort='-updated_at' ) Recently Updated
        a( data-sort='name' ) A-Z
        a( data-sort='-name' ) Z-A
  .feed
  #fair-booths-spinner
    .loading-spinner
