.artwork-highlights
  //

.artwork-highlight
  display flex
  align-items flex-start
  width 100%
  border-bottom 1px solid gray-lighter-color
  block-margins(distance(gutter / 2))
  padding distance(gutter / 2) 0 distance(gutter) 0

  &:last-child
    border-bottom none
    padding-bottom 0
    // Offset <section> margins
    margin-bottom -(gutter)

  &__metadata
    max-width 355px
    padding-right gutter

    &__context
      sans('s-headline')
      margin-bottom distance(10px)

    &__title
      serif('s-headline')
      line-height 1.25 // compact-line-height
      margin distance(gutter / 2) 0

      > a
        display block
        text-decoration none

    &__byline
      display block
      sans('body')
      margin distance(10px) 0
      text-decoration none

    &__where-and-when
      color gray-darker-color

  &__images
    overflow-y hidden

    &__context
      sans('s-headline')
      margin-bottom 20px

    &__image
      display inline-block
      margin 0 7px
      background-color gray-color
      vertical-align bottom

  // Type-specific variants
  &[data-type='HighlightedShow']
    .artwork-highlight
      &__images
        height 145px

  &[data-type='HighlightedArticle']
    .artwork-highlight
      &__metadata
        margin-left gutter
        padding-top (avant-garde-s-headline-font-size * avant-garde-s-headline-line-height) + distance(gutter / 2, 'avant-garde-s-headline')

        &__byline
          sans('s-headline')
          margin distance(gutter / 2) 0
          color gray-darker-color
