.artwork-highlights
  for highlight in artwork.highlights
    case highlight.__typename
      when 'HighlightedShow'
        include ./templates/show
      when 'HighlightedArticle'
        include ./templates/article
