@import '../../../components/stylus_lib'
@import '../../../components/search_bar'

#main-layout-header
  position absolute
  width 100%
  top 0
  left 0
  z-index 2
  background white
  border-bottom 1px solid gray-lighter-color

.mlh-navbar
  display flex
  align-items center
.mlh-navbar-cell
  white-space nowrap

#main-layout-header-left
  flex 1
#main-layout-header-home-logo
  display inline-block
  width home-logo-size
  text-align center
  text-decoration none
  vertical-align middle
  > i
    font-size default-icon-font-size
    line-height home-logo-size
#main-layout-header-center
  padding 0 20px
#main-layout-header-center
#main-layout-header-right
  avant-garde()
#main-layout-header-right
  flex 1
  text-align right

.mlh-nav-link
  position relative
  display inline-block
  padding 15px 10px
  vertical-align middle
  text-decoration none
  font-size 13px
  line-height 1
  &.is-active
    color purple-color
.mlh-top-nav-link
  @extends .mlh-nav-link
  &:hover
  &:active
  &:focus
    color purple-color
.mlh-login
  padding-left 20px
.mlh-signup
  padding-right 20px
.mlh-user-name
  @extends .mlh-nav-link
  padding-left 30px
  padding-right @padding-left
  position relative
  min-width 130px
  text-align center
  border none
  white-space nowrap
  &:hover #main-layout-header-user-nav
    display block

// Temporary welcome header
#main-layout-welcome-header
  position relative
  border-bottom 1px solid gray-lighter-color
#main-layout-welcome-header-aside
  position absolute
  top 0
  bottom 0
  left 0
  > .mlwha-outer
    display table
    height 100%
    > .mlwha-inner
      height 100%
      padding 0 50px
      vertical-align middle
      display table-cell
      text-transform uppercase
      letter-spacing 1px
      line-height 1.35
      font-size default-garamond-font-size - 1
#main-layout-welcome-logo
  display block
  font-size 44px
  line-height 1
  text-align center
  padding 20px 0

@media (max-width: 600px)
  .body-responsive #main-layout-header-center
    display none

// REDESIGNED_HEADER
.mlh-navbar.is-search-expanded
  #main-layout-header-home-logo
    width inherit
    padding 0 15px
  #main-layout-search-bar-container
    height inherit
    margin 0
  #main-layout-search-bar-input
    padding 10px 40px 10px 15px
  .mlh-nav-link
  .mlh-top-nav-link
  .mlh-user-name
    padding-top 22px
    padding-bottom @padding-top

  main-layout-search-bar-spinner
  #main-layout-search-bar-icon
    width 40px

  #main-layout-search-bar-icon
    left inherit
    right 0
    text-align center
    // Left border
    &:after
      content ''
      display block
      position absolute
      top 5px
      bottom @top
      left 0
      width 1px
      background-color transparify(gray-lighter-color, black)

  #main-layout-search-bar-container.is-loading
    #main-layout-search-bar-icon
      color transparent

  #main-layout-header-right
    // Search will occupy any available space once
    // `flex 1` is removed from this element
    flex none
    // Left border
    position relative
    &:after
      content ''
      display block
      position absolute
      top (home-logo-size / 4)
      bottom @top
      left 0
      width 1px
      background-color transparify(gray-lighter-color, black)

.body-transparent-header-white
  .mlh-navbar.is-search-expanded
    #main-layout-header-right:after
    #main-layout-search-bar-icon:after
      background-color rgba(white, 0.3)
