@import '../../../components/stylus_lib'
@import '../../../components/search_bar'

#main-layout-header
  position absolute
  width 100%
  top 0
  left 0
  z-index 2
  background white
  border-bottom 1px solid gray-lighter-color

.mlh-navbar
  display flex
.mlh-navbar-cell
  white-space nowrap

#main-layout-header-left
  flex 1
#main-layout-header-home-logo
  float left
  width home-logo-size
  height home-logo-size
  padding 10px
  font-size (home-logo-size - 20px) // default-icon-font-size
  border none
  &:after
    border-left none
#main-layout-header-center
  padding 0 20px
#main-layout-header-center
#main-layout-header-right
  avant-garde()
#main-layout-header-right
  flex 1
  text-align right

.mlh-nav-link
  position relative
  display inline-block
  padding 16px 10.5px 14px 10.5px
  vertical-align middle
  text-decoration none
  font-size 13px
  &.is-active
    color purple-color
.mlh-top-nav-link
  @extends .mlh-nav-link
  &:hover
  &:active
  &:focus
    color purple-color
// Rightmost username dropdown wrapper
.mlh-session
  border-left 1px solid gray-lighter-color
.mlh-login
  padding-left 20px
.mlh-signup
  padding-right 20px
.mlh-user-name
  @extends .mlh-nav-link
  padding-left 20px
  padding-right 20px
  position relative
  min-width 130px
  text-align center
  border none
  white-space nowrap
  &:hover #main-layout-header-user-nav
    display block

// Rightmost username dropdown
#main-layout-header-user-nav
  display none
  position absolute
  top 0
  right 0
  left 0
  z-index 2
  background-color white
  // Faux borders
  &:before // Left border
  &:after // Top border
  a:last-child:after // Bottom border
    display block
    content ''
    position absolute
    background-color black
    z-index 3
  &:before // Left border
    top 0
    bottom 0
    left 0
    width 3px
  &:after // Top border
    top 0
    left 0
    width 100%
    height 3px
  a
    display block
    text-align center
    width 100%
    border none
    border-top 1px solid gray-lighter-color
    &:first-child
      border none
    &:last-child:after // Bottom border
      bottom 0
      left 0
      width 100%
      height 3px
    &:hover
      background-color gray-lightest-color
      color inherit

// Temporary welcome header
#main-layout-welcome-header
  position relative
  border-bottom 1px solid gray-lighter-color
#main-layout-welcome-header-aside
  position absolute
  top 0
  bottom 0
  left 0
  > .mlwha-outer
    display table
    height 100%
    > .mlwha-inner
      height 100%
      padding 0 50px
      vertical-align middle
      display table-cell
      text-transform uppercase
      letter-spacing 1px
      line-height 1.35
      font-size default-garamond-font-size - 1
#main-layout-welcome-logo
  display block
  font-size 44px
  line-height 1
  text-align center
  padding 20px 0


@media (max-width: 600px)
  .body-responsive #main-layout-header-center
    display none
    