// split-test--header-design

// Pop in when test is ready
#main-layout-header
  visibility hidden
.is-splittest-header_design--new
.is-splittest-header_design--old
  #main-layout-header
    visibility visible

.is-splittest-header_design--new
  // Overall nav structure
  #main-layout-header-left
    flex 1
  #main-layout-header-right
    flex 1
    text-align right
  // Search bar
  #main-layout-search-bar-container
    height default-icon-font-size
    margin ((home-logo-size - default-icon-font-size) / 2) 0
    padding 0
    border 2px solid black
  #main-layout-search-bar-icon
    left 9px
  #main-layout-search-bar-input
    padding-left 35px
  #main-layout-search-bar-spinner
    right 0
  // Autocomplete results
  #main-layout-search-bar-container .tt-dropdown-menu
  #main-layout-search-bar-feedback
    width calc('100% + 4px')
    margin-top 2px
    margin-left -2px
  // Link styling
  .mlh-top-nav-link
  .mlh-post-link
    border none
    &:hover
      color gray-darkest-color
    &:after
      display none
  .mlh-post-link
    padding-right 0
  // User dropdown
  .mlh-session
    border-left 1px solid gray-lighter-color

  // Body states
  .body-transparent-header #main-layout-search-bar-container
    border-color black !important
  .body-transparent-header-white #main-layout-search-bar-container
    border-color white !important
