header#main-layout-header
  header#main-layout-welcome-header
    #main-layout-welcome-header-aside
      .mlwha-outer
        .mlwha-inner
          | Discover art from leading galleries,
          br
          | museums, and private collections.
    i#main-layout-welcome-logo.icon-logotype
  nav
    #main-layout-header-left
      a#main-layout-header-home-logo.icon-logoglyph( href='/' )
      include ./search_bar/template
    #main-layout-header-right
      a( href='/browse' ) Browse
      a( href='/filter/artworks' ) Filter
      a( href='/partners' ) partners
      a( href='/posts' ) Posts
      a( href='/about' ) About
      if user
        if user.get('name')
          a= user.get('name')
        else
          a account
      else
        a.mlh-login( href='/log_in' ) Log in
        a.mlh-signup( href='/sign_up' ) Sign up
