header#main-layout-header
  header#main-layout-welcome-header
    #main-layout-welcome-header-aside
      .mlwha-outer
        .mlwha-inner
          | Discover art from leading galleries,
          br
          | museums, and private collections.
    i#main-layout-welcome-logo.icon-logo-type
  nav
    #main-layout-header-left
      a#main-layout-header-home-logo.icon-logo-glyph( href='/', data-transition )
      include ./search_bar/template
    #main-layout-header-right
      a( href='/browse', data-transition ) Browse
      a( href='/filter/artworks', data-transition ) Filter
      a( href='/partners', data-transition ) partners
      a( href='/posts', data-transition ) Posts
      a( href='/about', data-transition ) About
      a.mlh-login( href='/log_in' ) Log in
      a.mlh-signup( href='/sign_up' ) Sign up