@require '../stylus_lib'
@require '../../lib/palette'

.clock
  display inline-block
  text-align left

.clock-header
  text('mediumText')

.clock-value
  text('mediumText')
  display flex
  align-items center
  list-style none
  text-transform capitalize

  li
    display inline-block
    vertical-align top

    small
      text('mediumText')
      display block
      color transparify(getColor('black60'), getColor('black100'))

.clock-closed
  text('subtitle')
  position relative
  text-align center

.white-overlay-clock
  color getColor('white100')
  left 50%
  top 50%
  display inline-block
  position absolute
  transform translate(-50%, -50%)
  z-index 1

  .clock-header.clock-closed
    text('subtitle')
    color color('white100')
    border 0

  .clock
    text-align center

  .clock-header
    margin-bottom getSpace(0.5)

  .clock-months
  .clock-days
  .clock-hours
  .clock-minutes
  .clock-seconds
    text('subtitle')
    margin getSpace(0, 1.5)

    small
      text('mediumText')
      color getColor('white100')
