search-bar-input-placeholder-dark()
  color gray-lighter-color

.is-dark .fair-layout-search-input
  placeholder(search-bar-input-placeholder-dark)

.fair-layout-nav
  &.is-dark
    color white
    .fair-layout-nav-tabs a
      color white
      &:hover
        border-bottom-color white
    .fair-layout-search input
      border-color rgba(255, 255, 255, 0.2)
      color white
    .garamond-tab-separator
      background-color #ddd

.fair-layout-header
  &.is-dark
    color white
    border-bottom-color rgba(255,255,255,0.102)
    a
      color white
    .hover-pulldown:not(.mlh-hamburger):not(.mlh-notification):before
      border-top-color white
    .mlh-user-name
      border-left-color rgba(255,255,255,0.102)
