@require '../../stylus_lib'

.fair-layout-header
  position absolute
  top 0
  z-index 2
  width 100%
  height 53px
  border-bottom 1px solid transparify(gray-lighter-color, black)

.fair-layout-header-right, .fair-layout-header-left
  position absolute

.fair-layout-header-left
  left 0
  padding 10px
  text-decoration none
  span
    position relative
    top -8px
    left 15px

.fair-layout-header-right
  right 0
  top 4px

.fair-page-header
  margin-top 63px
  position relative
  max-width feed-max-width
  .fair-layout-logo
    display inline-block
    vertical-align top
    .profile-badge-icon
      width 100px
      height @width
      background-size @width
  #fair-search-container
    display inline-block
    vertical-align top
    margin 20px 0 0 90px
    input
      width 330px
      border-color transparify(gray-color, black)
      &:hover
      &:active
        border-color purple-color
  .fair-tabs
    position absolute
    top 32px
    right 0px
