@require '../../stylus_lib'

.fair-layout-header
  position absolute
  top 0
  z-index 2
  width 100%
  height 53px
  border-bottom 1px solid transparify(gray-lighter-color, black)

.fair-layout-header-right, .fair-layout-header-left
  position absolute

.fair-layout-header-left
  left 0
  padding 10px
  text-decoration none
  span
    position relative
    top -8px
    left 15px

.fair-layout-header-right
  right 0
  top 4px
