@require './header'
@require './nav'
@require './search'
@require './dark'
@require '../../marketing_signup_modal'
@require '../../stylus_lib/index.styl'

.fair-layout-container
  width feed-max-width
  margin 65px auto 0 auto

.body-eigen .fair-layout-header
  display none

.fair-layout-cover-image-spacer
  height 41px
