@require './header'
@require './nav'
@require './search'
@require '../../stylus_lib/index.styl'

.fair-layout-container
  width feed-max-width
  margin 64px auto 0 auto

.fair-layout-cover-image-spacer
  height 41px