@require '../../stylus_lib/index.styl'


.fair-layout-nav
  margin-top 63px
  position relative
  max-width feed-max-width

  .fair-layout-logo
    display inline-block
    vertical-align top
    position relative
    top -7px
    .profile-badge-icon
      width 100px
      height @width
      background-size @width
      background-repeat no-repeat
      background-position center
  .fair-layout-search
    display inline-block
    vertical-align top
    margin 20px 0 0 90px
    input
      width 330px
      border-color transparify(gray-color, black)
      &:hover
      &:active
        border-color purple-color
  .fair-layout-nav-tabs
    position absolute
    top 32px
    right 0px
