.partner2-artist
  .partner2-artist-info
    .partner2-artist-info-left
      h2: a.partner2-artist-name( href="/artist/#{artist.get('id')}" )= artist.get('id')
      h3.partner2-artist-brief= [ artist.get('nationality'), artist.get('years') ].join(", ")
      button.avant-garde-follow-button-black.follow-button.is-small
    .partner2-artist-info-right
      p.partner2-artist-blurb

  .partner2-artist-artworks
    .loading-spinner
