section.partner2-overview-section.partner2-overview-messages
  p.message-title #{partner.get('name')} participates in Artsy’s art fair coverage
  p.message-title but does not have a full profile.
  p.message-content A full Artsy profile includes artists, works, shows, and contact information for collectors.
  br
  br
  p.message-content
    | Do you represent #{partner.get('name')}?
    | Learn about
    = ' '
    a.faux-underline( href='/gallery-partnerships' ) Artsy gallery partnerships.

