mixin showsGallery(shows, isFeatured, type)
  .partner2-shows-container.grid-3-up
    include show_figures

.partner2-shows( class= isCombined ? 'combined' : null )

  if heading
    h2.partner2-shows-heading= heading

  if featured
    section.partner2-shows-section.featured
      +showsGallery([featured], true, 'featured')

  if current && current.length > 0
    section.partner2-shows-section.current
      h2.partner2-shows-section-heading Current Shows
      +showsGallery(current, false, 'current')

  if upcoming && upcoming.length > 0
    section.partner2-shows-section.upcoming
      h2.partner2-shows-section-heading Upcoming Shows
      +showsGallery(upcoming, false, 'upcoming')

  if past && past.length > 0
    section.partner2-shows-section.past
      h2.partner2-shows-section-heading Past Shows
      +showsGallery(past, false, 'past')

  if seeAll
    section.partner2-shows-section.actions.see-all
      .avant-garde-header-center
        a.faux-underline-hover.partner2-route-link(
          href="#{partner.href()}/shows"
        ) See all shows
