- description = "Recent news and press highlights about Artsy"
title Press | Artsy
meta( property="og:title", content="Press | Artsy" )
meta( name="description", content=description )
meta( name="og:description", content=description )
meta( property="twitter:description", content=description )

link( rel="canonical", href=(sd.APP_URL + "/press") )
meta( property="og:url", content=(sd.APP_URL + "/press") )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
