title Privacy Policy | Artsy
meta( property="og:title", content="Privacy Policy | Artsy" )
meta( name="description", content="The following Privacy Policy describes how Artsy, Inc. may use any personal information that we collect or receive from you when you use the Artsy website, mobile phone and tablet applications, and any related services we provide." )
meta( name="og:description", content="The following Privacy Policy describes how Artsy, Inc. may use any personal information that we collect or receive from you when you use the Artsy website, mobile phone and tablet applications, and any related services we provide." )
meta( property="twitter:description", content="The Privacy Policy describes how Artsy, Inc. may use any personal information that we collect or receive from you when you use the Artsy website, mobile applications, and any related services." )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.MOBILE_URL + "/privacy") )
link( rel="canonical", href=(sd.APP_URL + "/privacy") )
meta( property="og:url", content=(sd.APP_URL + "/privacy") )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
