.auction-page-list-artwork
  padding-left 10px
  text-decoration none
  display flex
  justify-content flex-start
  align-items center
  height 140px
  text-align left
  width 100%
  border-bottom 1px solid gray-lighter-color
  garamond-size('s-body')
  color gray-darker-color
  a
    text-decoration none

  &__image-container
    min-width 200px

  &__image > img
    max-height 100px
    max-width 200px
    margin auto

  &__metadata
    overflow hidden
    width 65%
    margin-left 10%
    text-align left
    font-size 15px
    padding-right 20px

    > *
      overflow ellipsis

  &__artists
    font-weight 600

  &__lot-number
    width 10%
    avant-garde()
    font-size 11px
    margin-bottom 2px
    text-align left

  .auction-bid-status
    text-align left
    width 23%

.auction-page-list-artwork.auction-open
  .auction-page-list-artwork__metadata
    width 45%

  .auction-page-list-artwork__lot-number
    width 25%
