@require '../stylus_lib'

.payoff-content
  &__header
    text-align center
    &__headline
      font-size 30px
      padding-bottom 20px
    &__subheadline
      line-height 1.3em
      font-size 20px
  &__content
    padding-top 40px
    margin-left 300px
    .arbv-follow-search-container
      width 500px
  &__done
    margin-left 300px
    width 500px
    margin-top 20px
    padding-top 10px
    padding-bottom 10px

.artist-page-cta.fullscreen
  height calc(100%)
  width calc(100%)

.artist-page-cta
  position fixed
  right 0
  bottom 0
  left 0
  height 100px
  width calc(100%)
  background-color white
  transform translateY(0%)
  z-index 999
  border-top 2px solid purple-color
  transition all, 300ms, ease
  .main-layout-container
    margin-top 20px
  button
    float right
    margin-top 5px
  &__image
    vertical-align middle
    display inline
    width 60px
    border-radius 60px
    margin-right 15px
  &__headline
    vertical-align middle
    display inline-block
    font-size 20px
    &__artist-name
      font-weight bold

.artist-page-cta-overlay
  &__wrapper
    width 710px
    position fixed
    left 50%
    top 50%
    transform translate(-50%, -50%)
  &__content
    clearfix()
  &__headline
    text-align center
    font-size 40px
    line-height 1.3em
    &__artist-name
      font-weight bold
  &__feed
    display inline-block
    margin-top 50px
    margin-left 85px
    svg
      fill black
      width 35px
      height 35px
      vertical-align middle
    &__pulldown
      span
        font-size 15px
      avant-garde()
      font-size 16px
      vertical-align middle
      cursor auto
      &:after
        left 50%
        font-size 30px
        content '▲'
        text-shadow 0px -7px 12px rgba(0,0,0,0.1)
        color white
        z-index 999
        transform scaleY(0.6)
        margin 7px 0 0 0
        border 0
     &__count
      avant-garde()
      font-size 10px
      display inline-block
      background-color red
      border-radius 50px
      width 19px
      height 19px
      position relative
      bottom 10px
      right 20px
      line-height 19px
      color white
      text-align center
    &__items
      box-shadow 0 0 20px 0 rgba(0,0,0,0.1)
      background-color white
      width 340px
      height 200px
      margin-left -150px

      &:after
        display block
        position absolute
        content ''
        right -20px
        bottom -20px
        left -20px
        height 125px
        background-image linear-gradient(to bottom, rgba(255,255,255,0), white 100px)
      li
        display inline-block
        border-bottom 1px solid gray-lighter-color
        font-size 13px
        margin-left 20px
        margin-right 20px
        &:last-child
          border-bottom none
          margin-top 20px
      &__artist-count
        color gray-darker-color
        display inline-block
        position relative
        bottom 10px
        font-size 11px
      &__artist-name
        display inline-block
        position relative
        left 75px
        bottom 35px
      &__artist-day
        float right
        position relative
        top 9px
        font-size 11px
        color gray-darker-color
      &__image
        vertical-align middle
        display inline
        width 60px
        border-radius 60px
        margin-right 15px
  &__register
    float right
    width 340px
    margin-top 10px
    .auth-signup-facebook
      background-color #38409E
      width 340px
    button
      margin-bottom 20px
    h2
      width 100%
      text-align center
      border-bottom 1px solid gray-lighter-color
      line-height 0.1em
      margin 10px 0 20px
      span
        avant-garde()
        font-size 11px
        color gray-darker-color
        background #fff
        padding 0 10px
    #auth-footer
      text-align center
      aside
        font-size 13px
        line-height 1.3em
      p
        opacity 0.8
        color gray-darkest-color
  &__close
    position absolute
    right 20px
    top 10px
    font-size 40px
    color gray-lighter-color
    cursor pointer
