div.artist-page-cta-overlay__headline Sign up to keep track of&nbsp;
  span.artist-page-cta-overlay__headline__artist-name
    | #{artist.get('name')}&nbsp;
  | and your other favorite artists
span.artist-page-cta-overlay__close ×