- section = sections.slug["apply"]

.gallery-partnerships-section-header.apply
  if sd.GALLERY_PARTNERSHIPS_APPLY === 'link'
    h3= section.heading
    a.avant-garde-button-black.apply-button.apply-link-cta( href='/apply?00NC0000005RNfN=link' ) Apply
    .gallery-partnerships-contact Call us: +1 800 589 1350

  else
    .gallery-partnerships-apply-form
      header
        h3 Interested in partnering with Artsy?
        aside Join a network of the world&rsquo;s premier art galleries &amp; collectors

      form.stacked-form.js-gallery-partnerships-apply-form(
        action='/apply/gallery/2'
        method='get'
      )
        input( type='hidden', name='00NC0000005RNfN', value='inline' )

        input.bordered-input( type='text', name='company', placeholder= 'Gallery Name', required )

        .stacked-form-cell.grid-3-up
          .grid-item: input.bordered-input.is-block( type='text', name='first_name', placeholder='First Name', required )
          .grid-item: input.bordered-input.is-block( type='text', name='last_name', placeholder='Last Name', required  )
          .grid-item: input.bordered-input.is-block( type='text', name='title', placeholder= 'Title at gallery' )

        .stacked-form-cell.grid-2-up
          .grid-item: input.bordered-input.is-block( type='text', name='URL', placeholder='Website', required )
          .grid-item: input.bordered-input.is-block( type='email', name='email', placeholder='E-mail', required )

        button.avant-garde-button-black.apply-button.js-gallery-partnerships-apply-submit
          | Apply

        .gallery-partnerships-privacy
          | By clicking apply, you accept our 
          a( href='/privacy' ) Privacy Policy
          | .

        .gallery-partnerships-contact Call us: +1 800 589 1350
