extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - bodyClass = bodyClass + ' body-no-margins body-subscriptions'
  - assetPackage = 'gallery_partnerships'

block body
  .gallery-partnerships-container
    include sections
