title Gallery Partnerships | Artsy
meta( property="og:title", content="Gallery Partnerships | Artsy" )
meta( name="description", content="Artsy invites the best galleries in the world to list their programs and contribute to the most comprehensive online resource for seasoned and aspiring collectors alike." )
meta( name="og:description", content="Artsy invites the best galleries in the world to list their programs and contribute to the most comprehensive online resource for seasoned and aspiring collectors alike." )
meta( property="twitter:description", content="Artsy invites the best galleries in the world to list their programs and contribute to the most comprehensive online resource for seasoned and aspiring collectors alike." )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + "/gallery-partnerships") )
link( rel="canonical", href=(sd.APP_URL + "/gallery-partnerships") )
meta( property="og:url", content=(sd.APP_URL + "/gallery-partnerships") )
meta( property="og:image", content=(sd.ASSET_PATH + "og_image.jpg") )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
meta( name='viewport', content='user-scalable=0, width=1300' )
