.gallery-partnerships-section-nav
  nav
    for section, i in sections.slice(0, -1)
      a.gallery-partnerships-nav-link( href="/gallery-partnerships/#{section.slug}" )
        span= section.title
    a.gallery-partnerships-nav-link.avant-garde-button-black.is-small( href="http://apply.artsy.net/" )
      span=sections[sections.length - 1].title
