- section = sections[7]

.gallery-partnerships-section-header.apply
  h3= section.heading
  a.avant-garde-button-black.apply-button( href="/partner-application" ) Apply
  .gallery-partnerships-contact Call us: +1 800 589 1350
