.artsy-checkbox.cf-locations__checkbox
  .artsy-checkbox--checkbox
    - hasParams = selected && selected.length > 0
    input( type='checkbox', id='location-all', checked=!hasParams )
    label( for='location-all' )
  label.artsy-checkbox--label( for='location-all' ) All
