if sd.CLIENT.artists[0] && sd.CLIENT.artists[0].artists.length > 0
  .artwork-artist-related-rail
    .artwork-artist-related-rail__header
      h2 Related Artists
      a.artwork-artist-related-rail__view-all(href= sd.CLIENT.artists[0].href + '/related-artists') View All
    .artwork-artist-related-rail__content.js-artwork-artist-related-rail__content.mgr-horizontal-nav
      .mgr-cells.js-mgr-cells
      //- client side rendering

      include ../../../../components/merry_go_round/templates/horizontal_navigation
