.artwork-current-auctions
  //

  &__header-area
    display flex
    justify-content space-between
    align-items center

    h3
      margin-top gutter
      margin-bottom gutter - 10px
      serif('headline')

    a
      position relative
      text-decoration underline
      top 5px

  &__sales
    display flex
    justify-content space-between

  &__sale-item
    border 1px solid gray-lighter-color
    width 23%

    a
      text-decoration none

    img
      width 100%
      height auto

  &__label-container
    padding 15px

  &__name, &__status
    overflow hidden
    serif('l-caption')
    text-overflow ellipsis
    white-space nowrap

  &__status
    color gray-darker-color
