@require './mobile'
@require '../../../components/credit_card/stylesheets'
@require '../../../components/stylus_lib'

#order-page
  max-width 1024px
  margin 40px auto 0 auto
  padding-bottom 60px
  &.order-page-complete
    width: 465px
    margin-top 100px

.order-page-content
  position relative
  margin-top: 30px

.garamond-header-center
  font-size 28px

.order-page-sm-heading
  text-transform uppercase
  margin-bottom 12px
  letter-spacing 1px

.line-item-image-large
  margin 30px auto
  width 465px

.order-summary
  position absolute
  right 0px
  top 0px
  width 220px
  .order-seller-section
    margin-bottom 28px
    .location
      margin-top: 13px
  .order-summary-totals
    margin-bottom 35px

.line-item-image
  max-width 58px
  max-height 100%
.line-item-image-info, .line-item-image
  display inline-block
  vertical-align top
.line-item-image-info
  width: 150px
  margin-left 12px

.order-form-text-address
  margin-bottom 28px
  word-wrap break-word
.order-summary-totals
  margin-bottom 20px
.item-total, .total-amount, .tax-total
  margin-top: 12px
  .dots
    float: center
    border-bottom: 1px dotted gray-color
    height: 16px
    overflow: hidden
  .value
    float: right
    margin-left: 5px
  .label
    float: left
    margin-right: 5px

.total-amount
  font-size 22px
  .dots
    height: 18px

.credit-card-form-checkbox
  margin-bottom 10px
  input
    margin-right 8px

.order-form-billing-address
  margin-top 20px

.order-privacy
  margin-top 20px
  color gray-darkest-color

