default-mobile-width = 400px

.order-body
  @media screen and (max-device-width: 768px)
    min-height 1024px
    #order-page
      .order-page-content
        text-align center
      .order-summary, .order-form
        text-align left
        position relative
        display inline-block
        vertical-align top
      .order-summary
        margin-left 50px

.order-body
  @media screen and (max-device-width: 480px)
    height 100%
    width 100%
    -webkit-text-size-adjust none
    -webkit-overflow-scrolling touch
    min-width 0px
    max-width 480px
    min-height 0px
    #main-layout-container
      margin-left 40px
      margin-right 40px
    .success-form
      .garamond-header-center
        line-height 130%
    #order-page
      margin-left 0px
      margin-right 0px
      &.order-page-complete
        width 100%
      .order-form
        width 100%
        margin-top 270px
      .order-page-sm-heading
        text-align center
      .city.order-input-section
        width 100%
        margin-right 0px
      .region.order-input-section, .postal-code.order-input-section
        margin-right 4%
        width 48%
      .postal-code.order-input-section
        margin-right 0px
      .order-summary
        margin-left 0px
        position absolute
        top 0px
        left 0px
        width 100%
        max-height 270px
        overflow hidden
        .order-seller-section
          display none
    .order-form-geotrust
      display none
    .line-item-image-large
      width 100%
    .order-form-billing-address
      margin-top 0px
    #main-layout-header, .order-summary
      display none
