@require '../../../components/stylus_lib'

mlf-upper-column-aside-width = 28%
mlf-upper-column-width = ((100% - mlf-upper-column-aside-width) / 4)

#main-layout-footer
  padding 20px 0
  background-color white
  clearfix()
.mlf
  .mlf-upper
    margin-bottom 10px

  .mlf-upper
  .mlf-lower
    clearfix()
    padding 20px 0
    border-top 1px solid gray-lighter-color

  .mlf-lower
    position relative
    .main-layout-container
      display flex

  // Upper
  .mlf-upper-column
  .mlf-upper-column-aside
    float left
    line-height 1.7
    padding-right 20px
    a
      display block
      overflow ellipsis
  .mlf-upper-column-aside
    width mlf-upper-column-aside-width
    display flex
    justify-content flex-end
    padding-right 10px
    h4
      font-weight bold
      block-margins(5px)
  .mlf-upper-column
    width mlf-upper-column-width
    h4
      avant-garde()
      font-size 13px
      margin-bottom 5px
    a
      text-decoration none

  @media screen and (max-width: 1024px)
    mlf-upper-column-aside-width = 25%
    .mlf-upper-column-aside
      width mlf-upper-column-aside-width
    .mlf-upper-column
      width mlf-upper-column-width

  // Lower
  #main-layout-footer-internal
    span#ccpa-request
      text-decoration none
      display inline-block
      vertical-align middle
      a
        margin 0
        text-decoration underline
        vertical-align unset

    a
    span:not(.ccpa-request)
      display inline-block
      text-decoration none
      vertical-align middle
      margin 0 7px
      &:first-child
        margin-left 0
      &:last-child
        margin-right 0

  #main-layout-footer-logo
    display inline-block
    font-size 30px
    margin-right 20px

  #main-layout-footer-external
    display flex
    position relative
    margin-left auto

  .mlf-social
    display inline-block

  .mlf-icon-instagram, .mlf-icon-wechat
    width 20px
    margin 7px 5px 0 5px
    height 20px

  .mlf-wechat-qr-code-container
    display none
  .mlf-icon-wechat:hover
    .mlf-wechat-qr-code-container
      display flex
      background-color white
      border 1px solid gray-lighter-color
      box-shadow 0px 10px 20px gray-color
      width 150px
      height 150px
      position absolute
      left: -66px
      bottom 75px
      align-items center
      justify-content center
      .mlf-wechat-qr-code
        display block
        background-image url('http://files.artsy.net/images/wechat_qr_logo.png')
        width 125px
        height 125px
      .mlf-wechat-qr-code-triangle-down
        width 0
        height 0
        border-left 8px solid transparent
        border-right 8px solid transparent
        border-top 10px solid white
        position absolute
        right 65px
        bottom -9px

.mlf__mobile
  background-color black
  width 100vw
  color white
  display none
  a
    color white
    text-decoration none
  h4
    avant-garde-size('m-headline')
    margin-bottom 10px
  .mlf-upper-column, .mlf-user-column
    padding 20px
    width 100vw
    garamond-size('l-body')
    float none
    a
      width 50%
      display inline-block
  .mlf-upper-column a:nth-child(even),
  .mlf-user-column a:nth-child(odd)
      margin-left 15px
      width calc(50% \- 15px)
  .mlf-user-column
    border-top 1px solid gray-darkest-color
  .mlf-login-signup
    width 100vw
    display flex
    justify-content space-between
    a
      text-align center
      width calc(50% \- 15px)
      &:first-child
        margin-left 10px
      &:last-child
        margin-right 10px
  .mlf-lower
     border none
     padding 30px 20px
     garamond-size('l-caption')

@media (max-width: 600px)
  #main-layout-footer
    padding 0
    max-width 100%
    overflow hidden
  .mlf.mlf__fullwidth
    display none
  .mlf.mlf__mobile
    display block
