.mlf-lower: .main-layout-container
  nav#main-layout-footer-internal
    a#main-layout-footer-logo( href='/' )
      include ../public/icons/logo.svg
    span.mlf-links
      span &copy; #{(new Date).getFullYear()} Artsy
      a( href='/terms' ) Terms of Use
      a( href='/privacy' ) Privacy Policy
      if sd.PAGE_TYPE === 'home'
        span#ccpa-request
          != stitch && stitch.components.CCPARequest({ user: sd.CURRENT_USER })
      a( href='/security' ) Security
      a( href='/conditions-of-sale' ) Conditions of Sale
  nav#main-layout-footer-external
    a.mlf-social.mlf-icon-wechat
      include ../public/icons/wechat.svg
      span.screen-reader-text Follow Artsy on WeChat
      .mlf-wechat-qr-code-container
        .mlf-wechat-qr-code
        .mlf-wechat-qr-code-triangle-down
    a.mlf-social( href='http://twitter.com/artsy', target='_blank')
      include ../public/icons/twitter.svg
      span.screen-reader-text Follow Artsy on Twitter
    a.mlf-social( href='http://www.facebook.com/artsy', target='_blank')
      include ../public/icons/facebook.svg
      span.screen-reader-text Follow Artsy on Facebook
    a.mlf-social.mlf-icon-instagram( href='http://www.instagram.com/artsy', target='_blank')
      include ../public/icons/instagram.svg
      span.screen-reader-text Follow Artsy on Instagram
