.mlf-upper: .main-layout-container
  .mlf-upper-column
    h4 Collecting
    a.mlf-collector-faq( href='/#' ) Buying from Galleries FAQ
    a.mlf-auction-faq( href='/#' ) Buying from Auctions FAQ
    a( href='/consign' ) Consign with Artsy
    a( href='/professional-buyer' ) Artsy for Professional Buyers
  .mlf-upper-column
    h4 Education
    a( href='/artsy-education' ) Education
    a( href='/categories' ) The Art Genome Project
  .mlf-upper-column
    h4 About Artsy
    a( href='/about' ) About
    a( href='https://medium.com/artsy-blog' ) Blog
    a( href='/about/jobs' ) Jobs
    a( href='https://artsy.github.com/open-source/', target='_blank' ) Open Source
    a( href='/about/press' ) Press
  .mlf-upper-column
    h4 Partnering with Artsy
    a( href='/gallery-partnerships' ) Artsy for Galleries
    a( href='/institution-partnerships' ) Artsy for Museums
    a( href='/auction-partnerships' ) Artsy for Auctions
  .mlf-upper-column-aside
    div
      h4 General questions & feedback?
      a( href='/contact' ) Contact Artsy
      a.mlf-feedback( href='#' ) Send us feedback
