#fair-booths-spinner
  position relative
  height 300px

#fair-booths-sort
  float right
  position relative
  top -10px

.fair-booths-count-container
  margin-right 20px

.browse-section.booths
  .feed
    min-height 0
  min-height 800px
