@require '../../../../components/side_tabs'

.artwork-additional-info

  &__content
    p
      margin-bottom 1em

    //
    &__articles
      //

    p + &__articles
      margin-top gutter

  &__article
    display table
    width 75%
    block-margins(gutter / 2)
    text-decoration none

    &__image
    &__metadata
      display table-cell
      vertical-align middle

    &__image + &__metadata
      // Only pad if the image is present
      padding-left (gutter / 2)

      // For article stubs without thumbnails
      // Maintain the original `line-height` for the first line
      &__context
        line-height 1

    &__metadata
      width 100%

      &__context
      &__author
        sans('s-headline')

      &__author
        line-height 1

      &__title
        serif('s-body')
        line-height 1.25 // compact-line-height
        margin (gutter / 3) 0

      &__author
        color gray-darker-color
