.mlh-navbar-small-screen
  align-items center

.mlh-navbar-small-screen
  display flex
  @media (min-width: nav-bar-break)
    display none

  #main-header-search-box
    position relative
    height logo-size
    padding 18px 12px 15px 12px
    border 0
    margin 0
    background transparent
    width 100%
    font-size 16px

  #main-layout-header-home-logo
    width logo-size + 1
    border-right 1px solid gray-lighter-color

  #main-header-menu-icon
    display inline-block
    vertical-align middle
    position relative
    font-style normal
    color #000
    text-align left
    text-indent -9999px
    direction ltr
    width 20px
    height 4px
    box-shadow inset 0 0 0 7px,0 -7px,0 7px
    margin 16px 7px

  #main-header-menu
    padding 8px
    position absolute
    right 0
    top 0
    width logo-size
    border-left 1px solid gray-lighter-color
    z-index 1
    -webkit-tap-highlight-color rgba(0,0,0,0)

  #main-header-search-box-cancel
    background #bbb
    color white
    border-radius 10px
    font-size 15px
    padding 2px 4px 6px 4px
    position absolute
    right 13px
    top 21px
    font-family Helvetica
    font-weight bold
    line-height 8px
    border none
    font-smoothing antialiased

  #main-header-search-box::-webkit-search-cancel-button
    display none

  #main-header-search-button
    position absolute
    top 0
    right 0
    width 100px
    height 100%
    border-top 0
    border-bottom 0
    line-height logo-size
    display none