.add-to-calendar
  position relative
  display inline-block

.add-to-calendar-event-item-date
  &__add-to-calender
    color gray-dark-color
    font-size 17px
    text-decoration none

.add-to-calendar-event-calendar-wrapper
  display none
  margin-top 10px
  position absolute
  .add-to-calendar-event-arrow-up
    width 0
    height 0
    border-left 8px solid transparent
    border-right 8px solid transparent
    border-bottom 8px solid black
    margin-left 70px
  .add-to-calendar-event-calendar-container
    width 150px
    height 160px
    background-color #000
    padding-top 15px
    a
      width 100%
      display block
      color white
      garamond()
      text-decoration none
      font-size 17px
      padding 0 20px
      line-height 2
    a:hover
      background-color gray-darkest-color
