.auction-associated-sale
  display flex
  align-items center
  justify-content space-between

.aas-image
.aas-metadata
.aas-clock
  width 33%
  a
    text-decoration none

.aas-image
  > .responsive-image-container
    // 4:3 ratio
    padding-bottom 75%

.aas-metadata
  flex 1
  padding 0 30px
  text-decoration none
.aas-metadata-subtitle
  avant-garde-size('m-headline', true)
.aas-metadata-title
  margin 10px 0
  garamond-size('headline')

.aas-clock
  text-align center
  .clock
    margin 20px 0
  .clock-closed
    display none
