@require '../../../components/stylus_lib'
@require './preview'
@require './header'
@require './footer'
@require './associated_sale'
@require './email_to_registration_transition'
@require './banner'
@require './registration_component'
@require './my_active_bids'

.auction-page
  padding-bottom 20px
  .responsive-layout-container
    margin 0 auto
  .main-layout-container
    padding-left 55px
    padding-right 55px

.auction-page-section
  block-margins(30px)
  padding 60px 0
  border-top 1px solid gray-lighter-color
.below-auction-artworks > .auction-page-section:first-child
  border-top none
