@require '../../../../components/artwork_masonry'

.artwork-partner-artworks
  //

  &__header
    display flex
    align-items center
    justify-content space-between
    margin-bottom gutter

    &__name
      serif('headline')

    &__jump
      serif('s-body')
      fine-faux-underline()
      white-space nowrap
