extends ../../../components/layout/templates/main

block content
  - partnerArtist = true
  .main-side-margin
    nav.slash-breadcrumbs
      a( href='/' + profile.get('id') )= profile.get('owner').name
      span Artists
    if represented.length
      h1.avant-garde-header-center.partner-profile-large-header Represented Artists
      - artists = represented
      include ../../../components/artist_list/template
    if unrepresented.length
      h1.avant-garde-header-center.partner-profile-large-header
        if profile.get('id').match('gagosian')
          | Artists
        else
          | Works Available By
      - artists = unrepresented
      include ../../../components/artist_list/template
    a.partner-back-link( href='/' + profile.get('id') ) Go to #{profile.get('owner').name}
