extends ../../../components/layout/templates/main

block content
  .main-side-margin
    nav.slash-breadcrumbs
      a( href="/#{profile.get('id')}" )= profile.get('owner').name
      span
        a( href="/#{profile.get('id')}/artists") Artists
  include ../../artist/templates/header
  #artist-content
    .artist-actions-container
      a.artist-action.artist-follow.circle-border-icon-button( data-state='unfollowed' )
        i.icon-heart
      a.partner-artist-share
    #artist-page-artworks.main-side-margin
      #artist-page-artworks-list
        .loading-spinner
      .artist-page-artwork-see-more-container
        button.avant-garde-underline-button.artist-page-artwork-see-more
          | See more

    nav.chevron-nav-list.main-side-margin
      a( href="/artist/#{artist.get('id')}" ) More from #{artist.get('name')}
    br
