include ../../../../components/util/activator

header#main-layout-header: nav.mlh-navbar
  #main-layout-header-left.mlh-navbar-cell
    a#main-layout-header-home-logo( href='/' )
      i.icon-logo
        span.screen-reader-text Home
  #main-layout-header-center.mlh-navbar-cell
    for section in sections
      a.mlh-top-nav-link(
        href="/style-guide/#{section}"
        class=activeClass("/style-guide/#{section}")
      )= section
