extends ../../../components/layout/templates/main

block head
  title How Artsy Auctions Work | Artsy

block content
  .haw-page
    .main-side-margin.chevron-nav-list
      a.js-haw-learn-more.haw-learn-more
        .haw-learn-more__inner
          .haw-learn-more__left
            img(src="/images/mobile.jpg")
          .haw-learn-more__right How Artsy Auctions Work

    .haw-page-faqs
      //- rendered on the client
