include ../checkbox/index

form.stacked-form
  +checkbox('receive_emails')
    | Receive Emails
  .settings-email-preferences__subscriptions(
    class='js-settings-email-preferences__subscriptions'
  )
    +checkbox('receive_weekly_email')
     | What's on Artsy This Week
    +checkbox('receive_editorial_email')
     | Art World News
    +checkbox('receive_auction_email')
     | Auctions
    +checkbox('receive_personalized_email')
     | Personalized Art Recommendations
    +checkbox('receive_follow_users_email')
     | When I Have New Followers
    +checkbox('receive_offer_emails')
     | Artsy Specialist Recommendations

  button.avant-garde-button-white
    | Save Changes
