.haw-mobile-cta
  width 75%
  margin 20px auto
  padding 40px 0
  border-top 2px solid gray-lighter-color
  border-bottom @border-top
  .haw-numbered-section
    width 90%
    margin-left 0
  @media screen and (max-width: smallBreakpoint)
    width 90%
