smallBreakpoint = 768px

.haw-section
  display table
  width 100%
  margin 40px 0

.haw-section-cell
  display table-cell
  width 50%
  vertical-align middle
  img
    max-width 100%

.haw-page-metadata
  width 75%
  margin 60px auto
  @media screen and (max-width: smallBreakpoint)
    margin 30px auto
.haw-page-title
  margin-right 40px
  garamond-size('xl-headline')
  @media screen and (max-width: smallBreakpoint)
    margin-right (@margin-right / 2)
    garamond-size('l-headline')

.haw-page-description
  margin 20px 0
  garamond-size('s-body')
  @media screen and (max-width: smallBreakpoint)
    margin 10px 0
    font-size garamond-l-caption-font-size

.haw-numbered-section
  display table
  width 75%
  margin 20px auto
  padding 0 20px
  @media screen and (max-width: smallBreakpoint)
    width 90%
.haw-ns-number
.haw-ns-body
  display table-cell
  vertical-align top
.haw-ns-number
  garamond-size('xxl-headline')
  padding 0 20px
  text-align center
  @media screen and (max-width: smallBreakpoint)
    garamond-size('l-headline')
    padding 0 10px

.haw-section-title
  garamond-size('l-headline')
  @media screen and (max-width: smallBreakpoint)
    garamond-size('headline')

.haw-section-description
  margin 20px 0
  garamond-size('s-body')
  > p
    block-margins(40px)
  a
    fine-faux-underline()
  @media screen and (max-width: smallBreakpoint)
    font-size garamond-l-caption-font-size
    > p
      block-margins(20px)

.haw-bid-increments
  position relative
  padding 40px 80px 40px 40px
  @media screen and (max-width: smallBreakpoint)
    padding 20px 40px 20px 20px

  // Fancy fade borders
  &:before
  &:after
    content ''
    position absolute
    top -1px
    right @top
  &:before
    bottom -1px
    width 1px
    background-image linear-gradient(gray-color, transparent)
  &:after
    left -1px
    height 1px
    background-image linear-gradient(left, transparent, gray-color)

  > h3
    color gray-dark-color
    margin-bottom 10px
  > h3
  > .leader-dots-list
    avant-garde-size('body')
    @media screen and (max-width: smallBreakpoint)
      avant-garde-size('s-headline')
