extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  assetPackage = 'profile'

block body
  #profile
    include ../../../components/profile_header/template
    .profile-tabs-container
    .feed
