if hasPosts && hasCollection
  .garamond-tablist
    a.garamond-tab( href: baseUrl + '/posts', class=activeClass(baseUrl + '/posts') ) Posts
    a.garamond-tab( href: baseUrl + '/favorites', class=activeClass(baseUrl + '/favorites') ) Favorites
else if hasCollection
  .garamond-header-center Favorites