.arv-inner( data-rail= railId )
  .arv-header
    h1= title

    if viewAllUrl
      a.arv-view-all( href= viewAllUrl )
        | View All

  .arv-content
    .arv-carousel.mgr-horizontal-nav( class='js-my-carousel' )
      ul.js-mgr-cells.mgr-cells( class=artworks ? '' : 'mgr-cells--loading' )
        if hasContext
          li.arv-context.mgr-cell.arv-fillwidth-row( class='js-mgr-cell' )
            //- rendered on the client
        if artworks && artworks.length
          for artwork in artworks
            li.mgr-cell.arv-fillwidth-row( class='js-mgr-cell' )
              include ../../artwork_item/templates/artwork
          if viewAllCell
            li.arv-fillwidth-row.mgr-cell.js-mgr-cell.view-all-rail-cell
              .view-all-rail-cell__inner
                a.view-all-rail-cell__link(href= viewAllUrl)
                  .view-all-rail-cell__text View All

      if artworks && artworks.length
        include ../../merry_go_round/templates/horizontal_navigation

