.auction2-BidStatus
  position relative
  font-size 14px
  font-weight 600

  &__bid-label
    display inline-block

  &__bid-amount
    padding-right 5px

    &:before
      display inline-block
      background-image url('/images/paddle.png')
      background-repeat no-repeat
      background-position 2px 5px
      background-size 63%
      padding-right 15px
      height 17px
      content ''
