.auction2-BidStatus
  garamond-size('l-caption')
  position relative

  &__bid-label
    display inline-block

  &__bid-amount
    padding-right 5px

    &:before
      content ''
      display inline-block
      background-image url('/images/paddle.png')
      background-repeat no-repeat
      background-position 2px 5px
      background-size 63%
      padding-right 15px
      height 17px
      position relative
      top 2px
