.auction2-page-MasonryArtwork
  display block
  garamond-size('s-body')
  color gray-darker-color
  text-decoration none
  line-height 1.2
  margin-bottom 15px

  &__image
    margin-bottom 15px
    width 100%

  &__lot-label, &__artists
    font-weight 600

  &__lot-label
    avant-garde()
    font-size 11px
