@require '../../stylus_lib'

.scontact-modal
  .modalize-body
    padding 30px

.scontact-errors
  color red-color

.scontact-headline
  garamond-size('s-headline')
  text-align center
  border-bottom 1px solid gray-lighter-color
  padding 0 0 20px
  margin 0 -30px
.scontact-errors
.scontact-description
.scontact-from
  garamond-size('s-body')

.scontact-details
  margin 20px 0
.scontact-from
.scontact-description
  padding 10px 0
  border-bottom 1px solid gray-lighter-color

  .vam-cell:first-child
    padding-right 20px

.scontact-artwork-details
.scontact-show-details
  clearfix()
  img
    height 45px
    float left
    margin 0 15px 10px 0

.scontact-from
  > span
    color gray-darker-color

.scontact-attending
  display block
  margin 20px 0 0 0
