@import '../../stylus_lib'

.scontact-modal
  .modalize-body
    padding 30px

.scontact-headline
  garamond-size('l-body')
.scontact-description
.scontact-from
  garamond-size('s-body')

.scontact-description
  .vam-cell:first-child
    padding-right 20px

.scontact-from
  > span
    color gray-darker-color
