@require '../stylus_lib'
@require '../artwork_brick'

.artwork-masonry-4-column
  display flex
  justify-content space-between

  &__column
    columns = 4
    percentage = (100% / columns)
    offset = ((gutter * (columns - 1)) / columns)
    width calc('25% - %s' % offset)
