extends ../../../components/main_layout/templates/index

block head
  title Future of Art | Artsy
  meta( property="og:title", content="Future of Art | Artsy" )
  meta( name="description", content="6 Reasons the Future of Art Is for Everyone." )
  meta( name="og:description", content="6 Reasons the Future of Art Is for Everyone." )
  meta( property="twitter:description", content="6 Reasons the Future of Art Is for Everyone." )
  link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + "/about") )
  link( rel="canonical", href=(sd.APP_URL + "/future-of-art") )
  meta( property="og:url", content=(sd.APP_URL + "/future-of-art") )
  meta( property="og:image", content=asset('/images/og_image.jpg') )
  meta( property="og:type", content="website" )
  meta( property="twitter:card", content="summary" )

append locals
  - assetPackage = 'misc'
  - bodyClass = bodyClass + ' body-no-header body-no-margins'

block body
  figure#future-of-art-cover-banner
    img( src='/images/future-of-art-banner.jpg' )
    figcaption
      a( href='/artwork/jon-rafman-okeeffe-antechamber' ) Jon Rafman, O'keeffe Antechamber, 2013
      | . Image Courtesy Of Zach Feuer
  #future-of-art-copy
    #future-of-art-copy-text
      != page.mdToHtml('content')
    a.avant-garde-button-white(
      href='http://online.wsj.com/articles/carter-cleveland-says-art-in-the-future-will-be-for-everyone-1404762157'
    ) Read Full Article on WSJ.com
