extends ../../../components/main_layout/templates/index

block head
  title Future of Art | Artsy
  meta( property="og:title", content="Future of Art | Artsy" )
  meta( name="description", content="6 Reasons the Future of Art Is for Everyone." )
  meta( name="og:description", content="6 Reasons the Future of Art Is for Everyone." )
  meta( property="twitter:description", content="6 Reasons the Future of Art Is for Everyone." )
  link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + "/about") )
  link( rel="canonical", href=(sd.APP_URL + "/future-of-art") )
  meta( property="og:url", content=(sd.APP_URL + "/future-of-art") )
  meta( property="og:image", content=(sd.ASSET_PATH + "og_image.jpg") )
  meta( property="og:type", content="website" )
  meta( property="twitter:card", content="summary" )

append locals
  - assetPackage = 'static'
  - bodyClass = bodyClass + ' body-no-header body-no-margins'

block body
  figure#future-of-art-cover-banner
    img( src='/images/future-of-art-banner.jpg' )
    figcaption
      a( href='/artwork/jon-rafman-okeeffe-antechamber' ) Jon Rafman, O'keeffe Antechamber, 2013
      | . Image Courtesy Of Zach Feuer
  #future-of-art-copy
    #future-of-art-copy-text
      h1 6 Reasons the Future of Art Is for Everyone
      h2
        a( href='/' ) Artsy
        |  founder Carter Cleveland writes that the Internet holds the promise of a world where art is as ubiquitous as music is today
      img#future-of-art-carter( src='/images/future-of-art-carter.png' )
      small By Carter Cleveland
      p Before talking about the future of art, I'd like to draw your attention to the past, to another form of human expression: music.
      p Pre-20th century, the music world in the West resembled the art world today. If you listened to professional music, were informed about the genre and attended performances, you were part of an elite class.
      p Today, it's hard to imagine a world where listening to music has anything to do with class. Not everyone can afford front-row seats to a Justin Timberlake concert, but everyone knows his music. You can ask anyone on the street about their favorite band and watch their eyes light up. In contrast, try asking someone on the street about their favorite artist and rarely will you find a similarly enthusiastic response. (If this thought experiment doesn't make sense, you probably live in New York or London—two cities that together account for over 60% of the global art market.)
      p So why has music succeeded in transcending class hierarchies while art has not? Pessimists would say that fundamentally there is a finite universe of people interested in art, or that you must experience art in person to acquire a passion for it. But these same arguments were made about music and attending live performances over 100 years ago.
      p No, a love for art is not genetically predestined. Like music, passion for art is nourished from a young age via exposure and education. But while the record player and the radio drove music's exposure beyond class boundaries, those technologies were incompatible with art.
      p The good news is that the Internet provides a medium for both music and art to reach anyone with an Internet connection—and therefore holds the promise of a future where art is as ubiquitous a part of culture as music is today.
      p Given that, here are six predictions about the future of art:
      p
        strong 1. The art of tomorrow will be the technology of today.&nbsp;
        | Going back to charcoal on a cave wall, artistic mediums always began as functional technologies. Consider the daguerreotype, once an affordable alternative to commission paintings, now a fine-art medium beloved by Chuck Close. As we become increasingly comfortable with new technologies, they will transition to future modes of self-expression. Contemporary examples include&nbsp;
        a( href='/artist/jon-rafman' ) Jon Rafman's
        |  Google Street View art,&nbsp;
        a( href='/artist/dwyer-kilcollin' ) Dwyer Kilcollin's
        |  sculptures made using 3-D printers, and&nbsp;
        a( href='/artist/katsu' ) Katsu
        |  creating abstract paintings with spray-paint-carrying drones. And just imagine the kind of artistic experiences made possible by new virtual-reality technologies.
      p
        strong 2. An "upper-middle-brow" of art will emerge.&nbsp;
        | Literary critic William Deresiewicz used the phrase "upper middle brow" to describe cultural content that has widespread appeal and stands on its own critical merit. Television has seen the emerging dominance of upper-middle-brow shows like "House of Cards." In film, Pixar has managed to engage high-, middle- and even lowbrow audiences simultaneously. And Shakespeare accomplished the same in theater. Today art is rarely appreciated for appealing outside of a small world of tastemakers—although examples like Banksy and Christian Marclay (particularly his film "The Clock") come to mind. But in the future, a larger and more diverse audience of art lovers will celebrate artists that achieve trans-brow appeal.
      p
        strong 3. The art market will expand massively.&nbsp;
        | The global art market is about $66 billion annually, but for every one household that collects art there are 37 with the same average income who don't. If art becomes a ubiquitous part of culture, collecting could become normal behavior for households with disposable income, just like buying luxury fashion and jewelry. At Artsy we are seeing this phenomenon firsthand among new collectors in Silicon Valley, a market we have early visibility into given our tech-startup roots.
    a.avant-garde-button-white( href='http://online.wsj.com/articles/carter-cleveland-says-art-in-the-future-will-be-for-everyone-1404762157' ) Read Full Article on WSJ.com