extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'static'
  - bodyClass = bodyClass + ' body-no-header body-no-margins'

block body
  figure#future-of-art-cover-banner
    img( src='/images/future-of-art-banner.jpg' )
    figcaption
      a( href='/artwork/jon-rafman-okeeffe-antechamber' ) Jon Rafman, O'keeffe Antechamber, 2013
      | . Image Courtesy Of Zach Feuer
  #future-of-art-copy
    #future-of-art-copy-text
      h1 6 Reasons the Future of Art Is for Everyone
      h2
        a( href='/' ) Artsy
        |  founder Carter Cleveland writes that the Internet holds the promise of a world where art is as ubiquitous as music is today
      img#future-of-art-carter( src='/images/future-of-art-carter.png' )
      small By Carter Cleveland
      p Before talking about the future of art, I'd like to draw your attention to the past, to another form of human expression: music.
      p Pre-20th century, the music world in the West resembled the art world today. If you listened to professional music, were informed about the genre and attended performances, you were part of an elite class.
      p Today, it's hard to imagine a world where listening to music has anything to do with class. Not everyone can afford front-row seats to a Justin Timberlake concert, but everyone knows his music. You can ask anyone on the street about their favorite band and watch their eyes light up. In con
    a.avant-garde-button-white( href='http://online.wsj.com/articles/carter-cleveland-says-art-in-the-future-will-be-for-everyone-1404762157' ) Read Full Article on WSJ.com