@require '../../components/stylus_lib'
@require '../../../lib/palette'

.fsfs-metadata
  text('text')
  display block
  margin getSpace(1, 0, 2, 0)
  padding-right getSpace(2)
  text-decoration none

.fsfs-contextual-label
  margin-top getSpace(2)

.fsfs-partner-name
  font-weight bold

.fsfs-partner-name
.fsfs-show-name
.fsfs-running-dates
  overflow ellipsis

.fsfs-show-name
.fsfs-closing-date
.fsfs-street-address
.fsfs-running-dates
  color getColor('black60')

.fsfs-warning
  color getColor('red100')
