.slider
  .slider__top
    .slider__top__name.avant-garde-s-headline #{name}
    .slider__top__label.garamond-l-caption
      //- rendered on the client
  .slider__slider
    //- rendered on the client
