@import '../stylus_lib'

.contact-header
  margin default-modal-padding default-modal-padding 20px default-modal-padding

#contact-errors
  color red-color
  text-align center

.contact-form
  margin 0 default-modal-padding default-modal-padding default-modal-padding
  border-bottom @border-top
  > span
    margin 0 5px
    color gray-dark-color
  input
    margin-bottom 10px
  textarea
    margin 15px 0
    height 150px

#contact-errors
  margin-bottom 10px

#contact-submit
  margin-top 10px
  padding 12px 0

// Large message after success
.contact-success-message
  .modal-dialog
    padding 20px
    font-size 36px
    text-align center
    background-color transparent
    color white

// Only displayed on inquiries
.contact-iph
  display table

.contact-iph-icon
.contact-iph-body
  display table-cell
  vertical-align middle

.contact-iph-body
  padding-right 10px

.contact-iph-icon img
  height 60px

.contact-artwork-details
.contact-show-details
  clearfix()
  img
    height 45px
    float left
    margin-right 15px

.mcf-email
  color #aaa

.contact-from
  margin-bottom 10px