@require '../../../components/merry_go_round'

carousel-height = 400px
small-screen-arrow-offset = 13px
large-screen-arrow-offset = 90px
// Structure

.gpc-bumpers
  position absolute
  width 100%
  z-index 1
.gpc-bumper-next
.gpc-bumper-prev
  position absolute
  page-margin = 55px
  width page-margin - small-screen-arrow-offset
  @media screen and (min-width: 1440px)
    page-margin = 150px
    width page-margin - large-screen-arrow-offset
  @media screen and (min-width: 1660px)
    page-margin = 200px
    width page-margin - large-screen-arrow-offset
  height carousel-height
  background-color white
  border 1px solid gray-lighter-color
  cursor pointer
  user-select none
  > i
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
.gpc-bumper-next
  border-right 0
  left 100%
  transform translateX(small-screen-arrow-offset)
  @media screen and (min-width: 1440px)
    transform translateX(large-screen-arrow-offset)
.gpc-bumper-prev
  border-left 0
  right 100%
  transform translateX(-(small-screen-arrow-offset))
  @media screen and (min-width: 1440px)
    transform translateX(-(large-screen-arrow-offset))

.galleries-primary-carousel
  position relative
  width 100%
  height carousel-height
  block-margins(60px)

.gpc-overlays
  position absolute
  top 0
  right 66.66%
  bottom 0
  left 0
  height 100%
  display flex
  align-items center
  text-align center

.gpc-carousel
  position absolute
  top 0
  right 0
  bottom 0
  left 33.33%
  height 100%

// Overlays
.gpc-overlay
  margin 0 auto
  display none

// Carousel
.gpc-carousel-cell
  position relative
  display inline-block
  height carousel-height
  width 100%

.gpc-carousel-figure
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  background-size cover
  background-position center center
  transition transform 1s

// Typography
.gpc-headline, .gpc-subheadline, .gpc-subheadline-alt
  display block
  text-decoration none

.gpc-headline
  margin 20px 0
  garamond-size('headline')
.gpc-subheadline
  margin 5px 0
  avant-garde-size('body')
.gpc-subheadline-alt
  garamond-size('l-body')
  font-style italic
.gpc-follow-button
  margin 20px 0
