.galleries-primary-carousel.js-galleries-primary-carousel
  .gpc-overlays
    for show, i in shows
      .gpc-overlay.js-gpc-overlay( data-idx= i )
        a.gpc-headline(href=show.related().partner.get('default_profile_id'))
          = show.related().partner.get('name')
        a.gpc-subheadline(href= '/show/' + show.get('id'))
          | Current Show
        a.gpc-subheadline-alt(href= '/show/' + show.get('id'))
          = show.get('name')
        button.gpc-follow-button.avant-garde-button-white.is-small.follow-button( data-id= show.related().partner.get('default_profile_id') )

  .gpc-carousel
    .gpc-carousel-cells.js-mgr-cells
      for show in shows
        .gpc-carousel-cell.js-mgr-cell
          if show.isWithImages()
            - var imageUrl = show.hasImage('featured') ? show.imageUrl('featured') : show.imageUrlForMaxSize()
            .gpc-carousel-figure(
              style='background-image: url(' + imageUrl + ')'
            )

  .gpc-bumpers.js-gpc-navigation
    .gpc-bumper-prev.js-gpc-prev: i.icon-chevron-small-left
    .gpc-bumper-next.js-gpc-next: i.icon-chevron-small-right
