extends ../../../components/layout/templates/main.jade

append locals
  - assetPackage = 'mobile_user'

block content
  #settings
    .main-side-margin
      h1.avant-garde-header-center
        | Account

      a#settings-log-out.avant-garde-box-button.js--settings-logout
        | Log Out

      nav#settings-link-container.chevron-nav-list
        a(href="/about") About Artsy
        a(href="/about/press") Partner with Artsy
        a(href="/terms") Terms and Conditions
