
#modal.accept-conditions-register
  .modal-body
    display flex
    flex-direction column
    padding 50px
    justify-content space-between
    min-height 266px
    .avant-garde-header-center
      garamond()
      font-size 22px
      font-weight 600
      text-transform none
      letter-spacing: 0px
    .accept-conditions-register--title
      padding 0 20px
      line-height 28px
    .accept-conditions-register--form
      margin-top auto
      .avant-garde-button-black.is-disabled
        background #e5e5e5
        font-size 12px
