.accept-conditions
  margin 30px auto !important
  .artsy-checkbox
    display flex
    justify-content center
    align-content center
    color: gray-darker-color
    // unset default hover style that encompasses entire wrapper
    &:hover .artsy-checkbox--checkbox > label:after
      opacity 0
    // override the checkmark hider if hovering on link while + checked
    .artsy-checkbox--checkbox input:checked + label
      z-index 3
    &--label
      position relative
      // common styles for label and <a>
      &, a
        garamond()
        font-size 14px
        color gray-darker-color
        display inline-block
        text-transform initial
        letter-spacing normal
      .artsy-checkbox--checkbox
        margin-right 8px
      // --label wraps input for this implementation; use it for hover style
      &:hover .artsy-checkbox--checkbox > label:after
        opacity .1
      // Cover up the checkbox hover state if hovering on a link
      & > a:hover::before
        content: ''
        z-index 2
        width 16px
        height 16px
        background white
        position absolute
        left 2px
        top 2px
    &.error
      color red-color
      .artsy-checkbox--checkbox
        background red-color
      .artsy-checkbox--label
      .artsy-checkbox--label a
        color red-color
  .accept-conditions--message
  .accept-conditions--message a
    text-align center
    garamond()
    color gray-darker-color
    font-size 14px
