@require '../../../components/stylus_lib'
@require '../../../components/credit_card/stylesheets'
@require './conditions_of_sale_checkbox'
@require './accept_conditions_of_sale_modal'

#main-layout-footer
  display none

.auction-bid-clock-container
  position fixed
  bottom 50px
  right 50px
  width auto
  height auto

  &.is-almost-over .clock-value
    color red-color

#auction-registration-page
  margin-bottom: 100px
  margin-top: 0px
  h2.garamond-header-center
    margin-bottom 35px

  .registration-form-header
    padding-top 10px
    padding-bottom 10px
    text-transform uppercase
    letter-spacing 2px
    font-size 14px

  .avant-garde-header-center
    font-size: 24px
    margin-top: 25px
    margin-bottom: 25px

  p.note
    margin-top: 9px
    margin-bottom: 18px

  p.registration-info
    garamond-size('s-body')
    color: gray-darker-color
    margin-top: 9px
    margin-bottom: 18px

  .bid-input-container
    position relative
    .bid-dollar-sign
      garamond()
      position absolute
      top: 12px
      left: 13px
      font-size: 21px
      color gray-dark-color
    .max-bid
      padding-left 30px
  .bid-input-help-text
    color: gray-dark-color
    margin-top 8px
    margin-bottom 0px

  .bid-section-header
    font-size 21px
    margin-top 23px
    padding-top 30px
    border-top 1px solid gray-lighter-color

  .current-bid
    margin-top 10px
    margin-bottom 10px
    .bid-group-label, .bid-group-content
      display inline-block
    .bid-group-content
      margin-left 4px

  .bidding-question, .note
    margin-bottom 10px
    color: gray-dark-color
    font-style italic

  .bidding-question
    text-decoration underline

  .small-artwork-container
    border-top 1px solid gray-lighter-color
    border-bottom 1px solid gray-lighter-color
    padding 16px 0px
    img
      max-width 40px
    .artist
      avant-garde()
      font-size 13px

  .bidder-positions-count
    color gray-dark-color

  .user-bid-input-container
    .bid-group-label
      font-weight bold
      display inline-block
      width 134px
      vertical-align top
    .bid-group-content
      display inline-block
      width 200px
      vertical-align top
    .bid-group-value
      font-size: 21px
      margin-bottom: 6px

  .bordered-bid-form-group.max-bid
    .bid-group-label
      margin-top 12px

  .bordered-bid-form-group.current-bid, .bordered-bid-form-group.max-bid
    border-bottom 1px solid gray-lighter-color
    padding-top: 5px
    padding-bottom: 12px

.auction-support-max-bid
  width calc(100% \- 170px)

.auction-support-max-bid-label
  margin-right 38px
  margin-top 20px
  padding-top 10px

.credit-card-form label
  &.auction-support-max-bid
  &.auction-support-max-bid-label
    display inline-block
    vertical-align center

#auction-buyers-premium
  max-width 500px
  margin 100px auto

.auction-support-artwork
  padding 20px 0
  border-top 1px solid gray-lighter-color
  border-bottom 1px solid gray-lighter-color
  height 150px

.auction-support-artwork-img
  height 100px
  margin-right 20px
  float left

.auction-support-artwork-bid
  margin-top 16px

.auction-support-details
  serif('l-caption')

.auction-support-artwork-reserve
  color gray-dark-color

.auction-support-lot-num
  sans('s-headline')
  margin-bottom 2px

.auction-bid-form-container .registration-form-content:last-child
  margin-top 30px

.registration-form-content
  .avant-garde-button-black.is-disabled
    background #e5e5e5

@media (max-width: 600px)
  #auction-registration-page
    .bid-registration-form
      max-width 100%
    .bid-registration-form-header h2
      line-height 1.2em
    .registration-form-header
      text-align center
    .order-input-section
      display block
      width 100%

 .body-eigen
   #auction-registration-page
     margin-top 110px
