@require '../../../components/stylus_lib'

#main-layout-footer
  display none

.auction-bid-clock-container
  position fixed
  bottom 50px
  right 50px
  width auto
  height auto

  &.is-almost-over .clock-value
    color red-color

#auction-buyers-premium
  max-width 500px
  margin 100px auto