@require '../../../components/main_layout/stylesheets/index'
@require './grid_styles'

.collect-art__svg-icon
  display inline
  vertical-align middle
  margin-right 10px

.collect-art-responsive-layout-container
  .collect-art-main-layout-container
    margin 0 auto
    max-width 1250px
  margin 0 20px
  @media screen and (min-width: 768px)
    margin 0 55px
  @media screen and (min-width: 1440px)
    margin 0 150px
  @media screen and (min-width: 1660px)
    margin 0 200px

.collect-art-show-on-mobile
  display none
  @media screen and (max-width: 768px)
    display inherit

.collect-art-show-on-desktop
  display inherit
  @media screen and (max-width: 768px)
    display none

.collect-art-text-center-on-mobile
  text-align inherit
  @media screen and (max-width: 768px)
    text-align center

.gallery-partnerships2-white-signup-button
  avant-garde-size('body')
  display inline-block
  width 190px
  height 45px
  line-height 45px
  background-color white
  color black
  text-align center
  text-decoration none

.gallery-partnerships2-black-signup-button
  @extends .gallery-partnerships2-white-signup-button
  background-color black
  color white

.collect-art-buttons
  width 270px
  height 45px
  box-sizing border-box
  > i
    margin-left 0

//.ba__email-signup-button
//  @extends .avant-garde-button
//  @extends .collect-art-buttons
//  padding 0 15px
//  line-height 45px
//  margin-right 20px
//  background-color #ffffff
//  transition background-color .25s,color .25s
//  .collect-art__svg-icon
//    width 23px
//    height 17px
//    display inline-block
//    vertical-align text-bottom
//  &:hover
//    .collect-art__svg-icon
//      background-position 0 17px
//    color white
//    background-color #6e1fff

background-size-cover()
  background-position center
  background-repeat no-repeat
  background-size cover

.gallery-partnerships2__header
  background-size-cover()
  height 630px
  color white
  display flex
  align-items center
  position relative

  .icon-logotype
    color white
    font-size 35px
    position absolute
    top 30px
    left 30px
  &__content-container
    max-width 615px
    text-align center
    margin 0 auto
  &__title
    garamond-size('xxl-headline', true)
    margin-bottom 20px
  &__signup-buttons
    display inline-block
    margin-top 35px
  &__chevron
    position absolute
    bottom 20px
    left 0
    width 100%
    text-align center
    opacity 0.5
    i
      font-size 46px
      &::before
        transform rotate(90deg)
        display inline-block

.gallery-partnerships2__intro
  padding 100px 160px
  text-align center
  img
    margin 0 auto
  &__title
    margin 17px 0 12px

.gallery-partnerships2__gallery-logos
  text-align center
  height 130px
  line-height 130px
  background-color #f8f8f8
  img
    display inline-block
    vertical-align middle
    transform: scale(0.5)

.gallery-partnerships2__connect-with-collectors
  height 610px
  display flex

  &__image
    flex 1
    display flex
    justify-content center
    img
      align-self flex-end
  &__content_container
    display flex
    flex 1
    &__wrapper
      width 450px
      align-self center
  &__content
    margin 10px 0 20px


//.collect-art-intro
//  height 800px
//  display flex
//  align-items center
//  justify-content center
//  position relative
//  &__desktop-background-image
//    background-size-cover()
//    height 800px
//    width 100%
//    position absolute
//    z-index -1
//    left 0
//    top 0
//  &__mobile-background-image
//    background-size-cover()
//    height 560px
//    width 100%
//    position absolute
//    z-index -1
//    left 0
//    top 0
//  &__title
//    garamond-size('xl-headline')
//    max-width 387px
//    margin 0 auto
//    text-align center
//    margin-bottom 20px
//  &__subtitle
//    garamond-size('s-headline')
//    text-align center
//  &__stat_container
//    display flex
//    margin-top 20px
//    margin-left auto
//    margin-right auto
//    width 750px
//    height 100px
//  &__stat
//    flex 1
//    display flex
//    flex-direction column
//    justify-content center
//    text-align center
//    border-right 1px solid gray-lighter-color
//    &:last-child
//      border none
//  &__stat-number
//    garamond-size('l-headline')
//  &__desktop-type
//    avant-garde-size('s-headline')
//    justify-content center
//  &__mobile-type
//    avant-garde-size('s-headline')
//    justify-content center
//  &__signup-button-container
//    margin-top 25px
//    text-align center
//
//.collect-art-benefits
//  background-color gray-lightest-color
//  padding-top 50px
//  overflow-x hidden
//  &__title
//    garamond-size('xl-headline')
//    margin-bottom 35px
//  &__benefits-container
//    max-width 365px
//    margin-top 45px
//    padding-bottom 45px
//  &__items
//    img
//      display inline-block
//    margin 0 0 45px
//    &:last-child
//      margin-bottom 0
//  &__info-subtitle
//    avant-garde-size('m-headline')
//    margin-bottom 5px
//  &__info-content
//    garamond-size('l-body')
//  &__image-section
//    position relative
//    img
//      position absolute
//      left 0
//      bottom 0
//
//.collect-art-faqs
//  padding-top 25px
//  margin-bottom 30px
//  &__image-banner
//    text-align center
//    img
//      display inline-block
//      max-width 100%
//  &__title
//    garamond-size('xl-headline')
//    padding-top 70px
//    max-width 500px
//  &__items-container
//    padding-top 55px
//  &__item-grid
//    margin-right 70px
//  &__item-title
//    garamond-size('headline')
//    margin-bottom 12px
//  &__item-content
//    garamond-size('l-body')
//    margin-bottom 55px
//
//.collect-art-footer
//  background-size-cover()
//  height 390px
//  position relative
//  &__desktop-background-image
//    background-size-cover()
//    height 390px
//    width 100%
//    position absolute
//    z-index -1
//  &__mobile-background-image
//    background-size-cover()
//    height 390px
//    width 100%
//    position absolute
//    z-index -1
//  &__title
//    garamond-size('l-headline')
//    padding-top 110px
//    max-width 430px
//    margin-bottom 27px
//  .icon-logo
//    position absolute
//    bottom 20px
//    left 20px
//
//@require './mobile'

