.auction2-list-artwork
  display table
  height 200px
  text-align left
  width 100%
  border-bottom 1px solid gray-lighter-color
  garamond-size('s-body')
  a
    text-decoration none

  &__image-container, &__metadata, &__lot-number
    display table-cell
    vertical-align middle
    width 25%

  &__image > img
    max-height 150px
    max-width 200px
    margin auto

  &__lot-number
    avant-garde()
    font-size 13px
    color black
    margin-bottom 2px
    text-align center

  .auction2-bid-status
    display table-cell
    vertical-align middle
    text-align right
