@import '../../stylus_lib'

tab-height = 46px
dark-border-color = #333
color-transition-duration = 0.2s

.filter-artworks-nav-container
  border 1px solid light-gray-border-color
  display inline-block

.filter-artworks-nav-button
  transition color color-transition-duration
  &:hover, &:focus, &:active
    color highlight-color

.filter-artworks-nav-button, .filter-artworks-nav-dropdown
  display inline-block
  border-right 1px solid light-gray-border-color
  avant-garde()
  font-size 13px
  padding 13px 20px 10px 20px
  &:last-child
    border none

.filter-artworks-nav-dropdown
  position relative
  &:hover
    background black
    color white
    nav
      display block
  nav
    background black
    position absolute
    top (tab-height - 1)
    left 0
    width 280px
    display none
    border-top 1px solid dark-border-color
  a
    color white
    garamond()
    font-size default-garamond-font-size
    text-transform none
    display block
    border-bottom 1px solid dark-border-color
    padding 13px 20px 10px 20px
    transition background-color color-transition-duration
    &:hover, &:active, &:focus
      background #262626