nav.filter-nav.filter-artworks-nav
  a.filter-button.filter-artworks-nav-allworks All Works
  .filter-dropdown.filter-artworks-nav-price
    .filter-nav-main-text Price
    .filter-nav-active-text
    .icon-arrow-down
    nav
      a( data-range='' )
        span.filter-dropdown-text All Works
        span.filter-dropdown-count
        span.icon-check
      a( data-range='-1:1000' )
        span.filter-dropdown-text Under $1,000
        span.filter-dropdown-count
        span.icon-check
      a( data-range='1000:5000' )
        span.filter-dropdown-text $1,000 to $5,000
        span.filter-dropdown-count
        span.icon-check
      a( data-range='5000:10000' )
        span.filter-dropdown-text $5,000 to $10,000
        span.filter-dropdown-count
        span.icon-check
      a( data-range='10000:50000' )
        span.filter-dropdown-text $10,000 to $50,000
        span.filter-dropdown-count
        span.icon-check
      a( data-range='50000:1000000000000' )
        span.filter-dropdown-text Over $50,000
        span.filter-dropdown-count
        span.icon-check
      a( data-range='-1:1000000000000' )
        span.filter-dropdown-text All for Sale
        span.filter-dropdown-count
        span.icon-check
  if mediums
    .filter-dropdown.filter-artworks-nav-medium
      .filter-nav-main-text Medium
      .filter-nav-active-text
      .icon-arrow-down
      a( data-size='' )
        span.filter-dropdown-text All Mediums
        span.filter-dropdown-count
        span.icon-check
      for name, slug in mediums
        nav
          a( data-medium=slug ) name
            span.filter-dropdown-count
            span.icon-check
  .filter-dropdown.filter-artworks-nav-size
    .filter-nav-main-text Size
    .filter-nav-active-text
    .icon-arrow-down
    nav
      a( data-size='' )
        span.filter-dropdown-text All Sizes
        span.filter-dropdown-count
        span.icon-check
      a( data-size='24' )
        span.filter-dropdown-text Small
        span.filter-dropdown-count
        span.icon-check
      a( data-size='48' )
        span.filter-dropdown-text Medium
        span.filter-dropdown-count
        span.icon-check
      a( data-size='84' )
        span.filter-dropdown-text Large
        span.filter-dropdown-count
        span.icon-check