@import '../../../../components/stylus_lib'

#artwork-contact-form
  margin 5px 0
  input
  textarea
    width 100%
    margin-bottom 10px
  textarea
    margin-bottom 5px
  button
    margin-bottom 10px

#artwork-contact-form-errors
  color red-color
  padding-bottom 7px

.artwork-contact-buy-button
.artwork-contact-button
  margin-bottom 12px
  border-bottom 1px dotted
  border-color transparify(gray-lighter-color, black)
  padding-bottom 7px
