@import '../../../../components/stylus_lib'

#artwork-contact-form
  input, textarea
    width 100%
    margin-bottom 10px
  textarea
    margin-bottom 5px
  h2
    font-size default-avant-garde-font-size
  h3
    margin-bottom 10px
  button
    margin-bottom 10px

#artwork-contact-form-errors
  color bad-red-color
  padding-bottom 7px