//- Contact Gallery form
if artwork.isContactable()
  form#artwork-contact-form
    h2.avant-garde-header Contact Gallery
    h3= artwork.get('partner').name
    unless user
      input.bordered-input( placeholder='Your full name' autofocus='autofocus' name='name' )
      input.bordered-input( placeholder='Your email address' name='email' )
    textarea.bordered-input( rows=5 )
      | Hello, I'm interested in this work
      if artwork.get('artist')
        | &nbsp;by #{artwork.get('artist').name}
      |. Please confirm availability and pricing of this work.&nbsp;
    if user
      p From: #{user.get('name')}
    #artwork-contact-form-errors
    .artwork-contact-button
      button.avant-garde-button-black Request Info

//- Buy
if artwork.get('acquireable')
  a.avant-garde-button-black.artwork-buy-button.artwork-contact-buy-button
    | Buy

//- Contact a specialist link
if artwork.get('inquireable')
  p Questions? We are here to help.
  .artwork-inquiry-button
    a( href="/artwork/#{artwork.id}/inquire" data-client rel='nofollow' )
      | Ask an Artsy Specialist
