.consignments2-header, .consignments2-footer
  position relative
  padding gutter
  text-align center
  background-color black
  color white
  height 440px
  display flex
  justify-content center
  align-items center
  flex-direction column
  background-size cover
  background-repeat none
  background-position right

  &__consign-button
    avant-garde-size('body')
    background-color white
    color black
    min-width 195px
    &:hover
      color purple-color
      background-color white

  &__headline
    max-width 750px
    margin-bottom 15px
    garamond-size('xl-headline')

  &__subheadline
    garamond-size('s-headline')

  &__cta
    margin gutter 0
    > h3
      margin (gutter / 2) 0
      avant-garde-size('m-headline')
    input
      background-color white

.consignments2-sections
  text-align center
  // `.responsive-layout-container`-ish
  margin 0 auto

  h4
    garamond-size('headline')

.consignments2-section
  padding 60px 55px

  &__content
    margin 0 auto
    max-width 1100px

  &__consign-button.avant-garde-button-black
    avant-garde-size('body')
    background-color black
    color white
    min-width 195px
    margin-top 0px
    &:hover
      color purple-color

  &__about
    &__headline
      margin-bottom 38px
      garamond-size('xl-headline')

      @media screen and (max-width: 768px)
        font-size 40px

    &__description
      block-margins(gutter)
      garamond-size('l-body')

  &__images
    > img
      display inline-block
      max-width 100%
      vertical-align bottom

    &.consignments2-section__images--logos
      display flex
      justify-content space-around
      align-items center

      img
        display block
        height auto
        width 100%

    &__logo-wrap
      width 23%
      max-width 180px

.consignments2-steps
  padding gutter
  border-bottom 1px solid gray-lighter-color

  &__headline
    garamond-size('l-headline')

  &__steps
    display flex
    justify-content center
    max-width 1100px
    margin 0 auto

    &__step
      text-align center
      &__image
        max-width 100%
        display inline-block
        width 80px
        margin-bottom 15px

      &__title
        avant-garde-size('body')

      &__description
        margin 10px 0 20px
        > span
          float left
          margin-right gutter
          garamond-size('xxl-headline')
        > p
          padding 0 20px
          garamond-size('l-body')

.consignments2-how-consignments-work
  padding-top 60px
  padding-bottom 60px

  .consignments2-section__consign-button
    margin-top 20px

.consignments2-logos
  background-color gray-lightest-color
  padding-top 60px
  padding-bottom 60px

  .consignments2-section__about__headline
    margin-bottom 60px

.consignments2-top-sales
  margin-left auto
  margin-right auto
  max-width 1100px

  .consignments2-section__about__headline
    margin-bottom 0px

  .consignments2-section__consign-button.avant-garde-button-black
    margin-top 35px

.consignments2-recently-sold
  padding-top 20px
  max-width 1700px
  margin 0 auto

  &__artworks
    display flex
    overflow hidden
    flex-wrap wrap
    height 270px
    justify-content center
    padding-top 10px

    &__artwork
      text-align left
      garamond-size('m-caption')
      color gray-darker-color
      padding 0 10px
      padding-top 20px
      position relative
      height 270px

      &__data
        padding-top 10px
        position absolute
        max-width 100%
        padding-right 15px

        > *
          overflow ellipsis

      &__artists
        font-weight bold

      &__title
        font-style italic

.consignments2-in-demand
  padding-top 20px
  padding-bottom 70px

  h4
    padding-bottom 15px

  &__artists
    display flex
    flex-wrap wrap
    height 415px
    overflow hidden
    justify-content center

    &__artist
      padding 15px

      h4
        padding-top 10px
        avant-garde-size('body')
        max-width 150px

     img
        width 150px
        height 150px
        -webkit-clip-path circle(70px at center)

.consignments2-upcoming-sales
  height 480px
  color white
  padding-top 60px
  background-size cover
  background-position right

  &--mobile
    @media screen and (min-width: 641px)
      display none

  &__content
    min-width 400px
    text-align left

    @media screen and (max-width: 960px)
      width 100%
      margin-left 0px

  &__sales
    max-width 900px
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items flex-start

    &__sale, &__button
      width 45%
      min-width 250px
      padding-right 10px
      max-width 420px

    &__sale
      padding-bottom 40px
      h5
        avant-garde-size('body')
      p
        garamond-size('l-body')

.consignments2-section__questions
  padding-top 80px
  padding-bottom 70px
  text-align left

  &__button-wrapper
    text-align center
    @media screen and (min-width: 641px)
      display none

  &__header-section
    display flex
    justify-content space-between

    .consignments2-section__about, .consignments2-section__questions__crt-photos
      width 45%
      padding-right 10px
      max-width 420px

  &__crt-photos
    display flex

    &__photo1, &__photo2
      padding-right 20px

    &__photo1
      @media screen and (max-width: 768px)
        display none

  &__sections
    display flex
    flex-wrap wrap
    justify-content space-between

    &__section
      width 45%
      padding-bottom 40px
      padding-right 10px
      max-width 420px

      h4
        padding-bottom 15px
