// styling overrides for multi-page view in desktop and mobile
mpv-height = 665px
mpv-padding = 20px
// narrow mpv height based on 1024 x 768 viewport
// to catch some differing FAQ lengths
mpv-height-narrow = 710px

.consignments2-page
  .faq-multi-page
    min-height mpv-height
    border-top 1px solid gray-lighter-color
    @media screen and (max-width: smallBreakpoint)
      min-height mpv-height-narrow
    .js-multi-page-embed
      margin auto
      width 80%
      padding mpv-padding 0
      min-height mpv-height - (mpv-padding * 2)
      @media screen and (max-width: smallBreakpoint)
        width 90%
        min-height mpv-height-narrow - mpv-padding
      .mpv-page
        height: mpv-height - (mpv-padding * 2)

  @media (max-width: 640px)
    .faq-multi-page, .faq-multi-page .js-multi-page-embed .mpv-page
        height unset
      .faq-multi-page
        border-top 1px solid gray-lighter-color
        .js-multi-page-embed
          width 100%
          padding 0
          min-height unset
          .multi-page-view
            position unset
            .mpv-container
              display unset
              margin 0 20px
              .mpv-sidebar
                display unset
                width unset
                padding-right unset
                .mpv-title
                  garamond-size('headline')
                .mpv-description  // there is no description right now
                  margin 20px 0
                  garamond-size('s-body')
                  > p
                    block-margins(10px)
                .mpv-nav
                  margin 20px 0 0 0
      .mpv-page
        display block
        width 100%
        border unset
        padding unset
      .mpv-page-content
        margin-top 10px
        h1
          display none
        h2
          garamond-size('s-body')
          font-weight bold
        p
          margin-bottom 20px
          garamond-size('s-body')
      .mpv-content.is-active .mpv-page-content
        display block

      .mpv-content
        border-top 1px solid gray-lightest-color
        border-bottom 1px solid gray-lightest-color

      .mpv-content-nav.chevron-arrow-button
        avant-garde-size('m-headline', true)
        padding 20px 0
        position relative
        height auto

        &::after
          right 0
          width 15px
          background-color gray-color

      .js-page.is-active::after
        transform rotate(90deg) translateX(-15px) translateY(5px)
