#partner2-artists
  .partner2-artists-list
    margin-bottom 60px
    border-bottom 1px solid gray-lighter-color
    .artists-group
      padding-bottom 30px
    .artists-group-label
      text-align left
  .partner2-artist-container:last-child
    .partner2-artist
      border none
  .partner2-artist
    margin-bottom 30px
    border-bottom 1px solid gray-lighter-color
  .partner2-artist-info, .partner2-artist-artworks
    margin-bottom 30px
  .partner2-artist-info-left, .partner2-artist-info-right
    display inline-block
    vertical-align top
  .partner2-artist-info-left
    width (100 / 3) %
  .partner2-artist-info-right
    width (100 / 3 * 2) %
    padding-left (100 / 30) %
  .partner2-artist-artworks
    min-height 300px
  .partner2-artist-name
    avant-garde()
    text-decoration none
  .follow-button
    margin-top 20px
  .partner2-artist-blurb
    margin-bottom 10px
  .partner2-artist-blurb-postfix
    color gray-darker-color
    font-style italic
