#partner
  .partner-header
    padding-top 30px
    margin-bottom 40px
    .partner-brand-container
      margin-bottom 40px
    .partner-info
    .partner-icon
    .partner-actions
    .partner-nav
      display inline-block
      vertical-align middle

    .partner-info
      width calc(100% \- 170px)
      margin-right 30px
    .partner-name
      font-size 37px
      line-height 1.5
    .partner-locations
      font-size 15px
      color gray-darker-color
      line-height 1.5
      min-height 1.5em
    .partner-icon
      text-align center
    .profile-badge-icon
      display inline-block
      width 140px
      height 140px
      line-height @height
      vertical-align top
      img
        max-width 100%
        max-height 100%

    .partner-actions
      width 300px
      margin-right 30px
    .follow-button
      margin-right 15px
    .partner-followers
      display inline-block
      color gray-darker-color
    .partner-nav
      width calc(100% \- 330px)
      text-align right
