#partner-overview
  .partner-overview-section
    min-height 425px
    margin-bottom 60px
    border-top 1px solid gray-color
    &:first-child
      border-top none

  .partner-overview-section-title
  .partner-overview-section-view-all
    display inline-block
    margin 15px 0 20px 0
    vertical-align middle

  .partner-overview-section-title
    garamond-size('headline')
    width calc(100% \- 100px)

  .partner-overview-section-view-all
    garamond-size('l-caption')
    width 100px
    text-align right
