#partner-overview
  .partner-overview-container
    display flex
    flex-wrap wrap
  .partner-overview-section
    min-height 425px
    margin-bottom 60px
    border-top 1px solid gray-color
    flex 0 1 100%
    &[data-module=hero]
    &[data-module=about]
    &[data-module=news]
      border-top none
    &[data-module=about]
      flex-basis 720px
      margin-right 40px
    &[data-module=news]
      flex 1 1 0
      .partner-overview-section-title
        display none
    &[data-module=about]
    &[data-module=news]
      min-height 100px
      .partner-overview-section-title
        avant-garde-size('m-headline')
    &[data-module=about] + [data-module=news]
      .partner-overview-section-title
      .partner-news
        display block
      .partner-news-item
        border-top 1px solid gray-lighter-color
        padding 15px 0
        margin 0

  .partner-overview-section-title
  .partner-overview-section-view-all
    display inline-block
    margin 15px 0 20px 0
    vertical-align middle

  .partner-overview-section-title
    garamond-size('headline')
    width calc(100% \- 100px)

  .partner-overview-section-view-all
    garamond-size('l-caption')
    width 100px
    text-align right
