.partner2-shows
  .partner-shows-heading
    garamond-size('headline')
    line-height 2.5
  .partner-shows-section
    margin-bottom 50px
    border-top 1px solid gray-lighter-color
    a
      text-decoration none

    .partner-shows-section-heading
      garamond-size('headline')
      line-height 2.5

    .partner-show
      box-sizing content-box
      display inline-block
      vertical-align top
      width 30%
      margin 0 0 5% 0
      padding 0 2.5%
      &:nth-child(3n+1)
        padding-left 0
      &:nth-child(3n)
        padding-right 0
      &:nth-last-child(-n+3)
        margin-bottom 0

    .partner-show-cover-image
      background-size cover
      background-position 50% 40%
      padding-bottom 70%
      margin-bottom 15px
      position relative
      img
        display none

    .partner-show-overlay
      position absolute
      top 0
      bottom 0
      width 100%
      background-color black
      opacity 0
      transition opacity 0.3s ease-in-out
      &:hover
        opacity 0.4

    .partner-show-caption
      margin-bottom 20px

    .partner-show-heading, .partner-show-name, .partner-show-time
      line-height 1.1
      margin-bottom 10px

    .partner-show-heading
      avant-garde-size('body')

    .partner-show-name
      garamond-size('l-body')
      font-style italic
      margin-bottom 5px
      word-wrap break-word

    .partner-show-time
      garamond-size('s-body')

    .loading-spinner
      display none

  // Special treatment for the featured section
  .partner-shows-section.featured
    padding-top 50px
    text-align center
    .partner-show-heading
      display none

    .partner-show
      width 100%
      padding 0
      margin 0

    .partner-show-cover-image
      padding-bottom 45%
      float right
      width 60%
      margin-bottom 0

    .partner-show-caption
      float right
      position relative
      top 120px
      width 37%
      margin-right 3%

    .partner-show-name
      font-size 50px
      margin-bottom 20px

  .partner-shows-see-all
    a
      font-size 13px
      &:hover:before
        border-bottom-width 2px
        margin-top 0.6em
