#partner-shows

  // Override .partner-shows styles
  .partner-shows
    .partner-shows-section
      margin-bottom 100px
      .partner-show-heading
        display none
    .partner-shows-section.featured
      margin-bottom 50px
    .partner-shows-see-all
      display none
