.marketing-signup-modal-left(
  style="background-image: url(#{image});"
)
  if photoCredit
    p.marketing-signup-modal-left__photo-credit(style="color: #{textColor}; opacity: #{textOpacity};")= photoCredit
.marketing-signup-modal-right
  .marketing-signup-modal-right__logo.icon-logotype
  h2.marketing-signup-modal-h2= copy
  include ../auth_modal/templates/_gdpr_signup.jade
  include ../auth_modal/templates/_signup_footer.jade
