divider-height = 40px
@import '../auth_modal/gdpr_signup.styl'
//  ^ Move signup form specific stuff up here ^
.marketing-signup-modal-container
  .modalize-dialog
    width 900px
    @media screen and (max-width 768px)
      width 450px

.marketing-signup-modal-container-mobile
  .modalize-dialog
    max-width 100%
    max-height 100%

.marketing-signup-modal
  text-align center
  display flex
  align-items stretch
  &-left
    flex 0 1 450px
    background-size cover
    background-position-x left
    background-position-y calc(100% \+ 1px)
    @media screen and (max-width 768px)
      display none
  &-left__photo-credit
    position absolute
    bottom 0px
    left 15px
    color black
    font-weight bold
    font-size 13px
    max-width 300px
    text-align left
    line-height normal
  img
    width 100%

  &-right
    padding 30px
    flex 0 0 450px
    @media screen and (max-width 768px)
      flex 0 1 450px

    &__logo
      margin-top 10px

  &-h2
    margin-top 20px
    margin-bottom 20px
    garamond-size('headline')

  &-divider
    width 100%
    height divider-height
    position relative
    color transparent
    &:before
      content '.'
      color transparent
      border-top 1px solid gray-lighter-color
      position absolute
      width 100%
      left 0
      top (divider-height / 2)
    &:after
      content 'or'
      avant-garde()
      avant-garde-size('s-headline')
      color gray-darker-color
      text-align center
      background white
      position absolute
      width 60px
      height divider-height
      line-height divider-height
      left calc(50% \- 35px)
      top 0
      z-index 1

  &-small
    display block
    margin 10px 0 20px 0
    color gray-darker-color
    garamond-size('l-caption')

  &-have-account
    color gray-darker-color

  &-container.modalize
    z-index zindex-flash !important

  &-container .icon-close
    font-size 18px
    top -10px
    right @top
//verify this with proper .env
  p.auth-mode-toggle
    line-height 40px
    color red
    font-size 17px
    a
      text-decoration none
      avant-garde()
      avant-garde-size('s-headline')
      font-size 13px
      line-height inherit
      color inherit
