@require '../components/stylus_lib'

.a-to-z-row
  width 100%
  padding 40px 0
  border-top 1px solid gray-color
.a-to-z-row-letter
.a-to-z-column
  display inline-block
  width 25%
  vertical-align top
.a-to-z-row-letter
  text-transform uppercase
  font-size 50px
  line-height 1
.a-to-z-item
  font-size 17px
  vertical-align top
  color gray-darker-color
  a
  span
    display block
    padding 5px 20px 5px 0
    text-decoration none
    overflow ellipsis
    transition color 0.125s
  a
    color black
    &:hover
      color purple-color
