@require '../../../components/stylus_lib'
@require '../../../components/search_bar'
@require './small_screen_header'

#main-layout-header
  background-color white
  position absolute
  width 100%
  top 0
  left 0
  z-index zindex-primary-nav
  border-bottom 1px solid gray-lighter-color

html[data-hide-hero-units]
  #main-layout-header
    border-bottom 1px solid transparent
    transition border-bottom 300ms
    padding 10px 0
    &.visible
      border-bottom 1px solid gray-lighter-color
    #main-layout-search-bar-container
      visibility hidden
      opacity 0
      &.visible
        visibility visible
        opacity 1
        transition visibility 0s linear 0s, opacity 300ms
    .avant-garde-button-black
      display none

.mlh-navbar
  align-items center
  display flex
  @media (max-width: nav-bar-break - 1)
    display none

.mlh-navbar-cell
  white-space nowrap

#main-layout-header-left
  flex-grow 1
  max-width 750px
  #main-layout-header-minimal-title
    display none

#main-layout-header-home-logo
  flex-shrink 0
  display inline-block
  height header-logo-icon-size
  width home-logo-size
  text-align center
  text-decoration none
  vertical-align middle
  > svg
    height header-logo-icon-size
    width header-logo-icon-size
#main-layout-header-center
  padding 0 20px 0 30px
  flex-grow 0
#main-layout-header-center
.main-layout-header-user
  avant-garde()
.main-layout-header-user
  height 100%
  flex-grow 0
  flex-shrink 0
  margin-left auto
  padding 0 10px

.mlh-nav-link
  position relative
  display inline-block
  padding 15px 10px
  vertical-align middle
  text-decoration none
  font-size 13px
  line-height 1
  &.is-active
    color purple-color
.mlh-top-nav-link
  @extends .mlh-nav-link
  &:hover
  &:active
  &:focus
    color purple-color
.mlh-login.avant-garde-button-white
.mlh-signup.avant-garde-button-black
  margin-right 10px
  padding 12px 30px
  width auto
.mlh-user-name
  @extends .mlh-nav-link
  padding 11px 10px
  position relative
  text-align center
  &:hover #main-layout-header-user-nav
    display block
.mlh-notification
  @extends .mlh-nav-link
  padding 10px 10px
  position relative
  text-align center
  flex-grow 0
  flex-shrink 0
  margin-left auto
  &.hover-pulldown[data-anchor='right']
    &:before
      border none
    .hover-pulldown-menu
      padding-bottom 0px
      right -38px
      width 300px
  svg
    fill black
  .hpm-header
    cursor default
  .hpm-view-all
    text-align center
    border-top 1px solid gray-darkest-color
    padding 20px 0px
    avant-garde-size('body')
.mlh-notification ~ .main-layout-header-user
  margin-left 0
  padding-left 0
.mlh-hamburger
  @extends .mlh-nav-link
  padding 8px 20px
  position relative
  text-align center
  white-space nowrap
  border-left  1px solid transparify(gray-lighter-color, black)
  svg
    fill black
    width 25px
    height 30px
.mlh-bundle-count
  avant-garde()
  display none
  font-size 10px
  background-color purple-color
  border-radius 50px
  width 19px
  height 19px
  position absolute
  top 1px
  right 2px
  line-height 19px
  color white
.mlh-bundle-count[data-visible=true]
  display block

.mshr-garamond-nav-link
  display inline-block
  margin 0 10px
  text-decoration none
  vertical-align middle

@media (max-width: 600px)
  .body-responsive #main-layout-header-center
    display none
