minimal-header-logo-height = 30px
minimal-header-logo-width = 88px

#main-layout-minimal-header
  align-items center
  display flex
  width 100%
  max-width 1192px
  margin auto
  padding 35px 40px 0px 40px
  @media screen and (max-width: 768px)
    padding 35px 20px 0 20px
  .logo
    flex-shrink 0
    display inline-block
    height minimal-header-logo-height
    width minmal-header-logo-width
    > svg
      height minimal-header-logo-height
      width minimal-header-logo-width
