.mlh-small-screen
  @media (min-width: nav-bar-break)
    display none

#main-header-menu-small-screen
#main-layout-container
  transition transform 0.2s @ease-out-cubic

#main-header-menu-small-screen
  z-index 0
  position absolute
  top logo-size
  left 0
  right 0
  background-color black
  visibility hidden

  // initally retracted
  transform translate3d(0, -100%,  0)
  &.is-active
    visibility visible

  a
    color white
    display block

  .mlh-small-screen-menu-logged-in
    border-top 1px solid gray-darkest-color

  .mlh-small-screen-menu-inner
    padding 20px
    clearfix()

  .mlh-small-screen-menu-username
    avant-garde()
    font-size 16px
    color white

  .mlh-small-screen-menu-item
    width 50%
    float left
    garamond()
    font-size 20px
    line-height 2
    text-decoration none


.minimal-header
  #main-header-search-form
    position relative !important

  #main-layout-search-bar-container,
  #main-header-menu-button,
  #main-header-menu-small-screen
    display none

#main-header-small-screen
  background-color white
  position relative
  align-items center
  z-index 1

  #main-layout-header-home-logo
    z-index 1
    position absolute
    width logo-size + 1
    height logo-size
    border-right 1px solid gray-lighter-color
    > svg
      margin-top content-margin-top

  #main-header-search-box
    position relative
    height logo-size
    padding 18px 80px 14px 70px
    border 0
    margin 0
    background transparent
    width 100%
    font-size 16px

  #main-header-search-box::-webkit-search-cancel-button
    display none

  #main-header-search-button
    z-index 4
    background-color white
    position absolute
    top 0
    bottom 0
    right 0
    padding-left 15px
    padding-right @padding-left
    border-left 1px solid gray-lighter-color
    display none

  #main-header-menu-icon
    display inline-block
    vertical-align middle
    position relative
    font-style normal
    color #000
    text-align left
    text-indent -9999px
    direction ltr
    width 20px
    height 4px
    box-shadow inset 0 0 0 7px,0 -7px,0 7px
    margin 16px 7px

  #main-header-menu-button
    padding 12px
    position absolute
    right 0
    top 0
    width logo-size
    height logo-size
    border-left 1px solid gray-lighter-color
    -webkit-tap-highlight-color rgba(0,0,0,0)
