.auction2-page-ListArtwork
  padding-left 10px
  text-decoration none
  display flex
  justify-content flex-start
  align-items center
  height 140px
  text-align left
  width 100%
  border-bottom 1px solid gray-lighter-color
  garamond-size('s-body')
  color gray-darker-color

  +respond-mobile()
    flex-direction row
    height 124px

  a
    text-decoration none

  &__image-container
    width 20%

    +respond-desktop()
      min-width 200px

  &__image > img
    max-height 100px
    max-width 200px
    margin auto

    +respond-mobile()
      padding-right 20px
      width 100px
      height auto

  &__metadata
    overflow hidden
    margin-left 10%
    text-align left
    font-size 15px
    padding-right 20px

    +respond-desktop()
      width 44%

    > *
      +respond-desktop()
        overflow ellipsis

    +respond-mobile()
      margin-left 0
      width 80%
      white-space normal

  &__artists
    font-weight 600

  &__artists, &__title, &__bid-status
    +respond-mobile()
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      garamond-size('l-caption')

  &__bid-status
    position relative
    top -2px

  &__lot-number
    avant-garde()
    font-size 11px
    margin-bottom 0px
    text-align left
    position relative

    +respond-desktop()
      width 7%

    +respond-mobile()
      font-size 10px
      margin-bottom 2px

  .auction2-bid-status
    text-align left

    +respond-desktop()
      width 23%

.auction2-page-list-artwork.auction2-open
  .auction2-page-list-artwork__metadata
    +respond-desktop()
      width 45%

  .auction2-page-list-artwork__lot-number
    +respond-desktop()
      width 25%
