.all-genes-title
  font-size: 33px
  padding: 24px 0
  text-align: center

.all-genes-subtitle
  font-size: 24px
  padding-bottom: 60px
  text-align: center

.a-to-z-row:first-child
  border-top: 1px solid #CCC