extends ../../components/main_layout/templates/index

block head
  include meta

block locals
  assetPackage = 'genes'

block body
  #featured-partners.main-layout-container
    header.featured-partners-header
      h1.all-genes-title All Genes
      h2.all-genes-subtitle
        | Learn more about the 
        a( href="/theartgenomeproject" ) The Art Genome Project

    section.all-genes-list
      include ../../components/a_to_z_list/template
