- var range = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('')
- range.unshift('0-9')

for letter in range
  - var group = aToZGroup[letter]
  if group
    .az-partner-group
      .az-partner-group-header
        = letter

      .az-partner-group-column
        for partner in group
          a.az-partner-group-row.js-partner(
            data-id= partner.id
            href= partner.href()
          )
            include partner
