extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'home'
  - bodyClass = bodyClass + ' body-no-margins body-header-fixed body-transparent-header' + (heroUnits.length && heroUnits[0].mode.match('LIGHT') ? '-white' : '')

block body
  include hero_units

  #home-foreground
    #home-hero-units-controls( data-length= heroUnits.length )
      ul#home-hero-unit-dots
        for x, i in heroUnits
          li.hhu-dot( class=(i == 0 ? 'hhud-active' : '') )

    #home-layout-container.responsive-layout-container
      .main-layout-container: #home-body
        include featured_links
        unless user
          include browse
    include rails
    #home-layout-container.responsive-layout-container
      .main-layout-container: #home-body
        #js-home-featured-shows
          // loaded by HomeView#setupFeaturedShows (template: /templates/featured_shows.jade )
        #js-home-featured-articles
          // loaded by HomeView#setupFeaturedArticles (template: /templates/featured_articles.jade )

  include ../../../components/main_layout/templates/json_ld
