@require '../components/stylus_lib'
@require '../components/artwork_item/save_controls'
.rva-header
  color gray-darker-color
  padding-top 30px
  margin-bottom 20px
.rva-container
  padding-bottom 50px
  padding-left 55px
  background-color gray-lightest-color
.rva-artwork-image-container
  display inline
  img
    display inline
  .overlay-container
    position relative
    display inline
    right 45px
    bottom 25px
    