@require '../../../components/stylus_lib'
@require 'artsy-ezel-components/spinners'

#personalize-page
  transition opacity 0.25s
  &[data-state='fade-in']
    opacity 1
  &[data-state='fade-out']
    opacity 0
  &[data-state='loading']
    > *
      opacity 0.125
      pointer-events none
    &:after
      display block
      content ''
      spinner()

.personalize-frame
  padding 40px
  background-color white
  transition opacity 0.25s

.personalize-initial-logotype
  display block
  text-align center
  font-size 50px
  line-height 1

.personalize-header
  text-align center
  margin 40px 0
  > h2
    avant-garde()
    font-size 13px
    letter-spacing 1px
  > h1
    avant-garde()
    margin 10px 0
    font-size 20px
    line-height 1
  > aside
    color gray-darker-color

.personalize-step
  width 400px
  margin auto
  > aside
    margin 20px 0
    font-size 22px

.personalize-continue
  margin-top 10px

.personalize-skip
  position fixed
  z-index 1
  top 80px
  right 100px
  force-hardware-acceleration()
  &, &:hover
    background-color white

@require './followable'
@require './suggestible'
@require './price_range'
@require './categories'
@require './favorites'
@require './introduction'
