@require '../../../../lib/palette'

.auction-Registration
  text('text')

  +respond-mobile()
    padding-bottom getSpace(2)

    &:after
      content ''
      border-bottom 1px solid getColor('black10')
      width 120%
      right 0
      position absolute
      padding-top getSpace(2)

  &__wrapper
    border 1px solid getColor('black10')
    padding getSpace(2, 2, 1)

    +respond-desktop()
      margin-bottom getSpace(2)

    +respond-mobile()
      border none
      margin-top getSpace(1.5)
      padding 0


  &__small
    color getColor('black60')
    padding-top getSpace(2)
    text-align center

    +respond-mobile()
      padding-top getSpace(1.5)

    &_warning
      color getColor('yellow100')

  &__preview
    p
      margin-bottom getSpace(1.5)
    .bordered-input
      margin-bottom getSpace(1.5)

  &__approved
    color getColor('green100')

    +respond-desktop()
      margin-bottom getSpace(2)
      padding-left getSpace(2)

    +respond-mobile()
      margin-top getSpace(1)
      padding-left 0

      .icon-check
        display none

    .icon-check
      color getColor('green100')
      width 23px
      border 2px solid
      border-color @color
      border-radius @width
      font-size 9px
      height @width
      margin-right 8px
      padding 3px
      position relative
      top -2px

  &__how-to-bid
    display block
    margin getSpace(0, 0, 2, 0)
    text-decoration none

    img
      display inline-block
      height 40px
      margin-right getSpace(1.5)
      vertical-align middle

  &__wrapper + &__how-to-bid
    margin-top getSpace(3)

  &__how-to-bid, &__question
    margin-left getSpace(2)
