.auction-inline-metadata
  .auction-clock.js-auction-clock
    include ../../../components/auction_clock/template

  unless auction.isAuctionPromo()
    .auction-bidding-link: a( href='/how-auctions-work' )
      | How bidding works

.auction-tabs.js-auction-tabs
  include ../../../components/avant_garde_tabs/nav

  .avant-garde-tabs-list( data-list='sale info' )
    include metadata/description
    include metadata/note
    include metadata/associated

  .avant-garde-tabs-list.avant-garde-tabs-list--active( data-list='lots' )
    .auction-artwork-list.js-auction-artwork-list
      - artworks = artworks.models
      include ../../../components/auction_artwork_list/templates/index
