@require '../components/stylus_lib'

banner-box-width = 375px
banner-box-height = 105px
// I
one-width = 150px
one-height = 56px
one-arrow-size = 40px
// II
two-height = 64px
two-width = 65px
// III
three-width = banner-box-width - (one-width - two-width)
three-height = 72px

close-size = 50px
close-border-width = 3px
message-padding = ((three-height - close-size) / 2)

.zig-zag-banner
  position absolute
  top 0
  left 0
  width banner-box-width
  height banner-box-height
  margin-left -(@width + 10)
  margin-top -(one-height / 2)
  pointer-events none
  z-index 3
  transform translate3d(0, 0, 0)
  
  &.zig-zag-backwards
    transform rotateY(180deg)
    .zzb-message
      transform rotateY(180deg)
      padding 0 message-padding 0 (message-padding * 1.5)

  &.is-done
    .zzb-message
      opacity 1

.zzb-one
.zzb-two
.zzb-three
  transition width 0.3s ease-in-out
  overflow hidden
  width 0
  pointer-events all

.zzb-one
  position absolute
  top 0
  right 0
  height one-height
  &.is-in
    width one-width

.zzb-arrow
  position absolute
  top 0
  right one-arrow-size
  width (one-width - one-arrow-size)
  height one-height
  background-color purple-color
  // Hack to anti-alias the arrow-head in Firefox
  -moz-transform scale(.9999)
  &:after
    display block
    position absolute
    left 100%
    content ''
    width 0
    height 0
    border solid transparent
    border-top-width (one-height / 2)
    border-bottom-width (one-height / 2)
    border-left one-arrow-size solid purple-color

.zzb-two
  position absolute
  height 100%
  left (banner-box-width - one-width)
  &.is-in
    width two-width
  &:after
    display block
    position absolute
    content ''
    background-color darken(purple-color, 65%)
    height two-height
    width three-width
    transform rotate(27deg)
    transform-origin 0 0

.zzb-three
  position absolute
  height three-height
  bottom 0
  right (banner-box-width - three-width)
  background-color purple-color
  &.is-in
    width three-width

// Banner content
.zzb-message
  position absolute
  top 0
  bottom @top
  left (((three-height - close-size) / 2) + close-size)
  right 0
  padding 0 (message-padding * 1.5) 0 message-padding
  garamond()
  text-transform none
  text-align left
  color white
  line-height 1.1
  font-size 16px
  white-space normal
  letter-spacing 0
  opacity 0
  transition opacity 0.5s

.zzb-close
  display block
  position absolute
  top ((three-height - close-size) / 2)
  left @top
  width close-size
  height close-size
  background-color white
  color purple-color
  border close-border-width solid purple-color
  cursor pointer
  text-align center
  &:hover
    border-color white
  > .icon-close
    font-size 26px
    line-height (close-size - (close-border-width * 2))
