@require '../../../components/stylus_lib'
@require './development'

.inquiry-page
  margin (main-header-height + 20px) 0

.body-eigen .inquiry-page
  margin 20px 0

.iqm-alert
  position absolute
  top 50%
  left 0
  right 0
  transform translateY(-50%)
  text-align center
  garamond-size('l-body')
