@require '../../../components/stylus_lib'

.inquiry-details-info-artist_name
  avant-garde()
  
.user-outcome-option
  avant-garde()
  border: solid 2px gray-lightest-color
  font-size 13px
  margin-bottom 10px
  line-height 48px
  text-align left
  padding-left 10px
