@import '../stylus_lib'

// Disable scroll on body when open
body.is-modal
  overflow hidden

#modal
  z-index 3
  &[data-state='open'], &.is-open
    > .modal-backdrop
      opacity 1
      > .modal-dialog
        // Avoid transitioning the initial open
        transition all 0.25s, width 0

  &.is-loading
    > .modal-backdrop::before
      display block
      content ''
      spinner(20px, 5px, #fff)

#modal
.modal-backdrop
  position fixed
  top 0
  right 0
  bottom 0
  left 0

.modal-backdrop
  background-color rgba(0, 0, 0, 0.5)
  opacity 0
  transition opacity 0.25s

.modal-dialog
  position fixed
  overflow-y auto
  background-color #fff
  max-width 90%
  max-height 90%
  prevent-content-shift()
  &.is-notransition
    transition none !important

.modal-close
  position absolute
  top 0
  right 0
  padding 20px
  font-size 65px
  cursor pointer
  transition opacity 0.25s
  &:hover
    opacity 0.5

.modal-dialog
.modal-body
  transition opacity 0.25s
  &[data-state='fade-out'], &.is-fade-out
    opacity 0
  &[data-state='fade-in'], &.is-fade-in
    opacity 1
