- index = index || 0

a.mgr-arrow-left.icon-chevron-left.js-mgr-prev(
  disabled= contain && isStart
)

.mgr-dots
  unless contain
    for x, i in new Array(length)
      .mgr-dot.js-mgr-select(
        class= (index === i ? 'is-active' : undefined)
        data-index= i
      ) •

a.mgr-arrow-right.icon-chevron-right.js-mgr-next(
  disabled= contain && isEnd
)
