@require '../../../components/stylus_lib'

left-column-width = 400px
browse-container-width = 663px
browse-container-height = 442px

#fair-organizer-page
  margin 0px auto
  width feed-max-width

.fair-organizer-feature-image
  position absolute
  top 0px
  left 0px
  width 100%
  height 600px
  min-width feed-max-width
  background linear-gradient(to bottom, #ffffff 0%, #e4e4e4 100%)
  background-size cover
  @media screen and (max-width: 1024px)
    min-width 1124px

.fair-organizer-top
  position relative
  height 537px  // 600px - 67px
  bottom 0

.fair-organizer-top__icon img
  width 120px
  height auto

.fair-organizer-top__header
  font-size 35px
  large-garamond-header()
  line-height 45px
  margin-top 15px
  margin-bottom 15px
  max-width 330px

.fair-organizer-top__sub-header, .fair-organizer-top__notify, .fair-organizer-top__countdown
  margin-bottom 20px

.fair-organizer-top__sub-header
  width 300px

.fair-organizer-top__left
  width left-column-width
  position absolute
  top 45px
  left 0

.fair-organizer-top__right
  position absolute
  right 0px
  bottom 8px
  height 500px
  width (feed-max-width - left-column-width)

.fair-organizer-top__right__header-img
  background gray-lighter-color
  position absolute
  bottom 0px
  left 0px
  height browse-container-height
  width browse-container-width
  background-color #000
  background no-repeat center center
  background-size cover

  &:hover
    > .img
      opacity 0.5

.fair-organizer-content
  clearfix()
  padding-top 45px


.fair-organizer-content__header
  font-size 30px
  line-height 34px

.fair-organizer-content__date,
.fair-organizer-content__header,
.fair-organizer-content__copy,
.fair-organizer-content__copy p
  padding-bottom 15px

.fair-organizer-content__left
  width left-column-width
  float left
  padding-right 100px

.fair-organizer-content__right
  width (feed-max-width - left-column-width)
  float right

  .fair-organizer-content__header
    padding-bottom 0px

.fair-organizer-content__section
  margin 15px 0 40px
  padding-top 40px
  border-bottom 1px solid gray-lightest-color
  border-top 1px solid gray-lightest-color

.past-fairs--fair-image-grid
  display inline-block
  position relative
  width 50%
  height 200px
  margin-bottom 40px

  a
    display inline-block

.past-fairs--fair-year, .past-fairs--fair-name
  avant-garde()
  color white
  font-size 18px
  position absolute
  bottom 10px
  left 15px
  max-width 150px

.past-fairs--fair-image-grid__inner
  position absolute
  width 100%
  height 100%
  top 0
  left 0

.fair-large-image-left
  float left
  height 100%
  width 200px
  background-size cover
  background-position center

.fair-small-images-right
  float left
  width 30%
  height 100%
  position relative
  background-size cover
  background-position center

.fair-small-image
  width 100%
  height 50%
  position relative

.fair-small-image__inner
  height 100%
  width 100%
  background-position center center
  background-size cover

.fair-organizer-content__section--app
  border-bottom 1px solid gray-lightest-color

  .mobile-section-iphone
    width 170px
    height 165px
    vertical-align bottom
    display inline-block
    background-repeat no-repeat
    background-position center

  .fair-organizer-content__section--app__copy
    display inline-block
    font-size 23px
    vertical-align top
    margin-top 30px
    line-height 30px
    text-decoration none

.fair-organizer-content__section--articles
  figure
    margin-bottom 30px
    border-bottom 1px solid gray-lightest-color
    padding-bottom 30px

.fair-organizer-top__countdown__clock .clock-header
  border 0
  padding 0
  margin 20px 0
  text-align left

.fair-organizer-top__countdown__clock .clock
  width 190px
  margin-top 10px
  white-space nowrap
