.ac-artist-information
  margin-bottom 3px
.ac-artist-name
  avant-garde-size('body')
  text-decoration none
  display block
.ac-artist-information
  min-height 63px
.ac-followers
  color gray-darker-color
.ac-follow-button
  width 100%

.ac-artist-name
.ac-bio
.ac-followers
  overflow hidden
  text-overflow ellipsis
  white-space nowrap