.artist-cell-item
  a.hoverable-image-link( href= artist.href )
    .hoverable-image.is-four-three.is-cropped(
      data-initials= artist.initials
      style= artist.image && 'background-image: url(#{artist.image.url})'
    )

  .ac-artist-information
    a.ac-artist-name( href= artist.href )
      = artist.name
    .ac-bio
      if artist.nationality
        = artist.nationality
      if artist.nationality && artist.birthday
        | ,&nbsp;
      if artist.birthday
        = "b. " + artist.birthday
    .ac-followers
      = artist.counts.artworks + ' works'
      if artist.counts.artworks != artist.counts.for_sale_artworks
        = ', ' + artist.counts.for_sale_artworks
      |  for sale
  a.ac-follow-button.avant-garde-follow-button-black.follow-button.is-small(
    data-id= artist.id
  )