.publish-modal
  .modal-close
    display none

  .modal-dialog
    padding 15px
    text-align center
    color white
    background-color black
    h3
      font-size 22px
    p
      margin 15px 0

  .stacked-button-menu
  .stacked-button-menu > a
    margin-bottom 0
