extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'artist_new'
  - bodyClass = 'body-header-fixed-no-margin'

block body
  .artist-page
    .artist-page-menu
      include ./menu
    .artist-page-content
      unless tab
        include ./overview

  include ../../../components/main_layout/templates/json_ld