#artist-page-section-about.artist-page-section
  h3.artist-section-header About
  .artist-page-section__content
    .bisected-header
      if artist.get('blurb')
        .bisected-header-cell
          .artist-blurb!= artist.mdToHtml('blurb')

      .bisected-header-cell
        .artist-related-genes.related-links
          //- Rendered client-side
        .artist-related-representations.related-links
          //- Rendered client-side

#artist-page-section-works.artist-page-section
  h3.artist-section-header Works
  .artist-page-section__content
    //- rendered on the client

#artist-page-section-shows.artist-page-section
  h3.artist-section-header Shows on Artsy
  .artist-page-section__content
    //- rendered on the client

#artist-page-section-articles.artist-page-section
  h3.artist-section-header Related Articles
  .artist-page-section__content
    //- rendered on the client

#artist-page-section-more-info.artist-page-section
  h3.artist-section-header More Info
  if artist.get('auction_lots_count')
    a.faux-underline( href="/artist/#{artist.id}/auction-results" )
      | Auction Results for #{artist.get('name')}
  #artist-related-last-modified.artist-page-section__content
    //- rendered on the client

#artist-page-section-artists.artist-page-section
  h3.artist-section-header Related Artists
  .artist-page-section__content
    //- rendered on the client

#artist-page-section-contemporary.artist-page-section
  h3.artist-section-header Suggested Contemporary Artists
  .artist-page-section__content
    //- rendered on the client
