    image: "hokusai_force:${BUILD_TAG:-latest}"
    build:
      context: ../
      target: "${BUILD_TARGET}"
      args:
        - SENTRY_AUTH_TOKEN=${SENTRY_AUTH_TOKEN:-}
        - SENTRY_RELEASE=${CIRCLE_SHA1:-}