@import '../../../components/stylus_lib'

#notifications-page
  margin-top 20px

#notifications-published-artworks
  margin-top 20px

.notifications-works-added
  color dark-gray-text-color
  margin-bottom 10px

.notifications-list-item
  .notifications-artist-link
    avant-garde()
    font-size avant-garde-font-size
    margin-bottom 20px
    text-decoration none
  .notifications-publish-date
    float right
    text-transform none
    color dark-gray-text-color
    garamond()
    letter-spacing 0px
    font-size 15px
  border-top 1px solid light-gray-border-color
  padding-top 20px
  margin-bottom 20px

.notifications-see-more
  text-align right
  margin-right 20px

.chevron-arrow-button
  avant-garde()
  font-size avant-garde-font-size
  margin-bottom 20px
  text-decoration none
  &::after
    background light-gray-border-color
    width 20px
    height 20px
    margin-top 1px
