@require '../../../components/stylus_lib'

browse-container-width = 663px
browse-container-height = 442px
overview-container-height = (browse-container-height / 2)
small-section-height = (browse-container-height / 2)
left-column-width = 200px
gutter-size = 30px

.feature-image
  position absolute
  top 0px
  left 0px
  width 100%
  height 601px
  min-width feed-max-width
  background linear-gradient(to bottom, #ffffff 0%, #e4e4e4 100%)
  background-size: cover
  @media screen and (max-width: 1024px)
    min-width 1124px

#main-layout-header.microsite-header
  @media screen and (max-width: 1024px)
    width 1124px

#main-layout-header
  min-width feed-max-width

.fair-sections-container
  max-width feed-max-width
  margin: 0px auto
  position relative
  padding-left left-column-width
  margin-top 70px
  .fair-sections-small-heading
    font-size 22px
    margin-bottom 16px
  .sections-left, .sections-right
    width: 50%
    display inline-block
    vertical-align top
  .sections-left
    border-right 1px solid gray-lighter-color
    .section-left-info-nav
      display flex
      h2
        garamond-size('s-headline')
        width 50%
        margin-top 5px
      .fair-nav-info-menu
        width 50%
        padding-right 30px
        a
          border-style none
  .sections-right
    padding-left 6%
    .mobile-section-heading
      font-size: 23px
      width: 71%
      vertical-align: top
      display: inline-block
      margin-top: 30px
      line-height: 130%
    .mobile-section-iphone
      width: 29%;
      height: 165px
      vertical-align: top
      display: inline-block
  .fair-search-options
    column-count 2
    a
      display inline-block
      text-transform capitalize
      text-decoration none
      margin-bottom 5px
      width 100%
   .a-to-z-section-links
     text-decoration none
     margin-top 10px
     a
       text-decoration none
     .fair-spacer
       display inline-block
       padding 0px 5px

.fair-overview-top
  min-height browse-container-height
  overflow hidden
  position relative
  max-width feed-max-width
  line-height: 151%
  margin 29px auto 0px
  .fair-overview-top-left
    width left-column-width - 25px
    position absolute
    left 0px
    top 0px
    .profile-bio
      margin-top: 16px
    .fair-tagline
      font-style italic
      padding 10px 0px
      line-height 1.5
      font-size 16px
  .fair-overview-right
    position absolute
    left left-column-width
    top 0px
  .fair-name
    margin-top: 23px

.is-dark .fair-overview-top-left
  color white
  .clock-value small
    color white

html[data-useragent*="Firefox"]
  .fair-overview-top
    margin-top 28px

.overview-heading
  color white
  avant-garde()

.fair-overview-browse
  height browse-container-height
  width browse-container-width
  position relative
  display block
  text-decoration none
  .fair-overview-browse-image
    background gray-lighter-color
    position absolute
    top 0px
    left 0px
    height: browse-container-height
    width: browse-container-width
    background-color #000
    background no-repeat center center
    background-size cover
    &:hover
      > .img
        opacity 0.5
  .fair-overview-browse-heading
    bottom 45px
    left 27px
    position absolute
  .fair-overview-browse-subheading
    color white
    bottom 20px
    left 27px
    position absolute

.fair-overview-below-top-container
  position: relative
  max-width: feed-max-width
  min-width feed-max-width
  margin 0px auto
  .fair-overview-below-top
    margin-left left-column-width

.large-section
  width: 100%
  display inline-block
  height overview-container-height
  text-decoration none
  .large-section-heading
    avant-garde()
    font-size 13px
    margin-top 60px
  .large-section-subheading
    margin-top 10px
    font-size 28px
    line-height: 142%
    width: 80%

.container-left, .container-right
  width: 50%
  display inline-block
  vertical-align top
.container-right
  text-align right

.small-section
  width: 50%
  display inline-block
  height small-section-height
  width small-section-height
  position relative
  vertical-align top
  background-color #000
  text-decoration none
  &:hover
    img
      opacity 0.5
  img
    -webkit-backface-visibility hidden
    opacity 1
    transition opacity 0.3s
    height 100%
    width 100%
  .section-heading
    color white
    avant-garde()
    font-size 13px
    position absolute
    bottom 10px
    left 20px
    width: 90%
    text-align: left
  &.primary-section-top-right
    position: absolute
    top: -(small-section-height)
    right: 0px
    text-align: left

.for-you-container
  .foryou-section
    margin-top -1px
    margin-bottom 20px
    .artworks
      margin-top: 10px
      margin-bottom: 30px
    .large-garamond-header
      padding-top 30px
      padding-bottom 20px
      border-top 1px solid gray-lighter-color
      border-bottom 0px solid

.fair-overview-post-container
  margin-top 30px
  border-top 1px solid gray-lighter-color
  .posts-left-side, .posts-right-side
    display inline-block
    width 50%
    vertical-align top

  .posts-left-side
    width: 48%
    margin-right: 2%

  .large-post
    position relative
    color white
    text-decoration none
    display block
    background-color #000
    &:hover
      img
        opacity 0.5

    .section-heading
      bottom 50px
      left 20px
      position absolute
      font-size 22px
      width: 90%
      line-height: 133%
    .section-subheading
      bottom 20px
      left 20px
      position absolute

  .section-subheading
    avant-garde()
    font-size 13px

  .small-post
    text-decoration none
    margin-bottom 10px
    display block
    .small-post-img-container
      height 115px
      overflow hidden
      display inline-block
      background-color #000
      width 150px
    &:hover
      img
        opacity 0.5
    img
      display inline-block
      width 155px
    .post-text
      display inline-block
      vertical-align top
      border-bottom 1px solid gray-lighter-color
      height 128px
      margin-left: 20px
      width: 372px
      .section-heading
        font-size: 22px
        margin-top: 24px
      .section-subheading
        margin-top 3px
    &:last-child
      .post-text
        border-bottom 0px solid gray-lighter-color
  img
    width 100%
    opacity 1
    transition opacity 0.3s

.fair-overview-curator
  border-bottom 1px solid gray-lighter-color
  .overview-posts-link-container
    text-align right
    margin-top: 40px
    margin-bottom: 50px
  .overview-posts-link
    avant-garde()
    text-decoration none
    font-size 13px
  .section-heading, .section-subheading
    margin-left auto
    margin-right auto
  .small-section
    width 25%
    height auto
    text-align center
    color black
    background-color white
    border-right 1px solid gray-lighter-color
    text-decoration none
    &.sixth
      width: 16.6%
      border-right 0px solid gray-lighter-color
    &.fifth
      width: 20%
      border-right 0px solid gray-lighter-color
    &.quarter
      width: 25%
    &.third
      width: 33%
    &.half
      width: 50%
    &.full
      width: 100%
    &:last-child
      border-right 0px solid gray-lighter-color
    img
      width: 80px
      height: 80px
      border-radius: 40px
      margin: 0px auto
    .section-heading
      position relative
      color black
      bottom auto
      left auto
      margin-top 16px
      text-align center
    .section-subheading
      width: 90%

.overview-section-heading
  font-size: 30px
  margin-top: 35px
  margin-bottom: 35px

.overview-section-heading-small
  font-size 22px
  margin-bottom: 23px
  margin-top: 25px

.clock
  margin-top 15px
  text-align: left
  .clock-header
    text-transform: none
    font-size: 17px
    margin-bottom: 5px
  .clock-closed
    display none

.fair-follow
  width 100%
  height overview-container-height
  p
    garamond()
    font-size 22px
    padding-top 60px
    padding-bottom 30px

#fair-editorial-3-up, #fair-editorial-2-up, , #fair-editorial-1-up
  a
    text-decoration none
  h2
    font-size 24px
    margin gutter-size 0 5px 0
    line-height 1.4em
  h3
    avant-garde()
    font-size 11px

#fair-editorial-3-up
  grid-3-up(20px, gutter-size)
  padding-bottom 40px
  .grid-item
    img
      width 100%

#fair-editorial-2-up
  padding-bottom 40px
  article
    width 50%
    display inline-block
    vertical-align top
    &:first-child
      padding-right gutter-size
      border-right 1px solid gray-lighter-color
    &:last-child
      padding-left gutter-size
    img, .fair-editorial-2-up-right
      display inline-block
      vertical-align top
      width 50%
    .fair-editorial-2-up-right
      padding-left gutter-size

#fair-editorial-1-up
  margin-left left-column-width
  padding gutter-size 0
  .fair-editorial-1-up-left, img
    display inline-block
    vertical-align middle
    width 50%
  .fair-editorial-1-up-left h2
    font-size gutter-size
    padding-right 100px

.fair-overview-icon-spacer
  display inline-block
  width 109px
  height 20px
