@require '../../../components/stylus_lib'

//
// Search
// Auto-complete
#fair-search-container
  position relative
  // Fix for Firefox
  line-height 0
  &.is-loading
    #fair-search-spinner
      display block

  .twitter-typeahead
    display block
    width 100%
    height 100%
  .tt-hint
    display none
  .tt-dropdown-menu
    width 100%
    background-color #fff
    border 2px solid gray-lighter-color
    border-top none
  .tt-suggestion
    border-bottom 1px solid gray-lighter-color
    &:last-child
      border-bottom none
    &:hover
    &.tt-cursor
      background-color #000
      *
        color #fff

search-bar-input-placeholder()
  color transparify(gray-dark-color, black)

#fair-search-input
  placeholder(search-bar-input-placeholder)

#fair-search-spinner
  display none
  position absolute
  top 0
  right 0
  width 50px
  height 100%

.fair-search-results-container
  max-width feed-max-width
  margin: 0px auto

.search-results
  .garamond-header-center
    margin-top 50px
    margin-bottom: 120px
.fair-search-results
  border-top: 1px solid gray-lighter-color
  margin-top: 33px

.artsy-search-results
  .artsy-search-result
    position relative
    .search-result-artsy-link
      position: absolute
      right: 42px
      top: 41px
      font-size: 20px
      pointer-events: none
    &:hover
      color white

.search-query
  margin-top 50px
