.vam-outer: .vam-inner

  if mode === 'link'
    h3.cta-bar-headline
      = headline
    a.cta-bar-button.avant-garde-button-dark(
      href=user ? linkHref : '#' + linkHref
    )
      = linkCopy
    .cta-bar-defer: a( href='#' )
      | Maybe Later
  else if mode === 'editorial-signup'
    include ./editorial_signup.jade
  else
    h3.cta-bar-headline
      = headline
    form.cta-bar-form
      input.bordered-input( id="cta-bar-form-input" placeholder='Enter your email address...', type='email', name='email', required )
      button.avant-garde-button-dark Join Now
    .cta-bar-defer: a( href='#' )
      | Maybe Later
