.following-empty
  case type
    when "artists"
      p Follow artists to get notified about new shows and works
    when "genes"
      p Follow categories to improve your recommendations
    when "artworks"
      p Add works to your favorites by clicking on artworks
  .following-recommendation
    h2 Find something you like
    .recommended-artworks
