mixin empty(type)
  .following-empty(style!=attributes.style)
    case type
      when "artists"
        p Follow artists throughout Artsy to get updates about 
          | new available works and upcoming exhibitions.
      when "genes"
        p Follow genes throughout Artsy to get updates about
          | new available works and upcoming exhibitions.
      when "artworks"
        p 
    .following-hint
