extends ../../../components/main_layout/templates/index
include ./header
include ./empty

block head
  include meta

block locals
  assetPackage = 'following'

block body
  main.main-layout-container
    +following-tab-nav
    section.following(id=type)
