.artist-page-cta-banner
  .responsive-layout-container
    .main-layout-container
      img.artist-page-cta__image(src=artist.get('cta_image').thumb.url)
      div.artist-page-cta__headline Yes, tell me when Artsy adds new works by&nbsp;
        span.artist-page-cta__headline__artist-name #{artist.get('name')}&nbsp;
      button.avant-garde-button-black Sign Up
include ./overlay
