.artist-page-cta-overlay
  div.artist-page-cta-overlay__center
    div.artist-page-cta-overlay__headline Join Artsy to discover new works by&nbsp;
      span.artist-page-cta-overlay__headline__artist-name
        | #{artist.get('name')}&nbsp;
      | and more artists you love

    .artist-page-cta-overlay__content
      div.artist-page-cta-overlay__feed
        .artist-page-cta-overlay__feed__pulldown.hover-pulldown(data-state='active')
          span Works For You
          .artist-page-cta-overlay__feed__items.hover-pulldown-menu
            ul
              li
                - var image = artist.get('cta_image').thumb.url
                - var count = 7
                - var name = artist.get('name')
                include ./row.jade
              if artist.get('cta_artists')[0]
                li
                  - var image = artist.get('cta_artists')[0].image.thumb.url
                  - var count = 3
                  - var name = artist.get('cta_artists')[0].name
                  include ./row.jade

        include ../../main_layout/public/icons/bell.svg
        .artist-page-cta-overlay__feed__count 3

      include ./register.jade

span.artist-page-cta-overlay__close ×