img.artist-page-cta-overlay__feed__items__image(src=image)
div.artist-page-cta-overlay__feed__items__artist-count #{count} New Works
div.artist-page-cta-overlay__feed__items__artist-day Today
div.artist-page-cta-overlay__feed__items__artist-name
  | #{name}