.artist-page-cta-overlay__feed__items__row
  img.artist-page-cta-overlay__feed__items__row__image(src=image)
  .artist-page-cta-overlay__feed__items__row__artist-info
    .artist-page-cta-overlay__feed__items__row__artist-info__artist-count #{count} New Works
    .artist-page-cta-overlay__feed__items__row__artist-info__artist-day Today
    .artist-page-cta-overlay__feed__items__row__artist-info__artist-name
    | #{name}