.auction2-page-artworks
  clearfix()
  padding-top 0

  &--list
    +respond-desktop()
      padding-top 30px

  .loading-spinner
    clear both
    position relative
    margin-bottom 50px
    margin-top 20px
