.artsy-checkbox.cf-locations__checkbox
  .artsy-checkbox--checkbox
    - hasParams = selected && selected.length > 0
    input( type='checkbox', id='all', checked=!hasParams, disabled=!hasParams )
    label( for='all' )
  label.artsy-checkbox--label( for='all' ) All