@require '../../../components/tooltips'
@require '../../../components/typeahead'

.cf-locations__checkbox
  display block
  padding-bottom 10px
  &[data-has-results='false']
    color gray-dark-color
    > .artsy-checkbox--checkbox
      background #f1f1f1

.cf-locations__total
  color gray-dark-color

.cf-locations__title
  padding-bottom 10px
  display inline-block

.typeahead
  .tt-suggestion
    padding 15px
    border-bottom 1px solid gray-lighter-color
