#react-artwork-grid-columns
  != sd.stitch.components.ArtworkGrid({ artworks: artworks, mountId: 'react-artwork-grid-columns' })

if seeMore
  button.avant-garde-button-text.artwork-columns-see-more= buttonLabel
