- artworkSize = artworkSize || 'tall'
- setHeight = setHeight || false
- displayPurchase = displayPurchase || false
- isAuction = isAuction || false

if artworkColumns
  for column in artworkColumns
    .artwork-column
      for artwork in column
        if setHeight
          - artworkSize = artwork.defaultImage().imageSizeForHeight(setHeight)
        include ../artwork_item/templates/artwork

if numberOfColumns
  - for (var i = 0; i < numberOfColumns; i++)
    .artwork-column

if seeMore
  button.avant-garde-button-text.artwork-columns-see-more= buttonLabel
