.auction2-grid-artwork
  text-decoration none
  float left
  width 33.33%
  height 400px
  padding 15px
  text-align left
  margin-bottom 85px
  garamond-size('s-body')
  color gray-darker-color
  a
    text-decoration none

  &__image-container
    height 300px

  &__image > img
    max-height 260px
    margin auto
    max-width 100%

  &__metadata
    padding-top 30px

    > *
      overflow ellipsis

  &__lot-information
    display flex
    flex-direction row
    justify-content space-between
    align-items baseline
    border-bottom 1px dashed gray-lighter-color
    padding-bottom 5px
    margin-bottom 5px
    > *
      overflow ellipsis

  &__lot-number
    avant-garde()
    font-size 11px
    margin-bottom 2px

  .auction2-bid-status
    text-align right
    font-size 15px

  &__artists, &__title
    font-size 15px

  &__artists
    font-weight 600
