extends ../../../components/fair_layout/templates/conditional

block head
  include meta
  if article.get('tags') && article.get('tags').indexOf('noindex') >= 0
      meta( name='robots', content='noindex' )

append locals
  - assetPackage = 'article'
  - bodyClass = bodyClass + ' ' + article.getBodyClass({ superArticle: sd.SUPER_ARTICLE, superSubArticleIds: sd.SUPER_SUB_ARTICLE_IDS})

block body

  //- Render channel nav if article is in a team channel
  - var showClass = ''
  if channel && channel.isTeam()
    - showClass = 'is-team-channel'
    include ../../../components/channel_nav/index

  #articles-show(class=showClass)

    //- Article body
    #articles-body-container
      include ../../../components/article/templates/index

      //- Render banner for venice 2017 if article is in venice section
      if article.get('section_ids') && article.get('section_ids').includes(sd.VENICE_2015_SECTION)
        .venice-redirect-banner--article

    if sd.SCROLL_ARTICLE === "infinite"
      #article-loading: .loading-spinner

  section#articles-footer.responsive-layout-container
    //- Rendered on client

  include ../../../components/main_layout/templates/json_ld
