.articles-promoted.main-layout-container
  .articles-promoted__left
    img.articles-promoted__img(src=src)
    .articles-promoted__text
      .articles-promoted__title Promoted Content
      .articles-promoted__name= name
  .articles-promoted__right
    a.articles-promoted__explore(href=href)
      .articles-promoted__explore-button.avant-garde-button-white= "Explore " + type
      i.icon-chevron-right
