- var count = helpers.auction.count(sale_artwork);
- var is_sold = artwork.is_sold;

.artwork-auction__bid-status
  if is_sold 
    .artwork-auction__bid-status__closed
      | Sold
  else 
    .artwork-auction__bid-status__bid
      if sale_artwork.counts.bidder_positions
        | Current Bid
      else
        | Starting Bid

    .artwork-auction__bid-status__amount
      = sale_artwork.current_bid.display

    if count
      .artwork-auction__bid-status__count
        | (#{count})
