@import '../../../components/stylus_lib'

.af-name
  margin 20px 0
  font-size 26px
  > a
    text-decoration none

.af-metadata
  clearfix()
  margin 20px 0

.af-stats
.af-clock
  float left
  margin-right 40px

.af-clock .clock-header
  text-transform none
  font-size default-garamond-font-size
  text-align left

.af-stats-status
  avant-garde()
  font-size 11px

.af-go-button
  float right

.af-artworks
  height 260px
  display flex
  justify-content space-between
  flex-direction row
  align-items flex-start
  flex-wrap wrap
  overflow hidden

.af-artwork
  display inline-block
  inline-block-margins(10px)
  max-height 100%
  max-width 100%
