@import '../../../components/stylus_lib'

.af-name
  margin 20px 0
  font-size 26px
  > a
    text-decoration none

.af-metadata
  clearfix()
  margin 20px 0

.af-stats
.af-clock
  float left
  margin-right 40px

.af-clock .clock-header
  text-transform none
  font-size default-garamond-font-size
  text-align left

.af-stats-status
  avant-garde()
  font-size 11px

.af-go-button
  float right

artworks-height = 260px
.af-artworks
  height artworks-height
  overflow hidden
  fade-in()
.af-artwork
  display inline-block
  margin 0 10px artworks-height 0
  > img
    max-width 100%
    max-height 100%