@import '../../../components/stylus_lib'

.af-hero-image
  width 100%
.af-name
  margin 20px 0
  font-size 26px
.af-metadata
  clearfix()
  margin 20px 0
.af-stats
.af-clock
  float left
  margin-right 40px
.af-clock .clock-header
  text-transform none
  text-align left
  font-size inherit
.af-stats-status
  avant-garde()
  font-size 11px
.af-go-button
  float right

.aggregate-page-items-featured-set
  margin 0

.auctions-list
  block-margins(30px)
  .leader-dots-list-item
    font-size 18px
    &:after
      font-size 12px
      line-height 2.2

// Preview state
.auctions-placeholder
  display table
  width 100%
  margin 20px 0
.auctions-placeholder-metadata
.auctions-placeholder-hero
  display table-cell
  height 100%
  vertical-align middle
  text-align center
.auctions-placeholder-metadata
  width 33.33%
  padding 0 50px 0 20px
  > h2
    font-size 40px
    line-height 1.25
    // Visually center. Due to line-height and hard-edged bottom button
    margin -((@font-size * (@line-height - 1)) * 2) auto 10px
  > p
    margin 10px auto
    font-size 20px
    margin 20px 0
    padding 0 20px
    line-height 1.5
  > a
    white-space nowrap
.auctions-placeholder-hero
  width 66.66%
  > img
    width 100%

.apu-clock
  margin 20px 0 30px
  .clock-header
    display none
