extends ../../../components/layout/templates/main

block content
  .galleries-institutions-page
    h1.galleries-institutions-header.avant-garde-header-center
      = city.name

    .galleries-institutions-content.main-side-margin
      include ./partner_a_to_z.jade
