- url = partner.related().shows.featuredShow() ? partner.related().shows.featuredShow().imageUrl('medium') : ''

.az-partner-group-cell.az-partner-group__image(
  style="background-image: url(#{url})"
)

.az-partner-group-cell
  .az-partner-group-cell__metadata
    .az-partner-group-cell__name
      = partner.get('name')
    .az-partner-group-cell__location
      if partner.related().locations.length
        = partner.related().locations.getLocationAddressNearest(city.name)
      else
        | &nbsp;
