@import '../../../components/stylus_lib'

#fairs-page
  padding 40px 0

.fairs-page-header
  margin 40px 0
  font-size 36px

.fairs-page-subheader
  margin 30px 0
  avant-garde()
  font-size default-avant-garde-font-size

.fairs-page-fairs
  clearfix()
  margin 20px 0
.fairs-page-fairs-current
  float left
  width 75%
  padding-right 30px
  .fairs-page-subheader
    padding-bottom 30px
    border-bottom 1px solid gray-lighter-color
.fairs-page-fairs-upcoming
  float left
  width 25%
  padding-left 30px

// Upcoming fairs
.fpfu-fair
  display block
  text-decoration none
  margin 20px 0
  width 100%
  > h3
    font-weight bold

// Current fairs
.fpfc-fair
  width 100%
  height 350px
  margin 20px 0
  padding-bottom 20px
  border-bottom 1px solid gray-lighter-color
  clearfix()
.fpfc-fair-cell-left
.fpfc-fair-cell-center
.fpfc-fair-cell-right
  float left
  height 100%
.fpfc-fair-cell-left
  width 55%
.fpfc-fair-cell-center
  width 20%
  padding-left 5px
.fpfc-fair-cell-right
  width 25%
  padding-left 20px
  position relative

// Current fair components
.fpfc-button
  margin 20px 0

.fpfc-fair-small-image
  width 100%
  height calc('50% - 2.5px')
  &:last-child
    margin-top 5px

.fpfc-fair-small-image
.fpfc-fair-cell-left
  > .hoverable-image-link
  > .hoverable-image-link > .hoverable-image
    width 100%
    height 100%
    background-size cover
    background-position center center
    prevent-content-shift()

.fpfc-fair-cell-right
  // Clock overrides
  .auction-clock
    margin 20px 0
    text-align left
  .clock-header
    margin 5px 0
    text-transform none
    font-size default-garamond-font-size

.fpfc-fair-name
  margin-bottom 20px
  avant-garde()
  font-size default-avant-garde-font-size-font-size
