.cta-bar-container-editorial
  .cta-bar-header-editorial
    h2 Subscribe to the daily editorial newsletter
  .cta-bar-form-editorial
    input.bordered-input( id ="cta-bar-form-input" placeholder='Enter your email address', type='email', name='email', required value="#{email}")
    button.avant-garde-button-dark.js-article-es Subscribe
  .cta-bar-defer.cta-bar-defer-editorial.js-article-es-dismiss: a.icon-close( href='#' )
