.body-amp
  .article-section-container[data-section-type="image"], .article-section-container[data-section-type="artworks"]
    opacity 1

  .amp-artwork
    figcaption
      margin-top 10px
      a
        text-decoration none

  .article-header
    margin-top 50px

  amp-social-share
    background-color transparent
    background-image none

  .share-item
    display flex
    justify-content center
    align-items center
    &:hover
      color white
    &:first-child
      border-right none