@require '../../../components/stylus_lib'
@require '../../../components/main_layout/stylesheets/embedded'
@require '../../../components/main_layout/stylesheets/faux_underline'
@require '../../../components/main_layout/stylesheets/icons'
@require '../../../components/main_layout/stylesheets/typography'
@require '../../../components/artwork_item/stylesheets'
@require '../../../components/article/stylesheets/content'

- amp-header-height = 54px

global-reset()

*,
*:before,
*:after
  box-sizing border-box
html[data-useragent*="Firefox"]
  overflow-x hidden
html, body
  height 100%
body
  garamond()
  font-size default-garamond-font-size
  line-height 1.4em
  text-rendering optimizeLegibility
  min-width body-min-width
  -webkit-tap-highlight-color rgba(0, 0, 0, 0);
a
  color black
  cursor pointer
  -webkit-tap-highlight-color rgba(26, 26, 26, 0.301961);
b, strong
  font-weight bold
em
  font-style italic
img
  display block

.body-amp
  garamond()
  font-size default-garamond-font-size
  line-height 1.4em
  text-rendering optimizeLegibility
  -webkit-tap-highlight-color rgba(0, 0, 0, 0);
  min-width inherit
  max-width 580px
  a
    color black
    cursor pointer
    -webkit-tap-highlight-color rgba(26, 26, 26, 0.301961);

  .large-garamond-header
    garamond()
    text-align left
    display block
    font-size 30px

  figcaption, figcaption a
    garamond-size('m-caption')
    color gray-darker-color

  .amp-article
    &__logo-header
      height amp-header-height
      border-bottom 1px solid gray-lighter-color
      display flex
      align-items center
      a
        margin-left 20px

    &__header
      margin-top 50px

    &__video-container
      amp-video video
        object-fit cover

    &__artwork, &__image
      margin-bottom 20px
      figcaption
        margin 10px 20px
        a
          text-decoration none

    &__social
      amp-social-share
        background-color transparent
        background-image none

      .share-item
        display flex
        justify-content center
        align-items center
        &:hover
          color white
        &:first-child
          border-right none

    &__carousel
      amp-img
        height 350px
        img
          object-fit contain
          object-position bottom
        figcaption
          height 150px

    &__callout
      a amp-img
        min-width 120px

  footer
    margin-top 80px

@require '../../../components/main_layout/footer'
