.body-amp
  max-width 580px

  .amp-artwork
    figcaption
      margin-top 10px
      a
        text-decoration none

  .amp-artwork, .amp-image
    margin-bottom 20px

  .article-header
    margin-top 50px

  amp-social-share
    background-color transparent
    background-image none

  .share-item
    display flex
    justify-content center
    align-items center
    &:hover
      color white
    &:first-child
      border-right none