@require '../../../components/stylus_lib'

#articles-show
  margin-top 120px
  &.is-loading
    #article-loading
      display block

#article-loading
  display none
  margin-bottom 100px
  .loading-spinner
    position relative

.body-welcome-header #articles-show
  margin-top 180px

#articles-footer
  // width 570px
  // margin 80px auto
  h1
    avant-garde()
    font-size default-avant-garde-font-size - 1
  // li, h1
  //   margin-bottom 20px
  //   padding-bottom 20px
  //   border-bottom 1px solid gray-lighter-color

// #articles-footer-list figure
//   margin-bottom 20px
//   padding-bottom 20px
//   border-bottom 1px solid gray-lighter-color

#articles-body-container
  position relative

.articles-promoted
  display flex
  justify-content space-between
  padding 20px 0
  border-bottom 1px solid gray-lighter-color
  margin auto
  margin -67px auto 45px auto
  &__left, &__right
    display flex
  &__img
    width 100px
    height 66px
    margin-right 20px
  &__text
    display flex
    flex-direction column
    justify-content space-around
  &__title
    avant-garde-size('s-headline')
  &__name
    garamond-size('s-headline')
  &__explore
    height 45px
    margin auto

.articles-featured-articles
  margin gutter-size auto
  padding 20px 0
  border-bottom 1px solid gray-lighter-color
  h4
    avant-garde()
    font-size 13px
    border-bottom 1px solid gray-lighter-color
    padding-bottom 5px
    margin-bottom 20px
  li
    border-right 1px solid gray-lighter-color
    &:last-child
      border 0
    img
      width 70px
      height 70px
      margin-right 20px
    p
      font-size 20px
      line-height 1.2em
      width calc(100% \- 90px)
    img, p
      display inline-block
      vertical-align middle
  &.article-related-widget
    margin-bottom 100px
