unit = 30px
show-related-show = {
  metadata: {
    width: 310px
  }
}

.show-related-shows-headline
  block-margins(unit)
  padding-bottom unit
  garamond-size('headline')
  border-bottom 1px solid gray-lighter-color

.show-related-shows
  margin unit 0

  &__more
    width 100%
    margin (unit * 4) 0
    text-align center

.show-related-show
  display flex
  block-margins(unit * 3)

  &__metadata
    width: show-related-show.metadata.width
    padding-right unit
    a
      text-decoration none

    &__title
    &__fair-name
      display block
      garamond-size('headline')
      block-margins(unit / 2)

    &__fair-name
      garamond-size('s-headline')
      font-style italic

    &__fair-booth
    &__running-dates
      margin (unit / 2) 0
      garamond-size('s-body')

    &__running-dates
      color gray-darker-color

  &__images
    width: calc('100% - %s' % show-related-show.metadata.width)
    height 270px
    overflow hidden
    &:hover > .show-related-show__images__image:after
      opacity 0.5

    &__image
      position relative
      display inline-block
      inline-block-margins(7px)
      &:after
        content ''
        display block
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        background-color black
        opacity 0
        transition opacity 0.33s

      > img
        background-color gray-lighter-color
