.show-related-shows-headline
  = title

.show-related-shows
  for show in shows
    include ./templates/show

  if fromShowGuide && city && (title !== 'Featured Shows')
    a.avant-garde-button-white.show-related-shows__more( href= '/shows/#{city.slug}' )
      | See more shows in #{city.name}

  if linkToFair
    a.avant-garde-button-white.show-related-shows__more( href= show.fair.href )
      | See more booths from #{show.fair.name}
