@require '../../../components/stylus_lib'

@require '../components/profile_badge'
@require '../components/location_search'
@require '../components/tooltips'
@require '../components/user_interests'
@require '../components/jump'

@require '../components/tabs'
@require '../components/sections'

@require '../pages/delete'
@require '../pages/profile'
@require '../pages/saves'
@require '../pages/settings'
@require '../pages/auctions'
@require '../pages/payments'
@require '../components/bid_status'

.settings-page
  padding 15px 0

  &__header
    &__name
      garamond-size('s-headline')

  &__content
    clearfix()

    &__sections
    &__main
      float left
      padding-top gutter

    &__sections
      width 25%

    &__main
      width 75%

.settings-subnav
  //

.settings-section
  position relative
  width 75%
  block-margins(gutter)
  padding gutter 0 (gutter * 2) 0
  border-top 1px solid gray-lighter-color
  &:first-child
    border-top 0
    padding-top 0

  &__name
    block-margins(gutter)
    garamond-size('s-headline')

  &__main
    //

.settings-disable-link
  color gray-dark-color

.faux-underline-hover-large:hover
  text-decoration underline
  &:before
    display none
