@import '../../../components/stylus_lib'
@import './profile_icon'

#settings
  padding 50px 0
  .garamond-tablist
    margin-bottom 30px

.settings-account-form
.settings-collector-form
.settings-profile-form
  fadeIn()

.settings-split
  display table
  width 100%
  margin 20px 0
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0
.ss-left
  padding-right 10px
.ss-right
  text-align right
.ss-left
.ss-right
  vertical-align top
  display table-cell

.settings-disable-link
  color gray-dark-color
  &[data-state='loading']::before
    background-color @color

#settings-collector-introduction-preview
  margin 20px 25% 20px 0
  color gray-darker-color
  font-size 24px
  line-height 1.4
  fadeIn()

.settings-disabled-indicator
  margin-right 20px

.settings-form-errors
  margin-bottom 20px
  &, a
    color red-color
  &:empty
    display none

#settings-change-password-new
  display none

.settings-toggle-service
  &:after
    content 'Connect'
  &[data-connected='connected']
    &:after
      content 'Connected'
    &:hover
      color red-color
      &:after
        content 'Disconnect'

.settings-checkbox-label
  cursor pointer

// Grouped section (extract)
.grouped-section
  margin 20px 0
  padding 20px 0 60px 0
  clearfix()
  border-bottom 1px solid gray-lighter-color
  &:last-child
    border-bottom none
.gs-header
.gs-body
  float left
.gs-header
  width 25%
  padding-right 60px
  h1
  h2
    margin-bottom 20px
    line-height 1.25
  h1
    avant-garde()
    font-size 23px
  h2
    garamond()
    font-size 28px
.gs-body
  width 75%
.gs-constrain
  width 50%
  margin 0
header.grouped-section
  .gs-body p
    font-size 24px
    line-height 1.25
    margin-right 40px
