@require '../../../components/stylus_lib'
@require '../components/checkbox'
@require '../components/information'
@require '../components/password'
@require '../components/linked_accounts'
@require '../components/email_preferences'
@require '../components/profile_picture'
@require '../components/about_you'
@require '../components/artists_you_collect'
@require '../components/gallery_intro'
@require '../components/delete_my_account'

.avant-garde-tablist
  clearfix()
  margin gutter 0
  border-bottom 2px solid gray-lighter-color
  &__tab
    display block
    float left
    avant-garde-size('body')
    padding (gutter / 2)
    color gray-darker-color
    border-bottom 2px solid gray-lighter-color
    margin-bottom -2px
    transition color 0.25s, border-color 0.25s
    text-decoration none
    &:hover
    &[data-state='active']
      color black
      border-bottom-color gray-darker-color
    &:first-child
      padding-left 0

.settings-page
  padding 15px 0

  &__header
    &__name
      garamond-size('s-headline')

  &__content
    clearfix()

    &__sections
    &__main
      float left

    &__sections
      width 25%
      > a
      > span
        display block
        padding (gutter / 4) 0
        avant-garde-size('body')
        color gray-darker-color
        transition color 0.25s
        text-decoration none
      > a
        &:hover
        &[data-state='active']
          color black

    &__main
      width 75%

.settings-subnav
  //

.settings-section
  width 75%
  block-margins(gutter)
  padding gutter 0 (gutter * 2) 0
  border-top 1px solid gray-lighter-color
  &:first-child
    border-top 0
    padding-top 0

  &__name
    block-margins(gutter)
    garamond-size('s-headline')

  &__main
    //

.settings-disable-link
  color gray-dark-color
