.settings-profile-icon-upload
  width 200px
  margin 20px auto
  position relative
  text-align center
  &:hover .spiu-delete
    left -20px
    opacity 1
    transform rotate(0deg)
  .profile-badge
    background-color white
    // Clip to a circle in case we're waiting for image processing
    border-radius 50%
    display inline-block
    position relative
    vertical-align top
    width 140px
    z-index 1
    .profile-badge-icon
      background-position center center
      // Clip to a circle in case we're waiting for image processing
      border-radius 50%
      height 140px
  .loading-spinner
    display none
  &.is-loading
    .loading-spinner
      display block
    .profile-badge-icon
      opacity 0
    .spiu-delete, .spiu-upload, .spiu-file-input
      display none

.spiu-error-message
  color red-color
  margin-left -100px
  opacity 0
  position absolute
  top 130px
  transition opacity 0.2s, top 0.5s ease-in
  width 400px
  &.is-active
    top 150px
    opacity 1

.spiu-progress-indicator
  background-color purple-color
  bottom -5px
  height 5px
  position absolute
  transition width 0.25s linear
  width 0

.spiu-controls
  bottom 0
  height 25px
  left 0
  right 0
  position absolute
  button
    margin-top 0

.spiu-action
  background-color dark-gray-color
  border none
  cursor pointer
  height 25px
  border-radius 13px
  left 60px
  opacity 0
  padding 0
  position absolute
  transition background-color 0.25s, opacity 0.25s ease-in-out, left 0.35s ease-in-out, transform 0.35s ease-in-out
  width 25px
  z-index 0
  &::before
    color white
    position relative

.settings-profile-icon-upload-button
  position relative
  margin 20px 0

.spiu-form
  input[type='file']
    opacity 0 !important
    overflow hidden
    position absolute
    z-index 1
    top 0
    left 0
    width 100%
    height 100%

.spiu-delete
  transform rotate(-180deg)
  display none
  &::before
    font-size 50%
    top -10px
  &:hover
    background-color red-color

.has-image
  .spiu-delete
    display inline-block

// Trying to force a pointer cursor on the webkit file upload inputs
::-webkit-file-upload-button
  cursor pointer
