@require '../../../components/fillwidth_row'
@require '../../../components/artist_fillwidth_list'
@require '../quasi_infinite'

.settings-artists
  //
  .artist-fillwidth-list-see-more
    display none
