@require '../components/stylus_lib'
@require '../components/artwork_item/save_controls'

#recently-viewed-artworks
  background-color gray-lightest-color
  +respond-mobile()
    padding 17px
.rva-container
  padding-bottom 50px
.rva-header
  color gray-darker-color
  padding-top 30px
  margin-bottom 20px
.rva-artwork-image-container
  display inline-block
  position relative
  margin-right 30px
  a, img
    display block
  &:last-child
    margin-right 0
