form.credit-card-form__form.stacked-form
  .form-errors( class='js-form-errors' )
    //- Rendered client-side

  include ./templates/credit_card

  h3.credit-card-form__form__subheadline
    | Billing Address

  include ./templates/billing_address

  button.avant-garde-button-white
    | Add Payment
