title Categories | Artsy
meta( property="og:title", content="Categories | Artsy" )
meta( name="description", content="Explore all categories on Artsy." )
meta( property="og:description", content="Explore all categories on Artsy." )
meta( property="twitter:description", content="Explore all categories on Artsy." )
link( rel="canonical", href=(sd.ARTSY_URL + "/categories") )
meta( property="og:url", content=(sd.ARTSY_URL + "/categories") )
meta( property="og:image", content=(sd.ASSET_PATH + "metadata/og_image.jpeg") )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
