@require '../../../../components/side_tabs'
@require '../../../../components/artwork_masonry'

.artwork-related-artworks
  //

  &__header
    margin-bottom gutter

    &__name
      serif('headline')

  &__tabs
    //

    &__nav
      // Offset for sticky
      margin-top -(gutter / 2)
      padding-top (gutter / 2)

      // Trick borders into lining up with offset
      border none
      > a
        border-right 1px solid gray-lighter-color
