@require '../../../../components/artwork_masonry'

.artwork-artist-artworks
  //

  &__header
    display flex
    align-items center
    justify-content space-between
    margin-bottom gutter

    &__name
      serif('headline')

    &__jump
      serif('s-body')
      fine-faux-underline()

  &__masonry
    //

  &__jump
    margin-top gutter
    > a
      display inline-block
      vertical-align bottom
      sans('body')
      padding distance(20px) 45px 0 0
      text-decoration none
      border-top 1px solid gray-lighter-color
