extends ../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'shows'

block body
  #shows-page.main-layout-container
    h1.garamond-header-center
      | Current Museum & Gallery Shows
    .feed
      .loading-spinner
