@require '../../stylus_lib'

gutter-unit = 15px

.articles-feed
  width 100%
  padding 0 (gutter-unit * 2)
.articles-feed-articles
  margin 50px auto
  .article-figure-img-container
    display table-cell
    padding 0 gutter-unit 0 200px
    width 50%
  .article-figure-img
    display block
    width 100%
    // 8:5 ratio
    padding-bottom 62.5%
  .article-figure-figcaption
    width 50%
    padding 0 10% 0 gutter-unit
  .article-figure-share
    right 10%

 .articles-feed-more-button
  max-width 1250px
  margin auto

.articles-feed-item
  max-width 1250px
  margin 50px auto

  &[data-tier='1']
    direction rtl
    .article-figure-img-container
    .article-figure-figcaption
      direction ltr
    .article-figure-img-container
      padding gutter-unit 0 0 0
    .article-figure-figcaption
      padding 0 (gutter-unit * 2) 0 200px
    .article-figure-share
      right auto
