if artwork.auction && artwork.auction.artworks && artwork.auction.artworks.length
  - var auction = artwork.auction

  section.artwork-section.artwork-auction-artworks( class='js-artwork-auction-artworks' )
    header.artwork-auction-artworks__header
      h3.artwork-auction-artworks__header__name
        | Other Works from the Auction

      a.artwork-artist-artworks__header__jump( href= auction.href )
        | View All

    //- - var rows = helpers.auction_artworks.auctionArtworkRows(auction.artworks)

    //- .auction-artwork-brick
    //-   for row, i in rows
    //-     .auction-artwork-brick__row
    //-       for artwork in row
    //-         include ../../../../components/auction_artwork_brick/index
