.artwork-classification-modal
  //

  .modalize-body
    garamond()
    padding (gutter * 2)
    
    .attribution-class-header
      border-bottom solid 1px gray-lighter-color
      padding-bottom 10px
      text-align center

      h1
        color gray-darkest-color
        font-size 25px
      h2
        color gray-darker-color
        margin 15px 30px

    .attribution-class-list
      .attribution-class-row
        padding 24px 0 0 0
        .attribution-class-name
          color gray-darkest-color
          font-weight bold
        .attribution-class-description
          color gray-darker-color
