.arv-context__content
  z-index 100
  &--fair
    img
      width 75px
      height 75px
  &--auction
    &__info
      p
        margin-bottom 10px
        white-space normal
  &--iconic-artists
    &__artist
      display block
      avant-garde-size('body', true)
      text-decoration none
      margin 10px 0
      width 100%
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      &:first-child
        margin-top 0