.auction2-page-artworks
  clearfix()
  padding-top 0
  height: 100%

  &--list
    height 100%

    +respond-desktop()
      padding-top 30px

    .loading-spinner
      position relative

      +respond-mobile()
        margin-top: 30px
        margin-bottom: 40px

  // .loading-spinner
  //   clear both
  //   position relative
  //   margin-bottom 50px
  //   margin-top 20px
