.auction2-page-ArtworkDisplay
  clearfix()
  padding-top 0
  height: 100%
  position relative

  &__artworks--list
    height 100%
    position relative

    +respond-desktop()
      padding-top 30px
