include ../../templates/mixins

+settings-section('information', '')
  #stitch-user-information
    != stitch.components.UserInformation({ mountId: 'stitch-user-information' })

+settings-section('password', 'Password')
  include ../../components/password/index

+settings-section('two-factor-authentication', '')
  #stitch-two-factor-authentication
    != stitch.components.TwoFactorAuthentication({ mountId: 'stitch-two-factor-authentication' })

+settings-section('linked-accounts', 'Linked Accounts')
  include ../../components/linked_accounts/index

+settings-section('user-email-preferences', '')
  #stitch-user-email-preferences
    != stitch.components.UserEmailPreferences({ mountId: 'stitch-user-email-preferences' })

.settings-section
  .settings-section__main
    a.settings-disable-link.garamond-button-text( href='/user/delete' )
      | Delete Account
