include ../../templates/mixins.jade

+settings-section('information', 'Information')
  include ../../components/information/index.jade

+settings-section('password', 'Password')
  include ../../components/password/index.jade

+settings-section('linked-accounts', 'Linked Accounts')
  include ../../components/linked_accounts/index.jade

+settings-section('email-preferences', 'Email Preferences')
  include ../../components/email_preferences/index.jade

.settings-section
  .settings-section__main
    a.settings-disable-link.garamond-button-text( href='/user/delete' )
      | Delete Account
