#tag-filter
  #tag-filter-nav.filter-fixed-header-nav
    .filter-fixed-header-left
      != tag.get('name')
      | &nbsp;&mdash;&nbsp;
      em
        span.filter-artworks-num
        | &nbsp;Works
    unless tag.isSubjectMatter()
      label By Artists:&nbsp;
      a#tag-filter-all-artists.filter-button.is-active All Artists
      label By Work:&nbsp;
    span#tag-filter-artworks-nav
      include ../../../components/filter/artworks_nav/template.jade
  unless tag.isSubjectMatter()
    #tag-artists
      .loading-spinner
  #tag-artworks
    include ../../../components/filter/artworks/template.jade
