for article, i in articles
  if newsArticles && i == 0
      .article-item-first
        include ../../../components/article_figure/index
        #news-panel
        //- renders reaction NewsPanel via articles.coffee
  else
    include ../../../components/article_figure/index
