extends ../../../components/layout/templates/main.jade

mixin artworkColumnsTemplate(artworkColumns)
  include ../../../components/artwork_columns/template.jade

append locals
  - assetPackage = 'mobile_show'

block head
  title #{show.get('name')} | #{show.get('partner').name} | Artsy

block content
  if installShots.length && !show.has('fair')
    include carousel.jade
  #show-page
    if show.has('fair')
      include header/fair.jade
    else
      include header/show.jade

    if show.related().showEvents.length
      include events.jade

    if artworks.length
      include artworks.jade

    if show.get('description')
      include description.jade

    #show-page-related-articles-container
      //- rendered client side

    if show.related().artists.length
      #show-page-follow-artists
        - artists = show.related().artists.models
        include ../components/follow_artists/template.jade

    if show.get('press_release')
      include press_release.jade

