- artworkSize = artworkSize || 'medium'
- imageWidth = imageWidth || false
- imageHeight = imageHeight || false
- displayPurchase = displayPurchase || false
- showBlurbs = showBlurbs || false
- isAuction = isAuction || (set && set.get('type') === 'auction artworks') || false
- hasInstitutionPartner = artwork.get('partner') && artwork.get('partner').type === 'Institution' && !artwork.get('forsale')
- displayPrice != null ? displayPrice : displayPrice = true
- hasAuctionPartner = (artwork.get('partner') && (artwork.get('partner').type === 'Auction' || artwork.get('partner').type === 'Auction House')) || artwork.get('is_biddable')
- showContact = !isAuction && artwork.isContactable()
- showBuyButton = displayPurchase && artwork.get('acquireable')
- showBuyLink = artwork.get('acquireable') && artwork.get('ecommerce') && !showBuyButton

figure.artwork-item( data-artwork= artwork.get('id') data-id= artwork.get('_id') )
  .artwork-item-image-container
    a.artwork-item-image-link( href= artwork.href() )
      include ./partials/image
      include ./partials/save

  figcaption.artwork-item-caption
    include ./partials/artist
    include ./partials/title
    include ./partials/price
    include ./partials/auction_info
    if hasAuctionPartner && !isAuction
      include ./partials/bid_now
    if showBuyButton
      include ./partials/buy_button
    else if showBuyLink
      include ./partials/buy_link
    else if showContact && !hasAuctionPartner
      include ./partials/contact
