section.galleries-institutions-featured-profiles.grid-4-up
  if (featuredProfiles.length % 4 !== 0)
    .grid-item: .gallery-partnerships-callout: .gpc-inner: .vam-outer: .vam-inner
      | Interested in partnering with Artsy?
      = ' '
      a.faux-underline( href= copy.href ) Learn&nbsp;More

  for profile in featuredProfiles
    - var partner = profile.get('owner')
    .grid-item.gallery-institutions-profile
      include ../../../components/partner_profile_cover/template
      .gip-metadata
        h3.gip-name: a( href="/#{profile.id}" )= partner.get('name')
        .gip-location( data-id= partner.id ) &hellip;
        button.avant-garde-button-white.is-small.follow-button( data-id= profile.id )
