extends ../../../components/main_layout/templates/index
include ../../../components/util/activator

block head
  include meta

append locals
  - assetPackage = 'galleries_institutions'

block body
  .galleries-institutions-page.main-layout-container
    header.galleries-institutions-header
      h1.galleries-institutions-headline
        | Browse #{type === 'gallery' ? 'Galleries' : 'Institutions'}

      nav.galleries-institutions-subnav
        if showAZLink
          a.fine-faux-underline( href='/#{type}-a-z' )
            | A–Z
        a.fine-faux-underline( href='/#{type}-partnerships' )
          | Partner with Artsy
        if type === 'gallery'
          a.fine-faux-underline( href='/gallery-insights' )
            | Gallery Insights

    block content
    include ./footer
