nav.galleries-institutions-nav.garamond-tablist
  a.garamond-tab(
    href='/galleries'
    class= activeClass('/galleries')
  ) Galleries
  span.garamond-tab-separator.is-vertical
  a.garamond-tab(
    href='/institutions'
    class= activeClass('/institutions')
  ) Institutions
