@require '../../../components/stylus_lib'
@require '../../../components/auction_lots/stylesheets'

.auction-lots-header
  position relative
  text-align center
  margin 20px 0 30px 0
  h1
  h2
    margin 10px 0
  a
    text-decoration none
  > h1
    font-size 30px
    line-height 1