@import '../../../components/stylus_lib'
@import '../../../components/pagination'
@import '../../artist/stylesheets/header'
@import './detail'

.auction-lots-header
  @extends .artist-header
  padding 0
  margin 20px 0 30px 0
  > h1
    font-size 30px
    line-height 1

.auction-lots-beta-alert
  margin 20px 0

.auction-lots-sub-header
  avant-garde()
  font-size 13px

.auction-lots-table
  width 100%
  border-top 1px solid light-gray-border-color
  border-bottom 1px solid light-gray-border-color
  margin 20px 0
  th
  td
    padding 10px
    &:first-child
    &:last-child
      padding 10px 5px
  th
    avant-garde()
    font-size 11px
  td
    vertical-align top
    border-top 1px solid light-gray-border-color
  a
    text-decoration none
  tbody tr
    transition background-color 0.125s
    &:hover
      background light-gray-background-color

div.auction-lots-interstital
  display table
  margin 20px 0
  width 100%

.auction-lots-interstital
  > div
    display table-cell
    width 50%
  > td
  > td:last-child
    padding 20px 0
    vertical-align bottom

.auction-lots-sort
  text-align right
  *
    text-align left
  > span
    margin-right 10px

.auction-lot-title-container
  display table

.auction-lot-image
.auction-lot-title
  display table-cell
  vertical-align top

.auction-lot-image
.auction-lot-image-placeholder
  width 80px
  margin-right 20px

.auction-lot-title
.auction-lot-medium
.auction-lot-organization
  max-width 160px

.auction-lot-sale-signup
.auction-lot-details-link
.auction-lot-goto-link
  avant-garde()
  text-decoration none
  font-size 11px
  line-height 1
  white-space nowrap

.auction-lot-details-link
.auction-lot-goto-link
  display block
  margin-top 10px

.zoom-modal .modal-header
  display none
