.artwork-auction-confirm-bid-modal
  //

  .modalize-body
    padding (gutter * 3)
    text-align center

    > h1
      sans('l-headline')

    > h2
      serif('s-headline')
      color gray-darker-color
