.consignments-submission-select-input
  &__label
    avant-garde-size('s-headline')
    margin-bottom 4px

  &__select
    height 40px
    width 100%

  select
    width 100%

  .bordered-pulldown-toggle-caret
    border-left none
