a.current-item(href= currentItem.href)
  .current-item__left
    if currentItem.imageUrl
      img.current-item__image(src= currentItem.imageUrl)
  .current-item__right
    .current-item__label.avant-garde-s-headline= currentItem.heading
    .current-item__name(style= currentItem.name && currentItem.detail && "white-space:nowrap;")= currentItem.name
    if currentItem.detail
      .current-item__detail(style= "white-space:nowrap;")!= currentItem.detail
