@require '../tabs'

.artwork-artists
  //

.artwork-artist
  &__name
    serif('s-headline')
    margin 0 0 distance(gutter) 0

  &__content
    &__biography
      serif('s-body')
      a
        fine-faux-underline()

    &__exhibition-highlights
      &__type
        block-margins(distance(40px, 'garamond-s-body'))
        > h3
          sans('body')
          block-margins(distance(13px))

        &__show
          display flex
          &__year
            padding-right 10px
          &__info > a
            fine-faux-underline()

    &__articles
      //
      &__article
        display flex
        block-margins(gutter)
        text-decoration none

        &__image
          margin-right gutter

        &__image
        &__metadata
          > h2
            serif('s-headline')
            margin-bottom distance(20px)
          > h3
            sans('s-headline')
            color gray-darker-color

  &__jump
    margin-top gutter
    > a
      display inline-block
      vertical-align bottom
      sans('body')
      padding distance(20px) 45px 0 0
      text-decoration none
      border-top 1px solid gray-lighter-color
