@require '../tabs'

.artwork-artists
  //

.artwork-artist
  &__name
    serif('headline')
    margin 0 0 distance(gutter) 0

  &__content
    &__biography
      serif('s-body')
      a
        fine-faux-underline()

  &__jump
    margin-top gutter
    > a
      display inline-block
      vertical-align bottom
      sans('body')
      padding distance(20px) 45px 0 0
      text-decoration none
      border-top 1px solid gray-lighter-color
