include ../checkbox/index

.gs-header
  h2
    | Advanced Settings

.gs-body: .gs-constrain
  form.stacked-form
    .form-errors.js-form-errors
      //- Rendered separately

    +checkbox('share_follows')
      | Share followed artists, categories, and galleries with your inquiries
      br
      em
        | Sharing your Artsy follow activity with galleries helps them better understand and contextualize your interests to facilitate quicker and more informed conversations

    hr.is-invisible

    .is-center-aligned
      button.avant-garde-button-white
        | Save Changes
