//
// Simply includes each app and components stylesheets into one big package.
// In the beginning this will be easier for simplicity's sake, but as this
// package gets large, and we micro-optimize initial page load, we'll want
// to get more complex in how we break up and load assets.
//

// Apps
@import '../apps/profile'
@import '../apps/tag'
@import '../apps/browse'
@import '../apps/page'
@import '../apps/partner_profile/stylesheets'
@import '../apps/fair_organizer/stylesheets'
@import '../apps/auctions'
@import '../../desktop/apps/auction_support/stylesheets'
@import '../apps/articles/stylesheets'
@import '../apps/contact/stylesheets'
@import '../apps/how_auctions_work/stylesheets'

// Components
@import '../components/layout/stylesheets'
@import '../components/artwork_columns'
@import '../components/artwork_list'
@import '../components/artist_list'
@import '../components/follow_button'
@import '../components/filter'
@import '../components/filter2/stylesheets'
@import '../components/article_figure'
@import '../components/select/stylesheets'
@import '../components/search_results'
@import '../components/share'
