//
// Simply includes each app and components stylesheets into one big package.
// In the beginning this will be easier for simplicity's sake, but as this
// package gets large, and we micro-optimize initial page load, we'll want
// to get more complex in how we break up and load assets.
//

// Apps
@import '../apps/search'
@import '../apps/home/stylesheets'
@import '../apps/profile'
@import '../apps/gene'
@import '../apps/tag'
@import '../apps/browse'
@import '../apps/unsubscribe'
@import '../apps/artist'
@import '../apps/feature/stylesheets'
@import '../apps/fair/stylesheets'
@import '../apps/fair_info/stylesheets'
@import '../apps/auth/stylesheets'
@import '../apps/page'
@import '../apps/partner_profile/stylesheets'
@import '../apps/art_fairs'
@import '../apps/fair_organizer/stylesheets'
@import '../apps/auctions'
@import '../apps/auction_support/stylesheets'
@import '../apps/shows'
@import '../apps/galleries_institutions'
@import '../apps/articles/stylesheets'
@import '../apps/auction/stylesheets'
@import '../apps/contact/stylesheets'
@import '../apps/how_auctions_work/stylesheets'
@import '../apps/artwork/stylesheets'

// Components
@import '../components/layout/stylesheets'
@import '../components/artwork_columns'
@import '../components/featured_items'
@import '../components/artwork_list'
@import '../components/auction_artwork_list'
@import '../components/artist_list'
@import '../components/auction_clock'
@import '../components/location_search'
@import '../components/alert'
@import '../components/flickity'
@import '../components/follow_button'
@import '../components/filter'
@import '../components/filter2/stylesheets'
@import '../components/a_to_z_list'
@import '../components/article_figure'
@import '../components/select/stylesheets'
@import '../components/search_results'
@import '../components/autocomplete'
@import '../components/share'
@import '../components/cta_bar'
