.auction2-artworks-header
  padding-top 20px
  display flex
  justify-content space-between
  align-items center

  &__grid, &__list
    display inline-block
    border 2px solid gray-lighter-color
    padding 2px
    cursor pointer
    height 40px
    svg
      fill gray-lighter-color
      width 32px
      height 32px

  &__grid
    border-right none

  .active
    svg
      fill black
