include ./partials/steps

h1.iq-headline
  span What art fairs do you attend?
  span (Optional)

form.iq-form.stacked-form
  .iq-search.typed-bordered-input.is-block
    span: i.icon-search
    input.bordered-input.autocomplete-input( placeholder='Search art fairs', autofocus )

  button.avant-garde-button-black.iq-next( type='submit' ) Next
