h1.iq-headline
  span What artists do you collect?
  span (Optional)

form.iq-form.stacked-form
  .js-bookmark-artists
    //- Rendered separately

  button.avant-garde-button-black.iq-next( type='submit' ) Next
