h1.iq-headline
  if user.get('prequalified')
    | Please complete profile information to be shared with the gallery.
    | You only need to fill this out once.
  else
    | #{artwork.related().partner.get('name')} asks for some additional information before placing an inquiry.
    | You only have to do this once.

form.iq-form.stacked-form
  label.avant-garde-form-label( for='profession' )
    | Profession <span>(Optional)</span>
  input.bordered-input( name='profession', id='profession' )

  label.avant-garde-form-label( for='location' )
    | Location <span>(Optional)</span>
  .js-location-search
    //- Rendered separately

  label.avant-garde-form-label( for='phone' )
    | Phone Number <span>(Optional)</span>
  input.bordered-input( name='phone', id='phone', type='tel' )

  hr.is-invisible

  button.avant-garde-button-black( type='submit' ) Next

include ./partials/nevermind
