h1.iq-headline
  | Have you bought art from a gallery or auction house before?

form.iq-form.stacked-button-menu
  button.avant-garde-button-black.js-iq-collector-level( type='submit', name='collector_level', value='3' )
    | Yes
  button.avant-garde-button-black.js-iq-collector-level( type='submit', name='collector_level', value='2' )
    | Not yet

if artwork.related().partner.get('pre_qualify')
  include ./partials/nevermind
