h1.iq-headline
  | Have you bought art from a gallery or auction house before?

form.stacked-button-menu
  button.avant-garde-button-black( type='submit', name='current_level', value='3' )
    | Yes
  button.avant-garde-button-black( type='submit', name='current_level', value='2' )
    | Not yet
