include ./partials/steps

h1.iq-headline
  | Any institutional affliations?
.iq-headline-caption
  span Collector groups, memberships, etc.
  span (Optional)

form.iq-form.stacked-form
  textarea.bordered-input( rows='8', autofocus )

  button.avant-garde-button-black.iq-next( type='submit' ) Next
