@import '../components/stylus_lib'

.related-shows
  display none
  opacity 0
  transition opacity 0.5s
  text-align center
  &.is-fade-in
    opacity 1

// Large featured show
.related-show-featured
  display table
  width 100%
  margin 20px 0
  a
    text-decoration none
.rsf-image
.rsf-metadata
  display table-cell
  vertical-align middle
  text-align center
.rsf-image
  background-color black
  img
    width 100%
    transition opacity 0.5s
    prevent-content-shift()
    &:hover
      opacity 0.5
.rsf-metadata
  padding 20px
.rsf-partner-name
  margin 0
  font-size 13px
.rsf-name
  font-size 36px
  line-height 1.2
  margin 20px 0

// Small thumbnailed shows
.related-show
  display inline-block
  width 25%
  margin 0 0 20px 0
  padding 0 10px
  vertical-align top
  a
    text-decoration none
.rsr-image
  display block
  position relative
  margin-bottom 20px
  padding-bottom 70%
  background-size cover
  background-position center center
  &:after
    display block
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color black
    opacity 0
    transition opacity 0.5s
  &:hover:after
    opacity 0.5

.rsr-name
  font-style italic
  font-size 24px
  overflow ellipsis
  margin 5px 0
.rsr-partner-name
  font-size 13px
  overflow ellipsis
.rsr-timeframe
  font-size 18px
  overflow ellipsis
