@import '../components/stylus_lib'

.related-show a
  text-decoration none

.rsr-metadata
  line-height 1
  margin 20px 0
  padding-right 20px
.rsr-name
.rsr-partner-name
.rsr-timeframe
  overflow ellipsis
.rsr-timeframe
  font-size 18px
  color gray-darkest-color
.rsr-partner-name
  avant-garde()
  font-size 13px
  margin 10px 0
.rsr-name
  font-size 24px
  margin 5px 0
