.article-cell-item
  &__metadata
    margin-top 5px
    display block
    text-decoration none

  &__title
    garamond-size('l-body')
    line-height 1.2
    white-space normal
    word-wrap break-word

  &__author
    avant-garde-size('s-headline')
    margin-top 5px
    color gray-darker-color
