- collector = user.isCollector()

header.artsy-primer-personalize-header
  h1
    | Follow artists
  aside
    | Find new artists to follow or enter the names of your favorite artists below.

section.artsy-primer-personalize-step( data-step='artists' )
  #artsy-primer-personalize-search-container.autocomplete-input-container.is-block
    input#artsy-primer-personalize-search.bordered-input(
      type='text', placeholder='Type your favorite artist’s name', autofocus=autofocus
    )
    .autocomplete-loading-indicator: .loading-spinner-small

  #artsy-primer-personalize-followed

#artsy-primer-personalize-suggestions-container: #artsy-primer-personalize-suggestions
