header.artsy-primer-personalize-header
  h1 Which categories are you interested in?
  aside Our first step in indentifying works that suit your taste is to explore your interest in categories and movements. You can select multiple categories that appeal to you. Try to consider categories you’d like to own. For example, you may enjoy monumental outdoor steel sculpture but may not want to bring it home.

#artsy-primer-personalize-categories: .loading-spinner

#artsy-primer-personalize-category-anything-else
  h2 Anything else?
  textarea.bordered-input.is-block( rows='5' )
