header.artsy-primer-personalize-header
  h1 Select appealing works
  aside.artsy-primer-personalize-favorites-header
    | Choose five or more works shown below that appeal to your taste. The works you select will help your Artsy Specialist make the most relevant selections when building your portfolio.

section.artsy-primer-personalize-step( data-step='favorites' )
  #artsy-primer-personalize-favorites-container: .loading-spinner
