a.avant-garde-button-white.artsy-primer-personalize-skip Next

header.artsy-primer-personalize-header
  h1 Your gallery introduction
  aside
    | When you contact galleries through Artsy, we will include a brief introduction:

section.artsy-primer-personalize-step( data-step='introduction' )
  #artsy-primer-personalize-introduction-preview
    span#artsy-primer-personalize-introduction-rendered
    a.artsy-primer-personalize-introduction-edit.avant-garde-button-text
      i.icon-edit
      | Edit
