header.artsy-primer-personalize-header
  h1 Where do you call home?

section.artsy-primer-personalize-step
  #artsy-primer-personalize-location-search

  a.avant-garde-button-black.is-block.artsy-primer-personalize-continue(
    href='/artsy-primer-personalize/artists'
  ) Continue
