header.artsy-primer-personalize-header
  h1 What price range are you considering?

section.artsy-primer-personalize-step( data-step='price_range' )
  aside Budget is an important factor in selecting works for your portfolio. This information will be used to customize your recommendations on Artsy. You response will not be shared beyond the Artsy team.

.artsy-primer-personalize-slider
  //- Renderd on client

.artsy-primer-personalize-category-anything-else
  .artsy-primer-personalize-category-anything-else-inner
    h2 Anything else?
    aside Anything else I should be aware of in preparing your portfolio of works? Is the nationality of the artist important? Are you looking to acquire artwork that is a specific size or color? Are you trying to avoid any subjects like violence or nudity?
    textarea#anything-else.bordered-input.is-block( rows='5' )
