header.artsy-primer-personalize-header
  h1 Price Range

section.artsy-primer-personalize-step( data-step='price_range' )
  aside Enter your estimated artwork budget.

.artsy-primer-personalize-slider
  //- Renderd on client

.artsy-primer-personalize-category-anything-else
  .artsy-primer-personalize-category-anything-else-inner
    h2 Anything else?
    aside If you have additional artwork preferences such as color, size, or subject matter, please add them here.
    textarea#anything-else.bordered-input.is-block( rows='5' )
