header.artsy-primer-personalize-header
  h1.artsy-primer-personalize-thank-you-header Thank you for making your selections.
  p.artsy-primer-personalize-thank-you-p Your Artsy Specialist will share a custom artwork portfolio in one to two business days.
  button.artsy-primer-personalize-thank-you-button.avant-garde-button-black Visit Artsy.net
