header.artsy-primer-personalize-header
  h1.artsy-primer-personalize-thank-you-header Thank you for making your selections.
  p.artsy-primer-personalize-thank-you-p Your choices will help us match you with an Artsy Specialist. You will hear from your dedicated Artsy Specialist in two business days with a first draft of your portfolio.
  button.artsy-primer-personalize-thank-you-button.avant-garde-button-black Visit Artsy.net
