@import '../../../components/stylus_lib'

menu-width = 20%
content-width = 80%
gutter-width = 60px

.body-header-fixed-artist-page
  .responsive-layout-container
    min-height calc(100% \- 300px)

.artist-page
  clearfix()
  position relative
  padding 0px 20px
  padding-bottom 200px
  height 100%
.artist-page-menu
.artist-page-content
  float left
.artist-page-menu
  width menu-width
  padding-right (gutter-width / 2)
  padding-top (gutter-width / 2)
.artist-page-content
  width content-width
  padding-left (gutter-width / 2)
  border-left 1px solid gray-lighter-color
  margin-top (gutter-width / 2)

#artist-nav-list
  margin-top 30px
  font-size 13px

.artist-image-module
  padding-bottom 50%
  margin-bottom gutter-width

.artist-header
  text-align center
  h1
    avant-garde-size('xl-headline')
.artist-header-follow-count
  color gray

#artist-follow-button
  margin-top 45px
  width 100%

.artist-page-section
  margin-bottom gutter-width
.artist-section-header
  garamond-size('headline')
  margin-bottom (gutter-width / 2)
.artist-page-section__content
  position relative

.artist-page--overview .artist-section-header
  border-bottom 1px solid gray-color

#artist-page-section-articles
#artist-page-section-shows
#artist-page-section-artists
#artist-page-section-contemporary
  display none
  fade-in()

@import './sections'