// About
#artist-page-auction-results-link
  position absolute
  top 10px
  right 0

// Books
.merchandisable-items
  position relative
  display flex
  flex-direction row
  flex-wrap wrap
.merchandisable-item
  width 20%
  padding-right 20px
  text-decoration none
.merchandisable-item-metadata
  margin 20px 0
.merchandisable-item-image > img
  max-width 100%
  max-height 100%
.merchandisable-item-title
  font-weight bold
.merchandisable-item-publish-date
  color gray-darker-color

// Exhibitions
.filterable-list-item-travel
  margin-left 1em

// Related artists
.artist-fillwidth-list-see-more, .filter-artworks-see-more
  padding 10px
  border 1px solid gray-lighter-color

// Works
#artist-page-section-works
  margin-bottom 120px

#artist-filter
  .filter-heading.large-garamond-header
    display none !important

  .filter-artworks-sort-count
    margin-top 30px

  .filter-artworks-nav
    width 100%

  .filter-button
    display block
    float left

  .filter-dropdown
    display block
    float right

  .filter-dropdown:last-child
    border-left 1px solid gray-lighter-color

  .filter-dropdown .filter-dropdown-nav
    left auto
    right 0

