grid-1 = 15vw
grid-2 = 30vw
grid-3 = 50%
grid-4 = 60vw
flex-display(justify = space-between, align = center)
  display flex
  justify-content justify
  align-items align

.article-body
  display none
  padding 0 40px
  color black
  background-color white
  width 100vw
  min-height 100vh
  overflow hidden
  &__content
    max-width 1750px
    margin 0 auto
  &--section
    width calc(85vw \- 80px)
    max-width 1250px
  &__intro
    &-header
      width calc(grid-2 \+ 1px)
      height 30vh
      border-right 1px solid
      margin-bottom 20px
      z-index 1000
    &-inner
      width grid-4
      margin 0 auto
      border-top 1px solid
      border-bottom 1px solid
      padding 80px 20px
      h3
        garamond-size('headline')
        line-height 45px
        max-width 75%
  &--section__title
    height 70vh
    flex-display(flex-end, flex-end)
    h2
      margin-bottom 100px
  &--section__cover-image
    border-top 1px solid
    border-bottom 1px solid
    width 100%
    flex-display()
    .image
      width 100%
    img
      height auto
      width 75%
      max-width 850px
      max-height 600px
  &--section__sub-image
    img
      max-width 800px
      width 100%
  .caption
    margin-top 15px
    garamond-size('s-body')
    color gray-color
  .callout
    garamond-size('headline')
  video
    max-width 100%
  &--section__text
    padding 70px 20px
    p
      garamond-size('s-headline')
      padding-bottom 40px
      max-width 750px

[data-section='1']
  .article-body--section
    &__title
      width 85%
      justify-content flex-end
    &__cover-image
      justify-content flex-end
      .image
        border-left 1px solid
        padding 70px 20px
        display flex
        flex-direction column
        align-items flex-end
    article
      display flex
      flex-direction column-reverse
      border-right 1px solid
      margin-top 20px
    &__text
      border-top 1px solid
      margin-top 20px
      margin-right 20px
      border-bottom 1px solid
      p
        max-width 750px
        margin 0 auto
    &__sub-text
      flex-display(space-between, center)
      .image
        width calc( \(\(100vw \- 80px\) \/ 6\) \* 3)
        border-right 1px solid
        padding 60px 90px 60px 20px
      .callout
        width calc( \(\(100vw \- 80px\) \/ 6\) \* 2)
        text-align center
    &__sub-image
      padding 70px 20px
      position relative
      border-right 1px solid
      .spacer
        border-bottom 1px solid
        position absolute
        bottom 0
        left 0
        right 20px

[data-section='2']
  .article-body--section
    margin 0 auto
    &__title
      h2
        border-right 1px solid
        margin 0
        padding 100px 20px 100px
        width 100%
    &__cover-image
      border-right 1px solid
      border-top 0
      border-bottom 0
      padding 0
      .image
        border-top 1px solid
        border-bottom 1px solid
        margin-right 20px
        padding 70px 0 70px 20px
    &__text
      border-left 1px solid
      margin 20px 0
      p
        margin-right 0
        margin-left auto
    &__sub-text
      display flex
      border-top 1px solid
      padding 20px 0
      .image
        width grid-3
        order 3
        margin-left 20px
        padding 40px 20px 60px
        border-bottom 1px solid
        img, .caption
          max-width 75%
          margin-left auto
          margin-right 0
      .spacer
        order 2
        border-right 1px solid
      .callout
        flex-display()
        width grid-3
        margin-right 20px
        order 1
        border-bottom 1px solid
        p
          border-left 1px solid
          padding-left 20px
          garamond-size('l-headline')

[data-section='3']
  .article-body--section
    margin-left auto
    margin-right 0
    &__title
      height auto
      border-left 1px solid
      margin-top calc(70vh \- 270px)
      h2
        width 100%
        margin-top 100px
        margin-left 20px
        border-bottom 1px solid
        margin-bottom 0
        padding-bottom 100px
        padding-left calc(\(100vw \- 80px\) \/ 6)
    &__cover-image
      border-top 0
      border-bottom 0
      border-left 1px solid
      margin-bottom 0
      padding 0 20px 0 0
      .image
        margin-left 20px
        border-bottom 1px solid
        padding 70px 0
        display flex
        align-items flex-end
        flex-direction column
    &__text
      border-right 1px solid
    &__sub-text
      margin-top 20px
      padding-top 20px
      border-top 1px solid
      display flex
      .image
        width calc(60% \- 20px)
        border-bottom 1px solid
        padding 70px calc(20% \- 20px) 70px 20px
        img
          max-width 100%
          max-height 700px
          width auto
          height auto
      .callout
        width calc(40% \- 20px)
        border-bottom 1px solid
        flex-display(center, center)
      .spacer
        border-right 1px solid
        margin-right 20px
        padding-right 20px

[data-section='4']
  .article-body--section
    margin 0 auto
    &__title
      h2
        margin-right 20px
    &__cover-image
      padding 20px 0
      .image
        border-right 1px solid
        padding 50px 20px
    article
      position relative
    &__text
      display flex
      justify-content flex-end
      border-bottom 1px solid
    &__sub-text
      border-bottom 1px solid
      .spacer
        border-right 10px solid white
        border-left 10px solid white
        position absolute
        left 15%
        top 20px
        bottom 20px
        background black
        width 21px
      .image
        padding-left calc(15% \+ 100px)
        display flex
        flex-direction column
        align-items flex-end
        padding-top 70px
        padding-bottom 70px
        img
          max-height 600px
      .callout
        display none

[data-section='5']
  .article-body--section
    &__title
      h2
        border-right 1px solid
        margin-bottom 0
        padding-bottom 100px
        padding-top 100px
        padding-right 20px
        width 100%
        text-align center
    &__cover-image
      border-bottom none
      border-top none
      padding-bottom 0
      margin-bottom 0
      border-right 1px solid
      .image
        border-top 1px solid
        border-bottom 1px solid
        width calc(100% \- 20px)
        padding 50px 20px
    &__text
      border-right 1px solid
      margin-bottom 20px
    &__sub-text
      border-top 1px solid
      display flex
      border-bottom 1px solid
      .image
        padding 70px 20px
        width 75%
        border-right 1px solid
        margin 20px 0
        img
          width 75%
      .callout
        display none
[data-section='6']
  .article-body--section
    margin-left auto
    margin-right 0
    &__title
      h2
        border-right 1px solid
        margin-bottom 20px
        padding 100px 20px
        width 100%
    &__cover-image
      padding 70px 20px
    article
      border-right 1px solid
      margin-top 20px
      display flex
      flex-direction column-reverse
    &__text
      border-bottom 1px solid
      margin-bottom -20px
      p
        margin 0 auto
    &__sub-text
      display flex
      border-bottom 1px solid
      margin-right 20px
      padding-left 20px
      padding-bottom 20px
      .image, .callout
        width calc(grid-3 \- 20px)
        padding 70px 20px
        align-self center
        img
          width 100%
        .caption
          display none
      .spacer
        border-right 1px solid
        padding-left 20px
        margin-right 20px

[data-section='7']
  .article-body--section
    margin 0 auto
    &__cover-image
      border-bottom 0
      border-top 0
      border-right 1px solid
      .image
        margin-right 20px
        border-top 1px solid
        border-bottom 1px solid
        padding 70px 0 70px 5px
        img
          max-width 100%
          max-height 100%
          width 85%
    &__text
      border-right 1px solid
      p
        margin 0 auto
    &__sub-text
      border-top 1px solid
      border-bottom 1px solid
      margin-top 20px
      padding-top 20px
      display flex
      flex-direction row-reverse
      justify-content space-between
      .image
        padding 30px 20px 40px 0
        width 60%
        img
          max-width 100%
      .spacer
        border-right 1px solid
        width 20%
        margin-bottom 20px
      .callout
        display none