@require './super_article'
@require './scroller'
@require './body'
@import '../components/merry_go_round'

flex-display(justify = space-between, align = center)
  display flex
  justify-content justify
  align-items align

.eoy-feature
  &__background
    position fixed
    top 49.9%
    left 50%
    min-height 101vh
    min-width 100vw
    transform translate(-50%, -50%)
    z-index -1
    opacity 0
    &.active
      opacity 1
  &__menu
    position fixed
    top 0
    left 0
    right 0
    margin 0 40px
    height 75px
    border-bottom 1px solid white
    z-index 100
    flex-display()
    align-items center
    img.logo
      height 30px
    img.planet-art
      height 25px
      display inline-block
    a
      color white
      text-decoration none
      font-size 14px
      font-weight 600
      span
        display inline-block
        line-height 15px
        margin-right 12px

@media screen and (max-width: 550px)
  .eoy-feature__menu
    margin 0 10px
    justify-content flex-start
    .planet-art
      margin-left 30px
      margin-top 5px
    a span
      display none