@require './scroller'
@require './body'
@import '../components/merry_go_round'

flex-display(justify = space-between, align = center)
  display flex
  justify-content justify
  align-items align

.eoy-feature
  &__background
    position fixed
    top 49.9%
    left 50%
    min-height 101vh
    min-width 100vw
    transform translate(-50%, -50%)
    z-index -1
    opacity 0
    &.active
      opacity 1
  &__menu
    position fixed
    top 0
    left 0
    right 0
    margin 0 40px
    height 57px
    border-bottom 1px solid white
    z-index 100
    flex-display()
    align-items center
    img.logo
      height 30px
    img.planet-art
      height 25px
      display inline-block
      color white
    a:not(.article-sa-artsy-logo)
      color white
      text-decoration none
      font-size 14px
      font-weight 600
      span
        display inline-block
        line-height 15px
        margin-right 12px
        vertical-align middle
    .article-sa-artsy-logo
      color white
      font-size 32px
    .article-sa-plus
      display none
  &__sa-header
    .mgr-cell
      margin-right 0px
  video[poster]
    height 100%
    background-size cover
    background-repeat no-repeat
    background-position center

@media screen and (max-width: 550px)
  .eoy-feature__menu
    margin 0 10px
    justify-content flex-start
    .planet-art
      margin-top 13px
    .article-sa-plus
      display inline-block
      font-size 12px
    a.planet-art-link span
      display none