.partner-shows
  .partner-shows-section
    margin-bottom 80px
    h2
      margin-bottom 20px
    a
      text-decoration none

    .partner-show
      box-sizing content-box
      display inline-block
      vertical-align top
      width 30%
      margin 0
      padding 2.5%
      &:nth-child(3n+1)
        padding-left 0
        padding-right 2.5%
      &:nth-child(3n)
        padding-left 2.5%
        padding-right 0

    .partner-show-cover-image
      background-size cover
      background-position 50% 40%
      padding-bottom 70%
      margin-bottom 10px
      position relative

    .partner-show-overlay
      position absolute
      top 0
      bottom 0
      width 100%
      background-color black
      opacity 0
      transition opacity 0.3s ease-in-out
      &:hover
        opacity 0.4

    .partner-show-caption
      text-align center
      margin-bottom 20px

    .partner-show-heading, .partner-show-name, .partner-show-time
      line-height 1.1
      margin-bottom 10px

    .partner-show-heading
      font-size 13px
      margin-bottom 20px
      line-height 1.6em

    .partner-show-name
      font-size 24px
      font-style italic

    .partner-show-time
      font-size 18px

  .partner-shows-section.featured
    .partner-show
      width 100%
      padding 0

    .partner-show-cover-image
      padding-bottom 45%
      float right
      width 66.66%
    
    .partner-show-caption
      float right
      position relative
      top 120px
      width 30%
      margin-right 3.3%
    
    .partner-show-name
      font-size 50px
      margin-bottom 20px
