#artists
  .artists-group, .artists-column
    display inline-block
    vertical-align top
  .artists-group-1-columns
    width 16.66%
    & > .artists-column
      width 100%
  .artists-group-2-columns
    width 33.33%
    & > .artists-column
      width 50%
  .artists-group-3-columns
    width 50%
    & > .artists-column
      width 33.33%
  .artists-group-4-columns
    width 66.67%
    & > .artists-column
      width 25%
  .artists-group-5-columns
    width 83.34%
    & > .artists-column
      width 20%
  .artists-group-6-columns
    width 100%
    & > .artists-column
      width 16.66%
