@import './contact'

#partner
  margin-bottom 100px
  .partner-header
    padding 40px 0
    margin-bottom 50px
    border-bottom 1px solid #ccc
    text-align center

    .partner-info-container
      width 650px 
      margin 0 auto 40px auto

    .partner-icon
      text-align center
      vertical-align middle
      .profile-badge-icon
        display inline-block
        background-repeat no-repeat
        background-position center center
        width 140px
        height 140px

    .partner-info
      display inline-block
      text-align left
      width 450px
      margin-left 20px
      .partner-name
        avant-garde()
        font-size 17px
      .partner-followers
        color #666

    .partner-actions
      text-align right
      padding-right 55px

  .partner-content
    margin 0 auto

  .loading-spinner
    position relative
    top 50px
