@import './shows_grid'
@import './artists_list'
@import './overview'
@import './contact'
@import './shows'
@import './posts'
@import './artists'
@import './mobile'

#partner
  margin-bottom 100px
  .partner-header
    padding 40px 0
    margin-bottom 50px
    border-bottom 1px solid #ccc
    text-align center

    .partner-info-container
      width 650px 
      margin 0 auto 40px auto

    .partner-icon
      display inline-block
      vertical-align top
      text-align center
      .profile-badge-icon
        display inline-block
        width 140px
        height 140px
        line-height @height
        vertical-align top
        img
          display inline-block
          vertical-align middle

    .partner-info
      display inline-block
      text-align left
      width 450px
      margin-left 20px
      .partner-name
        avant-garde()
        font-size 17px
        line-height 1.6
      .partner-followers
        color #666

    .partner-actions
      text-align right
      padding-right 55px
      margin-top 5px

  .partner-content
    margin 0 auto
    max-width 1120px

  .loading-spinner
    position relative
    top 50px
