@media screen and (max-width: 1024px)

  #main-layout-container
    margin-left 40px
    margin-right 40px

  #partner-shows
    .partner-shows-section
      .partner-show-name
        font-size 20px

      .partner-show-time
        font-size 14px

    .partner-shows-section.featured
      .partner-show-name
        font-size 40px

  #partner-artists
    .artists-group-label
      font-size 12px
    .artists-column a
      font-sze 14px
