@require '../../../../components/tooltips'
@require '../../../../components/share'
@require '../../../../components/view_in_room'

artwork-action = {
  size: 48px
}

.artwork-actions
  position relative
  margin (gutter / 3) 0
  text-align center

  &__admin
    position absolute
    bottom 0
    right 0

    > a
      display inline-block
      text-decoration none
      inline-block-margins(gutter / 5)
      avant-garde()
      font-size 10px
      line-height 1
      color gray-color

      > i
        font-size 18px
        line-height 0
        vertical-align middle

      &:hover
        color purple-color

.artwork-action
  position relative
  display inline-block
  vertical-align bottom
  margin 0 5px
  width: artwork-action.size
  height: artwork-action.size
  cursor pointer
  color black
  border 2px solid gray-lighter-color
  border-radius 50%
  user-select none

  &--save > i
    //
  &--share > i
    margin-top 1px
  &--view-in-room > i
    margin-top -1px

  &:hover
    background-color gray-darker-color
    border-color @background-color
    color white
    svg
      fill white
  > i
    position absolute
    top 50%
    left 50%
    font-size 26px
    line-height 1
    transform translate(-50%, -50%)

  &--save
    &[data-state='saved']
      background-color purple-color
      border-color @background-color
      svg
        fill white
      > i
        color white
      &:after
        content 'Remove'
      &:hover
        background-color gray-darker-color
        border-color @background-color
        &.is-clicked
          background-color purple-color
          border-color @background-color
          &:after
            content 'Saved'
    svg
      fill #000
      width 24px
      height 24px
      position absolute
      top 10px
      right 10px

