.artwork-brick(
  class='js-artwork-brick'
  data-id= artwork.id
  data-type= 'artwork'
)
  include ./templates/image

  .artwork-brick__metadata
    include ./templates/metadata
    include ./templates/contact
