@require '../stylus_lib'
@require '../artwork_save'

.artwork-brick
  &__image
    background-color gray-color
    position relative

    &__img
      position absolute
      top 0
      left 0
      width 100%
      vertical-align bottom

    &__save
      position absolute
      right (gutter / 3)
      bottom @right

    &:hover
      .artwork-brick__image__save
      .artwork-brick__image__save > .artwork-save
        display block

  &__metadata
    serif('l-caption')
    margin distance(gutter / 2) 0 distance(gutter) 0
    color gray-darker-color
    lines = 4
    height ((@line-height * @font-size) * lines)
    overflow hidden

    &__artists
    &__title
    &__partner
    &__sale-message
    &__contact
      display block
      overflow ellipsis

      &
      > a
        color gray-darker-color
        text-decoration none

    &__contact > a
      text-decoration underline

    &__artists
      font-weight bold
