@require '../stylus_lib'
@require '../artwork_save'
@require '../artwork_metadata_stub'

.artwork-brick
  &__image
    background-color gray-color
    position relative
  &__image.auction__image
    background-color rgba(255,255,255,0.125);
    width 100%
    padding-bottom 100% !important

    &__img
      position absolute
      top 0
      left 0
      width 100%
      vertical-align bottom
      // Rounding errors in placeholder calculation *may* cause 1px
      // of gray to peek out of the bottom of the image, outline in
      // white to compensate
      outline 1px solid white
    // &__img.auction__image__img
    //   height 100%
    //   width 100%
    //   background-size contain
    //   background-repeat no-repeat
    //   background-position center
    //   position absolute

    &__save
      position absolute
      right (gutter / 3)
      bottom @right

    &:hover
      .artwork-brick__image__save
      .artwork-brick__image__save > .artwork-save
        display block

    &:hover
      .auction-artwork-save > .artwork-save
        display: block;
        position: absolute;
        right: 5px;
        bottom: 5px;

.artwork-brick__image__img.auction__image__img
  height 100%
  width 100%
  background-size contain
  background-repeat no-repeat
  background-position center
  position absolute

.artwork-brick.artwork-brick--auction.js-artwork-brick
  width 30%
  height 100%
  margin-right 20px