include ../../../util/activator

header#main-layout-header( class= sd.HEADER_CLASS ? sd.HEADER_CLASS : '' )
  if sd.APPLICATION_NAME === "force-staging"
    #staging-banner
      != stitch.components.StagingBanner()
  include ./small_screen_header.jade
  include ./large_screen_header.jade
