include ../../../util/activator

header
  if sd.DESKTOP_GLOBAL_NAVIGATION == "experiment"
    != stitch && stitch.components.NavBarTest({ notificationCount: sd.NOTIFICATION_COUNT, searchQuery: sd.searchQuery, user: sd.CURRENT_USER,  })
  else
    != stitch && stitch.components.NavBar({ notificationCount: sd.NOTIFICATION_COUNT, searchQuery: sd.searchQuery, user: sd.CURRENT_USER,  })
