nav.mlh-navbar
  a#main-layout-header-home-logo( href='/', class=activeClass('/') )
    span.screen-reader-text Home
    include ../../public/icons/logo-40.svg
  #main-layout-header-left.mlh-navbar-cell
    #main-layout-header-minimal-title
      block minimal-nav-header
    include ../../../search_bar/templates/index
  #main-layout-header-center.mlh-navbar-cell
    a.mlh-top-nav-link( href='/collect', class= activeClass("/collect") ) Artworks
    a.mlh-top-nav-link( href='/auctions', class= activeClass('/auctions') ) Auctions
    a.mlh-top-nav-link.galleries( href='/galleries', class= isActive('/galleries') ? activeClass('/galleries') : activeClass('/galleries-a-z') ) Galleries
    a.mlh-top-nav-link.fairs( href='/art-fairs', class= activeClass('/art-fairs') ) Fairs
    a.mlh-top-nav-link.magazine( href='/articles', class= activeClass('/articles') ) Magazine

    include ./more
  include ./notifications
  include ./user
