span.mlh-top-nav-link.hover-pulldown( data-mode='hover' )
  | More
  .hover-pulldown-menu
    div.mlh-pulldown-top
      a.mlh-pulldown-top-link( href='/collect', class= activeClass("/collect") ) Artworks
      a.mlh-pulldown-top-link( href='/auctions', class= activeClass('/auctions') ) Auctions
      a.mlh-pulldown-top-link.galleries( href='/galleries', class= activeClass('/galleries') ) Galleries
      a.mlh-pulldown-top-link.fairs( href='/art-fairs', class= activeClass('/art-fairs') ) Fairs
      a.mlh-pulldown-top-link.magazine( href='/articles', class= activeClass('/articles') ) Editorial
      a.mlh-pulldown-top-link-persistent( href='/artists', class= activeClass('/artists') ) Artists
      a.mlh-pulldown-top-link-persistent( href='/shows', class= activeClass('/shows') ) Shows
      a.mlh-pulldown-top-link-persistent( href='/institutions', class= activeClass('/institutions') ) Museums
    hr.mlh-pulldown-top
    div.mlh-pulldown-bottom
      a.gallery-partnership-link.mlh-pulldown-bottom-link( data-context='global nav dropdown' href='https://partners.artsy.net' ) Artsy for Galleries
