@require '../../components/stylus_lib'

#page-markdown-content
  width 600px
  margin content-margin-top auto 0 auto
  padding 40px 0

#page-markdown-content
.markdown-content
  font-size 19px
  h1, h2, p, ul
    &:first-child
      margin-top 0
  h1, h2, h3
    display block
    text-align center
    avant-garde()
  h1
    margin 1em 0 1.8em 0
    font-size 20px
  h2
    margin-bottom 1.5em
    font-size 13px
  h3
    font-size: 15px
    text-align: left
    margin-top: 28px
    margin-bottom: 8px
    line-height: 160%
  p
    margin-bottom 1em
    line-height 1.5em
  ul
    list-style disc
    margin-left 1em
    li
      margin-bottom 1em
      margin-left 1em
      line-height 1.5em
  ol
    list-style decimal
    margin-left 1em
    li
      margin-bottom 1em
      margin-left 1em
      line-height 1.5em

@media (max-width: 600px)
  #page-markdown-content
    width: 100%