@import '../../components/stylus_lib'

#page-markdown-content
  width 600px
  font-size 19px
  margin content-margin-top auto 0 auto
  h1, h2, p, ul
    &:first-child
      margin-top 0
  h1, h2
    display block
    text-align center
    avant-garde()
  h1
    margin 1em 0 1.8em 0
    font-size 20px
  h2
    margin-bottom 1.5em
    font-size 13px
  p
    margin-bottom 1em
    line-height 1.5em
  ul
    list-style disc
    li
      margin-bottom 1em