.mpv-container.main-side-margin
  h1.mpv-title
    = title
  .mpv-description
    != description
  nav.mpv-nav
    for page in pages.models
      .mpv-content(class= page.id === active.id ? 'is-active' : undefined)
        a.js-page.mpv-content-nav.chevron-arrow-button(
          data-id=page.id,
          name=page.id
        )= page.get('title')
        .mpv-page
          .mpv-page-content
            != page.mdToHtml('content')
