.categories2-app-container {
	display flex
	flex 0 1 auto
	flex-flow row wrap
	justify-content flex-end
}

.categories2-sidebar {
	flex 1
	font-size 14px
	color #333
	padding 2em 1em
	text-transform uppercase
	ul {
		padding-top 2em
	}
}

.categories2-content {
	flex 4
}

.categories2-intro {
	padding 2em 1em
	h2 {
		font-size 32px
		line-height 64px
	}
}

.categories2-gene-family {
  border-top 1px solid #ccc
  margin 0 1em
  padding 1em 0
  h3 {
  	font-size 20px
  	line-height 30px
  }
}

.categories2-genes {
	column-count 3
	column-gap 1em
	padding 1em 0
}
