.categories2-app-container {
	position relative
	padding-bottom 3em
}

.categories2-sidebar {
	height 100%
	font-size 14px
	color #333
	left 0
	padding 1em
	position absolute
	top 30px
	text-transform uppercase
	width 300px
}

.categories2-content {
  padding-left 300px
}

.categories2-intro {
	padding 2em 1em
	h2 {
		font-size 32px
		line-height 64px
	}
}

.categories2-gene-family {
  border-top 1px solid #ccc
  margin 0 1em
  padding 1em 0
  h3 {
  	font-size 20px
  	line-height 30px
  }
}
