@require '../../../components/stylus_lib'

.l-categories2-page
  padding 40px 0

.l-categories2-page__nav
  display inline-block
  width 25%
  vertical-align top

.l-categories2-page__content
  display inline-block
  width 75%
  vertical-align top

.categories2-page__header
  garamond-size('xl-headline')

.categories2-page__blurb
  garamond-size('s-headline')
  margin 35px 0

.categories2-list
  display block

.categories2-list__family
  display block

.categories2-list__family__name
  garamond-size('l-headline')
  margin 1em 0 0.5em 0

.categories2-list__family__genes
  display block

.categories2-list__family__genes__gene
  garamond-size('l-body')
  a
    text-decoration none
    transition color 0.125s
    color black
    &:hover
      color purple-color
