extends ../../../components/main_layout/templates/index

block head
  include ../../../components/auction_lots/templates/meta/artwork

append locals
  - assetPackage = 'auction_lots'

block body
  #auction-results-page.main-layout-container
    include ../../../components/auction_lots/templates/artwork
