@require './scroller'
@require './body'

flex-display(justify = space-between, align = center)
  display flex
  justify-content justify
  align-items align

.eoy-feature
  &__background
    position fixed
    top 49.9%
    left 50%
    min-height 101vh
    min-width 100vw
    transform translate(-50%, -50%)
    z-index -1
    opacity 0
    &.active
      opacity 1
  &__menu
    position fixed
    top 0
    left 0
    right 0
    margin 0 40px
    height 57px
    border-bottom 1px solid white
    z-index 100
    flex-display(flex-start)
    align-items center
    img.logo, img.ubs
      height 30px
      display inline-block
      color white
    a:not(.article-sa-artsy-logo)
      color white
      text-decoration none
      font-size 14px
      font-weight normal
      span
        display inline-block
        line-height 15px
        margin-right 12px
        vertical-align middle
    .article-sa-artsy-logo
      color white
      font-size 32px
    .article-sa-plus
      color white
    a.back-to-magazine
      color white
      avant-garde-size('body')
      margin-left auto
  &__sa-header
    .mgr-horizontal-nav .mgr-cell
      margin-right 0px
      .article-sa-related
        display flex
        align-items center
        height 105px
        img
          height auto
    .article-sa-sticky-left
      left 40px
    .article-sa-sticky-right
      right 35px
      .article-sa-primary-logo img
        height 30px
    .article-sa-sticky__presented
      margin-right 12px

  .share
    display flex
    .share-item a
      text-decoration none
      &:hover
        color purple-color

@media screen and (min-width: 1600px)
  .eoy-feature
    &__sa-header
      .mgr-horizontal-nav .mgr-cell
        width 25%
        min-width 400px

@media screen and (max-width: 550px)
  .eoy-feature__menu
    margin 0 10px
    justify-content flex-start
    a.ubs-link span
      display none
    .article-sa-plus
      display inline-block
      font-size 12px
    a.back-to-magazine
      display none
@media screen and (max-width: 900px)
  .eoy-feature__sa-header
    .article-sa-sticky-left
      left 20px
