grid-1 = 15vw
grid-2 = 30vw
grid-3 = 50%
grid-4 = 60vw
flex-display(justify = space-between, align = center)
  display flex
  justify-content justify
  align-items align

.scroller
  color white
  width calc(100% \- 80px)
  margin 0 40px
  position fixed
  top 55px
  bottom 20px
  display none
  overflow hidden
  z-index -1
  &.active
    z-index 100
.scroller__items
  transition height .5s
  .left, .right
    flex-display(center, center)
    height 100%
    .item
      max-height calc(100% \- 40px)
      flex-display(center, center)
      overflow hidden
      width 100%
      text-align center
      height 100%
  article
    position relative
    overflow hidden
    height 100%
    .inner
      flex-display()
      width 100%
      height 100%
      overflow hidden
      a
        color white
        text-decoration none
        opacity 1
        transition all 0.5s
        &:hover
          opacity .6
      h2
        font-size 72px
        line-height 1.35em
        padding 0 40px
        width 100%
    .col
      height 100%

  section
    margin 0 auto
    height 0
    &.bottom,
    &.bottom .col,
    &.bottom .left,
    &.bottom .right,
    &.bottom .inner
      border-bottom-color rgba(255,255,255,0) !important

    &[data-state='closed']
      max-height 0
      opacity 0

    &[data-section='0'] //title
      article
        font-size 7vw
        font-weight 500
        width 100%
        border-bottom 1px solid
        .inner
          flex-direction column
          border-left 1px solid
          border-right 1px solid
          margin 20px 0
          height calc(100% \- 40px)
          justify-content center
          .spacer
            height 1px
            margin 0 20px
            border-top 1px solid
            width calc(100% \- 40px)
          .top, .bottom
            height calc(50% \- 20px)
            flex-display(center, center)
            overflow hidden
          .top
            margin-bottom 20px
          .bottom
            margin-top 20px

    &[data-section='1'] //intro
      border-bottom 1px solid
      h3 p
        garamond-size('l-headline')
        line-height 45px
        width 900px
        max-width 80vw
        padding 20px
      .inner
        height calc(100% \- 40px)
        margin 20px 0
        border-right 1px solid
        border-left 1px solid
        display flex
        align-items center
        justify-content center
      .share
        padding-left 10px
      .share-item a:hover
        color white
        opacity .6
    &[data-section='2']
      .inner
        .left
          width grid-1
          height calc(100% \- 20px)
          border-right 1px solid
          margin-top 20px
        .right
          flex 1
          border-right 1px solid
          height calc(100% \- 40px)
          margin 20px 0
          .item
            max-height 100%

    &[data-section='3']
      .left
        width calc(50vw \- 40px)
        .col
          &:first-child
            width calc(grid-1 \- 21px)
            border-top 1px solid
            margin-right 20px
          &:nth-child(2)
            border-left 1px solid
            margin-bottom 40px
          &:last-child
            border-top 1px solid
            width calc(35vw \- 60px)
            margin-left 20px
      .right
        width calc(50vw \- 40px)
        border-top 1px solid
        justify-content space-between
        .col
          &:first-child
            margin-top 40px
            border-left 1px solid
        .item
          border-right 1px solid

    &[data-section='4']
      .left
        width calc(50vw \-60px)
        margin-right 20px
        border-top 1px solid
        flex-direction row-reverse
        .col
          border-left 1px solid
          height calc(100% \- 40px)
          margin 20px 0
      .col.spacer
        border-right 1px solid
        margin-bottom 40px
      .right
        flex-display()
        flex 1
        border-top 1px solid
        margin-left 20px
        .col
          &:first-child
            width calc(grid-1 \- 21px)
            border-right 1px solid
            height calc(100% \- 40px)
            margin 20px 0
          &:nth-child(2)
            width calc(grid-2 \- 1px)

    &[data-section='5']
      .inner
        border-top 1px solid
      .left
        width calc(grid-2 \- 1px)
        height calc(100% \- 40px)
        margin 20px 0
        border-right 1px solid
      .right
        flex 1
        border-right 1px solid
        margin 20px 0
        height calc(100% \- 40px)
        .item
          max-height 100%
    &[data-section='6']
      .inner
        border-top 1px solid
        border-bottom 1px solid
        .left
          flex 1
          border-left 1px solid
          border-right 1px solid
          height calc(100% \- 40px)
          .item
            max-height 100%
        .right
          width calc(grid-1 \- 1px)

    &[data-section='7']
      .left
        .col
          &:first-child
            width calc(grid-1 \- 21px)
            margin-right 20px
            border-bottom 1px solid
          &:nth-child(2)
            width calc(grid-2 \- 1px)
            height calc(100% \- 20px)
            margin-top 20px
            border-left 1px solid
      .right
        flex 1
        border-left 1px solid
        border-right 1px solid
        height calc(100% \-40px)
        margin 20px 0
        .item
          max-height 100%

    &[data-section='8']
      .left
        .col
          height calc(100% \-20px)
          width calc(grid-1)
          border-right 1px solid
          margin-bottom 20px
      .right
        flex 1
        border-top 1px solid
        margin-left 20px
        justify-content space-between
        .item
          width 100%
        .col
          border-right 1px solid
          margin 20px 0
          height calc(100% \- 40px)

    &[data-section='9']
      border-top 1px solid
      border-bottom 1px solid
      .left
        .col
          width calc(grid-2)
      .right
        flex 1
        border-right 1px solid
        border-left 1px solid
        margin 20px 0
        height calc(100% \-40px)
        .item
          max-height 100%

    &[data-section='10']
      .left
        flex 1
        border-bottom 1px solid
        margin-right 20px
        justify-content space-between
        .item
          width 100%
        .col
          border-left 1px solid
          height calc(100% \- 40px)
          margin 20px 0
      .col.spacer
        border-right 1px solid
        height calc(100% \- 20px)
        margin-top 20px
      .right
        width calc(grid-3 \- 20px)
        border-bottom 1px solid
        margin-left 20px

    &[data-section='11']
      .left
        width calc(grid-3 \- 1px)
        justify-content flex-start
        .col:first-child
          width grid-2
          border-right 1px solid
          height calc(100% \- 20px)
          margin-top 20px
      .right
        flex 1
        margin-bottom 20px
        height calc(100% \- 20px)
        .col
          border-right 1px solid
        .item
          max-height calc(100% \- 20px)
          border-right 1px solid
          margin-top 20px


@media screen and (max-width: 1200px)
  .scroller__items article .inner h2
    font-size 60px

@media screen and (max-width: 1100px)
  .scroller__items article .inner h2
    font-size 50px

@media screen and (max-width: 900px)
  .scroller
    .scroller__items section[data-section='1']
      h3
        font-size 24px
        line-height 1.35em
@media screen and (max-width: 550px)
  .scroller
    width calc(100% \- 20px)
    margin 0 10px
    .scroller__items article .inner h2
      font-size 40px
    .scroller__items article .inner a
      &:hover
          opacity 1
    h1
      font-size 50px
    section
      &[data-section='0']
        article .inner
          margin 10px 0
          height calc(100% \- 20px)
          .top
            margin-bottom 10px
          .bottom
            margin-top 10px
      &[data-section='1']
        h3 p
          garamond-size('l-body')
        .inner
          height calc(100% \- 20px)
          margin 10px 0
      &[data-section='2']
        .inner
          .left
            margin-top 10px
            height calc(100% \- 10px)
          .right
            margin 10px 0
            height calc(100% \- 20px)
      &[data-section='3']
        .left
          width 50%
          .col:first-child
            width calc(15vw \- 11px)
            margin-right 10px
          .col:nth-child(2)
            margin-bottom 20px
          .col:last-child
            width calc(35vw \- 20px)
            margin-left 10px
        .right
          width 50%
          .col:first-child
            margin-top 10px
            height calc(100% \- 10px)
          .item
            max-height calc(100% \- 20px)
      &[data-section='4']
        .left
          width calc(50% \- 10px)
          margin-right 10px
          .item
            max-height calc(100% \- 20px)
          .col
            height calc(100% \- 20px)
            margin 10px 0
        .col.spacer
          margin-bottom 20px
        .right
          margin-left 10px
          .col:first-child
            margin 10px 0
            height calc(100% \- 20px)
      &[data-section='5']
        .left, .right
          height calc(100% \- 20px)
          margin 10px 0
      &[data-section='6']
        .inner .left
          height calc(100% \- 20px)
      &[data-section='7']
        .left
          .col:first-child
            width calc(15vw \- 11px)
            margin-right 10px
          .col:nth-child(2)
            height calc(100% \- 10px)
            margin-top 10px
        .inner .right
          height calc(100% \- 20px)
          margin 10px 0
      &[data-section='8']
        .left .col
          margin-bottom 10px
          height calc(100% \- 10px)
        .right
          margin-left 10px
          .col
            margin 10px 0
            height calc(100% \- 20px)
      &[data-section='9']
        .right
          margin 10px 0
          height calc(100% \- 20px)
      &[data-section='10']
        .col.spacer
          margin-top 10px
          height calc(100% \- 10px)
        .left
          margin-right 10px
          width calc(50% \- 11px)
          .col
            margin 10px 0
            height calc(100% \- 20px)
        .right
          margin-left 10px
          width calc(50% \- 10px)
      &[data-section='11']
        .left
          .col:first-child
            height calc(100% \- 10px)
            margin-top 10px
        .right
          height calc(100% \- 10px)
          margin-bottom 10px
          .item
            margin-top 10px
            max-height calc(100% \- 10px)

@media only screen and (max-width: 550px) and (max-device-width: 550px) and (-webkit-min-device-pixel-ratio: 2)
  .item h1
    font-size 40px
  .scroller .scroller__items article .inner h2
    font-size 30px
    padding 0 20px
