- collector = user.isCollector()

a.avant-garde-button-white.personalize-skip Skip

header.personalize-header
  h1
    if collector
      | Follow artists to get alerts about new works for sale
    else
      | Follow artists you are interested in
  aside
    if collector
      | Get alerts for new works from Artsy&rsquo;s 2,000+ galleries, art fairs, and auctions
    else
      | Get notified when new shows open or works are added

section.personalize-step( data-step='artists' )
  #personalize-search-container.autocomplete-input-container.is-block
    input#personalize-search.bordered-input(
      type='text', placeholder='Type your favorite artist’s name', autofocus=autofocus
    )
    .autocomplete-loading-indicator: .loading-spinner-small

  #personalize-followed

#personalize-suggestions-container: #personalize-suggestions
