a.avant-garde-button-white.personalize-skip Skip

header.personalize-header
  h2= state.stepDisplay()
  h1 Which categories are you interested in?
  aside Below are popular categories on Artsy

#personalize-categories: .loading-spinner
