a.avant-garde-button-white.personalize-skip Skip

header.personalize-header
  h1 Which categories are you interested in?
  aside Follow categories for better artist and artwork recommendations from Artsy.

#personalize-categories: .loading-spinner

#personalize-category-anything-else
  h2 Anything else?
  textarea.bordered-input.is-block( rows='5' )
