.personalize-category
  if category.get('image_versions')
    img( src=category.get('image_url').replace(':version', 'original') )
  .personalize-category-metadata
    h3= category.get('title')
    a.avant-garde-button-white.follow-button( data-id="#{category.get('gene_id')}" )
