.results-list
  for model in models
    .results-list-item
      span.pfa-name.avant-garde-results-list-item-cell
        if model.related && model.related().owner
          = model.related().owner.get('name')
        else
          = model.get('name')
      a.pfa-remove.results-list-item-cell( data-id= model.id )
