.results-list
  for model in models
    .results-list-item
      span.pfa-name.results-list-item-cell
        if model.get('owner')
          = model.get('owner').name
        else
          = model.get('name')
      a.pfa-remove.results-list-item-cell( data-id= model.id )
