.personalize-followeds
  for model in models
    .personalize-followed
      span.pfa-name
        if model.get('owner')
          = model.get('owner').name
        else
          = model.get('name')
      a.pfa-remove( data-id= model.id )
