- headerKind        = 'galleries'
- kind              = 'galleries'
- placeholder       = 'Type your favorite gallery name'
- aside             = 'Receive notifications of upcoming shows and fairs'
- displayLocation   = true
- pageable          = false

include ./suggestions.jade
