- headerKind = 'museums & institutions'
- kind = 'museums'
- placeholder = 'Type your favorite museum name'
- aside = 'Receive notifications on upcoming shows'
- displayLocation = true

include ./suggestions.jade
