- headerKind        = 'museums & institutions'
- kind              = 'museums'
- placeholder       = 'Type your favorite museum name'
- aside             = 'Receive notifications on upcoming shows'
- displayLocation   = false
- pageable          = true

include ./suggestions.jade
