header.personalize-header
  h1 Your gallery introduction
  aside
    | When you contact galleries through Artsy, we will include a brief introduction:

section.personalize-step( data-step='introduction' )
  #personalize-introduction-preview
    span#personalize-introduction-rendered
    a.personalize-introduction-edit.avant-garde-button-text
      i.icon-edit
      | Edit

  h2 What is your profession?
  form.stacked-form
    input.bordered-input( placeholder='Profession', name='profession', value=user.get('profession') )
    button.avant-garde-button-black Complete gallery introduction
