header.personalize-header
  h1 What price range are you considering?

section.personalize-step( data-step='price_range' )
  for price in prices
    .flipper( data-value= price.value )
      .flipper-card
        .flipper-face.is-front= price.display
        .flipper-face.is-back= price.display
  aside
    | This information will be used to customize recommendations for you on Artsy.
    | You can change your answer later if your preferences change.
    | We won't share your answer with others.
