for row in rows
  .personalize-suggestion-row
    for profile in row
      .personalize-suggestion.is-profile
        .personalize-suggestion-thumbnail: img(
          src= profile.coverImage().imageUrl('medium')
          alt= profile.get('owner').name
          onerror='this.style.display="none";'
        )
        .personalize-suggestion-name
          = profile.get('owner').name
        .personalize-suggestion-location( data-id= profile.get('owner').id )
          | &hellip;
        .personalize-suggestion-info
          = profile.get('locations')

        a.avant-garde-button-white.follow-button( data-id= profile.id )
