@import '../../../../components/stylus_lib'

#show-follow-artists
  padding-bottom 22px
  border-bottom 1px solid light-gray-border-color
  .artist-follow
    margin-left 30px
    float right
    width 130px
    font-size 12px
  .entity-with-follow
    display inline-block
    width 100%
    margin-bottom 10px
  .entity-link
    avant-garde()
    font-size 12px
    display inline-block
    max-width calc(100% - 160px)
    padding 12px 0px

.show-artists-title
  avant-garde()
  font-size 15px
  margin 22px 0px
