@require '../stylus_lib'

.share-modal
  .modalize-close
    color white

.share-menu
  background-color black
  padding 25px 0

  &, a
    color white

  &__header
    avant-garde-size('body')
    text-align center

  &__options
    margin 20px 0
    border-bottom 1px solid rgba(white, 0.125)

    a
    span
      display block
      width 100%
      margin 0 0 -1px 0
      padding 15px 20px 15px 10px
      border-top 1px solid rgba(white, 0.125)
      > i
        line-height 0
        margin-right 10px
        vertical-align middle

    a
      avant-garde-size('body')
      text-decoration none
      transition background-color 0.125s
      &:hover
        background-color purple-color

    span
      input[type='text']
        // Fill out width by subtracting the width
        // of the icon (32px) + the rightmost padding (20px)
        width calc('100% - 52px')
        border-style solid
        background-color white
