//- Requires: category, partners

.pcc-header
  .pcc-header-left
    = category.get('name')
.pcc-body.gi-carousel-arrow-reveal

  .pcc-nav.js-pcc-nav
    .pcc-prev.gi-carousel-arrow-prev.js-pcc-prev: i.icon-chevron-left
    .pcc-next.gi-carousel-arrow-next.js-pcc-next: i.icon-chevron-right

  .pcc-content.js-partner-cells
    each partner in partners
      .partner-cell
        include ../partner_cell/index
