//- title, partners

.partner-cell-carousel-header
  .partner-cell-carousel-header-left=title
  a.partner-cell-carousel-header-right(href='#')
    |View All
.partner-cell-carousel-body
  .partner-cell-carousel-arrow-left.partner-cell-carousel-arrow
    |left
  .partner-cell-carousel-content.partner-cell-grid-3-up
    each partner in partners
      .partner-cell.grid-item(data-id= partner.get('id'))
        include ../partner_cell/index

  .partner-cell-carousel-arrow-right.partner-cell-carousel-arrow
    |right