include ../../templates/mixins

+settings-section('about-you', 'About You')
  include ../../components/about_you/index

+settings-section('artists-you-collect', 'Artists You Collect')
  include ../../components/artists_you_collect/index

+settings-section('gallery-intro', 'Your Gallery Intro')
  include ../../components/gallery_intro/index
