column-gap = 30px

.featured-shows-featured-show
  display inline-block
  vertical-align top
  padding-bottom 20px
  a
    text-decoration none
    display block
  h6
    color gray-darker-color
    font-size 12px
    margin-top 5px
  h4
    avant-garde()
    font-size 13px
  h5
    font-size 18px
  h4, h5, h6
    overflow ellipsis

.featured-shows-featured-cover-img
  width 100%
