@require '../../components/stylus_lib'

.fsfs-metadata
  display block
  margin 10px 0 20px 0
  padding-right 20px
  text-decoration none
  line-height 1.4

.fsfs-contextual-label
  margin-top 20px
  avant-garde()
  font-size 10px
  line-height 2

.fsfs-partner-name
  avant-garde()
  font-size default-avant-garde-font-size
  line-height 1.75

.fsfs-partner-name
.fsfs-show-name
.fsfs-running-dates
  overflow ellipsis

.fsfs-closing-date
.fsfs-street-address
.fsfs-running-dates
  color gray-darker-color

.fsfs-warning
  color red-color
