include ../components/partner/index
include ../components/show_artworks/index
include ../components/artist_artworks/index
include ../components/auction_artworks/index
#react-mount-current-auctions
include ../components/partner_artworks/index
