if artwork.is_acquireable
  .artwork-acquire-form
    input( type='hidden', name='artwork_id', value= artwork.id )

    button.avant-garde-button-black.is-block( class='js-artwork-acquire-button' )
      if artwork.is_purchasable
        | Purchase
      else
        | Buy
