if artwork.partnerName()
  //- Note: if the <a..> is in a <p..> text-overflow ellipsis doesn't work
  p.artwork-item-partner.artwork-item-overflow
    if artwork.partnerLink()
      a.faux-underline-hover( href=artwork.partnerLink() )= artwork.partnerName()
    else
      = artwork.partnerName()
