//- if the artwork is not owned by an institutional partner and not for sale
//- and if the artwork is not in an auction
if !hasInstitutionPartner && !hasAuctionPartner && !isAuction
  if artwork.saleMessage() && displayPrice
    a.faux-underline-hover( href=artwork.href() )
      p.artwork-item-sale-price.artwork-item-overflow= artwork.saleMessage()
  else if artwork.availabilityMessage()
    a.faux-underline-hover( href=artwork.href() )
      p.artwork-item-availability= artwork.availabilityMessage()
