.favorites2-edit-modal
  .favorites2-edit-modal-init
    h1.modal-h1 Edit Set
    hr
    label.avant-garde-form-label Name Set
      input.bordered-input( value=collection.get('name') )
    button.avant-garde-button-white.favorites2-edit-modal-delete
      include ../images/delete.svg
      | Delete
    .favorites2-edit-modal-right
      button.avant-garde-button-white.favorites2-edit-modal-cancel Cancel
      button.avant-garde-button-black.favorites2-edit-modal-submit( type='submit' ) Save Changes
  .favorites2-edit-modal-delete-container
    header
      h1 Are you sure you want to delete this set?
      h2 You won't be able to undo this action
    button.avant-garde-button-white.favorites2-edit-modal-cancel-delete Cancel
    button.avant-garde-button-black.favorites2-edit-modal-delete-confirm Delete set