hr
label.avant-garde-form-label Name Set
  small.favorites2-edit-modal-hint Popular Sets: "Art I Want To Visit" or "Works to Inquire About"
  input.bordered-input( value=collection.get('name') )
if collection.get('private')
  small.favorites2-edit-modal-hint Your sets and saves are private
br