include ./header
header.follows-header
  h1.avant-garde-header-center Favorites &amp; Follows
  +follows-tab-nav
  include favorites_action
main
  section.favorite-artworks
  .favorite-artworks-spinner
    .loading-spinner
  section.follows-empty-hint
  section.suggested-genes
