include ./header
header.follows-header
  h1.avant-garde-header-center Favorites &amp; Follows 2
  +follows-tab-nav
  include favorites_action
main
  section.favorite-artworks
    .loading-spinner
  section.follows-empty-hint
  section.suggested-genes
