include ../../../components/share/template

- var shareDescription = 'Check out my favorite artworks on @artsy'
- var media = ''
- var url = [sd.APP_URL, profileId, 'favorites'].join('/')
.favorites2-actions
  .favorites2-share
    +share(shareDescription, media, url)
  .favorites2-privacy
    .favorites2-toggle-public Favorite works are Public –&nbsp;
      a.faux-underline Make Private
    .favorites2-toggle-private Favorite works are Private –&nbsp;
      a.faux-underline Make Public