.favorites2-edit-modal
  h1.modal-h1 Create a New Set
  hr
  label.avant-garde-form-label Title
    input.bordered-input
  button.avant-garde-button-white.favorites2-edit-modal-cancel Cancel
  button.avant-garde-button-black.favorites2-edit-modal-submit Create Set