.favorites2-onboarding-modal
  section.favorites2-onboarding-modal-left
    h3 New Feature on Artsy
    h2 Become an Artsy Curator
    h1 Save works you love to curated sets on Artsy
    a.avant-garde-button-text( href='/favorites' )
      | Start Creating New Sets
      i.icon-chevron-right
  section.favorites2-onboarding-modal-right
    a( href='/favorites' )
      img( src='/images/set_mgmt_nux.jpg' height=522 )
    h1 Organize favorites into sets
    ul
      li
        strong My Favorite Works
      li
        strong Design Objects
      li
        strong For The Loft