.favorites2-onboarding-modal
  section.favorites2-onboarding-modal-left
    h3 New Feature on Artsy
    h2 Become an Artsy Curator
    h1 Organize the works you love into sets.
    a.avant-garde-button-text( href='/favorites' )
      | Start Creating New Sets
      i.icon-chevron-right
  section.favorites2-onboarding-modal-right
    a( href='/favorites' )
      img( src='/images/set_mgmt_nux.jpg' height=428 )
    ul
      li
        strong My Favorite Works
        br
        | 100 works
      li
        strong Design Objects
        br
        | 100 works
      li
        strong For The Loft
        br
        | 100 works