.favorites2-edit-modal.favorites2-remove-modal
  .favorites2-edit-modal-delete-container
    header
      h1 Are you sure you want to remove this work?
      h2 You won't be able to undo this action
    button.avant-garde-button-white.favorites2-edit-modal-cancel-delete Cancel
    button.avant-garde-button-black.favorites2-edit-modal-delete-confirm Delete set