mixin showItem(show, trailingText)
  .artwork-artist-module__content__exhibition-highlights__item
    .artwork-artist-module__content__exhibition-highlights__item__date= helpers.date(show.start_at).year()
    .artwork-artist-module__content__exhibition-highlights__item__text
      a(href=show.href)= show.name
      if trailingText
        | #{!!show.name ? ', ' : ''}#{trailingText}

- var artists = artwork.artists;

if artists.length
  for artist in artists
    .div(style={width: "90%", margin: "-25px auto"})
      != stitch.components.ArtworkArtistInfo({ artistID: artist.id })
