if artwork.attribution_class
  .artwork-metadata__attribution-class-container
    a.artwork-metadata__attribution-class.js-artwork-metadata-attribution-class
      = artwork.attribution_class.short_description
    | .
