mixin bidStatus(lotStanding, saleArtwork, args)
  - winningMessage = args && args.winningMessage || 'Highest Bid'
  - reserveMessage = args && args.reserveMessage || 'Highest Bid'
  - losingMessage = args && args.losingMessage || 'Outbid'
  - leadingBidder = lotStanding.is_leading_bidder
  - reserveNotMet = saleArtwork.reserve_status === 'reserve_not_met'
  .bid-status
    if leadingBidder && !reserveNotMet
      .bid-status__is-winning
        p= winningMessage
          i.bid-status__arrow-up
            include ./public/icons/bid-status-arrow.svg
    else
      if leadingBidder && reserveNotMet
        .bid-status__is-winning-reserve-not-met
          p= reserveMessage
            i.bid-status__arrow-up
              include ./public/icons/bid-status-arrow.svg
      else
        .bid-status__is-losing
          p= losingMessage
            i.bid-status__arrow-down
              include ./public/icons/bid-status-arrow.svg
      .bid-status__increase-bid
        | Increase your max bid to win the lot
