.bid-status
  p
    color new-red-color
    avant-garde()
    avant-garde-size('m-headline')
  &__is-winning p
    color new-green-color
  &__is-winning-reserve-not-met p
    color new-yellow-color
  &__is-losing p
    color new-red-color
  &__increase-bid
    color gray-dark-color
    display none
  &__arrow-up, &__arrow-down
    position relative
    fill currentColor
    padding-left 3px
    svg
      margin-left 4px
      height .8em
  &__arrow-up svg
    transform rotate(180deg)
  &__arrow-down svg
    transform rotate(0deg)
