//
// Styles for a list of artworks component that shows artworks stacked on top
// of each other, filling the full width of the viewport. Used in articles and
// on feature pages.
//

@import '../stylus_lib'

.artwork-list-details
  margin 10px 0
  color dark-gray-text-color
  line-height 1.2em

.artwork-list
  a
    text-decoration none
  li
    margin-bottom 20px
  img
    width 100%
    display block

.artwork-list-sale-notes
  margin-bottom 20px
