.filter-artist(data-artist="#{artist.get('artist').id}")
  a.filter-artist-name
    = artist.get('artist').name
  .filter-artist-count
    |  (#{artist.get('artist').published_artworks_count}) #{" "}
  .filter-artist-clear Clear