extends ../../../components/main_layout/templates/index

block head
  title Works by Artists You Follow | Artsy

append locals
  - assetPackage = 'notifications'
  - bodyClass = bodyClass + ' body-infinite-scroll'

block body
  #notifications-page.main-layout-container
    #notifications-header.bisected-header
      .bisected-header-cell
        h1 Works by Artists You Follow
        .artsy-checkbox
          input( type='checkbox', id='for-sale' )
          label( for='for-sale', data-label='Show only For Sale works' )
      .bisected-header-cell
        a#notifications-manage-follow.avant-garde-jump-link( href='/following/artists' )
          | Manage who you follow
          i.icon-chevron-small-right

    #notifications-published-artworks
      //- Rendered client-side
    #notifications-published-artworks-spinner: .loading-spinner
