extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'notifications'
  - bodyClass = bodyClass + ' body-infinite-scroll'

block body
  #notifications-page.main-layout-container
    #notifications-header
      h1 Works by Artists You Follow
      a#notifications-manage-follow.avant-garde-jump-link(
        href='/following/artists'
      )
        | Manage who you follow
        i.icon-chevron-small-right
    #notifications-published-artworks
      //- Rendered client-side
    #notifications-published-artworks-spinner
      .loading-spinner
