if artwork.banner
  - var banner = artwork.banner

  .artwork-banner
    if banner.profile && banner.profile.icon
      - var img = banner.profile.icon.img
      .artwork-banner__logo
        a( href= banner.href )
          img(
            src= img.url
            width= img.width
            height= img.height
          )

    h1.artwork-banner__name
      a( href= banner.href )
        = banner.name

    if banner.end_at
      .artwork-banner__countdown(
        class='js-artwork-banner__countdown'
      )
        - var label = 'Auction closes in'
        - var countdown = helpers.banner.countdown(banner.end_at)
        include ../clock/index

    .artwork-banner__jump
      a.avant-garde-button-white.is-small( href= banner.href )
        case banner.__typename
          when 'RelatedFair'
            | Explore Fair
          when 'RelatedSale'
            | Explore Auction
