@import '../stylus_lib'

.bookmark-artist
  display table
  width 100%
  border-bottom 1px solid gray-lighter-color
  &:last-child
    border-bottom none
.bookmark-artist-name
.bookmark-artist-remove
  display table-cell
  padding 10px 0
  vertical-align middle
.bookmark-artist-remove
  padding-left 10px 10px 10px 20px
  cursor pointer
  text-align right
  iconfont-styling()
  font-size 14px
  line-height 14px
  &:before
    // .icon-check
    content '\e627'
  &:hover:before
    color red-color
    vendor('text-stroke-width', 1px)
    // .icon-close
    content '\e614'
