@import '../stylus_lib'

#bookmark-artists-results
  margin 10px 0
  opacity 0
  transition opacity 0.5s
  &.is-fade-in
    opacity 1
  &:empty
    display none
  &.is-pre
    .results-list-item:last-child
      border-bottom none
  &.is-post
    .results-list-item:first-child
      border-top none
  .results-list-item-cell:first-child
    font-family inherit
    text-transform inherit
    font-size inherit

.bookmark-artist-remove
  padding 10px 10px 10px 20px
  cursor pointer
  iconfont-styling()
  font-size 14px
  line-height 14px
  &:before
    // .icon-check
    content '\e627'
  &:hover:before
    color red-color
    vendor('text-stroke-width', 1px)
    // .icon-close
    content '\e614'
