.grid-2-up
  .grid-item: input.bordered-input.is-block( type='text', name='city', value= form.get('city'), placeholder='City' )
  .grid-item: input.bordered-input.is-block( type='text', name='postal_code', value= form.get('postal_code'), placeholder='Postal Code' )
