.grid-3-up
  .grid-item: input.bordered-input.is-block( type='text', name='city', value= form.get('city'), placeholder='City' )
  .grid-item: input.bordered-input.is-block( type='text', name='state', value= form.get('state'), placeholder='State' )
  .grid-item: input.bordered-input.is-block( type='text', name='zip_code', value= form.get('zip_code'), placeholder='Zip Code' )
