.artwork-collapsed-metadata
  display none
  position fixed
  top main-header-height
  width 230px // Extract
  background-color white
  serif('l-caption')
  padding distance(gutter / 2) 0
  opacity 0
  transform translateY(-@top)
  transition opacity 0.25s, transform 0.5s
  pointer-events none

  &[data-state='down']
    opacity 1
    transform translateY(0)
    pointer-events inherit

  &__lot-number
    sans('s-headline')

  &__artists
  &__title
  &__sale-message
    overflow ellipsis

  &__artists
    font-weight bold

  &__title
    //

  &__sale-message
    color gray-darker-color

  &__contact
  &__auction
    margin distance((gutter / 2), 'garamond-l-caption') 0
