.vam-outer: .vam-inner.is-center-aligned
  i.iq-account-logotype.icon-logotype

  hr.is-invisible

  .iq-headline
    | Please check your email
    | (<em>#{user.get('email')}</em>) for instructions
    | on how to reset your password

  hr.is-invisible

  nav.garamond-tablist
    a.js-mode( data-mode='login' ) Login
