h1.iq-headline
  if user.isWithAccount()
    | We found an Artsy account associated with
    = ' '
    em #{user.get('email')}.
    = ' '
    | Please log in to continue.
  else
    | Please log in to save information to your profile.

form.stacked-form
  .iq-form-errors.js-form-errors
    //- Rendered separately

  label.avant-garde-form-label( for='password' )
    | Enter your password
  include password

  button.avant-garde-button-black.js-form-submit.js-login-email( type='submit' )
    | Log in

  .iq-account-sub
    .artsy-checkbox
      .artsy-checkbox--checkbox
        input( id='remember_me', name='remember_me', type='checkbox', value='1', checked )
        label( for='remember_me' )
      label.artsy-checkbox--label( for='remember_me' )
        | Remember me

    span
      a.fine-faux-underline.js-mode.js-forgot-password( data-mode='forgot' )
        | Forgot Password?

      unless user.isWithAccount()
        span.garamond-tab-separator.is-vertical
        a.fine-faux-underline.js-mode( data-mode='signup' )
          | Sign up

  .iq-account-sub
    if user.isWithAccount()
      include ../partials/nevermind
    else
      a.fine-faux-underline.js-iq-save-skip
        | No thanks don&rsquo;t save my information
