if inquiry.get('contact_gallery')
  - var messageName = artwork.related().partner.displayType().toLowerCase()
else
  - var messageName = "Artsy"

.iq-header
  | Send message to #{messageName}

h1.iq-headline.iq-headline--centered
  #auth-header-logo.icon-logotype
  | Create an account to send your message

form.stacked-form
  .iq-form-errors.js-form-errors
    //- Rendered separately

  include ../../../auth_modal/templates/_gdpr_signup
