h1.iq-headline
  | To skip these steps on your next inquiry,
  | create an account and save your information now.

form.stacked-form
  .iq-form-errors.js-form-errors
    //- Rendered separately

  label.avant-garde-form-label( for='password' )
    | Choose a password
  include password

  button.avant-garde-button-black.js-form-submit( type='submit' )
    | Next

  .iq-account-sub
    span
      | By signing up, you agree to our
      br
      a.fine-faux-underline( href='/terms', target='_blank' ) Terms of Use
      = ' and '
      a.fine-faux-underline( href='/privacy', target='_blank' ) Privacy Policy
      | .

  .iq-push-down
    | Already have an account?
    = ' '
    a.fine-faux-underline.small-caps.js-mode( data-mode='login' )
      | Log in
    br
    a.fine-faux-underline.js-iq-save-skip
      | No thanks don&rsquo;t save my information
