.circle-icon-button-save
  .loading-spinner-small
.save-controls-drop-down-menu-artwork-page-container
  .save-controls-drop-down-menu
    h4 Add to Set?
    nav
      .save-controls-drop-down-new.save-controls-drop-down-menu-item
        form
          input.bordered-input( placeholder='New Set' )
          button.icon-plus-small( type='submit' )
        .loading-spinner-white
  .icon-arrow-down