.overlay-container.save-controls-drop-down-container
  .overlay-button-save
  .save-controls-drop-down-menu
    h4 Add to Set?
    ul
      li.save-controls-drop-down-new
        form
          input( placeholder='New Collection' )
          button.icon-plus-small