.consignments2-faq
  .consignments2-faq__modal
    .consignments2-faq__contents
      .consignments2-faq__close
        include ../../../components/main_layout/public/icons/close.svg
      .consignments2-faq__header
        = sections.faq.headline
      for item in sections.faq.items
        .consignments2-faq__item
          .consignments2-faq__item__question
            = item.question
          .consignments2-faq__item__answer
            = item.answer
      .consignments2-faq__contact-us
        | Need more assistance?&nbsp;
        a( href='mailto:consignments@artsy.net' )
          | Contact us
