extends ../../../components/main_layout/templates/minimal_header

block head
  include meta

append locals
  - assetPackage = 'misc'

block body
  .consignments2-submission.responsive-layout-container
    #consignments2-submission__flow

