extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'artists_artworks'

block head
  include ../components/meta/index

block body
  .artwork-page.main-layout-container
    section.artwork
      .artwork__main
        .artwork__main__overview
          include ../components/banner/index
          include ../components/images/index
          include ../components/actions/index
          include ../components/additional_info/index
          include ../components/artists/index

          .artwork__main__overview__fold( class='js-artwork-fold' )
            include ../client/fold

        .artwork__main__metadata(
          class= inPurchaseTestGroup && artwork.is_purchasable ? 'purchase-flow' : ''
        )
          include ../components/metadata/index
          include ../components/commercial/index
          include ../components/auction/index

      .artwork__footer( class='js-artwork-footer' )
        include ../client/footer
