.artwork__main__metadata(
  class= artwork.is_purchasable ? 'purchase-flow' : ''
)
  include ../components/metadata/index
  include ../components/commercial/index
  include ../components/auction/index
