.article-item
  margin 20px auto
  border-bottom 1px solid light-gray-border-color
  a
    text-decoration none

.article-item-image
  width 100%
  height auto

.article-item-title
  display block
  margin 10px 0
  font-size 22px
  line-height 1.2

.article-item-footer
  display table
  width 100%
  margin 15px 0 20px 0
.article-item-author-section
.article-share-section
  display table-cell
  vertical-align top
  margin 10px 0
.article-item-author-name
.article-item-contributing-name
  avant-garde-size('s-headline', true)
.article-item-author-section div:not(:only-child)
  .article-item-contributing-name
    avant-garde-size('body',true)
.article-item-contributing-name
  display inline-block
  text-decoration none
.article-share-section
  margin 10px 0
  text-align right

.articles-section-notice-header
  padding 15px 0px
  border-bottom 1px solid light-gray-border-color

  .icon-chevron-small-right
    float right
    vertical-align middle
    line-height 45px

.articles-section-notice-header-thumbnail
  display inline-block
  padding-right 15px
  img
    vertical-align middle
    height 45px
    width 45px

.articles-section-notice-header-thumbnail-text
  display inline-block
  vertical-align top
  h3
    font-size 11px
    avant-garde()
  h2
    font-size 20px

