extends ../../components/main_layout/templates/index

block body
  form( method='POST' action='' )
    button.avant-garde-button-black(
      type='submit' style='margin: 200px auto; display: block'
    ) Clear Force Cache