.auction-clock
  text-transform uppercase
  font-size 13px
  text-align center
  h2
    font-size 12px
    avant-garde-size('s-headline', true)
    color gray-color

.auction-clock-value
  avant-garde-size('m-headline', true)
  list-style none
  font-size 17px
  li
    display inline-block
    margin 0 1px
    vertical-align top
    small
      display block
      color #aaa
      font-size 9px

.auction-clock-closed
  border-top 2px solid black
  border-bottom 2px solid black
  avant-garde()
  padding 15px 0
  text-align center
  font-size avant-garde-font-size
  position relative
