#personalize-categories
#personalize-category-anything-else
  width 611px
  margin 20px auto
  text-align center
  h2
  h3
    margin 20px 0
    avant-garde()
    font-size 15px

#personalize-categories
  position relative
  min-height 200px

.personalize-category
  margin 20px 0
  border-bottom 1px solid light-gray-border-color
  > aside
    color dark-gray-text-color
  > .follow-button
    margin 20px 0
