.personalize-followeds
  margin-top 20px
.personalize-followed
  clearfix()
  padding 0 5px
  line-height 50px
  vertical-align middle
  border-top 1px solid gray-lighter-color
  &:last-child
    border-bottom 1px solid gray-lighter-color
.pfa-name
  float left
  avant-garde()
  font-size 13px
  width calc('100% - 90px')
  overflow ellipsis
.pfa-remove
  float right
  width 90px
  avant-garde()
  font-size 13px
  &:before
    content 'Following'
    color purple-color
  &:hover:before
    content 'Unfollow'
    color red-color
