// Auto-complete
#personalize-search-container
  position relative
  // Fix for Firefox
  line-height 0
  &.is-loading
    #personalize-search-spinner
      display block
      > .loading-spinner-small
        background-color highlight-color

  .twitter-typeahead
    display block
    width 100%
    height 100%
  .tt-hint
    display none
  .tt-dropdown-menu
    width 100%
    background-color #fff
    border 2px solid highlight-color
    border-top none
  .tt-suggestion
    border-bottom 1px solid light-gray-border-color
    &:last-child
      border-bottom none
    &:hover
    &.tt-cursor
      background-color #000
      *
        color #fff

#personalize-search-spinner
  display none
  position absolute
  top 0
  right 0
  width 50px
  height 100%

// Followed list
.personalize-followeds
  margin-top 20px
.personalize-followed
  clearfix()
  padding 0 5px
  line-height 50px
  vertical-align middle
  border-top 1px solid light-gray-border-color
  &:last-child
    border-bottom 1px solid light-gray-border-color
.pfa-name
  float left
  avant-garde()
  font-size 13px
  width calc('100% - 90px')
  overflow ellipsis
.pfa-remove
  float right
  width 90px
  avant-garde()
  font-size 13px
  &:before
    content 'Following'
    color highlight-color
  &:hover:before
    content 'Unfollow'
    color bad-red-color
