.cf-periods__checkbox
  display block
  padding-bottom 10px
  &[data-has-results='false']
    color gray-dark-color
    > .artsy-checkbox--checkbox
      background #f1f1f1

.cf-periods__total
  color gray-dark-color

.cf-periods__title
  padding-bottom 10px

.cf-periods__view-all
  margin-left 32px
  faux-underline(black)
