@import '../../../../components/stylus_lib'

.body-artist-page .responsive-layout-container
  // margin 0 150px

#artist-left-menu-page
  min-height 1000px
  width 100%
  max-width 1600px
  margin 0 auto
  position relative

.artist-left-menu
  float left
  width 22.32%
  height 100%
  margin 40px 0 0 40px

.artist-header
  text-align center

  h1
    avant-garde-size('l-headline')

.artist-header-follow-count
  color gray

#artist-follow-button
  margin-top 45px
  width 100%

#artist-nav-list
  margin-top 30px

.artist-left-menu .chevron-nav-list a
  font-size 13px

  &.is-active
    color purple-color

.artist-page
  border-left 1px solid gray-color
  height 1000px
  margin-left 30px
  padding-left 30px
  width 69.68%
  float left

.artist-page-section
  margin-bottom 40px

.artist-page-section__header
  garamond-size('headline')
  border-bottom 1px solid gray-color

.artist-page-section__content
  position relative

@import './sections'