.submit-inquiry-confirmation
  h1.avant-garde-header-center= header
  h2!= message
  a.avant-garde-box-button.avant-garde-box-button-black( href="/artwork/#{artwork.id}" )
    | Back to Artwork
  a.avant-garde-box-button.avant-garde-box-button-black( href='/' )
    | Back to Homepage
