@require './rc_slider'

.auction-range-slider
  margin-top 15px
  padding-bottom 15px
  border-bottom 1px solid gray-lighter-color

  &__metadata
    display flex
    justify-content space-between
    align-items center

  &__caption
    garamond-size('m-caption')
    color gray-dark-color

  &__title
    avant-garde-size('s-headline')

  &__info
    garamond-size('m-caption')
    font-style italic
    color gray-dark-color

  .rc-slider
    margin 5px
    width 95%

    &-handle
      background-color white
      width 16px
      height 16px
      border-radius 15px
      box-shadow none
      border 1px solid #ccc
      cursor pointer

      &:hover
        border 1px solid #ccc

    &-rail
      background-color #e5e5e5

    &-track
      background-color black

  .rc-slider:hover .rc-slider-track
    background purple-color
