@import '../../../components/stylus_lib'

#show-page-hours
#show-page-hours-page
  line-height 1.4em
  padding 12px 0
  a
    text-decoration none
#show-page-hours
  border-bottom 1px solid light-gray-border-color
#show-page-hours-page
  margin 0 20px

.show-page-hours-today
.show-page-hours-full
  display inline-block
  box-sizing border-box
  vertical-align middle
.show-page-hours-today
  width 73%
.show-page-hours-full
  avant-garde()
  width 27%
  padding-left 15px
  padding-right 17px
  text-align right
  a
    font-size 10px
    color light-gray-text-color
  & .chevron-arrow-button::after
    background-color light-gray-text-color
    height 17px
    margin-left 8px
    margin-top 3px
    position absolute
    width 17px

.show-page-hours-header
  padding-top 22px
  avant-garde()
  font-size 15px
  text-align center

.show-page-hours-day-schedule
  padding 12px 0
  border-bottom 1px solid light-gray-border-color
