.galleries-institutions-search-filters
  each facet in facets

    include ../components/dropdown/template

.galleries-institutions-primary-carousel.js-galleries-institutions-primary-carousel.gi-carousel-arrow-reveal
  if profiles && profiles.length
    include ../components/primary_carousel/template

.galleries-institutions-main-content(data-state= state)
  .galleries-institutions-carousels.js-partner-category-carousels
    each category in categories
      .partner-category-carousel(data-id= category.id)
        include ../components/partner_cell_carousel/template

  .galleries-institutions-search-results
    .galleries-institutions-results-heading All #{pluralType}
    .galleries-institutions-results-grid
    .galleries-institutions-spinner
      .loading-spinner
