//- Needs to have appened 2 removed
if isActive('/galleries')
  include ./meta/galleries.jade
else if isActive('/institutions')
  include ./meta/institutions.jade
else if isActive('/gallery-a-z')
  include ./meta/gallery_a_z.jade
else if isActive('/institution-a-z')
  include ./meta/institution_a_z.jade
