//- Needs to have appened 2 removed
if isActive('/galleries')
  include ./meta/galleries
else if isActive('/institutions')
  include ./meta/institutions
else if isActive('/gallery-a-z')
  include ./meta/gallery_a_z
else if isActive('/institution-a-z')
  include ./meta/institution_a_z
