.artsy-checkbox.cf-genes__checkbox
  .artsy-checkbox--checkbox
    - hasParams = selected && selected.length > 0
    input( type='checkbox', id='genes-all', checked=!hasParams )
    label( for='genes-all' )
  label.artsy-checkbox--label( for='genes-all' ) All