.cf-sidebar__genes
  padding-bottom 20px

.cf-genes__option
  garamond-size('headline', true)
  font-size 25px
  line-height 31px
  cursor pointer
  &:hover
    opacity 0.75
  &[data-has-results='false']
    opacity 0.3
    pointer-events none
  &.is-selected
    color purple-color

.cf-genes__checkbox
  display block
  padding-bottom 10px
  &[data-has-results='false']
    color gray-dark-color
    > .artsy-checkbox--checkbox
      background #f1f1f1

.cf-genes__total
  color gray-dark-color

.cf-genes__title
  padding-bottom 10px
