#notifications-page.main-layout-container
  #notifications-header
    h1 Works by artists you follow
  #notifications-filter
    .artsy-checkbox
      .artsy-checkbox--checkbox
        input( type='checkbox', id='for-sale' )
        label( for='for-sale' )
      label.artsy-checkbox--label( for='for-sale' ) Only For Sale
    if sd.FOLLOWING
      .notifications-artist-list
        for artist in sd.FOLLOWING.models
          - var artist = artist.get('artist')
          include filter_artist
    .notifications-search-header Follow More Artists
    #notifications-search-container.autocomplete-input-container.is-block
      input#notifications-search.bordered-input(
        type='text', placeholder='Search Artists', autofocus=autofocus
      )
      .autocomplete-loading-indicator: .loading-spinner-small

  //- Rendered client-side
  #notifications-react-works
