extends ../../../components/main_layout/templates/index

block head
  title Works by Artists You Follow | Artsy

append locals
  - assetPackage = 'misc'
  - bodyClass = bodyClass + ' body-infinite-scroll'

block body
  if sd.IS_MOBILE
    include ./mobile/index
  else
    include ./desktop
