header.artsy-primer-personalize-header
  h1 Select categories
  aside Select categories and art movements that you might be interested in collecting.

#artsy-primer-personalize-categories: .loading-spinner
