header.artsy-primer-personalize-header
  h1 Favorite artworks
  aside.artsy-primer-personalize-favorites-header
    | Choose five or more works that appeal to your taste.

section.artsy-primer-personalize-step( data-step='favorites' )
  #artsy-primer-personalize-favorites-container: .loading-spinner
