doctype xml
sitemapindex(
  xmlns='http://www.sitemaps.org/schemas/sitemap/0.9'
  xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
)
  for bucket in artworkBuckets
    for n, i in new Array(bucket.pages)
      sitemap
        loc=sd.APP_URL  + '/sitemap-images-' + (i + 1) + '-' + bucket.startDate + '.xml'
