extends ../../../components/layout/templates/main

block content
  #auth-page
    .artsy-logo-large
    h1.avant-garde-header-center Forgot your password?
    if error
      .auth-page-error-message= error
    form( action '/forgot_password', method='POST' )
      input.bordered-input( name='email', type='email', placeholder='Enter your email address' )
      button.avant-garde-box-button.avant-garde-box-button-black( type='submit' )
        | Send me reset instructions
        .loading-spinner
    br
    .auth-page-nevermind
      a( href='/log_in' ) Nevermind I got it!
