.auth-page-center
  br
  span By creating your Artsy account you agree to 
  br
  | our 
  a( href='/terms', target='_blank' ) Terms of Use
  span= " and "
  a( href='/privacy', target='_blank' ) Privacy Policy
  span= "."
