extends ../../components/main_layout/templates/index

mixin partner-tab-nav
  nav.featured-partners-nav.garamond-tablist
    a.garamond-tab( data-tab="galleries" href="/galleries" ) Galleries A&#8211;Z
    span &nbsp;&nbsp;|&nbsp;&nbsp;
    a.garamond-tab( data-tab: "institutions", href='/institutions' ) Institutions A&#8211;Z

block head
  include meta

block locals
  assetPackage = 'partners'

block body
  #featured-partners.main-layout-container
    header.featured-partners-header
      .featured-partners-header-info
        .featured-partners-counts
          span.featured-partners-count
          span.featured-partners-count-label
        .featured-partners-partner-invite
          | Interested in partnering with Artsy?&nbsp;
          a( target='_blank', href='https://artsy.wufoo.com/forms/artsy-partnership-request-form/' ) Contact us
      +partner-tab-nav
      h1.featured-partners-title Featured Partners

    section.featured-partners-grid
      for profile in featuredPartnerProfiles.models
        - var partner = profile.get('owner')
        - var location = partner.get('locations').first()
        figure.featured-partner-profile( data-profile-id=profile.get('id') )
          a.featured-partner-profile-cover-link( href="/" + profile.get('id') )
            img.profile-cover-image( src=profile.coverImage().imageUrl('medium') )
          figcaption
            h3.featured-partner-profile-name
              a( href="/" + profile.get('id') )= partner.get('name')
            h4.featured-partner-profile-location= [partner.get('type'), location.get('city')].join(' - ')
            button.avant-garde-button-white.follow-button

    footer
      +partner-tab-nav
