.artwork-meta-data-module
  padding-top 18px

  .artwork-meta-data-price
    margin-bottom 24px
    .sale_message
      margin-top 6px
      garamond-size('l-body')
      font-weight bold
    .shipping-info
      color gray-darker-color
      garamond-size('l-caption')


.artwork-meta-data-black__contact-button
  avant-garde-size('body', true)
  padding 12px
  width 100%
  margin 0px 0px 24px
  text-decoration none
  text-align center
  display block
  position relative
  background-color black
  color white
  &.is-disabled
    background-color transparent
    border 1px solid gray-lighter-color
    color gray-lighter-color

.artwork-header
  avant-garde-size('body', true)
  margin-bottom 10px

.artwork-meta-data__limited-partnership
  garamond-size('s-body', true)
  margin 20px 0px

.artwork-meta-data__details
  garamond-size('s-body', true)
  .artwork-meta-data__details__image-rights
    garamond-size('m-caption', true)
    color #666
    margin-top 8px

.artwork-meta-data__partner
  margin-top 30px

.artwork-partner-link.chevron-arrow-button
  display inline-block
  &::after
    margin-top 5px
    margin-left 5px
    width 11px
    height 12px

.artwork-meta-data__estimation
  margin-top 30px

.artwork-meta-data-module__description
  margin-top 24px
  pre
    white-space normal

.artwork-meta-data-module__description-additional-info
  margin-top 12px

.artwork-meta-data-module__description_sub-section
  margin-top 12px

.artwork-meta-data__accordion
  margin-bottom 40px
