.eoy-artist-item
  width 25%
  display inline-block
  margin-bottom 10px
  clearfix()
  @media (max-width: 1300px)
    width 33%
  @media (max-width: 1100px)
    width 50%
  &__thumbnail
    float left
    img
      border-radius 50px
      width 50px
      height 50px
  &__name
    float left
    avant-garde-size('body')
    padding-left 20px
