.eoy-artist-item
  width 25%
  display inline-block
  margin-bottom 20px
  clearfix()
  text-align left
  @media (max-width: 1450px)
    width 33%
  @media (max-width: 1100px)
    width 50%
  @media (max-width: 730px)
    width 100%
  &__thumbnail
    display inline-block
    vertical-align middle
    a
      text-decoration none
    img
      border-radius 45px
      width 45px
      height 45px
  &__name
    display inline-block
    vertical-align middle
    avant-garde-size('body')
    padding-top 5px
    padding-left 10px
    line-height 1
    max-width calc(100% \- 55px)
    position relative
    &__link
      text-decoration none
      overflow hidden
      white-space nowrap
    &__follow-button.entity-follow.artist-follow
      margin-left -5px 
      garamond-size('s-body', true)
      text-transform none
      letter-spacing 0
      cursor pointer

