.eoy-artist-item
  width 25%
  display inline-block
  clearfix()
  margin-bottom 10px
  &__thumbnail
    float left
    img
      border-radius 50px
      width 50px
      height 50px
  &__name
    float left
    avant-garde-size('body')
    padding-left 20px
