@require '../../../../components/stylus_lib'

deep-zoom = {
  slider: {
    height: 36px
  }
}

dz-slider-range()
  background-color transparent
  width 100%
  height 100%
  box-shadow none
  border none
  outline none
  &:focus
    outline none
  &::-moz-focus-inner
    outline none

dz-slider-range-handle()
  appearance none
  width 25px
  height @width
  border-radius (@width / 2)
  cursor pointer
  background-color white
  border none
  &:focus
    outline none
  &:active
    background-color gray-lighter-color

.deep-zoom
  position fixed !important
  top 0
  right 0
  bottom 0
  left 0
  background-color black
  z-index zindex-deepzoom
  transition opacity 0.5s

  &[data-state='fade-in']
    opacity 1
  &[data-state='fade-out']
    opacity 0

  &[data-state='loading']
    .loading-spinner-white
      display block
  .loading-spinner-white
    display none

  &[data-focus='inactive']
    .deep-zoom__close
    .deep-zoom__slider
      opacity 0

  &__close
    position absolute
    top 20px
    left @top
    width 75px
    height @width
    text-align center
    background-color gray-darker-color
    z-index 2
    opacity 0.6
    transition opacity 0.25s
    text-decoration none
    > i
      color black
      font-size 50px
      line-height @width
    &:hover
      opacity 1

  &__slider
    position absolute
    bottom 20px
    width 500px
    height: deep-zoom.slider.height
    left 50%
    margin-left -(@width / 2)
    z-index 1
    border-radius 2px
    background-color rgba(black ,0.75)
    transition opacity 0.25s

    &__track
    &__minus
    &__plus
      display block
      position absolute
      height: deep-zoom.slider.height
      line-height @height

    &__track
      left: deep-zoom.slider.height
      right @left
      &:after
        display block
        position absolute
        content ''
        left 0
        right 0
        top 50%
        margin-top -2px
        height 4px
        background-color gray-darker-color
        z-index -1
      &__range
        dz-slider-range()
      &__range::-moz-range-track
        dz-slider-range()
      &__range::-webkit-slider-thumb
        dz-slider-range-handle()
      &__range::-moz-range-thumb
        dz-slider-range-handle()

    &__minus
    &__plus
      width 36px
      text-align center
      user-select none
      color gray-dark-color
      transition color 0.25s
      > i
        font-size 16px
        line-height @width
      &:hover
        color white
    &__minus
      left 0
    &__plus
      right 0
