@require '../stylus_lib'

.suggested-genes
  text-align center
  margin 70px auto
  h3
    font-size default-avant-garde-font-size
    avant-garde()
  .loading-spinner
    position relative
    margin 100px 0

.suggestion-row
  width 785px
  margin 40px auto
  > .suggestion-item
    display inline-block
    vertical-align top
    margin 10px
    width 133px
    .img-container
      min-height 105px
      margin-bottom 10px
    a
      display block
      text-decoration none
    img
      max-height 105px
      max-width 133px
      margin 0 auto
