section.suggested-genes
  h3 Find Something You Like
  .suggestions
    ul.suggestion-row
      each g in genes
        li.suggestion-item
          a(href=g.href())
            .img-container
              img(src=g.imageUrl('tall'))
            .name= g.get('name')
