//- Requires: category, partners

.pcc-header
  .pcc-header-left
    = category.name
  a.pcc-header-right.pcc-see-all.js-partner-filter(
    data-id= category.id
    data-facet= category.facet
  ) See All

.pcc-body.js-partner-cell-carousel.gi-carousel-arrow-reveal.mgr-horizontal-nav
  .mgr-cells.js-mgr-cells
    for partner in category.partners
      .mgr-cell.js-mgr-cell.partner-cell(data-id= partner.id)
        include ../partner_cell/index

  - length = category.partners.length
  if length > 1
    include ../../../../components/merry_go_round/templates/horizontal_navigation
