@require '../../../components/stylus_lib'

@require '../components/actions/index'
@require '../components/additional_info/index'
@require '../components/artist_artworks/index'
@require '../components/artists/index'
@require '../components/auction/index'
@require '../components/auction_artworks/index'
@require '../components/banner/index'
@require '../components/collapsed_metadata/index'
@require '../components/deep_zoom/index'
@require '../components/images/index'
@require '../components/inquiry/index'
@require '../components/metadata/index'
@require '../components/partner/index'
@require '../components/related_artworks/index'
@require '../components/show_artworks/index'

artwork-page = {
  metadata: {
    width: 230px
  }
}

.artwork-page
  padding (gutter / 2) 0

.artwork
  //

  &__main
    display flex
    align-items stretch

    &__overview
    &__metadata
      //

    &__metadata
      width: artwork-page.metadata.width

    &__overview
      width calc('100% - %s' % (artwork-page.metadata.width + gutter))
      margin-right: gutter

.artwork-section
  margin (gutter /3) 0 (gutter * 2) 0
  padding-top distance(25px, 'garamond-s-headline')
  garamond-size('s-body')
  border-top 1px solid gray-lighter-color
