@require '../../../components/stylus_lib'

@require '../components/banner/index'
@require '../components/images/index'
@require '../components/actions/index'
@require '../components/metadata/index'
@require '../components/inquiry/index'
@require '../components/auction/index'
@require '../components/highlights/index'
@require '../components/tabs/index'

artwork-page = {
  gutter: 30px,
  metadata: {
    width: 230px
  }
}

.artwork-page
  padding 15px 0

.artwork
  clearfix()
  position relative

  &__overview
  &__metadata
    float left

  &__metadata
    width: artwork-page.metadata.width

  &__overview
    width calc('100% - %s' % (artwork-page.metadata.width + artwork-page.gutter))
    text-align center
    margin-right: artwork-page.gutter

.artwork-fold
  width calc('100% - %s' % (artwork-page.metadata.width + artwork-page.gutter))
