@require '../stylus_lib'

logo-size = home-logo-size
suggestion-thumbnail-size = default-icon-font-size
suggestion-height = (suggestion-thumbnail-size + 20px)

#main-layout-search-bar-container
  position relative
  width 100%
  height header-logo-size
  margin ((home-logo-size - header-logo-size) / 2) 0
  padding 0
  border 1px solid gray-color
  form
    position relative
    width 100%
    height 100%
  &.is-display-suggestions
    #main-layout-search-bar-feedback
      height logo-size
      opacity 1
  &.is-loading
    #main-layout-search-bar-spinner
      display block
    #main-layout-search-bar-feedback
      display none

#main-layout-search-bar-feedback
  display block
  position absolute
  width calc('100% + 2px')
  height 0
  left 0
  right auto
  margin-top 1px
  margin-left -1px
  padding 0 (logo-size / 2)
  visibility visible
  overflow hidden
  line-height logo-size
  border 1px solid gray-color
  border-top none
  background-color gray-lightest-color
  transition opacity 0.125s, height 0.125s

#main-layout-search-bar-spinner
  display none
  position absolute
  top 0
  bottom 0
  right 0
  width suggestion-thumbnail-size

search-bar-input-placeholder()
  color black

#main-layout-search-bar-input
  height 100%
  width @height
  padding 0 26px 0 35px
  border none
  placeholder(search-bar-input-placeholder)

#main-layout-search-bar-icon
  position absolute
  iconfont-styling()
  width default-icon-font-size
  height default-icon-font-size
  font-size 20px
  top 50%
  left 9px
  transform translateY(-50%)

// Results dropdown
#main-layout-search-bar-container
  .twitter-typeahead
    display block
    width 100%
    height 100%
  .tt-hint
    display none
  .tt-dropdown-menu
    width calc('100% + 2px')
    margin-top 1px
    margin-left -1px
    background-color white
    border 1px solid gray-lighter-color
  .tt-suggestion
    border-bottom 1px solid gray-lighter-color
    &:last-child
      border-bottom none
    &:hover
    &.tt-cursor
      opacity 1
      background-color black
      *
        color white
    &.empty-item
      background-color lighten(yellow-light-color, 50%)
      &:hover
      &.tt-cursor
        background-color yellow-light-color
        *
          color black
      .mlsb-suggestion-value
        padding-left 26px
      .mlsb-suggestion-thumbnail
        display none
  .mlsb-suggestion-kind
    display none

.mlsb-suggestion
  display flex
  width 100%
  text-decoration none
  overflow ellipsis

.mlsb-suggestion-thumbnail,
.mlsb-suggestion-value
  line-height suggestion-thumbnail-size
  height suggestion-height
  vertical-align top

.mlsb-suggestion-thumbnail
  padding 10px
  width suggestion-height

.mlsb-suggestion-fallback
  position relative
  display block
  width suggestion-thumbnail-size
  height suggestion-thumbnail-size
  background-color gray-lightest-color
  // Display person icon
  &::before
    display block
    position absolute
    content '\e61a'
    font-family 'artsy-icons'
    font-size suggestion-thumbnail-size
    line-height suggestion-thumbnail-size
    color white
  > img
    vertical-align bottom
    position absolute

.mlsb-suggestion-value
  width calc('100% - %s' % suggestion-height)
  padding 10px 10px 10px 0
  overflow ellipsis

.mlsb-suggestion-kind
  margin-left 10px
  font-style italic
  color gray-darker-color

.search-result-images
  height 90px
  margin-top 31px
  overflow hidden
  img
    display inline-block
    height 90px
    margin-right 12px
