@require '../components/saved_artworks'
@require '../components/artists'
@require '../components/categories'
@require '../components/galleries_institutions'

.settings-page__saves > .settings-section
  width 100%
