@import '../../components/stylus_lib'
@import '../../components/avant_garde_tabs/index'
@require '../../../lib/palette'

#art-fairs-page
  min-height 600px

  .art-fairs-header
    h1
      text('largeTitle')
      text-align center
      padding-top getSpace(3)
      padding-bottom getSpace(1)

  .art-fairs-header--background-image
    background-size cover
    background-position center
    height 200px
    color white
    margin-bottom getSpace(3)

    h1
      text('largeTitle')
      position relative
      top 50%
      transform translateY(-50%)

  .art-fairs-content--sign-up-container
    padding-bottom getSpace(3)
    text-align center

    .avant-garde-box-button
      background getColor('black100')
      margin-top getSpace(2)

    .art-fairs-content--sign-up-container__label
      text('text')

  #art-fairs-content

    h1
      text('largeTitle')

  .current-fairs.avant-garde-tabs-list--active
    display table
    width 100%

  .past-fairs.avant-garde-tabs-list--active
    display table
    width 100%

  .art-fairs--fair-details
    margin-bottom getSpace(1)
    padding getSpace(1, 0)
    position relative

  .past-art-fairs--border-bottom
    border-bottom 1px solid light-gray-border-color

  a.fairs-link
    display block
    vertical-align middle
    text-decoration none

  .fair-logo
    display table-cell
    padding-right getSpace(1.5)

  .fair-details
    display table-cell
    vertical-align middle

  .fair-logo img
    width 50px
    height 50px

  .fair-details h5.fair-name
    text('text')

  .fair-details p.fair-content
    text('text')

  .fair-content__location
    max-width 90%
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  .art-fairs--fair-details::after
    font-family 'artsy-icons'
    content "\e607"
    font-size 24px
    color light-gray-border-color
    position absolute
    margin-top -8px
    right 0px
    top 50%

  #paginate-past-fairs
    margin-top getSpace(2)

  .current-art-fairs__image
    width 100%
    height 180px
    background-size cover
    background-repeat none
