.settings-section-link
  display block
  padding (gutter / 4) 0
  avant-garde-size('body')
  color gray-darker-color
  transition color 0.25s
  text-decoration none
  &:hover
  &[data-state='active']
    color black
