extends ../../components/layout/templates/main

block content
  header#profile-page-header.main-side-margin
    img( src=profile.iconUrl() )
    #profile-page-header-details
      h1.avant-garde-header= profile.get('owner').name
      p!= profile.mdToHtml('bio')
  ul#profile-page-articles.main-side-margin
    .loading-spinner
