title Fair Application | Artsy
meta( property="og:title", content="Fair Application | Artsy" )
meta( name="description", content="Apply to join Artsy. Please tell us about your organization. We will use the following information about your organization to help us better assess if you would be a good fit for our program." )
meta( name="og:description", content="Apply to join Artsy. Please tell us about your organization. We will use the following information about your organization to help us better assess if you would be a good fit for our program." )
meta( property="twitter:description", content="Apply to join Artsy. Please tell us about your organization. We will use the following information about your organization to help us better assess if you would be a good fit for our program." )
link( rel="canonical", href=(sd.APP_URL + "/fair-application") )
meta( property="og:url", content=(sd.APP_URL + "/fair-application") )
