.gallery-application-form
  .artsy-checkbox
    .artsy-checkbox--checkbox
      input( name="00NC0000005Qmzo", type="checkbox", id='00NC0000005Qmzo' )
      label( for='00NC0000005Qmzo' )
    label.artsy-checkbox--label( for='00NC0000005Qmzo' ) Are you interested in listing works for sale on Artsy?

  br

  .artsy-checkbox
    .artsy-checkbox--checkbox
      input( name="00NC0000005Qmzj", type="checkbox", id='00NC0000005Qmzj' )
      label( for='00NC0000005Qmzj' )
    label.artsy-checkbox--label( for='00NC0000005Qmzj' ) Are you interested in promoting your organization on Artsy?

  br

  label.avant-garde-form-label Which artists do you represent?
  textarea.bordered-input#00NC0000005Qo0v( name="00NC0000005M7we", rows="5", type="text", wrap="soft" )

  label.avant-garde-form-label Which do you regularly have secondary market work available by?
  textarea.bordered-input#00NC0000005Qo0v( name="00NC0000005R4Rd", rows="5", type="text", wrap="soft" )

  label.avant-garde-form-label Which galleries you collaborate with regularly?
  textarea.bordered-input#00NC0000005Qo0v( name="00NC0000005R4Ri", rows="5", type="text", wrap="soft" )

  label.avant-garde-form-label Are there any current Artsy gallery partners that you either work with or know?
  textarea.bordered-input#00NC0000005Qo0v( name="00NC0000005R4Rn", rows="5", type="text", wrap="soft" )

  label.avant-garde-form-label( for="00NC0000005LZBO" ) Art fairs you participate in
    br
    span (hold down command/control to select multiple)
  select.bordered-multiple-select#00NC0000005LZBO( multiple="multiple", name="00NC0000005LZBO", title="Fairs" )
    option( value="(e)merge" ) (e)merge
    option( value="1:54" ) 1:54
    option( value="Abu Dhabi Art" ) Abu Dhabi Art
    option( value="ADAA" ) ADAA
    option( value="Affordable Art Fair" ) Affordable Art Fair
    option( value="AIPAD" ) AIPAD
    option( value="Aqua" ) Aqua
    option( value="ARCOmadrid" ) ARCOmadrid
    option( value="Art 14 London" ) Art 14 London
    option( value="Art Aspen" ) Art Aspen
    option( value="Art Basel in Basel" ) Art Basel in Basel
    option( value="Art Basel in Hong Kong" ) Art Basel in Hong Kong
    option( value="Art Basel in Miami" ) Art Basel in Miami
    option( value="art berlin contemporary" ) art berlin contemporary
    option( value="ArtBO" ) ArtBO
    option( value="Art Brussels" ) Art Brussels
    option( value="Art Chicago" ) Art Chicago
    option( value="Art Cologne" ) Art Cologne
    option( value="Art Dubai" ) Art Dubai
    option( value="arteBA" ) arteBA
    option( value="Art Fair Tokyo" ) Art Fair Tokyo
    option( value="Art Hamptons" ) Art Hamptons
    option( value="ArtInternational Istanbul" ) ArtInternational Istanbul
    option( value="Artissima" ) Artissima
    option( value="Art LA Contemporary" ) Art LA Contemporary
    option( value="Art Miami" ) Art Miami
    option( value="ARTMRKT Hamptons" ) ARTMRKT Hamptons
    option( value="Art Paris" ) Art Paris
    option( value="Art Platform LA" ) Art Platform LA
    option( value="ArtRio" ) ArtRio
    option( value="Art San Diego" ) Art San Diego
    option( value="Art Singapore" ) Art Singapore
    option( value="Art Southampton" ) Art Southampton
    option( value="Art Stage Singapore" ) Art Stage Singapore
    option( value="Art Taipei" ) Art Taipei
    option( value="Art Tokyo" ) Art Tokyo
    option( value="Art Toronto" ) Art Toronto
    option( value="Art Wynwood" ) Art Wynwood
    option( value="Collective 2 Design Fair" ) Collective 2 Design Fair
    option( value="Cutlog NY" ) Cutlog NY
    option( value="Cutlog Paris" ) Cutlog Paris
    option( value="Dallas Art Fair" ) Dallas Art Fair
    option( value="Design Days Dubai" ) Design Days Dubai
    option( value="Design Miami" ) Design Miami
    option( value="Design Miami/ Basel" ) Design Miami/ Basel
    option( value="FIAC" ) FIAC
    option( value="FNB Joburg Art Fair" ) FNB Joburg Art Fair
    option( value="Fog Art & Design" ) Fog Art & Design
    option( value="Frieze London" ) Frieze London
    option( value="Frieze NY" ) Frieze NY
    option( value="Gallery Weekend Berlin" ) Gallery Weekend Berlin
    option( value="Houston Art Fair" ) Houston Art Fair
    option( value="IFPDA Print Fair" ) IFPDA Print Fair
    option( value="Independent" ) Independent
    option( value="Indian Art Fair" ) Indian Art Fair
    option( value="KIAF" ) KIAF
    option( value="LA Art Show" ) LA Art Show
    option( value="LISTE" ) LISTE
    option( value="London Original Print Fair" ) London Original Print Fair
    option( value="Melbourne Art Fair" ) Melbourne Art Fair
    option( value="Miami Project" ) Miami Project
    option( value="miart" ) miart
    option( value="Moving Image London" ) Moving Image London
    option( value="Moving Image NY" ) Moving Image NY
    option( value="NADA Miami Beach" ) NADA Miami Beach
    option( value="NADA NY" ) NADA NY
    option( value="PAD" ) PAD
    option( value="Palm Springs Fine Art Fair" ) Palm Springs Fine Art Fair
    option( value="Paris Photo" ) Paris Photo
    option( value="Paris Photo LA" ) Paris Photo LA
    option( value="PINTA" ) PINTA
    option( value="Pulse" ) Pulse
    option( value="Pulse LA" ) Pulse LA
    option( value="Pulse Miami" ) Pulse Miami
    option( value="Pulse NY" ) Pulse NY
    option( value="Salon=Art + Design" ) Salon=Art + Design
    option( value="SCOPE" ) SCOPE
    option( value="Silicon Valley Contemporary" ) Silicon Valley Contemporary
    option( value="SOFA Chicago" ) SOFA Chicago
    option( value="SP-Arte" ) SP-Arte
    option( value="TEFAF" ) TEFAF
    option( value="Texas Contemporary" ) Texas Contemporary
    option( value="The Armory Show" ) The Armory Show
    option( value="Unpainted" ) Unpainted
    option( value="Unseen Photo Fair" ) Unseen Photo Fair
    option( value="VOLTA NY" ) VOLTA NY
    option( value="Young Art Taipei" ) Young Art Taipei
    option( value="Zona MACO" ) Zona MACO
