extends ../../../components/main_layout/templates/minimal_header

block head
  include partner-application-meta

append locals
  - assetPackage = 'partner_application'
  - bodyClass = bodyClass + ' body-responsive'

block body
  #partner-application
    header
      h1.large-garamond-header Apply to Become an Artsy Partner
      p We will use the following information about your organization to help us better assess if you would be a good fit for our program.
    include partner-form
