extends ../../components/layout/templates/main

append locals
  - assetPackage = 'mobile_partners'

block content
  .main-side-margin
    h1.avant-garde-header-center.page-heading Featured Partners

    .chevron-nav-list
      each profile in featuredPartnerProfiles.models
        - var partner = profile.get('owner')
        if partner.get('locations').length > 0
          - var location = partner.get('locations').first()
        a.nav-image-item( href=profile.href() )
          .nav-image-item-image( style="background-image: url(#{profile.coverImageUrl()})" )
          .nav-image-item-label
            .nav-image-item-label-title= partner.get('name')
            if location && location.has('city')
              .nav-image-item-label-subtitle= location.get('city')

    p.featured-partners-invite
      | Interested in partnering with Artsy?&#32;
      a( href="https://www.artsy.net/apply/" ) Contact us
