.auctions-block
  margin 0 20px
  &:last-child
    border-top 1px solid gray-lighter-color
  &__title
    garamond-size headline
    padding 15px 0
  &__list
    display flex
    padding-bottom 65px
  &__item
    width 210px
    min-height 260px
    margin-right 20px
    display flex
    flex-direction column
    justify-content space-between
    padding 12px 15px
    garamond-size s-body
    line-height 23px
    text-decoration none
    color white
    img
      padding 10px 0
      width 100%
    &last-child
      margin-right 0
  &__item-upper
    .live
      padding 2px 8px
      margin-left 10px
      float right
      border-radius 3px
      avant-garde-size s-headline
      background white
  &__item-body
    display flex
    flex-direction column
    justify-content space-between
    height 100%
  .date
    avant-garde-size s-headline

+respond-mobile()
  .auctions-block
    &__title
      garamond-size s-headline
    &__list
      flex-direction column
    &__item
      width 100%
      margin-bottom 10px
      min-height 115px
      flex-direction row
    &__image
      width 85px
      height 85px
      background-size cover
      background-position 50%
      margin-right 20px
    &__item-body
      flex 1
      height 85px
      img
        display none
