.auctions-block
  max-width 1125px
  margin 0 auto
  &__title
    garamond-size('l-headline')
  &__items
    display flex
    padding 40px 0
  &__item
    width 210px
    min-height 260px
    margin-right 20px
    text-decoration none
    color white
    padding 12px 15px
    background gray-color
    garamond-size('s-body')
    line-height 23px
    display flex
    flex-direction column
    justify-content space-between
    img
      padding 10px 0
      width 100%
    &last-child
      margin-right 0
  &__item-header
    font-weight 600
    .live
      padding 2px 8px
      color gray-color
      background white
      border-radius 3px
      avant-garde-size('s-headline')
      margin-left 10px
      float right
  &__item-body
    .date
      avant-garde-size('s-headline')