.auctions-block
  &:last-child
    border-top 1px solid gray-lighter-color
  &__title
    garamond-size headline
    padding 15px 0
  &__list
    display flex
    padding-bottom 65px
  &__item
    width 210px
    min-height 260px
    margin-right 20px
    display flex
    flex-direction column
    justify-content space-between
    padding 12px 15px
    garamond-size s-body
    line-height 23px
    text-decoration none
    color white
    img
      padding 10px 0
      width 100%
    &last-child
      margin-right 0
  &__item-header
    .live
      padding 2px 8px
      margin-left 10px
      float right
      border-radius 3px
      avant-garde-size s-headline
      background white
  &__item-body
    .date
      avant-garde-size s-headline
