.auctions-block
  &__title
    garamond-size('l-headline')
  &__items
    display flex
    padding 40px 0
  &__item
    width 210px
    min-height 260px
    margin-right 0
    text-decoration none
    color white
    padding 12px 18px
    background gray-color
    garamond-size('s-body')
    display flex
    flex-direction column
    justify-content space-between
    img
      padding 10px 0
      width 100%
    &last-child
      margin-right 0
  &__item-header
    display flex
    .live
      padding 5px 10px
      color gray-color
      background white
      border-radius 3px
      avant-garde-size('s-headline')
  &__item-body
    .date
      avant-garde-size('s-headline')