@require '../../../components/stylus_lib'

nav-width = 200px
scroll-offset = 40px

.jobs-page
  padding 60px 0

.jobs-header
  .jobs-header-headline
    garamond-size('xl-headline')
  .jobs-header-description
    garamond-size('s-body')
    a
      fine-faux-underline()

.jobs-images-cycle
  margin 40px 0 80px 0
  // 10:4 ratio
  padding-bottom 40%
  opacity 0
  &.is-loaded
    transition opacity 1s
    opacity 1

.jobs-category-section
  clearfix()
  margin 40px 0
.jobs-category-nav
.jobs-category-items
  float left
.jobs-category-nav
  width nav-width
  margin-right -(nav-width)
  background-color white
  // Pad out for sticky
  padding-top scroll-offset
  margin-top -(scroll-offset)
  z-index 2
.jobs-category-items
  margin-left nav-width

.jobs-category
  display block
  padding-bottom 40px
  color gray-dark-color
  transition color 0.125s
  text-decoration none
  &:hover
  &.is-active
    color black
  > h3
    avant-garde-size('l-headline', true)
  > p
    margin 5px 0
    garamond-size('s-body')

.jobs-items
  block-margins(140px)
  padding-top scroll-offset
  margin-top -(scroll-offset) !important

.jobs-item
  display block
  text-decoration none
  clearfix()
.jobs-item-metadata
.jobs-item-description
  overflow hidden
  float left
.jobs-item-metadata
  width (100% / 3)
.jobs-item-description
  width ((100% / 3) * 2)

.jobs-item-title
  garamond-size('headline')
.jobs-item-location
  garamond-size('headline')
  font-style italic
.jobs-item-description
  padding-left 20px
  garamond-size('s-body')

@media screen and (max-width: 768px)
  .responsive-layout-container
    margin 0

  .jobs-category-nav
    float none
    width 100%
    padding-bottom 40px
    text-align center
  .jobs-category
    display inline-block
    padding 0 20px
  .jobs-category-items
    margin-left 0
    float none

  .jobs-item-metadata
  .jobs-item-description
    float none
    width 100%
  .jobs-item-description
    padding-left 0
