.js-artists-to-follow-rail.mgr-horizontal-nav
  .mgr-cells.js-mgr-cells
    each artist in results
      .mgr-cell.js-mgr-cell.artist-rail-cell
        include ../../../../../components/artist_cell/index

  include ../../../../../components/merry_go_round/templates/horizontal_navigation
