doctype xml
urlset(
  xmlns='http://www.sitemaps.org/schemas/sitemap/0.9'
  xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
)
  for artwork in models
    if artwork.imageUrl()
      url
        loc='https://www.artsy.net/artwork/' + artwork.id
        image:image
          //- Use CDN cname
          image:loc=artwork.imageUrl()
          image:title=artwork.get('title')
          if artwork.get('artist')
            image:caption=artwork.get('title') + ' is a work of art created by ' + artwork.related().artist.get('name') + ' in ' + artwork.get('date') + '.'
          else
            image:caption=artwork.get('title') + ' is a work of art created in ' + artwork.get('date') + '.'
