doctype xml
urlset(
  xmlns='http://www.sitemaps.org/schemas/sitemap/0.9'
)
  for slug in slugs
    if slug.type == 'Gallery'
      url
        loc=sd.APP_URL + '/' + slug
    else  
      url
        loc=sd.APP_URL + '/' + pageRoot + '/' + slug
    