doctype xml
urlset(
  xmlns='http://www.sitemaps.org/schemas/sitemap/0.9'
  xmlns:video="http://www.google.com/schemas/sitemap-video/1.1"
)
  for article in articles.models
    for videoUrl in article.getVideoUrls()
      url
        loc= sd.APP_URL + '/article/' + article.get('slug')
        video:video
          video:title= article.get('thumbnail_title')
          if article.strip('lead_paragraph').length > 0
            video:description= article.strip('lead_paragraph')
          video:thumbnail_loc= article.get('thumbnail_image')
          video:player_loc= videoUrl
          video:publication_date= moment(article.get('published_at')).format('YYYY-MM-DDThh:mm:ssZ')
