include hero_unit
include nav
include common_section_mixins
.partnerships-sections
  case subject
    when 'gallery'
      include gallery_sections
    when 'institution'
      include institution_sections
    when 'auction'
      include auction_sections
