extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - bodyClass = bodyClass + ' body-no-margins body-partnerships body-partnerships--' + subject
  - assetPackage = 'partners'

block body
  .partnerships-container
    include content
