
.accept-conditions-register--title
  h2.avant-garde-header-center
    = auction.get('name')
.accept-conditions-register--form
  include ./conditions-of-sale-checkbox
  button.avant-garde-button-black.is-block.is-disabled Complete Registration
