.registration-form-section.accept-conditions
  .artsy-checkbox
    label.artsy-checkbox--label( for='accept_conditions' )
      .artsy-checkbox--checkbox.registration-form-section__checkbox
        input( id='accept_conditions', name='accept_conditions', type='checkbox', value='1' )
        label( for='accept_conditions' )
      |Agree to&nbsp;
      a( id="conditions_link" href="/conditions-of-sale" target="_blank" ) Conditions of Sale
      |.
