.registration-form-section.accept-cos
  .artsy-checkbox
    .artsy-checkbox--checkbox.registration-form-section__checkbox
      input( id='accept_cos', name='accept_cos', type='checkbox', value='1' )
      label( for='accept_cos' )
    label.artsy-checkbox--label( for='accept_cos' )
      | Agree to&nbsp;
      a( href="/conditions-of-sale" target="_blank" ) Conditions of Sale
      |.
