extends ../../../components/main_layout/templates/minimal_header

append locals
  - assetPackage = 'auctions'
  - options = {stripev3: true}

block body
  #auction-registration-page
    .bid-registration-form.credit-card-form
      .bid-registration-form-header
        h2.avant-garde-header-center Register to bid on Artsy
        p.registration-info= sd.BIDDER_INFO_COPY_P1
        p.registration-info= sd.BIDDER_INFO_COPY_P2
      .bid-registration-form-contents
        include ./registration-form
      .registration-form-content
        .avant-garde-button-black.is-block.is-disabled Register
