- var showName=false
.auction-registration-form
  .registration-form-section.credit-card
    .registration-form-header Card Information
    .registration-form-content
      include ../../../components/credit_card/templates/credit_card

  .registration-form-section.billing-address
    .registration-form-header Billing Address
    .registration-form-content
      include ../../../components/credit_card/templates/address

  .registration-form-section.accept-cos
    .artsy-checkbox
      .artsy-checkbox--checkbox.registration-form-section__checkbox
        input( id='accept_cos', name='accept_cos', type='checkbox', value='1' )
        label( for='accept_cos' )
      label.artsy-checkbox--label( for='accept_cos' )
        | Agree to&nbsp;
        a( href="/conditions-of-sale" target="_blank" ) Conditions of Sale.

  .registration-form-section.register
