extends ../../../components/main_layout/templates/minimal_header

append locals
  - assetPackage = 'auctions'

block body
  #auction-registration-page
    .bid-registration-form.credit-card-form
      .bid-registration-form-header
        h2.avant-garde-header-center Registration for this auction is not currently open.