.auction-ArtistFilter
  &__title
    avant-garde-size('s-headline')
    padding-top 15px
    padding-bottom 10px
    margin-top 10px
    border-top 1px solid gray-lighter-color

  &__artists-you-follow
    padding-bottom 10px
    margin-bottom 10px
    border-bottom 1px solid gray-lighter-color
