extends ../../../components/layout/templates/main

block content
  #fair-feed.main-side-margin
    h1.fair-page-module-heading.fair-feed-heading Live at The Armory Show
    #fair-feed__caption Post your best photos from The Armory Show using the hashtag #TheArmoryShow.
    #fair-feed__refresh.refresh-icon

  #fair-feed__list
  #fair-feed__empty-message No entries found
  #fair-feed__spinner.loading-spinner
