extends ../../../components/layout/templates/main

block content
  #fair-for-you.fair-for-you-loading
    if fair.imageUrl('large_rectangle')
      #fair-page-img( style="background-image: url(#{fair.imageUrl('large_rectangle')})" )
    .main-side-margin
      h1#fair-page-title My Guide
      h2#fair-page-subtitle
        | Your personal Guide to the fair.
        | Favorite or follow works to add them to your guide.
      .fair-for-you-personalized
      h3.fair-for-you-exhibitors-heading Find Exhibitors to Follow
      .fair-for-you-exhibitors
