.settings-auction-registration
  display flex
  align-items center
  justify-content space-between
  padding gutter 0
  border-bottom 1px solid gray-lighter-color
  &:last-child
    border none

  &___icon
    //
    > img
      background-color gray-color
      width 100px
      height @width

  &___metadata
    flex 1
    inline-block-margins(gutter)
    > a
      text-decoration none
    &__name
      garamond-size('l-body')
    &__date
      garamond-size('s-body')

  &___button
    //
