title= artist.toAuctionResultsPageTitle()
meta( property="og:title", content=artist.toAuctionResultsPageTitle() )
meta( name="description", content=artist.toAuctionResultsPageDescription() )
meta( property="og:description", content=artist.toAuctionResultsPageDescription() )
link( rel="canonical", href=(sd.APP_URL + "/artist/" + artist.get('id') + "/auction-results") )
meta( property="og:url", content=(sd.APP_URL + "/artist/" + artist.get('id') + "/auction-results") )
meta( property="og:type", content=(sd.FACEBOOK_APP_NAMESPACE + ":artist" ) )
if artist.hasImage('large')
  meta( property="twitter:card", content="summary_large_image" )
  meta( property="og:image", content=(sd.APP_URL + "/artist/" + artist.get('id') + ".jpg") )
else
  meta( property="twitter:card", content="summary" )
