section.probuyer-proposition
  h3.probuyer-proposition__headline
    = proposition.headline

  .probuyer-proposition__content
  .probuyer-proposition__content__image
    img( src= proposition.image )

  .probuyer-proposition__content__figures
    for figure in proposition.figures
      .probuyer-proposition__figure
        .probuyer-proposition__figure__number
          = figure.number
        .probuyer-proposition__figure__label
          = figure.label

    a.probuyer-proposition__content__button.avant-garde-button-black.is-block(
      href= isPendingApproval ? undefined : '#{paths.show}/complete'
      class= ((user ? '' : 'js-move-to-cta') + ' analytics-pro-buyer-join')
      disabled= isPendingApproval ? 'disabled' : undefined
    )
      if isPendingApproval
        | Application Submitted
      else
        = user ? 'Join as ' + user.get('name') : proposition.cta.label
