@require '../stylus_lib'
@require '../main_layout/stylesheets'

global-reset()

.error-handler
  &-body
    garamond()
    font-size default-garamond-font-size
    line-height 1.4em
    text-rendering optimizeLegibility
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    *, *:before, *:after
      box-sizing border-box

    // These need JS to function—which we shouldn't rely on in the error page
    #main-header-menu-button, .mlf-upper-column-aside
      display none
    .mlf:not(.mlf__mobile) .mlf-upper-column
      width 25%

  &-layout
    height calc(100vh \- 430px)
    @media screen and (max-width: 768px)
      min-height 70vh

  &-footer
    background white
    position relative
    z-index 1

  &-container
    position absolute
    text-align center
    width 100vw
    margin 0
    padding 0 20px
    top calc(50% \- 70px)
    left 50%
    transform translate(-50%, -50%)
    a
      cursor pointer
      -webkit-tap-highlight-color rgba(26, 26, 26, 0.301961)
      color black
      background none
      text-decoration none
    .fine-faux-underline
      padding-bottom 2px
      border-bottom 1px solid gray-darker-color
    &:before
      display block
      position absolute
      content attr(data-code)
      top calc(50% \+ 30px)
      left 50%
      transform translate(-50%, -50%)
      text-align center
      font-size 535px
      line-height 1
      z-index -1
      color gray-lightest-color
      @media screen and (max-width: 768px)
        font-size 250px
        top calc(50% \- 30px)
    @media screen and (max-width: 768px)
      top 50%

  &-headline
    max-width 60%
    margin 40px auto
    garamond-size('l-headline')
    @media screen and (max-width: 768px)
      garamond-size('s-headline')
      margin 0
      max-width 100%

  &-inner
    margin 30px 0 50px
    garamond-size('l-body')
    > p
      block-margins(20px)
    @media screen and (max-width: 768px)
      margin 20px 0 30px

  &-trace
    background white
    border 0
    border 3px solid gray-lightest-color
    color gray-dark-color
    font-size 13px
    line-height 1.6em
    margin 20px auto
    max-height 115px
    max-width 75%
    monospace()
    overflow-x auto
    padding 5px 9px
    text-align left
    word-break break-word

  &-return
    margin 20px 0 60px
    a
      avant-garde()
      background black
      padding 15px 40px
      color white
      font-size 13px
      border 0

  &-logo
    position fixed
    top 10px
    left 10px
