include article_mixins

//- Hero Section
- hero = article.get('hero_section')
if hero
  case hero.type
    when 'video'
      != particle(hero.url)
    when 'image'
      +image(hero, 1100)

//- Content
if article.strip('lead_paragraph')
  p!= article.get('lead_paragraph')
for section, i in article.get('sections')
  case section.type
    when 'text'
      p!= section.body
    when 'image'
      +image(section, 500)
    when 'video'
      != embed(section.url)
    when 'image_collection'
      if section.images
        for image in section.images
          if image.type == 'image'
            +image(image, 500)
          else
            +artwork(image)
    when 'artworks'
      if section.artworks
        for artwork in section.artworks
          +artwork(artwork)
