@require '../../../../components/merry_go_round'
@require '../../../../components/artist_cell'

.artwork-artist-related-rail
  mgr-n-up(4, 30px, (3/4), false)

  &__header
    display flex
    position relative
    margin-bottom 30px
    h2
      garamond-size('headline', true)

  .hoverable-image-link
    width 100%

  .artwork-artist-rail-cell
    mgr-n-up(4, 30px, (3/4), false)

  &:hover
    .mgr-navigation
      opacity 1

.artwork-artist-related-rail__view-all
  position absolute
  right 0
  text-decoration none
  margin-top 0.15em
  border-bottom 1px solid

.view-all-rail-cell
  height 100%
  &__inner
    height 100%
