extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'categories2'

block body
  .categories-page.main-layout-container
    h1.categories-page__header
      | The Art Genome Project
