extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'categories2'

block body
  .l-categories-page.main-layout-container

    .l-categories-page__nav
      | Categories sticky nav TK

    .l-categories-page__content

      h1.categories-page__header
        | The Art Genome Project

      p.categories-page__blurb
        | The Art Genome Project is the classification system and technological framework that powers Artsy.
        | It maps the characteristics (we call them &ldquo;genes&rdquo;) that connect artists, artworks, architecture, and design objects across history.
        | There are currently over 1,000 characteristics in The Art Genome Project, including art historical movements, subject matter, and formal qualities.

      .wip
          ul
            each g in genes.models
              li
                = g.get('name')
