// Editorial Signup
.articles-es-cta
  position relative
  display flex
  align-items center
  flex-direction column
  width 100vw
  background-color black
  color white
  &[data-signup=false]
    .articles-es-cta__container
      display none
    .articles-es-cta__social
      display block
  &[data-page=magazine]
    margin-left -20px
    margin-bottom 40px
    margin-top 20px
    border-bottom 1px solid gray-color
  &__container, &__social
    height 258px
    width 100vw
    margin auto
    z-index 5
  &__container
    padding 40px 20px
    h2
      garamond-size('headline', true)
      margin-bottom 30px
    h3
      avant-garde-size('s-headline', true)
      margin-bottom 10px
  &__form
    width 100%
    display flex
    align-items center
    > button
      padding 10px
      height 30px
      width 90px
      border-radius 2px
      background-color black
      avant-garde-size('s-headline', true)
      margin-left -100px
      color white
      border-color black
      line-height 0
    > input
      background-color white
      border none
      height 50px
  &__social
    display none
    padding 40px 20px
    h2
      garamond-size('headline', true)
      margin-bottom 30px
  &__social-item
    display flex
    align-items center
    background-color transparent
    width 50%
    height 50px
    text-align center
    color white
    border 1px solid white
    border-right none
    avant-garde-size('body', true)
    text-decoration none
    &:last-of-type
      border-right 1px solid white
    i
      color white
    i.icon-instagram
      font-size 20px
      width 25px
      margin 0 15px 0 15px
    i.icon-snapchat svg
      fill white
      width 25px
      padding-bottom 5px
      margin 0 15px 0 15px
    i.icon-twitter
      font-size 35px
      margin 0 11px 0 11px
    i.icon-facebook
      margin 0 11px 0 11px
    &:hover
      transition background-color 0.25s
      background-color white
      color black
      i
        color black
      i.icon-snapchat svg
        fill black
  &__row
    display flex
    &:last-of-type
      .articles-es-cta__social-item
        border-top none
  &__background
    width 100vw
    li
      width 100vw
      height 258px
      position absolute
      background-size cover
      background center center no-repeat
  &__background-cover
    z-index 4
    width 100vw
    height 258px
    left 0
    right 0
    margin auto
    position absolute
    background-image linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 100%)

#js--mail-hint, .js-suggestion a
  color white

@media screen and (max-width: 320px)
  .articles-es-cta__social-item
    avant-garde-size('s-headline', true)
  .articles-es-cta__container h2
    garamond-size('s-headline', true)
