.articles-section-header__banner
  border-bottom 1px solid light-gray-border-color
  avant-garde()
  font-size 11px
  padding 10px 0

  img
    width 75px
    padding-left 15px
    vertical-align middle

.articles-section-header__headline
  padding 20px 0

  h1
    font-size 25px
    line-height 30px

.articles-section__featured .article-item
  border-bottom none

.articles-section__sticky.chevron-nav-list a::after
    margin-top 8px

.articles-section-feed-item
  width 100%
  text-decoration none
  padding 15px 0

.articles-section-feed-item__details,
.articles-section-feed-item__thumb
  display inline-block


.articles-section-feed-item__thumb
  width 45px
  height 45px
  vertical-align middle

  & > img
    display block
    max-width 100%
    max-height 45px

.articles-section-feed-item__details
  padding 0 20px 0 15px
  vertical-align middle
  letter-spacing 0px
  text-transform none
  font-size 18px
  garamond()
  width calc(100% \- 45px)
