extends ../../../../../components/main_layout/templates/minimal_header

block head
  title Professional Buyer Program | Artsy

append locals
  - assetPackage = 'misc'
  - bodyClass = bodyClass + ' body-no-margins'

block body
  .probuyer-page( class='js-probuyer-complete-view' )
    include ./page
