.fair-artist-info
  color light-gray-text-color
  margin-bottom 24px

#fair-artist
  .avant-garde-box-button
    margin-bottom 24px

  .fair-artist-on-artsy-link
    margin-bottom 50px

  .fair-exhibitors-show:last-child
    border-bottom none
