.fair-for-you-loading
  #fair-page-title, #fair-page-subtitle
    visibility hidden

  #fair-page-subtitle
    border-bottom 1px solid light-gray-border-color

.fair-for-you-exhibitors-heading
  sans-serf()
  border-bottom 1px solid light-gray-border-color
  font-size 20px
  padding 24px 0
  text-align center 

.fair-for-you-exhibitors
  margin-top -1px
