@import '../../../components/stylus_lib'

.fair-page-info-map
  width 100%

.formatted-markdown
  h2
    font-size 24px
    margin-bottom 12px
    padding-top 24px
    line-height: 150%
  p
    margin-bottom 24px
  em, i
    font-style italic
