#fair-trending
  .fair-page-module-heading
    border-bottom none
    margin-bottom 0
  h2.fair-page-module-heading
    padding 36px 0 24px

  .fair-nav-item-image
    padding 12px 0 6px
  .fair-nav-item-image
    height 75px
    width 75px
  .fair-nav-item-label
    margin-left 12px
    margin-top 10px
    width calc(60% - 12px)

  .fair-trending-artists
    .fair-nav-item-label-padding
      height 24px
