include ../../templates/mixins.jade

+settings-section('saved-artworks', 'Saved Artworks')
  include ../../components/quasi_infinite/index.jade

+settings-section('artists', 'Artists')
  include ../../components/quasi_infinite/index.jade

+settings-section('categories', 'Categories')
  include ../../components/quasi_infinite/index.jade

+settings-section('galleries-institutions', 'Galleries & Institutions')
  include ../../components/quasi_infinite/index.jade
