@import '../../../components/stylus_lib'

#home-top-featured-links
  position relative
  .loading-spinner
    margin-top 70px
.home-top-feature-link
  display inline-block
  padding 25px
  border-right 1px solid light-gray-border-color
  border-bottom @border-right
  width 25%
  vertical-align top
  img
    max-width 95px
    max-height @max-width
    float left
    margin-right 15px
  h4
    font-size 15px
  h3
    font-size 11px
    color #666

.home-top-feature-link-details
  avant-garde()