@import '../../../components/stylus_lib'

column-gap = 30px

// Generic elements
// ----------------

.home-featured-header
  font-size 38px
  padding 30px 0
  border-top 1px solid gray-lighter-color
  clear both
  &:first-of-type
    border-top 0

.home-featured-list
  position relative
  min-height 300px

.home-browse-all
  margin 30px 0
  float right
  font-size default-avant-garde-font-size

.home-featured-cover-img
  overflow hidden
  background no-repeat center center
  background-size cover
  padding-bottom 70%

li.grid-item a
  text-decoration none

// Top featured links
// ------------------

#home-top-featured-links
  position relative
  min-height 120px

.home-top-feature-link
  display inline-block
  padding (column-gap / 2)
  padding-right 0
  border-right 1px solid gray-lighter-color
  border-bottom @border-right
  width 25%
  vertical-align top
  height 102px
  overflow hidden
  a
    text-decoration none
  &:first-child
    padding-left 0
  &:last-child
    border-right 0
    padding-right 0
  img
    max-width 95px
    max-height @max-width
    position absolute
  h4
    font-size default-avant-garde-font-size
  h3
    font-size 11px
    color #666

.home-top-feature-link-details
  avant-garde()
  padding-left 105px

// Featured artworks
// -----------------

#home-featured-artworks li, #home-suggested-artworks li
  figure
    margin 0
  a
    width 100%
  .artwork-item-more-info
    display none

#home-suggested-artworks
  padding-bottom 40px


// Featured posts
// --------------

.home-featured-post-link
  display inline-block
  vertical-align top
  width 20%
  height 250px
  a
    display block
  &:first-child
    float left
    width (golden-ratio-small-percent + 2)
    padding-right column-gap
    height auto
    h4
      font-size 24px
      line-height 1.2em
    .home-featured-cover-img
      padding-bottom 410px
  &:nth-child(2), &:nth-child(5)
    padding-right (column-gap * .66)
  &:nth-child(3), &:nth-child(6)
    padding-right (column-gap * .33)
    padding-left (column-gap * .33)
  &:nth-child(4), &:nth-child(7)
    padding-left (column-gap * .66)
  &:nth-child(2), &:nth-child(3), &:nth-child(4)
    margin-bottom 20px
  .home-featured-cover-img
    padding-bottom 140px
  h4
    margin-top 10px
  h5
    avant-garde()
    font-size 11px
    padding-top 3px
  a
    text-decoration none

// Featured artists
// ----------------

.home-featured-artist-link
  h4, h5
    text-align center
  h4
    avant-garde()
    margin 12px 0 6px 0
    font-size 13px
  a
    display block
