@import '../../../components/stylus_lib'

#footer-links
  border-top 3px solid black
  margin-top 30px
  padding-top @margin-top
  ul
    display inline-block
    width 25%
    border-right 1px solid light-gray-border-color
    vertical-align top
    padding-left 30px
    line-height 1.8em
    height 188px
    &:last-child
      padding-right 0
      border-right 0
    &:first-child
      padding-left 0
  lh
    avant-garde()
    margin-bottom 15px
    font-size 13px
    display block
  a
    text-decoration none