@import './hero_units.styl'
@import './featured_items.styl'
@import './footer_links.styl'

hero-units-height = 470px

#home-body
  margin auto

#home-layout-container
  margin 0 layout-side-margin

#home-foreground
  z-index 1
  width 100%
  background white
  margin-top hero-units-height
  margin-bottom -106px
  padding-bottom 100px

#home-hero-units
  height hero-units-height
  position fixed
  top 0
  width 100%
  background black
  z-index -1
  position fixed