@import './hero_units.styl'
@import './featured_items.styl'
@import './footer_links.styl'
@import '../../../components/featured_shows'

hero-units-height = 470px

#home-body
  margin auto

#home-foreground
  z-index 1
  width 100%
  background white
  position relative
  margin-top hero-units-height
  padding-bottom 20px

#home-hero-units
  height hero-units-height
  position fixed
  top 0
  width 100%
  background black
  z-index 1
  position fixed

#home-unsubscribe
  text-align center
  margin-top 200px

html[data-useragent*="iPad"]
  #home-hero-units
    position absolute
