@import '../stylus_lib'

.related-post
  block-margins(40px)
  clearfix()
  a
    display block
    text-decoration none

.rp-author
  line-height 1
.rp-title
  width 90%
  margin 10px 0
  font-size 28px
  line-height 1.25
.rp-image
  float left
  width 30%
.rp-blurb
  float left
  width 70%
  padding-left 40px
.rp-author
.rp-go
  avant-garde()
  font-size 11px
  white-space nowrap
.rp-go
  margin 0 10px
  &:hover
    border-bottom 2px solid
