@import '../../components/stylus_lib'

#page-markdown-content
  width: 100%
  margin-bottom 1em
  h1, h3
    avant-garde()
  h1, h2, h3
    text-align center
    margin 1.2em 0 1em 0
  h1
    font-size large-avant-garde-font-size
  h2
    font-size 23px
    text-align: left
    line-height 115%
  h3
    font-size: avant-garde-font-size
    text-align: left
  img
    max-width 280px
  p + p
    margin-top 1em
  ul
    list-style disc
    li
      margin-bottom 1em
      margin-left 1em
  