- author = article.related().author
- imgUrl = article.cropUrlFor('thumbnail_image', { width: 640, height: Math.round(640 / 1.7), quality: 90 })

.article-item
  a.article-item-link( href= article.href() data-id = article.get('id') )
    img.article-item-image(
      src="#{imgUrl}"
      alt= article.get('thumbnail_title')
      onerror='this.style.display="none";'
    )

    h3.article-item-title
      = article.get('thumbnail_title')

  .article-item-footer
    .article-item-author-section
      if !(article.get('contributing_authors').length && article.get('author_id') === '503f86e462d56000020002cc' && sd.CURRENT_PATH === '/articles')
        .article-item-author
          .article-item-author-name
            = article.get('author') ? article.get('author').name : ''

      .article-item-contributing
        include contributing_authors

    .article-share-section
      - url = sd && (sd.APP_URL + article.href())
      - description = (article.get('share_description') || article.get('thumbnail_title')) + ' @Artsy'
      include share
