.artwork-image-module
  include ./image_module

  .main-side-margin
    .artwork-image-module__details
      .artwork-header-module
        .artwork-header-module__favorites-container
          if artwork.auction && !artwork.auction.is_closed
            a.artwork-header-module__watch-button( data-action='save' data-state='unsaved')
              include ../../../../../../desktop/components/main_layout/public/icons/bell.svg
          else
            a.artwork-header-module__favorite-button.circle-border-icon-button( data-action='save' data-state='unsaved')
              i.icon-heart
        .artwork-header-module__share-container
            .artwork-header-module__share-button

      .artwork-image-module__artwork-details
        if artwork.auction && artwork.auction.sale_artwork && artwork.auction.sale_artwork.lot_label
          .lot-number
            | Lot #{artwork.auction.sale_artwork.lot_label}
        if artists.length
          for artist, index in artists
            - var addCommaAfterName = artists.length > 1 && index < artists.length - 1
            a.artist-name(href=artist.href)= artist.name
            if addCommaAfterName
              span
                |, &nbsp;
        else if artwork.cultural_maker
          .artist-name= artwork.cultural_maker

        include ./details.jade

      include ./attribution_class
