@require '../../../../lib/palette'

height-desktop = 240px
height-mobile = 150px

.auction-Banner
  height height-desktop
  position relative
  overflow hidden
  background-color getColor('black100')

  +respond-desktop()
    margin-bottom getSpace(4)

  +respond-mobile()
    height height-mobile
    margin-bottom getSpace(2)

  &__background-image
    background-size cover
    background-position center
    background-color rgba(0, 0, 0, 0.4)
    background-blend-mode multiply
    height height-desktop

    +respond-mobile()
      height height-mobile

    &_isLiveOpen
      height 600px
      blur(20px)
      transform scale(1.05)
      background-color rgba(0, 0, 0, 0.0)
      background-blend-mode none

  &_isLiveOpen
    color getColor('white100')
    text-align center
    height 600px

    +respond-mobile()
      height 200px

    h1
      text('largeTitle')
      margin-bottom getSpace(2)

      +respond-mobile()
        margin-bottom getSpace(1)

    .avant-garde-button-white
      background-color getColor('white100')
      width 400px
      padding getSpace(1.5)
      border 0
      border-radius getSpace(0.3)

      +respond-mobile()
        padding getSpace(1)
        width 90%

  &__live-details
    z-index 2
    position absolute
    width 70%
    top 50%
    left 50%
    transform translate(-50%, -50%)

  &__closed
    text('largeTitle')
    color getColor('white100')
    z-index 2
    position absolute
    display flex
    align-items center
    justify-content center
    width 100%
    height 100%
    top 0

