.auction-Footer
  display table
  width 100%
  margin 60px 0

  &__auction-articles
    display table-cell
    width 50%
    height 100%
    vertical-align middle
    padding-right 20px
    &:empty
      display none
    > .article-figure
      margin 20px 0
      .article-figure-figcaption
        padding-right 30px
