@require '../../components/stylus_lib'

.gene-page
  padding 20px 0

.gene-header
  position relative
  text-align center
.gene-header-headline
  margin 10px 0
  avant-garde-size('xl-headline')
.gene-header-follow-button
  margin 10px 0

.gene-share-buttons
  position absolute
  top 0
  right 0
  .icon-pinterest
    display none

.gene-blurb
  > p
    block-margins(20px)
    > a
      fine-faux-underline()

#gene-filter
  padding-top 20px
  margin-top 30px
  border-top 1px solid gray-lighter-color