@require '../../stylus_lib'
@require '../../../../node_modules/artsy-ezel-components/spinners'
@require '../../follow_button'

.circle-button
  display inline-block
  position relative
  width 58px
  margin 0 10px
  height @width
  cursor pointer
  color black
  background-color transparent
  text-align center
  vertical-align middle
  border 2px solid gray-lighter-color
  border-radius (@width / 2)
  opacity 1
  user-select none
  // Override icon-styling line-height
  line-height @height !important
  transition all 0.125s
  &:hover
    background-color gray-darker-color
    border-color @background-color
    color white
  &.is-active
  &[data-state='active']
    background-color purple-color
    border-color @background-color
    color white

.circle-button-with-label
  display inline-block
  text-align center

.circle-button-label
  avant-garde()
  font-size 11px
  color black
  margin-top 5px

.highlight-link
  line-height 1.1
  text-decoration none
  transition color 0.25s
  &:hover
    color purple-color

.play-button
  position absolute
  background-color black
  cursor pointer
  height 55px
  width 75px
  top 50%
  left @top
  margin-top -(@height / 2)
  margin-left -(@width / 2)
  padding 25px
  transition background-color 0.25s
  &:hover
    background-color purple-color
  &:after
    display block
    position absolute
    content ''
    top 50%
    left @top
    width 0
    height 0
    border-top 10px solid transparent
    border-bottom @border-top
    border-left 20px solid white
    margin-top -10px
    margin-left @margin-top

.button-separator
  display inline-block
  width 0
  margin 0 5px

.avant-garde-button
  display inline-block
  position relative
  padding 15px 30px
  font-size 13px
  line-height 1
  cursor pointer
  border none
  background-color gray-lightest-color
  avant-garde()
  transition background-color 0.25s, color 0.25s
  border 1px solid transparent
  text-decoration none
  &:focus, &:hover
    outline none
    background-color gray-lighter-color
  // States
  &[data-state='success'], &.is-success
    background-color green-color
    color #fff
    &:hover
      background-color darken(green-color, 25%)
  &[data-state='error'], &.is-error
    &, &:focus
      background-color red-color
      color #fff
      &:hover
        background-color darken(red-color, 25%)
  &[data-state='loading'], &.is-loading
    &, &[disabled], &[disabled]:hover
      background-color purple-color
      color transparent !important
      // Note:
      // Giving the loading state to input[type='submit']
      // or input[type='button'] will *not* display a spinner.
      // These elements don't support psuedo-elements.
      &::before
        display block
        content ''
        spinner(25px, 6px, #fff)
  // Handle icons
  > i
    line-height 0
    vertical-align -8px
    margin 0 10px 0 -15px

  &[disabled], &.is-disabled, &.is-disabled
    &, &:hover
      background-color gray-lightest-color
      cursor default
      color rgba(black, 0.5)
      &[data-state='success'], &.is-success
        background-color green-color
      &[data-state='error'], &.is-error
        background-color red-color

  // Structural variants
  &.is-block
    width 100%
    text-align center
  &.is-small
    font-size 11px
    padding 10px 20px
    &[data-state='loading'], &.is-loading
      &::before
        spinner(16px, 4px, #fff)
  &.is-tiny
    font-size 11px
    padding 6px 12px 5px
    &[data-state='loading'], &.is-loading
      &::before
        spinner(12px, 3px, #fff)

// Stylistic variants
.avant-garde-button-black
  @extends .avant-garde-button
  text-align center
  background-color black
  color #fff
  border 1px solid transparent
  &:focus, &:hover
    background-color purple-color
  &[disabled], &.is-disabled
    &, &:hover
      background-color gray-darker-color
      color rgba(white, 0.75)

.avant-garde-follow-button-black
  @extends .avant-garde-button
  min-width 115px
  &, &:hover, &:focus
    user-select none
    text-align center
    color white
  &, &:focus
    background-color black
  &:hover
    background-color purple-color
  &[data-state='following'], &.is-following
    background-color white
    color gray-color
    border 1px solid gray-lighter-color
  &.no-touch[data-state='following'],
  &.no-touch.is-following
    &:hover
      color purple-color

.avant-garde-button-dark
  @extends .avant-garde-button
  color white
  background-color gray-darkest-color
  &:focus, &:hover
    background-color purple-color
  &[disabled], &.is-disabled
    &, &:hover
      background-color gray-darkest-color
      color rgba(white, 0.25)

.avant-garde-button-white
  @extends .avant-garde-button
  background-color transparent
  border 1px solid gray-lighter-color
  &:focus, &:hover, &:active
    color purple-color
    background-color transparent
  &[data-state='success'], &.is-success
    background-color transparent
    color green-color
    &:hover
      background-color transparent
      color purple-color
  &[data-state='error'], &.is-error
    &, &:focus
      background-color transparent
      color red-color
      &:hover
        background-color transparent
        color purple-color
  &[data-state='loading'], &.is-loading
    background-color white
    &::before
      background-color purple-color
  &[disabled], &.is-disabled
    &, &:hover
      background-color transparent

.avant-garde-button-text
  @extends .avant-garde-button
  background transparent
  padding 0
  border-bottom 2px solid transparent
  display inline-block
  &:focus, &:hover, &:active
    border-bottom-color black
    background transparent
  &[data-state='loading'], &.is-loading
    background transparent
    border-color transparent
    transition color 0
    &::before
      background black

.avant-garde-button-underlined
  @extends .avant-garde-button-text
  border-bottom-color black

.stacked-button-menu
  max-width 100%
  margin 0 auto
  > a
  > button
    display block
    width 100%
    margin 10px auto
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0
  > a > i
  > button > i
    line-height 0
    margin-right 10px
    vertical-align middle

.garamond-button-text
  display inline-block
  position relative
  garamond()
  text-transform uppercase
  letter-spacing 1px
  color black
  text-decoration none
  line-height 1
  cursor pointer
  border none
  &[data-state='loading'], &.is-loading
    &, &[disabled], &[disabled]:hover
      color transparent !important
      // Note:
      // Giving the loading state to input[type='submit']
      // or input[type='button'] will *not* display a spinner.
      // These elements don't support psuedo-elements.
      &::before
        display block
        content ''
        spinner(25px, 6px, black)
