//
// List any data-uri embedded assets here so they are only embedded once.
//

.order-form-cc-brands
  background-image: url('/images/cc_brands.png')

.order-form-geotrust
  background-image: url('/images/geotrust.png')

.mobile-section-iphone
  background-image: url('/images/fair-iphone-promo.png')

.mobile-section-iphone-large
  background-image: url('/images/fair-iphone-promo-large.jpg')
