//
// List any data-uri embedded assets here so they are only embedded once.
//

@font-face
  font-family 'artsy-icons'
  src url('/fonts/artsy-icons.eot?uo9ko')
  src url('/fonts/artsy-icons.eot?#iefixuo9ko') format('embedded-opentype'),
    url('/fonts/artsy-icons.woff2?uo9ko') format('woff2'),
    url('/fonts/artsy-icons.ttf?uo9ko') format('truetype'),
    url('/fonts/artsy-icons.woff?uo9ko') format('woff'),
    url('/fonts/artsy-icons.svg?uo9ko#artsy-icons') format('svg')
  font-weight normal
  font-style normal

.order-form-cc-brands
  background-image: url('/images/cc_brands.png')

.order-form-geotrust
  background-image: url('/images/geotrust.png')

.mobile-section-iphone
  background-image: url('/images/fair-iphone-promo.png')

.mobile-section-iphone-large
  background-image: url('/images/fair-iphone-promo-large.jpg')
