@require '../../../components/stylus_lib'
@require '../../../components/article/stylesheets'
@require '../personalize/stylesheets'

.artsy-primer
  &-h2, &-h3, &-user
    display inline-block
    vertical-align baseline

  &-logo
    width 236px
    display inline-block
    vertical-align middle
    @media screen and (max-width: 768px)
      width 136px

  &-header
    position fixed
    top 0
    left 0
    border-bottom 1px solid gray-lighter-color
    width 100%
    background white
    z-index 2
    padding 26px 0 20px
    @media screen and (max-width: 768px)
      padding 15px 0 10px 0

  &-h2
    margin-left 20px
    font-style italic
    color #000
    font-size 30px
    line-height 1.25
    text-decoration none
    @media screen and (max-width: 768px)
      font-size 15px
      position absolute
      right 20px
      margin-top 5px

  &-h3
    margin-left 30px

  &-user
    float right
    border-right 1px solid gray-lighter-color
    @media screen and (max-width: 768px)
      display none

  &-article
    padding-top 190px
    min-height calc(100vh \- 133px)
    .article-author-date, .article-share-fixed, .article-social
      display none !important