header.profile-header
  border-bottom: 1px solid light-gray-border-color
  margin-top: 100px
  position: relative

  .profile-info-container
    width: 650px
    margin: 0 auto 43px auto
    position relative

  .profile-icon-container, .profile-info
    display: inline-block
    vertical-align: top

  .profile-info
    width: 491px
    margin-left: 20px

  .follow-button
    float: right
    margin-right: 55px

  .website
    text-decoration none

  .profile-followers
    color dark-gray-text-color

  .profile-badge
    margin 0px auto
    .profile-badge-icon
      height: 138px
      width: 138px
  .profile-badge-name
    avant-garde()
    font-size: 17px
