.consignments2-submission-upload-photo
  &__title
    margin-top 50px
    text-align center
    garamond-size('headline')
    line-height 1.1
    margin-bottom 5px

  &__subtitle
    text-align center
    color gray-dark-color
    margin 0 auto
    margin-bottom 37px
    max-width 550px

  &__form
    max-width 550px
    margin 0 auto

  &__submit-button
    height 45px
    width 100%
    margin-top 40px
    margin-bottom 10px

  &__submit-button[disabled]
    pointer-events none
    background-color white
    color gray-color
    border 1px solid gray-color

  &__drop-area
    border 1px dashed black
    display flex
    align-items center
    justify-content center
    height 124px
    width 100%
    margin-bottom 30px

    &:hover
      border-color purple-color
      cursor pointer
      color purple-color
      g
        fill purple-color

  &__drop-area-contents
    text-align center

  &__camera-icon
    svg
      width 23px

  &__cta
    avant-garde-size('s-headline')

  &__file-upload
    width 0.1px
    height 0.1px
    opacity 0
    overflow hidden
    position absolute
    z-index -1

  &__error
    color red-color
    text-align center

