@import '../stylus_lib'

.artist-fillwidth-list-item
  position relative
  min-height 200px
  margin-top 10px
  h4
    avant-garde()
    font-size default-avant-garde-font-size
    margin-bottom 20px
  button
    top 0
    right 0
    position absolute
    margin -5px 0 0 0

.artist-fillwidth-list-artworks img
  max-height 180px !important

.artist-fillwidth-list-see-more
  text-align center
  margin-top 40px