@require '../../../components/stylus_lib'
@require './banner'
@require './header'
@require './my_active_bids'
@require './registration_component'
@require '../../../components/commercial_filter/stylesheets'

.auction2-page
  clearfix()

.auction-page-section-block
  margin 10px 0 60px 0
  padding-top 15px
  border-top 1px solid gray-lighter-color
  &:first-child
    margin-top 0
    padding-top 0
    border-top none

.auction2-commercial-filter
  border-top 1px solid gray-lighter-color

  .cf-sidebar__filter.cf-sidebar__price
    border-top none
