@require '../../../components/clock'
@require '../../../components/add_to_calendar'
@require '../../../components/my_active_bids'
@require '../../../components/bid_status'
@require '../../../components/artwork_item/stylesheets'
@require '../../../components/artwork_columns'
@require '../../../components/bordered_pulldown'
@require '../../../components/stylus_lib'
@require '../../../components/commercial_filter/stylesheets'
@require '../components/auction_artworks/index'
@require '../components/auction_grid_artwork/index'
@require '../components/bid_status/index'
@require './banner'
@require './header'
@require './my_active_bids'
@require './registration_component'

.auction2-page
  clearfix()

.auction2-commercial-filter
  margin-top 20px
  border-top 1px solid gray-lighter-color

  .cf-sidebar-title__mediums, .cf-sidebar-title__artists
    padding-top 20px
    margin-top 20px
    border-top 1px solid gray-lighter-color
    padding-bottom 0px

  .cf-sidebar__filter.cf-sidebar__mediums, .cf-sidebar__followed_artists
    padding-top 10px
    border-top none

  .cf-sidebar__aggregated_artists
    padding-top 20px
    border-top 1px solid gray-lighter-color

  .cf-sidebar__info
    color #9b9b9b
    font-style italic

  .cf-view-options
    &__grid, &__list
      display inline-block
      border 2px solid gray-lighter-color
      padding 2px
      cursor pointer
      svg
        fill gray-lighter-color
        width 32px
        height 32px

    &__grid
      border-right none

    &[data-state='grid']
      .cf-view-options__grid
        svg
          fill black

    &[data-state='list']
      .cf-view-options__list
        svg
          fill black
