figure.post-link( id='link_' + attachment.id, data-attachment=attachment.id, style="width=" + attachment.maxWidthForWidth(imageWidth) + "px;" )
  img( src=attachment.imageSrc(), height=attachment.maxHeightForWidth(imageWidth), width=attachment.maxWidthForWidth(imageWidth), nopin="nopin" )
