figure.post-link( id='link_' + attachment.id, data-attachment=attachment.id, style="width=" + attachment.maxWidthForWidth(maxDimension) + "px;" )
  img( src=attachment.imageSrc(), height=attachment.maxHeightForWidth(maxDimension), width=attachment.maxWidthForWidth(maxDimension), nopin="nopin" )
