figure.post-link( id='link_' + link.id, data-attachment=link.id, style="width=" + link.maxWidthForWidth(maxDimension) + "px;" )
  img( src=link.imageSrc(), height=link.maxHeightForWidth(maxDimension), width=link.maxWidthForWidth(maxDimension), nopin="nopin" )
