figure.post-image( data-attachment=attachment.id )
  img( height=attachment.maxHeightForWidth(imageWidth), width=attachment.maxWidthForWidth(imageWidth), src=attachment.imageUrl('larger'), nopin="nopin" )
