figure.rich-link( id='link_' + attachment.id, data-attachment=attachment.id, style="width=" + attachment.maxWidthForWidth(maxDimension) + "px;" )
  .rich-player
    != attachment.get('oembed_json').html
