figure.video-link( style="width=" + attachment.maxWidthForWidth(imageWidth) + "px; height=" + attachment.maxHeightForWidth(imageWidth) + "px;", data-attachment=attachment.id )
  .post-film
    .placeholder
      img( src=attachment.imageSrc(), height=attachment.maxHeightForWidth(imageWidth), width=attachment.maxWidthForWidth(imageWidth), nopin="nopin" )
      .play
    .video
