.show-more-works__artworks-slider
  margin 0px auto
  avant-garde()
  font-size 10px
  text-align center
  position relative
  .circle-border-icon-button
    margin-top -24px
    background-color white
    border 1px solid #ccc
    & .chevron-arrow-button::after
      transform rotate(90deg)
      background-color black
      position absolute
      margin-left -13px
      margin-top 20px
      height 22px
