if artwork.description
  != artwork.description

if artwork.additional_information
  != artwork.additional_information

if artwork.signature
  != artwork.signature

if artwork.series
  p= artwork.series
