.artwork-additional-info__content__about-the-work

  if artwork.description
    != artwork.description

  if artwork.additional_information
    != artwork.additional_information

  if artwork.signature
    p Signature:&nbsp;#{artwork.signature}

  if artwork.publisher
    p Publisher: #{artwork.publisher}

  if artwork.manufacturer
    p Manufacturer: #{artwork.manufacturer}

  if artwork.articles.length
    .artwork-additional-info__content__articles
      for article in artwork.articles
        include ./article
