@require '../stylus_lib'

.contact-header
  margin default-modal-padding default-modal-padding 20px default-modal-padding

.contact-header-top
  text-align center
  border-bottom 1px solid gray-lighter-color
  margin 0 -30px 20px
  padding-bottom 20px
  h1
    garamond-size('s-headline')

#contact-errors
  color red-color
  text-align center

.contact-form
  margin 0 default-modal-padding default-modal-padding default-modal-padding

.contact-form-edit-message
  avant-garde()
  font-size 12px

#contact-errors
  margin-bottom 10px

// Only displayed on inquiries
.contact-iph
  display table

.contact-iph-icon
.contact-iph-body
  display table-cell
  vertical-align middle

.contact-iph-body
  padding-right 10px

.contact-artwork-details
.contact-show-details
  clearfix()
  img
    height 45px
    float left
    margin 0 15px 10px 0

.mcf-email
  color gray-dark-color

.contact-privacy
  margin-top 1em
  font-size default-garamond-font-size - 1
  &, a
    color gray-darkest-color
