- var disabled = count == 0 || !user.isLoggedIn()
.artsy-checkbox.cf-followed_artists__checkbox(data-has-results=disabled ? 'false' : 'true')
  .artsy-checkbox--checkbox
    input( type='checkbox', id='followed-artists-filter', checked=selected, disabled=disabled )
    label( for='followed-artists-filter' )
  label.artsy-checkbox--label( for='followed-artists-filter' ) Artists You Follow&nbsp;
    span.cf-followed_artists__total.garamond-m-caption (#{numberFormat(count)})
if !user.isLoggedIn()
  .cf-followed_artists__cta.avant-garde-button-white
    | Sign Up