@import '../../stylus_lib'

.inquiry-questionnaire
  .modal-close
    display none
  .modal-body
    padding 40px 35px

.iq-steps
  avant-garde-size('s-headline', true)
  > span
    text-transform lowercase

.iq-headline
.iq-headline-caption
  display table
  width 100%
  position relative
  > span
    display table-cell
    vertical-align bottom
    &:first-child
      padding-right 20px
    &:last-child
      padding-left 20px
      text-align right
      garamond-size('s-body')
      color gray-darker-color

.iq-headline
  margin 15px 0 10px
  garamond-size('l-body')
.iq-headline-caption
  margin 10px 0
  garamond-size('s-body')

.iq-form
  margin 20px 0

.iq-search
  > span
    left 20px
    > .icon-search
      position absolute
      top 50%
      left 0
      transform translate(-50%, -50%)
      font-size 20px
      color gray-color
  > .bordered-input
    padding-left 35px

.iq-multiple-choice
  margin 50px 0
  > a
    garamond-size('s-body')

.iq-nevermind
  text-decoration none
  color gray-darker-color
  garamond-size('s-body')
