h2#upc-empty-header
  | You haven't saved any works to this collection yet.
.large-garamond-header Medium/Technique
hr
ul#upc-featured-sets.grid-4-up
  for link in featuredLinks
    li.grid-item
      a( href=link.get('href') )
        .upcfs-img-container
          img( src=link.imageUrl('medium_rectangle') alt=link.get('title') )
        h3= link.get('title')