extends ../../../components/main_layout/templates/index

block head
  include ../../../components/main_layout/templates/profile_meta

append locals
  - assetPackage = 'user_profile'
  - bodyClass = bodyClass + ' user-profile-collection-body'

block body
  - isUser = user && user.get('id') == profile.get('owner').id
  #user-profile-collection.main-layout-container( class=(isUser ? '' : 'upc-isnt-user') )
    header
      a.contextual-return-link(
        href=(isUser ? '/favorites' : '/' + profile.get('id') + '/favorites')
      )
        i.icon-chevron-small-left
        | Back to works
      h1.garamond-header-center!= collection.get('name')
      em.garamond-header-center#upc-artworks-total
      nav#user-profile-collection-right
        a#user-profile-collection-right-slideshow View Slideshow
        if isUser
          a#user-profile-collection-right-edit Edit
          a#user-profile-collection-right-share Share
    #user-profile-collection-artworks
    #user-profile-collection-artworks-spinner
      .loading-spinner
    #user-profile-collection-slideshow
      #upc-slideshow-spinner
        .loading-spinner
      #upc-slideshow-artworks
      #upc-slideshow-left
        .icon-chevron-left
      #upc-slideshow-right
        .icon-chevron-right
      #upc-slideshow-close
        .icon-close