h1.iq-headline
  if artwork.related().partner.get('pre_qualify')
    = title
  else
    span= title
    span (Optional)

form.iq-form.stacked-form
  .iq-form-errors.js-form-errors
    //- Rendered separately

  .js-user-interests
    //- Rendered separately

  .iq-sticky-spacer
    //- Spacer

  .iq-sticky-bottom
    button.avant-garde-button-black.is-block.iq-next( type='submit' ) Next
