h1.iq-headline
  | How can we help you?

form.stacked-form
  nav.small-chevron-list.iq-multiple-choice
    a.js-choice( data-value='price' ) I&rsquo;d like to know the price of this artwork
    a.js-choice( data-value='purchase' ) I&rsquo;d like to purchase this artwork
    a.js-choice( data-value='student_research_question' ) I&rsquo;m a student/researcher and I have a question
    a.js-choice( data-value='journalist_question' ) I&rsquo;m a journalist and I have a question
    a.js-choice( data-value='other_question' ) Other inquiry

if artwork.related().partner.get('pre_qualify')
  include ./partials/nevermind
