h1.iq-headline
  if artwork.related().partner.get('pre_qualify')
    | Any institutional affiliations?
  else
    span Any institutional affiliations?
    span (Optional)

h2.iq-subheadline
  | Collector groups, memberships, etc.

form.iq-form.stacked-form
  .iq-form-errors.js-form-errors
    //- Rendered separately

  textarea.bordered-input(
    rows='7'
    id='institutional_affiliations'
    name='institutional_affiliations'
  )
    = user.related().collectorProfile.get('institutional_affiliations')

  button.avant-garde-button-black.is-block.iq-next( type='submit' ) Next

if artwork.related().partner.get('pre_qualify')
  include ./partials/nevermind
