@require '../../../../components/inquiry_questionnaire/stylesheets'


.artwork-partner
  width 100%
  display table
  block-margins(gutter / 2)
  padding gutter 0

  &__metadata
  &__icon
    display table-cell
    vertical-align middle

  &__metadata
    padding 0 (gutter / 2) 0 gutter

  &__icon
    width 25%
    text-align right
    padding-right gutter

    &--icon
      background-color white

    > a
      display inline-block
      width 90px
      height @width
      background-size contain
      background-repeat no-repeat
      background-position center center
      initials()

  &__metadata
    border-left 1px solid gray-lighter-color

    &__name
      serif('headline')
      text-decoration none

    &__locations
      serif('s-body')
      color gray-dark-color

    &__bio
      margin (gutter / 4) 0 (gutter / 2) 0
      serif('s-body')

    &__actions
      margin-top (gutter / 2)

      > a
      > span
        inline-block-margins(gutter / 4)

      &__followers
        serif('l-caption')
        color gray-dark-color
