@import '../stylus_lib'

.merchandisable-items
  position relative
  display flex
  flex-direction row
  flex-wrap wrap
.merchandisable-item
  width 20%
  padding-right 20px
  text-decoration none
.merchandisable-item-metadata
  margin 20px 0
.merchandisable-item-image > img
  max-width 100%
  max-height 100%
.merchandisable-item-title
  font-weight bold
.merchandisable-item-publish-date
  color gray-darker-color
