@import '../../../components/stylus_lib'

#personalize-page
  margin 20px 20px 40px 20px

.personalize-header
  margin 20px auto
  text-align center

  & > .avant-garde-header-center
    font-size large-avant-garde-font-size

.personalize-subheader
  margin 10px auto
  color #666

.personalize-following-list
  padding 10px 20px
  ellipsis()

  & > strong
    avant-garde()
    margin-right 5px
    font-weight normal
    font-size avant-garde-font-size

.personalize-footer
  margin: 20px 0
  text-align right
  background-color white

  & > #skip
    faux-underline()
    border-color #666
    text-transform uppercase
    text-decoration none
    padding-bottom 20px

.personalize-search-result
  display table
  width 100%
  padding 7px 20px
  border-bottom 1px solid light-gray-border-color

.personalize-search-result-display,
.personalize-search-result-actions
  display table-cell
  vertical-align middle
  width 100%

.personalize-search-result-display
  padding 10px 20px 10px 0
  line-height 1.1

.personalize-search-result-actions
  text-align right

.autocomplete-input-container.is-active .personalize-following-list
  border-bottom 1px solid light-gray-border-color

#continue
  z-index 2

// Utilities
.is-hidden
  display none !important

.is-shown
  display block !important
