#artist-related-artists-section.artist-page-section
  h2.artist-section-header Related Artists
  #artist-related-artists
    //- Rendered separately

#artist-related-contemporary-section.artist-page-section
  h2.artist-section-header Suggested Contemporary Artists
  #artist-related-contemporary
    //- Rendered separately
