#artist-page-section-works.artist-page-section
  h3.artist-section-header Works
  .artist-page-section__content
    #artist-filter
      #artist-filter-nav.filter-fixed-header-nav
        .filter-fixed-header-left
            span.filter-artworks-num
            | &nbsp;Works
        include ../../../../components/filter2/dropdown_group/template
      #artist-artworks.artist-artworks
        include ../../../../components/filter2/template
