include ../../checkbox

form.stacked-form
  .paf-checkbox-set
    .stacked-form-cell: +checkbox('00NC0000005RGgM', 'Promoting collections', 'Promoting collections')
    .stacked-form-cell: +checkbox('00NC0000005RGgM', 'Promoting exhibitions', 'Promoting exhibitions')
    .stacked-form-cell: +checkbox('00NC0000005RGgM', 'E-Commerce for limited editions', 'E-Commerce for limited editions')
    .stacked-form-cell: +checkbox('00NC0000005RGgM', 'Artsy CMS + iPad App', 'Artsy CMS + iPad App')
    .stacked-form-cell: +checkbox('00NC0000005RGgM', 'Artsy education', 'Artsy education')
    .stacked-form-cell: +checkbox('00NC0000005RGgM', 'Benefit auctions', 'Benefit auctions')

  textarea.bordered-input( placeholder='Any other partnership goals?', name='00NC0000005RGgb' )= form.get('00NC0000005RGgb')

  button.avant-garde-button-black.paf-next Next
