@require '../../../components/tooltips'

.cf-followed_artists__checkbox
  display inline-block
  padding-bottom 10px
  &[data-is-logged-in='false']
    color gray-dark-color
    > .artsy-checkbox--checkbox
      background #f1f1f1

.cf-followed_artists__total
  color gray-dark-color

.cf-followed_artists__title
  padding-bottom 10px
  display inline-block

.cf-followed_artists__cta
  font-size 11px
  padding 5px 10px
  margin-left 22px
