@import '../stylus_lib'
@import '../location_search'

#modal.after-inquiry
  .modal-close
    display none
  .modal-body
    padding 20px 35px
  .modal-body
  .auth-errors
  #auth-footer aside
    text-align center
  h1
  h2
    margin 10px 0
  h1
    font-size 22px
    line-height 1.25
  h2
    avant-garde()
    font-size 13px
    line-height 1
  aside
    margin 20px 0
    text-align left
    .help-tooltip
      margin-right 0
  .stacked-form
    margin 20px
  .stacked-form-cell
    > label
      text-align left
    input
      margin-top 5px

#after-inquiry-introduction-preview
  display none
.after-inquiry-introduction-preview
  position relative
  margin 5px 0 10px 0
  text-align left
  font-style italic
  color gray-darker-color
  line-height 1.2

.after-inquiry-bookmark-artists
  .results-list-item
    border none
    &:first-child
      border none
  .garamond-results-list-item-cell
    padding 2px 0
  .bookmark-artist-remove
    padding 0
