extends ../../../components/main_layout/templates/index

block head
  title Unsubscribe | Artsy

append locals
  - assetPackage = 'unsubscribe'

block body
  #unsubscribe-page.main-layout-container
    h1 Unsubscribe me from the following:

    hr.is-invisible

    form.stacked-form
      each emailDisplay, emailType in emailTypes
        .stacked-form-cell: .artsy-checkbox
          input( id=emailType, name=emailType, type='checkbox' )
          label( for=emailType, data-label=emailDisplay )

      hr

      .unsubscribe-check-all.stacked-form-cell: .artsy-checkbox
        input( id='selectAll', name='selectAll', type='checkbox' )
        label( for='selectAll', data-label='Select All' )

      hr

      p You may still receive previously scheduled emails for a few days after unsubscribing.

      button.avant-garde-button-black Submit Preferences
