@require '../stylus_lib'

mgr-n-up(n, gutter, imageRatio, alignArrows = false)
  n-up(n, gutter, imageRatio)
    percent = 100% / n
    gutterOffset = ((n - 1) / n) * gutter

    .mgr-cell
      top ratio
      padding 0px
      margin-right gutter
      width calc('%s - %s' % (percent gutterOffset))

    // Aligns arrows to cell's 3:4 image. Override if undesired.
    if alignArrows
      .mgr-arrow-left
      .mgr-arrow-right
        display block
        padding-top calc('(%s - %s) * %s / 2' % (percent gutterOffset imageRatio))
      .mgr-arrow-icon
        transform translateY(-50%)

  n-up(n, gutter, imageRatio)
  @media screen and (max-width: 1024px)
    n-up(n, gutter/2, imageRatio)

.mgr-horizontal-nav
  position relative
  &:hover .mgr-navigation
    opacity 1 !important
  .mgr-navigation
    transition opacity .25s
    opacity 0
    pointer-events none
    padding 0
    margin 0
    display block
    &.is-hidden
     display none
    &.is-touch
      opacity 1
  .mgr-arrow-left
  .mgr-arrow-right
    width auto
    height auto
    display block
    border none
    position absolute
    display flex
    align-items center
    top 0
    bottom 0
    cursor pointer
    user-select none
    pointer-events all
    > i
      user-select none
  .mgr-arrow-icon
    padding 10px
  .mgr-arrow-left
    right 100%
  .mgr-arrow-right
    left 100%
  .mgr-cell
    padding 0
    margin-right 15px

.mgr-cells
  white-space nowrap
  overflow hidden
.mgr-cell
  display inline-block
  padding 0 10px
  vertical-align top
  > *
    font-size inherit
  img
    display inline-block

.mgr-navigation
  display table
  width 100%
  margin 10px auto
  padding 0 10px
  user-select none
  &.no-scroll
    display none
.mgr-arrow-left
.mgr-arrow-right
.mgr-dots
  display table-cell
  vertical-align middle

.mgr-arrow-left
.mgr-arrow-right
  width 45px
  height @width
  text-align center
  border 3px solid transparent
  transition border-color 0.125s
  cursor pointer
  &:hover
    border-color black
  &[disabled]
    color gray-lighter-color
    border-color transparent
    cursor default
    pointer-events none

.mgr-dots
  text-align center
  font-family Verdana, sans-serif
  font-size 20px
  line-height 1
.mgr-dot
  display inline-block
  margin 0 2px
  color gray-color
  cursor pointer
  transition color 0.2s ease-in-out
  &:hover
  &.is-active
    color black

// Flickity-specific styling
// (We're not including their CSS)
.flickity-enabled
  position relative
  &:focus
    outline none
  &.is-draggable
    user-select none
.flickity-viewport
  overflow hidden
  position relative
  height 100%
.flickity-slider
  position absolute
  width 100%
  height 100%

.view-all-rail-cell
  height 100%
  &__inner
    position relative
    border 1px solid gray-lighter-color
    background-color white
    transition background-color .25s
    &:hover
      background-color gray-lightest-color
  &__link
    text-decoration none
    display block
    position absolute
    display flex
    align-items center
    justify-content center
    left 0
    right 0
    top 0
    bottom 0
  &__text
    avant-garde-size('body')
