.about-container
  .span2
    if user
      | &nbsp;
    else
      +pull-blurb(footer)
      a.avant-garde-button-white.about-signup-button
        = footer.button

  .span2
    a( href='/' )
      i#about-section6-logo.icon-logo
