- brSplit = section.header.split('<br>')
h1.about-section-header
  for letter in brSplit[0].split('')
    span= letter
  if brSplit[1]
    br
    for letter in brSplit[1].split('')
      span= letter
