- var imageWidth = 800
- var imageHeight = 450

.hero-shows-carousel
  if partnerShows.length > 1
    a.mgr-arrow-left.icon-chevron-left.js-mgr-prev(disabled= true)

  .hero-shows-carousel-captions
    for show, i in partnerShows
      .hero-show-caption( class= (i == 0 ? 'is-active' : undefined) )
        .hero-show-subtitle
          | #{show.statusLabel()} #{show.formatShowOrFairCity()} Show
        .hero-show-title
          a( href= show.href() )
            = show.get('name')
        .hero-show-location-and-time
          = _.compact([show.formatShowOrFairCity(), show.runningDates()]).join(', ')
    if partnerShows.length > 1
      .mgr-dots
        for _, i in partnerShows
          - var classes = i == 0 ? ['is-active'] : []
          - classes = i >= numberOfActiveDots ? classes.concat(['is-deemphasized']) : classes
          - classes = i > numberOfActiveDots ? classes.concat(['is-hidden']) : classes
          .mgr-dot.js-mgr-select(class=classes)

  .hero-shows-carousel-images
    .mgr-cells.js-mgr-cells
      for show in partnerShows
        .mgr-cell.js-mgr-cell
          a( href= show.href() )
            img( src= show.cropUrlFor({ width: imageWidth, height: imageHeight }) )

  if partnerShows.length > 1
    a.mgr-arrow-right.icon-chevron-right.js-mgr-next
