@require '../../../components/merry_go_round'

.hero-shows-carousel
  a
    text-decoration none
  &:hover
    .mgr-arrow-left
    .mgr-arrow-right
      opacity 0.5

  .hero-shows-carousel-captions
  .hero-shows-carousel-images
  .mgr-arrow-left
  .mgr-arrow-right
    display inline-block
    vertical-align middle

  .hero-shows-carousel-captions
    position relative
    width 40%
    text-align center

  .hero-shows-carousel-images
    width 60%

  .hero-show-caption
    position absolute
    top 0
    left 0
    opacity 0
    width 100%
    padding 0 20px
    z-index -1
    &.is-active
      position static
      opacity 1
      transition opacity 0.5s ease-in-out

  .hero-show-subtitle
    avant-garde-size('body')
    margin-bottom 10px
  .hero-show-title
    garamond-size('l-headline')
  .hero-show-title
  .hero-show-caption
    margin-bottom 15px

  .mgr-arrow-left
  .mgr-arrow-right
    border none
    opacity 0
    transition opacity 0.25s
    &:hover
      opacity 1

  .mgr-arrow-left
    margin-left -45px
  .mgr-arrow-right
    margin-right -45px

  .mgr-dots
    display inline-block

  .mgr-cell
  .mgr-cell img
    width 100%
