grow-time = 0.5s
menu-delay = 0.7s
max-items = 20

.save-controls-drop-down-container
  position absolute
  right 5px
  top 5px
  height 40px
  z-index 1
  transition right grow-time
  force-hardware-acceleration()

.save-controls-drop-down-container .overlay-button-save
  width 40px
  height @width
  background-color rgba(0, 0, 0, 0.4)
  border-radius (@width / 2)
  line-height @height
  text-align center
  display inline-block
  cursor pointer
  color white
  font-size 16px
  opacity 1
  transition width grow-time
  position relative
  z-index max-items + 2
  position relative
  &:hover
    background-color black
  &::before
    display none
  &::after
    opacity 0

.overlay-button-save-heart, .overlay-button-save-heart-transparent
  svg
    height 16px
    width @height
    position absolute
    top 13px
    left 12px
  path
    stroke white

.overlay-button-save-heart-transparent
  opacity 0.3

.overlay-button-save-heart path
  stroke-dashoffset 1500px
  stroke-dasharray 4000px
  transition stroke-dashoffset 1s linear

.save-controls-drop-down-container, .artwork-image-actions
  &[data-state='saving']
    .overlay-button-save
      opacity 1
      display inline-block !important
      background-color purple-color
      &:before
        opacity 0.4
    .overlay-button-save-heart path
      stroke-dashoffset 4000px
  &[data-state='saved'], &[data-state='saved-reopen']
    &.save-controls-drop-down-container
      right -25px
    .overlay-button-save
      opacity 1
      background-color purple-color
      width auto
      display inline-block !important
      padding 0 12px
      width 102px
      &:after
        content 'Saved'
        avant-garde()
        font-size default-avant-garde-font-size
        padding-left 19px
        position relative
        bottom 1px
        opacity 1
        transition opacity grow-time linear grow-time
    .save-controls-drop-down-menu
      display block
      opacity 1
      max-height 2000px
      z-index 1
    .save-controls-drop-down-menu-item
      top 0
      transition top 0.2s linear menu-delay
    .overlay-button-save-heart path
      transition-duration 0s
  &[data-state='saved-reopen']
    right 5px
    .overlay-button-save
      width 40px
      &::after
        display none
    .save-controls-drop-down-menu
      margin-left -15px
      margin-top -30px
      transition max-height 0.2s linear 0 !important
    .save-controls-drop-down-menu-item
      transition top 0.2s linear 0 !important
  &[data-state='saved-close']
    .overlay-button-save
      opacity 1
      background-color purple-color
      display inline-block !important
    .save-controls-drop-down-menu-item
      transition top 0.2s linear 0 !important
    .save-controls-drop-down-menu
      display block
      opacity 1
      z-index -1
      transition max-height 0.2s linear 0, margin-top 0s linear 0.5s, margin-left 0s linear 0.5s !important

.artwork-item
  &:hover
    .save-controls-drop-down-container .overlay-button-save
      display inline-block
  .save-controls-drop-down-container .overlay-button-save
    display none
    &[data-state='saved']
      display inline-block

.save-controls-drop-down-menu
  color white
  position absolute
  width 250px
  left 32px
  margin-top -10px
  transition max-height 1s menu-delay
  z-index -1
  max-height 0
  overflow hidden
  opacity 0
  cursor default
  text-align left
  nav
    width 251px
  h4, .save-controls-drop-down-menu-item
    padding 13px 20px
    border-bottom 1px solid gray-darkest-color
    background black
    position relative
    &:last-child
      border-bottom 0
  h4
    avant-garde()
    font-size default-avant-garde-font-size
    padding-top 20px
    z-index max-items + 1
  .save-controls-drop-down-new
    position relative
    transition background 0.3s
    &.is-loading
      background purple-color
      .loading-spinner-white
        display block
      form
        opacity 0
    &.is-hover
      background purple-color
      .icon-plus-small
        background gray-lighter-color
        color black
    .loading-spinner-white
      display none
      margin 0
    input
      background transparent
      padding 0
      margin 0
      garamond()
      font-size default-garamond-font-size
      border 0
      border-bottom 1px dotted gray-darker-color
      margin-top 3px
      width 180px
      color white
      &::-webkit-input-placeholder
        color white !important
      &::-moz-input-placeholder
        color white !important
    .icon-plus-small
      position absolute
      background gray-darker-color
      color white
      padding 0px 6px
      font-size 13px
      border 0
      right 13px
      bottom @right
      line-height 27px
      cursor pointer
      transition color 0.3s, background 0.3s
  .icon-check
    font-size 13px
    position absolute
    right 18px
    bottom 7px
    display none
  .save-controls-drop-down-menu-item.is-active
    .icon-check
      display block
    &:hover
      .icon-close
        display block
      .icon-check
        display none
  .icon-close
    font-size 14px
    vendor('text-stroke-width', 2px)
    color red-color
    right 17px
    position absolute
    top 9px
    display none

.save-controls-drop-down-menu-item
  overflow ellipsis
  cursor pointer
  &:hover
    background gray-darkest-color

for i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
  .save-controls-drop-down-menu-item:nth-child({i})
    top -(i * 46)px
    z-index (max-items - i)

.artwork-item-image-link
  overflow visible !important

.save-controls-drop-down-menu-artwork-page-container
  position absolute
  opacity 0
  z-index -1
  max-height 0
  margin 20px 0 0 -260px
  top 0
  transition max-height 0.3s
  overflow hidden
  padding-right 14px
  .save-controls-drop-down-menu
    left inherit
    top inherit
    margin 0
    overflow hidden
    position relative
  .icon-arrow-down
    top 20px
    right 3px
    color black
    font-size 14px
    transform scaleY(1.5) rotateZ(-90deg)
    width 20px
    height 20px
    position absolute

.circle-icon-button-save .loading-spinner-small
  display none

.artwork-image-actions[data-state='saving']
  .circle-icon-button-save
    &::before
      display none
    .loading-spinner-small
      display block

.artwork-image-actions[data-state='saved']
.artwork-image-actions[data-state='saved-reopen']
  .save-controls-drop-down-menu-artwork-page-container
    opacity 1
    z-index 1
    max-height 1000px
  .save-controls-drop-down-menu
    margin 0 !important