.partner2-news-item
  margin 0 10px
  &:first-child
    margin-left 0
  &:last-child
    margin-right 0
.partner2-news-item-subtitle
  avant-garde-size('s-headline')
  margin-bottom 10px
.partner2-news-item-title
  garamond-size('l-body')
  margin-bottom 5px
  font-style italic
  a
    text-decoration none
