include lib

.about-foreground
  .about-section( id='the-art-world-online', data-href='/about/the-art-world-online')
    include the_art_world_online
  .about-section( id='collecting', data-href='/about/collecting')
    include collecting

  //- Re-include it gets covered by the foreground
  .about-footer
    include ../../../../components/main_layout/footer/template.jade
