- section = sections['the-art-genome-project']

.about-container
  include header
  p.about-section-preamble= section.preamble.text

//- "Works are given a genome..."
.about-container
  .span4: img( data-src= section.preamble.src )
  .span2: +pull-blurb(section.pullBlurb1)

//- "Characterstics are used to connect artworks"
#about-section3-genome-works.about-container
  #about-section3-genome-works-pullblurb.span3
    +pull-blurb(section.pullBlurb2)
  #about-section3-genome-works-column
    for artwork, i in section.genomeWorks
      .about-genome-work
        .about-genome-work-image
          a( href=artwork.href )
            img( data-src= artwork.src, alt= artwork.title )
          if artwork.genes
            .about-genome-work-genes
              for gene in artwork.genes
                a.about-genome-work-gene( href= gene.href )= gene.name
          include artwork_details
