extends ../../../components/main_layout/templates/minimal_header

append locals
  - assetPackage = 'artists_artworks'

block body
  #order-page
    .checkout-form
      h2.garamond-header-center Checkout
      .order-page-content
        .order-form.credit-card-form
          section.order-ship-to
            h2.order-page-sm-heading Ship To
            .order-form-text-address
              != order.formatShippingAddress() + " "
              a( href="/order" ) Edit
            h2.order-page-sm-heading Shipping Method
            .order-form-shipping-note
              if order.shippingNote()
                = order.shippingNote()
              else
                | After your order is processed, an Artsy Specialist will connect you with the seller to arrange shipping. Payment for shipping will be collected at that time.
          section.order-form-credit-card-section
            include ../../../components/credit_card/templates/payment_method
          section.order-form-billing-address
            h2.order-page-sm-heading Billing Address
            include ../../../components/credit_card/templates/billing_address
          section.order-summary-section
            h2.order-page-sm-heading Order Summary
            include ./small_artwork
            ul.order-summary-totals
              li.item-total
                .label Item:
                .value= order.get('item_total')
                .dots
              if order.get('tax_total_cents') > 0
                li.tax-total
                  .label Tax:
                  .value= order.get('tax_total')
                  .dots
              li.total-amount
                .label Total:
                .value= order.get('total')
                .dots
            .order-form-conditions.order-form-checkbox
              input( name='conditions', type='checkbox' )
              | I agree to the&nbsp;
              a( href='/conditions-of-sale', target='terms' ) Conditions of Sale
              if order.sellersTerms()
                |  and&nbsp;
                a( href=order.sellersTerms(), target='terms' )= "seller's additional terms"
              | .
          button.order-form-button.avant-garde-button-black( type='submit') Purchase
        .order-summary
          include ./summary
    .success-form.order.order-form-hidden
      include ./complete
