extends ../../../components/main_layout/templates/index
include ../../../components/share/mixin

block head
  include meta

append locals
  - assetPackage = 'categories'

block body
  .gene-page.main-layout-container

    header.gene-header
      h1.gene-header-headline
        = gene.displayName()

      a.gene-header-follow-button.avant-garde-follow-button-black.follow-button

      .gene-share-buttons.js-gene-share-buttons
        +share(gene.displayName() + ' on Artsy', gene.imageUrl())

    .sixty-forty-bisected-header
      if gene.get('description')
        .bisected-header-cell
          .bisected-header-cell-section
            h2 About
            .gene-blurb.js-gene-blurb
              != gene.mdToHtml('description')
      .bisected-header-cell
        #gene-related-links

    include filter
