if sale_registrations
  for registration in sale_registrations
    - var sale = registration.sale

    unless sale.is_closed
      .settings-auction-registration
        if sale.profile && sale.profile.icon
          a.settings-auction-registration___icon( href= sale.href )
            img( src= sale.profile.icon.url )

        .settings-auction-registration___metadata
          a( href= sale.href )
            .settings-auction-registration___metadata__name
              = sale.name
            .settings-auction-registration___metadata__date
              = sale.start_at

        .settings-auction-registration___button
          if registration.is_registered
            a.avant-garde-button-white.is-success( href= sale.href )
              | Approved
          else
            a.avant-garde-button-black( href= '/auction-registration/#{sale.id}' )
              | Register

else
  | Nothing yet.
