.save-controls-two-btn-container
  position absolute
  right 5px
  top 5px

.save-controls-two-btn-container .overlay-button, .save-controls-two-btn-add-to-collection
  width 40px
  height @width
  background-color rgba(0, 0, 0, 0.4)
  border-radius (@width / 2)
  line-height @height
  text-align center
  display inline-block
  &:hover
    background-color black

.save-controls-two-btn-container .overlay-button
  iconfont-styling()
  display inline-block
  cursor pointer
  color white
  background-color gray-darker-color
  font-size 16px
  opacity 1
  &[data-state='saved']
    opacity 1
    background-color purple-color
    &:hover
      background-color red-color
      &:before
        content '\e621'
      &.is-clicked
        background-color purple-color

.save-controls-two-btn-container .overlay-button-save
  @extends .overlay-button
  &:before
    content '\e622'

.artwork-item
  &:hover
    .save-controls-two-btn-container .overlay-button-save, .save-controls-two-btn-add-to-collection
      display inline-block
  .save-controls-two-btn-container .overlay-button-save, .save-controls-two-btn-add-to-collection
    display none
    &[data-state='saved']
      display inline-block

.save-controls-two-btn-add-to-collection
  margin-left 5px
  svg
    width 18px
    height 18px
    display inline-block
    margin-top 11px

.save-controls-two-btn-modal
  padding default-modal-padding
  clearfix()

.save-controls-two-btn-modal-done
  float right
  margin-top 10px
  padding 16px 40px 14px 40px

.save-controls-two-btn-modal-new-collection
  position relative
  margin-bottom 10px
  button
    background white
    border 0
    border-left 2px solid gray-lighter-color
    padding 5px 12px 4px 12px
    font-size 14px
    position absolute
    right 2px
    top 2px
    color gray-color
    transition border-color 0.3s, background-color 0.3s, color 0.3s
    cursor pointer
  input
    width 100%
    &:focus + button
      border-color purple-color
      background-color purple-color
      color white

.save-controls-two-btn-modal-collections
  margin 15px 0
  li
    padding 10px 12px
    position relative
    cursor pointer
    &:hover
      background gray-lightest-color
    &.is-selected
      .icon-check
        display inline-block
    .icon-check
      font-size 13px
      position absolute
      right 14px
      top 4px
      display none