if artwork.sale_message
  .artwork-commercial__sale-message
    .artwork-commercial__sale-message-left
      | Price
    .artwork-commercial__sale-message-right
      = artwork.sale_message

.artwork-commercial__shipping
  .artwork-commercial__shipping-left
    | Shipping
  .artwork-commercial__shipping-right
    | Quoted by seller