@require '../../../components/stylus_lib'

.partnerships-preview-image
  max-width 100%
  height 70px
  margin-top 10px

.body-partnerships-edit
  #main-layout-container
    margin 20px !important
    min-width 1100px

#partnerships-edit-h1
  margin 120px 0 40px 0
  font-size 40px
  letter-spacing 2px

#partnerships-edit-container
  padding-top 60px
  border-top 1px solid gray-color
  width 1100px
  margin auto

#partnerships-edit-hulk, #partnerships-edit-preview
  display inline-block
  vertical-align top

#partnerships-edit-preview
  width 1139px
  position absolute
  padding 80px 0
  transform scale(0.5)
  transform-origin 0 0
  .partnerships-hero-unit-bgs, .partnerships-hero-unit-container
    height 660px
    position relative
  #partnerships-section1
    margin-top 600px

#partnerships-edit-hulk
  width 500px
  padding-right 30px
  position relative
  margin-right @padding-right
  .hulk-separator
    display none
  .hulk-collapse-item, .hulk-collapse-item
    display none
  input, p, textarea, button
    display block
    width 100%
    margin 8px 0
    padding 8px
    font-size 12px
    line-height 1.3em
    border-width 1px
  input, textarea
    font-family Helvetica, sans-serif;
    border 1px solid gray-color
  input:not(.hulk-map-key), textarea:not(.hulk-map-key)
    padding 8px !important
  .hulk-map-key
    avant-garde()
    border 0
    padding 0
    z-index -1
    margin 0
  .hulk-map-add-pair, .hulk-array-add-pair
    display none
  .hulk-array-element
    margin-top 15px
    padding 0 8px
    border 1px solid gray-lighter-color
  [value='sections']
    color transparent
  [value='sections'] + .hulk-map-value-container
    padding-left 0
  [value='sections'] + .hulk-map-value-container > .hulk-array-element
    margin-top 100px
    padding 0
    padding-top 20px
    border 0
    border-top 10px solid black
  .hulk-map-pair > .hulk-map-key:first-of-type
    margin-top 20px
  .hulk-map-value-container
    padding-left 50px
  .hulk-save
    position fixed
    bottom 0
    left 0
    width 100%
    padding 25px
    background black
    color white
    margin 0
    z-index 2
    &:hover
      background purple-color
  input[type=file]
    position relative
    &::after
      content 'Replace Image'
      background white
      position absolute
      top 0
      left 0
      z-index 1
      text-align center
      padding 10px
      width 100%
      cursor pointer
      avant-garde()
      transition background 0.3s
      border-bottom 1px solid gray-color
    &:hover::after
      color purple-color
  .partnerships-edit-upload-form.is-loading input[type=file]::after
    content '...'
  .hulk-array-element
    position relative
    .partnerships-edit-remove
      position absolute
      top -9px
      right -1px
      border 1px solid #e5e5e5
      background: white
      display inline-block
      width inherit
      cursor pointer
      padding 5px 7px
