#main-layout-container
  margin-left 0
  margin-right 0

#post
  margin-top 50px
  .loading-spinner
    margin-top: 200px

  .post-page-feature-item
    margin: 30px 16px 0
    vertical-align: top
    display: inline-block
    width 250px
    text-align: center

  .fixed-dimensions
    overflow hidden
    position: relative
    width: 249px
    height: 167px
    margin: 0px
    background-color: #000
    a
      display block
      height 100%
      width 100%
    img
      position absolute
      opacity 1
    &:hover
      img
        transition opacity 0.25s
        opacity 0.6

  .post-page-section
    border-top 1px solid light-gray-border-color
    margin-bottom: 60px
    .related-artists-banner-items, .feed-items
      text-align: center
      max-width: 1420px
      margin: 0px auto
    .avant-garde-header-center
      font-size: 18px
      margin-top: 30px
    .related-artists-item
      .avant-garde-header-center
        margin-top: 15px
        a
          text-decoration: none
          font-size: 14px
      .follow-button
        margin-top: 10px
    .featured-post-item
      .profile-badge-name
        font-size: 11px
        margin-top: 10px
        text-align: center
      .profile-badge-initials, .profile-badge-icon
        display none

  .featured-post-title
    margin-top: 18px
    font-size: 18px
    line-height: 20px
    a
      text-decoration none
