@require '../../components/stylus_lib'

#tag-header
  padding-top 40px
  text-align center
  position relative
  h1
    font-size 24px
    margin 10px 0
  .follow-button
    display inline-block
    margin 10px 0

#tag-filter
  h2.filter-heading
    margin-top 20px

.tag-blurb > .blurb
  // Removed when dotdotdot initializes
  max-height (26px * 7)
  p
    block-margins(26px)

.sixty-forty-bisected-header
  .bisected-header-cell.tag-blurb
    padding-right 0px
    margin 0px auto
    float none

#tag-share-buttons
  float right
  position absolute
  top 42px
  right 0
  .icon-pinterest
    display none

#tag-filter
  margin-top 30px

#tag-filter-nav
  margin-bottom 40px
  padding-top 20px
  text-align center
  border-top 1px solid gray-lighter-color
