extends ../../components/main_layout/templates/index

block head
  include meta

append locals
  assetPackage = 'tag'

block body
  h1#tag-header.avant-garde-header-center Artwork related to “#{tag.get('name')}”
  #tag-filter-nav.filter-fixed-header-nav
    .filter-fixed-header-left
      != tag.get('name')
      em#tag-filter-nav-left-num
    span#tag-filter-artworks-nav
      include ../../components/filter/artworks_nav/template.jade
  #tag-artworks-container
    include ../../components/filter/artworks/template.jade