@require '../../../../../node_modules/artsy-ezel-components/spinners'
@require '../../../components/fillwidth_row'
@require '../../../components/artist_fillwidth_list'
@require '../../../components/artwork_item/stylesheets'
@require '../quasi_infinite'

.settings-categories
  //
  &__following
    //
    &__category
      //
      &__follow
        margin-bottom (gutter / 2)
        > .entity-link
          avant-garde-size('body')

      &__artworks
        &[data-state='loading']
          position relative
          height 200px
          &:after
            display block
            content ''
            spinner()
