@import '../../../components/stylus_lib'

#notifications-header
  padding-top 20px
  padding-bottom 20px
  span.garamond-header-center
    text-align left
    display inline
  .notifications-header-follow
    float right
    .icon-chevron-right
      font-size 16px
    a
      avant-garde()
      font-size default-avant-garde-font-size
      text-decoration none

.notifications-list-item
  h4
    avant-garde()
    font-size default-avant-garde-font-size
    margin-bottom 20px
    span
      float right
      text-transform none
      color gray-darker-color

  border-top 1px solid gray-lighter-color
  padding-top 20px
  margin-bottom 20px