@import '../../../components/stylus_lib'

#notifications-header
  padding 25px 0
  span.garamond-header-center
    text-align left
    display inline
  .notifications-header-follow
    float right

#notifications-manage-follow
  font-size default-avant-garde-font-size
  margin 10px 0
  text-align right

.notifications-list-item
  h4
    avant-garde()
    font-size default-avant-garde-font-size
    margin-bottom 20px
    span
      float right
      text-transform none
      color gray-darker-color
      garamond()
      letter-spacing 0px
      font-size 17px
  a
    text-decoration none
  border-top 1px solid gray-lighter-color
  padding-top 20px
  margin-bottom 20px

.notifications-see-more
  text-align right
  margin-top 20px
  a
    font-size 13px

.notifications-works-added
  text-transform none
  color gray-darker-color
  garamond()
  letter-spacing 0
  font-size 17px
