@import '../../../components/stylus_lib'

#notifications-page
  padding 40px 0
  position relative

#notifications-header
  margin 20px 0
  clearfix()
  > h1
    font-size 24px
    float left
#notifications-manage-follow
  float right

#notifications-published-artworks-spinner
  position relative
  height 100px

#notifications-manage-follow
  margin 10px 0
  text-align right
  font-size default-avant-garde-font-size

.notifications-list-item
  margin 20px 0
  border-top 1px solid gray-lighter-color

.notifications-list-item-header
  margin 20px 0
  clearfix()
  h4
    avant-garde()
    font-size default-avant-garde-font-size
  a
    text-decoration none

.notifications-list-item-timestamp
  float right

.notifications-list-item-timestamp
.notifications-works-added
  color gray-darker-color

.notifications-see-more
  margin 20px 0
  text-align right
  a
    font-size 13px
