script.
  var isAdmin = #{!!(user && user.get('type') === 'Admin')};
  document.addEventListener('contextmenu', function(e) {
    if (isAdmin) return;
    if (['IMG', 'CANVAS'].indexOf(e.target.nodeName) < 0) return;
    var classes = e.target.className + ' ' + e.target.parentElement.className;
    if (
      classes.match('artwork') ||
      classes.match('seadragon')
    ) e.preventDefault();
  });
