@require '../../stylus_lib'
@require '../../grid'

gutter-unit = 60px

.articles-grid
  &__header
    border-bottom 1px solid gray-lightest-color
    margin 80px 0 40px 0
    garamond-size('headline')
    padding-bottom 20px
  &__articles
    display inline
    vertical-align top
    grid-3-up(40px, 60px)
  &__figure.is-center-aligned
    width 100%
  &__img-container
    display block
    position relative
    width 100%
  &__img
    width 100%
    padding-bottom 66.66%
    background-color gray-lightest-color
    background-size cover
    background-position center center
  &__overlay
    position absolute
    top 0
    bottom 0
    width 100%
    background-color black
    opacity 0
    transition opacity 0.3s ease-in-out
    &:hover
      opacity 0.4
  &__figcaption
    margin 30px 0 60px 0
  &__title
    garamond-size('s-headline')
    text-decoration none
  &__author
    margin-top 20px
  &__author-name
    display inline-block
    avant-garde-size('s-headline')
  &__author-name-editorial
    display inline-block
    garamond-size('l-caption')
    font-weight bold
  &__more-button
    max-width 1250px
    margin auto

.responsive-layout-container
  .articles-grid
    @media (min-width: 1660px)
      max-width 1600px
      margin 0 auto
    @media (max-width: 1130px)
      &__articles
        grid-2-up(40px, 60px)
    @media (max-width: 800px)
      &__articles
        .grid-item
          width 100%
          margin-right 0
          margin-left 0
    @media (max-width: 550px)
      &__figcaption
        margin 20px 0px
      &__title
        garamond-size('l-body')
      &__figure.grid-item
        border-bottom 1px solid gray-lighter-color
        margin-top 60px
        &:nth-child(1n)
          margin-bottom 60px

