@require '../stylus_lib/index.styl'

.profile-badge
  display block
  text-decoration none

  .profile-badge-icon
    background-position center center
    background-repeat no-repeat
    background-size contain
    // Add a border radius
    &.is-user
      border-radius 50%

  .profile-badge-initials
    avant-garde()
    border 1px solid black

  .profile-badge-name
    avant-garde()
    font-size 13px
    text-align left

.profile-badge-small

  .profile-badge-icon, .profile-badge-initials
    height 32px
    width 32px
  // Add a border radius if we're using the original or default image for a user profile
  .profile-badge-icon.is-user
    &[style*='original.jpg'], &[style*='user_profile.png']
      border-radius 16px

  .profile-badge-initials
    font-size default-avant-garde-font-size
    line-height 2.4

  .profile-badge-name
    margin-top 8px
