@import '../stylus_lib/index.styl'

.profile-badge
  display block
  text-decoration none

  .profile-badge-icon
    background-position center center
    background-repeat no-repeat
    background-size contain

  .profile-badge-initials
    avant-garde()
    border 1px solid black

  .profile-badge-name
    avant-garde()
    font-size 13px
    text-align left

.profile-badge-small

  .profile-badge-icon, .profile-badge-initials
    height 32px
    width 32px

  .profile-badge-initials
    font-size 14px
    line-height 2.4
    
  .profile-badge-name
    margin-top 8px
