if profile.isPartner() && !profile.has('icon')
  .profile-badge-initials= profile.defaultIconInitials()
else
  .profile-badge-icon( class=profile.isUserClass(), style="background-image: url(#{profile.iconImageUrl()})" )
