- var artworks = feedItem.initialArtworks()
- var profile = feedItem.get('profile')
- var feedItemChildModel = feedItem.toChildModel()
- var artworksDisplayed = 8

article.feed-item.unrendered-feed-item(
  style= (fixedWidth ? "width: #{fixedWidth}px" : undefined)
  class= feedItemClass
)
  if feedItem.isPartnerShow()
    section.feed-column.full-width-column
      include ./feed_item_body_label
      include ./feed_item_artwork_columns
