if headingText
  .a-to-z-heading( style="width: #{fixedWidth}px" )
    = headingText
    if headingSortOrder
      .browse-sort-order= headingSortOrder
section.feed-items( style="width: #{fixedWidth}px" )