- var artworks = feedItem.initialArtworks()
- var profile = feedItem.get('profile')
- var feedItemChildModel = feedItem.toChildModel()
- var artworksDisplayed = 8
article.feed-item.unrendered-feed-item( style="width: #{fixedWidth}px" )
  if feedItem.isPartnerShow()
    section.feed-column.full-width-column
      include ./feed_item_body_label
      include ./feed_item_artwork_columns
  else
    section.feed-column.feed-left-column( style="width: #{textColumnWidth}px")
      include ./feed_item_body_label
      .body!= feedItemChildModel.get('body')
      include ../../post/templates/actions
    section.feed-column.feed-right-column( style="width: #{maxDimension}px")
      if feedItem.isPost()
        include ../../post/templates/media
      else
        section.feed-large-artworks
          for artwork in artworks
            include ../../artwork_item/template
