include ../../share/template

.feed-item-top-section
  .feed-item-share-section
    +share(feedItemChildModel.shareTitle(), undefined, feedItemChildModel.href())
    show = feedItemChildModel
    include ../../partner_buttons/show_buttons
  if feedItemChildModel.partnerName()
    h2.exhibitor
      a( href=feedItemChildModel.href() )!= feedItemChildModel.partnerName()

  if feedItemChildModel.get('fair')
    .heading.feed-item-fair-name!= feedItemChildModel.fairName()
    if feedItemChildModel.fairLocationDisplay()
      .fair-location!= feedItemChildModel.fairLocationDisplay()

  else
    h2.heading
      a( href=feedItemChildModel.href() )!= feedItemChildModel.formatFeedItemHeading()

    if feedItemChildModel.get('start_at') && feedItemChildModel.get('end_at')
      .timeframe
        != feedItemChildModel.runningDates()
        if feedItemChildModel.formatCity()
          | ,
          != feedItemChildModel.formatCity()