//- Contact button
- button = auction.contactButtonState(user, artwork)
if button
  include button

//- Bid button
- button = auction.bidButtonState(user, artwork)
if button
  include button

//- Buy button
- button = auction.buyButtonState(user, artwork)
if button
  include button
