body-width = 580px
padding = 30px
desktop-height = 380px
mobile-height = 260px

// Editorial Signup
.articles-es-cta
  position relative
  display flex
  align-items center
  flex-direction column
  height desktop-height
  width 100%
  background-color black
  color white
  &[data-signup=false]
    .articles-es-cta__container
      display none
    .articles-es-cta__social
      display block
  &__container, &__social
    max-width 1250px
    margin auto
    z-index 5
    padding 0px padding
  &.is-article-page
    margin-bottom 100px
    max-width 100vw
    overflow hidden
    .articles-es-cta__social, .articles-es-cta__container
      max-width body-width + (padding * 2)
  &__container
    display flex
    flex-direction column
    justify-content center
    h2
      garamond-size('l-headline')
      margin-bottom 40px
    h3
      avant-garde-size('body')
      margin-bottom 20px
  &__form
    display flex
    align-items center
    width 90%
    button
      padding 10px
      height 30px
      border-radius 2px
      background-color black
      avant-garde-size('s-headline')
      line-height 1em
      margin-left -100px
    input
      background-color white
      border none
      height 50px
      width 100%
  &__social
    display none
    max-width body-width + (padding * 2)
    width 100%
    h2
      garamond-size('s-headline')
      margin-bottom 20px
  &__social-item
    display flex
    align-items center
    padding-left 46px
    background-color transparent
    width 240px
    height 50px
    text-align center
    color white
    border 1px solid white
    border-bottom none
    avant-garde-size('body')
    text-decoration none
    &:last-of-type
      border-bottom 1px solid white
    i
      color white
    i.icon-instagram
      font-size 20px
      width 25px
      margin-right 30px
    i.icon-snapchat svg
      fill white
      width 25px
      padding-bottom 5px
      margin-right 30px
    i.icon-twitter
      font-size 35px
      margin-left -5px
      margin-right 25px
    i.icon-facebook
      margin-left -5px
      margin-right 25px
    &:hover
      transition background-color 0.25s
      background-color white
      color black
      i
        color black
      i.icon-snapchat svg
        fill black
  &__facebook-subscribe
    margin-top 15px
    a
      color white
      font-color white
      text-decoration none
      avant-garde-size('s-headline')
      border-bottom 1px solid white
  &__background
    max-width 1250px
    li
      width 100%
      height desktop-height
      left 0
      position absolute
      background-size cover
      background center center no-repeat
  &__background-cover
    max-width 1250px
    width 100%
    z-index 4
    height desktop-height
    left 0
    right 0
    margin auto
    position absolute
    background-image linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,1) 100%)
  @media screen and (max-width 550px)
    height mobile-height
    .articles-es-cta
      &__form
        width 100%
      &__container
        h2
          garamond-size('headline')
        h3
          avant-garde-size('s-headline')
      &__container, &__background-cover
        height mobile-height
      &__social
        padding 40px 20px
      &__social-item
        width 50%
        height 50px
        padding 0 20px
        i.icon-facebook, i.icon-twitter
          margin-right 15px
        i.icon-snapchat svg, i.icon-instagram
          margin-right 20px
      &__social-item:nth-child(2)
        border-left 0px
        border-bottom 0px
      &__row
        display flex
        &:last-of-type
          border-bottom 1px solid white

.articles-es-cta--banner
  @extend .articles-es-cta
  color black
  transition all 0.5s ease-out
  opacity 0
  background none transparent
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  margin 0
  height 100%
  display flex
  justify-content center
  align-items center
  z-index 1100
  .modal-bg
    background-color rgba(0,0,0,.5)
    position fixed
    top 0
    left 0
    bottom 0
    right 0
  .cta-bar-defer a
    position absolute
    top 15px
    right 20px
    color gray-color
    font-size 12px
    border none
    font-weight 900
  &__container
    width 750px
    background-color white
    padding-left 0
    padding-right 0
    position relative
    display flex
    justify-content center
    align-items flex-end
    margin auto
    flex-direction row
  &__left
    width 460px
    padding 60px 20px 60px 0
  &__form > input
    width 370px
    border 1px solid gray-lighter-color
  &__right
    padding-top 20px
    .img
      height 280px

.articles-es-cta--banner
  @media screen and (max-width 750px)
    &__container
      max-width calc(100% \- 60px)
      padding 0 20px
    &__left
      max-width 65%
      padding-left 10px
      h2
        garamond-size('headline')
        margin-bottom 20px
    &__right
      padding-right 10px
      img
        max-height 260px
  @media screen and (max-width 600px)
    .modal-bg
      top calc(100% \- 285px)
      background none transparent
      background linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.25))
    &__container
      max-width calc(100vw \- 30px)
      margin-bottom 10px
      max-height 180px
      padding-right 0
      margin-left 15px
    &__left
      width 100%
      max-width 100%
      padding 20px !important
      h2
        garamond-size('s-headline')
        margin-bottom 15px
      h3
        display none
    &__right
      display none
    &__form
      width calc(100% \- 15px)
    &__form > input
      min-width 100%
    .cta-bar-defer a
      font-size 20px
      top 20px

  @media screen and (max-width 400px)
    &__left h2
      garamond-size('l-body')

#js--mail-hint, .js-suggestion a
  color white
