.articles-insights-section
  padding 0 15%
  margin 0 30px

.articles-insights-show
  display block
  width 100%
  padding 60px 0
  border-top 1px solid gray-lighter-color

.articles-insights-container
  display block
  position relative
  height 150px

.articles-insights-form
  display flex
  margin-top 30px
  input
    width 100%
    display inline
    margin-right 10px
  button
    display inline
    width 190px

.articles-insights-mainheader
  garamond-size('headline')

.articles-insights-subheader
  garamond-size('s-body')
  margin-top 10px

.articles-insights
  position absolute
  width 100%

.articles-insights-marketo-form
  width 100%
  .mktoOffset, .mktoGutter
    display none
  input
    padding 12px !important
    border 2px solid gray-lighter-color
    font-size default-garamond-font-size
    background-color transparent
    transition border-color 0.25s
    font-size 17px !important
    &:focus
    &:active
    &.is-active
      border-color purple-color
      outline none
      transition border-color 0.5s
  form, input, .mktoFormCol, input, .mktoFieldWrap
    width 100% !important
  .mktoFieldWrap
    width calc(100% \- 170px) !important
  .mktoButtonWrap
    margin 0 !important
    button
      padding 15px !important
      border 0
      color white
      background black
      avant-garde()
      avant-garde-size('body')
      width 160px
      color transparent
      transition background-color 0.3s
      &::after
        content 'Subscribe'
        color white
        width 100%
        position absolute
        left 0
      &:hover, &:active
        background purple-color
  .mktoButtonRow
    position absolute
    right 0
    top 0
    display none !important
  form
    position relative
    margin-top 10px
  label
    position absolute !important
    margin-top -22px !important
    avant-garde()
    avant-garde-size('s-headline')
    color black
  .mktoButtonRow
    display block !important

.cta-bar-container .articles-insights-marketo-form
  padding-right 20px
  .mktoFormRow
    display none
    &:first-of-type
      display block !important
  .mktoButtonRow
    display block !important
    button
      background-color gray-darkest-color !important
  input
    background white
    border white
  label
    color white
    min-width 100%
  & + .cta-bar-defer
    position absolute
    top 20px
    right 20px
    a
      border-bottom none

.cta-bar[data-mode="gallery-insights"] .cta-bar-header
  min-width 390px

@media (max-width: 1000px)
  .cta-bar-container
    height auto
    .articles-insights-marketo-form
      .mktoFormRow .mktoFieldWrap
        min-width 100%
        input
          max-width calc(100% \- 170px)

@media (max-width: 900px)
  .cta-bar[data-mode="gallery-insights"][data-state="in"]
    bottom 50px
    padding 30px
    .articles-insights-marketo-form
      padding-right 0
    .cta-bar-small
      flex-direction column
    .cta-bar-header
      margin-bottom 30px

@media (max-width: 550px)
  .cta-bar[data-mode="gallery-insights"][data-state="in"]
    min-width calc(100vw \- 40px)
    padding 30px 20px
  .cta-bar-small, .cta-bar-header h3
    max-width calc(100vw \- 40px)
  h2
    garamond-size('s-headline')
  .articles-insights-marketo-form
    .mktoForm
      padding-left 0
      padding-right 0
    .mktoButtonWrap button
      width 120px
    .mktoFormRow .mktoFieldWrap input
      min-width calc(100% \- 130px)
      height 45px

  @media (max-width: 480px)
    .articles-insights-marketo-form .mktoButtonRow
      top 7.5px
