#artwork-table
  display table
  width 100%
  height 100%
  table-layout fixed

.artwork-table__row
  display table-row
  height 150px
  width 100%

.artwork-table__cell
  display table-cell
  padding 30px 10px
  border-top 1px solid gray-lighter-color

.artwork-table__cell--image
  text-align center
  vertical-align middle
  max-width 150px

  .hoverable-image-link img
    width auto

  .artwork-item-image
    display inline-block
    max-width 100%
    vertical-align middle

.artwork-table__cell--caption
  max-width 250px
  vertical-align top

  a
    text-decoration none

  .artwork-item-artist
    avant-garde()
    font-size 13px
    font-weight normal

  .artwork-item-medium
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.artwork-table__cell--location
  max-width 150px
  vertical-align top

.artwork-table__cell--inquiry
  width 168px

  .inner
    position relative
    height 100%
    width 100%

  .artwork-meta-price
    garamond()
    font-size 17px
    font-weight 600
    margin-bottom 30px

  .artwork-item-sold
    garamond()
    background-color transparent
    color red-color

  .avant-garde-button-white
    font-size 12px
    text-align center
    line-height 1.4
    width 100%
    padding 10px

    &.is-bottom
      position absolute
      bottom 0

