#artwork-table
  display table
  width 100%
  height auto
  table-layout fixed

.artwork-table__row
  display table-row
  height 150px
  width 100%

.artwork-table__cell
  display table-cell
  padding 30px 10px
  border-top 1px solid gray-lighter-color

.artwork-table__cell--image
  text-align center
  vertical-align middle
  max-width 150px

  img
    display inline-block
    max-width 100%

.artwork-table__cell--caption
  max-width 250px

  .artwork-item-artist
    avant-garde()
    font-size 13px
    font-weight normal

.artwork-table__cell--location
  max-width 150px
  vertical-align top

