@require '../../../../components/stylus_lib'
@require '../../../../components/merry_go_round'
@require '../partner_cell'

.partner-category-carousel
  block-margins(55px)
  mgr-n-up(3, 30px, 2/3, true)

.pcc-header
  border-bottom 1px solid gray-lighter-color
  margin-bottom 30px
  height 55px
  position relative
  garamond()

.pcc-header-left
.pcc-header-right
  position absolute
  bottom 12px

.pcc-header-left
  garamond-size('headline')
  left 0

.pcc-header-right
  right 0

.pcc-see-all
  text-decoration underline

.pcc-body
  position relative

.pcc-content
  white-space nowrap
  overflow hidden
