@import '../../../../components/stylus_lib'
@import '../partner_cell'

.partner-category-carousel
  block-margins(55px)

.pcc-header
  border-bottom 1px solid gray-lighter-color
  margin-bottom 30px
  height 55px
  position relative
  garamond()

.pcc-header-left
.pcc-header-right
  position absolute
  bottom 12px

.pcc-header-left
  garamond-size('headline')
  left 0

.pcc-header-right
  right 0

.pcc-body
  position relative

.pcc-content
  white-space nowrap
  overflow hidden

.pcc-prev
.pcc-next
  > i
    offset = partner-cell-metadata-height/2
    top calc('50% - %s' % offset)
    user-select none
