//- Requires: category, partners

.pcc-header
  .pcc-header-left
    = category.name
  a.pcc-header-right.js-partner-filter(
    data-id= category.id
    data-filter= category.filter
  ) See All
.pcc-body.gi-carousel-arrow-reveal
  .pcc-nav.js-pcc-nav
    .pcc-prev.gi-carousel-arrow-prev.js-pcc-prev: i.icon-chevron-left
    .pcc-next.gi-carousel-arrow-next.js-pcc-next: i.icon-chevron-right

  .pcc-content.js-partner-cells
    each partner in category.partners
      .partner-cell(data-id= partner.id)
        include ../partner_cell/index
