@import '../../components/pagination'

#auction-lot-header
  position relative
  padding 40px 0
  text-align center
  > h1
    font-size 24px

.auction-lots-return-link
  position absolute
  top 0
  left 0
  avant-garde()
  font-size 13px
  text-decoration none
  > i
    margin-right 5px
    font-size @font-size
    line-height @font-size

.auction-lots-table-header
  margin 20px 0
  display table
  width 100%

.auction-lots-total
.auction-lots-sort
  display table-cell
  width 50%

.auction-lots-sort
  text-align right
  *
    text-align left
  > span
    margin-right 10px

.auction-lots-table
  width 100%
  border-top 1px solid light-gray-border-color
  border-bottom 1px solid light-gray-border-color
  th
  td
    padding 10px
    &:first-child
    &:last-child
      padding 10px 5px
  th
    avant-garde()
    font-size 11px
  td
    vertical-align top
    border-top 1px solid light-gray-border-color

.auction-lot-title-container
  display table

.auction-lot-image
.auction-lot-title
  display table-cell
  vertical-align top

.auction-lot-image
.auction-lot-image-placeholder
  width 80px
  margin-right 20px

.auction-lot-title
.auction-lot-medium
.auction-lot-organization
  max-width 160px

.auction-lot-sale-signup
.auction-lot-details-link
  avant-garde()
  text-decoration none
  font-size 11px
  line-height 1
  white-space nowrap

.auction-lot-details-link
  display block
  margin-top 10px

.zoom-modal .modal-header
  display none
