padding-unit = 15px

.cf-sidebar
  width 22%
  display inline-block
  vertical-align top
  float left

.cf-sidebar__filter
  padding (padding-unit + 5) 0 10px 0
  margin-right padding-unit

.cf-sidebar__followed_artists
  padding-top padding-unit + 15
  padding-bottom 20px

.cf-sidebar__price, .cf-sidebar__size, .cf-sidebar__mediums, .cf-sidebar__periods, .cf-sidebar__followed_artists
  border-top 1px solid gray-lighter-color

.cf-sidebar__size > div, .cf-sidebar__price > div
  margin-bottom 20px

.cf-right
  float right
  width 76%
  min-height 100%
  vertical-align top
  hr
    margin (padding-unit * 2) padding-unit

.cf-keyword
  padding 0 padding-unit

.cf-artworks
  padding 0 padding-unit
  transition opacity 0.25s
  .artwork-column
    margin 0 padding-unit
    width: calc(33% \- (padding-unit * 2))
  .artwork-item-image-container img
    width 100%
  &[data-loading='true']
    opacity 0.5
    pointer-events none

.cf-pagination
  padding 0 padding-unit

@require '../filters/medium'
@require '../../../../node_modules/artsy-ezel-components/pagination'
@require '../../slider/index'
@require '../filters/color'
@require '../filters/keyword'
@require '../filters/category'
@require '../filters/period'
@require '../filters/location'
@require '../filters/followed_artists'
@require '../filters/paginator'
@require '../views/headline'
@require '../views/pillbox'
@require '../views/sort'
