.bordered-bid-form-group.current-bid
  .bid-group-label Current Bid:
  .bid-group-content
    .bid-group-value!= saleArtwork.currentBid()
    if saleArtwork.formatBidsAndReserve()
      .bidder-positions-count!= saleArtwork.formatBidsAndReserve()
