extends ../../../components/main_layout/templates/minimal_header

append locals
  - assetPackage = 'auction'

block body
  #auction-registration-page
    .auction-bid-form-container
      h2.avant-garde-header-center Confirm Your Bid
      .auction-bid-form-form.credit-card-form
        include ../../../components/credit_card/templates/small_artwork
        include ./artwork-bid-status
        .bordered-bid-form-group
          .bid-group-label Your Max. Bid:
          .bid-group-content
            .bid-input-container
              label.bid-dollar-sign $
              input.max-bid.bordered-input( type='text', name='bid', autocomplete='off', value=maxBid )
            .bid-input-help-text!= "Enter " + saleArtwork.minBid() + " or higher"
            a.bidding-question How does bidding work?
          .auction-bid-errors
        if isRegistered
          .registration-form-content
            .avant-garde-button.is-block Confirm Bid
        else
          p NOTE: Your credit card information may be used to verify your identity. Your card will not be charged unless you are the winning bidder and you choose to pay by credit card.
          .form-bottom
            .bid-registration-form-contents
              include ./registration-form
              .registration-form-content
                .avant-garde-button.is-block Confirm Bid
