extends ../../../components/main_layout/templates/minimal_header

append locals
  - assetPackage = 'auction'

block body
  #auction-registration-page
    .auction-bid-form-container
      h2.garamond-header-center Confirm Your Bid
      .auction-bid-form.credit-card-form
        .small-artwork-container
          include ../../../components/credit_card/templates/small_artwork
        .user-bid-input-container
          include ./artwork-bid-status
          .bordered-bid-form-group.max-bid
            .bid-group-label Your Max. Bid:
            .bid-group-content
              .bid-input-container
                label.bid-dollar-sign $
                input.max-bid.bordered-input( name='bid', autocomplete='off', autofocus='true', value=maxBid )
              .bid-input-help-text!= "Enter " + bidderPositions.minBid() + " or higher"
              a.bidding-question How do auctions work?
          .auction-bid-errors
        if isRegistered
          .registration-form-content
            .avant-garde-button-black.is-block Confirm Bid
        else
          .bid-section-header Enter your credit card details to verify your identity
          p.note NOTE: Your card will not be charged unless you are the winning bidder and you choose to pay by credit card.
          .form-bottom
            .bid-registration-form-contents
              include ./registration-form
              .registration-form-content
                .avant-garde-button-black.is-block Confirm Bid
