footer.auction-footer.auction-page-section( class= articles.length ? 'has-articles' : 'has-no-articles' )
  if articles.length
    .auction-articles
      for article in articles.models
        include ../../../components/article_figure/template

  unless auction.isAuctionPromo()
    - var item = footerItems[1];
    .auction-app-promo-wrapper
      a.auction-app-promo( href= item.href, target= item.target )
        .auction-app-promo-image
          img( src= item.src, alt= item.alt )
        .auction-app-promo-metadata
          .auction-app-promo-title
            = item.title
          .auction-app-promo-subtitle
            = item.subtitle
