extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'auction'

block body
  .auction-page.main-layout-container
    if auction.isPreview() && !auction.isAuctionPromo()
      include ./preview
    else
      include ./auction
