extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'auction'

block body
  .auction-page.main-layout-container
    include header

    section.auction-artworks-container.js-auction-artworks-section
      - artworks = artworks.models
      include ../../../components/auction_artworks/templates/index

    section.below-auction-artworks
      include associated_auction
      include footer
