extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'auction'

block body
  .auction-page.main-layout-container
    header.auction-header
      .auction-header-primary
        if auction.hasImage()
          img.auction-hero-image(
            src= auction.cropUrlFor({ width: 900, height: 400 })
            alt= auction.get('name')
            title= auction.get('name')
          )

        h1.auction-title
          = auction.get('name')
        .auction-description
          != auction.mdToHtml('description')

      .auction-header-metadata
        .auction-header-metadata-cell
          .auction-header-clock.js-auction-clock
            include ../../../components/clock/template

          .auction-header-register-button
            .auction-info-register-button
              if user && user.get('registered_to_bid')
                a.avant-garde-button-black.is-block.js-register-button( disabled ) You&rsquo;re Registered to Bid
              else
                a.avant-garde-button-black.is-block.js-register-button(
                  href= auction.registerUrl()
                ) Register to bid

        //- Additional metadata TBD

        .auction-header-metadata-cell
          h3 Contact
          p
            | Have questions about this auction?
            br
            a.fine-faux-underline.js-specialist-contact-link( href='#' )
              | Contact an Artsy Specialist

    section.auction-artworks-container.js-auction-artworks-section
      - artworks = artworks.models
      include ../../../components/auction_artworks/templates/index

    include ./footer
