if auction.isClosed()
  = ''
else if !user && auction.isPreview()
  .auction-registration-wrapper
    .auction-registration-preview
      p Receive an email invitation when the auction begins.
      form.auction-preview-sidebar-form
        label.avant-garde-form-label( for='email' ) Email
        input.bordered-input.is-block(
          name='email', type='email', value= email, required, autofocus= autofocus
        )
        .form-errors.js-form-errors
        button.avant-garde-button-black.is-block Notify me
else if user && user.get('registered_to_bid') && !user.get('qualified_for_bidding')
  .auction-registration-wrapper
    button.avant-garde-button-black.is-block.is-disabled
      | Registration pending
    .auction-registration-small.auction-registration-small-warning Reviewing submitted information
else if user && user.get('registered_to_bid')
  .auction-registration-approved
    span.icon-check
    | Approved to Bid
else if auction.isRegistrationEnded()
  .auction-registration-wrapper
    button.avant-garde-button-black.is-block.is-disabled
      | Registration closed
    .auction-registration-small Registration required to bid
else if !user || user && !user.get('registered_to_bid')
  .auction-registration-wrapper
    a.avant-garde-button-black.is-block.js-register-button(
      href= auction.registerUrl()
    ) Register to bid
    .auction-registration-small Registration required to bid

a.auction-registration-how-to-bid( href="/how-auctions-work" )
  img( src="/images/kiosk-cta.png" alt="How to Bid on Artsy" )
  | How to Bid on Artsy
.auction-registration-question
  strong Questions? Contact us
  br
  a( href='mailto:specialist@artsy.net' ) specialist@artsy.net
  br
  | +1.646.712.8154
