.galleries-institutions-search-filters
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content space-between
  align-items flex-start

.filter-partners-dropdown
  position relative
  flex-grow 1
  margin-right 30px
  &:last-child
    margin-right 0
  .twitter-typeahead
  .tt-dropdown-menu
    width 100%
    background white

  .tt-dropdown-menu
    border 1px solid gray-color
    border-top none
    overflow hidden

  .icon-chevron-down
  .icon-search
    position absolute

  .icon-chevron-down
    bottom 0
    right 0
    font-size 15px
    color gray-dark-color
    cursor pointer

  .icon-search
    right 0
    font-size 20px
    color gray-dark-color
    top: 50%
    transform: translateY(-50%)

  .tt-suggestions
    width 100%
    overflow auto
    margin-left 20px
    padding-right 40px
    max-height 575px

  .tt-suggestions
    garamond-size(s-body)

.partners-facet-input
.partners-search-input
  width 100%
  garamond-size(s-headline)
  border-width 0 0 1px 0
  border-color gray-color

.partners-facet-input
  placeholder(color gray-dark-color,)
  &:not(:focus)
    placeholder(color purple-color,)
    &.no-selection
      placeholder(color black,)

.partners-search-input
  padding-left 30px

.partner-search-filter-item
  display block
  margin 20px 0
  garamond-size(s-body)
  &.is-disabled
    cursor default
    color gray-darker-color
