- var hasCount = !(item.count === undefined)
a.js-partner-filter.partner-search-filter-item(
  class= (hasCount && item.count <= 0 ? 'is-disabled' : ''),
)= item.name + ( hasCount ? ' (' + item.count + ')' : '' )
