- var displayName = facet.displayName
- var facetName = facet.facetName
- var search = facet.search

.partners-facet-dropdown.filter-partners-dropdown(class= "dropdown-#{facetName}")
  input.partners-facet-input.no-selection(
    placeholder= "All " + displayName
  )
  if search
    span.icon-search
  else 
    span.icon-chevron-down
