.cta-bar-container-editorial
  .cta-bar-defer.cta-bar-defer-editorial.js-article-es-dismiss: a.icon-close( href='#' )
  .cta-bar-header-editorial
    h2 The latest art world news
      br
      | and stories in your inbox
  .cta-bar-form-editorial
    input.bordered-input( id ="cta-bar-form-input" placeholder='Enter your email', type='email', name='email', required value="#{email}")
    button.avant-garde-box-button-black.js-article-es Subscribe
    div.subscribed Thank You!

