unless artwork.is_in_auction
  form.artwork-commercial( class='js-artwork-commercial' )
    include templates/editions
    include templates/price
    include templates/partner
    include templates/acquire
    include templates/inquire
