.save-controls-one-btn-modal
  h1.modal-h1 Save work to a Collection
  hr
  include ../../../contact/templates/artwork_details
  include ../../../favorites2/templates/collection_list
  button.avant-garde-button-black.save-controls-one-btn-modal-done Done