include ../../../bordered_pulldown/mixin
+bordered-pulldown((sort || 'Recently Added'), 'Sort by:')
  a( data-sort='-published_at', href="#" ) Recently Added
  a( data-sort='-prices', href="#" ) Most Expensive
  a( data-sort='prices', href="#" ) Least Expensive
