.cf-total-sort
  display flex
  width 100%
  justify-content space-between
  align-items center
  padding (padding-unit * 2) padding-unit 10px
  &__total
    display inline-block
    color #9b9b9b
  &__sort
    display inline-block
