include ../../../bordered_pulldown/mixin
+bordered-pulldown((sort || 'Recently Added'), 'Sort by:')
  a( data-sort='-published_at', href="#" ) Recently Added
  a( data-sort='-year', href="#" ) Artwork Year (desc.)
  a( data-sort='year', href="#" ) Artwork Year (asc.)
