@import '../../../../components/stylus_lib'

.partner-phone-numbers
  display none

// ab:artwork:sidebar_design
.for-abtest-expanded
  .show-phone-number
    font-style italic
.for-abtest-compact
  .show-phone-number
    font-size 11px
#artwork-partner-phone-container
  .for-abtest-compact
    margin 5px 0
