.view-all-links-container
  border-top 1px solid gray-lighter-color
  margin 20px 0 34px
  display inline-block
  a
    avant-garde-size('body', true)
    text-decoration none
    display inline-block
    padding-top 10px
    padding-right 32px
    .icon
      display inline
      vertical-align -3px
      &::before
        font-family 'artsy-icons'
        content "\e61c"
        color gray-color
        margin-left 5px
        font-size 19px
        display inline-block
